<template name="shopItem">
    <li>
        <a class="item-link">
            <div class="item-content">
                <div class="item-media">
                    <img src="/images/{{getPartnershipStatusLogo}}" />
                </div>
                <div class="item-inner">
                    <div class="item-text">
                        <div class="name">
                            <div class="distance">{{geoDistance}}</div>
                            {{name}}
                        </div>
                        <div class="address">
                            {{addressFirst}}<br/>
                            {{postCode}} {{city}}
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>
</template>
