<template name="payouts">
    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox" tabindex="0">
                        <div class="ibox-content">
                            <div class="clients-list item-list receipts-list">
                                <div class="full-height-scroll">
                                    {{#if getPayouts.count}}
                                        <div class="table-responsive item-list infinite-scrolling">
                                            <table class="table table-striped table-hover item-list receipt-list">
                                                <thead>
                                                <tr>
                                                    {{!-- <th>&nbsp;</th> --}}
                                                    <th>{{t_ "Payout Nr"}}</th>
                                                    <th>{{t_ "Payout method"}}</th>
                                                    <th>{{t_ "Payout account"}}</th>
                                                    <th>{{t_ "Payout date"}}</th>
                                                    <th>{{t_ "Payout status"}}</th>
                                                    <th class="nobr text-right">{{t_ "Amount"}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each getPayouts}}
                                                    <tr class="item-row {{isActiveItem}} {{#if error}}alert-danger{{/if}}" id="item-{{_id}}">
                                                        {{!-- <td><button class="btn btn-default"><i class="icon icon-eyeview"></i></button></td> --}}
                                                        <td>{{payoutNr}}</td>
                                                        <td>{{paymentMethod}}</td>
                                                        <td>{{paymentNr}}</td>
                                                        <td>{{formatDate createdAt}}</td>
                                                        <td class="client-status">
                                                            {{getPayoutStatus}}
                                                        </td>
                                                        <td class="nobr text-right">{{formatCurrency amount 2 currencyId}}</td>
                                                    </tr>
                                                {{/each}}
                                                <tr class="text-large">
                                                    <td colspan="4">
                                                        &nbsp;
                                                    </td>
                                                    <td class="text-right" colspan="3">
                                                        {{_ "Total"}}:
                                                        {{formatCurrency getTotalPayoutAmount 2 currencyId}}<br/>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    {{else}}
                                        <blockquote class="alert-info with-vattie">
                                            <i class="icon icon-actorvattyclient vattie"></i>
                                            {{{getWebText 'traveller_no_payouts'}}}
                                        </blockquote>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
