<template name="login">
    <div class="login">
        <p class="center">
            <img src="/images/vatfree.png" width="30%"/>
        </p>
        {{#if loggingIn}}
            <div class="text-center">
                <img src="/images/loading-indicator.gif" />
            </div>
        {{else}}
            <p>
                {{t_ "Login to view your profile and submit receipts"}}
            </p>
            {{#if loginWithPhone}}
                <form name="phone-login">
                    <div class="list-block">
                        <ul>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <p class="row">
                                            <div class="item-input col">
                                                <input type="tel" name="phone" placeholder="{{t_ "Phone __example__" example="+31..."}}" required="required">
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            {{#if phoneCodeSent}}
                                <li>
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <input type="number" min="0" inputmode="numeric" pattern="[0-9]*" name="code" placeholder="{{t_ "SMS Verification code"}}"
                                                       required="required">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/if}}
                            <li>
                                {{#if phoneCodeSent}}
                                    <a href="#" class="button active login-with-phone" disabled="{{isLoggingIn}}">{{t_ "Login"}}</a>
                                {{else}}
                                    <a href="#" class="col button active send-phone-code">{{t_ "Send verification code"}}</a>
                                {{/if}}
                            </li>
                        </ul>
                    </div>
                </form>
            {{/if}}

            {{#if loginWithEmail}}
                <form name="password-login">
                    <div class="list-block">
                        <ul>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="email" name="email" placeholder="{{t_ "Email address"}}" required="required">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{#unless isRetrievingPassword}}
                                <li>
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <input type="password" name="password" placeholder="{{t_ "Password"}}" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/unless}}
                            {{#if isRegistering}}
                                <li>
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <input type="password" name="password2" placeholder="{{t_ "Repeat password"}}" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/if}}
                            {{#if resetCodeSent}}
                                <li>
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <input type="number" name="code" placeholder="{{t_ "Reset password code (sent by email)"}}" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <input type="password" name="password" placeholder="{{t_ "New password"}}" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <input type="password" name="password2" placeholder="{{t_ "Repeat new password"}}" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/if}}
                            <li>
                                <br/>
                                {{#if isRegistering}}
                                    <a href="#" class="button active register" disabled="{{isLoggingIn}}">{{t_ "Register"}}</a>
                                {{else}}
                                    {{#if resetCodeSent}}
                                        <a href="#" class="button active password-reset-do" disabled="{{isLoggingIn}}">{{t_ "Reset password"}}</a>
                                    {{else}}
                                        {{#if isRetrievingPassword}}
                                            <a href="#" class="button active password-reset" disabled="{{isLoggingIn}}">{{t_ "Send password reset code"}}</a>
                                        {{else}}
                                            <a href="#" class="button active login-with-password" disabled="{{isLoggingIn}}">{{t_ "Login"}}</a>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            </li>
                        </ul>
                    </div>
                </form>

                {{#if isRegistering}}
                    <a href="#" class="button transparent cancel-register-account">{{t_ "Cancel registration"}}</a>
                {{else}}
                    {{#if resetCodeSent}}
                        <a href="#" class="button transparent cancel-forgot-password">{{t_ "Cancel"}}</a>
                    {{else}}
                        {{#if isRetrievingPassword}}
                            <a href="#" class="button transparent cancel-forgot-password">{{t_ "Cancel"}}</a>
                        {{else}}
                            <a href="#" class="button transparent forgot-password">{{t_ "Forgot your password?"}}</a>
                            <br/>
                            <a href="#" class="button bordered register-account">{{t_ "Create an account"}}</a>
                        {{/if}}
                    {{/if}}
                {{/if}}

                <div class="alternative-login">
                    <br/><br/>
                    <a href="#" class="button vatfree loginWithEmail">{{t_ "Use a social login"}}</a>
                </div>
            {{/if}}

            {{#if showLoginOptions}}
                {{#if isActiveLogin 'facebook'}}
                    <p class="buttons-row">
                        <a href="#" class="button login-with-facebook"><i class="f7-icons">social_facebook_fill</i> {{t_ "Facebook"}}</a>
                    </p>
                {{/if}}
                {{#if isActiveLogin 'google'}}
                    <p class="buttons-row">
                        <a href="#" class="button login-with-google"><i class="f7-icons">social_googleplus</i> {{t_ "Google"}}</a>
                    </p>
                {{/if}}
                {{#if isActiveLogin 'linkedin'}}
                    <p class="buttons-row">
                        <a href="#" class="button login-with-linkedin"><i class="f7-icons">social_linkedin_fill</i> {{t_ "LinkedIn"}}</a>
                    </p>
                {{/if}}
                {{#if isActiveLogin 'wechat'}}
                    <p class="buttons-row">
                        <a href="#" class="button login-with-wechat"><i class="f7-icons">social_wechat_fill</i> {{t_ "WeChat"}}</a>
                    </p>
                {{/if}}
                <div class="alternative-login">
                    <br/><br/>
                    <a href="#" class="button vatfree loginWithEmail"><i class="f7-icons">email_fill</i>&nbsp;{{t_ "Login with email"}}</a>
                    {{!-- <br/>
                    <a href="#" class="button vatfree loginWithPhone"><i class="f7-icons">phone_fill</i>&nbsp;Login with phone</a> --}}
                </div>
            {{/if}}
        {{/if}}
        <div class="view-account">
            <form role="form" name="language-select-form">
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-description">{{t_ "Language"}}{{#if notEnglish}} (Language){{/if}}<sup>*</sup></div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <select class="form-control" name="language" required="required">
                                            {{#each getTravellerLanguages}}
                                                <option value="{{code}}" selected="{{isSelected code getLanguage}}">{{name}}{{#if notEnglish}} ({{en}}){{/if}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</template>
