<template name="networkProblems">
    <div class="network-problems">
        <div class="svg-image">
            <h1>
                {{t_ "Sorry, there seems to be no connection___"}}
            </h1>
            <img src="/images/svg/network-problems.svg" />
            <div class="image-subtext">
                {{t_ "This app needs a connection to the internet_ You can however make a picture of your stamped receipt(s) to upload later_"}}
            </div>
        </div>
    </div>
</template>
