<template name="activityTimelineItem">
    <div class="vertical-timeline-block">
        <div class="vertical-timeline-icon gray-bg">
            <i class="{{getActivityIcon}}"></i>
        </div>
        <div class="vertical-timeline-content">
            <div class="activity-changes">
                {{{getActivityDescription}}}
                <div class="activity-details">
                    {{#each getActivityDetails}}
                        <div class="activity-details-label">{{label}}</div>
                        <div class="activity-details-old">{{oldValue}}</div>
                        <div class="activity-details-new">{{newValue}}</div>
                    {{/each}}
                </div>
            </div>
            <span class="vertical-date small text-muted"> {{formatDateTime date}} </span>
        </div>
    </div>
</template>
