<template name="billing_form">
    <fieldset class="form-horizontal">
        <form name="billing-edit-form">
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <div class="pretty-checks">
                        <input type="checkbox" id="billingEntity" name="billingEntity" value="1" checked="{{#if billingEntity}}checked{{/if}}" disabled="{{isDisabled}}"/>
                        <label for="billingEntity">
                            {{#if isShop}}
                                Bill all receipts directly to this shop
                            {{else}}
                                Bill all receipts of all shops to this company
                            {{/if}}
                        </label>
                    </div>
                </div>
            </div>
            {{#if billingEntity}}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Service Fee</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input type="number" class="form-control" name="serviceFee" min="0" step="0.01" placeholder="{{getStandardServiceFee}}" value="{{serviceFee}}" disabled="{{isDisabled}}">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <label class="col-sm-1 control-label">Min</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" name="minFee" min="0" step="0.01" placeholder="{{formatAmount getMinServiceFee}}" value="{{#if minFee}}{{formatAmount minFee}}{{/if}}" disabled="{{isDisabled}}">
                    </div>
                    <label class="col-sm-1 control-label">Max</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" name="maxFee" min="0" step="0.01" placeholder="{{formatAmount getMaxServiceFee}}" value="{{#if maxFee}}{{formatAmount maxFee}}{{/if}}" disabled="{{isDisabled}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <div class="pretty-checks">
                            <input type="checkbox" id="invoiceServiceFee" name="invoiceServiceFee" value="1" checked="{{#if invoiceServiceFee}}checked{{/if}}" disabled="{{isDisabled}}"/>
                            <label for="invoiceServiceFee">Invoice service fee separately</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="pretty-checks">
                            <input type="checkbox" id="invoicePerReceipt" name="invoicePerReceipt" value="1" checked="{{#if invoicePerReceipt}}checked{{/if}}" disabled="{{isDisabled}}"/>
                            <label for="invoicePerReceipt">Separate invoice for each receipt</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="pretty-checks">
                            <input type="checkbox" id="checkInvoiceBeforeSending" name="checkInvoiceBeforeSending" value="1" checked="{{#if checkInvoiceBeforeSending}}checked{{/if}}" disabled="{{isDisabled}}"/>
                            <label for="checkInvoiceBeforeSending">Always check invoices from this entity before sending</label>
                        </div>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Send by</label>
                    <div class="col-sm-4">
                        <select name="sendBy" class="form-control" disabled="{{isDisabled}}">
                            <option value="email" selected="{{isSelected sendBy 'email'}}">Email</option>
                            <option value="post" selected="{{isSelected sendBy 'post'}}">Post</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="pretty-checks">
                            <input type="checkbox" id="includeImagesPDF" name="includeImagesPDF" value="1" checked="{{#if includeImagesPDF}}checked{{/if}}" disabled="{{isDisabled}}"/>
                            <label for="includeImagesPDF">Include images PDF in email</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Billing email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="billingEmail" placeholder="" value="{{billingEmail}}" disabled="{{isDisabled}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Billing email CC</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="billingEmailCC" placeholder="" value="{{billingEmailCC}}" disabled="{{isDisabled}}">
                    </div>
                    <div class="col-sm-3">
                        <span class="text-muted">(comma separated)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Reminder email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="billingReminderEmail" placeholder="" value="{{billingReminderEmail}}" disabled="{{isDisabled}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Reminder email CC</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="billingReminderEmailCC" placeholder="" value="{{billingReminderEmailCC}}" disabled="{{isDisabled}}">
                    </div>
                    <div class="col-sm-3">
                        <span class="text-muted">(comma separated)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Billing contacts</label>
                    <div class="col-sm-10">
                        <select name="addBillingContactId" class="form-control" tabindex="0" disabled="{{isDisabled}}">
                            <option value=""> - Select contact to add to billing list -</option>
                            {{#each getNonBillingContacts}}
                                <option value="{{_id}}">{{profile.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="clients-list wrap table-responsive">
                            {{> contactsList contacts=getContacts actions=getContactActions }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Billing template</label>
                    <div class="col-sm-10">
                        <select name="billingEmailTemplateId" class="form-control" disabled="{{isDisabled}}">
                            <option value="">DEFAULT: {{getDefaultBillingTemplate}}</option>
                            {{#each getEmailTemplates}}
                                <option value="{{_id}}" selected="{{isEmailTemplateSelected}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Billing subject prefix</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="billingEmailSubjectPrefix" placeholder="" value="{{billingEmailSubjectPrefix}}" disabled="{{isDisabled}}">
                    </div>
                    <label class="col-sm-2 control-label">Billing text</label>
                    <div class="col-sm-4">
                        <select name="billingEmailTextId" class="form-control" disabled="{{isDisabled}}">
                            <option value="">DEFAULT: {{getDefaultBillingEmailText}}</option>
                            {{#each getEmailTexts 'shops'}}
                                <option value="{{_id}}" selected="{{isEmailTextSelected}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Billing reminder text</label>
                    <div class="col-sm-4">
                        <select name="billingReminderEmailTextId" class="form-control" disabled="{{isDisabled}}">
                            <option value="">DEFAULT: {{getDefaultBillingReminderEmailText}}</option>
                            {{#each getEmailTexts 'shops'}}
                                <option value="{{_id}}" selected="{{isEmailReminderTextSelected}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Billing reminder 2 text</label>
                    <div class="col-sm-4">
                        <select name="billingReminder2EmailTextId" class="form-control" disabled="{{isDisabled}}">
                            <option value="">DEFAULT: {{getDefaultBillingReminder2EmailText}}</option>
                            {{#each getEmailTexts 'shops'}}
                                <option value="{{_id}}" selected="{{isEmailReminder2TextSelected}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Billing name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="billingName" placeholder="{{name}}" value="{{billingName}}" disabled="{{isDisabled}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Billing recipient</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="billingRecipientName" placeholder="" value="{{billingRecipientName}}" disabled="{{isDisabled}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Billing address</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="4" name="billingAddress" placeholder="{{getBillingAddressPlaceHolder}}" disabled="{{isDisabled}}">{{billingAddress}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Payment terms</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" name="paymentTerms" placeholder="DEFAULT: 14" value="{{paymentTerms}}" disabled="{{isDisabled}}">
                    </div>
                    <label class="col-sm-2 control-label">Purchase order</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="poNumber" placeholder="" value="{{poNumber}}" disabled="{{isDisabled}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Billing VAT</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="billingVat" placeholder="{{vatNumber}}" value="{{billingVat}}" disabled="{{isDisabled}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Debt collection</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="debtCollectionAccount" placeholder="Debt collection account / bank nr" value="{{debtCollectionAccount}}" disabled="{{isDisabled}}">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="debtCollectionMandate" placeholder="Mandate id" value="{{debtCollectionMandate}}" disabled="{{isDisabled}}">
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                            <input type="text" class="form-control" name="debtCollectionDate" placeholder="Signing date" value="{{formatDate debtCollectionDate}}" disabled="{{isDisabled}}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"> Partner dashboard</label>
                    <div class="col-sm-4">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                            <input type="text" class="form-control" name="partnerDashboardFrom" placeholder="Date from which to show partner data in the dasbhoard" value="{{formatDate partnerDashboardFrom}}" disabled="{{isDisabled}}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>All data in the partner dashboard will be calculated from this date.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Billing notes</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="billingNotes" placeholder="">{{billingNotes}}</textarea>
                    </div>
                </div>
            {{else}}
                {{#if isShop}}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">&nbsp;</label>
                        <div class="col-sm-10">
                            {{#with billingEntityDoc}}
                                All receipts of this shop will be billed to <b><a href="/company/{{_id}}">{{name}}</a></b>, {{addressFirst}}, {{postCode}} {{city}}
                            {{else}}
                                <span class="alert-danger">No billing identity found for this shop - Please fix or invoices cannot be sent!</span>
                            {{/with}}
                        </div>
                    </div>
                {{/if}}
            {{/if}}

            <div class="form-group">
                <label class="col-sm-2 control-label">Receipt notes</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="receiptNotes" placeholder="">{{receiptNotes}}</textarea>
                </div>
            </div>

            {{#unless isDisabled}}
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-white cancel">Cancel / Close</button>
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </div>
            {{/unless}}
        </form>
    </fieldset>
</template>
