<template name="crop_photo">
    {{#if isSaving}}
        <h2>Saving ...</h2>
        {{> loading}}
    {{else}}
        <div class="row">
            <div class="col-sm-12 docs-buttons">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary rotateLeft">
                        <span class="icon icon-rotateleft"></span>
                    </button>
                    <button type="button" class="btn btn-primary rotateRight">
                        <span class="icon icon-rotateright"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary rotateSmallLeft">
                        <span class="icon icon-nudgeleft"></span>
                    </button>
                    <button type="button" class="btn btn-primary rotateSmallRight">
                        <span class="icon icon-nudgeright"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary reset">
                        <span class="icon icon-cancel"></span>
                    </button>
                </div>
                <div class="btn-group">
                    Double click to switch between drag and move
                </div>
                <div class="btn-group pull-right">
                    <button class="btn btn-primary save-image" disabled="{{isSaving}}">Save</button><br/>
                </div>
            </div>
        </div>
        <div class="image-cropper">
            <img src="{{photo.url}}" id="darkroom-image" />
        </div>
    {{/if}}
</template>
