<template name="directUrlImage">
    {{#if fileCopiesUploaded fileObj}}
        {{#if showBackup}}
            {{#with fileObj}}
                <img id="{{_id}}" src="{{url store='vatfree-thumbs' uploading='/img/uploading.gif' storing='/img/storing.gif'}}" class="{{#if ../class}}{{../class}}{{/if}}">
            {{/with}}
        {{else}}
            <img id="{{fileObj._id}}" src="{{directUrl}}" class="{{#if class}}{{class}}{{/if}}">
        {{/if}}
    {{else}}
        {{> storing_file }}
    {{/if}}
</template>

<template name="directUrlFile">
    {{#if fileCopiesUploaded fileObj}}
        <a href="{{directUrl}}" target="_blank" data-featherlight="{{#if fileObj.isImage}}{{directUrl}}{{/if}}">
            {{#if fileObj.isImage}}
                <div class="image-container">
                    {{#if showBackup}}
                        {{#with fileObj}}
                            <img id="{{_id}}" src="{{url store='vatfree-thumbs' uploading='/img/uploading.gif' storing='/img/storing.gif'}}" class="{{#if ../class}}{{../class}}{{/if}}">
                        {{/with}}
                    {{else}}
                        <img id="{{fileObj._id}}" src="{{directThumbnailUrl}}" class="{{#if class}}{{class}}{{/if}}">
                    {{/if}}
                </div>
            {{else}}
                {{!-- <img src="{{directThumbnailUrl}}" onerror="this.src='/icons/512px/{{fileObj.getExtension}}.png';" class="file-icon"/> --}}
                <img src="/icons/512px/{{fileObj.getExtension}}.png" class="file-icon"/>
            {{/if}}
            {{#unless hideFileName}}
                <div class="name">{{fileObj.original.name}}</div>
            {{/unless}}
        </a>
    {{else}}
        {{> storing_file }}
    {{/if}}
</template>
