<template name="editImageModal">
    <div id="modal-edit-image" class="modal fade fullscreen" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="pull-right">
                        <i class="icon icon-cross close-modal" accesskey="c"></i>
                    </div>
                    <div class="button-group text-center">
                        <button class="btn btn-default image-mode-crop {{#if isImageMode "crop"}} active{{/if}}"><i class="fa fa-crop"></i> Crop</button>
                        <button class="btn btn-default image-mode-mask {{#if isImageMode "mask"}} active{{/if}}"><i class="icon icon-mask"></i> Mask</button>
                    </div>
                    {{#if isImageMode "mask"}}
                        {{> mask_photo photo=getImage callback=maskPhotoCallback }}
                    {{else}}
                        {{> crop_photo photo=getImage callback=getCropPhotoCallback }}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
