<template name="file_check">
    <div class="wrapper wrapper-content files-to-check">
        <div class="row">
            <div class="col-sm-12">
                Update: <input type="text" name="updateTarget" value="{{updateTarget}}" />
                Bulk target: <input type="text" name="bulkTarget" value="{{bulkTarget}}" />
                <button class="btn btn-primary set-bulk">Set remaining files to bulk-target</button>
                <button class="btn btn-primary set-delete">Delete remaining files</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                Click on the <i class="icon icon-sealok"></i> to mark it as checked/ok. Click the blue button to move the rest to the "Bulk" bucket.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="files">
                    {{#each getFiles}}
                        <li class="file" id="{{_id}}">
                            {{> directUrlFile fileObj=this hideFilename=true }}
                            <i class="icon icon-sealok file-action update-file"></i>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>
