<template name="imports">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="pull-right">
                    <a class="btn btn-default btn-icon toggle-imports" href="#" accesskey="b"><i class="icon icon-backspace"></i><u>B</u>ack to list</a>
                </div>
                <h2>{{title}}</h2>
                <div class="full-height-scroll">
                    <div class="table-responsive infinite-scrolling">
                        {{> importsList subType=subType }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
