<template name="infoFile">
    <div class="info-file">
        {{#if isPDF}}
            <div class="file-pdf">
                <iframe src="{{url}}&.pdf" style="width: 100%; height: 100%;" frameborder="0" scrolling="no">
                </iframe>
            </div>
        {{else}}
            <div class="file-image">
                <img class="file-zoom" src="{{url store='vatfree' uploading='/img/uploading.gif' storing='/img/storing.gif'}}">
            </div>
        {{/if}}
    </div>
</template>
