<template name="mask_photo">
    {{#if isSaving}}
        <h2>Saving ...</h2>
        {{> loading}}
    {{else}}
        <div class="text-right">
            <button class="btn btn-primary" id="generate-output">Save</button><br/>
        </div>
        <div class="mask-photo-div">
            <canvas id="mask-photo-canvas" style="border:1px solid #ccc"></canvas><br/>
        </div>
    {{/if}}
</template>
