<template name="modal">
    <div class="modal fade {{fullscreen}}" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body {{#if center}}modal-center{{/if}}">
                    <i class="icon icon-cross close-modal" accesskey="c"></i>
                    {{> UI.contentBlock}}
                </div>
            </div>
        </div>
    </div>
</template>
