<template name="tab_files">
    <div class="tab-files">
        {{#unless disallowUpload}}
            {{#if isInVatfreeRole securityRole}}
                <div class="dropzone">
                    <input type="file" name="dropzone-file" class="dropzone-file"/>
                    <div class="add-file">
                        <i class="icon icon-upload"></i><br/>
                        {{_ "Drop file(s) here to upload"}}
                    </div>
                    <div class="qrcode-upload">
                        <canvas></canvas>
                    </div>
                </div>
            {{/if}}
        {{/unless}}
        {{#if getFiles.count}}
            <ul class="files">
                {{#each getFiles}}
                    <li class="file">
                        {{#unless this.isUploaded}}
                            {{> FS.UploadProgressBar bootstrap=true}}
                        {{else}}
                            {{#if fileCopiesUploaded this}}
                                {{> directUrlFile fileObj=this }}
                                {{#if isInVatfreeRole ../securityRole}}
                                    {{#if ../allowDelete}}
                                        <i class="icon icon-cross file-action delete-file"></i>
                                    {{/if}}
                                    {{#if ../allowMove}}
                                        {{#if isImage}}
                                            <i class="icon icon-edit file-action edit-file"></i>
                                        {{/if}}
                                    {{/if}}
                                    {{#if ../allowMove}}
                                        <i class="icon icon-eyeview file-action move-file"></i>
                                    {{/if}}
                                    {{#if isPDF}}
                                        <i class="icon icon-addphoto file-action create-images-from-pdf" title="Create images from this PDF"></i>
                                    {{/if}}
                                {{/if}}
                            {{else}}
                                {{> storing_file }}
                            {{/if}}
                        {{/unless}}
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>
</template>
