<template name="taskModal">
    <div id="modal-task" class="modal fade fullscreen {{classes}}" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <i class="icon icon-cross close-tasks" accesskey="c"></i>
                    {{#unless isLocked}}
                        <form role="form" name="tasks-form">
                            <div class="task">
                                {{#if getLeftSidebarTemplate}}
                                    <div class="task-left-sidebar b-r {{getLeftSidebarSize}}">
                                        {{> Template.dynamic template=getLeftSidebarTemplate data=this }}
                                    </div>
                                {{/if}}
                                <div class="task-main">
                                    {{> UI.contentBlock}}
                                </div>
                                {{#if getSidebarTemplate}}
                                    <div class="task-sidebar b-l {{getSidebarSize}}">
                                        {{> Template.dynamic template=getSidebarTemplate data=this }}
                                    </div>
                                {{/if}}
                            </div>
                        </form>
                    {{else}}
                        <div class="modal-locked">
                            <h1>{{options.lockMessage}}</h1>
                            <button class="btn btn-primary close-tasks" accesskey="c"><u>C</u>lose tasks window</button>
                        </div>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</template>
