<template name="translations">
    {{#each getTranslateLanguages 'traveller'}}
        <div class="form-group">
            <label class="col-sm-2 control-label">{{code}}</label>
            <div class="col-sm-10">
                {{#each ../translations}}
                    <div class="row">
                        <label class="col-sm-2 control-label">{{name}}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="i18n.{{../code}}.{{key}}" placeholder="{{key}} {{../code}}" value="{{getTranslatedValue key ../code}}">
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="hr-line-dashed"></div>
    {{/each}}
</template>
