<template name="affiliate_search">
    <div class="wrapper wrapper-content">
        {{#if isSearching}}
            {{> loading }}
        {{else}}
            <div class="row">
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                <a href="/travellers?search={{getSearchTerm}}" class="btn btn-primary">&gt;&gt; Traveller search</a>
                            </div>
                            <h2>Travellers</h2>
                            <div class="clients-list item-list receipts-list">
                                <div class="full-height-scroll">
                                    <div class="table-responsive item-list infinite-scrolling">
                                        {{> travellersList travellers=getTravellers includeHeader=true }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="pull-right">
                                <a href="/receipts?search={{getSearchTerm}}" class="btn btn-primary">&gt;&gt; Receipt search</a>
                            </div>
                            <h2>Receipts</h2>
                            <div class="clients-list item-list receipts-list">
                                <div class="full-height-scroll">
                                    <div class="table-responsive item-list infinite-scrolling">
                                        {{> receiptsList receipts=getReceipts includeHeader=true }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="pull-right">
                                <a href="/payouts?search={{getSearchTerm}}" class="btn btn-primary">&gt;&gt; Payout search</a>
                            </div>
                            <h2>Payouts</h2>
                            <div class="clients-list item-list receipts-list">
                                <div class="full-height-scroll">
                                    <div class="table-responsive item-list infinite-scrolling">
                                        {{> payoutsList payouts=getPayouts includeHeader=true }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</template>
