<template name="tasksTravellersModal_leftSidebar">
    {{> travellerPassportImages travellerId=getTravellerId }}
    <ul class="files">
        {{#each getFiles}}
            <li class="file {{isActiveFile _id}} draggable" id="file_{{_id}}">
                {{#unless this.isUploaded}}
                    {{> FS.UploadProgressBar bootstrap=true}}
                {{else}}
                    {{> directUrlFile fileObj=this hideFileName=true }}
                    <i class="icon icon-eyehidden file-action move-file" title="Hide this image from traveller"></i>
                    <i class="icon icon-receiptperson file-action make-receipt-from-file" title="Make a receipt from this image"></i>
                {{/unless}}
            </li>
        {{/each}}
    </ul>
    <hr/>
    -- Internal docs --<br/>
    <ul class="files">
        {{#each getInternalFiles}}
            <li class="file {{isActiveFile _id}} draggable" id="file_{{_id}}">
                {{#unless this.isUploaded}}
                    {{> FS.UploadProgressBar bootstrap=true}}
                {{else}}
                    {{> directUrlFile fileObj=this hideFileName=true }}
                    <i class="icon icon-eyeview file-action move-file" title="Show this image to traveller"></i>
                    <i class="icon icon-receiptperson file-action make-receipt-from-file" title="Make a receipt from this image"></i>
                    <i class="icon icon-trash file-action trash-file" title="Trash image"></i>
                {{/unless}}
            </li>
        {{/each}}
    </ul>
    -- Trashed docs --<br/>
    <ul class="files">
        {{#each getTrashFiles}}
            <li class="file {{isActiveFile _id}} draggable" id="file_{{_id}}">
                {{#unless this.isUploaded}}
                    {{> FS.UploadProgressBar bootstrap=true}}
                {{else}}
                    {{> directUrlFile fileObj=this hideFileName=true }}
                    <i class="icon icon-eyeview file-action move-file" title="Show this image to traveller"></i>
                {{/unless}}
            </li>
        {{/each}}
    </ul>
</template>
