<template name="tasksTravellersModal_sidebar">
    {{#if isRejecting}}
        <div class="task-rejections">
            <h3>Reject reasons:</h3>
            {{#each getTravellerRejections}}
                <div class="i-checks" title="{{description}}">
                    <input type="checkbox" name="rejectionIds.{{_id}}"> {{name}}
                </div>
            {{/each}}
        </div>
        <div class="task-actions">
            <button class="btn btn-danger task-reject-eligible" accesskey="N" tabindex="0"><u>N</u>ot eligible</button>
            <button class="btn btn-default task-reject-cancel" accesskey="c" tabindex="1"><u>C</u>ancel</button>
            <button class="btn btn-warning task-reject-do" accesskey="D" tabindex="0"><u>D</u>ocs incomplete</button>
        </div>
    {{else}}
        <div class="task-info">
            {{#with getTraveller}}
                <div>
                    {{> travellerInfo traveller=this hideTimeline=true allowEdit=true hideDetails=true }}
                </div>
            {{/with}}
            {{> tasksTravellersModal_sidebar_form }}
        </div>
        <div class="task-actions">
            <button class="btn btn-info task-requeue" accesskey="q" tabindex="110">Re-<u>q</u>ueue</button>
            <button class="btn btn-danger task-reject" accesskey="R" tabindex="105"><u>R</u>eject</button>
            <button class="btn btn-primary task-approve" accesskey="o" tabindex="100"><u>O</u>K</button>
        </div>
    {{/if}}
</template>
