<template name="tasksTravellersModal_sidebar_form">
    {{#with getTraveller}}
        {{#if isNato}}
            <div class="text-center">
                <img src="/img/nato.jpg" style="height: 64px" />
            </div>
        {{/if}}
        {{#each profile.contactId}}
            <div class="text-center">
                <a href="https://vatfree.my.salesforce.com/{{this}}" target="_blank"><img src="/img/salesforce.svg" style="height: 28px; margin-top: -15px; margin-bottom: -10px;" /> {{this}}</a><br/>
                <br/>
            </div>
        {{/each}}
        {{#if alternativeTravellerType}}
            <blockquote class="alert-warning">
                {{#with getTravellerTypeIcon private.travellerTypeId}}
                    <i class="{{this}}"></i>
                {{/with}}
                {{getTravellerTypeName private.travellerTypeId}}
            </blockquote>
        {{/if}}
        <form class="form" name="tasks-form">
            <table class="table">
                <tr>
                    <td><label>Name</label></td>
                    <td>
                        <input type="text" name="name" class="form-control" required="required" tabindex="1" value="{{profile.name}}">
                    </td>
                </tr>
                <tr>
                    <td><label>Passport number</label></td>
                    <td>
                        <input type="text" name="passportNumber" class="form-control" required="required" tabindex="2" value="{{profile.passportNumber}}">
                    </td>
                </tr>
                <tr>
                    <td><label>Expiration Date</label></td>
                    <td>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                            <input type="text" name="passportExpirationDate" class="form-control" required="required" tabindex="3" value="{{formatDate profile.passportExpirationDate}}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Passport country</label></td>
                    <td>
                        <div class="form-group">
                            <select name="countryId" class="form-control" tabindex="4">
                                <option value=""> -- </option>
                                {{#each getCountries}}
                                    <option value="{{_id}}" selected="{{isSelected ../profile.countryId _id}}">{{code}} - {{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </td>
                </tr>

                {{#unless isNato}}
                    {{#if needsVisa}}
                        <tr class="spacer"><td colspan="2">
                            <i class="icon icon-visawarning"></i>
                        </td></tr>

                        <tr>
                            <td><label>Visa number</label></td>
                            <td>
                                <input type="text" name="visaNumber" class="form-control" required="required" tabindex="5" value="{{profile.visaNumber}}">
                            </td>
                        </tr>
                        <tr>
                            <td><label>Visa expiration Date</label></td>
                            <td>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                    <input type="text" name="visaExpirationDate" class="form-control" required="required" tabindex="6" value="{{formatDate profile.visaExpirationDate}}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Visa country</label></td>
                            <td>
                                <div class="form-group">
                                    <select name="visaCountryId" class="form-control" tabindex="7">
                                        <option value=""> -- </option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}" selected="{{isSelected ../profile.visaCountryId _id}}">{{code}} - {{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </td>
                        </tr>

                    {{/if}}
                {{/unless}}
            </table>
            {{> traveller_last_receipts travellerId=_id limit=10 }}
            <div id="vertical-timeline" class="vertical-container dark-timeline">
                {{#each getActivity}}
                    {{> activityTimelineItem }}
                {{/each}}
            </div>
        </form>
    {{/with}}
</template>
