<template name="tasksTravellersModal">
    {{#taskModal options=getOptions classes="traveller-task"}}
        {{#if loadingTraveller}}
            {{> loading }}
        {{else}}
            {{#with getTraveller}}
                {{#if showTraveller}}
                    {{> travellerEditForm }}
                {{else}}
                    {{#with selectedFile}}
                        {{#if isUploading}}
                            {{> loading }}
                        {{else}}
                            {{#unless this.isUploaded}}
                                {{> FS.UploadProgressBar bootstrap=true}}
                            {{else}}
                                {{#unless isPDF}}
                                    <div class="button-group text-center">
                                        <button class="btn btn-default image-mode-zoom {{#if isImageMode "zoom"}} active{{/if}}"><i class="fa fa-search"></i> Zoom</button>
                                        <button class="btn btn-default image-mode-crop {{#if isImageMode "crop"}} active{{/if}}"><i class="icon icon-crop"></i> Crop</button>
                                        <button class="btn btn-default image-mode-mask {{#if isImageMode "mask"}} active{{/if}}"><i class="icon icon-mask"></i> Mask</button>
                                    </div>
                                {{/unless}}
                                {{#if isImageMode "mask"}}
                                    {{> mask_photo photo=this callback=maskPhotoCallback }}
                                {{else}}
                                    {{#if isImageMode "crop"}}
                                        {{> crop_photo photo=this callback=maskPhotoCallback }}
                                    {{else}}
                                        {{#if isPDF}}
                                            <div class="task-pdf">
                                                <iframe src="{{url}}&.pdf" style="width: 100%; height: 100%;" frameborder="0" scrolling="no">
                                                </iframe>
                                            </div>
                                        {{else}}
                                            <div class="task-image">
                                                {{> zoom_photo photo=this }}
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/unless}}
                        {{/if}}
                    {{/with}}
                {{/if}}
            {{else}}
                <div class="waiting-for-task">
                    <h1>No travellers to check ...</h1>
                    <button class="btn btn-primary close-tasks" accesskey="c"><u>C</u>lose tasks window</button>
                </div>
            {{/with}}
        {{/if}}
    {{/taskModal}}
</template>
