<template name="travellers_modal_waiting_for_docs">
    {{#taskModal options=getOptions}}
        {{#unless Template.subscriptionsReady}}
            Gathering travellers ...
            {{> loading }}
        {{else}}
            {{#if updatingTravellers}}
                Updating travellers ...
                {{> loading }}
            {{else}}
                <div class="clients-list item-list traveller-list padding">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            {{#with getTravellers}}
                                <h3 class="m-t-none m-b">Forward travellers in the flow</h3>
                                <p>
                                    Deselect the travellers you don't want to forward
                                </p>
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <span class="pull-right">
                                            <a href="#" class="select-all-global">All</a> | <a href="#" class="select-none-global">None</a>
                                        </span>
                                    </div>
                                    <div class="ibox-content">
                                        {{> travellersList travellers=this includeHeader=false hideButtons=true selectable=true allSelected=true disableClicks=true }}
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-sm btn-default m-t-n-xs close-tasks"><strong>Cancel</strong></button>
                                    <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Forward selected travellers</strong></button>
                                </div>
                            {{else}}
                                <div class="waiting-for-task">
                                    <h1>No travellers stuck ...</h1>
                                    <button class="btn btn-primary close-tasks" accesskey="c"><u>C</u>lose tasks window</button>
                                </div>
                            {{/with}}
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/unless}}
    {{/taskModal}}
</template>

<template name="travellers_modal_waiting_for_docs_sidebar">
    {{#with getTraveller}}
        {{> travellerInfo traveller=this showImages=true }}
    {{/with}}
</template>
