<template name="login">
    <div class="middle-box text-center loginscreen">
        <div>
            <div>
                <img src="/Logos/VFCircleShade.svg" style="widht: 200px; height: 200px;" />
            </div>
            <form class="m-t" role="form" name="login-form">
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            </form>
        </div>
    </div>
</template>
