<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu" tabindex="-1"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            {{> avatar user=currentUser size="nav-header" shape="circle" }}
                         </span>
                        <a href="#" tabindex="-1">
                            <span class="text-muted text-xs block">{{getUserName}}</span>
                        </a>
                        <div class="physical-location">
                            <select name="physical-location">
                                {{#each officeLocations}}
                                    <option value="{{locationCode}}" selected="{{isSelected physicalLocation locationCode}}">{{locationName}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    {{#if newVersionAvailable}}
                        <div class="new-version animate slide-in-down">
                            <a href="#" class="update-app">New version of Phoenix available, click here to update</a>
                        </div>
                    {{/if}}
                </li>
                {{#if isInVatfreeRole 'dashboard-read'}}
                    <li class="{{isActivePath regex='/dashboard'}}">
                        <a href="/" tabindex="-1">
                            <i class="icon icon-dashboard"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'receipts-read'}}
                    <li class="{{isActivePath regex='/tables'}}">
                        <a href="/tables" tabindex="-1">
                            <i class="icon icon-stats-phoenix"></i>
                            <span class="nav-label">Receipt stats</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'invoices-read'}}
                    <li class="{{isActivePath regex='/stats/invoices'}}">
                        <a href="/stats/invoices" tabindex="-1">
                            <i class="icon icon-stats-phoenix"></i>
                            <span class="nav-label">Invoice stats</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'team-stats-read'}}
                    <li class="{{isActivePath regex='/team-stats'}}">
                        <a href="/team-stats" tabindex="-1">
                            <i class="icon icon-stats-team"></i>
                            <span class="nav-label">Team Stats</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'admin'}}
                    <li class="{{isActivePath regex='/top30'}}">
                        <a href="/top30" tabindex="-1">
                            <i class="icon icon-dashboard"></i>
                            <span class="nav-label">Top 30</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'admin'}}
                    <li class="{{isActivePath regex='/popr'}}">
                        <a href="/popr" tabindex="-1">
                            <i class="icon icon-dashboard"></i>
                            <span class="nav-label">POPR stats</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'activity-logs-read'}}
                    <li class="{{isActivePath regex='/activity-log'}}">
                        <a href="/activity-logs" tabindex="-1">
                            <i class="icon icon-activity"></i>
                            <span class="nav-label">Activity</span>
                            <span class="label label-info pull-right">{{getStatsCount 'activity-logs' false}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'travellers-read'}}
                    <li class="{{isActivePath regex='/traveller'}}">
                        <a href="/travellers" tabindex="-1">
                            <i class="icon icon-traveller"></i>
                            <span class="nav-label">Travellers</span>
                            <span class="label label-info pull-right">{{getStatsCount 'travellers' false}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'receipts-read'}}
                    <li class="{{isActivePath regex='/receipt'}}">
                        <a href="/receipts" tabindex="-1">
                            <i class="icon icon-receiptsmore"></i>
                            <span class="nav-label">Receipts</span>
                            <span class="label label-info pull-right">{{getStatsCount 'receipts' false}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'invoices-read'}}
                    <li class="{{isActivePath regex='/invoice'}}">
                        <a href="/invoices" tabindex="-1">
                            <i class="icon icon-vtb"></i>
                            <span class="nav-label">Invoices</span>
                            <span class="label label-info pull-right">{{getStatsCount 'invoices' false}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'payments-read'}}
                    <li class="{{isActivePath regex='/payment'}}">
                        <a href="/payments" tabindex="-1">
                            <i class="icon icon-payments"></i>
                            <span class="nav-label">Payments</span>
                            <span class="label label-info pull-right">{{getStatsCount 'payments' false}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'payouts-read'}}
                    <li class="{{isActivePath regex='/payout'}}">
                        <a href="/payouts" tabindex="-1">
                            <i class="icon icon-payouts"></i>
                            <span class="nav-label">Payouts</span>
                            <span class="label label-info pull-right">{{getStatsCount 'payouts,payouts-partner' false}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'affiliate-payouts-read'}}
                    <li class="{{isActivePath regex='/affiliatePayout'}}">
                        <a href="/affiliatePayouts" tabindex="-1">
                            <i class="icon icon-payouts"></i>
                            <span class="nav-label">Affiliate payouts</span>
                            <span class="label label-info pull-right">{{getStatsCount 'affiliate-payouts' false}}</span>
                        </a>
                    </li>
                {{/if}}
                <li class="spacer"></li>
                {{#if isInVatfreeRole 'contacts-read'}}
                    <li class="{{isActivePath regex='/contact'}}">
                        <a href="/contacts" tabindex="-1">
                            <i class="icon icon-contacts"></i>
                            <span class="nav-label">Contacts</span>
                            <span class="label label-info pull-right">{{getStatsCount 'contacts' false}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'shops-read'}}
                <li class="{{isActivePath regex='/shop'}}">
                    <a href="/shops" tabindex="-1">
                        <i class="icon icon-shops"></i>
                        <span class="nav-label">Shops</span>
                        <span class="label label-info pull-right">
                            {{getStatsCount 'shop_incompletes' false}}
                            {{#if shopCallsAndIncompletes}}
                            /
                            {{/if}}
                            {{getStatsCount 'shop_calls' false}}
                        </span>
                    </a>
                </li>
                {{/if}}
                {{#if isInVatfreeRole 'companies-read'}}
                    <li class="{{isActivePath regex='/compan'}}">
                        <a href="/companies" tabindex="-1">
                            <i class="icon icon-companies"></i>
                            <span class="nav-label">Companies</span>
                            <span class="label label-info pull-right">{{getStatsCount 'companies' false}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'affiliates-read'}}
                    <li class="{{isActivePath regex='/affiliate'}}">
                        <a href="/affiliates" tabindex="-1">
                            <i class="icon icon-affiliates"></i>
                            <span class="nav-label">Affiliates</span>
                            <span class="label label-info pull-right">{{getStatsCount 'affiliates' false}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'partners-read'}}
                    <li class="{{isActivePath regex='/partner'}}">
                        <a href="/partners" tabindex="-1">
                            <i class="icon icon-refcompetitor"></i>
                            <span class="nav-label">Partners</span>
                            <span class="label label-info pull-right">{{getStatsCount 'partners' false}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInVatfreeRole 'configuration-read'}}
                    <li class="{{isActivePath regex='/countr|/rejection|/email-template|/currenc|/email-text|web-text|/notification-trigger'}}">
                        <a href="#" tabindex="-1"><i class="icon icon-config"></i>
                            <span class="nav-label">Configuration</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level {{isActivePath regex='/countr|/rejection|/email-template|/currenc|/email-text|/notification-trigger' className='in'}}">
                            <li class="{{isActivePath regex='/countr'}}">
                                <a href="/countries" tabindex="-1">
                                    <i class="icon icon-countries"></i>
                                    <span class="nav-label">Countries</span>
                                </a>
                            </li>
                            <li class="{{isActivePath regex='/rejections-receipt'}}">
                                <a href="/rejections-receipt" tabindex="-1">
                                    <i class="icon icon-receiptreject"></i>
                                    <span class="nav-label">Receipt Rejections</span>
                                </a>
                            </li>
                            <li class="{{isActivePath regex='/rejections-traveller'}}">
                                <a href="/rejections-traveller" tabindex="-1">
                                    <i class="icon icon-usernoneligible"></i>
                                    <span class="nav-label">Traveller Rejections</span>
                                </a>
                            </li>
                            <li class="{{isActivePath regex='/traveller-type'}}">
                                <a href="/traveller-types" tabindex="-1">
                                    <i class="icon icon-travnatok"></i>
                                    <span class="nav-label">Traveller Types</span>
                                </a>
                            </li>
                            <li class="{{isActivePath regex='/notification-trigger'}}">
                                <a href="/notification-triggers" tabindex="-1">
                                    <i class="icon icon-speech"></i>
                                    <span class="nav-label">Notification triggers</span>
                                </a>
                            </li>
                            <li class="{{isActivePath regex='/email-template'}}">
                                <a href="/email-templates" tabindex="-1">
                                    <i class="icon icon-emailtemplate"></i>
                                    <span class="nav-label">Email Templates</span>
                                </a>
                            </li>
                            <li class="{{isActivePath regex='/email-text'}}">
                                <a href="/email-texts" tabindex="-1">
                                    <i class="icon icon-textemplate"></i>
                                    <span class="nav-label">Email Texts</span>
                                </a>
                            </li>
                            <li class="{{isActivePath regex='/web-text'}}">
                                <a href="/web-texts" tabindex="-1">
                                    <i class="icon icon-textemplate"></i>
                                    <span class="nav-label">Web Texts</span>
                                </a>
                            </li>
                            <li class="{{isActivePath regex='/faq'}}">
                                <a href="/faqs" tabindex="-1">
                                    <i class="icon icon-travelworld"></i>
                                    <span class="nav-label">FAQs</span>
                                </a>
                            </li>
                            <li class="{{isActivePath regex='/currenc'}}">
                                <a href="/currencies" tabindex="-1">
                                    <i class="icon icon-euros"></i>
                                    <span class="nav-label">Currencies</span>
                                </a>
                            </li>
                            <li class="{{isActivePath regex='/file'}}">
                                <a href="/files" tabindex="-1">
                                    <i class="icon icon-upload"></i>
                                    <span class="nav-label">Files</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                {{/if}}
            </ul>
        </div>
    </nav>
</template>
