<template name="view_register_shop_law_nl">
    <h2>Wet en regelgeving in Nederland</h2>

    <p>
        <u>a. voor consumenten</u>
        Uitvoer van goederen als reizigersbagage. Besluit van 5 november 2011, nr. BLKB 2011/1247 M
    </p>

    <p>
        2. <i>Uitvoer van goederen als reizigersbagage</i><br/>
        In het internationale reizigersverkeer kan het nultarief worden toegepast op de levering van goederen aan particulieren, die hun normale verblijfplaats hebben in een land dat niet tot de EU behoort (artikel 24, lid 2 van de wet, juncto artikel 23a van de uitvoeringsbeschikking). Deze regeling is ook van toepassing op de levering van goederen aan n particulieren die hun normale woonplaats in de EU hebben en aantonen dat zij zich vóór het einde van de derde maand na de aanschaf buiten de EU vestigen. Hierbij gelden de volgende voorwaarden:
        <ul>
            <li>de reiziger moet de goederen uiterlijk vóór het einde van de derde maand na de maand van aankoop in zijn/haar persoonlijke bagage meenemen naar een derde-land;</li>
            <li>de totale waarde van de op een factuur vermelde goederen moet tenminste € 50 (inclusief omzetbelasting) bedragen;</li>
            <li>de normale verblijfplaats van de reiziger moet aan de hand van een legitimatiebewijs worden aangetoond.</li>
        </ul>
    </p>

    <p>
        2.1 <i>Aantonen aanspraak toepassing nultarief</i><br/>
        De aanspraak op toepassing van het nultarief moet door de leverancier aan de hand van boeken en bescheiden worden aangetoond. In elk geval is vereist dat de leverancier beschikt over de volgende bescheiden:
        <ul>
            <li>een afschrift van de op naam van de koper gestelde verkoopfactuur. In plaats van de verkoopfactuur kan ook een ander bescheid dienen mits hierop dezelfde gegevens zijn vermeld als op de factuur en de aard en de hoeveelheid van de goe- deren duidelijk is vermeld. Het opmaken van een bescheid (factuur, cheque (zie 2.2) of dergelijke) waarop de leveringen van een ondernemer op verschillende data zijn samengevat, kan er niet toe leiden dat het nultarief toepassing vindt in de gevallen waarin die verschillende, individuele leveringen niet voldoen aan de voorwaarden voor toepassing van het nultarief. Hetzelfde geldt als één bescheid is opgemaakt van leveringen door verschillende leveranciers. Het vermelden van de gegevens op de factuur geschiedt bij levering en niet achteraf;</li>
            <li>een afschrift van het legitimatiebewijs van de koper;</li>
            <li>een door de douane voor uitvoer uit de EU afgetekende (kopie)factuur of een daarmee gelijk te stellen be- scheid (origineel). De leverancier kan de uitvoer ook aantonen aan de hand van een door bemiddeling van de koper verkregen bewijsstuk waaruit blijkt dat de geleverde goederen in een land buiten de Gemeenschap definitief zijn ingevoerd, zoals een afschrift van een in een dergelijk land gedane definitieve aangifte ten invoer.</li>
        </ul>
    </p>

    <p>
        Op het moment van levering beschikt de leverancier niet over alle bovengenoemde bescheiden, met name niet over een door de douane voor uitvoer uit de EU afgetekend bescheid. Om te bereiken dat hij alsnog daarover de beschikking krijgt, past de leverancier in de praktijk het nultarief toe door wel omzetbelasting in rekening te brengen, maar die belasting aan de reiziger terug te geven zodra hij beschikt over alle bescheiden die noodzakelijk zijn voor toepassing van het nultarief. Daarmee bereikt de leverancier dat de reiziger zich inspant om het bewijs van uitvoer uit de EU aan hem te doen toekomen. De leverancier vraagt het omzetbelastingbedrag op zijn beurt terug van de Belastingdienst. De inspecteur zal ambtshalve teruggaaf verlenen als wordt voldaan aan de hiervoor beschreven voorwaarden voor toepassing van het nultarief.
    </p>

    <p>
        Wanneer de teruggaafprocedure wordt toegepast dient de leverancier op het moment van levering minimaal vast te stellen dat het een koper betreft die is gevestigd buiten de EU, of zich daar binnen drie maanden gaat vestigen. Hiertoe zal de leverancier de woonplaats moeten vaststellen aan de hand van het identificatiebewijs. Het nummer van het identificatiebewijs dient de leverancier op de factuur of de cheque te vermelden. Op het moment dat de leverancier de omzetbelasting terugvraagt van de Belastingdienst moet worden voldaan aan alle hiervoor beschreven voorwaarden voor de toepassing van het nultarief. Daarbij maakt het geen verschil of de bescheiden door de reiziger zelf aan de leverancier worden aangeleverd dan wel dat de reiziger gebruik maakt van een faciliterend bedrijf dat zorgt voor de verzameling van de benodigde bescheiden en deze vervolgens verstrekt aan de leverancier. De vereiste bescheiden kunnen ook worden gearchiveerd bij een faciliterend bedrijf mits zij beschikbaar zijn en toegankelijk blijven voor controle bij de leverancier door de Belastingdienst.
    </p>

    <p>
        Overigens is de terugbetaling van de omzetbelasting aan de reiziger een civielrechtelijke aangelegenheid tussen de reizigere reiziger en diens leverancier.
    </p>

    <p>
        2.2 <i>Cheques</i><br/>
        Leveranciers kunnen bij toepassing van het nultarief deelnemen aan een zogenoemd cheque-systeem dat wordt uitgegeven door faciliterende ondernemers. In plaats van een factuur, kopie-factuur of soortgelijk bescheid ontvangen de reizigers bij hun aankopen van de deelnemende leveranciers een cheque, waarop de gegevens van de goederen zijn vermeld. De cheque (eventueel samen met aanvullende bescheiden) dient te voldoen aan de factuurvereisten. De cheque is vormvrij.
    </p>

    <p>
        Met de cheque kunnen reizigers direct na de uitvoer van de goederen over het terug te geven bedrag beschikken. Als de cheque en de goederen door een reiziger bij de uitvoer uit de EU aan de douane worden aangeboden, kunnen de ambtenaren de cheque aan de achterzijde voorzien van de vereiste ambtelijke verklaring, kantoorstempel en handtekening. Desgevraagd moet de reiziger daarbij inzage geven in de bescheiden die op de aankoop van de goederen betrekking hebben. Na behandeling geven de ambtenaren de cheque aan de reiziger terug. Daarna kan de reiziger de cheque bij een door de faciliterende ondernemer aangewezen uitbetalingskantoor innen. Door tussenkomst van de faciliterende ondernemer keert de cheque bij de leverancier terug. Deze kan de aldus behandelde cheques vervolgens voor de toepassing van het nultarief overleggen als bewijs van uitvoer van de daarop vermelde goederen.
        De reiziger ontvangt de cheque terug als deze niet kan worden voorzien van de vereiste ambtelijke verklaring ( bijv. omdat deze niet of niet volledig is ingevuld of de daarop gegeven omschrijving van de goederen niet in overeenstemming is met de aangeboden goederen).
    </p>

    <p>
        <u>b. voor militairen</u><br/>
        UITVOERINGSREGELING  ALGEMENE  WET  INZAKE  RIJKSBELASTINGEN  1994, ARTIKEL 32/39
    </p>

    <p>
        4. Een in het eerste lid bedoelde vrijstelling van omzetbelasting wordt verleend in de vorm van teruggaaf van betaalde belasting. Ingeval evenwel een prestatie wordt verricht aan een diplomatieke of consulaire vertegenwoordiging, een internationale organisatie, buitenlandse NAVO-strijdkrachten of een militaire begraafplaats, kan de ondernemer die de prestatie verricht, afzien van het in rekening brengen van omzetbelasting indien de instelling tijdig aan de ondernemer een geldige verklaring van de inspecteur ter beschikking stelt waaruit blijkt dat geen belasting in rekening hoeft te worden gebracht. Op verzoek van de in de tweede volzin bedoelde instelling geeft de inspecteur deze verklaring af indien naar zijn oordeel aanspraak bestaat op vrijstelling van omzetbelasting en de vergoeding ten minste € 35.000 bedraagt.
    </p>

    <p>
        <u>c. voor diplomaten</u><br/>
        UITVOERINGSREGELING  ALGEMENE  WET  INZAKE  RIJKSBELASTINGEN  1994, ARTIKEL 32/39
    </p>

    <p>
        <i>Diplomaten in NL gestationeerd (art. 32, 33 35 en 36 Uitvoeringsregeling AWR)</i><br/>
        <ul>
            <li>Verkoop met btw tenzij, diplomaat op het moment van aankoop een vergunning overhandigd van de Belastingdienst dat hij btw vrij mag inkopen. Dit wordt afgegeven als de vergoeding minimaal EUR35.000 betreft;</li>
            <li>Vrijstelling wordt verleend via een teruggaaf en niet een rechtstreekse vrijstelling toegepast door de leverancier. In Nederland dient de Diplomaat zelf via een OB100 formulier een teruggaaf verzoek in te dienen bij de Nederlandse belastingdienst. Dit geldt ook voor de persoonlijk gebruik van goederen indien de diplomaten in Nederland blijven.</li>
        </ul>
    </p>

    <p>
        <i>Diplomaten niet in NL gestationeerd, maar in een ander EU-land (art. 40 Uitvoeringsregeling AWR)</i><br/>
        Het onderstaande geldt alleen voor officieel gebruik en het moet gaan om goederen die buiten Nederland worden gebruikt:
        <ul>
            <li>Verkoop kan onder strikte voorwaarden tegen 0% à diplomaat moet een certificaat overhandigen. Indien ze bij het moment van aankoop niet hebben dient met btw te worden gefactureerd.</li>
            <li>Indien verkoop met btw heeft plaatsgevonden, kan de diplomaat via de Nederlandse Belastingdienst het btw-bedrag terugvragen. Het is evt. ook mogelijk dat zij via de leverancier het btw-bedrag terugkrijgen.</li>
        </ul>
    </p>

    <p>
        <i>Diplomaten buiten de EU</i><br/>
        Dient conform reguliere export dan wel reisbagage regeling te worden afgehandeld.
    </p>
</template>
