<template name="activity_popup">
    <div class="popup popup-activity">
        <div class="content-block">
            <a href="#" class="close-popup">Close popup</a>
            <h2>Add activity</h2>
            {{#with getActivityObj}}
                <form name="add-activity-log">
                <div class="list-block media-list">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-subtitle">
                                        {{#if companyId}}
                                            <input type="hidden" name="companyId" value="{{companyId}}">
                                            <i class="icon icon-companies"></i> {{name}}
                                        {{/if}}
                                        {{#if shopId}}
                                            <input type="hidden" name="shopId" value="{{shopId}}">
                                            <i class="icon icon-shops"></i> {{name}}
                                        {{/if}}
                                        {{#if contactId}}
                                            <input type="hidden" name="contactId" value="{{contactId}}">
                                            <i class="icon icon-contacts"></i> {{name}}
                                        {{/if}}
                                        {{#if affiliateId}}
                                            <input type="hidden" name="affiliateId" value="{{affiliateId}}">
                                            <i class="icon icon-affiliates"></i> {{name}}
                                        {{/if}}
                                        {{#if invoiceId}}
                                            <input type="hidden" name="invoiceId" value="{{invoiceId}}">
                                            <i class="icon icon-vtb"></i> {{name}}
                                        {{/if}}
                                        {{#if receiptId}}
                                            <input type="hidden" name="receiptId" value="{{receiptId}}">
                                            <i class="icon icon-receipt"></i> {{name}}
                                        {{/if}}
                                        {{#if travellerId}}
                                            <input type="hidden" name="travellerId" value="{{travellerId}}">
                                            <i class="icon icon-traveller"></i> {{name}}
                                        {{/if}}
                                        {{#if paymentId}}
                                            <input type="hidden" name="paymentId" value="{{paymentId}}">
                                            <i class="icon icon-payments"></i> {{name}}
                                        {{/if}}
                                        {{#if payoutId}}
                                            <input type="hidden" name="payoutId" value="{{payoutId}}">
                                            <i class="icon icon-payouts"></i> {{name}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Type</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <select name="type" required="required">
                                            {{#each getActivityLogTypeOptions}}
                                                <option value="{{this}}" selected="{{isSelected ../addType this}}">{{_ this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Assignee</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <select name="userId">
                                            <option value=""> -- </option>
                                            {{#each getVatties}}
                                                <option value="{{_id}}" selected="{{isSelected ../userId _id}}">{{profile.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Status</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <select name="status" required="required">
                                            {{#each getActivityLogStatusOptions}}
                                                <option value="{{this}}" selected="{{isSelected ../addStatus this}}">{{_ this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Subject</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="text" name="subject" value="{{subject}}" required="required">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Due date</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="date" name="due">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Notes</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <textarea name="notes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <a href="#" class="button button-big button-fill save-activity">Add activity</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
            {{/with}}
        </div>
    </div>
</template>
