<template name="login">
    <div class="login">
        <p class="center">
            <img src="/images/vatfree.png" width="50%"/>
        </p>
        <p class="buttons-row">
            <a href="#" class="button button-big login-with-google"><i class="f7-icons">social_googleplus</i> Google</a>
        </p>
    </div>
</template>
