<template name="addContactModal">
    <div id="modal-add-contact" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <h3 class="m-t-none m-b">Add contact</h3>
                            <form role="form" name="add-contact-form">
                                <div class="form-group required">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" required="required" tabindex="0">
                                </div>
                                <div class="form-group">
                                    <label>Job title</label>
                                    <input type="text" name="jobTitle" class="form-control" tabindex="0">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" tabindex="0">
                                </div>
                                <div class="form-group">
                                    <label>Telephone</label>
                                    <input type="text" name="tel" class="form-control" tabindex="0">
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" name="addressFirst" class="form-control" tabindex="0">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Postal code</label>
                                            <input type="text" name="postalCode" class="form-control" tabindex="0">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" name="city" class="form-control" tabindex="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Country</label>
                                    <select name="countryId" class="form-control" tabindex="0">
                                        <option value=""> -- </option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                {{#unless ignoreShop}}
                                    {{#if shopId}}
                                        <input type="hidden" name="shopId" value="{{shopId}}">
                                    {{else}}
                                        <div class="form-group">
                                            <label>Shop</label>
                                            <select name="shopId" class="form-control" tabindex="0">
                                            </select>
                                        </div>
                                    {{/if}}
                                {{/unless}}
                                {{#unless ignoreCompany}}
                                    {{#if companyId}}
                                        <input type="hidden" name="companyId" value="{{companyId}}">
                                    {{else}}
                                        <div class="form-group">
                                            <label>Company</label>
                                            <select name="companyId" class="form-control" tabindex="0">
                                            </select>
                                        </div>
                                    {{/if}}
                                {{/unless}}
                                {{#unless ignoreAffiliate}}
                                    {{#if affiliateId}}
                                        <input type="hidden" name="affiliateId" value="{{affiliateId}}">
                                    {{else}}
                                        <div class="form-group">
                                            <label>Affiliate</label>
                                            <select name="affiliateId" class="form-control" tabindex="0">
                                            </select>
                                        </div>
                                    {{/if}}
                                {{/unless}}
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Add</strong></button>
                                    <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-add-contact"><strong>Cancel</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
