<template name="Contacts">
    {{#if addingItem}}
        {{> addContactModal }}
    {{/if}}
    <div class="wrapper wrapper-content">
        <div class="row Contacts">
            {{#if showImports}}
                <div class="col-sm-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                <a class="btn btn-default btn-icon contacts-import" href="#" accesskey="b"><i class="icon icon-traveller"></i><u>B</u>ack to list</a>
                            </div>
                            <h2>Contact Imports</h2>
                            <div class="full-height-scroll">
                                <div class="table-responsive infinite-scrolling">
                                    {{> contactsImport }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                {{#if isInVatfreeRole 'admin'}}
                                    {{#if runningExport}}
                                        <a class="btn btn-link" href="#" accesskey="e" tabindex="-1">Exporting ...</a>
                                    {{else}}
                                        <a class="btn btn-link contact-email-export" href="#" accesskey="e" tabindex="-1"><u>E</u>xport emails</a>
                                    {{/if}}
                                {{/if}}
                                <a class="btn btn-default btn-icon contacts-import" href="#" accesskey="i"><i class="icon icon-contacts"></i><u>I</u>mports</a>
                                <a class="btn btn-info btn-icon add-item pull-right" href="#" accesskey="a"><i class="icon icon-create"></i><u>A</u>dd</a>
                            </div>
                            <h2>Contacts</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Search contact" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                                </span>
                            </div>
                            <div class="input-group filter-icons">
                                <span class="label-filter-group">
                                    <span class="filter-icon type-filter-icon {{isContactTypeFilter "shopId"}}" id="shopId" title="Shop"><i class="icon icon-shops"></i></span>
                                    <span class="filter-icon type-filter-icon {{isContactTypeFilter "companyId"}}" id="companyId" title="Company"><i class="icon icon-companies"></i></span>
                                    <span class="filter-icon type-filter-icon {{isContactTypeFilter "affiliateId"}}" id="affiliateId" title="Affiliate"><i class="icon icon-affiliates"></i></span>
                                </span>
                                <span class="filter-icon filter-icon-spacing"></span>
                            </div>
                            {{#with getContactStats}}
                                <div class="list-aggregates">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td># contacts: {{count}}</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {{/with}}
                            <div class="clients-list item-list Contacts-list">
                                {{#if initialLoadDone}}
                                    <div class="full-height-scroll">
                                        <div class="table-responsive infinite-scrolling">
                                            {{> contactsList contacts=getContacts includeHeader=true sorting=getSorting }}
                                        </div>
                                    </div>
                                {{else}}
                                    {{> loading }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#with getActiveItem}}
                    <div class="col-sm-4">
                        {{> ContactInfo }}
                    </div>
                {{/with}}
            {{/if}}
        </div>
    </div>
</template>
