<template name="ContactEdit">
    {{#if Template.subscriptionsReady}}
        {{#with itemDoc}}
            {{> pageHeading title=profile.name category='Contacts' categoryLink='/contacts' }}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-sm-8">
                        {{> contactEditForm }}
                    </div>
                    <div class="col-sm-4">
                        {{> ContactInfo }}
                    </div>
                </div>
            </div>
        {{/with}}
    {{else}}
        {{> loading }}
    {{/if}}
</template>

<template name="contactEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Contact details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Activity</a></li>
            <li class=""><a data-toggle="tab" href="#tab-files"> Files</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" required="required" placeholder="Contact name" value="{{profile.name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Company name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="companyName" placeholder="Contact company name" value="{{profile.companyName}}" required="required" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Job title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="jobTitle" placeholder="Job title" value="{{profile.jobTitle}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="email" placeholder="Email address" value="{{profile.email}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Telephone</label>
                                <div class="col-sm-4">
                                    <input type="tel" class="form-control" name="tel" placeholder="Telephone number" value="{{profile.tel}}">
                                </div>
                                <label class="col-sm-2 control-label">Telephone 2</label>
                                <div class="col-sm-4">
                                    <input type="tel" class="form-control" name="tel2" placeholder="Telephone number 2" value="{{profile.tel2}}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="addressFirst" placeholder="Address" value="{{profile.addressFirst}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">&nbsp;</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="postalCode" placeholder="Postal code" value="{{profile.postalCode}}">
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="city" placeholder="City" value="{{profile.city}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-10">
                                    <select name="countryId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}" selected="{{isCountrySelected}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Preferred language</label>
                                <div class="col-sm-10">
                                    <select name="language" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#each getShopLanguages}}
                                            <option value="{{code}}" selected="{{isLanguageSelected ../profile.language}}">{{en}} ({{name}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">E-mail template</label>
                                <div class="col-sm-10">
                                    <select name="emailTemplateId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getEmailTemplates}}
                                            <option value="{{_id}}" selected="{{isEmailTemplateSelected}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Shop</label>
                                <div class="col-sm-10">
                                    <select name="shopId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if profile.shopId}}
                                            <option value="{{profile.shopId}}" selected="selected">{{getShopName profile.shopId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Company</label>
                                <div class="col-sm-10">
                                    <select name="companyId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if profile.companyId}}
                                            <option value="{{profile.companyId}}" selected="selected">{{getCompanyDescription profile.companyId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Affiliate</label>
                                <div class="col-sm-10">
                                    <select name="affiliateId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if profile.affiliateId}}
                                            <option value="{{profile.affiliateId}}" selected="selected">{{getAffiliateDescription profile.affiliateId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="notes" placeholder="Notes about this Contact">{{private.notes}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="text-right">
                        <a class="btn btn-primary add-activity-log" href="#">+ Add</a>
                    </div>
                    {{#if addingActivityLog }}
                        {{> addActivityLogModal contactId=_id parentVariable='addingActivityLog' }}
                    {{/if}}

                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> activityLogsList activityLogs=getActivityLog includeHeader=true showDetails=true }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-files" class="tab-pane">
                <div class="panel-body">
                    {{> tab_files securityRole='contacts-update' disallowUpload=isLocked fileContext=getFileContext allowDelete=true }}
                </div>
            </div>
        </div>
    </div>
</template>
