<template name="ContactInfo">
    <div class="ibox contact-info">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    <div class="row m-b-lg">
                        <div class="col-lg-12">
                            <strong>{{profile.name}}</strong><br/>
                            {{#if profile.jobTitle}}<i>{{profile.jobTitle}}</i><br/>{{/if}}
                            <p>
                                {{profile.addressFirst}}<br/>
                                {{profile.postalCode}} {{city}}<br/>
                                {{getCountryName profile.countryId}}
                            </p>
                            {{#if email}}
                                <a class="btn btn-primary btn-sm btn-block" href="mailto:{{profile.email}}">
                                    <i class="fa fa-envelope"></i> Send Message
                                </a>
                            {{/if}}
                        </div>
                    </div>
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>Contact summary</strong>
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    <span class="pull-right">
                                        <a href="mailto:{{profile.email}}">
                                            {{profile.email}}
                                        </a>
                                    </span>
                                    Email
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        <a href="tel:{{profile.tel}}">
                                            {{profile.tel}}
                                        </a>
                                    </span>
                                    Tel
                                </li>
                                {{#if profile.shopId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/shop/{{profile.shopId}}">
                                                {{getShopName profile.shopId}}
                                            </a>
                                        </span>
                                        Shop
                                    </li>
                                {{/if}}
                                {{#if profile.companyId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/company/{{profile.companyId}}">
                                                {{getCompanyName profile.companyId}}
                                            </a>
                                        </span>
                                        Company
                                    </li>
                                {{/if}}
                                {{#if profile.affiliateId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/affiliate/{{profile.affiliateId}}">
                                                {{getAffiliateName profile.affiliateId}}
                                            </a>
                                        </span>
                                        Affiliate
                                    </li>
                                {{/if}}
                            </ul>
                            {{#if profile.notes}}
                                <strong>Notes</strong>
                                <p>
                                    {{profile.notes}}
                                </p>
                            {{/if}}
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
