<template name="contactsList">
    <table class="table table-striped table-hover contact-list">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'profile.name'}}" data-id="profile.name">Name</th>
                    <th class="sort-header {{isHeaderSorting 'profile.jobTitle'}}" data-id="profile.jobTitle">Job title</th>
                    <th class="sort-header {{isHeaderSorting 'profile.email'}}" data-id="profile.email" colspan="2">Email</th>
                    <th class="sort-header {{isHeaderSorting 'profile.tel'}}" data-id="profile.tel" colspan="2">Telephone</th>
                    <th class="sort-header {{isHeaderSorting 'createdAt'}}" data-id="createdAt">Added</th>
                    <th class="sort-header {{isHeaderSorting 'updatedAt'}}" data-id="updatedAt">Updated</th>
                    <th>Type</th>
                    {{#if selectable}}
                        <th>&nbsp;</th>
                    {{/if}}
                    {{#if actions}}
                        <th>&nbsp;</th>
                    {{/if}}
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each contacts}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/contact/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td><a class="client-link">{{profile.name}}</a></td>
                <td><a class="client-link">{{profile.jobTitle}}</a></td>
                <td class="contact-type">
                    <i class="fa fa-envelope"> </i>
                </td>
                <td><a href="mailto:{{profile.email}}">{{profile.email}}</a></td>
                <td class="contact-type">
                    <i class="fa fa-phone"> </i>
                </td>
                <td><a href="tel:{{profile.tel}}">{{profile.tel}}</a></td>
                <td>{{formatDate createdAt}}</td>
                <td>{{formatDate updatedAt}}</td>
                <td>
                    {{#if profile.shopId}}
                        <span title="Shop contact"><i class="icon icon-shops"></i></span>
                    {{/if}}
                    {{#if profile.companyId}}
                        <span title="Contact contact"><i class="icon icon-companies"></i></span>
                    {{/if}}
                    {{#if profile.affiliateId}}
                        <span title="Shop contact"><i class="icon icon-affiliates"></i></span>
                    {{/if}}
                </td>
                {{#if ../selectable}}
                    <td>
                        <div class="pretty-checks">
                            <input type="checkbox" name="contacts.{{_id}}" id="contacts.{{_id}}" checked="{{../allSelected}}"/><label for="contacts.{{_id}}"></label>
                        </div>
                    </td>
                {{/if}}
                {{#if ../actions}}
                    <td>
                        {{#each ../actions}}
                            <i class="icon icon-{{icon}} list-action cursor-pointer" id="{{../_id}}"></i>
                        {{/each}}
                    </td>
                {{/if}}
            </tr>
        {{else}}
            <tr>
                <td colspan="8">
                    <i>No contacts found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
