<template name="forms_map">
    <input type="text" class="form-control" id="_map_addressbar" placeholder="{{#if placeholder}}{{placeholder}}{{else}}{{t_ "Enter the name and location to search"}}{{/if}}">
    <input type="hidden" id="{{name}}" name="{{name}}" value="{{getLocationValue}}">
    <div class="map-container">
        {{> googleMap name="_map" options=getMapOptions}}
    </div>
</template>
