<template name="travellerEditReceipts">
    <div class="panel-body">
        {{#if Template.subscriptionsReady}}
            <div class="text-right">
                {{!--
                <span class="icon-toggle listview {{#if useListview}}active{{/if}}"><i class="fa fa-list"></i></span>
                <span class="icon-toggle cardview {{#unless useListview}}active{{/unless}}"><i class="fa fa-id-card-o"></i></span>
                --}}
                {{#if isInVatfreeRole 'receipts-create'}}
                    <a class="btn btn-primary add-receipt" href="#" accesskey="a">+ <u>A</u>dd</a>
                {{/if}}
            </div>
            {{#if addingReceipt}}
                {{> addReceiptModal userId=_id parentVariable='addingReceipt' }}
            {{/if}}

            <div class="row receipts">
                <div class="col-sm-12">
                    {{#if useListview}}
                        <div class="table-responsive item-list">
                            {{> receiptsList receipts=getReceipts includeHeader=true activeItem=activeReceiptId }}
                        </div>
                    {{else}}
                        {{#each getReceipts}}
                            <div class="col-lg-6 col-xl-4">
                                <div class="panel panel-{{getPanelReceiptStatus}}">
                                    <div class="panel-heading">
                                        <span class="pull-right" title="{{_ status}}"><i class="{{getPanelReceiptIcon}}"></i></span>
                                        {{getShopName}}
                                    </div>
                                    <div class="panel-body">
                                        <p class="receipt-crop-preview">
                                            <img src="/receipt.jpg" />
                                        </p>
                                    </div>
                                    <div class="panel-footer">
                                        <p>
                                            {{formatCurrency amount}}, Refund {{formatCurrency refund}}, Fee {{formatCurrency serviceFee}}<br/>
                                            #{{receiptNr}}, {{formatDate createdAt}}<br/>
                                            {{_ status}}
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-outline btn-danger">Reject</button>
                                            </div>
                                            <div class="col-md-6 right">
                                                <button type="button" class="btn btn-w-m btn-success">Validate</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        {{else}}
            {{> loading }}
        {{/if}}
    </div>
</template>
