<template name="view_qrcode">
    <div class="view view-qrcode">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">&nbsp;</div>
                <div class="">Scan QR code</div>
                <div class="right">
                    {{#if currentContext}}
                        <a class="reset link">
                            <span>Reset</span>
                        </a>
                    {{else}}
                        {{> open_config_panel }}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="qrcode" class="page">
                <div class="page-content">
                    <div class="page-padding">
                        {{#unless currentUser}}
                            {{> login }}
                        {{else}}
                            {{#with currentContext}}
                                <br/>
                                Target: {{target}} ({{getId}})<br/>
                                {{#if $eq getId "NEW"}}
                                    <img src="/images/no-phone.png" style="width: 100%;" /><br/>
                                    <br/>
                                    Cannot upload photos to unsaved elements
                                {{else}}
                                    {{#with getTraveller}}
                                        <h2>Traveller: {{profile.email}}</h2>
                                        {{> travellerCard }}
                                    {{/with}}
                                    {{#with getReceipt}}
                                        <h2>Receipt: {{receiptNr}}</h2>
                                        {{#with getTravellerDoc}}
                                            {{> travellerCard }}
                                        {{/with}}
                                        {{#with getShop}}
                                            {{> shopCard }}
                                        {{/with}}
                                    {{/with}}
                                    <hr/>
                                    <br/>
                                    <div class="file-thumb add-file-button">
                                        <label class="button button-big button-fill">
                                            <input type="file" name="photoFile" class="add-file-input" style="position:absolute; left:-9999px;" />
                                            <i class="icon icon-addphoto icon2x"></i> Send photo to admin
                                        </label>
                                    </div>
                                    <br/>
                                    <div class="file-thumb add-photo-button">
                                        <label class="button button-big button-fill">
                                            <i class="icon icon-addphotomob icon2x"></i> Send cropped photo to admin
                                        </label>
                                    </div>
                                {{/if}}
                            {{else}}
                                <p>
                                    Use this to scan the QR code in Phoenix to upload images from your mobile phone.
                                </p>
                                <img src="/qr-scan.svg" class="full-width-image"/>
                                <span class="button button-big button-fill scan-qr-code">Scan QR code</span>
                            {{/with}}
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
        {{> toolbar }}
    </div>
</template>
