<template name="countries">
    <div class="wrapper wrapper-content">
        <div class="row countries">
            <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>Countries</h2>
                        <div class="input-group">
                            <input type="text" placeholder="Search country" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                            </span>
                        </div>
                        <div class="clients-list item-list countries-list">
                            {{#if initialLoadDone}}
                                <div class="full-height-scroll">
                                    <div class="table-responsive infinite-scrolling">
                                       {{> countriesList countries=getCountries includeHeader=true sorting=getSorting }}
                                    </div>
                                </div>
                            {{else}}
                                {{> loading }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{#with getActiveItem}}
                <div class="col-sm-4">
                    {{> countryInfo }}
                </div>
            {{/with}}
        </div>
    </div>
</template>
