<template name="countryEdit">
    {{#with itemDoc}}
        {{> pageHeading title=getBreadcrumbTitle category='Countries' categoryLink='/countries' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-8">
                    {{> countryEditForm }}
                </div>
                <div class="col-sm-4">
                    {{> countryInfo }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="countryEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Country details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Translations</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="Country name" value="{{name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Code</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="code" placeholder="Country code" value="{{code}}">
                                </div>
                                <div class="col-sm-5">
                                    <div class="i-checks">
                                        <input type="checkbox" name="needVisa" value="1" checked="{{#if needVisa}}checked{{/if}}"/> Visa required for refund
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Currency</label>
                                <div class="col-sm-8">
                                    <select name="currencyId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> - Select currency - </option>
                                        {{#each getCurrencies}}
                                            <option value="{{_id}}" selected="{{isSelected _id ../currencyId}}">{{name}} ({{code}}, {{symbol}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Min Receipt Amount</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="minimumReceiptAmount" placeholder="Min Receipt Amount" value="{{formatAmount minimumReceiptAmount}}">
                                </div>
                                <label class="col-sm-2 control-label">Receipt validity (days)</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" name="receiptValidityDays" placeholder="For how many days is the receipt valid for refund" value="{{receiptValidityDays}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">VAT rates</label>
                                <div class="col-sm-10">
                                    {{#each getVatRates}}
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input type="text" name="rate.{{key}}" class="form-control" value="{{rate}}" placeholder="Rate ...">
                                            </div>
                                            <div class="col-sm-7">
                                                <input type="text" name="rateDescription.{{key}}" class="form-control" value="{{description}}" placeholder="Description ..."><br/>
                                            </div>
                                            <div class="col-sm-1">
                                                <i class="icon icon-cross delete-vat-rate pointer"></i>
                                            </div>
                                        </div>
                                    {{/each}}
                                    <button class="btn add-vat-rate">Add</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Telephone codes</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="telCodes" placeholder="Telephone codes" value="{{telCodes}}">
                                </div>
                                <div class="col-sm-4">
                                    Comma separated list
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="notes" placeholder="Notes about this country">{{notes}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <form name="item-edit-translations-form">
                        {{> translations translations=getTranslations values=this }}
                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-white cancel">Cancel / Close</button>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
