<template name="countriesList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'name'}}" data-id="name">Name</th>
                    <th class="sort-header {{isHeaderSorting 'code'}}" data-id="code">Code</th>
                    <th class="sort-header {{isHeaderSorting 'minimumReceiptAmount'}}" data-id="minimumReceiptAmount">Min Amount</th>
                    <th class="sort-header {{isHeaderSorting 'needVisa'}}" data-id="needVisa">Visa</th>
                    <th>Vat rates</th>
                    <th>i18n</th>
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each countries}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/country/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td class="client-status"><span class="flag-icon flag-icon-{{toLowerCase code}}"></span></td>
                <td><a class="client-link">{{name}}</a></td>
                <td>{{code}}</td>
                <td>{{formatCurrency minimumReceiptAmount}}</td>
                <td>
                    {{#if needVisa}}
                        <i class="icon icon-passportattention"></i>
                    {{else}}
                        -
                    {{/if}}
                </td>
                <td>
                    {{getVatRates}}
                </td>
                <td><span class="alert-danger">{{getMissingI18nTranslations}}</span></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
