<template name="dashboard_table_count_receipts_last_weeks">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <table class="table">
                    <tbody>
                        {{#each getStatusColors}}
                            <tr>
                                <td style="width: 20px; background-color: {{color}}"></td>
                                <td>{{_ status}}</td>
                                <td>{{getStatusValue}}</td>
                                <td>{{formatCurrency getStatusVat 0}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
