<template name="dashboard_table_invoices_last_x_months">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h3 class="font-bold no-margins">
                    Invoices last {{months}} months
                    {{#unless $eq getDataAggr 'status'}}
                        <span class="text-muted small"> - (with percentage paid after the numbers)</span>
                    {{/unless}}
                </h3>
            </div>
            <div class="table-responsive">
                <table class="table data-table">
                    <thead>
                        <tr>
                            <th>Month</th>
                            {{#each getPeriods}}
                                <th>{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total</td>
                            {{#each getPeriods}}
                                <td class="{{#if isLastPeriod}}highlight{{/if}} nobr">
                                    {{getTotalCount}}
                                    {{#with getTotalPaid}}
                                        <span class="text-muted small">({{this}}%)</span>
                                    {{/with}}
                                </td>
                            {{/each}}
                        </tr>
                        {{#each getTypes}}
                            <tr>
                                <td>{{title}}</td>
                                {{#each getPeriods}}
                                    <td class="{{#if isLastPeriod}}highlight{{/if}} nobr {{showWarning this .. (getTypeCount ..) (getPercentagePaid ..)}} {{showSuccess this .. (getTypeCount ..) (getPercentagePaid ..)}}">
                                        {{getTypeCount ..}}
                                        {{#with getPercentagePaid ..}}
                                            <span class="text-muted small">({{this}}%)</span>
                                        {{/with}}
                                    </td>
                                {{/each}}
                            </tr>
                        {{/each}}
                        {{#unless hideDetails}}
                            <tr>
                                <td>&nbsp;</td>
                                <td colspan="{{getPeriods.length}}">
                                </td>
                            </tr>
                            <tr>
                                <td>Invoice amounts</td>
                                {{#each getPeriods}}
                                    <td class="{{#if isLastPeriod}}highlight{{/if}} nobr">{{formatCurrency getTotalAmount 0}}</td>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>Service Fee</td>
                                {{#each getPeriods}}
                                    <td class="{{#if isLastPeriod}}highlight{{/if}} nobr">{{formatCurrency getTotalServiceFee 0}}</td>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>Realised Fee</td>
                                {{#each getPeriods}}
                                    <td class="{{#if isLastPeriod}}highlight{{/if}} nobr">
                                        {{formatCurrency getTotalRealisedServiceFee 0}}
                                    </td>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>% realised</td>
                                {{#each getPeriods}}
                                    <td class="{{#if isLastPeriod}}highlight{{/if}} nobr">
                                        {{formatAmount getTotalPercentRealised 0}}%
                                    </td>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>Average fee</td>
                                {{#each getPeriods}}
                                    <td class="{{#if isLastPeriod}}highlight{{/if}} nobr">{{formatCurrency getAverageInvoice 2}}</td>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>Total BTW</td>
                                {{#each getPeriods}}
                                    <td class="{{#if isLastPeriod}}highlight{{/if}} nobr">{{formatCurrency getTotalVat 0}}</td>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>Cash-in</td>
                                {{#each getPeriods}}
                                    <td class="{{#if isLastPeriod}}highlight{{/if}} nobr">
                                        {{formatCurrency getCashIn 0}}
                                    </td>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>Cash-out</td>
                                {{#each getPeriods}}
                                    <td class="{{#if isLastPeriod}}highlight{{/if}} nobr">
                                        {{formatCurrency getCashOut 0}}
                                    </td>
                                {{/each}}
                            </tr>
                            <tr>
                                <td>POPr</td>
                                {{#each getPeriods}}
                                    <td class="{{#if isLastWeek}}highlight{{/if}} nobr">{{getPoprCount}} ({{getPoprTotalCount}})</td>
                                {{/each}}
                            </tr>
                        {{/unless}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
