<template name="dashboard_table_team_receipt_stats">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h3 class="font-bold no-margins">
                    Team receipt stats
                </h3>
            </div>
            <div class="table-responsive">
                {{#if isLoading}}
                    {{> loading }}
                {{else}}
                    <table class="table data-table">
                        <thead>
                            <tr>
                                <th>Werkzaamheden</th>
                                <th>Totaal</th>
                                <th>&nbsp;</th>
                                <th><i class="icon icon-actorbot"></i> Burny</th>
                                {{#each getVatties}}
                                    <th><span title="{{profile.name}} ({{profile.email}})">{{getShortName}}</span></th>
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="pull-left">Total:</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>{{getTravellerTaskTotal}}</td>
                                {{#each getVatties}}
                                    <td>{{getVattyTaskTotal}}</td>
                                {{/each}}
                            </tr>
                            {{#each getTaskTypes}}
                                <tr>
                                    <td>{{this}}</td>
                                    <td>{{getTotal}}</td>
                                    <td>&nbsp;</td>
                                    <td>{{getTravellerTaskCount this}}</td>
                                    {{#each getVatties}}
                                        <td>{{getVattyTaskCount ..}}</td>
                                    {{/each}}
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="dashboard_table_team_traveller_stats">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h3 class="font-bold no-margins">
                    Team traveller stats
                </h3>
            </div>
            <div class="table-responsive">
                {{#if isLoading}}
                    {{> loading }}
                {{else}}
                    <table class="table data-table">
                        <thead>
                            <tr>
                                <th>Werkzaamheden</th>
                                <th>Totaal</th>
                                <th>&nbsp;</th>
                                <th><i class="icon icon-actorbot"></i> Burny</th>
                                {{#each getVatties}}
                                    <th>{{getShortName}}</th>
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="pull-left">Total:</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>{{getTravellerTaskTotal}}</td>
                                {{#each getVatties}}
                                    <td>{{getVattyTaskTotal}}</td>
                                {{/each}}
                            </tr>
                            {{#each getTaskTypes}}
                                <tr>
                                    <td>{{this}}</td>
                                    <td>{{getTotal}}</td>
                                    <td>&nbsp;</td>
                                    <td>{{getTravellerTaskCount this}}</td>
                                    {{#each getVatties}}
                                        <td>{{getVattyTaskCount ..}}</td>
                                    {{/each}}
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/if}}
            </div>
        </div>
    </div>
</template>
