<template name="loading">
    <div class="row loading">
        <div class="center">
            <div class="sk-spinner sk-spinner-three-bounce">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
        </div>
    </div>
</template>

<template name="uploading_file">
    <img src="/img/uploading.gif" />
</template>

<template name="storing_file">
    <img src="/img/storing.gif" />
</template>
