<template name="login">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h3>Welcome to Vatfree.com</h3>
            <p>
                This is the partner site of Vatfree.com.
            </p>
            <p>
                At the moment, you can only access this site with the link you have received in an email.
            </p>
            <p>
                Please contact <a href="mailto:support@vatfree.com">support@vatfree.com</a> for further information.
            </p>
        </div>
    </div>
</template>
