<template name="mainLayout">
    {{#if loggingIn}}
        {{> loading }}
    {{else}}
        <div id="wrapper" class="{{getBackgroundImage}}">
            <div id="page-wrapper" class="gray-bg">
            {{> topNavbar }}
            {{>Template.dynamic template=content}}
            {{> footer }}
            </div>
        </div>
    {{/if}}
</template>
