<template name="topNavbar">
    <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top hidden-xs" role="navigation">
            <div class="navbar-header">
                <a href="#">
                    {{#with getLogo}}
                        <img src="{{url}}" class="brand-logo" />
                    {{else}}
                        {{getEntityName}}
                    {{/with}}
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    {{#if showMenu}}
                        <li>
                            <a href="#">
                                /
                            </a>
                        </li>
                        <li class="{{#if isActivePath regex='^/invoices/'}}active{{/if}}">
                            <a href="/invoices/{{getInvoiceId}}/{{getInvoiceSecret}}">
                                {{_ "Invoice overview"}}
                            </a>
                        </li>
                        <li class="{{#if isActivePath regex='^/dashboard/'}}active{{/if}}">
                            <a href="/dashboard/{{getInvoiceId}}/{{getInvoiceSecret}}">
                                {{_ "Complimentary dashboard"}}
                            </a>
                        </li>
                    {{/if}}
                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="#" class="navbar-brand">
                            <img src="/vatfree@2x.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-default navbar-right visible-xs">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <img src="/vatfree@2x.png" />
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {{#if showMenu}}
                            <li class="{{#if isActivePath regex='^/invoices/'}}active{{/if}}">
                                <a href="/invoices/{{getInvoiceId}}/{{getInvoiceSecret}}">
                                    {{_ "Invoice overview"}}
                                </a>
                            </li>
                            <li class="{{#if isActivePath regex='^/dashboard/'}}active{{/if}}">
                                <a href="/dashboard/{{getInvoiceId}}/{{getInvoiceSecret}}">
                                    {{_ "Complimentary dashboard"}}
                                </a>
                            </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>
