div.archive-receipt {
    div.table {
        text-align: center;
        table {
            width: 60%;
            margin-left: 20%;

            tr {
                td {
                    height: auto;
                }
            }
        }
    }

    .file-list {
        text-align: left;
    }

    .buttons {
        margin-top: 20px;
        text-align: right;
    }
}
