.receipts {
    .panel {
        height: 360px;
        display: flex;
        flex-direction: column;

        .panel-heading {
            flex-grow: 0;
            flex-shrink: 0;

            i.fa {
                font-size: 18px;
            }
        }
        .panel-body {
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;

            .receipt-crop-preview {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .panel-footer {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}

.receipt-list {
    .shop-name {
        .shop-logo {
            margin-right: 5px;
            img {
                height: 20px;
            }
        }
    }
    img.partnershopStatusLogo {
        height: 15px;
        margin-top: -3px;
    }
    .receipt-list-type-icons {
        i.icon-receiptnato {
            color: #0088d0;
        }
        i.icon-receiptcargo {
            color: #f77c00;
        }
    }
}

.check-remarks {
    .check-remark {
        margin-top: 12px;
        .remark-name {
            font-weight: bold;
        }
        .remark {

        }
    }
    textarea {
        margin-top: 12px;
    }
}

.receipt-edit {
    .panel-body {
        div.ancestors {
            padding: 0;
            .ancestor {
                font-size: 12px;
            }
        }
    }
}

#modal-add-receipt {

    .new-shop-receipt {
        background-color: #e6007e;
        h3 {
            color: #fff;
        }
    }
    .add-header-buttons {
        .row {
            > div {
                display: flex;
                margin-top: 5px;

                label {
                    margin-right: 12px;
                }
            }
        }

        .icon {
            cursor: pointer;
            padding: 4px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 32px;
            margin-right: 6px;
            height: 44px;
            width: 44px;

            &.active {
                color: #fff;
                background-color: #0069b4;
            }
        }
    }
}

.btn.add-receipt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;

    i {
        margin-right: 5px;
    }
}

#wrapper {
    .receipt-add {
        font-weight: 100;
        font-size: 16px;

        .btn-primary {
            background-color: #96c139;
            border-color: #96c139;
            &.active, &:hover, &:focus {
                background-color: #a7d126 !important;
                border-color: #a7d126 !important;
            }
        }

        label {
            font-weight: 100;
            color: #979797;
            margin: 20px 0;
        }

        &.receipt-add-cargo {
            .pill-type-options {
                .pill-type-option {
                    @media (max-width: 768px) {
                        margin: 10px 6px !important;
                    }
                    @media (max-width: 512px) {
                        margin: 10px 2px !important;
                    }
                }
                @media (max-width: 340px) {
                    flex-direction: column;
                    .pill-type-option {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        font-size: 16px;
                        text-align: left;
                        line-height: 32px;
                        margin: 2px 2px !important;

                        i {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .shop-selection {
            position: relative;
            .input-group-addon {
                .icon {
                    font-size: 32px !important;
                }
            }
            .select2-selection, .select2-selection__rendered {
                height: 48px !important;
                line-height: 48px !important;
                .select2-selection__rendered {
                    color: #676a6c !important;
                    line-height: 44px !important;
                }
                .select2-selection__arrow {
                    height: 48px !important;
                    line-height: 48px !important;
                }
            }
        }

        .subtext {
            color: #979797;
            margin: 20px 0;
        }

        .select2-selection__rendered {
            color: #979797 !important;
            text-align: left;
        }

        button {
            font-weight: 100;
            padding: 5px 25px;
            &.active, &:hover, &:focus {
                background-color: #0069b4 !important;
                color: #fff !important;
            }
        }

        blockquote {
            font-size: 16px;
        }

        .sub-form {
            margin: 25px 0;

            .input-group-addon {
                color: #979797;
                width: 39px;
            }

            .form-group {
                margin-bottom: 4px;
            }

            label {
                font-size: 14px;
                text-align: right;
                margin-top: 8px;
                margin-bottom: 4px;
            }
        }

        blockquote {
            text-align: left;
            min-height: 55px;

            &.has-icon {
                padding-left: 50px
            }

            i.icon {
                position: absolute;
                left: 5px;
                top: 5px;
                font-size: 40px;
            }

            &.cargo-receipt-select {
                border-left: none !important;
                padding-left: 120px;

                i.icon {
                    font-size: 100px;
                    color: #a0a0a0;
                }

                @media (max-width: 768px) {
                    padding-left: 20px;
                    i.vattie {
                        display: none;
                    }
                }
            }
        }

        .receipt-add-files {
            text-align: left;

            .files {
                display: flex;
                .file-thumb {
                    height: 64px;
                    max-width: 128px;
                    border: 1px solid rgba(0,0,0,0.2);
                    border-radius: 5px;
                    overflow: hidden;
                    margin-right: 12px;

                    &.add-file-button {
                        text-align: center;
                        width: 64px;
                        .icon {
                            padding: 19px;
                            font-size: 24px;
                        }
                    }

                    img {
                        height: 64px;
                    }
                }
            }
        }
    }
}

.ibox.receipt-info {
    .tab-pane.active {
        margin-top: 20px;
    }

    .client-detail {
        .delete-receipt-container {
            text-align: center;
        }

        .list-group {
            .list-group-item {
                border-top: none;
                padding: 6px 0;
                color: #979797;

                &.divider {
                    min-height: 25px;
                }

                &.divider-icon {
                    border-bottom: 1px solid #4d4d4d;
                    width: 100%;

                    i.icon {
                        position: absolute;
                        color: #4d4d4d;
                        font-size: 40px;
                        top: -7px;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                        width: 38px;
                        background-color: #fff;
                    }
                }

                &.highlight {
                    color: #4d4d4d;
                    font-size: 16px;
                }

                &.strong {
                    line-height: 24px;
                }

                strong {
                    font-size: 24px;
                    font-weight: normal;
                }

                > ul {
                    margin: 12px 0 6px 0;
                }

                .dropzone {
                    margin-top: 12px;
                    padding: 6px;
                    border: 1px dashed #979797;
                    border-radius: 6px;
                    flex-direction: column;

                    .icon {
                        font-size: 56px;
                    }
                }
            }
        }
    }

    .tab-pane {
        > .row.shop {
            i.fa {
                font-size: 48px;
            }
        }

        img.partnership-status {
            height: 80px;
        }
    }
}

table.more-receipts-list {
    tbody {
        td {
            text-align: left;

            &.text-right {
                text-align: right;
            }

            i.icon {
                font-size: 21px;
            }
            ul.files {
                display: inline-flex;
                width: auto;
                margin: 2px;
                .file-thumb {
                    height: 32px;
                    max-width: 64px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    overflow: hidden;
                    margin-right: 12px;

                    img {
                        height: 32px;
                    }
                }
            }
        }
    }
}
