#modal-receipt-tasks, #modal-receipt-shop-tasks {
    .modal-dialog {
        width: 99%;
        height: 99%;
        margin: 5px auto;

        .modal-content {
            height: 100%;

            .modal-body {
                height: 100%;
                padding: 0;

                i.close-tasks {
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    cursor: pointer;
                }

                form {
                    height: 100%;
                }

                .receipt-task {
                    height: 100%;
                    display: flex;
                    flex-direction: row;

                    .receipt-files {
                        width: 150px;
                        padding: 12px;
                        flex-grow: 1;
                        flex-shrink: 0;
                        border-right: 1px solid lightgray;
                        overflow: auto;

                        .qrcode-upload {
                            height: 126px;
                            width: 126px;
                            padding: 4px;
                            flex-grow: 0;
                            flex-shrink: 0;

                            canvas {
                                height: 118px !important;
                                width: 118px !important;
                            }
                        }

                        ul {
                            text-align: center;
                            padding: 0;

                            li {
                                margin-right: 0;
                                list-style: none;
                                border: none;
                                text-align: center;
                                display: block;

                                &.cover {
                                    .set-main-file {
                                        color: #93c01f;
                                    }
                                }

                                .file-icon {
                                    width: 126px;
                                }

                                img {
                                    max-width: 126px;
                                }

                                .image-container {
                                    img {
                                        border: 1px solid #f0f0f0;
                                        max-width: 126px;

                                    }
                                }

                                &.active {
                                    img {
                                        border: 2px solid #0d8ddb;
                                    }
                                }

                                i.icon {
                                    &.delete-file {
                                        margin-top: 32px;
                                    }
                                    &.create-images-from-pdf {
                                        margin-top: 64px;
                                    }
                                }
                            }
                        }
                    }

                    .receipt-main {
                        flex-grow: 1;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: auto;
                        position: relative;

                        .receipt-images {
                            width: 98%;
                            height: 6000px;
                            max-height: 90%;

                            .receipt-image, .compare-image {
                                flex-grow: 1;
                                width: 100%;
                                max-height: 100%;
                                padding: 0;
                                overflow: auto;

                                img.zoom-photo {
                                    width: 100%;
                                }

                                .close-compare-image {
                                    cursor: pointer;
                                }
                            }
                        }

                        &.compare-to-image {
                            .button-group {
                                display: none;
                            }
                            .receipt-images {
                                display: flex;
                                flex-direction: row;

                                .receipt-image, .compare-image {
                                    width: 50%;
                                }
                            }
                        }

                        .receipt-pdf {
                            flex: 1;
                            width: 100%;
                            height: 100%;
                            padding: 0;
                        }

                        .close-traveller-edit {
                            position: absolute;
                            right: 4px;
                            top: 4px;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }

                    .receipt-sidebar {
                        width: 400px;
                        height: 100%;
                        border-left: 1px solid lightgray;
                        flex-grow: 0;
                        flex-shrink: 0;
                        display: flex;
                        flex-direction: column;

                        .receipt-instructions {
                            color: #a94442;
                            background-color: #f2dede;
                            border-color: #ebccd1;
                            padding: 8px;
                            flex-shrink: 0;
                            height: auto;

                            p {
                                font-size: 18px;
                                margin: 0;
                                white-space: pre-line;
                            }
                        }

                        .receipt-info {
                            flex: 1 1 auto;
                            align-items: flex-end;
                            overflow: auto;
                            margin-bottom: 0;

                            .receipt-info-header {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                font-size: 22px;

                                img {
                                    height: 24px;
                                }

                                i {
                                    font-size: 24px;
                                }
                            }

                            form {
                                padding: 0 20px;

                                table {
                                    tr {
                                        color: #999;
                                        height: auto;

                                        &.spacer {
                                            td {
                                                border-top: none;
                                            }
                                        }

                                        td {
                                            width: 40%;
                                            border-top: 1px solid #e7eaec;
                                            padding: 10px 0;

                                            &:nth-child(2) {
                                                padding: 6px 0;
                                                width: 60%;
                                            }

                                            .input-group-addon {
                                                background-color: #f9f9f9;
                                            }
                                            input {
                                                color: #000;
                                                font-size: 18px;
                                                font-weight: bold;
                                                text-align: right;
                                            }
                                            .select2 {
                                                width: 100% !important;
                                            }
                                            label {
                                                color: #999;
                                                font-weight: normal;
                                            }
                                        }
                                    }
                                }
                            }

                            .similar-receipts-list {
                                table {
                                    tbody {
                                        tr {
                                            td {
                                                width: auto;
                                                padding: 0 8px;

                                                &:first-child {
                                                    width: 28px;
                                                }

                                                .image-container {
                                                    display: inline-block;
                                                    img {
                                                        height: 32px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .receipt-rejections {
                            overflow: auto;
                            flex: 1 1 auto;
                            padding: 12px;

                            > div {
                                padding-bottom: 4px;
                            }
                        }
                        .receipt-actions {
                            flex: none;
                            padding: 12px;
                            text-align: center;
                            background-color: #0d8ddb;
                        }
                    }
                }

                .waiting-for-receipt {
                    margin: auto;
                    text-align: center;
                    padding-top: 200px;

                    button {
                        margin-top: 100px;
                    }
                }
            }
        }
    }
}
