<template name="travellerRejectionList">
    <ul>
        {{#each getTravellerRejections}}
            <li>
                <span title="{{description}}">{{name}}</span>
            </li>
        {{/each}}
    </ul>
</template>