div#__blaze-root {
    background-image: url(vfbag.jpg);
    background-size: cover;
}

.loginscreen {
    > div {
        background-color: #fff;
        padding: 25px;

        .title {
            font-size: 26px;
            margin-bottom: 12px;
        }
    }
}

#wrapper {
    .navbar-default {
        min-height: 100%;
        background-color: #2f4050
    }
    .navbar-static-side {
        position: fixed;
    }
}
