<template name="footer">
    <div class="footer">
        <div class="pull-right">
        </div>
        <div>
            <strong>Copyright</strong> vatfree.com &copy; 2018
            {{#with getCurrentVersion}}
                - {{version}} - {{formatDateTime createdAt}}
            {{/with}}
        </div>
    </div>
</template>
