<template name="loading">
    <div class="loading">
        <img src="/img/loading.gif" />
    </div>
</template>

<template name="uploading_file">
    <img src="/img/uploading.gif" />
</template>

<template name="storing_file">
    <img src="/img/storing.gif" />
</template>
