<template name="pageHeading">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{{title}}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/" tabindex="-1">Home</a>
                </li>
                {{#if category}}
                <li>
                    <a href="{{categoryLink}}" tabindex="-1">{{category}}</a>
                </li>
                {{/if}}
                <li class="active">
                    <strong>{{#if subtitle}}{{{subtitle}}}{{else}}{{{title}}}{{/if}}</strong>
                </li>
            </ol>
        </div>
    </div>
</template>
