<template name="topNavigation">
    <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <a href="#" class="navbar-brand" tabindex="-1">Vatfree.com</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a aria-expanded="false" role="button" href="/pageOne"> Back to main Layout page</a>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="-1"> Menu item <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="-1"> Menu item <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="-1"> Menu item <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" tabindex="-1"> Menu item <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                            <li><a href="" tabindex="-1">Menu item</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="{{pathFor route='login'}}" tabindex="-1">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>