<template name="topNavbar">
    <div class="border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-primary " href="#" tabindex="-1"><i class="fa fa-bars"></i> </a>
                <form role="search" class="navbar-form-custom" name="top-search">
                    <div class="form-group">
                        <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search" tabindex="-1" value="{{getSearchTerm}}">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="#" tabindex="-1">
                        <span class="logout"><i class="icon icon-logout"></i> Log out</span>
                    </a>
                </li>

            </ul>

        </nav>
    </div>
</template>
