<template name="receiptRejectionEdit">
    {{#with itemDoc}}
        {{> pageHeading title=getBreadcrumbTitle category='Receipt rejections' categoryLink='/rejections-receipt' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-8">
                    {{> receiptRejectionEditForm }}
                </div>
                <div class="col-sm-4">
                    {{> receiptRejectionInfo }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="receiptRejectionEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Receipt rejection details</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="ReceiptRejection name" value="{{name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="description" placeholder="Notes about this receipt rejection">{{description}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Allow reopen</label>
                                <div class="col-sm-10">
                                    <div class="pretty-checks">
                                        <input type="checkbox" name="allowReopen" id="allowReopen" value="1" checked="{{#if allowReopen}}checked{{/if}}">
                                        <label for="allowReopen">Check this to allow the receipt to be re-opened by the traveller</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-10">
                                    <div class="pretty-checks">
                                        <select name="type" class="form-control">
                                            <option value="receipt" selected="{{isSelected type "receipt"}}">Receipt rejection</option>
                                            <option value="invoice" selected="{{isSelected type "invoice"}}">Invoice not collectable</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {{#if $eq getType 'receipt'}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Rejection group</label>
                                    <div class="col-sm-10">
                                        <div class="pretty-checks">
                                            <select name="receiptTypeIds" class="form-control" multiple="multiple">
                                                <option value="normal" selected="{{isSelected receiptTypeIds 'normal'}}">Normal</option>
                                                {{#each getReceiptTypes}}
                                                    <option value="{{_id}}" selected="{{isSelected ../receiptTypeIds _id}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">QR rejection</label>
                                    <div class="col-sm-10">
                                        <div class="pretty-checks">
                                            <input type="checkbox" name="qrRejection" id="qrRejection" value="1" checked="{{#if qrRejection}}checked{{/if}}">
                                            <label for="qrRejection">Check this to to show this reject reason on POPr QR receipts</label>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}

                            {{#each getTravellerLanguages}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{name}} ({{code}})</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="text.{{code}}" placeholder="{{name}}">{{getTextForLanguage}}</textarea>
                                    </div>
                                </div>
                            {{/each}}
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-danger delete-receipt-rejection">Delete</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</template>
