<template name="receiptRejectionsList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'name'}}" data-id="name">Name</th>
                    <th class="sort-header {{isHeaderSorting 'type'}}" data-id="type"><span title="Receipt or Invoice rejection">R/I</span></th>
                    <th class="sort-header {{isHeaderSorting 'receiptTypeIds'}}" data-id="receiptTypeIds">Type</th>
                    <th class="sort-header {{isHeaderSorting 'qrRejection'}}" data-id="qrRejection">QR</th>
                    <th class="sort-header {{isHeaderSorting 'description'}}" data-id="description">Description</th>
                    <th>Re-open</th>
                    <th>i18n</th>
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each receiptRejections}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/rejection-receipt/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td><a class="client-link">{{name}}</a></td>
                <td><i class="icon icon-{{getTypeIcon}}"></i></td>
                <td>
                    {{#each receiptTypeIds}}
                        <i class="icon {{getReceiptTypeIcon this}}"></i>
                    {{/each}}
                </td>
                <td>{{#if qrRejection}}<i class="icon icon-qrframe"></i>{{else}}&nbsp;{{/if}}</td>
                <td>{{description}}</td>
                <td>{{#if allowReopen}}✓{{else}}&nbsp;{{/if}}</td>
                <td><span class="alert-danger">{{getMissingTranslations}}</span></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
