<template name="receiptRejections">
    {{#if addingItem}}
        {{> addReceiptRejectionModal }}
    {{/if}}
    <div class="wrapper wrapper-content">
        <div class="row receipt-rejections">
            <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="pull-right">
                            <a class="btn btn-info btn-icon add-item" href="#" accesskey="a"><i class="icon icon-create"></i><u>A</u>dd</a>
                        </div>
                        <h2>Receipt Rejections</h2>
                        <div class="input-group">
                            <input type="text" placeholder="Search receipt rejections" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                            </span>
                        </div>
                        <div class="clients-list item-list receipt-rejections-list">
                            {{#if initialLoadDone}}
                                <div class="full-height-scroll">
                                    <div class="table-responsive infinite-scrolling">
                                        {{> receiptRejectionsList receiptRejections=getReceiptRejections includeHeader=true sorting=getSorting }}
                                    </div>
                                </div>
                            {{else}}
                                {{> loading }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{#with getActiveItem}}
                <div class="col-sm-4">
                    {{> receiptRejectionInfo }}
                </div>
            {{/with}}
        </div>
    </div>
</template>
