<template name="view_register_check">
    <div class="page-content">
        {{#with userInfo}}
            <form id="check">
                <div class="list-block media-list">
                    <ul>
                        <li>
                            <div class="item-content padding-xl no-overflow">
                                <div class="item-media"><i class="icon icon-email"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Email address</div>
                                    </div>
                                    <div class="item-subtitle highlight">{{profile.email}}</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-traveller"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Name</div>
                                    </div>
                                    <div class="item-subtitle"><input type="text" name="name" value="{{profile.name}}"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-phone"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Phone</div>
                                    </div>
                                    <div class="item-subtitle"><input type="tel" name="phone" value="{{profile.phone}}"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-countries"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Country</div>
                                    </div>
                                    <div class="item-subtitle">
                                        {{> view_register_check_country_input}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-passport"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Passport nr</div>
                                    </div>
                                    <div class="item-subtitle"><input type="text" name="passportNumber" value="{{profile.passportNumber}}"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-passportattention"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Passport expiration</div>
                                    </div>
                                    <div class="item-subtitle"><input type="date" name="passportExpirationDate" value="{{passportExpirationDateFormatted}}"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {{#if userVerified}}
                        <div class="content-block">
                            <i>User is already verified.</i>
                        </div>
                    {{else}}
                        {{#if getFiles}}
                            <div class="thumbs">
                                {{#each getFiles}}
                                    <div class="file-thumb file-mask">
                                        <div class="file-thumb-container">
                                            {{> getTemporaryImage }}
                                        </div>
                                        <a href="#" class="file-remove"><i class="f7-icons">close</i></a>
                                    </div>
                                {{/each}}
                                <div class="file-thumb add-file-button">
                                    <label>
                                        <input type="file" name="passportPhoto" style="position:absolute; left:-9999px;" />
                                        <i class="icon icon-addphotomob icon2x"></i>
                                    </label>
                                </div>
                                <div class="file-thumb add-photo-button">
                                    <label>
                                        <input type="file" name="receiptFile" class="add-file-input" style="position:absolute; left:-9999px;" />
                                        <i class="icon icon-addphoto icon2x"></i>
                                    </label>
                                </div>
                            </div>
                        {{else}}
                            <div class="content-block">
                                <label class="button button-big button-fill add-file-button">
                                    <input type="file" name="passportPhoto" style="position:absolute; left:-9999px;" />
                                    Scan passport
                                </label>
                            </div>
                        {{/if}}
                    {{/if}}
                    <div class="content-block">
                        <a href="#" class="button button-big button-fill button-secondary scan-receipts">Register receipts</a>
                    </div>
                </div>
            </form>
        {{/with}}
    </div>
</template>

<template name="view_register_check_country_input">
    <input id="checkCountryId" type="hidden" name="countryId" value="{{profile.countryId}}">
    <input id="checkCountryName" type="text" name="countryName" value="{{#if profile.countryName}}{{profile.countryName}}{{else}}{{profile.countryCode}} {{profile.country}}{{/if}}">
</template>
