<template name="view_register_popup_maskphoto">
    <div class="popup popup-mask-photo modal-in" style="display: block">
        <div class="content-block">
            <canvas id="passport" width="100" height="100"></canvas>
            <br/>
            <div class="row">
                <div class="col-50">
                    <a href="#" class="button button-big cancel">Cancel</a>
                </div>
                <div class="col-50">
                    <a href="#" class="button button-big button-fill save-popup-image">Save</a>
                </div>
            </div>
        </div>
    </div>
</template>
