<template name="view_register_receipts">
    <div class="page-content">
        {{#with receipts}}
            <div class="content-block">
                <a href="#" class="button button-big button-fill button-secondary scan-receipt">Register more receipts</a>
            </div>
            <div class="content-block">
                <a href="#" class="button button-big button-fill review-input">Review input</a>
            </div>

            {{#each this}}
                <div class="content-receipt">
                    <div class="content-block-title border">
                        Amount: {{#if amount}}{{formatCurrency amount}}{{else}}-{{/if}} - VAT: {{#if totalVat}}{{formatCurrency totalVat}}{{else}}-{{/if}}
                    </div>
                    <div class="thumbs">
                        {{#each files}}
                            <div class="file-thumb">
                                <div class="file-thumb-container">
                                    {{> getTemporaryImage }}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}

        {{else}}
            <div class="content-block">
                <a href="#" class="button button-big button-fill button-secondary scan-receipt">Register receipts</a>
            </div>
        {{/with}}
    </div>
</template>