<template name="view_register">
    <div class="view view-main">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    {{#unless onIndexPage}}
                        <a class="back link">
                            <span>Back</span>
                        </a>
                    {{/unless}}
                </div>
                <div class="">Register receipts</div>
                <div class="right">
                    {{> open_config_panel }}
                </div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="index" class="page">
                <div class="page-content">
                    {{#unless currentUser}}
                        <div class="page-padding">
                            {{> login}}
                        </div>
                    {{else}}
                        <div class="vatty-peak vatty-peak-right">
                            <img src="/images/vatty-right.svg" />
                        </div>
                        <form name="register-form">
                            <div class="content-block">
                                <h2>{{getLocationName}}</h2>
                                <div class="page-icon">
                                    <i class="icon icon-traveller"></i>
                                </div>
                            </div>
                            {{> view_register_inputs addReactiveVars}}
                            <div class="content-block">
                                <a href="#" class="button button-big button-fill search-client">Add new traveller</a>
                            </div>
                        </form>
                    {{/unless}}
                </div>
                <div data-page="check" class="page cached">
                    {{> view_register_check addReactiveVars }}
                </div>
                <div data-page="receipts" class="page cached view-receipts">
                    {{> view_register_receipts addReactiveVars }}
                </div>
                <div data-page="scan_receipt" class="page scan-receipt cached">
                    {{> view_register_scan_receipt addReactiveVars }}
                </div>
                <div data-page="review_input" class="page review-input cached">
                    {{> view_register_review_input addReactiveVars }}
                </div>
                <div data-page="view_photo" class="page view-photo cached">
                    {{> view_register_view_photo addReactiveVars }}
                </div>
            </div>
        </div>
        {{> toolbar }}
    </div>
    {{#if maskPhoto}}
        {{> view_register_popup_maskphoto addReactiveVars }}
    {{/if}}
</template>

<template name="view_register_inputs">
    <div class="content-block-title">{{!--or --}}Email address</div>
    <div class="list-block inset">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-email"></i></div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input id="registerEmail" type="email" name="email">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<template name="view_register_login">
    <div class="page-content">
        {{#unless loggingIn}}
            <div class="page-padding">
                {{> login }}
            </div>
        {{/unless}}
    </div>
</template>
