<template name="view_register_review_input">
    <div class="page-content">
        <div class="content-block-title">
            Total amount: {{formatCurrency getTotalAmount}}
        </div>
        <div class="content-block-title">
            Total VAT: {{formatCurrency getTotalVat}}
        </div>
        <div class="content-block-title">
            <b>Guesstimated refund: {{formatCurrency estimatedRefund}}</b>
        </div>

        {{#with userInfo}}
            <div class="list-block media-list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-traveller"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Name</div>
                                </div>
                                <div class="item-subtitle">{{profile.name}}</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Email</div>
                                </div>
                                <div class="item-subtitle">{{profile.email}}</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-phone"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Phone</div>
                                </div>
                                <div class="item-subtitle">{{profile.phone}}</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-countries"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Country</div>
                                </div>
                                <div class="item-subtitle">{{profile.countryName}}</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-passport"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Passport nr</div>
                                </div>
                                <div class="item-subtitle">{{profile.passportNumber}}</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-passportattention"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Passport expiration date</div>
                                </div>
                                <div class="item-subtitle">{{passportExpirationDateFormatted}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        {{/with}}

        {{#each receipts}}
            <div class="content-block-title border">
                Amount: {{#if amount}}{{formatCurrency amount}}{{else}}-{{/if}} - VAT: {{#if totalVat}}{{formatCurrency totalVat}}{{else}}-{{/if}}
            </div>
            <div class="thumbs">
                {{#each files}}
                    <div class="file-thumb">
                        <div class="file-thumb-container">
                            {{> getTemporaryImage }}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/each}}

        <div class="content-block">
            <a href="#" class="button button-big button-fill submit-receipts">Finalize</a>
        </div>
    </div>
</template>