<template name="view_register_scan_receipt">
    <div class="page-content">
        {{#with receipt}}
            <form id="scan-receipt">
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-description">
                                Shop:
                            </div>
                            {{> view_register_scan_receipt_shop_input addAppView}}
                        </li>
                        <li>
                            <div class="item-description">
                                 Purchase amount:
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title prefix">&euro;&nbsp;&nbsp;</div>
                                    <div class="item-input">
                                        <input type="number" name="amount" inputmode="numeric" pattern="^([0-9]+)?(\\.([0-9]{1,2})?)?$"
                                               min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="currency"
                                               value="{{formatAmount amount}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-description">
                                Total VAT:
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title prefix">&euro;&nbsp;&nbsp;</div>
                                    <div class="item-input">
                                        <input type="number" name="totalVat" inputmode="numeric" pattern="^([0-9]+)?(\\.([0-9]{1,2})?)?$"
                                               min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="currency"
                                               value="{{formatAmount totalVat}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label class="label-checkbox item-content">
                                <input type="checkbox" name="nonStandardVat" value="1" checked="{{nonStandardVat}}">
                                <div class="item-media">
                                    <i class="icon icon-form-checkbox"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">VAT is not Standard</div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <div class="item-description">
                                Purchase date:
                            </div>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-calender"></i></div>
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="date" name="purchaseDate" value="{{purchaseDateFormatted}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-description">
                                 Customs stamp date:
                            </div>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-receiptstamp"></i></div>
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="date" name="customsDate" value="{{customsDateFormatted}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-description">
                                Photos:
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="thumbs">
                                        {{#each getFiles}}
                                            <div class="file-thumb">
                                                <div class="file-thumb-container">
                                                    {{> getTemporaryImage }}
                                                </div>
                                                <a href="#" class="file-remove"><i class="f7-icons">close</i></a>
                                            </div>
                                        {{/each}}
                                        <div class="file-thumb add-file-button">
                                            <label>
                                                <input type="file" name="receiptFile" class="add-file-input" style="position:absolute; left:-9999px;" />
                                                <i class="icon icon-addphotomob icon2x"></i>
                                            </label>
                                        </div>
                                        <div class="file-thumb add-photo-button">
                                            <label>
                                                <input type="file" name="receiptFile" class="add-file-input" style="position:absolute; left:-9999px;" />
                                                <i class="icon icon-addphoto icon2x"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                    <a href="#" class="button button-big button-fill button-secondary submit-receipt">Save receipt</a><br/>
                    <br/>
                    <a href="#" class="button button-big button-fill button-default cancel-receipt">Cancel</a>
                </div>
            </form>
        {{/with}}
    </div>
</template>

<template name="view_register_scan_receipt_shop_input">
    <div class="item-content select-shop">
        <div class="item-media">
        {{#with getPartnershipStatusLogo}}
            <img src="/images/{{this}}" />
        {{else}}
            <i class="icon icon-shops"></i>
        {{/with}}
        </div>
        <div class="item-inner">
            <input id="scanReceiptShopId" type="hidden" name="shopId" value="{{shopId}}">
            <div id="scanReceiptShopName" name="shopName" style="width: 100%; min-height: 40px;">{{shopName}}</div>
        </div>
    </div>
</template>
