<template name="view_register_view_photo">
    <div class="page-content">
        <div class="content-block">
            {{#with getPhoto}}
                {{> getTemporaryImage filePath=filePath class='full-width-image' }}
            {{/with}}
        </div>
    </div>
</template>
