<template name="addNotificationTriggerModal">
    <div id="modal-add-notificationTrigger" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <h3 class="m-t-none m-b">Add notification trigger</h3>
                            <form role="form" name="add-notificationTrigger-form">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" required="required">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea name="description" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Collection</label>
                                    <select name="collection" class="form-control" required="required">
                                        <option value=""> - Select collection - </option>
                                        <option value="receipts">Receipts</option>
                                        <option value="travellers">Travellers</option>
                                        <option value="invoices">Invoices</option>
                                        <option value="shops">Shops</option>
                                        <option value="payouts">Payouts</option>
                                        <option value="affiliates">Affiliates</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select name="status" class="form-control" required="required">
                                        <option value="- insert -" selected="{{isSelected this ../status}}">On Insert</option>
                                        {{#each getStatusOptions}}
                                            <option value="{{this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Previous status</label>
                                    <select name="previousStatus" class="form-control" required="required">
                                        <option value=""> * Any * </option>
                                        {{#each getStatusOptions}}
                                            <option value="{{this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Notification template</label>
                                    <select name="emailTemplateId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getEmailTemplates}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Notification text</label>
                                    <select name="emailTextId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getEmailTexts}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Add</strong></button>
                                    <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-add-notificationTrigger"><strong>Cancel</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
