<template name="notificationTriggerEdit">
    {{#with itemDoc}}
        {{> pageHeading title=getBreadcrumbTitle category='Notification triggers' categoryLink='/notification-triggers' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-8">
                    {{> notificationTriggerEditForm }}
                </div>
                <div class="col-sm-4">
                    {{> notificationTriggerInfo }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="notificationTriggerEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Notification trigger details</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="NotificationTrigger name" value="{{name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="description" placeholder="Description of this notification trigger">{{description}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Collection</label>
                                <div class="col-sm-10">
                                    <select name="collection" class="form-control" required="required">
                                        <option value=""> - Select collection - </option>
                                        <option value="receipts" selected="{{isSelected collection 'receipts'}}">Receipts</option>
                                        <option value="travellers" selected="{{isSelected collection 'travellers'}}">Travellers</option>
                                        <option value="invoices" selected="{{isSelected collection 'invoices'}}">Invoices</option>
                                        <option value="shops" selected="{{isSelected collection 'shops'}}">Shops</option>
                                        <option value="payouts" selected="{{isSelected collection 'payouts'}}">Payouts</option>
                                        <option value="affiliates" selected="{{isSelected collection 'affiliates'}}">Affiliates</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-10">
                                    <select name="status" class="form-control" required="required">
                                        <option value="- insert -" selected="{{isSelected this ../status}}">On Insert</option>
                                        {{#each getStatusOptions}}
                                            <option value="{{this}}" selected="{{isSelected this ../status}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Previous status</label>
                                <div class="col-sm-10">
                                    <select name="previousStatus" class="form-control">
                                        <option value=""> * Any * </option>
                                        {{#each getStatusOptions}}
                                            <option value="{{this}}" selected="{{isSelected this ../previousStatus}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">E-mail template</label>
                                <div class="col-sm-10">
                                    <select name="emailTemplateId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getEmailTemplates}}
                                            <option value="{{_id}}" selected="{{isSelected _id ../emailTemplateId}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Text template</label>
                                <div class="col-sm-10">
                                    <select name="emailTextId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getEmailTexts}}
                                            <option value="{{_id}}" selected="{{isSelected _id ../emailTextId}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-danger delete-trigger">Delete trigger</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</template>
