<template name="notificationTriggerInfo">
    <div class="ibox notificationTrigger-info">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    <div class="row m-b-lg">
                        <div class="col-lg-12">
                            <strong>{{name}}</strong><br/>
                            {{description}}
                        </div>
                    </div>
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
