<template name="notificationTriggersList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="sort-header {{isHeaderSorting 'name'}}" data-id="name">Name</th>
                <th class="sort-header {{isHeaderSorting 'collection'}}" data-id="collection">Collection</th>
                <th class="sort-header {{isHeaderSorting 'status'}}" data-id="status">Status</th>
                <th class="sort-header {{isHeaderSorting 'previousStatus'}}" data-id="previousStatus">Previous status</th>
                <th data-id="symbol">Email template</th>
                <th data-id="symbol">Text template</th>
            </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each notificationTriggers}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/notification-trigger/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td><a class="client-link">{{name}}</a></td>
                <td>{{collection}}</td>
                <td>{{_ status}}</td>
                <td>{{getPreviousStatus}}</td>
                <td>{{getEmailTemplateName}}</td>
                <td>{{getEmailTextName}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
