<template name="view_popr">
    <div class="view view-popr">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">&nbsp;</div>
                <div class="">Scan QR code</div>
                <div class="right">
                    {{#if currentContext}}
                        <a class="reset link">
                            <span>Reset</span>
                        </a>
                    {{else}}
                        {{> open_config_panel }}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="popr" class="page">
                <div class="page-content">
                    <div class="page-padding">
                        {{#unless currentUser}}
                            {{> login }}
                        {{else}}
                            {{#with currentContext}}
                                <br/>
                                {{#if $eq receiptId "NEW"}}
                                    Scan QR code to pre-fill fields when adding<br/>
                                    <br/>
                                    <div class="add-receipt-image">
                                        <img src="/images/receipt-add.png" />
                                    </div>
                                    <br/>
                                    Already filled in fields may be lost!<br/>
                                    <br/>
                                    <div class="file-thumb scan-popr-qr-code">
                                        <label class="button button-big button-fill">
                                            <input type="file" name="photoFile" class="add-file-input" style="position:absolute; left:-9999px;" />
                                            <i class="icon icon-qrframe icon2x"></i> Scan POPr QR code
                                        </label>
                                    </div>
                                    <div class="image-responsive">
                                        <img src="/images/popr-logo.png" />
                                    </div>
                                {{else}}
                                    {{#with getReceipt}}
                                        <h2>Receipt: {{receiptNr}}</h2>
                                        {{#with getTravellerDoc}}
                                            {{> travellerCard }}
                                        {{/with}}
                                        {{#with getShop}}
                                            {{> shopCard }}
                                        {{/with}}
                                        <hr/>
                                        <br/>
                                        {{#if poprId}}
                                            Receipt has already been linked to a POPr receipt.
                                        {{else}}
                                            <div class="file-thumb scan-popr-qr-code">
                                                <label class="button button-big button-fill">
                                                    <input type="file" name="photoFile" class="add-file-input" style="position:absolute; left:-9999px;" />
                                                    <i class="icon icon-qrframe icon2x"></i> Scan POPr QR code
                                                </label>
                                            </div>
                                        {{/if}}
                                        <div class="image-responsive">
                                            <img src="/images/popr-logo.png" />
                                        </div>
                                    {{else}}
                                        Select a receipt in the admin to link to POPr QR code
                                    {{/with}}
                                {{/if}}
                            {{else}}
                                <p>
                                    Use this to scan the QR code in Phoenix to link to a POPr receipt.
                                </p>
                                <img src="/qr-scan.svg" class="full-width-image"/>
                                <span class="button button-big button-fill scan-qr-code">Scan QR code</span>
                            {{/with}}
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
        {{> toolbar }}
    </div>
</template>
