.tab-content {
    &.web-text-edit-form {
        .text-preview {
            white-space: pre-line;
        }

        .html-preview {
            white-space: pre-line;
            width: 100%;
            height: 400px;
            overflow: scroll;
            padding: 0 20px;
        }
    }
}
