<template name="view_register_contract_text_en">
    <h2>AGREEMENT</h2>

    <p>
        By signing this agreement, the above mentioned merchant enters into agreement with vatfree.com, registered as VATfree
        NL BV at Nieuwendammerkade 28a14, 1022 AB Amsterdam in The Netherlands, with Chamber of Commerce number
        34275057, concerning the following:
    </p>

    <h3>Services</h3>
    <ol>
        <li>
            The Merchant will refund the VAT via Vatfree.com to all eligible consumers, diplomats and/or military staff who
            make such a request. Vatfree.com will verify that all individuals have the appropriate documentation and meet other
            requirements, so that the merchant is entitled to apply the zero rate ruling.
        </li>
        <li>
            At the time of sale, the Merchant will provide the consumer with an invoice stating his or her name, address and
            passport number. The invoice must meet the requirements specified in countries’ Turnover Tax Act. If Merchant cannot
            meet these requirements, he shall provide the consumer with a completed Vatfree.com form, which Vatfree.com will make
            available to the Merchant. Once the first batch of forms run out, Merchant can download new forms by visiting
            www.vatfree.com and self print or reorder. Special forms for Military staff apply.
        </li>
        <li>
            Vatfree.com will administer the processing of the VAT refund in accordance with applicable regulations. This
            involves collecting and checking necessary data, acquiring proof of identification of the consumer, cross referencing with
            the NEMS-conditions, checking the customs stamps on all receipts, validating and digitization of the stamped receipts,
            pooling the receipts to an invoice for the Merchant, and facilitating the refund of the VAT to the consumer. The decision of
            the local Tax office that allows this procedure is attached as annex 1 ​and forms an integral part of this agreement.
        </li>
        <li>
            Vatfree.com charges a small fee for its work which will be at the consumers expense, through the withholding of a
            percentage of the refundable VAT. This fee depends on the amount of the VAT, is made transparent to the consumer
            beforehand and is specified on the website of Vatfree.com.
        </li>
        <li>
            Vatfree.com charges a monthly subscription fee excluding VAT, charged per twelve months in advance. Upgrade is
            possible at any time. Downgrade is possible after every twelve months. In case the FREE subscription is chosen, merchant
            will have access to a digital archive with a history of twelve months.
        </li>
    </ol>

    <h3>Contract Duration</h3>

    <ol start="6">
        <li>
            This agreement is entered into for an indefinite period of time from the date of signature. Premature cancellation
            is possible but must be done in writing with a notice period of three (3) months.
        </li>
    </ol>

    <h3>Terms of Payment</h3>

    <ol start="7">
        <li>
            Vatfree.com will create a bundle of Vat refunds on purchases for a given period and then submit them to the
            Merchant. The Merchant will receive an invoice for the total amount of VAT on purchased goods of the consumer.
            Vatfree.com will only make the VAT refund payment to the consumer(s) concerned once the payment of the entire
            outstanding invoice is received. If the Merchant has authorized direct debit, Vatfree.com can administer VAT cash
            payments to consumers who request this at the Vatfree.com service desk at Schiphol Airport or an authorized partner. If
            Vatfree.com is unable to pay the consumer the amount due (e.g. lack of appropriate bank details, incorrect contact
            information), this money will be held for two (2) years after the approval of the underlying tax-refund request. After this
            time, Vatfree.com will donate the unclaimed money to a charity of its choice.
        </li>
        <li>
            The Merchant must deduct the amount of the invoice from his next VAT return if the amount is less than € 1,000.
            If the amount exceeds € 1,000, the merchant must request for a correction of the VAT return which should be submitted to
            the Tax Office.
        </li>
        <li>
            The payment term of an invoice is fourteen (14) days, unless both parties have agreed upon direct debit.
        </li>
    </ol>

    <h3>Final Provisions</h3>
    <ol start="10">
        <li>
            The general terms and conditions of Vatfree.com apply to this agreement and are attached as annex 2​. These
            terms and conditions form an integral part of the agreement and the merchant declares, by signing this agreement, to have
            received these applicable terms and conditions.
        </li>
        <li>
            This agreement is governed exclusively by Dutch law. Any disputes arising from the agreement shall be submitted
            to the competent court in the district where Vatfree.com is located.
        </li>
    </ol>
</template>
