<template name="view_register_contract_text_nl">
    <h2>OVEREENKOMST</h2>

    <p>
        Door ondertekening van onderhavig formulier, komt merchant zoals hierboven omschreven met
        VATfree NL B.V., gevestigd op Nieuwendammerkade 28a14, 1022 AB Amsterdam in Nederland, met
        KvK nummer 34275057, het volgende overeen:
    </p>

    <h3>Diensten</h3>
    <ol>
        <li>
            Merchant zal de btw via vatfree.com restitueren aan de particuliere consument, diplomaat
            of militair, hierna te duiden als “reiziger”, die dat verzoekt en daarvoor in aanmerking komt.
            vatfree.com zal controleren of die reiziger over de juiste documenten beschikt en aan de overige
            vereisten voldoet, zodat merchant gerechtigd is het nultarief toe te passen.
        </li>
        <li>
            Merchant zal de reiziger op het moment van verkoop een factuur op naam, met vermelding
            van paspoortnummer, verstrekken. Deze factuur moet voldoen aan de vereisten genoemd in artikel
            35a van de Wet op de omzetbelasting 1968 (Wob). Indien merchant niet aan deze verplichting kan
            voldoen, zal hij op het moment van verkoop aan de reiziger een aankoopbon verstrekken samen
            met een ingevulde vatfree.com form, die vatfree.com aan merchant ter beschikking zal stellen. Na
            het starterspakket met forms kan merchant nieuwe forms bij vatfree.com bestellen. Voor militairen
            zijn er speciale formulieren.
        </li>
        <li>
            Vatfree.com zal de administratieve afhandeling van de btw-restitutie verrichten conform de
            geldende regelgeving. Dit houdt in het verzamelen en controleren van de benodigde gegevens en
            kopie legitimatie van de reiziger, het controleren van de NEMS-voorwaarden, het controleren van
            de stempels op de aankoopbewijzen, het digitaliseren van de afgestempelde aankoopbewijzen, het
            bundelen van de aankoopbewijzen tot een factuur voor de merchant en het restitueren van de btw
            aan de reiziger. Het besluit van de Belastingdienst die de in dat kader toegestane werkwijze
            omschrijft is als bijlage 1 aan deze overeenkomst gehecht en maakt daar onlosmakelijk deel van uit.
        </li>
        <li>
            Vatfree.com brengt een vergoeding voor haar werkzaamheden in rekening bij de reiziger,
            door middel van het inhouden van die vergoeding op de te restitueren btw. Deze vergoeding hangt
            af van de hoogte van het verkoopbedrag, wordt aan de reiziger inzichtelijk gemaakt en staat
            vermeld op de website van vatfree.com.
        </li>
        <li>
            Vatfree.com brengt bij een afname van een Boutique, Basic, Blend of Boost abonnement
            jaarlijks, op voorhand, abonnementskosten in rekening bij de merchant. Bij een Free abonnement
            worden er geen abonnementskosten in rekening gebracht en zal vatfree.com maximaal een jaar
            een digitaal archief leveren.
        </li>
    </ol>

    <h3>Duur</h3>
    <ol start="6">
        <li>
            Deze overeenkomst wordt aangegaan voor onbepaalde tijd met ingang van de
            ondertekeningsdatum. Tussentijdse opzegging is mogelijk en dient schriftelijk te geschieden met
            inachtneming van een termijn van drie (3) maanden.
        </li>
    </ol>

    <h3>Betalingsvoorwaarden</h3>
    <ol start="7">
        <li>
            Vatfree.com zal een gebundeld verzoek tot btw-restitutie over de aankopen in een bepaald
            tijdvak indienen bij merchant. Voor het totaalbedrag van de btw over die aankopen zal merchant
            een factuur ontvangen van vatfree.com. Vatfree.com zal pas na betaling van deze factuur tot
            btw-restitutie aan de betreffende reiziger(en) overgaan. Indien merchant vatfree.com heeft
            gemachtigd tot automatische incasso kan vatfree.com de btw contant uitbetalen aan de reiziger die
            dat wenst bij haar servicebalies of via gecontracteerde derde partijen. Indien vatfree.com, om haar
            niet-verwijtbare redenen, niet tot betaling van het de reiziger toekomende bedrag kan overgaan
            (bijvoorbeeld door het ontbreken van de juiste bankgegevens van de reiziger), zal dit bedrag twee
            jaar na goedkeuring van het daaraan ten grondslag liggende btw-restitutieverzoek aan een door
            vatfree.com te kiezen goed doel worden geschonken.
        </li>
        <li>
            Merchant kan het bedrag van de factuur in mindering brengen van zijn eerstvolgende
            btw-aangifte indien dit bedrag minder is dan € 1.000. Indien het bedrag meer is dan € 1.000 dient
            de merchant een verzoek tot correctie van de btw-aangifte in te dienen bij de belastingdienst.
        </li>
        <li>
            De betalingstermijn van de facturen is veertien (14) dagen, tenzij partijen automatische
            incasso hebben afgesproken.
        </li>
    </ol>

    <h3>Slotbepalingen</h3>
    <ol start="10">
        <li>
            Op deze overeenkomst zijn de als bijlage 2 aangehechte algemene voorwaarden van
            vatfree.com van toepassing. Deze voorwaarden maken onlosmakelijk deel uit van de overeenkomst
            en merchant verklaart door ondertekening van deze overeenkomst de algemene voorwaarden te
            hebben ontvangen.
        </li>
        <li>
            Op deze overeenkomst is uitsluitend Nederlands recht toepasselijk. Eventuele geschillen voortvloeiende uit de
            overeenkomst zullen uitsluitend worden voorgelegd aan de bevoegde rechter in het arrondissement waarin
            vatfree.com is gevestigd.
        </li>
    </ol>
</template>
