<template name="dashboard">
    <div class="wrapper wrapper-content dashboard">
        <div class="row">
            {{#if noRoles}}
                <div class="col-xs-12">
                    <blockquote class="text-error">
                        <h2>There are no roles defined for you</h2>
                        Please contact your vatfree.com admin to fix this.
                    </blockquote>
                </div>
            {{/if}}
            {{#if isInVatfreeRole 'activity-logs-read'}}
                <div class="col-lg-3 my-tasks">
                    <div class="widget style1 lazur-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="icon icon-mytasks fa-4x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> My tasks </span>
                                <h2 class="font-bold">{{getStatsCount 'activity-logs' true}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if isInVatfreeRole 'travellers-read'}}
                <div class="col-lg-3 traveller-tasks">
                    <div class="widget style1 lazur-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="icon icon-travellertasks fa-4x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Traveller tasks </span>
                                <h2 class="font-bold">{{getStatsCount 'travellers' true}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if isInVatfreeRole 'receipts-read'}}
                <div class="col-lg-3 receipt-tasks">
                    <div class="widget style1 lazur-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="icon icon-receipttasks fa-4x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Receipt tasks </span>
                                <h2 class="font-bold">{{getStatsCount 'receipts' true}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if isInVatfreeRole 'shops-read'}}
                <div class="col-lg-3 shop-tasks">
                    <div class="widget style1 lazur-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="icon icon-shoptasks fa-4x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Shop tasks </span>
                                <h2 class="font-bold">{{getStatsCount 'shops' true}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
        {{#if isInVatfreeRole 'dashboard-read'}}
            <div class="row">
                <div class="col-sm-8">
                    {{> dashboard_count_receipts_last_weeks }}
                </div>
                <div class="col-sm-4">
                    {{> dashboard_table_count_receipts_last_weeks }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{> dashboard_table_receipts_channel_last_x_weeks }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{> dashboard_money_receipts_last_weeks }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{> dashboard_partner_receipts_last_weeks attribute='count' }}
                </div>
                <div class="col-sm-6">
                    {{> dashboard_partner_receipts_last_weeks attribute='fee' }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{> dashboard_duration_last_months weeks=18 partners=true }}
                </div>
                <div class="col-sm-6">
                    {{> dashboard_duration_last_months weeks=18 partners=false }}
                </div>
            </div>
        {{/if}}
    </div>
</template>
