<template name="dashboard_invoice_stats">
    <div class="wrapper wrapper-content dashboard">
        <div class="row">
            <div class="col-sm-6">
                {{> dashboard_table_invoices_chart_per_month attr='count' }}
            </div>
            <div class="col-sm-6">
                {{> dashboard_table_invoices_chart_per_month attr='fee' }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{> dashboard_table_invoices_last_x_months months=24 aggr='status' hideDetails=true }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{> dashboard_table_invoices_last_x_months months=24 aggr='partnershipStatus'}}
            </div>
        </div>
    </div>
</template>
