<template name="dashboard_popr">
    <div class="wrapper wrapper-content dashboard">
        <form role="form" name="add-receipt-form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <label>From date</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                            <input type="text" name="dateFrom" class="form-control" tabindex="0" value="{{formatDate getFromDate}}">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label>Till Date</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                            <input type="text" name="dateTill" class="form-control" tabindex="0" value="{{formatDate getTillDate}}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Retailer</label>
                        <select name="retailerId" class="form-control">
                            <option value=""> - All -</option>
                            {{#each getRetailers}}
                                <option value="{{_id}}" selected="{{isSelected _id getRetailerId}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12">
                {{> dashboard_popr_table fromDate=getFromDate tillDate=getTillDate retailerId=getRetailerId retailers=getRetailers }}
            </div>
        </div>
    </div>
</template>
