<template name="tables">
    <div class="wrapper wrapper-content dashboard">
        <div class="row">
            <div class="col-sm-6">
                {{> dashboard_table_receipts_chart_per_week attr='count' }}
            </div>
            <div class="col-sm-6">
                {{> dashboard_table_receipts_chart_per_week attr='fee' }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{> dashboard_table_receipts_channel_last_x_weeks weeks=26 aggr='source'}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{> dashboard_table_receipts_channel_last_x_weeks weeks=26 aggr='status'}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{> dashboard_table_receipts_chart_per_month attr='count' }}
            </div>
            <div class="col-sm-6">
                {{> dashboard_table_receipts_chart_per_month attr='fee' }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{> dashboard_table_receipts_channel_last_x_months months=24 aggr='source'}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{> dashboard_table_receipts_channel_last_x_months months=24 aggr='status'}}
            </div>
        </div>
    </div>
</template>
