<template name="dashboard_team_stats">
    <div class="wrapper wrapper-content dashboard">
        <form role="form" name="add-receipt-form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <label>From date</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                            <input type="text" name="dateFrom" class="form-control" tabindex="0" value="{{formatDate getFromDate}}">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label>Till Date</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                            <input type="text" name="dateTill" class="form-control" tabindex="0" value="{{formatDate getTillDate}}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Aggregate</label>
                        <div class="input-group checkbox">
                            <div class="pretty-checks">
                                <input type="checkbox" name="aggregate" id="aggregate" checked="{{getAggregate}}"/>
                                <label for="aggregate"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-sm-12">
                {{> dashboard_table_team_receipt_stats fromDate=getFromDate tillDate=getTillDate aggregate=getAggregate }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{> dashboard_table_team_traveller_stats fromDate=getFromDate tillDate=getTillDate aggregate=getAggregate }}
            </div>
        </div>
    </div>
</template>
