<template name="view_contact">
    <div class="view view-contact">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    {{#unless onIndexPage}}
                        <a class="back link">
                            <span>Back</span>
                        </a>
                    {{/unless}}
                </div>
                <div class="">
                    Contacts
                </div>
                <div class="right">
                    {{> open_config_panel }}
                </div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="index" class="page">
                <div class="page-content">
                    {{#unless currentUser}}
                        <div class="page-padding">
                            {{> login}}
                        </div>
                    {{else}}
                        <div class="vatty-peak vatty-peak-right">
                            <img src="/images/vatty-right.svg" />
                        </div>
                        <form name="register-contact-form">
                            <div class="content-block">
                                <h2>Contacts</h2>
                                <div class="page-icon">
                                    <i class="icon icon-contacts"></i>
                                </div>
                            </div>
                            {{> view_register_contact_inputs addReactiveVars}}
                            {{#if isInVatfreeRole 'contacts-create'}}
                                <div class="content-block">
                                    <a href="#" class="button button-big button-fill search-client">Add new contact</a>
                                </div>
                            {{/if}}
                        </form>
                    {{/unless}}
                </div>
                <div data-page="contact_details" class="page cached">
                    {{> view_contact_details addReactiveVars }}
                </div>
            </div>
        </div>
        {{> toolbar }}
    </div>
</template>

<template name="view_register_contact_inputs">
    <div class="content-block-title">Email address</div>
    <div class="list-block inset">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-email"></i></div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input id="contactEmail" type="email" name="email">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>
