<template name="view_contact_details">
    <div class="page-content">
        {{#with contactInfo}}
            <form name="contact">
                <div class="list-block media-list">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-traveller"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Name</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="text" name="name" value="{{profile.name}}" required="required" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-companies"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Company name</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="text" name="companyName" value="{{profile.companyName}}" required="required" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content padding-xl no-overflow">
                                <div class="item-media"><i class="icon icon-companies"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Job title</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="text" name="jobTitle" value="{{profile.jobTitle}}" required="required" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content padding-xl no-overflow">
                                <div class="item-media"><i class="icon icon-email"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Email address</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="email" name="email" value="{{profile.email}}" required="required" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-phone"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Phone</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="tel" name="tel" value="{{profile.tel}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-phone"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Phone 2</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="tel" name="tel2" value="{{profile.tel2}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-map"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Address</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="text" name="addressFirst" value="{{profile.addressFirst}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-map"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Postal code</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="text" name="postalCode" value="{{profile.postalCode}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-map"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">City</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="text" name="city" value="{{profile.city}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-countries"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Country</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <select name="countryId" disabled="{{isDisabled}}">
                                            <option value=""> -- </option>
                                            {{#each getCountries}}
                                                <option value="{{_id}}" selected="{{#if $eq ../profile.countryId _id}}selected{{/if}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-textemplate"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Notes</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <textarea name="notes" disabled="{{isDisabled}}">{{private.notes}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{#if isInVatfreeRole 'contacts-update'}}
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <a href="#" class="button button-big button-fill save-contact">Save contact</a>
                                    </div>
                                </div>
                            </li>
                        {{/if}}
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <a href="#" class="button button-big button-fill button-cancel add-contact-activity">Register activity</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        {{/with}}
    </div>
</template>
