<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Your app title -->
    <title>Vatfree.com</title>
</head>

<body class="with-statusbar-overlay">
    <div class="statusbar-overlay"></div>
    <div class="popup-overlay"></div>
    <div class="modal-overlay"></div>
    {{> views}}
    {{#unless isNato}}
        <div class="popup receipt-send-info">
            <h1>{{t_ "Receipt instructions"}}</h1>
            <br/>
            {{> receipt_send_instructions}}
            <p class="popup-button">
                <a href="#" class="button active close-popup">{{t_ "Close"}}</a>
            </p>
        </div>
    {{/unless}}
</body>

<template name="views">
    {{> view_main_intro }}
    <div class="views">
        {{> view_main }}
        {{> view_shops }}
        {{> view_receipt_add }}
        {{> view_receipts }}
        {{> view_account }}
        {{> view_messages }}
    </div>
    {{#if upgradeApp}}
        <div class="popup popup-upgrade">
            <div class="content-block">
                <p class="upgrade-image">
                    <img src="/images/VattyR@3x.png" class="upgrade-vattie">
                    <h2>{{t_ "A newer version of this app is available in the store"}}</h2>
                    <img src="/images/update.svg" />
                    <span>{{t_ "Please upgrade your app to continue"}}</span>
                </p>
            </div>
        </div>
    {{/if}}
</template>

<template name="toolbar">
    <!-- Bottom Toolbar-->
    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <a id="shops" class="tab-link {{activePage "shops"}}">
                <div class="icon-cell">
                    <i class="icon icon-shop{{#if isActivePage 'shops'}}-fill{{else}}s{{/if}}"></i>
                    <span class="icon-name">{{t_ "Shops"}}</span>
                </div>
            </a>
            <a id="receipts" class="tab-link {{activePage "receipts"}}">
                <div class="icon-cell">
                    <i class="icon icon-receiptsmore{{#if isActivePage 'receipts'}}-fill{{/if}}"></i>
                    <span class="icon-name">{{t_ "My receipts"}}</span>
                </div>
            </a>
            <a id="add" class="tab-link add-receipt {{activePage "add"}}">
                <div class="icon-cell">
                    <i class="icon"></i>
                    <span class="icon-name">{{t_ "Add receipt"}}</span>
                </div>
                <div class="large-add-button"><span>+</span></div>
            </a>
            <a id="messages" class="tab-link {{activePage "messages"}}">
                <div class="icon-cell {{#if hasUnreadMessages}}notification{{/if}}">
                    <i class="icon icon-speechtxt{{#if isActivePage 'messages'}}{{/if}}"></i>
                    <span class="icon-name">{{t_ "Messages"}}</span>
                </div>
            </a>
            <a id="account" class="tab-link {{activePage "account"}}">
                <div class="icon-cell">
                    <i class="icon icon-actorclient{{#if isActivePage 'account'}}-fill{{/if}}"></i>
                    <span class="icon-name">{{t_ "Account"}}</span>
                </div>
            </a>
        </div>
    </div>
</template>
