.invoices {
    .panel {
        height: 360px;
        display: flex;
        flex-direction: column;

        .panel-heading {
            flex-grow: 0;
            flex-shrink: 0;

            i.fa {
                font-size: 18px;
            }
        }
        .panel-body {
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;

            .invoice-crop-preview {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .panel-footer {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}

#modal-add-invoice {
    .modal-dialog {
        width: 80%;
    }
}

.ibox.invoice-info {
    .tab-pane {
        > .row.shop {
            i.fa {
                font-size: 48px;
            }
        }
    }
}

.invoices-list {
    h2 {
        .partnership-status-logo {
            img {
                height: 26px;
                margin-top: -8px;
            }
        }
    }
}
