.page.invoices {
    #modal-task {
        .task-sidebar {
            .file-box {
                width: 140px;

                .image-container {
                    text-align: center;
                }

                .file-name {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .invoice-tasks {
            .ibox {
                margin-bottom: 0;
            }
        }
    }
}