<template name="profile">
    <div class="wrapper wrapper-content">
        <div class="container profile">
            {{#if Template.subscriptionsReady}}
                <div class="row">
                    <div class="col-md-8">
                        <div class="ibox" tabindex="-1">
                            <div class="ibox-content">
                                <h2>{{t_ "My account"}}</h2>
                                {{#with currentUser}}
                                    {{#unless isVerifiedStatus}}
                                        <div class="row">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <blockquote class="alert-info with-vattie">
                                                    <i class="icon icon-actorvattyclient vattie"></i>
                                                    <h2>{{t_ "Please complete your account profile for a faster refund proces"}}</h2>
                                                    <p>
                                                        {{t_ "We need your profile to be completed before we can contact the shops for your refund"}}
                                                    </p>
                                                    {{#with getTravellerType}}
                                                        {{#unless isNato}}
                                                            <p>
                                                                {{t_ "Your name, address, passport number and expiration, and visa number and expiration (if applicable), are required to start the verification process"}}
                                                            </p>
                                                            <p>
                                                                {{t_ "We also need a scan or photo of your passport and visa (if applicable)"}}
                                                            </p>
                                                        {{/unless}}
                                                    {{/with}}
                                                </blockquote>
                                            </div>
                                        </div>
                                    {{/unless}}
                                {{/with}}
                                <fieldset class="form-horizontal">
                                    {{#with currentUser}}
                                        <form role="form" name="item-edit-form">
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">{{t_ "Account type"}} <sup>*</sup></label>
                                                <div class="col-sm-10">
                                                    <input type="hidden" name="profile.travellerTypeId" value="{{getTravellerTypeId}}" />
                                                    <div class="pill-type-options traveller-type-options">
                                                        {{#each getTravellerTypeOptions}}
                                                            {{#unless hiddenButNotSelected}}
                                                                <div class="pill-type-option traveller-type-option {{#if isTravellerTypeSelected _id}}active{{/if}}" id="{{_id}}">
                                                                    <i class="{{getTravellerTypeIcon _id}}"></i>
                                                                    <span class="traveller-type-name">{{name}}</span>
                                                                </div>
                                                            {{/unless}}
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                            {{#if isTravellerTypeSelected "nato"}}
                                                <div class="form-group required">
                                                    <label class="col-sm-2 control-label">{{t_ "NATO base"}} <sup>*</sup></label>
                                                    <div class="col-sm-10">
                                                        <div class="pill-type-options traveller-type-options">
                                                            {{#each getTravellerTypeOptions true}}
                                                                <div class="pill-type-option traveller-type-nato-option {{#if isNatoTravellerTypeSelected _id}}active{{/if}}" id="{{_id}}">
                                                                    {{#if icon}}
                                                                        <i class="icon {{icon}}"></i>
                                                                    {{/if}}
                                                                    <span class="traveller-type-name">{{name}}</span>
                                                                </div>
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/if}}
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">{{t_ "Full name"}} <sup>*</sup></label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control {{hasInputError 'profile.name' 'string'}}" name="profile.name" placeholder="{{t_ "Full name"}} " value="{{profile.name}}" required="required">
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control" name="profile.gender">
                                                        <option value=""> - {{t_ "Gender"}} - </option>
                                                        <option value="male" selected="{{isSelected profile.gender 'male'}}">&#9794;</option>
                                                        <option value="female" selected="{{isSelected profile.gender 'female'}}">&#9792;</option>
                                                        <option value="happy" selected="{{isSelected profile.gender 'happy'}}">☺</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">{{t_ "Email"}}</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="profile.email" placeholder="{{t_ "Email"}}" value="{{profile.email}}" disabled="true">
                                                </div>
                                                <div class="col-sm-1">
                                                    <button class="btn btn-default pull-right add-new-email">
                                                        <i class="fa fa-plus" title="Add email address"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            {{#with secondaryEmails}}
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">{{t_ "Secondary Email"}}</label>
                                                    <div class="col-sm-10">
                                                        <ul>
                                                            {{#each this}}
                                                                <li>{{address}}
                                                                    {{#unless verified}}
                                                                        ({{t_ "unverified"}})
                                                                        <i class="icon icon-email resend-verification-email" title="{{t_ "Resend verification email"}}"></i>
                                                                    {{/unless}}
                                                                </li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                </div>
                                            {{/with}}

                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">{{t_ "Address"}}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="profile.addressFirst" placeholder="{{t_ "Address"}}" value="{{profile.addressFirst}}">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label class="col-sm-2 control-label">&nbsp;</label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control" name="profile.postalCode" placeholder="{{t_ "Postal code"}}" value="{{profile.postalCode}}">
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="profile.city" placeholder="{{t_ "City"}}" value="{{profile.city}}">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">{{t_ "Country of residence"}}<sup>*</sup></label>
                                                <div class="col-sm-10">
                                                    <select name="profile.addressCountryId" class="form-control" required="required">
                                                        <option value=""> -- </option>
                                                        {{#each getCountries}}
                                                            <option value="{{_id}}" selected="{{isSelected _id ../profile.addressCountryId}}">{{code}} - {{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">{{t_ "Mobile"}}</label>
                                                <div class="col-sm-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon icon-phone"></i></span>
                                                        <input type="text" class="form-control" name="profile.mobile" placeholder="+xx xxxxxxxx" value="{{profile.mobile}}">
                                                    </div>
                                                </div>
                                                <label class="col-sm-2 control-label">{{t_ "Phone"}}</label>
                                                <div class="col-sm-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon icon-phone"></i></span>
                                                        <input type="text" class="form-control" name="profile.phone" placeholder="+xx xxxxxxxx" value="{{profile.phone}}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>


                                            {{#if getWebText "travellers_profile_passport_info"}}
                                                <div class="row">
                                                    <div class="col-sm-10 col-sm-offset-2">
                                                        <blockquote class="alert-info with-vattie">
                                                            <i class="icon icon-actorvattyclient vattie"></i>
                                                            {{{getWebText "travellers_profile_passport_info"}}}
                                                        </blockquote>
                                                    </div>
                                                </div>
                                            {{/if}}

                                            {{#if getDocumentsNeeded}}
                                                <div class="form-group required">
                                                    <label class="col-sm-2 control-label">{{t_ "__id__ country" id=getIdNameTranslated}} <sup>*</sup></label>
                                                    <div class="col-sm-4">
                                                        <select name="profile.countryId" class="form-control" required="required">
                                                            <option value=""> -- </option>
                                                            {{#each getCountries}}
                                                                <option value="{{_id}}" selected="{{isSelected _id getCountryId}}">{{code}} - {{name}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <label class="col-sm-2 control-label">{{_ "Birth date"}}</label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="profile.birthDate" class="form-control" value="{{formatDate profile.birthDate false "Europe/Amsterdam"}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">{{t_ "__id__ number" id=getIdNameTranslated}} <sup>*</sup></label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control {{hasInputError 'profile.passportNumber' 'date'}}" name="profile.passportNumber" placeholder="{{getIdNameTranslated}}" value="{{profile.passportNumber}}" required="required">
                                                    </div>
                                                    <label class="col-sm-2 control-label">{{t_ "__id__ expires" id=getIdNameTranslated}} <sup>*</sup></label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="profile.passportExpirationDate" class="form-control {{hasInputError 'profile.passportExpirationDate' 'date'}}" value="{{formatDate profile.passportExpirationDate false "Europe/Amsterdam"}}" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/if}}
                                            {{#if needsVisa}}
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">{{t_ "Visa number"}} <sup>*</sup></label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control {{hasInputError 'profile.visaNumber' 'string'}}" name="profile.visaNumber" placeholder="{{t_ "Visa number"}}" value="{{profile.visaNumber}}">
                                                    </div>
                                                    <label class="col-sm-2 control-label">{{t_ "Visa expires"}} <sup>*</sup></label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="profile.visaExpirationDate" class="form-control {{hasInputError 'profile.visaExpirationDate' 'date'}}" value="{{formatDate profile.visaExpirationDate false "Europe/Amsterdam"}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">{{t_ "Visa country"}} <sup>*</sup></label>
                                                    <div class="col-sm-10">
                                                        <select name="profile.visaCountryId" class="form-control" required="required" disabled="{{isDisabled}}">
                                                            <option value=""> -- </option>
                                                            {{#each getNonEUCountries}}
                                                                <option value="{{_id}}" selected="{{isSelected _id ../profile.visaCountryId}}">{{code}} - {{name}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>
                                            {{/if}}

                                            {{#if allowLanguageChange}}
                                                <div class="hr-line-dashed"></div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">{{t_ "Language"}} <sup>*</sup></label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" name="profile.language" required="required">
                                                            <option value=""> -- </option>
                                                            {{#each getTravellerLanguages}}
                                                                <option value="{{code}}" selected="{{isSelected code ../profile.language}}">{{name}} ({{en}})</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>
                                            {{/if}}

                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">{{t_ "Vatfree_com refund status"}}</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" value="{{_ private.status}}" disabled="true"><br/>
                                                    <b>{{getStatusDescription}}</b>
                                                </div>
                                            </div>
                                            {{#if isRejectionStatus}}
                                                <div class="row">
                                                    <div class="col-sm-2"></div>
                                                    <div class="col-sm-10">
                                                        {{t_ "These are the reasons your refund status was rejected:"}}
                                                        <ul>
                                                            {{#each getTravellerRejections}}
                                                                <li>
                                                                    {{getRejectionText}}
                                                                </li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                </div>
                                            {{/if}}
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10">
                                                    * = {{t_ "Values that are required for a tax free refund_ Changing these fields will trigger a re-verification of your profile"}}
                                                </div>
                                            </div>
                                            {{#with getTravellerType}}
                                                {{#if receiptRequirementsText}}
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10">
                                                            <br/>
                                                            <strong>
                                                                {{{receiptRequirementsText}}}
                                                            </strong>
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            {{/with}}
                                            <div class="form-group">
                                                <br/>
                                                <div class="col-sm-12">
                                                    <button class="btn btn-primary pull-right" type="submit" tabindex="0">{{t_ "Save changes"}}</button>
                                                    <button class="btn btn-default pull-right cancel">{{t_ "Cancel / Close"}}</button>
                                                </div>
                                            </div>
                                        </form>
                                    {{/with}}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox" tabindex="-1">
                            <div class="ibox-content">
                                <h2>{{t_ "Verification documents"}}</h2>
                                {{#if getIdNeeded.length}}
                                    <div class="text-center">
                                        <div class="traveller-passport {{#if hasPassportError}}error{{/if}}">
                                            {{#each getIdNeeded}}
                                                {{> profile_id id=this filesToUpload=getFilesToUploadVar }}
                                            {{/each}}
                                        </div>
                                    </div>
                                    <br/>
                                    {{#if showOtherDocumentsHeader}}
                                        <h3>{{t_ "Other verification documents"}}</h3>
                                    {{/if}}
                                {{else}}
                                    {{#with getTemplateTravellerType}}
                                        {{#if isNato}}
                                            <div class="text-center">
                                                <img src="/img/nato-no-passport.png" class="img-responsive" />
                                            </div>
                                            <br/>
                                            {{#if showOtherDocumentsHeader}}
                                                <h3>{{t_ "Other verification documents"}}</h3>
                                            {{/if}}
                                        {{/if}}
                                        {{#if $eq name "CARGO"}}
                                            <div class="text-center">
                                                <img src="/img/cargo_badge.png" class="img-responsive" />
                                            </div>
                                        {{/if}}
                                    {{/with}}
                                {{/if}}
                                <ul class="files">
                                    {{#each getFiles}}
                                        <li class="file {{allowDraggable}}">
                                            {{#unless this.isUploaded}}
                                                {{> FS.UploadProgressBar bootstrap=true}}
                                            {{else}}
                                                {{#if fileCopiesUploaded this}}
                                                    {{> directUrlFile fileObj=this hideFilename=true }}
                                                    {{#if allowedToDelete}}
                                                        <span class="delete-file"><i class="icon icon-trash delete-file" title="Delete this image"></i> {{t_ "Delete image"}}</span>
                                                    {{/if}}
                                                {{else}}
                                                    {{> loading }}
                                                {{/if}}
                                            {{/unless}}
                                        </li>
                                    {{else}}
                                        {{#with currentUser}}
                                            {{#if profile.extraDocumentation}}
                                                <i>{{t_ "No documentation found"}}</i>
                                            {{/if}}
                                        {{/with}}
                                    {{/each}}
                                </ul>
                                {{#with currentUser}}
                                    {{#if canUploadNewDocuments}}
                                        {{#if profile.extraDocumentation}}
                                            <div class="upload-verification-documents">
                                                <h3>{{t_ "Upload other verification documentation"}}</h3>
                                                {{#if isUploadingFile }}
                                                    {{> loading }}
                                                {{else}}
                                                    <form role="form" name="upload-new-docs">
                                                        <div class="form-group">
                                                            <input name="file-upload" type="file" class="form-control">
                                                        </div>
                                                        {{#if getFilesToUpload false}}
                                                            <div class="">
                                                                {{#each getFilesToUpload}}
                                                                    <div class="uploaded-file">
                                                                        {{#if uploadFileIsImage}}
                                                                            <img src="{{fileContent}}" />
                                                                        {{else}}
                                                                            <img src="/icons/512px/{{uploadFileExtension}}.png" class="file-icon"/>
                                                                        {{/if}}
                                                                    </div>
                                                                {{/each}}
                                                            </div>
                                                            <br/>
                                                        {{/if}}
                                                        {{#if getFilesToUpload '*'}}
                                                            <div class="pull-right">
                                                                <button class="btn btn-default cancel-documentation" disabled="{{isUploading}}">{{t_ "Cancel"}}</button>
                                                                <button class="btn btn-primary submit-documentation" disabled="{{isUploading}}">{{t_ "Submit documentation"}}</button>
                                                            </div>
                                                            <br/><br/>
                                                        {{/if}}
                                                    </form>
                                                {{/if}}
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                {{/with}}
                            </div>
                        </div>
                        <div class="ibox" tabindex="-1">
                            <div class="ibox-content">
                                <a href="/receipt/add" class="btn btn-primary btn-xl full-width add-receipt"> <i class="icon icon-plus"></i> {{t_ "Add receipts"}} </a>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                {{> loading }}
            {{/if}}
        </div>
    </div>
</template>

<template name="profile_id">
    <div class="id-scan {{#unless getIdFile}}empty{{/unless}} file-dropzone" data-sub-type="{{subType}}">
        {{#with getIdFile}}
            {{#if fileContent}}
                <div class="uploaded-file">
                    {{#if uploadFileIsImage}}
                        <img src="{{fileContent}}" />
                    {{else}}
                        <img src="/icons/512px/{{uploadFileExtension}}.png" class="file-icon"/>
                    {{/if}}
                </div>
            {{else}}
                <ul class="files">
                    <li class="file {{allowDraggable}}" id="{{_id}}">
                        {{> directUrlFile fileObj=this hideFilename=true }}
                        {{#if allowedToDelete}}
                            <span class="delete-file"><i class="icon icon-trash delete-file" title="Delete this image"></i> {{t_ "Delete image"}}</span>
                        {{/if}}
                    </li>
                </ul>
            {{/if}}
        {{else}}
            {{#with currentUser}}
                {{#if canUploadNewDocuments}}
                    <div class="upload-instructions">
                        <p>
                            {{t_ "Upload a scan or photo of your documents"}}:<br/>
                            <b>{{../id.name}}</b>
                        </p>
                        <input type="file" id="id-file-{{../id.subType}}" name="id-file-{{../id.subType}}" class="file-upload">
                        <label for="id-file-{{../id.subType}}"><i class="icon icon-upload"></i> {{t_ "Click here to upload"}}</label>
                        {{#if $eq ../id.subType "passport"}}
                            <br/><img src="/img/specimenPP-upload.png" />
                        {{/if}}
                        {{#if $eq ../id.subType "visa"}}
                            <br/><img src="/img/residencePP-upload.png" />
                        {{/if}}
                        {{#if $eq ../id.subType "natoCardFront"}}
                            <br/><img src="/img/specimenBRv.png" />
                        {{/if}}
                        {{#if $eq ../id.subType "natoCardBack"}}
                            <br/><img src="/img/specimenBRa.png" />
                        {{/if}}
                        {{#if $eq ../id.subType "backOfIdCard"}}
                            <br/><img src="/img/SpecimenCH.png" />
                        {{/if}}
                    </div>
                {{else}}
                    <div class="upload-instructions">
                        <p>
                            <b>{{../id.name}}</b>
                        </p>
                    </div>
                {{/if}}
            {{/with}}
        {{/with}}
    </div>
</template>
