<template name="currencyEdit">
    {{#with itemDoc}}
        {{> pageHeading title=getBreadcrumbTitle category='Currencies' categoryLink='/currencies' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-8">
                    {{> currencyEditForm }}
                </div>
                <div class="col-sm-4">
                    {{> currencyInfo }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="currencyEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Currency details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Translations</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="Currency name" value="{{name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="code" placeholder="Currency code" value="{{code}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Symbol</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="symbol" placeholder="Currency symbol" value="{{symbol}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="notes" placeholder="Notes about this currency">{{notes}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <form name="item-edit-translations-form">
                        {{> translations translations=getTranslations values=this }}
                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-white cancel">Cancel / Close</button>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
