<template name="receiptInfo">
    {{#with receipt}}
    <div class="ibox receipt-info" tabindex="-1">
        <div class="ibox-content">
            <div class="tab-content {{#if ../allowEdit}}allow-edit{{/if}}">
                <div id="contact-1" class="tab-pane active">
                    {{#with getShop}}
                        <div class="row m-b-lg shop-card">
                            {{#unless ../../hideIcons}}
                                <div class="col-xs-4 text-center">
                                    <div class="m-b-sm">
                                        <img src="/Logos/{{getPartnershipStatusLogo}}" class="partnership-status"/>
                                    </div>
                                </div>
                            {{/unless}}
                            <div class="{{#if ../../hideIcons}}col-xs-12{{else}}col-xs-8{{/if}}">
                                <strong>{{name}}</strong>
                                <p>
                                    {{addressFirst}}<br/>
                                    {{postCode}} {{city}}<br/>
                                    {{getCountryName}}<br/>
                                </p>
                            </div>
                        </div>
                    {{/with}}
                    {{#with currentTraveller}}
                        {{#unless userIsVerified}}
                            <a href="/profile">
                                <blockquote class="alert-danger">
                                    {{_ private.status}}<br/>
                                    <small>{{getStatusDescription}}</small>
                                </blockquote>
                            </a>
                        {{/unless}}
                    {{/with}}
                    {{#unless ../hideReceiptDetails}}
                        <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>{{_ "Receipt summary"}}</strong>
                            <ul class="list-group clear-list">
                            <li class="list-group-item fist-item">
                                <span class="pull-right">
                                    {{receiptNr}}
                                </span>
                                {{_ "Receipt Nr"}}
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right"> {{formatCurrency amount}} </span>
                                {{_ "Total receipt amount"}}
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right"> {{formatCurrency totalVat}} </span>
                                {{_ "VAT"}}
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right"> {{formatDate purchaseDate}} </span>
                                {{_ "Purchase date"}}
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    {{formatDate customsDate}}
                                    {{#if customsCountryId}}
                                        / {{getCountryName customsCountryId}}
                                    {{/if}}
                                </span>
                                {{_ "Customs stamp"}}
                            </li>
                            {{#unless ../hideDetails}}
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDateTime createdAt}} </span>
                                    {{_ "Receipt added"}}
                                </li>
                            {{/unless}}
                            {{#unless deleted}}
                                {{#if ../showImages}}
                                    <li class="list-group-item">
                                        {{#if getFiles.count}}
                                            <ul class="files">
                                                {{#each getFiles}}
                                                    <li class="file">
                                                        {{#unless this.isUploaded}}
                                                            {{> FS.UploadProgressBar bootstrap=true}}
                                                        {{else}}
                                                            <a href="{{getDirectUrl}}" target="_blank" data-featherlight="{{#if isImage}}{{getDirectUrl}}{{/if}}">
                                                                {{#if isImage}}
                                                                    <div class="image-container">
                                                                        <img src="{{url store='vatfree-thumbs' uploading='/img/loading-indicator.gif' storing='/img/loading-indicator.gif'}}">
                                                                    </div>
                                                                {{else}}
                                                                    <img src="/icons/512px/{{getExtension}}.png" class="file-icon"/>
                                                                {{/if}}
                                                                <div class="name">{{original.name}}</div>
                                                            </a>
                                                        {{/unless}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        {{/if}}
                                    </li>
                                {{/if}}
                            {{/unless}}
                            </ul>
                        </div>
                    </div>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</template>
