<template name="view_invoice">
    <div class="wrapper wrapper-content">
        <div class="container">
            {{#if Template.subscriptionsReady}}
                {{#with getInvoice}}
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="ibox invoice" tabindex="-1">
                                <div class="ibox-content">
                                    <h2>
                                        {{_ "Invoice __invoice_number__" invoice_number=invoiceNr}}{{#if type}} ({{_ type}}){{/if}}
                                        {{#if deleted}}
                                            <span class="text-danger"> - This invoice has been deleted!</span>
                                        {{/if}}
                                    </h2>
                                    <h4>{{_ "Invoice date"}}: {{formatDate invoiceDate}}</h4>
                                    <h4>{{_ "Due date"}}: {{formatDate getDueDate}}</h4>
                                    {{#if type}}
                                        <h4>{{_ "Amount"}}: {{formatCurrency amount 2 currencyId}}</h4>
                                        <h4>{{_ "VAT"}}: {{formatCurrency totalVat 2 currencyId}}</h4>
                                    {{else}}
                                        <h4>{{_ "Number of receipts"}}: {{receiptIds.length}}</h4>
                                        <h4>{{_ "Total VAT"}}: {{formatCurrency amount 2 currencyId}}</h4>
                                    {{/if}}
                                    {{#unless paidAt}}
                                        <h4>{{_ "Open"}}: {{_ "__daysopen__ days" daysopen=daysOpen}}</h4>
                                    {{/unless}}
                                    <div class="clients-list item-list receipts-list">
                                        <div class="full-height-scroll">
                                            {{#unless type}}
                                                {{#unless deleted}}
                                                    <div class="table-responsive item-list infinite-scrolling">
                                                        <table class="table table-striped table-hover item-list receipt-list">
                                                            <thead>
                                                            <tr>
                                                                <th class="sort-header {{isHeaderSorting 'receiptNr'}}" data-id="receiptNr">{{_ "Receipt Nr"}}</th>
                                                                <th class="">{{_ "Shop"}}</th>
                                                                <th class="sort-header {{isHeaderSorting 'amount'}}" data-id="amount">{{_ "Amount"}}</th>
                                                                <th class="sort-header {{isHeaderSorting 'totalVat'}}" data-id="totalVat">{{_ "VAT"}}</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                {{#each receipts}}
                                                                    <tr class="item-row {{isActiveItem}} {{#if error}}alert-danger{{/if}}" id="item-{{_id}}">
                                                                        <td>{{receiptNr}}</td>
                                                                        <td class="shop-name">
                                                                            {{#with getShop}}
                                                                                <span class="visible-lg">
                                                                                    {{name}}, {{city}}, {{getCountryCode}}
                                                                                </span>
                                                                                <span class="hidden-lg">
                                                                                    {{name}}
                                                                                </span>
                                                                            {{/with}}
                                                                        </td>
                                                                        <td class="nobr text-right">{{formatCurrency amount 2 currencyId}}</td>
                                                                        <td class="nobr text-right">{{#if refund}}{{formatCurrency totalVat 2 currencyId}}{{else}}<i>{{_ "processing"}}</i>{{/if}}</td>
                                                                    </tr>
                                                                {{else}}
                                                                    <tr>
                                                                        <td colspan="10">
                                                                            <i>{{_ "No receipts found"}}</i>
                                                                        </td>
                                                                    </tr>
                                                                {{/each}}
                                                                {{#if receiptIds.length}}
                                                                    <tr class="item-row total-row">
                                                                        <td colspan="2">&nbsp;</td>
                                                                        <td class="nobr text-right">{{formatCurrency getTotalAmount 2 currencyId}}</td>
                                                                        <td class="nobr text-right">{{#if refund}}{{formatCurrency getTotalVat 2 currencyId}}{{else}}<i>{{_ "processing"}}</i>{{/if}}</td>
                                                                    </tr>
                                                                {{/if}}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                {{/unless}}
                                            {{/unless}}
                                        </div>
                                    </div>
                                    {{#unless deleted}}
                                        <h2>{{_ "Invoice files"}}</h2>
                                        <div class="invoice-files">
                                            {{#if getFiles.count}}
                                                <ul class="files">
                                                    {{#each getFiles}}
                                                        <li class="file">
                                                            {{#unless this.isUploaded}}
                                                                {{> FS.UploadProgressBar bootstrap=true}}
                                                            {{else}}
                                                                {{#if url}}
                                                                    <a href="{{url}}{{url}}&target=invoices&id={{../_id}}&secret={{../secret}}" target="_blank" data-featherlight="{{#if isImage}}{{url}}&target=invoices&id={{../_id}}&secret={{../secret}}{{/if}}">
                                                                        {{#if isImage}}
                                                                            <div class="image-container">
                                                                                <img src="{{url store='vatfree-thumbs' uploading='/img/loading-indicator.gif' storing='/img/loading-indicator.gif'}}&target=invoices&id={{../_id}}&secret={{../secret}}">
                                                                            </div>
                                                                        {{else}}
                                                                            <img src="/icons/512px/{{getExtension}}.png" class="file-icon"/>
                                                                        {{/if}}
                                                                        <div class="name">{{original.name}}</div>
                                                                    </a>
                                                                {{else}}
                                                                    {{> loading }}
                                                                {{/if}}
                                                            {{/unless}}
                                                        </li>
                                                    {{/each}}
                                                    {{#unless type}}
                                                        {{#unless imagesPDFExists}}
                                                            <li class="file">
                                                                {{#if creatingImagesPDF}}
                                                                    {{> loading }}
                                                                {{else}}
                                                                    <button class="btn btn-sm btn-info invoice-create-pdf-images"><strong>{{_ "Create Images PDF"}}</strong></button>
                                                                {{/if}}
                                                            </li>
                                                        {{/unless}}
                                                    {{/unless}}
                                                </ul>
                                            {{/if}}
                                        </div>
                                    {{/unless}}
                                </div>
                            </div>
                        </div>
                        {{#unless type}}
                            {{#unless deleted}}
                                <div class="col-sm-4">
                                {{#with getActiveItem}}
                                    {{> receiptInfo receipt=this showImages=true showActions=true }}
                                {{else}}
                                    <div class="ibox receipt-info" tabindex="-1">
                                        <div class="ibox-content">
                                            {{_ "Click on a receipt on the left to see more information"}}<br/>
                                        </div>
                                    </div>
                                {{/with}}
                                </div>
                            {{/unless}}
                        {{/unless}}
                    </div>
                {{else}}
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="ibox" tabindex="-1">
                                <div class="ibox-content">
                                    <h4>{{_ "Could not find invoice"}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/with}}
            {{else}}
                {{> loading }}
            {{/if}}
        </div>
    </div>
</template>
