<template name="view_invoices">
    <div class="wrapper wrapper-content">
        <div class="container">
            {{#if Template.subscriptionsReady}}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox" tabindex="-1">
                            <div class="ibox-content">
                                <h2>Invoices</h2>
                                <div class="clients-list item-list receipts-list">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> view_invoices_list invoices=getInvoices }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                {{> loading }}
            {{/if}}
        </div>
    </div>
</template>

<template name="view_invoices_list">
    <table class="table table-striped table-hover item-list receipt-list">
        <thead>
        <tr>
            <th>{{_ "Invoice number"}}</th>
            <th>{{_ "Invoice date"}}</th>
            <th>{{_ "Due date"}}</th>
            <th>{{_ "Number of receipts"}}</th>
            <th class="nobr text-right">{{_ "Total VAT"}}</th>
            <th>&nbsp;</th>
            <th>{{_ "Status"}}</th>
            <th class="nobr text-right">{{_ "Open"}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each invoices}}
            <tr class="item-row {{isActiveItem}} {{#if error}}alert-danger{{/if}} pointer" id="item-{{_id}}">
                <td>{{invoiceNr}}</td>
                <td>{{formatDate invoiceDate}}</td>
                <td>{{formatDate getDueDate}}</td>
                <td>
                    {{#if type}}
                        <i>{{_ type}}</i>
                    {{else}}
                        {{receiptIds.length}}
                    {{/if}}
                </td>
                <td class="nobr text-right">{{formatCurrency amount 2 currencyId}}</td>
                <td>&nbsp;</td>
                <td>{{_ status}}</td>
                <td class="nobr text-right">
                    {{#if paidAt}}-{{else}}{{_ "__daysopen__ days" daysopen=daysOpen}}{{/if}}
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="10">
                    <i>{{_ "No invoices found"}}</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
