.payouts {
    .panel {
        height: 360px;
        display: flex;
        flex-direction: column;

        .panel-heading {
            flex-grow: 0;
            flex-shrink: 0;

            i.fa {
                font-size: 18px;
            }
        }
        .panel-body {
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;

            .payout-crop-preview {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .panel-footer {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}

.payout-batches {
    .ibox-content {
        fieldset {
            margin: 0 0 25px 0;
        }
    }

}
