<template name="fileEdit">
    {{#with itemDoc}}
        {{> pageHeading title=getBreadcrumbTitle category='Files' categoryLink='/files' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-8">
                    {{> fileEditForm }}
                </div>
                <div class="col-sm-4">
                    {{> fileInfo }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="fileEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> File details</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="File name" value="{{name}}">
                                </div>
                            </div>
                            <hr/>
                            <blockquote class="alert-danger">
                                Do not change any of these values unless you know what you are doing!
                            </blockquote>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Target</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="target" placeholder="Target of the file" value="{{target}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Item Id</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="itemId" placeholder="Item id of the file" value="{{itemId}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Sub type</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="subType" placeholder="Sub type of the file" value="{{subType}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Category</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="category" placeholder="Category of the file" value="{{category}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Raw data</label>
                                <div class="col-sm-10">
                                    <pre>{{getRawJSON}}</pre>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</template>
