<template name="files">
    <div class="wrapper wrapper-content">
        <div class="row">
            {{#if showImports}}
                {{> imports subType='vatfree-files' title='File imports' }}
            {{else}}
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                {{#if importsEnabled}}
                                    <a class="btn btn-default btn-icon toggle-imports" href="#" accesskey="i"><i class="icon icon-receipt"></i><u>I</u>mports</a>
                                {{/if}}
                            </div>
                            <h2>Files</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Search file" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                                </span>
                            </div>
                            <div class="input-group filter-icons">
                                <span class="label-filter-group">
                                    <span class="filter-icon entity-filter-icon {{isEntityFilter "travellers"}}" id="travellers" title="Traveller"><i class="icon icon-traveller"></i></span>
                                    <span class="filter-icon entity-filter-icon {{isEntityFilter "receipts"}}" id="receipts" title="Receipt"><i class="icon icon-receipt"></i></span>
                                    <span class="filter-icon entity-filter-icon {{isEntityFilter "shops"}}" id="shops" title="Shop"><i class="icon icon-shops"></i></span>
                                    <span class="filter-icon entity-filter-icon {{isEntityFilter "companies"}}" id="companies" title="Company"><i class="icon icon-companies"></i></span>
                                    <span class="filter-icon entity-filter-icon {{isEntityFilter "invoices"}}" id="invoices" title="Invoice"><i class="icon icon-vtb"></i></span>
                                </span>
                                <span class="filter-icon filter-icon-spacing"></span>
                            </div>
                            <div class="clients-list item-list files-list">
                                {{#if initialLoadDone}}
                                    <div class="full-height-scroll">
                                        <div class="table-responsive infinite-scrolling">
                                           {{> filesList files=getFiles includeHeader=true sorting=getSorting }}
                                        </div>
                                    </div>
                                {{else}}
                                    {{> loading }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#with getActiveItem}}
                    <div class="col-sm-4">
                        {{> fileInfo }}
                    </div>
                {{/with}}
            {{/if}}
        </div>
    </div>
</template>
