<template name="fileInfo">
    <div class="ibox file-info">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    <div class="row m-b-lg">
                        <div class="col-lg-4 text-center">
                            {{> directUrlFile fileObj=this hideFileName=true }}
                        </div>
                        <div class="col-lg-8">
                            <strong>{{name}}</strong><br/>
                            Target: {{target}}<br/>
                            {{#if subType}}
                                Sub type: {{subType}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>File summary</strong>
                            <ul class="list-group clear-list">
                                {{#if salesforceId}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{salesforceId}} </span>
                                        Salesforce id
                                    </li>
                                {{/if}}
                                {{#if $in target "travellers" "travellers_internal" "travellers_trash"}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> <a href="/traveller/{{itemId}}"> {{#with getTravellerName itemId}}{{this}}{{else}}{{itemId}}{{/with}} </a> </span>
                                        Traveller
                                    </li>
                                {{/if}}
                                {{#if $in target "receipts" "receipts_internal"}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> <a href="/receipt/{{itemId}}"> {{#with getReceiptName itemId}}{{this}}{{else}}{{itemId}}{{/with}} </a> </span>
                                        Receipt
                                    </li>
                                {{/if}}
                                {{#if $eq target "invoices"}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> <a href="/invoice/{{itemId}}"> {{#with getInvoiceName itemId}}{{this}}{{else}}{{itemId}}{{/with}} </a> </span>
                                        Invoice
                                    </li>
                                {{/if}}
                                {{#if $eq target "shops"}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> <a href="/shop/{{itemId}}"> {{#with getShopName itemId}}{{this}}{{else}}{{itemId}}{{/with}} </a> </span>
                                        Shop
                                    </li>
                                {{/if}}
                                {{#if $eq target "companies"}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> <a href="/company/{{itemId}}"> {{#with getCompanyName itemId}}{{this}}{{else}}{{itemId}}{{/with}} </a> </span>
                                        Company
                                    </li>
                                {{/if}}
                                {{#if $eq target "contacts"}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> <a href="/contact/{{itemId}}"> {{#with getContactName itemId}}{{this}}{{else}}{{itemId}}{{/with}} </a> </span>
                                        Contact
                                    </li>
                                {{/if}}
                                {{#if $eq target "affiliates"}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> <a href="/affiliate/{{itemId}}"> {{#with getAffiliateName itemId}}{{this}}{{else}}{{itemId}}{{/with}} </a> </span>
                                        Affiliate
                                    </li>
                                {{/if}}
                                <li class="list-group-item">
                                    <span class="pull-right"> {{target}} </span>
                                    Target
                                </li>
                                {{#if category}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{category}} </span>
                                        Category
                                    </li>
                                {{/if}}
                                {{#if subType}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{subType}} </span>
                                        Sub Type
                                    </li>
                                {{/if}}
                                <li class="list-group-item">
                                    <span class="pull-right"> {{size}} bytes </span>
                                    Size
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{type}} </span>
                                    Type
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{node}} </span>
                                    Upload server
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDateTime createdAt}} </span>
                                    Uploaded at
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{getUserName createdBy}} </span>
                                    Uploaded by
                                </li>
                            </ul>
                            {{#if notes}}
                                <strong>Notes</strong>
                                <p>
                                    {{notes}}
                                </p>
                            {{/if}}
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
