<template name="filesList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th class="sort-header {{isHeaderSorting 'name'}}" data-id="name">Name</th>
                <th class="sort-header {{isHeaderSorting 'createdAt'}}" data-id="createdAt">Uploaded</th>
                <th class="sort-header {{isHeaderSorting 'size'}}" data-id="size">Size</th>
                <th class="sort-header {{isHeaderSorting 'target'}}" data-id="target">Target</th>
            </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each files}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/file/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td class="file">
                    {{> directUrlFile fileObj=this hideFileName=true }}
                </td>
                <td><a class="client-link">{{name}}</a></td>
                <td>{{formatDateTime createdAt}}</td>
                <td>{{size}}</td>
                <td>{{target}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
