.wrapper.faqs-wrapper {
    max-width: 800px !important;
}

.faqs-container {
    height: 100%;

    h2 {
        background-color: rgba(255,255,255,0.6);
        margin: 12px 0 0 0;
        padding: 12px;
    }

    .faq-item {
        .faq-answer {
            font-size: 15px;
        }
    }

    .input-group.search {
        .fa {
            font-size: 18px;
        }
        .form-control {
            font-size: 18px;
            height: 42px;
        }
    }
}

.embed-container {
    background-color: #ededed;
    min-height: 100%;
}
