#wrapper {
    .download-mobile-app {
        display: none;
        overflow: auto;
    }

    &:not(.use-mobile-site) {
        @media only screen and (max-device-width: 480px) {
            #page-wrapper {
                display: none;
            }
            .download-mobile-app {
                display: block;
                width: 100%;
                height: 100%;
                background-color: #fff;
                text-align: center;
                padding: 25px 25px 0 25px;

                .mobile-image {
                    text-align: center;
                    img {
                        width: 70%;
                    }
                }

                .mobile-app-icons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    width: 100%;

                    .mobile-app-apple {
                        width: 45%;
                        max-width: 140px;
                        margin: 0 10px;

                        img {
                            width: 100%
                        }
                    }
                    .mobile-app-android {
                        width: 45%;
                        max-width: 140px;
                        margin: 0 10px;

                        img {
                            width: 100%
                        }
                    }
                }
                .mobile-no-thanks {
                    margin-top: 25px;
                    cursor: pointer;
                    font-size: 16px;

                    color: #337ab7;
                    text-decoration: none;
                }
            }
        }
    }
}
