#modal-payment-method {
    .modal-dialog {
        width: 70%;
        max-height: 70%;
        margin: 75px auto;

        .modal-content {
            height: 100%;

            i.close-tasks {
                position: absolute;
                top: 8px;
                right: 8px;
                cursor: pointer;
                font-size: 16px;
            }


            .modal-body {
                height: 100%;
                font-size: 16px;

                .payment-options {
                    display: flex;
                    flex-direction: row;
                    .payment-option {
                        text-align: center;
                        padding: 12px;
                        width: 33%;
                        border: 1px solid #ddd;
                        border-radius: 12px;
                        margin: 10px 20px;
                        cursor: pointer;
                        user-select: none;

                        &.active {
                            background-color: #0069b4;
                            border-color: #0069b4;
                            color: #fff;
                        }

                        i.icon, i.fa {
                            font-size: 36px;
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                }

                form {
                    height: 100%;

                    .input-group {
                        .input-group-addon {
                            i {
                                font-size: 22px;
                            }
                        }

                        input {
                            height: auto;
                            font-size: 22px;
                        }
                    }

                    button {
                        &.btn {
                            font-size: 16px;
                        }
                    }

                    .supported-credit-cards {
                        &.active {
                            img {
                                opacity: 0.3;
                            }
                        }

                        img {
                            height: 32px;

                            &.active {
                                opacity: 1;
                            }
                        }

                        .credit-card-error {
                            margin-top: 12px;
                            color: #ed5565;
                            font-weight: bold;
                        }
                    }
                }

                @media(max-width: 570px) {
                    .payment-options {
                        font-size: 12px;
                        flex-direction: column;
                        flex-wrap: wrap;

                        .payment-option {
                            margin: 2px;
                            position: relative;
                            width: -webkit-fill-available;

                            i {
                                position: absolute;
                                left: 6px;
                                top: 3px;
                            }
                        }
                    }

                    form {
                        .input-group {
                            input {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 996px) {
        &.modal {
            .modal-dialog {
                .modal-content {
                    .modal-body {
                        .payment-options {
                            font-size: 14px;

                            .payment-option {
                                margin: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 790px) {
        width: 100%;
        height: 100%;

        h3 {
            font-size: 14px;
        }

        &.modal {
            .modal-dialog {
                width: 100%;
                max-height: 90%;
                margin: 50px 0 0 0;

                .modal-content {
                    .modal-body {
                        padding: 20px 15px 15px 15px;

                        .payment-options {
                            font-size: 14px;
                            .payment-option {
                                margin: 10px;
                            }
                        }

                        form {
                            height: auto;
                            .input-group {
                                input {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
