.terms {
    max-height: 90%;
    height: 480px;
    overflow-y: scroll;
    padding: 5px;
    text-align: left;
    border: 1px solid #ddd;

    @media (max-height: 768px) {
        height: 320px;
    }
}

.terms-actions {
    padding: 0 0 20px 0;

    > span {
        margin: 20px 0;
        display: flex;
        flex-direction: row;

        label {
            margin: 0 0 0 12px !important;
        }
    }

    &.disabled {
        opacity: 0.4;
    }
}
