#wrapper {
    .traveller-passport {
        display: inline-flex;
        flex-direction: column;
        background-color: #9cc2e0;
        min-height: 192px;
        padding: 12px;
        width: 100%;

        &.error {
            background-color: #ec6786;
        }

        .file-action {
            cursor: pointer;
        }

        ul.files {
            margin: 0;

            li.file {
                border: 0;
                width: 100%;
                background-color: transparent;
                justify-content: center;
                margin: 0;

                a {
                    width: 100%;
                }

                img {
                    width: 100%;
                    height: auto;
                    max-width: 100% !important;
                    border-radius: 10px;
                }
            }
        }

        .uploaded-file {
            img {
                width: 100%;
                max-width: 100% !important;
            }
        }

        .passport-scan, .id-scan {
            position: relative;

            &.empty {
                min-height: 192px;
                width: 100%;
            }

            b {
                font-size: 16px;
            }

            display: inline-block;
            border: 1px dashed #fff;
            border-radius: 10px;

            &:not(:first-child) {
                margin-top: 24px;
                &:before {
                    position: absolute;
                    left: 45%;
                    top: -28px;
                    font-family: 'vatfree0907v4';
                    font-size: 22px;
                    content: '\e91e';
                    color: #fff;
                }
            }
        }

        .upload-instructions {
            text-align: center;
            color: #fff;
            padding:20px;
            cursor: pointer;

            label {
                cursor: pointer;
                font-size: 18px;
            }

            .file-upload {
                position: absolute;
                left: -999999px;
            }

            img {
                max-width: 80%;
                box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.16);
            }
        }
    }
}
