h3 {
    line-height: 1.5;
}

:focus {
    outline: none !important;
}

.nobr {
    white-space: nowrap;
}

.float-right {
    float: right;
}

.version-banner {
    position: fixed;
    width: 140px;
    height: 32px;
    top: 20px;
    left: -32px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff7867;
    line-height: 32px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    cursor: pointer;
    z-index: 999999999999;
}

.server-render {
    display: none;
}

button {
    &.btn {
        font-weight: 100 !important;
    }

    &.btn-xl {
        font-size: 18px;
        &.btn-icon {
            padding-left: 40px;
            i.icon {
                font-size: 30px;
            }
        }
    }

    &.btn-primary {
        background-color: #93c01f;
        border-color: #93c01f;

        &:hover, &:focus, &:active, &:active:hover, &:active:focus {
            background-color: #a7d126;
            border-color: #a7d126;
        }
    }

    &.btn-icon {
        position: relative;
        padding-left: 38px;

        i.icon {
            position: absolute;
            top: 3px;
            font-size: 26px;
            left: 5px;
        }
    }

    &[disabled] {
        background-color: #999;
        opacity: .35;
    }

    &.swal2-styled {
        &.swal2-cancel {
            background-color: #fff !important;
            color: #979797 !important;
            border: 1px solid #979797 !important;
        }

        &:focus {
            box-shadow: none !important;
        }
    }
}

.receipt-submit {
    .receipt-submit-text {
        text-align: left;

        ol {
            padding-left: 20px;
        }

        p {
            font-size: 18px;
        }
    }
    .receipt-submit-icons {
        width: 100%;
        margin-bottom: 20px;
        line-height: 100px;
        font-size: 36px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .icon {
            font-size: 100px;
        }
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        .receipt-submit-icons {
            line-height: 72px;
            .icon {
                font-size: 72px;
            }
        }
    }
}

.swal2-content {
    .receipt-submit {
        padding: 0 20px;

        .receipt-submit-text {
            line-height: 28px;
        }
        .receipt-submit-icons {
            margin-bottom: 20px;
        }
    }
}

.alert-warning {
    color: #f77c00;
    background-color: #fcf3e7;
    border-color: #f77c00;
}

.alert-info {
    color: #777;
    background-color: #eef2fa;
    border-color: #0069b4;

    h2, .icon {
        color: #0069b4;
    }
}

blockquote {
    position: relative;

    p {
        font-size: 14px;
    }

    &.top-margin {
        margin-top: 20px;
    }

    &.with-vattie {
        padding-left: 78px;
        min-height: 78px;

        i.vattie {
            position: absolute;
            font-size: 60px;
            left: 8px;
        }

        @media (max-width: 768px) {
            padding-left: 20px;
            min-height: 0;
            i.vattie {
                display: none;
            }
        }
    }

    > blockquote {
        font-size: 16px;
        border: none;
    }
}

#wrapper {
    min-height: 100%;
    height: 100%;

    &.background-image {
        background: url(/vfbag.jpg);
        background-size: cover;

        #page-wrapper {
            background-color: transparent !important;
        }
    }

    #page-wrapper {
        min-height: 100%;
        height: 100%;

        .wrapper {
            height: 99%;

            .container {
                height: 100%;
            }
        }
    }

    .navbar {
        .nav {
            > li {
                a {
                    font-size: 18px;
                    font-weight: 100;
                    line-height: 18px;
                    display: flex;
                    align-items: center;

                    i.icon {
                        margin-left: 6px;
                        font-size: 22px;
                    }

                    @media (max-width: 992px) {
                        padding: 15px 8px !important;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .container {
            width: auto;
        }
        .navbar-header {
            display: inline-block !important;
            float: left !important;
        }
    }

    .wrapper {
        max-width: 1600px;
        margin: auto;
    }

    .pill-type-options {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .pill-type-option {
            text-align: center;
            padding: 8px;
            width: 33%;
            border: 1px solid #ddd;
            border-radius: 12px;
            margin: 10px 20px;
            cursor: pointer;
            user-select: none;
            font-size: 10px;

            @media (max-width: 512px) {
                margin: 10px 4px;
            }

            &.active {
                background-color: #0069b4;
                border-color: #0069b4;
                color: #fff;
            }

            i.icon, i.fa {
                font-size: 36px;
                display: block;
                margin-bottom: 10px;
            }
        }

    }

    .container {
        &.profile {
            label {
                opacity: 0.6;
            }

            .traveller-type-options {
                .traveller-type-nato-option {
                    font-size: 12px;

                    &.active {
                        background-color: #2593d1;
                    }

                    i.icon {
                        display: none;
                    }

                    @media (max-width: 512px) {
                        margin: 10px 4px;
                    }
                }
            }

            .resend-verification-email {
                font-size: 22px;
            }

            input, select {
                &.error {
                    background-color: rgba(255,0,0,0.3);
                    border-color: red;
                }
            }
        }
    }

    .client-detail {
        height: auto;
    }

    .payout {
        .payout-list {
            font-weight: 600;
            margin-bottom: 20px;

            .payout-list-currency-item {
                &:not(:first-child) {
                    &:before  {
                        content: ',';
                        margin-left: -3px;
                    }
                }
            }
        }
    }

    .item-list {
        .client-status {
            img {
                width: 24px;
                height: 24px;
            }

            i.icon, i.fa {
                font-size: 20px;
            }
        }

        .item-row {
            height: 50px;

            td {
                min-height: 50px;
            }

            &.active {
                td {
                    background-color: lightblue;
                }
            }

            &.total-row {
                td {
                    border-top: 1px solid black;
                    background-color: transparent;
                    font-weight: bold;
                }
            }

            button {
                margin: -4px;
                padding: 2px 5px 2px 5px;

                i {
                    font-size: 28px;
                }
            }
        }
    }


    .input-group {
        width: 100%;

        .icon {
            font-size: 18px;
        }
    }
}

.top-navigation {
    .navbar-brand {
        background: #fff;
        padding: 0 5px;
        img {
            height: 50px;
        }
    }

}

.navbar {
    &.navbar-static-top {
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 99999;
    }

    &.navbar-default {
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 99999;

        .navbar-toggle {
            padding: 7px 6px;

            .icon-bar {
                background-color: #fff;
            }
        }
    }
}

.top-navigation {
    .wrapper {
        &.wrapper-content {
            padding: 75px 40px 0 40px;
        }
    }
}

@media (max-width: 512px) {
    .top-navigation {
        .wrapper {
            &.wrapper-content {
                padding: 70px 0;

                .container {
                    padding: 0;

                    > .row {
                        > .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                            padding: 0;

                            .ibox-content {
                                padding: 15px 30px 20px 30px;;
                            }
                        }
                    }
                }
            }
        }
    }

    .loginscreen {
        &.middle-box {
            width: 100% !important;
        }
    }
}

blockquote {
    small {
        &:before {
            content: "";
        }
    }
}

.flex-row {
    display: flex;
    flex-direction: row;

    .flex-grow-0 {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .flex-grow-1 {
        flex-grow: 1;
        flex-shrink: 1;
    }

    span {
        margin-right: 12px;
    }
}

table.table {
    thead {
        tr {
            th {
                vertical-align: bottom;
            }
        }
    }
    tbody {
        tr {
            &.text-large {
                td {
                    font-size: 24px;
                }
            }

            td {
                vertical-align: top;
            }
        }
    }
}

.container {
    &.home {
        .ibox {
            .ibox-content {
                min-height: 200px;
            }
        }
    }

    &.receipt-add {
        .form-group {
            div.text-muted {
                margin-bottom: 12px;
            }
        }

        .map-container {
            width: 100%;
            height: 320px;
        }

        .select2-container {
            position: relative;
            .select2-selection, .select2-selection__rendered {
                height: 34px;
                line-height: 34px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                .select2-selection__arrow {
                    height: 34px;
                    line-height: 34px;
                }
            }
        }
    }
}

.loginscreen, .splashscreen {
    margin-top: 75px;
    padding: 25px;
    background-color: #fff;
    width: 50%;
    max-width: 450px;
    font-weight: 300;
    overflow: hidden;
    font-size: 18px;
    position: relative;

    @media (max-width: 768px) {
        width: auto;
    }

    .title {
        font-size: 24px;
        margin-bottom: 32px;
    }

    button {
        font-weight: 100;
        font-size: 16px;
        padding: 8px;
        width: 100%;
        max-width: 400px;
    }

    p {
        padding: 0 32px;
        margin-bottom: 32px;
        color: #979797;

        &.text-muted {
            margin-bottom: 12px;
        }
    }

    a {
        color: #df0078;
    }
}

.splashscreen {
    &:before {
        content: ' ';
        background: url(/Logos/VattyL@2x.png);
        background-size: contain;
        width: 86px;
        height: 101px;
        display: inline-block;
        position: absolute;
        top: 200px;
        left: -40px;
    }

    button {
        margin: 20px 0;
        background-color: #93c01f;
        border-color: #93c01f;
        padding: 10px 32px;
        border-radius: 8px;

        &:hover, &:focus, &:active {
            background-color: #a7d126;
            border-color: #a7d126;
        }
    }
}

.loginscreen {
    padding-bottom: 50px;

    &.middle-box {
        width: 50%;
        max-width: 450px;
        min-width: 270px;
    }

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-button {
        position: relative;
        display: block;
        width: 100%;
        max-width: 400px;
        border: none;
        padding: 10px;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        margin: 8px 0;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            opacity: 0.8;
        }

        > i {
            position: absolute;
            left: 13px;
            top: 13px;
        }

        &.google-login {
            background: #dc4a38;
        }

        &.facebook-login {
            background: #365899;
        }

        &.linkedin-login {
            background: #1178b3;
        }

        &.wechat-login {
            background: #4fbf34;
        }

        &.disabled {
            opacity: 0.5;
            user-select: none;
            pointer-events: none;
        }
    }

    form {
        width: 100%;
        max-width: 400px;
    }

    input {
        font-size: 20px;
        line-height: 20px;
        padding: 12px;
        height: 45px;
    }

    .alternative-login {
        padding: 20px 0;
        color: #979797;
        position: relative;
        width: 100%;

        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 30px;
            left: 0;
            right: 0;
            height: 1px;
            border-top: 1px solid #e5e6e7;
        }

        .alternative-text {
            position: relative;
            z-index: 2;
            text-align: center;
            padding-bottom: 10px;

            span {
                background-color: #fff;
                padding: 0 10px;
            }
        }
    }
}

.upload-verification-documents {
    margin-top: 25px;
    .uploaded-file {
        display: inline-block;

        img {
            height: 50px;
        }
    }
}

.select2-container {
    .select2-no-matches {
        padding: 10px;
    }
}

.web-text {
    white-space: pre-line;
}

.modal {
    &:not(.fullscreen) {
        height: 100%;

        .modal-dialog {
            height: 100%;
            max-height: 80%;

            .modal-content {
                height: auto;
                overflow: auto;
                max-height: 100%;
                padding-bottom: 25px;
            }
        }
    }
    @media (min-width: 768px) {
        .modal-dialog {
            margin: 100px auto;
        }
    }
}

