<template name="affiliate_dashboard">
    <div class="wrapper wrapper-content dashboard">
        <div class="row">
            <div class="col-md-3">
                {{> dashboard_pill title=(_ "Total earned") subTitle="&nbsp;" value=getTotalEarned }}
            </div>
            <div class="col-md-3">
                {{> dashboard_pill title=(_ "Total VAT") subTitle="&nbsp;" value=getTotalVat }}
            </div>
            <div class="col-md-3">
                {{> dashboard_pill title=(_ "Total refunds") subTitle="&nbsp;" value=getTotalRefunds }}
            </div>
            <div class="col-md-3">
                {{> dashboard_pill title=(_ "Number of receipts") subTitle="&nbsp;" value=getTotalNumberOfReceipts }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{> dashboard_count_receipts_last_weeks }}
            </div>
        </div>
    </div>
</template>
