<template name="dashboard_popr_table">
    <h2>POPR data per Shop {{#if retailerId}} for {{getRetailerName}}{{/if}}</h2>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            {{#if loadingData}}
                {{> loading }}
            {{else}}
                {{#with getPoprData}}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td colspan="3"><b>In POPr</b></td>
                                    <td colspan="4"><b>In PHNX</b></td>
                                </tr>
                                <tr>
                                    <td>Shop name</td>
                                    <td>#</td>
                                    <td>Amount</td>
                                    <td>VAT</td>
                                    <td>#</td>
                                    <td>Amount</td>
                                    <td>VAT</td>
                                    <td>Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each this}}
                                <tr>
                                    <td>
                                        {{#with shop}}
                                            <a href="/shop/{{_id}}">{{getShopDescription _id}}</a>
                                        {{else}}
                                            {{_id}}
                                        {{/with}}
                                    </td>
                                    <td class="nobr">{{c}}</td>
                                    <td class="nobr">{{formatCurrency a}}</td>
                                    <td class="nobr">{{formatCurrency v}}</td>
                                    <td class="nobr">{{getShopValue 'c'}} ({{getPercentage (getShopValue 'c') c}}%)</td>
                                    <td class="nobr">{{formatCurrency (getShopValue 'a')}} ({{getPercentage (getShopValue 'a') a}}%)</td>
                                    <td class="nobr">{{formatCurrency (getShopValue 'v')}}</td>
                                    <td class="nobr">{{formatCurrency (getShopValue 'f')}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                {{else}}
                    {{#if getLoading}}
                        {{> loading }}
                    {{else}}
                        <i>No data found</i>
                    {{/if}}
                {{/with}}
            {{/if}}
        </div>
    </div>
</template>
