.view-account {
    .list-block {
        .item-link {
            .item-content {
                .item-media {
                    img {
                        height: 42px;
                        width: 36px;
                    }
                }
                .item-inner {
                    padding-left: 15px;
                    background: none;

                    .item-text {
                        display: block;
                        height: auto;
                    }
                }
            }
        }
    }
}

.panel-right {
    background-color: #fff;
    border-left: 1px solid lightgray;

    .close-panel {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}
