.view-add{
    .list-block {
        margin-top: 0;

        .add-file-button {
            label {
                i.f7-icons {
                    padding: 10px;
                }
            }
        }

        .file-thumb {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border: 1px solid #c8c7cc;;
            border-radius: 6px;
            margin-right: 6px;
            overflow: hidden;

            img {
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}