.page > .searchbar ~ .page-content {
    padding-top: 88px !important;
}

form.searchbar {
    padding: 0;
    background: #fff;

    .searchbar-input {
        height: 40px;
    }

    &.searchbar-active {
        .searchbar-cancel {
            margin-right: 8px !important;
        }
    }

    input[type="search"] {
        font-size: 22px;
    }

    .searchbar-clear {
        width: 40px;
        height: 40px;
        background-size: 20px 20px;
    }
}

.autocomplete-page {
    .autocomplete-found {
        ul {
            li {
                .item-inner {
                    .item-title {
                        font-size: 20px;
                        white-space: normal;
                    }
                }
            }
        }
    }
}
