.login {
    a {
        color: #fff;
        i.f7-icons {
            color: #fff;
            font-size: 14px;
        }
    }
    .login-with-facebook {
        border: #3b5998;
        background-color: #3b5998;
    }
    .login-with-instagram {
        border: #cd2029;
        background-color: #cd2029;
    }
    .login-with-google {
        border: #df4b37;
        background-color: #df4b37;
    }
    .login-with-twitter {
        border: #429cd6;
        background-color: #429cd6;
    }
    .login-with-linkedin {
        border: #0d77b7;
        background-color: #0d77b7;
    }
}
