html {
    height: 100vh;
}

.views {
    &.keyboard-shown {
        .view {
            .pages {
                .page {
                    padding-bottom: 245px;
                }
            }
        }
    }
}

.page-content {
    .vatty-peak {
        position: fixed;

        &.vatty-peak-right {
            right: -40px;
            bottom: 40px;
        }

        img {
            width: 120px;
        }
    }
}

.image-responsive {
    width: 100%;
    img {
        width: 100%;
    }
}

.statusbar-overlay {
    background-color: #e2017b;
}

.list-block {
    margin: 0 0 35px 0;
    .item-description {
        padding-top: 5px;
        color: #999;
    }


    .item-content {
        .icon {
            color: #666;
            font-size: 25px;
        }

        &.select-shop {
            .icon {
                font-size: 32px;
            }
        }

        .item-inner {
            .item-title-row {
                color: #999;
                .item-title {
                    font-size: 12px;
                    padding-top: 4px;
                    font-weight: normal !important;
                }
            }
            .item-subtitle {
                input {
                    min-height: 22px;
                    height: auto !important;
                    line-height: 2s2px !important;
                    font-size: 15px;
                }

                &.highlight {
                    font-size: 16px;
                    color: #000;
                    font-weight: bold;
                }

            }

            div.item-subtitle {
                color: #666;
            }
        }

        &.padding-xl {
            .item-media {
                padding-bottom: 12px;
                padding-top: 12px;
            }
            .item-inner {
                padding-bottom: 12px;
                padding-top: 12px;
            }
        }

        &.no-overflow {
            .item-inner {
                .item-subtitle {
                    overflow: auto;
                    white-space: normal;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                }
            }
        }

        #scanReceiptShopName {
            height: auto;
            padding: 0;
        }
    }
}

.button, .button.button-fill {
    background-color: #0069b4;

    &.button-secondary {
        background-color: #33b7b9;
    }

    &.button-cancel {
        color: #0069b4;
        border-color: #0069b4;
        background-color: transparent;
    }
}

.close-popup {
    float: right;
}

.toolbar {
    .toolbar-inner {
        .icon-cell {
            position: relative;

            i.icon {
                font-size: 30px;
            }

            .badge {
                background-color: #33b7b9;
                position: absolute;
                top: -5px;
                right: -21px;
            }
        }
    }

    &.tabbar {
        margin-bottom: constant(safe-area-inset-bottom);
        margin-bottom: env(safe-area-inset-bottom);

        &:after {
            content: '';
            height: env(safe-area-inset-bottom);
            display: block;
            position: absolute;
            top: 55px;
            background-color: #f7f7f8;
            width: 100%;
        }
    }
}

.select-shop {
    .item-media {
        img {
            height: 32px;
        }
    }
}

.full-width-image {
    width: 100%;
}

.network-problems {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    padding: 42px 0;
    z-index: 99999999999;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

a.open-panel {
    position: relative;
    .badge {
        position: absolute;
        top: -4px;
        right: -8px;
    }
    i.icon {
        font-size: 28px;
        color: #fff;
    }
}
