.view-popr {
    div.add-receipt-image {
        overflow: hidden;
        height: 320px;
        width: 100%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        img {
            width: 100%;
        }
    }
}
