.view-receipts, .review-input {
    .page-content {
        .content-block-title {
            text-transform: none;
            margin: 0 15px 0;
            padding-top: 10px;

            &.border {
                padding-bottom: 5px;
            }
        }
        .thumbs {
            margin-bottom: 5px;

            .file-thumb {
                margin: 0 12px;
            }
        }
    }

    .list-block {
        .item-text {
            height: 62px;

            .receipt-status {
                margin-top: 6px;
                font-style: italic;
            }
        }
    }
}

.item-title.prefix {
    text-overflow: initial;
}
