.view-shops, .view-add, .view-receipts, .view_receipt_details {
    .page-content {
        &.search-content {
            padding: 88px 0 55px 0 !important;
        }
    }
    .list-block {
        margin: 0;
        width: 100%;

        .list-block {
            ul {
                padding-left: 0;
                .item-link {
                    .item-content {
                        padding-left: 0;
                    }
                }
            }
        }

        .item-content {
            img {
                height: 36px;
                width: 36px;
            }
        }

        .item-inner {
            .distance {
                position: absolute;
                right: 0;
                text-align: right;
            }
            .item-text {
                font-size: 11px;
                line-height: 14px;
                width: 100%;

                .name {
                    color: #000;
                    font-weight: 600;

                    .distance {
                        color: #8e8e93;
                    }
                }
            }
        }

        &.search-block {
            position: fixed;
            top: 44px;
            width: 100%;
            opacity: 1;
            z-index: 16;

            .item-media {
                i.f7-icons {
                    color: #8e8e93;
                    font-size: 20px;
                }
            }
        }
    }
}

.view-add {
    .search-content {
        .list-block {
            .item-link {
                .item-inner {
                    padding-right: 15px;
                    background: none;
                }
            }
        }
    }
}
.shop-details {
    .list-block {
        .item-link {
            .item-inner {
                padding-right: 15px;
                background: none;
            }
        }
    }
}

.view-shop {
    .list-block {
        ul {
            li {
                .item-description {
                    color: #000;
                    font-size: 16px;
                    font-weight: 600;
                }

                label {
                    font-size: 16px;
                }
                .item-input {
                    input, select {
                        height: 32px;
                        font-size: 14px;
                        &::placeholder {
                            font-style: italic;
                            color: rgba(0, 0, 0, 0.3);
                        }
                    }
                }

                .item-inner {
                    &.maps-icon {
                        justify-content: center;
                        img {
                            max-width: 40%;
                        }
                    }
                }
            }
        }

        .activity-log-item {
            padding: 8px 0;

            .subject {
                font-weight: bold;
            }
            .date {
                font-size: 11px;
                color: lightgray;
            }
            .assignee {

            }
            .data {
                margin-left: 12px;
            }
            .notes {
                margin-top: 6px;
                font-style: italic;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                right: auto;
                top: auto;
                height: 1px;
                width: 100%;
                background-color: #c8c7cc;
                display: block;
                z-index: 15;
                transform-origin: 50% 100%;
            }
        }
    }
}
