body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    user-select: none;
}

a {
    text-decoration: none;
    color: #006fc1;
}

p {
    &.center {
        text-align: center;
    }
}

img {
    &.full-width {
        width: 100%;
    }
}

.swiper-slide {
    &.center {
        text-align: center;
    }
}

.top-right {
    position: absolute;
    top: 15px;
    right: 15px;
}

.page {
    &.pre-text {
        p {
            white-space: pre-line;
        }
    }
}

.navbar {
    .navbar-inner {
        padding: 0 15px;
        justify-content: space-between;
    }

    .center {
        font-size: 14px;
    }

    a.link {
        color: #fff;
        font-size: 14px;
    }

    color: #fff;
    background-color: #e2017b;
}

.page-content {
    background-color: #fff;
    //background-color: #CEE8EE;
    padding: 44px 0 55px 0 !important;

    .page-padding {
        padding: 0 15px;
    }
}

.page-icon {
    text-align: center;

    i.icon {
        font-size: 100px;
    }
}

.list-block {
    margin: 35px 0;
    font-size: 14px;

    .item-description {
        padding-left: 15px;
        padding-top: 15px;
    }

    ul {
        background-color: transparent;
    }
}

.button {
    //border-radius: 0;
    //padding: 5px 10px;
    //height: 39px;

    &.active {
        background-color: #006fc1;
    }
}

.tabbar {
    a.active {
        color: #006fc1;
    }

    .f7-icons {
        font-size: 22px;
    }

    .icon-name {
        font-size: 8px;
    }
}

.toolbar {
    height: 55px;
}

.popup {
    .content-block {
        height: 100%;
        margin: 0;
        padding: 35px 15px 0 15px;

        .swiper-container {
            height: 100%;
        }
    }
}
