.thumbs {
    margin-top: 5px;
    width: 100%;

    .file-thumb {
        float: left;
        //border: 1px solid #c8c7cc;;
        //border-radius: 6px;
        margin: 12px;
        position: relative;

        .file-thumb-container {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 60px;
            height: 80px;

            img {
                width: 100% !important;
                height: auto !important;
            }
        }

        .file-remove {
            position: absolute;
            top: -12px;
            right: -15px;
            color: #ff0000;
            background-color: #fff;
            border-radius: 50%;
            width: 27px;
            height: 27px;
            text-align: center;
            border: 1px solid #aaa;
        }

        &.file-mask {
            cursor: pointer;
        }

        &.add-file-button {
            color: #000;
            margin: 18px;

            i {
                font-size: 38px;
            }
        }
        &.add-photo-button {
            color: #000;
            margin: 18px 18px 18px 0;

            i {
                font-size: 38px;
            }
        }
    }
}

.thumbs::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}