<template name="partnerInfo">
    <div class="ibox ">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    <div class="row m-b-lg">
                        <div class="col-lg-12">
                            <strong>{{profile.name}}</strong>
                            <p>
                                {{profile.addressFirst}}<br/>
                                {{profile.postalCode}} {{profile.city}}<br/>
                            </p>
                            <p>
                                <a href="mailto:{{profile.email}}">{{profile.email}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>Partner summary</strong>
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    <span class="pull-right"> {{formatDate partner.stats.lastRequestDate}} </span>
                                    Last request date
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{partner.stats.numberOfRequests}} </span>
                                    Number of requests
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency partner.stats.totalRefunds}} </span>
                                    Total refunds
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency partner.stats.totalServiceFee}} </span>
                                    Total service fee
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency partner.stats.totalPartnerServiceFee}} </span>
                                    Partner service fee
                                </li>
                            </ul>
                            {{#if private.notes}}
                                <strong>Notes</strong>
                                <p>
                                    {{private.notes}}
                                </p>
                            {{/if}}
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
