<template name="partnersList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'name'}}" data-id="name">Name</th>
                    <th class="sort-header {{isHeaderSorting 'code'}}" data-id="code">Code</th>
                    <th class="sort-header {{isHeaderSorting 'addressFirst'}}" data-id="addressFirst">Address</th>
                    <th class="sort-header {{isHeaderSorting 'email'}}" data-id="email">Contact</th>
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each partners}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/partner/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td><a class="client-link">{{profile.name}}</a></td>
                <td><a class="client-link">{{partner.code}}</a></td>
                <td>{{profile.addressFirst}}, {{profile.postalCode}} {{profile.city}}</td>
                <td><a href="mailto:{{profile.email}}">{{profile.email}}</a></td>
            </tr>
        {{else}}
            <tr>
                <td colspan="6">
                    <i>No partners found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
