<template name="partners">
    {{#if addingItem}}
        {{> addPartnerModal }}
    {{/if}}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                <div class="ibox">
                    <div class="ibox-content">
                        {{#if isInVatfreeRole 'partners-create'}}
                            <a class="btn btn-info btn-icon add-item pull-right" href="#" accesskey="a"><i class="icon icon-create"></i><u>A</u>dd</a>
                        {{/if}}
                        <h2>Partners</h2>
                        <div class="input-group">
                            <input type="text" placeholder="Search partner" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                            </span>
                        </div>
                        <div class="input-group filter-icons">
                            <span class="label label-info label-filter cursor-pointer todos-filter pull-right">Filter {{getStatsCount 'partners'}} tasks</span>
                            {{#each getPartnerStatusOptions}}
                                <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getPartnerStatusIcon this}}"></i></span>
                            {{/each}}
                        </div>
                        <div class="clients-list item-list partners-list">
                            {{#if initialLoadDone}}
                                <div class="full-height-scroll">
                                    <div class="table-responsive infinite-scrolling">
                                        {{> partnersList partners=getPartners includeHeader=true sorting=getSorting }}
                                    </div>
                                </div>
                            {{else}}
                                {{> loading }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{#with getActiveItem}}
                <div class="col-sm-4">
                    {{> partnerInfo }}
                </div>
            {{/with}}
        </div>
    </div>
</template>
