<template name="view_main_contact">
    <div data-page="contact" class="page cached">
        <div class="page-content">
            <div class="page-padding">
                <h1>{{t_ "Contact us"}}</h1>
                <p>
                    {{t_ "Send your postal mail and stamped receipts to"}}:<br/>
                    <br/>
                    <span class="address">
                        vatfree.com<br/>
                        att: APP<br/>
                        PO Box 37234<br/>
                        1030 AE Amsterdam<br/>
                        the Netherlands<br/>
                        <br/>
                        {{t_ "Note_ unregistered mail can be sent –free of charge– to"}}:<br/>
                        <br/>
                        vatfree.com<br/>
                        att: APP<br/>
                        I.B.R.S./C.C.R.I.<br/>
                        Numéro 98002<br/>
                        1000 VA Amsterdam<br/>
                        The Netherlands<br/>
                    </span>
                </p>
                <p class="link">
                    <a href="https://www.vatfree.com/" class="external link" target="_system"><i class="f7-icons">cloud</i> www.vatfree.com</a>
                </p>
                <p class="link">
                    <a href="mailto:support@vatfree.com?subject=Contact from app" class="external link" target="_system"><i class="f7-icons">email</i> support@vatfree.com</a>
                </p>
                <p class="link">
                    <a href="tel:0031888283733" class="external link"><i class="f7-icons">phone</i> +31 (0) 88 828 37 33</a>
                </p>
                <p class="link">
                    <a href="https://www.facebook.com/vatfree" class="external link" target="_system"><i class="f7-icons">social_facebook</i> vatfree.com</a>
                </p>
                <p class="link">
                    <a href="https://www.twitter.com/vatfree" class="external link" target="_system"><i class="f7-icons">social_twitter</i> @vatfree</a>
                </p>
            </div>
        </div>
    </div>
</template>
