<template name="view_main_faq">
    <div data-page="faq" class="page cached">
        <div class="page-content">
            <div class="page-padding">
                <h1>{{t_ "Frequently Asked Questions"}}</h1>
                <p>
                    <a href="https://www.vatfree.com/faq" target="_system">{{t_ "Frequently Asked Questions"}}</a>
                </p>
            </div>
        </div>
    </div>
</template>
