<template name="view_main_how">
    <div data-page="how" class="page cached">
        <div class="page-content">
            <div class="page-padding">
                <img src="/images/how-{{getLanguage}}.svg" onerror="this.src='/images/how.svg';" />
                <p class="">
                    {{t_ "Please send us your original stamped receipt(s) and/or tax-free form(s) –preferably with registered mail– to"}}:<br/>
                    <br/>
                    vatfree.com<br/>
                    att: APP<br/>
                    PO Box 37234<br/>
                    1030 AE Amsterdam<br/>
                    the Netherlands<br/>
                    <br/>
                </p>
            </div>
        </div>
    </div>
</template>
