<template name="view_main_intro">
    <div class="popup popup-intro">
        <div class="content-block">
            <div class="close-popup top-right">
                {{t_ "Close"}}
            </div>
            {{> intro_instructions }}
        </div>
    </div>
</template>

<template name="intro_instructions">
    <div class="swiper-container">
        <!-- Slides wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide center">
                <p class="intro-image">
                    <div class="svg-image">
                        <h1>{{t_ "Begin by saving your purchase receipts"}}</h1>
                        <img src="/images/svg/intro-save.svg" />
                        <div class="image-text">
                            {{t_ "Shops with the pink or blue badge will facilitate your VAT refund through vatfree_com_"}}
                        </div>
                    </div>
                </p>
            </div>
            <div class="swiper-slide center">
                <p class="intro-image">
                    <div class="svg-image">
                        <h1>{{t_ "Get your receipts stamped at Customs"}}</h1>
                        <img src="/images/svg/intro-stamp.svg" />
                        <div class="image-text">
                            {{t_ "Before leaving the EU you will need to have your purchases validated and your receipts stamped by a Customs officer"}}
                        </div>
                    </div>
                </p>
            </div>
            <div class="swiper-slide center">
                <p class="intro-image">
                    <div class="svg-image">
                        <h1>{{t_ "Register and take a photo of your stamped receipts with this app"}}</h1>
                        <img src="/images/svg/intro-photo.svg" />
                        <div class="image-text">
                            {{t_ "By submitting your receipts, you will then be eligible to request a VAT refund and keep track of the process"}}
                        </div>
                    </div>
                </p>
            </div>
            <div class="swiper-slide center">
                <p class="intro-image">
                    <div class="svg-image">
                        <h1>{{t_ "Send us your stamped receipts"}}</h1>
                        <img src="/images/svg/intro-mail.svg" />
                        <div class="image-text">
                            {{t_ "We start the refund process once we’ve received the original stamped receipts in physical form_ We will collect the VAT from the shops and keep you informed via your account_ We request your payment details once your refund is collected and then transfer the money to you_"}}
                        </div>
                    </div>
                </p>
            </div>
            <div class="swiper-slide center">
                <p class="intro-image">
                    <div class="svg-image">
                        <h1>{{t_ "Make sure your account is complete"}}</h1>
                        <img src="/images/svg/intro-account.svg" />
                        <div class="image-text">
                            {{t_ "Vatfree_com is a service for non-EU residents_ Please complete your account profile for a faster refund process_"}}
                        </div>
                    </div>
                </p>
            </div>
        </div>
        <!-- Pagination, if required -->
        <div class="swiper-pagination"></div>
    </div>
</template>
