<template name="view_main">
    <div class="view view-main">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    {{#if stackSize}}
                        <a class="back link">
                            <span>{{t_ "Back"}}</span>
                        </a>
                    {{/if}}
                </div>
                <div class="center">{{t_ "How it works"}}</div>
                <div class="right">&nbsp;</div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="index" class="page">
                <div class="page-content">
                    <div class="page-padding">
                        <p>{{t_ "We can easily help you receive a VAT refund in four simple steps"}}</p>
                        <a href="#" class="button active open-intro">{{t_ "View the introduction"}}</a>
                    </div>
                    <div class="list-block">
                        <ul>
                            {{> listItem title=(t_ "How to get a refund?") class="open-how" }}
                            {{> listItem title=(t_ "What exactly is VAT?") class="open-what" }}
                            {{> listItem title=(t_ "Frequently Asked Questions") class="open-faq" }}
                            {{> listItem title=(t_ "Contact us") class="open-contact" }}
                            {{> listItem title=(t_ "Terms & Conditions") class="open-terms" }}
                            {{> listItem title=(t_ "Privacy Policy") class="open-privacy" }}
                        </ul>
                    </div>
                    <div class="page-padding">
                        <a href="#" class="button active open-vatfree-contact">{{t_ "Ask a question on vatfree_com"}}</a>
                        <p class="center"><a href="#" class="open-vatfree-home">{{t_ "View more on our website"}}</a></p>
                    </div>
                </div>
                {{> view_main_how }}
                {{> view_main_what }}
                {{> view_main_faq }}
                {{> view_main_contact }}
                {{> view_main_terms }}
                {{> view_main_privacy }}
            </div>
        </div>
        {{> toolbar }}
    </div>
</template>
