<template name="view_main_privacy">
    <div data-page="privacy" class="page cached pre-text">
        <div class="page-content">
            <div class="page-padding">
                <div class="sqs-block-content">
                    <h1>Vatfree.com Privacy Statement</h1>
                    {{#if privacyPolicy}}
                        {{{privacyPolicy}}}
                    {{else}}
                        <span class="load-privacy-policy">{{t_ "Load Privacy Policy"}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
