<template name="view_main_terms">
    <div data-page="terms" class="page cached pre-text">
        <div class="page-content">
            <div class="page-padding">
                <div class="sqs-block-content">
                    <h1>{{t_ "Terms & Conditions"}}</h1>
                    {{#if termsText}}
                        {{{termsText}}}
                    {{else}}
                        <span class="load-terms">{{t_ "Load Terms & Conditions"}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
