<template name="view_main_what">
    <div data-page="what" class="page cached">
        <div class="page-content">
            <div class="page-padding">
                <h1>{{t_ "What exactly is VAT?"}}</h1>
                {{{getWebText 'app_what_is_vat'}}}
            </div>
        </div>
    </div>
</template>
