<row>
    <columns>
        With kind regards,<br/>
        <br/>
        Team <a href="https://www.vatfree.com/">vatfree.com</a><br/>
        <br/>
        Connect with us on <a href="https://www.facebook.com/VATFREE">facebook</a>, <a href="https://twitter.com/vatfree">twitter</a> or <a href="https://www.linkedin.com/company-beta/289395/">linkedin</a><br/>
        <br/>
        Send postage to:<br/>
        <a href="https://www.vatfree.com/">vatfree.com</a> APP<br/>
        P.O. Box 37234<br/>
        1030 AE Amsterdam<br/>
        The Netherlands<br/>
        <br/>
        telephone: +31 (0) 88 828 37 33<br/>
        email: <a href="mailto:support@vatfree.com">support@vatfree.com</a><br/>
        website: <a href="https://www.vatfree.com/">http://www.vatfree.com</a><br/>
        <br/>
        <a href="https://www.vatfree.com/">vatfree.com</a> ®, All rights reserved.<br/>
    </columns>
</row>
