<template name="receiptRejectionList">
    <ul>
        {{#each getReceiptRejections}}
            <li>
                <span title="{{description}}">{{name}}</span>
            </li>
        {{/each}}
    </ul>
</template>