.item-list.files-list {
    td.file {
        padding: 2px;
        margin: 0;
        width: 46px;
        height: 46px;
        background-color: inherit;
        display: table-cell;
        text-align: center;

        a {
            width: 38px;
            height: 38px;
            overflow: hidden;
            text-align: center;
            line-height: 38px;
        }

        div.image-container {
            width: 38px;
            overflow: hidden;
            text-align: center;
        }

        img {
            max-height: 38px !important;
        }
    }
}

.ibox.file-info {
    img {
        max-width: 100%;
    }
}
