<template name="view_refund">
    <div class="view view-refund">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    {{#if stackSize}}
                        <a class="back link">
                            <span>Back</span>
                        </a>
                    {{/if}}
                </div>
                <div class="">Refund calculator</div>
                <div class="right">&nbsp;</div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="receipts" class="page">
                <div class="page-content infinite-scroll">
                    TODO
                </div>
            </div>
        </div>
        {{> toolbar }}
    </div>
</template>
