<template name="splash">
    <div class="text-center middle-box splashscreen animated fadeInDown">
        <div>
            {{{getWebText 'traveller_welcome_to_vatfree'}}}
        </div>
    </div>
</template>
