<template name="affiliatePayouts">
    <div class="page affiliatePayouts">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                <a class="btn btn-info btn-icon affiliatePayout-create-new" href="#" accesskey="e" disabled="{{#unless getStatsCount 'affiliatePayouts'}}true{{/unless}}"><i class="icon icon-ready4affiliatePayout"></i><u>E</u>xport Open Affiliate Payouts ({{getStatsCount 'affiliatePayouts'}})</a>
                            </div>
                            <h2>Affiliate Payouts</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Search affiliate payout" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                            </span>
                            </div>
                            <div class="input-group filter-icons">
                                <span class="pull-right toggle-list-filters {{#if activeListfilters}}filter-icon active{{/if}} {{#if showListFilters}}active{{/if}}"><i class="icon icon-filterfunnel"></i></span>
                                <span class="label label-info label-filter cursor-pointer todos-filter pull-right">Filter {{getStatsCount 'affiliatePayouts'}} tasks</span>
                                <span class="label-filter-group">
                                    {{#each getAffiliatePayoutStatusOptions}}
                                        <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getAffiliatePayoutIcon this}}"></i></span>
                                    {{/each}}
                                </span>
                                <span class="label-filter-group">
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "creditcard"}}active{{/if}}" id="creditcard" title="Credit card">
                                        <i class="icon icon-creditcard"></i>
                                    </span>
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "sepa"}}active{{/if}}" id="sepa" title="SEPA Bank transfer">
                                        <i class="icon icon-bank"></i>
                                    </span>
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "paypal"}}active{{/if}}" id="paypal" title="Paypal">
                                        <i class="icon icon-paypal"></i>
                                    </span>
                                </span>
                            </div>
                            {{#if showListFilters}}
                                <div class="input-group list-filters">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Affiliate</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-affiliates"></i></span>
                                                    <select name="listFilter.affiliateId" class="form-control">
                                                        {{#with getListFilterValue "affiliateId"}}
                                                            <option value="{{this}}">{{getUserName this}}</option>
                                                        {{/with}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Amount</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.amount" data-compare="$gte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "amount.$gte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.amount" data-compare="$lte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "amount.$lte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Created date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.createdAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.createdAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Update date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.updatedAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "updatedAt.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.updatedAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "updatedAt.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            {{#with getAffiliatePayoutStats}}
                                <div class="list-aggregates">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td># affiliatePayouts: {{count}}</td>
                                            <td>Amounts: {{formatCurrency amount}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {{/with}}
                            <div class="clients-list item-list affiliatePayouts-list">
                                {{#if initialLoadDone}}
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> payoutsList payouts=getAffiliatePayouts includeHeader=true sorting=getSorting }}
                                        </div>
                                    </div>
                                {{else}}
                                    {{> loading }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#with getActiveItem}}
                    <div class="col-sm-4">
                        {{> affiliatePayoutInfo }}
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
</template>
