<template name="affiliatePayoutBatch">
    <div class="page affiliatePayout-batches">
        {{> pageHeading title='Affiliate payout batch' category='AffiliatePayouts' categoryLink='/affiliatePayouts' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            {{#if Template.subscriptionsReady}}
                                {{#with totalStats}}
                                    <fieldset>
                                        <h2>Total</h2>
                                        <div class="list-aggregates">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td># affiliatePayouts: {{count}}</td>
                                                    <td>Amounts: {{formatCurrency amount}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                {{/with}}
                                {{#each getAffiliatePayoutBatches}}
                                    <fieldset>
                                        {{> affiliatePayoutBatch_details }}
                                    </fieldset>
                                {{/each}}
                            {{else}}
                                {{> loading }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="affiliatePayoutBatch_details">
    <div class="pull-right">
        <a class="btn btn-info btn-icon save-affiliatePayout-batch" href="#" accesskey="s"><i class="icon icon-download"></i><u>D</u>ownload</a>
        {{#if $eq paymentMethod 'sepa'}}
            <a class="btn btn-info btn-icon save-affiliatePayout-batch-sepa-xml" href="#" accesskey="s"><i class="icon icon-download"></i><u>D</u>ownload SEPA XML</a>
        {{/if}}
        {{#if allowUpload}}
            <a class="btn btn-info btn-icon upload-affiliatePayout-batch" href="#" accesskey="u"><i class="icon icon-upload"></i><u>U</u>pload</a>
        {{/if}}
            {{#unless paidAt}}
            <a class="btn btn-info btn-icon mark-as-paid" href="#"><i class="icon icon-affiliatePayoutok"></i>Mark as paid</a>
        {{/unless}}
    </div>
    <h2>{{affiliatePayoutBatchNumber}} - {{paymentMethod}}</h2>
    <div class="list-aggregates">
        <table class="table">
            <tbody>
            <tr>
                <td># affiliatePayouts: {{affiliatePayouts.length}}</td>
                <td>
                    Amounts: {{formatCurrency amount}}
                    {{#if isType 'paypal'}}
                        (with fee: {{formatCurrency amountWithFee}})
                    {{/if}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {{#with affiliatePayouts}}
        {{> Template.dynamic template=getAffiliatePayoutBatchTemplate data=getDataContext }}
    {{/with}}
</template>
