<template name="affiliatePayoutEdit">
    {{#with affiliatePayoutDoc}}
        {{> pageHeading title=affiliatePayoutNr category='Affiliate Payouts' categoryLink='/affiliatePayouts' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-8">
                    {{> affiliatePayoutEditForm }}
                </div>
                <div class="col-sm-4">
                    {{> affiliatePayoutInfo }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="affiliatePayoutEditForm">
    {{#if Template.subscriptionsReady}}
        <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Affiliate payout details</a></li>
            <li><a data-toggle="tab" href="#tab-2"> Affiliate payout receipts</a></li>
            <li><a data-toggle="tab" href="#tab-4"> Affiliate payout payments</a></li>
            <li><a data-toggle="tab" href="#tab-3"> Activity</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form role="form" name="edit-affiliatePayout-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Affiliate</label>
                                <div class="col-sm-10">
                                    <select name="affiliateId" class="form-control" disabled="{{isDisabled}}">
                                        <option value="{{affiliateId}}" selected="selected">{{getAffiliateName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Affiliate payout Date</label>
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="affiliatePayoutDate" class="form-control" value="{{formatDate affiliatePayoutDate}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">Language</label>
                                <div class="col-sm-4">
                                    <select name="language" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#each getShopLanguages}}
                                            <option value="{{code}}" selected="{{isLanguageSelected ../language}}">{{en}} ({{name}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Affiliate payout amount</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol}}</span>
                                        <input type="number" name="amount" placeholder="Fill in the affiliatePayout amount" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount amount}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">Currency</label>
                                <div class="col-sm-4">
                                    <select name="currencyId" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#each getCurrencies}}
                                            <option value="{{_id}}" selected="{{isSelected _id ../currencyId}}">{{name}} ({{code}}, {{symbol}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Payment</label>
                                <div class="col-sm-4">
                                    <select name="paymentMethod" class="form-control" disabled="{{isDisabled}}">
                                        <option value="">-</option>
                                        {{#each getPaymentMethods}}
                                            <option value="{{this}}" selected="{{isSelected this ../paymentMethod}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Nr</label>
                                <div class="col-sm-4">
                                    <input type="text" name="paymentNr" class="form-control" value="{{paymentNr}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            {{#if paymentAccountName}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Account Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="paymentAccountName" class="form-control" value="{{paymentAccountName}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            {{/if}}
                            {{#unless deleted}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select name="status" class="form-control" required="required" disabled="{{isDisabled}}">
                                            {{#each getAffiliatePayoutStatusOptions}}
                                                <option value="{{this}}" selected="{{isStatus this}}">{{_ this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            {{/unless}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="notes" placeholder="Notes about this affiliatePayout">{{notes}}</textarea>
                                </div>
                            </div>
                            <div class="text-right">
                                {{#if deleted}}
                                    <button class="btn btn-sm btn-default m-t-n-xs cancel" disabled="{{disableButtons}}"><strong>Close</strong></button>
                                {{else}}
                                    <button class="btn btn-sm btn-default m-t-n-xs cancel" disabled="{{disableButtons}}"><strong>Cancel</strong></button>
                                    <button class="btn btn-sm btn-primary m-t-n-xs" type="submit" disabled="{{disableButtons}}"><strong>Update affiliatePayout</strong></button>
                                {{/if}}
                                {{#unless $eq status "cancelled"}}
                                    <button class="btn btn-sm btn-warning m-t-n-xs cancel-affiliatePayout" disabled="{{disableButtons}}"><strong>Cancel Affiliate Payout</strong></button>
                                {{/unless}}
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                {{> activityLogTab activityLogs=getActivityLog affiliatePayoutId=_id shopId=shopId companyId=companyId }}
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> paymentsList payments=getPayments includeHeader=true affiliatePayoutId=_id }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        {{#if $eq status "cancelled"}}
                            <blockquote class="alert-warning">
                                This affiliatePayout has been cancelled. The status of the original receipts might not match this affiliatePayout.
                            </blockquote>
                        {{/if}}
                        <div class="table-responsive item-list">
                            {{> receiptsList receipts=getReceipts includeHeader=true sorting=getReceiptSorting }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>
