<template name="affiliatePayoutInfo">
    <div class="ibox affiliatePayout-info">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    <div class="row m-b-lg">
                        <div class="col-sm-12">
                            <h2>
                                Affiliate Payout: {{affiliatePayoutNr}}
                            </h2>
                        </div>
                    </div>
                    {{#with getAffiliate}}
                        {{> affiliateCard }}
                    {{/with}}
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>Affiliate Payout summary</strong>
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    <span class="pull-right">
                                        {{#if deleted}}
                                            <span class="text-danger">{{_ "Deleted"}}</span>
                                        {{else}}
                                            <i class="{{getAffiliatePayoutIcon}}"></i> {{_ status}}
                                        {{/if}}
                                    </span>
                                    Status
                                </li>
                                {{#if type}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{type}} </span>
                                        Type
                                    </li>
                                {{/if}}
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency amount}} </span>
                                    Total affiliate payout amount
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency costs}} </span>
                                    Affiliate payout costs
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> <i class="icon icon-{{getPaymentMethodIcon}}"></i> </span>
                                    Affiliate payout method
                                </li>
                                {{#if isStatus 'partiallyPaid' status}}
                                    <li class="list-group-item">
                                        <strong class="text-danger">
                                            <span class="pull-right"> {{formatCurrency getOpenAffiliatePayoutAmount}} </span>
                                            Open affiliate payout amount
                                        </strong>
                                    </li>
                                {{/if}}
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDate createdAt}} </span>
                                    Date added
                                </li>
                                {{#if affiliatePayoutDate}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatDate affiliatePayoutDate}} </span>
                                        Affiliate payout date
                                    </li>
                                {{/if}}
                                {{#with getAffiliatePayoutBatch}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> <a href="/affiliatePayout/affiliatePayout-batch/{{_id}}">{{affiliatePayoutBatchNumber}}</a> </span>
                                        Affiliate payout batch
                                    </li>
                                {{/with}}
                            </ul>
                            {{#if notes}}
                                <strong>Notes</strong>
                                <p>
                                    {{notes}}
                                </p>
                            {{/if}}
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
