div.ancestors {
    padding: 6px;

    .ancestor {
        font-size: 16px;
        display: inline-block;

        &:not(:last-child):after {
            content: " > ";
            padding: 0 6px;
            color: #ccc;
        }
    }
}