.wrapper {
    .card {
        &.company-card {
            a {
                background-color: transparent;
            }

            .files {
                .file {
                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}
