.company-hierarchy {
    .company-hierarchy-company {
        font-size: 16px;
        img {
            height: 17px;
        }
    }
    .company-hierarchy-shops {
        ul.company-hierarchy-shops-list {
            li.company-hierarchy-shop {
                opacity: 0.7;
                font-size: 14px;
                img {
                    height: 15px;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .company-hierarchy-children {
        padding-inline-start: 20px;
        li {
            list-style: none;
        }
    }
}

.col-sm-4 {
    .company-hierarchy {
        .company-hierarchy-company {
            font-size: 13px;
        }
    }
    .company-hierarchy-shops {
        ul.company-hierarchy-shops-list {
            li.company-hierarchy-shop {
                font-size: 11px;
            }
        }
    }
}
