<template name="dashboard_financials">
    <div class="wrapper wrapper-content dashboard">
        <div class="row">
            <div class="col-sm-12">
                {{#each getYears}}
                    <h1>{{this}}</h1>
                    {{#with getFinancials this}}
                        Bedrag aan VTB verstuurd in {{..}}: {{formatCurrency invoicesSent}}<br/>
                        Hoeveel VTB ontvangen in {{..}}: {{formatCurrency invoicesPaid}}<br/>
                        <br/>
                        Hoeveel service fee ontvangen in {{..}}: {{formatCurrency serviceFeeReceived}}<br/>
                        Hoeveel refund betaald in {{..}}: {{formatCurrency refundPaid}}<br/>
                        <br/>
                        Bedrag wat nog open staat aan VTB per 1/1/{{yearPlus1 ..}}: {{formatCurrency invoicesOpen}}<br/>
                        Bedrag wat nog open staat aan nog te betalen aan reiziger per 1/1/{{yearPlus1 ..}}: {{formatCurrency refundOpen}}<br/>
                    {{/with}}
                {{/each}}
            </div>
        </div>
    </div>
</template>
