<template name="affiliateEdit">
    {{#if Template.subscriptionsReady}}
        {{#with affiliateDoc}}
            {{> pageHeading title=getBreadcrumbTitle category='Affiliates' categoryLink='/affiliates' }}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-sm-8">
                        {{> affiliateEditForm }}
                    </div>
                    <div class="col-sm-4">
                        {{> affiliateInfo }}
                    </div>
                </div>
            </div>
        {{/with}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<template name="affiliateEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Affiliate details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-4"> Activity</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Receipts</a></li>
            <li class=""><a data-toggle="tab" href="#tab-5"> Contacts</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3"> Payments</a></li>
            <li class=""><a data-toggle="tab" href="#tab-files"> Files</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="affiliate-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="profile.name" placeholder="Affiliate name" value="{{profile.name}}" required="required" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Company name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="affiliate.companyName" placeholder="Affiliate company name" value="{{affiliate.companyName}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-4">
                                    <select name="affiliate.status" class="form-control" disabled="{{isDisabled}}">
                                        {{#each getAffiliateStatusOptions}}
                                            <option value="{{this}}" selected="{{isSelected ../affiliate.status this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Code</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="affiliate.code" placeholder="Affiliate code" value="{{affiliate.code}}" required="required" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Service Fee</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="affiliate.serviceFee" min="0" max="100" step="1" placeholder="{{getStandardServiceFee}}" value="{{affiliate.serviceFee}}" disabled="{{isDisabled}}">
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">Discount 1st receipt</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="affiliate.travellerDiscount" min="0" max="100" step="1" placeholder="{{getStandardDiscount}}" value="{{affiliate.travellerDiscount}}" disabled="{{isDisabled}}">
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"># travellers</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" name="affiliate.nrTravellers" min="0" step="1" placeholder="Expected number of travellers" value="{{affiliate.nrTravellers}}" disabled="{{isDisabled}}">
                                </div>
                                <label class="col-sm-2 control-label">Avg spend</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" name="affiliate.avgSpend" min="0" step="1" placeholder="Average traveller spend" value="{{affiliate.avgSpend}}" disabled="{{isDisabled}}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="profile.email" placeholder="Affiliate email" value="{{profile.email}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">WeChat ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="profile.wechatId" placeholder="WeChat ID" value="{{profile.wechatId}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-plus"></i></span>
                                        <input type="text" class="form-control" name="profile.phone" placeholder="Phone" value="{{profile.phone}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">Phone 2</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-plus"></i></span>
                                        <input type="text" class="form-control" name="profile.phone2" placeholder="Phone 2" value="{{profile.phone2}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="profile.addressFirst" placeholder="Address" value="{{profile.addressFirst}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">&nbsp;</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="profile.postalCode" placeholder="Postal code" value="{{profile.postalCode}}" disabled="{{isDisabled}}">
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="profile.city" placeholder="City" value="{{profile.city}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-10">
                                    <select name="profile.countryId" class="form-control" required="required" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}" selected="{{isCountrySelected ../profile.countryId}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Preferred language</label>
                                <div class="col-sm-10">
                                    <select name="profile.language" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#each getShopLanguages}}
                                            <option value="{{code}}" selected="{{isLanguageSelected ../profile.language}}">{{en}} ({{name}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="profile.notes" placeholder="Notes about this affiliate" disabled="{{isDisabled}}">{{private.notes}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    {{#if isInVatfreeRole 'affiliates-update'}}
                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                    {{/if}}
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> receiptsList receipts=getReceipts includeHeader=true showAffiliatefee=true }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            // TODO ...
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    <div class="text-right">
                        <a class="btn btn-primary add-activity-log" href="#">+ Add</a>
                    </div>
                    {{#if addingActivityLog }}
                        {{> addActivityLogModal affiliateId=_id parentVariable='addingActivityLog' }}
                    {{/if}}

                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> activityLogsList activityLogs=getActivityLog includeHeader=true showDetails=true }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    <div class="text-right">
                        <a class="btn btn-primary add-contact" href="#">+ Add</a>
                    </div>
                    {{#if addingContact}}
                        {{> addContactModal shopId=false companyId=false affiliateId=_id parentVariable='addingContact' }}
                    {{/if}}

                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> contactsList contacts=getContacts includeHeader=true }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-files" class="tab-pane">
                <div class="panel-body">
                    {{> tab_files securityRole='contacts-update' disallowUpload=isLocked fileContext=getFileContext allowDelete=true }}
                </div>
            </div>
        </div>
    </div>
</template>
