<template name="affiliateInfo">
    <div class="ibox ">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    <div class="row m-b-lg">
                        <div class="col-lg-12">
                            <strong>{{profile.name}}</strong>
                            <p>
                                {{profile.addressFirst}}<br/>
                                {{profile.postalCode}} {{profile.city}}<br/>
                            </p>
                            <p>
                                <a href="mailto:{{profile.email}}">{{profile.email}}</a>
                            </p>
                            <p>
                                <b>Affiliate link:</b><br/>
                                https://traveller.vatfree.com/a/{{affiliate.code}}<br/>
                                <span class="text-muted">(this is the link shared with travellers)</span>
                            </p>
                        </div>
                    </div>
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>Affiliate summary</strong>
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    <span class="pull-right"> {{affiliate.code}} </span>
                                    Code
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDate affiliate.stats.lastRequestDate}} </span>
                                    Last request date
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{affiliate.stats.numberOfRequests}} </span>
                                    Number of requests
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency affiliate.stats.totalRefunds}} </span>
                                    Total refunds
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency affiliate.stats.totalServiceFee}} </span>
                                    Total service fee
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency affiliate.stats.totalAffiliateServiceFee}} </span>
                                    Affiliate service fee
                                </li>
                            </ul>
                            {{#if private.notes}}
                                <strong>Notes</strong>
                                <p>
                                    {{private.notes}}
                                </p>
                            {{/if}}
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
