<template name="affiliatesList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'profile.name'}}" data-id="profile.name">Name</th>
                    <th class="sort-header {{isHeaderSorting 'affiliate.code'}}" data-id="affiliate.code">Code</th>
                    <th class="sort-header {{isHeaderSorting 'affiliate.affiliateServiceFee'}}" data-id="affiliate.affiliateServiceFee">Aff.Fee</th>
                    <th class="sort-header {{isHeaderSorting 'profile.addressFirst'}}" data-id="profile.addressFirst">Address</th>
                    <th class="sort-header {{isHeaderSorting 'profile.email'}}" data-id="profile.email">Contact</th>
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each affiliates}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/affiliate/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td><a class="client-link">{{profile.name}}</a></td>
                <td><a class="client-link">{{affiliate.code}}</a></td>
                <td><a class="client-link">{{affiliate.serviceFee}}</a></td>
                <td>{{profile.addressFirst}}, {{profile.postalCode}} {{profile.city}}</td>
                <td><a href="mailto:{{profile.email}}">{{profile.email}}</a></td>
            </tr>
        {{else}}
            <tr>
                <td colspan="6">
                    <i>No affiliates found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
