<template name="affiliate">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="text-center">
            {{{getWebText 'traveller_register_with_affiliate'}}}

            <div class="title">{{t_ "Register an account with vatfree"}}</div>
            {{#if loginServiceActive 'google'}}
                <div class="login-button google-login {{#if isLoggingInWithSocial}}disabled{{/if}}">
                    {{#if isLoggingInWithSocial 'google'}}
                        <i class="fa fa-spinner fa-spin"></i>
                    {{else}}
                        <i class="fa fa-google"></i>
                    {{/if}}
                    <span>
                        {{t_ "Register with Google"}}
                    </span>
                </div>
            {{/if}}
            {{#if loginServiceActive 'facebook'}}
                <div class="login-button facebook-login {{#if isLoggingInWithSocial}}disabled{{/if}}">
                    {{#if isLoggingInWithSocial 'facebook'}}
                        <i class="fa fa-spinner fa-spin"></i>
                    {{else}}
                        <i class="fa fa-facebook"></i>
                    {{/if}}
                    <span>
                        {{t_ "Register with Facebook"}}
                    </span>
                </div>
            {{/if}}
            {{#if loginServiceActive 'linkedin'}}
                <div class="login-button linkedin-login {{#if isLoggingInWithSocial}}disabled{{/if}}">
                    {{#if isLoggingInWithSocial 'linkedin'}}
                        <i class="fa fa-spinner fa-spin"></i>
                    {{else}}
                        <i class="fa fa-linkedin"></i>
                    {{/if}}
                    <span>
                        {{t_ "Register with LinkedIn"}}
                    </span>
                </div>
            {{/if}}
            {{#if loginServiceActive 'wechat'}}
                <div class="login-button wechat-login {{#if isLoggingInWithSocial}}disabled{{/if}}">
                    {{#if isLoggingInWithSocial 'wechat'}}
                        <i class="fa fa-spinner fa-spin"></i>
                    {{else}}
                        <i class="fa fa-wechat"></i>
                    {{/if}}
                    <span>
                        {{t_ "Register with WeChat"}}
                    </span>
                </div>
            {{/if}}
            <div class="alternative-login">
                <div class="alternative-text"><span>{{t_ "or register with email"}}</span></div>
            </div>
            <form name="register-form">
                <p>
                    {{t_ "Fill in your email address and a password to register"}}
                </p>
                <div class="form-group">
                    <input name="email" type="email" class="form-control" placeholder="{{t_ "Email"}}" required="">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="{{t_ "Password"}}" required="required">
                </div>
                <div class="form-group">
                    <input name="password2" type="password" class="form-control" placeholder="{{t_ "Repeat password"}}" required="required">
                </div>
                <button type="submit" class="btn btn-primary full-width m-b" disabled="{{#if isRegistering}}disabled{{/if}}">{{#if isRegistering}}<i class="fa fa-spinner fa-spin"></i> {{/if}}{{t_ "Register"}}</button>
            </form>
            <div class="alternative-login">
                <div class="alternative-text"><span>{{t_ "Already have an account?"}}</span></div>
            </div>
            <button type="submit" class="btn btn-default full-width m-b normal-login">{{t_ "Login"}}</button>
        </div>
    </div>
</template>
