<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            <a href="/">
                                {{> avatar user=currentUser size="nav-header" shape="circle" }}
                            </a>
                        </span>
                        <span class="text-muted text-xs block">
                            <a href="/">
                                {{getUserName}}
                            </a>
                        </span>
                    </div>
                    {{#if newVersionAvailable}}
                        <div class="new-version animate slide-in-down">
                            <a href="#" class="update-app">New version of Vatfree.com available, click here to update</a>
                        </div>
                    {{/if}}
                </li>
                <li class="{{isActivePath regex='/dashboard'}}">
                    <a href="/dashboard" tabindex="-1">
                        <i class="icon icon-dashboard"></i>
                        <span class="nav-label">Dashboard</span>
                    </a>
                </li>
                <li class="{{isActivePath regex='/traveller'}}">
                    <a href="/travellers" tabindex="-1">
                        <i class="icon icon-traveller"></i>
                        <span class="nav-label">Travellers</span>
                    </a>
                </li>
                <li class="{{isActivePath regex='/receipt'}}">
                    <a href="/receipts" tabindex="-1">
                        <i class="icon icon-receiptsmore"></i>
                        <span class="nav-label">Receipts</span>
                    </a>
                </li>
                <li class="{{isActivePath regex='/payout'}}">
                    <a href="/payouts" tabindex="-1">
                        <i class="icon icon-payouts"></i>
                        <span class="nav-label">Payouts</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>
