p.activity-note {
    white-space: pre-wrap;
    max-height: 200px;
    overflow: auto;
}

.activity-logs-list {
    table {
        table-layout: fixed;
        thead {
            tr {
                th:first-child {
                    width: 88px
                }
                th:nth-child(2) {
                    width: 125px
                }
                th:nth-child(3) {
                    width: 48px
                }
                th:nth-child(4) {
                    width: 48px
                }
                th:nth-child(5) {
                    min-width: 60px
                }

                th:nth-child(6) {
                    width: 60px;
                }
                th:nth-child(7) {
                    width: 84px
                }
                th:nth-child(8) {
                    width: 80px
                }
            }
        }
        tbody {
            tr {
                td {
                    overflow: hidden;
                    .activity-log-subject {
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
