<template name="companyMoveShops">
    {{#modal parentTemplateVariable="movingShops" center=true onShow=onModalShow }}
        <div class="company-move-shops">
            <h2>Move {{getShopCount}} shops to company</h2>

            <br/>

            <form role="form" name="company-move-shops-form">
                <div class="form-group">
                    <label class="control-label">Parent company</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon icon-companies"></i></span>
                        <select name="companyId" class="form-control"></select>
                    </div>
                </div>

                <br/>

                <div class="buttons">
                    <button class="btn btn-sm btn-default m-t-n-xs close-modal">Cancel</button>
                    <button class="btn btn-sm btn-primary m-t-n-xs company-move-shops-form-submit"><strong>Move shops</strong></button>
                </div>
            </form>

        </div>
    {{/modal}}
</template>
