<template name="companySetShopStatus">
    {{#modal parentTemplateVariable="changeShopStatus" center=true }}
        <div class="company-set-shop-status">
            <h2>Change {{getShopCount}} shop status</h2>

            <br/>

            <form name="company-set-shop-status-form">
                <div class="form-group">
                    <label class="control-label">Status</label>
                    <div>
                        <select name="status" class="form-control">
                            <option value=""> -- do not change --</option>
                            {{#each getShopStatusOptions}}
                                <option value="{{this}}" selected="{{isSelected ../status this}}">{{_ this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Partnership Status</label>
                    <div class="">
                        <select class="form-control" name="partnershipStatus">
                            <option value=""> -- do not change --</option>
                            <option value="new">New</option>
                            <option value="partner">Partner</option>
                            <option value="pledger">Pledger</option>
                            <option value="affiliate">Affiliate</option>
                            <option value="uncooperative">Uncooperative</option>
                        </select>
                    </div>
                </div>
            </form>

            <br/>

            <div class="buttons">
                <button class="btn btn-sm btn-default m-t-n-xs close-modal">Cancel</button>
                <button class="btn btn-sm btn-primary m-t-n-xs company-move-shops-form-submit"><strong>Change shop status</strong></button>
            </div>
        </div>
    {{/modal}}
</template>
