<template name="view_receipt_add">
    <div class="view view-add">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    {{#if stackSize}}
                        <a class="back link">
                            <span>{{t_ "Back"}}</span>
                        </a>
                    {{/if}}
                </div>
                <div class="center">{{t_ "Add receipt"}}</div>
                <div class="right info"><a id="main" class="tab-link"><i class="icon icon-info-fill"></i></a></div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="add" class="page">
                <div class="page-content">
                    {{#unless currentUser}}
                        <div class="page-padding">
                            {{> login }}
                        </div>
                    {{else}}
                        {{#if instructionsSeen}}
                            {{#if qrCodeOnReceiptAsked}}
                                <div class="list-block">
                                    <ul>
                                        <li>
                                            <div class="item-content got-customs-stamp">
                                                <div class="image-text">
                                                    {{t_ "Have you already had your receipt stamped at Customs?"}}
                                                </div>
                                                <img src="/images/svg/got-stamp.svg" class="receipt-got-stamp"/>
                                            </div>
                                        </li>
                                        <!-- Text inputs -->
                                        <li>
                                            <div class="item-description">
                                                {{t_ "What store is your receipt from?"}}
                                            </div>
                                            <div class="item-content select-shop">
                                                {{#with shop}}
                                                    <div class="list-block {{#if hasPoprDoc}}no-link{{/if}}">
                                                        <ul>
                                                            {{> shopItem }}
                                                            {{#if isUncooperativeShop}}
                                                                {{#if getWebText "app_noncooperative_shop"}}
                                                                    <li class="error">
                                                                        <blockquote class="alert-danger has-icon web-text"><i class="icon icon-attention"></i>{{{getWebText "app_noncooperative_shop"}}}</blockquote>
                                                                    </li>
                                                                {{/if}}
                                                            {{/if}}
                                                        </ul>
                                                    </div>
                                                {{else}}
                                                    <div class="item-inner">
                                                        <a href="#" class="item-link">{{t_ "Click here to select store ___"}}</a>
                                                    </div>
                                                {{/with}}
                                            </div>
                                        </li>
                                        {{#if allowedToAddReceipt}}
                                            <!-- Text inputs -->
                                            <li>
                                                <div class="item-description">
                                                    {{#if hasPoprDoc}}
                                                        {{t_ "Total purchase amount on the receipt"}}:
                                                    {{else}}
                                                        {{t_ "What's the total purchase amount on your receipt?"}}
                                                    {{/if}}
                                                </div>
                                                <div class="item-content">
                                                    {{#if hasPoprDoc}}
                                                        <div class="item-media"><i class="icon icon-qrframe"></i></div>
                                                    {{/if}}
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="number" name="amount" min="0" step="0.01" placeholder="{{t_ "Fill in purchase amount___"}}" value="{{amount}}" disabled="{{hasPoprDoc}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-description">
                                                    {{#if hasPoprDoc}}
                                                        {{t_ "Purchase date on the receipt"}}:
                                                    {{else}}
                                                        {{t_ "What's the purchase date on the receipt?"}}
                                                    {{/if}}
                                                </div>
                                                <div class="item-content">
                                                    {{#if hasPoprDoc}}
                                                        <div class="item-media"><i class="icon icon-qrframe"></i></div>
                                                    {{/if}}
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="date" name="purchaseDate" placeholder="{{t_ "Purchase date"}}" value="{{purchaseDate}}" disabled="{{hasPoprDoc}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-description">
                                                    {{t_ "Did you already get a customs stamp on your receipt?"}}
                                                </div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="receipt-stamped">
                                                            <div class="receipt-choice-buttons">
                                                                <button class="button receipt-stamped-no {{#if receiptIsStamped false}}active{{/if}}">{{t_ "No"}}</button>
                                                                <button class="button receipt-stamped-yes {{#if receiptIsStamped true}}active{{/if}}">{{t_ "Yes"}}</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {{#if receiptStampedChoice}}
                                                <li>
                                                    <div class="item-description">
                                                        {{#if receiptIsStamped true}}
                                                            {{t_ "In which country did you get the customs stamp on the receipt?"}}
                                                        {{else}}
                                                            {{t_ "In which country are you planning on getting your receipt stamped?"}}
                                                        {{/if}}
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <select name="customsCountryId" class="form-control" tabindex="0">
                                                                    {{#each getEUCountries}}
                                                                        <option value="{{_id}}" selected="{{isSelected code 'NL'}}">{{name}} ({{code}})</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-description">
                                                        {{#if receiptIsStamped true}}
                                                            {{t_ "What's the customs stamp date on the receipt?"}}
                                                        {{else}}
                                                            {{t_ "When are you planning on leaving the EU?"}}
                                                        {{/if}}
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <input type="date" name="customsDate" placeholder="{{t_ "Customs date"}}" value="{{customsDate}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                {{#if receiptIsStamped false}}
                                                    <li>
                                                        <div class="item-description">
                                                            {{t_ "What is the flight number of your flight leaving the EU?"}}
                                                        </div>
                                                        <div class="item-content">
                                                            <div class="item-inner">
                                                                <div class="item-input">
                                                                    <input type="text" name="flightNumber" placeholder="{{t_ "Flight number"}}" value="{{flightNumber}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {{else}}
                                                    <li>
                                                        <div class="item-description">
                                                            {{t_ "Take a photo of the stamped receipt"}}
                                                        </div>
                                                        <div class="item-content">
                                                            <div class="item-inner">
                                                                <div class="row">
                                                                    {{#each getFiles}}
                                                                        <div class="file-thumb">
                                                                            <img src="{{fileContent}}" />
                                                                        </div>
                                                                    {{/each}}
                                                                    <div class="file-thumb add-file-button">
                                                                        <label>
                                                                            <input type="file" name="receiptFile" class="add-file-input" accept="image/*" style="position:absolute; left:-9999px;" />
                                                                            <i class="f7-icons">camera</i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    </ul>
                                </div>
                                <div class="content-block">
                                    {{#if allowedToAddReceipt}}
                                        <a href="#" class="button active submit-receipt" disabled="{{#unless receiptStampedChoice}}disabled{{/unless}}">{{t_ "Submit receipt"}}</a>
                                    {{/if}}
                                    <a href="#" class="button transparent cancel-receipt">{{t_ "Cancel"}}</a>
                                </div>
                            {{else}}
                                <div class="qrcode-on-receipt">
                                    <h1>{{t_ "Is there a QR code on your receipt?"}}</h1>
                                    <img src="/images/qrcodeonreceipt-{{getLanguage}}.svg" onerror="this.src='/images/qrcodeonreceipt.svg';" />
                                    <div class="qr-selection-buttons">
                                        <div class="qr-selection-button qr-select-yes">
                                            <button class="button active">{{t_ "Yes"}}</button>
                                        </div>
                                        <div class="qr-selection-button qr-select-no">
                                            <button class="button active">{{t_ "No"}}</button>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        {{else}}
                            <div class="content-block center">
                                <h1>{{t_ "Got your stamp?"}}</h1>
                                <p class="intro-image"><img src="/images/Customs Stamp-{{getLanguage}}.svg" onerror="this.src='/images/Customs Stamp.svg';" class="full-width"/></p>
                                <br/>
                                <p>{{t_ "Before leaving the EU, a Customs officer will need to validate that you are taking the purchases with you and stamp your receipts_ At most airports you should go to a special tax-free validation desk_"}}</p>
                                <a href="#" class="button active instructions-seen">{{t_ "Yes I do_ Let's go!"}}</a>
                            </div>
                        {{/if}}
                    {{/unless}}
                </div>
            </div>
            <div data-page="shop-selector" class="page cached">
                <div class="page-content infinite-scroll search-content search-shop-add">
                    <div class="list-block search-block">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="f7-icons">search</i></div>
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="text" name='searchTerm' placeholder="{{t_ "Search___"}}">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block">
                        <ul>
                            {{#each getShops}}
                                {{> shopItem }}
                            {{else}}
                                {{#if Template.subscriptionsReady}}
                                    {{#if addingShop}}
                                        <li class="add-shop">
                                            <a class="">
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-text">
                                                            <h2>{{t_ "Add new shop"}}</h2>
                                                            <form role="form" name="add-shop-form">
                                                                <input type="hidden" name="place" value="" />
                                                                <div class="form-group required">
                                                                    <label>{{t_ "Search for the shop you want to add"}}:</label>
                                                                    <div class="text-muted">
                                                                        {{t_ "You can enter multiple keywords to find the correct shop_ Search on a combination of name, city, country or street_"}}
                                                                    </div>
                                                                    {{> forms_map name='geo' addressbar='_map_addressbar' onChangeCallback=selectMapLocationCallback }}
                                                                </div>
                                                                {{#if getWebText "traveller_new_shop"}}
                                                                    <blockquote class="alert-info has-icon web-text"><i class="icon icon-info"></i>{{{getWebText "traveller_new_shop"}}}</blockquote>
                                                                {{/if}}
                                                                <div>
                                                                    <a href="#" class="button active submit-add-shop">{{t_ "Add shop"}}</a>
                                                                    <a href="#" class="button cancel-add-shop">{{t_ "Cancel"}}</a>
                                                                </div>
                                                                <br/>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {{else}}
                                        <li>
                                            <a class="">
                                                <div class="item-content">
                                                    <div class="item-media">
                                                        <img src="/images/vfcircleunkown.png" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-text">
                                                            <div class="name">
                                                                {{t_ "No shops found"}}
                                                            </div>
                                                            <div class="address">
                                                                {{t_ "Change your search terms and try again"}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="">
                                                <div class="item-content add-new-shop">
                                                    <div class="item-media">
                                                        <i class="icon icon-new"></i>
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-text">
                                                            <div class="name">
                                                                {{t_ "Add new shop"}}
                                                            </div>
                                                            <div class="address">
                                                                {{t_ "Add a shop we do not yet have in our database_"}}<br/>
                                                                {{t_ "We will do our best to arrange your VAT refund_"}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {{/if}}
                                {{else}}
                                    <li>
                                        <a class="">
                                            <div class="item-content">
                                                <div class="item-media">
                                                    <img src="/images/loading-indicator.gif" />
                                                </div>
                                                <div class="item-inner">
                                                    <div class="item-text">
                                                        <div class="name">
                                                            {{t_ "Loading___"}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                    {{#if moreResults}}
                        <div class="infinite-scroll-preloader">
                            <div class="preloader"></div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{#if networkProblem}}
            {{> networkProblems }}
        {{/if}}
        {{> toolbar }}
    </div>

    <div class="popup receipt-added">
        <h1>{{t_ "Receipt added"}}</h1>
        {{#with addedReceipt}}
            <p class="refund">{{t_ "The estimated refund is __refund__" refund=(formatCurrency refund currencyId)}}</p>
            <br/>
            {{#unless isNato}}
                {{#if $eq status 'waitingForCustomsStamp'}}
                    {{> receipt_get_stamp_instructions}}
                {{else}}
                    {{#if poprId}}
                        {{> receipt_popr_instructions}}
                    {{else}}
                        {{> receipt_send_instructions}}
                    {{/if}}
                {{/if}}
            {{/unless}}
        {{/with}}
        <p class="popup-button">
            <a href="#" class="button active close-popup">{{t_ "Close"}}</a>
        </p>
    </div>
</template>

<template name="receipt_popr_instructions">
    <div class='receipt-submit'>
        <img src="/images/receipt-added-popr-{{getLanguage}}.svg" onerror="this.src='/images/receipt-added-popr.svg';" />
        <div class='receipt-submit-text'>
        <div>
            <b>{{t_ "Please keep the receipt safe at home until the refund process has completed!"}}</b>
        </div>
        </div>
    </div>
</template>
