<template name="view_receipt_details">
    <div class="popup popup-customs-stamp">
        {{> popup_receipt_stamped }}
    </div>
    <div class="popup popup-customs-stamp-done">
        <div class="close-popup top-right">
            {{t_ "Close"}}
        </div>
        <h1>{{t_ "Receipt updated"}}</h1>
        {{#with getReceipt}}
            <p class="refund">{{t_ "The estimated refund is __refund__" refund=(formatCurrency refund currencyId)}}</p>
            <br/>
            {{#unless isNato}}
                {{#if poprId}}
                    {{> receipt_popr_instructions}}
                {{else}}
                    {{> receipt_send_instructions}}
                {{/if}}
            {{/unless}}
        {{/with}}
        <p class="popup-button">
            <a href="#" class="button active close-popup">{{t_ "Close"}}</a>
        </p>
    </div>
    <div data-page="receiptdetails" class="page cached">
        <div class="page-content">
            <div class="page-padding">
                {{#with getReceipt}}
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="#" class="item-link shop">
                                <div class="item-content">
                                    <div class="item-media">
                                        <img src="/images/{{getPartnershipStatusLogo}}" />
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-text">
                                            <div class="name">
                                                <div class="distance">
                                                    {{receiptNr}}<br/>
                                                    {{formatDate purchaseDate false "Europe/Amsterdam"}}<br/>
                                                    {{formatCurrency amount}}
                                                </div>
                                                {{#with getShop}}
                                                    {{name}}
                                                {{/with}}
                                            </div>
                                            <div class="address">
                                                {{#with getShop}}
                                                    {{addressFirst}}<br/>
                                                    {{postCode}} {{city}}
                                                {{/with}}
                                            </div>
                                            <div class="receipt-status">
                                                {{t_ "Refund status"}}: {{_ status}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            {{> receiptInfo receipt=this hideTitle=true }}
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="row">
                                        {{#each getFiles}}
                                            <div class="file-thumb">
                                                {{#unless this.isUploaded}}
                                                    <img src="/images/loading.gif" />
                                                {{else}}
                                                    <a href="#" class="photo">
                                                        {{#if isImage}}
                                                            <div class="image-container">
                                                                <img src="{{url store='vatfree-thumbs' uploading='/images/loading-indicator.gif' storing='/images/loading-indicator.gif'}}">
                                                            </div>
                                                        {{else}}
                                                            <img src="/icons/512px/{{getExtension}}.png" class="file-icon"/>
                                                        {{/if}}
                                                    </a>
                                                {{/unless}}
                                            </div>
                                        {{/each}}
                                        {{#if allowUploads}}
                                            <div class="file-thumb add-file-button">
                                                <label>
                                                    <input type="file" name="receiptFile" class="add-file-input" style="position:absolute; left:-9999px;" />
                                                    <i class="f7-icons">camera</i>
                                                </label>
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{#unless isRejected}}
                            {{#unless isNato}}
                                {{#if $eq status 'waitingForCustomsStamp'}}
                                    {{> receipt_get_stamp_instructions}}
                                {{else}}
                                    {{#unless poprId}}
                                        {{#if waitingForOriginals}}
                                            <li>
                                                <div class="receipt-send-info">
                                                    <h1>{{t_ "Receipt instructions"}}</h1>
                                                    <br/>
                                                    {{> receipt_send_instructions}}
                                                </div>
                                            </li>
                                        {{/if}}
                                    {{/unless}}
                                {{/if}}
                            {{/unless}}
                        {{/unless}}
                        {{#if allowDeleteReceipt}}
                            <li class="list-group-item divider"></li>
                            <li class="list-group-item highlight strong">
                                <div class="delete-receipt-container">
                                    <input type="button" class="button danger delete-receipt" value="{{t_ "Delete this receipt"}}">
                                </div>
                            </li>
                        {{/if}}
                    </ul>
                </div>
                {{/with}}
            </div>
        </div>
    </div>
</template>
