<template name="receiptInfo">
    {{#with receipt}}
    <div class="ibox receipt-info" tabindex="-1">
        <div class="ibox-content">
            <div class="tab-content {{#if ../allowEdit}}allow-edit{{/if}}">
                {{#if $eq status 'waitingForOriginal'}}
                    <blockquote class="alert-warning">
                        {{t_ "We are still awaiting this receipt in physical form"}}
                    </blockquote>
                {{/if}}
                <br/>
                <div id="contact-1" class="tab-pane active">
                    {{#with currentTraveller}}
                        {{#unless userIsVerified}}
                            <a href="/profile">
                                <blockquote class="alert-danger">
                                    {{_ private.status}}<br/>
                                    <small>
                                        {{getStatusDescription}}<br/>
                                        <a href="/profile">{{t_ "Click here to go to your account"}}</a>
                                    </small>
                                </blockquote>
                            </a>
                        {{/unless}}
                    {{/with}}
                    {{#unless ../hideReceiptDetails}}
                        <div class="client-detail">
                        <div class="full-height-scroll">
                            <ul class="list-group clear-list">
                            <li class="list-group-item fist-item highlight">
                                <span class="pull-right">
                                    {{receiptNr}}
                                </span>
                                {{t_ "Receipt Number"}}
                            </li>
                            {{#unless ../hideDetails}}
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDateTime createdAt false "Europe/Amsterdam"}} </span>
                                    {{t_ "Receipt added"}}
                                </li>
                            {{/unless}}
                            <li class="list-group-item">
                                <span class="pull-right">
                                    {{getTravellerStatus}}
                                </span>
                                {{t_ "Refund status"}}
                                {{#if statusRejected}}
                                    <ul>
                                        {{#each getReceiptRejections}}
                                            <li>
                                                {{getReceiptRejectionText}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                    {{#if allowReopenReceipt}}
                                        <div class="">
                                            <input type="button" class="button active reopen-receipt" value="{{t_ "Re-open receipt for submission"}}">
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </li>

                            <li class="list-group-item divider"></li>

                            <li class="list-group-item">
                                <span class="pull-right"> {{formatDate purchaseDate false "Europe/Amsterdam"}} </span>
                                {{t_ "Purchase date"}}
                            </li>
                            {{#unless isNatoReceipt}}
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        {{formatDate customsDate false "Europe/Amsterdam"}}
                                        {{#if customsCountryId}}
                                            / {{getCountryName customsCountryId}}
                                        {{/if}}
                                    </span>
                                    {{t_ "Customs stamp"}}
                                </li>
                            {{/unless}}
                            <li class="list-group-item">
                                <span class="pull-right"> {{formatCurrency amount}} </span>
                                {{t_ "Total receipt amount"}}
                            </li>

                            {{#if refund}}
                                <li class="list-group-item divider"></li>
                                <li class="list-group-item highlight strong">
                                    <span class="pull-right">
                                        {{#if statusRejected}}
                                            -
                                        {{else}}
                                            <strong>{{formatCurrency refund}}</strong>
                                        {{/if}}
                                    </span>
                                    {{#if receiptIsApproved}}{{t_ "Refund"}}{{else}}{{t_ "Estimated refund"}}{{/if}}
                                </li>
                            {{/if}}

                            <li class="list-group-item divider-icon">
                                <i class="icon icon-eyeview"></i>
                            </li>

                            {{#if $eq status 'waitingForCustomsStamp'}}
                                <li class="list-group-item divider"></li>
                                <li class="list-group-item highlight strong">
                                    <div class="delete-receipt-container">
                                        <p>
                                            {{t_ "If your receipt has been stamped by customs, click on the button below to finish the process:"}}
                                        </p>
                                        <input type="button" class="button active receipt-stamped" value="{{t_ "Receipt is stamped"}}">
                                    </div>
                                </li>
                            {{/if}}

                            {{#if ../showImages}}
                                <li class="list-group-item">
                                    {{#if getFiles.count}}
                                        <ul class="files">
                                            {{#each getFiles}}
                                                <li class="file">
                                                    {{#unless this.isUploaded}}
                                                        {{> FS.UploadProgressBar bootstrap=true}}
                                                    {{else}}
                                                        <a href="{{getLargePhotoUrl}}" target="_blank" data-featherlight="{{#if isImage}}{{getLargePhotoUrl}}{{/if}}">
                                                            {{#if isImage}}
                                                                <div class="image-container">
                                                                    <img src="{{url store='vatfree-thumbs' uploading='/img/uploading.gif' storing='/img/saving.gif'}}">
                                                                </div>
                                                            {{else}}
                                                                <img src="/icons/512px/{{getExtension}}.png" class="file-icon"/>
                                                            {{/if}}
                                                            <div class="name">{{original.name}}</div>
                                                        </a>
                                                        {{#if allowUploads}}
                                                            <i class="fa fa-times delete-file"></i>
                                                        {{/if}}
                                                    {{/unless}}
                                                </li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                </li>
                                <li class="list-group-item">
                                    {{#if allowUploads}}
                                        {{#if isUploadingFile }}
                                            {{> loading }}
                                        {{else}}
                                            <div class="dropzone">
                                                <input type="file" name="dropzone-file" class="dropzone-file"/>
                                                <div class="add-file">
                                                    <p>
                                                        {{t_ "Before sending in your receipt(s), please upload a photo here"}}
                                                    </p>
                                                    <i class="icon icon-upload"></i><br/>
                                                    <b>{{t_ "Click here or drag and drop photo here to upload"}}</b>
                                                </div>
                                            </div>
                                        {{/if}}
                                        <br/>
                                        {{#with getTravellerType}}
                                            <div class='receipt-submit'>
                                                <div class='receipt-submit-icons'>
                                                    <i class='icon icon-numberon'></i> ›
                                                    <i class='icon icon-makepicreceipt'></i> ›
                                                    {{#if isNato}}
                                                        <i class='icon icon-makepicform'></i>
                                                    {{else}}
                                                        <i class='icon icon-sendin'></i>
                                                    {{/if}}
                                                </div>
                                                <div class='receipt-submit-text'>
                                                    <ol>
                                                        <li>{{t_ "Write this number on the receipt __receiptNr__" receiptNr=../receiptNr}}</li>
                                                        <li>{{t_ "Upload a photo of the stamped receipt"}}</li>
                                                        {{#if isNato}}
                                                            <li>{{t_ "Upload a photo of the __certificate_name__" certificate_name=certificateName}}</li>
                                                        {{else}}
                                                            <li>{{t_ "Send the original receipt(s) via post"}}</li>
                                                        {{/if}}
                                                    </ol>
                                                </div>
                                            </div>
                                        {{/with}}
                                    {{/if}}
                                </li>
                            {{/if}}
                        </ul>
                        </div>
                    </div>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</template>
