<template name="payout_popup">
    <div class="popup popup-payout">
        <div class="content-block">
            <div class="close-popup top-right">
                {{t_ "Close"}}
            </div>
            {{> paymentMethodModal_body }}
        </div>
    </div>
</template>
