<template name="view_receipts">
    {{> payout_popup }}
    <div class="view view-receipts">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    {{#if stackSize}}
                        <a class="back link">
                            <span>{{t_ "Back"}}</span>
                        </a>
                    {{/if}}
                </div>
                <div class="center">{{t_ "My receipts"}}</div>
                <div class="right info"><a id="main" class="tab-link"><i class="icon icon-info-fill"></i></a></div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="receipts" class="page">
                <div class="page-content infinite-scroll">
                    {{#unless currentUser}}
                        <div class="page-padding">
                            {{> login }}
                        </div>
                    {{else}}
                        <div class="receipts-refund-total">
                            {{t_ "Estimated refund"}}<br/>
                            <div class="refund-amount">
                                <div class="refund-amount-currency">&euro;</div>
                                {{formatAmount getTotalEstimatedRefunds}}
                            </div>
                        </div>
                        <div class="list-block">
                            <ul>
                                {{#if receiptsNeedSending}}
                                    <li>
                                        <div class="item-content my-receipts-header">
                                            <img src="/images/my-receipts-{{getLanguage}}.svg" onerror="this.src='/images/my-receipts.svg';" class="my-receipts-image"/>
                                        </div>
                                    </li>
                                {{/if}}
                                {{#with currentUser}}
                                    {{#unless userIsVerified}}
                                        <li class="traveller-status-unverified">
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-input">
                                                        <div class="title">{{_ private.status}}</div>
                                                        <div class="description">{{getStatusDescription}}</div>
                                                        {{#unless $eq private.status "userUnverified"}}
                                                            <div class="action"><a href="#" class="go-to-account">{{t_ "Click here to update your account"}}</a></div>
                                                        {{/unless}}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {{/unless}}
                                {{/with}}
                            </ul>
                        </div>

                        {{#if getPayoutReceipts.count}}
                            <div class="content-block-title">{{t_ "Ready for payout"}}</div>
                            <div class="list-block">
                                <ul>
                                    {{#each getPayoutReceipts }}
                                        {{> receipt_list_item }}
                                    {{/each}}
                                    <li>
                                        <div class="payable">
                                            <div class="title">
                                                {{t_ "Total payable now"}}:
                                            </div>
                                            <div class="amount">
                                                {{formatCurrency payoutAmount}}
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <br/>
                                        <a href="#" class="button active payout-refund">{{t_ "Pay out my refund(s)"}}</a>
                                        <br/>
                                    </li>
                                </ul>
                            </div>
                        {{/if}}

                        {{#if getUnstampedReceipts.count}}
                            <div class="content-block-title">⚠️ {{t_ "waitingForCustomsStamp"}}</div>
                            <div class="list-block">
                                <ul>
                                    {{#each getUnstampedReceipts }}
                                        {{> receipt_list_item }}
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}

                        {{#if getMissingOriginalReceipts.count}}
                            <div class="content-block-title">⚠️ {{t_ "waitingForOriginal"}}</div>
                            <div class="list-block">
                                <ul>
                                    {{#each getMissingOriginalReceipts }}
                                        {{> receipt_list_item }}
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}

                        {{#if getReceipts.count}}
                            <div class="content-block-title">{{t_ "Pending receipts"}}</div>
                            <div class="list-block">
                                <ul>
                                    {{#each getReceipts }}
                                        {{> receipt_list_item }}
                                    {{else}}
                                        <li>
                                            <a class="item-link">
                                                <div class="item-content">
                                                    <i>{{t_ "No receipts found"}}</i>
                                                </div>
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}

                        {{#if getPaidReceipts.count}}
                            <div class="content-block-title">{{t_ "Paid out"}}</div>
                            <div class="list-block">
                                <ul>
                                    {{#each getPaidReceipts }}
                                        {{> receipt_list_item }}
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}

                        {{#if getRejectedReceipts.count}}
                            <div class="content-block-title">{{t_ "Rejected receipts"}}</div>
                            <div class="list-block">
                                <ul>
                                    {{#each getRejectedReceipts }}
                                        {{> receipt_list_item }}
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}
                    {{/unless}}
                </div>
            </div>
            {{> view_receipt_details }}
            {{> view_shops_details }}
            {{> shops_status_learn_more }}
        </div>

        {{#if networkProblem}}
            {{> networkProblems }}
        {{/if}}
        {{> toolbar }}
    </div>
</template>

<template name="receipt_list_item">
    <li>
        <a class="item-link receipt">
            <div class="item-content">
                <div class="item-media">
                    <img src="/images/{{getPartnershipStatusLogo}}" />
                </div>
                <div class="item-inner">
                    <div class="item-text">
                        <div class="name">
                            <div class="distance">
                                {{receiptNr}}<br/>
                                {{formatDate purchaseDate false "Europe/Amsterdam"}}<br/>
                                {{formatCurrency refund}}
                            </div>
                            {{#with getShop}}
                                {{name}}
                            {{/with}}
                        </div>
                        <div class="receipt-status">
                            {{t_ "Status __status__" status=getTravellerStatus}}
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>
</template>

<template name="receipt_send_instructions">
    <div class='receipt-submit'>
        <img src="/images/receipt-added-{{getLanguage}}.svg" onerror="this.src='/images/receipt-added.svg';" />
        <div class='receipt-submit-text'>
            <ol>
                <li>
                    {{t_ "Write this on the receipt_"}}<br/>
                    <b>
                        {{#if receiptNr}}{{receiptNr}}{{else}}<i>{{t_ "Receipt Nr"}}</i>{{/if}}<br/>
                        {{#with currentUser}}
                            {{#if profile.name}}{{profile.name}}{{else}}<i>{{t_ "Your name"}}</i>{{/if}}<br/>
                            {{#if profile.addressCountryId}}{{getCountryName profile.addressCountryId}}{{else}}<i>{{t_ "Your country of residence"}}</i>{{/if}}<br/>
                            {{#if profile.passportNumber}}{{profile.passportNumber}}{{else}}<i>{{t_ "Your passport number"}}</i>{{/if}}<br/>
                        {{/with}}
                    </b>
                </li>
                <li>
                    {{t_ "Send the original receipt(s) via post"}}<br/>
                    <b>
                        vatfree.com<br/>
                        att: APP<br/>
                        PO Box 37234<br/>
                        1030 AE Amsterdam<br/>
                        the Netherlands<br/>
                    </b>
                </li>
            </ol>
        </div>
    </div>
</template>

<template name="receipt_get_stamp_instructions">
    <div class='receipt-submit'>
        <img src="/images/receipt-get-stamp-{{getLanguage}}.svg" onerror="this.src='/images/receipt-get-stamp.svg';" />
        <div class='receipt-submit-text'>{{{getWebText 'receipt_added_get_stamp_instructions' }}}</div>
    </div>
</template>
