<template name="popup_receipt_stamped">
    <div class="content-block">
        <div class="close-popup top-right">
            {{t_ "Close"}}
        </div>
        <h2>
            {{t_ "Please fill in the customs date on the receipt and upload a photo of the stamped receipt"}}
        </h2>
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-description">
                        {{t_ "What's the customs stamp date on the receipt?"}}
                    </div>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input type="date" name="customsDate" placeholder="{{t_ "Customs date"}}" value="{{customsDate}}">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="row">
                                {{#each getUploadedFiles}}
                                    <div class="file-thumb">
                                        {{#unless this.isUploaded}}
                                            <img src="/images/loading.gif" />
                                        {{else}}
                                            <a href="#" class="photo">
                                                {{#if isImage}}
                                                    <div class="image-container">
                                                        <img src="{{url store='vatfree-thumbs' uploading='/images/loading-indicator.gif' storing='/images/loading-indicator.gif'}}">
                                                    </div>
                                                {{else}}
                                                    <img src="/icons/512px/{{getExtension}}.png" class="file-icon"/>
                                                {{/if}}
                                            </a>
                                        {{/unless}}
                                    </div>
                                {{/each}}
                                <div class="file-thumb add-file-button-in-popup">
                                    <label>
                                        <input type="file" name="receiptFileInPopup" class="add-file-input" style="position:absolute; left:-9999px;" />
                                        <i class="f7-icons">camera</i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <a href="#" class="button active submit-receipt-is-stamped">{{t_ "Update customs stamp date"}}</a>
            <a href="#" class="button transparent close-popup">{{t_ "Cancel"}}</a>
        </div>
    </div>
</template>
