<template name="addCompanyModal">
    <div id="modal-add-company" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <h3 class="m-t-none m-b">Add company</h3>
                            <form role="form" name="add-company-form">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" required="required">
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" name="addressFirst" class="form-control" required="required">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Postal code</label>
                                            <input type="text" name="postalCode" class="form-control" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" name="city" class="form-control" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Country</label>
                                    <select name="countryId" class="form-control" required="required">
                                        <option value=""> -- </option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Parent company</label>
                                    <select name="parentId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if parentId}}
                                            <option value="{{parentId}}" selected="selected">{{getCompanyDescription parentId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Preferred language</label>
                                    <select name="language" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#each getShopLanguages}}
                                            <option value="{{code}}" selected="{{isLanguageSelected ../language}}">{{en}} ({{name}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Add</strong></button>
                                    <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-add-company"><strong>Cancel</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
