<template name="companyBreadcrumb">
    <div class="ancestors">
        {{#each getAncestors}}
            <div class="ancestor">
                <a href="/company/{{this}}">{{getCompanyName this}}</a>
            </div>
        {{/each}}
    </div>
</template>
