<template name="Companies">
    {{#if addingItem}}
        {{> addCompanyModal }}
    {{/if}}
    <div class="wrapper wrapper-content">
        <div class="row Companies">
            {{#if showImports}}
                {{> imports subType='companies' title='Company imports' }}
            {{else}}
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                {{#if importsEnabled}}
                                    <a class="btn btn-default btn-icon toggle-imports" href="#" accesskey="i"><i class="icon icon-shops"></i><u>I</u>mports</a>
                                {{/if}}
                                {{#if runningExport}}
                                    <a class="btn btn-default btn-icon" href="#" accesskey="e" tabindex="-1"><i class="icon icon-exportcsv"></i>Exporting ...</a>
                                {{else}}
                                    <a class="btn btn-default btn-icon companies-export" href="#" accesskey="e" tabindex="-1"><i class="icon icon-exportcsv"></i><u>E</u>xport</a>
                                    <a class="btn btn-default btn-icon companies-debt-collection-export" href="#" tabindex="-1" title="Debt Collection export"><i class="icon icon-exportcsv"></i>DC export</a>
                                {{/if}}
                                <a class="btn btn-info btn-icon add-item pull-right" href="#" accesskey="a"><i class="icon icon-create"></i><u>A</u>dd</a>
                            </div>
                            <h2>Companies</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Search company" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                                </span>
                            </div>
                            <div class="input-group filter-icons">
                                <span class="pull-right toggle-list-filters {{#if activeListfilters}}filter-icon active{{/if}} {{#if showListFilters}}active{{/if}}"><i class="icon icon-filterfunnel"></i></span>
                                <span class="label-filter-group">
                                    {{#each getShopStatusOptions}}
                                        <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}">
                                            <i class="{{getShopStatusIcon this}}"></i>
                                        </span>
                                    {{/each}}
                                </span>
                                <span class="label-filter-group">
                                    {{#each getShopPartnershipStatusOptions}}
                                        <span class="filter-icon partnership-status-filter-icon {{isActivePartnershipStatusFilter}}" id="{{this}}" title="{{_ this}}">
                                            <img src="/Logos/{{getShopPartnershipStatusIcon this}}" />
                                        </span>
                                    {{/each}}
                                </span>
                                <span class="label-filter-group">
                                    <span class="filter-icon billing-entity-filter-icon {{isActiveBillingEntityFilter}}" id="billingEntity" title="Billing entity missing">
                                        <i class="icon icon-vtb"></i>
                                    </span>
                                </span>
                            </div>
                            {{#if showListFilters}}
                                <div class="input-group list-filters">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Countries</label>
                                                <select name="listFilter.countryId" data-compare="$in" class="form-control" multiple="multiple">
                                                    {{#each getCountries}}
                                                        <option value="{{_id}}" selected="{{getListFilterSelected "countryId.$in" _id}}">{{name}} ({{code}})</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Affiliated with</label>
                                                <select name="listFilter.affiliatedWith" data-compare="$in" class="form-control" multiple="multiple">
                                                    {{#each getAffiliatedWithOptions}}
                                                        <option value="{{this}}" selected="{{getListFilterSelected "affiliatedWith.$in" this}}">{{_ this}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Postal code</label>
                                                <input type="text" name="listFilter.postCode" data-compare="$regex" data-type="text" class="form-control" value="{{getListFilterValue "postCode.$regex" "text"}}" />
                                            </div>
                                            <div class="col-md-6">
                                                <label>City</label>
                                                <input type="text" name="listFilter.city" data-compare="$regex" data-type="text" class="form-control" value="{{getListFilterValue "stats.city.$regex" "text"}}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Billing Company</label>
                                                <select name="listFilter.billingEntity" class="form-control" data-type="boolean">
                                                    <option value=""></option>
                                                    <option value="true" selected="{{getListFilterSelected "billingEntity.$eq" true}}">Yes</option>
                                                    <option value="false" selected="{{getListFilterSelected "billingEntity.$eq" false}}">No</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Debt collection</label>
                                                <select name="listFilter.debtCollectionAccount" data-compare="$exists" class="form-control" data-type="boolean">
                                                    <option value=""></option>
                                                    <option value="true" selected="{{getListFilterSelected "debtCollectionAccount.$exists" true}}">Yes</option>
                                                    <option value="false" selected="{{getListFilterSelected "debtCollectionAccount.$exists" false}}">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            {{#with getCompanyStats}}
                                <div class="list-aggregates">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td># shops: {{count}}</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {{/with}}
                            <div class="clients-list item-list Companies-list">
                                {{#if initialLoadDone}}
                                    <div class="full-height-scroll">
                                        <div class="table-responsive infinite-scrolling">
                                            {{> companiesList companies=getCompanies includeHeader=true sorting=getSorting }}
                                        </div>
                                    </div>
                                {{else}}
                                    {{> loading }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#with getActiveItem}}
                    <div class="col-sm-4">
                        {{> CompanyInfo }}
                    </div>
                {{/with}}
            {{/if}}
        </div>
    </div>
</template>
