<template name="CompanyEdit">
    {{#if Template.subscriptionsReady}}
        {{#with itemDoc}}
            {{> pageHeading title=name category='Companies' categoryLink='/companies' }}
            <div class="wrapper wrapper-content">
                {{#if showBreadcrumb}}
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            {{> companyBreadcrumb}}
                        </div>
                    </div>
                {{/if}}
                <div class="row">
                    <div class="col-sm-8">
                        {{> CompanyEditForm addActiveInvoiceId addActiveShopId }}
                    </div>
                    <div class="col-sm-4">
                        {{#if activeInvoiceId}}
                            {{#with getSelectedInvoice}}
                                <h1>Invoice: {{invoiceNr}}</h1>
                                {{> invoiceInfo invoice=this showImages=true }}
                            {{/with}}
                        {{else}}
                            {{#if activeShopId}}
                                {{#with getSelectedShop}}
                                        <h1>Shop: {{name}}</h1>
                                    {{> shopInfo }}
                                {{/with}}
                            {{else}}
                                {{> CompanyInfo }}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/with}}
    {{else}}
        {{> loading }}
    {{/if}}
</template>

<template name="CompanyEditForm">
    {{#if mergeCompany}}
        {{> company_merge companyId=_id parentVariable='mergeCompany' }}
    {{/if}}
    {{#if movingShops}}
        {{> companyMoveShops shopIds=movingShops parentVariable='movingShops' }}
    {{/if}}
    {{#if changeShopStatus}}
        {{> companySetShopStatus shopIds=changeShopStatus parentVariable='changeShopStatus' }}
    {{/if}}
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Company details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-4"> Billing</a></li>
            <li class=""><a data-toggle="tab" href="#tab-5"> Contacts</a></li>
            <li class=""><a data-toggle="tab" href="#tab-7"> Activity</a></li>
            <li class=""><a data-toggle="tab" href="#tab-8"> Hierarchy</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Shops</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3"> Invoices</a></li>
            <li class=""><a data-toggle="tab" href="#tab-files"> Files</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="Company name" value="{{name}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-2">
                                    <select name="status" class="form-control" disabled="{{isDisabled}}">
                                        {{#each getShopStatusOptions}}
                                            <option value="{{this}}" selected="{{isSelected ../status this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" name="partnershipStatus" disabled="{{isDisabled}}">
                                        <option value="new" selected="{{isSelected partnershipStatus 'new'}}">New</option>
                                        <option value="partner" selected="{{isSelected partnershipStatus 'partner'}}">Partner</option>
                                        <option value="pledger" selected="{{isSelected partnershipStatus 'pledger'}}">Pledger</option>
                                        <option value="affiliate" selected="{{isSelected partnershipStatus 'affiliate'}}">Affiliate</option>
                                        <option value="uncooperative" selected="{{isSelected partnershipStatus 'uncooperative'}}">Uncooperative</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Subscription</label>
                                <div class="col-sm-3">
                                    <select name="subscription" class="form-control" disabled="{{isDisabled}}">
                                        {{#each getShopSubscriptionOptions}}
                                            <option value="{{this}}" selected="{{isSelected ../subscription this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Affiliated with</label>
                                <div class="col-sm-10">
                                    <select name="affiliatedWith" multiple="true" class="form-control" placeholder="Affiliated with" disabled="{{isDisabled}}">
                                        {{#each getAffiliatedWithOptions}}
                                            <option value="{{this}}" selected="{{isSelected ../affiliatedWith this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Partnered by</label>
                                <div class="col-sm-4">
                                    <select name="partneredBy" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getUsers}}
                                            <option value="{{_id}}" selected="{{isSelected ../partneredBy _id}}">{{getUserName _id}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Partner since</label>
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="partneredAt" class="form-control" value="{{formatDate partneredAt}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-4">
                                    <input type="email" class="form-control" name="email" placeholder="General email address" value="{{email}}" disabled="{{isDisabled}}">
                                </div>
                                <label class="col-sm-2 control-label">Telephone</label>
                                <div class="col-sm-4">
                                    <input type="tel" class="form-control" name="tel" placeholder="General telephone number" value="{{tel}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Website</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="website" placeholder="Website URL" value="{{website}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="addressFirst" placeholder="Address" value="{{addressFirst}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">&nbsp;</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="postalCode" placeholder="Postal code" value="{{postalCode}}" disabled="{{isDisabled}}">
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="city" placeholder="City" value="{{city}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-10">
                                    <select name="countryId" class="form-control" required="required" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}" selected="{{isCountrySelected}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Preferred language</label>
                                <div class="col-sm-10">
                                    <select name="language" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#each getShopLanguages}}
                                            <option value="{{code}}" selected="{{isLanguageSelected ../language}}">{{en}} ({{name}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Chamber of Commerce</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="chamberOfCommerce" placeholder="Chamber of commerce" value="{{chamberOfCommerce}}" disabled="{{isDisabled}}">
                                </div>
                                <label class="col-sm-2 control-label">VAT Number</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="vatNumber" placeholder="VAT number" value="{{vatNumber}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">E-mail template</label>
                                <div class="col-sm-10">
                                    <select name="emailTemplateId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getEmailTemplates}}
                                            <option value="{{_id}}" selected="{{isEmailTemplateSelected}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Parent company</label>
                                <div class="col-sm-10">
                                    <select name="parentId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if parentId}}
                                            <option value="{{parentId}}" selected="selected">{{getCompanyDescription parentId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Logo</label>
                                <div class="col-sm-10">
                                    {{> tab_files securityRole='companies-update' disallowUpload=isLocked fileContext=getLogoFileContext allowDelete=true disallowMultiple=true }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="notes" placeholder="Notes about this Company">{{notes}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-warning merge-company">Merge company</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        {{#if tabLoading 'tab-2'}}
                            {{> loading }}
                        {{else}}
                            {{#if tabLoaded 'tab-2'}}
                                <div class="buttons">
                                    <div class="text-right">
                                        <button class="btn btn-warning company-move-shops">Move shops</button>&nbsp;
                                        <button class="btn btn-warning company-change-status-shops">Change status</button>&nbsp;
                                        <button class="btn btn-danger company-delete-shops">Delete</button>
                                    </div>
                                </div>
                                <div class="table-responsive item-list">
                                    {{> shopsList shops=getShops sorting=getShopSorting includeHeader=true activeItem=activeShopId selectable=true }}
                                </div>
                            {{else}}
                                <span class="load-shops">Click here to load the shops list</span>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    {{#if billingEntity}}
                        {{#unless deleted}}
                            {{#unless isDisabled}}
                                <div class="text-right">
                                    <a class="btn btn-primary add-invoice" href="#">+ Add</a>
                                    <a class="btn btn-info send-open-invoice-mail" href="#">Send open invoices mail</a>
                                </div>
                                {{#if addingInvoice}}
                                    {{> addInvoiceModal companyId=_id parentVariable='addingInvoice'}}
                                {{/if}}
                                {{#if sendOpenInvoiceMail}}
                                    {{> shops_open_invoice_mail companyId=_id parentVariable='sendOpenInvoiceMail' }}
                                {{/if}}
                            {{/unless}}
                        {{/unless}}
                    {{/if}}

                    <div class="full-height-scroll">
                        {{#if tabLoading 'tab-3'}}
                            {{> loading }}
                        {{else}}
                            {{#if tabLoaded 'tab-3'}}
                                {{> invoicesFilteredList invoicesSelector=getInvoicesSelector sorting=getInvoiceSorting includeHeader=true activeItem=activeInvoiceId }}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        {{> billing_form }}
                    </div>
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    {{#unless deleted}}
                        <div class="text-right">
                            <a class="btn btn-primary add-contact" href="#">+ Add</a>
                        </div>
                        {{#if addingContact}}
                            {{> addContactModal shopId=false companyId=_id affiliateId=false parentVariable='addingContact' doNotRedirect=true }}
                        {{/if}}
                    {{/unless}}

                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> contactsList contacts=getContacts sorting=getContactSorting includeHeader=true actions=getContactActions }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-7" class="tab-pane">
                <div class="panel-body">
                    {{#unless deleted}}
                        <div class="text-right">
                            <a class="btn btn-primary add-activity-log" href="#">+ Add</a>
                        </div>
                        {{#if addingActivityLog }}
                            {{> addActivityLogModal shopId=false companyId=_id parentVariable='addingActivityLog' }}
                        {{/if}}
                    {{/unless}}

                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> activityLogsList activityLogs=getActivityLog includeHeader=true showDetails=true addStatus="done" }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-8" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        {{> companyHierarchy companyId=_id }}
                    </div>
                </div>
            </div>
            <div id="tab-files" class="tab-pane">
                <div class="panel-body">
                    {{> tab_files securityRole='companies-update' disallowUpload=isLocked fileContext=getFileContext allowDelete=true allowEdit=true }}
                </div>
            </div>
        </div>
    </div>
</template>
