<template name="companyHierarchy">
    <div class="pretty-checks pull-right">
        <input type="checkbox" name="showShops" id="showShops" />
        <label for="showShops">Show all shops</label>
    </div>
    <div class="company-hierarchy">
        {{#if loadingShops}}
            {{> loading }}
        {{else}}
            {{#with getTopLevelCompany}}
                {{> companyHierarchyCompany company=this currentCompanyId=../companyId showShops=showShops }}
                {{> companyHierarchyChildren companyId=_id currentCompanyId=../companyId showShops=showShops }}
            {{/with}}
        {{/if}}
    </div>
</template>

<template name="companyHierarchyCompany">
    <span class="company-hierarchy-company">
        <img src="/Logos/{{getPartnershipStatusLogo company.partnershipStatus}}" />
        {{#if isCurrentCompany}}
            <strong>{{company.name}}</strong>
        {{else}}
            <a href="/company/{{company._id}}">{{company.name}}</a>
        {{/if}}
        {{#if deleted}}
            (DELETED)
        {{/if}}
    </span>
    {{#if showShops}}
        {{#with getCompanyShops}}
            {{#if this.count}}
                <div class="company-hierarchy-shops">
                    <ul class="company-hierarchy-shops-list">
                        {{#each this}}
                            <li class="company-hierarchy-shop">
                                <img src="/Logos/{{getPartnershipStatusLogo company.partnershipStatus}}" />
                                <a href="/shop/{{_id}}">{{getShopDescription _id}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
        {{/with}}
    {{/if}}
</template>

<template name="companyHierarchyChildren">
    {{#with getChildren}}
        {{#if this.count}}
            <ul class="company-hierarchy-children">
                {{#each this}}
                    <li>
                        {{> companyHierarchyCompany company=this currentCompanyId=../../currentCompanyId showShops=../../showShops }}
                        {{> companyHierarchyChildren companyId=_id currentCompanyId=../../currentCompanyId showShops=../../showShops }}
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    {{/with}}
</template>
