<template name="CompanyInfo">
    <div class="ibox company-info">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    {{> companyCard }}
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>Company summary</strong>
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    <span class="pull-right">
                                        {{#if parentId}}
                                            <a href="/company/{{parentId}}">
                                                {{getCompanyName parentId}}
                                            </a>
                                        {{else}}
                                            -
                                        {{/if}}
                                    </span>
                                    Parent company
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{id}} </span>
                                    Salesforce id
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{#if debtCollectionMandate}}Yes{{else}}No{{/if}} </span>
                                    Direct debit
                                </li>
                                {{#if billingEntity}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{stats.numberOfInvoices}} </span>
                                        Number of invoices
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatCurrency stats.totalInvoicedRefunds}} </span>
                                        Total invoiced refunds
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatCurrency stats.totalInvoicedServiceFee}} </span>
                                        Total invoiced service fee
                                    </li>
                                {{/if}}
                            </ul>
                            {{#if notes}}
                                <strong>Notes</strong>
                                <p>
                                    {{notes}}
                                </p>
                            {{/if}}
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="companyCard">
    <div class="card company-card cursor-pointer">
        {{#if deleted}}
            <blockquote class="alert-danger">
                This company has been deleted!
            </blockquote>
        {{/if}}
        <div class="float-right">
            <i class="icon icon-envelope request-material" title="Create task for envelops"></i>
        </div>
        <a href="/company/{{_id}}">
            {{#with getCompanyLogoFile _id}}
                <div class="text-center" style="width: 35%">
                    <div class="files">
                        <span class="file">
                            {{#unless this.isUploaded}}
                                {{> FS.UploadProgressBar bootstrap=true}}
                            {{else}}
                                <a href="{{url}}" target="_blank" data-featherlight="{{#if isImage}}{{url}}{{/if}}">
                                    {{#if isImage}}
                                        <img src="{{url store='vatfree-thumbs' uploading='/img/uploading.gif' storing='/img/storing.gif'}}" class="img-responsive">
                                    {{/if}}
                                </a>
                            {{/unless}}
                        </span>
                    </div>
                </div>
            {{/with}}
            <div style="width: {{#if getCompanyLogoFile _id}}65%{{else}}100%{{/if}}">
                <strong>{{name}}</strong><br/>
                <p>
                    {{addressFirst}}<br/>
                    {{postalCode}} {{city}}<br/>
                    {{getCountryName}}
                </p>
                {{#if email}}
                    <a class="btn btn-primary btn-sm btn-block" href="mailto:{{email}}">
                        <i class="fa fa-envelope"></i> Send Message
                    </a>
                {{/if}}
            </div>
        </a>
    </div>
</template>
