<template name="companiesList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'name'}}" data-id="name">Name</th>
                    <th class="sort-header {{isHeaderSorting 'addressFirst'}}" data-id="addressFirst">Address</th>
                    <th class="sort-header {{isHeaderSorting 'createdAt'}}" data-id="createdAt">Created</th>
                    <th class="sort-header {{isHeaderSorting 'updatedAt'}}" data-id="updatedAt">Updated</th>
                    <th class="sort-header {{isHeaderSorting 'stats.numberOfInvoices'}}" data-id="stats.numberOfInvoices"># Invoices</th>
                    <th class="sort-header {{isHeaderSorting 'stats.totalInvoicedRefunds'}}" data-id="stats.totalInvoicedRefunds">Refunds</th>
                    <th class="sort-header {{isHeaderSorting 'stats.totalInvoicedServiceFee'}}" data-id="stats.totalInvoicedServiceFee">Fee</th>
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each companies}}
            <tr class="item-row {{isActiveItem}} {{#if deleted}}text-danger{{/if}}" id="item-{{_id}}">
                <td><a href="/company/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td width="32px">
                    {{#with getCompanyLogoFile}}
                        <div class="files">
                            <span class="file">
                                {{#unless this.isUploaded}}
                                    {{> FS.UploadProgressBar bootstrap=true}}
                                {{else}}
                                    <a href="{{url}}" target="_blank" data-featherlight="{{#if isImage}}{{url}}{{/if}}">
                                        {{#if isImage}}
                                            <img src="{{url store='vatfree-thumbs' uploading='/img/uploading.gif' storing='/img/storing.gif'}}">
                                        {{/if}}
                                    </a>
                                {{/unless}}
                            </span>
                        </div>
                    {{/with}}
                </td>
                <td class="client-status"><img src="/Logos/{{getPartnershipStatusLogo}}" /></td>
                <td><a class="client-link">{{name}}</a></td>
                <td>{{addressFirst}}, {{postalCode}} {{city}}, {{getCountryName}}</td>
                <td>{{formatDate createdAt}}</td>
                <td>{{formatDate updatedAt}}</td>
                <td class="nobr text-right">{{stats.numberOfInvoices}}</td>
                <td class="nobr text-right">{{formatCurrency stats.totalInvoicedRefunds 0 currencyId}}</td>
                <td class="nobr text-right">{{formatCurrency stats.totalInvoicedServiceFee 0 currencyId}}</td>
                <td class="contact-type">
                    <i class="fa fa-{{getContactType}}"> </i>
                </td>
                <td>{{getContactDetails}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="6">
                    <i>No companies found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
