<template name="addTravellerModal">
    <div id="modal-add-traveller" class="modal fade" aria-hidden="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <h3 class="m-t-none m-b">Add Traveller</h3>
                            <form role="form" name="add-traveller-form">
                                <div class="form-group required">
                                    <label>Type</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon icon-traveller"></i></span>
                                        <select name="private.travellerTypeId" class="form-control" required="required" disabled="{{isDisabled}}">
                                            <option value=""> -- </option>
                                            {{#each getTravellerTypeOptions}}
                                                <option value="{{_id}}" selected="{{isSelected _id "G4aCcRQisT62uk3cE"}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Affiliate</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon icon-countries"></i></span>
                                        <select name="private.affiliateId" class="form-control">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon icon-email"></i></span>
                                        <input type="text" class="form-control" name="profile.email" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Full name</label>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <input type="text" name="profile.name" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control" name="profile.gender">
                                                <option value=""> - Gender - </option>
                                                <option value="male" selected="{{isSelected profile.gender 'male'}}">&#9794;</option>
                                                <option value="female" selected="{{isSelected profile.gender 'female'}}">&#9792;</option>
                                                <option value="happy" selected="{{isSelected profile.gender 'happy'}}">☺</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" name="profile.addressFirst" class="form-control">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Postal code</label>
                                            <input type="text" name="profile.postalCode" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" name="profile.city" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Country</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon icon-countries"></i></span>
                                        <select name="profile.addressCountryId" class="form-control">
                                            <option value=""> -- </option>
                                            {{#each getCountries}}
                                                <option value="{{_id}}">{{name}} ({{code}})</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Phone</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-plus"></i></span>
                                                <input type="text" class="form-control" name="profile.phone" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Mobile</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-plus"></i></span>
                                                <input type="text" class="form-control" name="profile.mobile" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Passport country</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon icon-countries"></i></span>
                                        <select name="profile.countryId" class="form-control">
                                            <option value=""> -- </option>
                                            {{#each getCountries}}
                                                <option value="{{_id}}">{{name}} ({{code}})</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Passport/ID</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon icon-passport"></i></span>
                                                <input type="text" class="form-control" name="profile.passportNumber" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Expires</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                <input type="text" name="profile.passportExpirationDate" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Add</strong></button>
                                    <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-add-traveller"><strong>Cancel</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
