<template name="travellerCard">
    <div class="card traveller-card cursor-pointer">
        {{#if Template.subscriptionsReady}}
            <a href="{{#if isInVatfreeRole 'travellers-read'}}/traveller/{{_id}}{{else}}#{{/if}}">
                <div class="card-logo">
                    {{> avatar user=this shape="circle"}}
                </div>
                <div class="card-info">
                    <strong>
                        {{profile.name}}{{#if profile.birthDate}} ({{getTravellerAge _id}}){{/if}}
                    </strong>
                    <p>
                        <a href="mailto:{{profile.email}}">{{profile.email}}</a>{{#if profile.phone}}, <a href="tel:{{profile.phone}}">{{profile.phone}}</a>{{/if}}<br/>
                        {{#with getCountry}}
                            <span class="flag-icon flag-icon-{{toLowerCase code}}"></span>
                        {{/with}}
                        {{#if profile.visaCountryId}}
                            {{#with getCountry profile.visaCountryId}}
                                / <span class="flag-icon flag-icon-{{toLowerCase code}}"></span>
                            {{/with}}
                        {{/if}}
                        {{profile.city}}, {{getCountryCode profile.addressCountryId}}
                    </p>
                </div>
                <div class="card-meta">
                    <i class="{{getTravellerIcon private.status}}"></i><br/>
                    {{#if isNato}}
                        <div class="card-meta-group">
                            <img src="/img/nato.jpg" />
                        </div>
                    {{else}}
                        <div class="card-meta-group {{#if passportExpired}}text-danger{{/if}}">
                            <i class="{{getTravellerPassportIcon profile.passportExpirationDate}}"></i><br/>
                            {{formatDateShort profile.passportExpirationDate}}
                        </div>
                    {{/if}}
                </div>
            </a>
        {{/if}}
    </div>
</template>
