<template name="travellerEdit">
    {{#if Template.subscriptionsReady}}
        {{#with itemDoc}}
            {{> pageHeading title=getBreadcrumbTitle category='Travellers' categoryLink='/travellers' }}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-sm-8">
                        {{> travellerEditForm addActiveReceiptId }}
                    </div>
                    <div class="col-sm-4">
                        {{#if activeReceiptId}}
                            {{#with getSelectedReceipt}}
                                <h1>Receipt: {{receiptNr}}</h1>
                                {{> receiptInfo receipt=this showImages=true }}
                            {{/with}}
                        {{else}}
                            {{> travellerInfo traveller=this showImages=true openImagesInInPane=true }}
                        {{/if}}
                    </div>
                </div>
            </div>
        {{else}}
            <div class="wrapper wrapper-content">
                <p>Traveller not found!</p>
                {{#if isContact}}
                    <p>
                        <a href="/contact/{{getItemId}}">Deze gebruiker is een contact.</a>
                    </p>
                {{/if}}
                {{#if isAffiliate}}
                    <p>
                        <a href="/affiliate/{{getItemId}}">Deze gebruiker is een affiliate.</a>
                    </p>
                {{/if}}
            </div>
        {{/with}}
    {{else}}
        {{> loading }}
    {{/if}}
</template>

<template name="travellerEditForm">
    {{#with editImageFile}}
        {{> editImageModal file=this }}
    {{/with}}
    {{#if mergeTraveller}}
        {{> travellers_merge travellerId=_id parentVariable='mergeTraveller' }}
    {{/if}}
    <div class="tabs-container traveller-edit-form">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Traveller info</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Receipts</a></li>
            <li class=""><a data-toggle="tab" href="#tab-5"> Payouts</a></li>
            <li class=""><a data-toggle="tab" href="#tab-4"> Activity</a></li>
            <li class=""><a data-toggle="tab" href="#tab-6"> History</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3"> Account verification documents</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-10">
                                    <select name="private.travellerTypeId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> --</option>
                                        {{#each getTravellerTypeOptions}}
                                            <option value="{{_id}}" selected="{{isTravellerType _id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Full name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="profile.name" placeholder="Name" value="{{profile.name}}" disabled="{{isDisabled}}">
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="profile.gender" disabled="{{isDisabled}}">
                                        <option value=""> - Gender -</option>
                                        <option value="male" selected="{{isSelected profile.gender 'male'}}">&#9794;</option>
                                        <option value="female" selected="{{isSelected profile.gender 'female'}}">&#9792;</option>
                                        <option value="happy" selected="{{isSelected profile.gender 'happy'}}">☺</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="profile.email" placeholder="Email not available" value="{{profile.email}}" disabled="true">
                                </div>
                                <div class="col-sm-2">
                                    {{#if isInVatfreeRole 'travellers-update'}}
                                        <button class="btn btn-primary change-email">Change</button>
                                    {{/if}}
                                </div>
                                <div class="col-sm-2">
                                    {{#each getLoginServices}}
                                        <span class="login-pill login-pill-{{this}}" title="Logged in via {{this}}">
                                            <i class="fa fa-{{this}}"></i>
                                        </span>
                                    {{/each}}
                                </div>
                            </div>
                            {{#with secondaryEmails}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Secondary Email</label>
                                    <div class="col-sm-6">
                                        <ul>
                                            {{#each this}}
                                                <li>{{address}} ({{#if verified}}verified{{else}}unverified{{/if}})</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            {{/with}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="profile.addressFirst" placeholder="Address" value="{{profile.addressFirst}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">&nbsp;</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="profile.postalCode" placeholder="Postal code" value="{{profile.postalCode}}" disabled="{{isDisabled}}">
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="profile.city" placeholder="City" value="{{profile.city}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-10">
                                    <select name="profile.addressCountryId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> --</option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}" selected="{{isSelected _id ../profile.addressCountryId}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mobile</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-plus"></i></span>
                                        <input type="text" class="form-control" name="profile.mobile" placeholder="Mobile" value="{{profile.mobile}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-plus"></i></span>
                                        <input type="text" class="form-control" name="profile.phone" placeholder="Phone" value="{{profile.phone}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">Phone 2</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-plus"></i></span>
                                        <input type="text" class="form-control" name="profile.phone2" placeholder="Phone 2" value="{{profile.phone2}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Passport country</label>
                                <div class="col-sm-4">
                                    <select name="profile.countryId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> --</option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}" selected="{{isSelected _id ../profile.countryId}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Birth date</label>
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="profile.birthDate" class="form-control" value="{{formatDate profile.birthDate}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Passport/ID</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="profile.passportNumber" placeholder="Passport number" value="{{profile.passportNumber}}" disabled="{{isDisabled}}">
                                </div>
                                <label class="col-sm-2 control-label">Expires</label>
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="profile.passportExpirationDate" class="form-control" value="{{formatDate profile.passportExpirationDate}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                            {{#if needsVisa}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Visa nr</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="profile.visaNumber" placeholder="Visa number" value="{{profile.visaNumber}}" disabled="{{isDisabled}}">
                                    </div>
                                    <label class="col-sm-2 control-label">Visa expires</label>
                                    <div class="col-sm-4">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                            <input type="text" name="profile.visaExpirationDate" class="form-control" value="{{formatDate profile.visaExpirationDate}}" disabled="{{isDisabled}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Visa country</label>
                                    <div class="col-sm-10">
                                        <select name="profile.visaCountryId" class="form-control" disabled="{{isDisabled}}">
                                            <option value=""> --</option>
                                            {{#each getCountries}}
                                                <option value="{{_id}}" selected="{{isSelected _id ../profile.visaCountryId}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            {{/if}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="i-checks">
                                        <input type="checkbox" name="profile.extraDocumentation" value="1" checked="{{#if profile.extraDocumentation}}checked{{/if}}" disabled="{{isDisabled}}"/> Allow traveller to upload extra verification documents
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Salesforce ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="profile.contactId" placeholder="Salesforce ID" value="{{profile.contactId}}" disabled="{{isDisabled}}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Affiliate</label>
                                <div class="col-sm-10">
                                    <select name="private.affiliateId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if private.affiliateId}}
                                            <option value="{{private.affiliateId}}" selected="selected">{{getAffiliateName private.affiliateId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-10">
                                    <select name="private.status" class="form-control" disabled="{{isDisabled}}">
                                        {{#each getTravellerStatusOptions}}
                                            <option value="{{this}}" selected="{{isStatus this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            {{#if isRejectionStatus}}
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        {{> travellerRejectionList travellerRejectionIds=private.rejectionIds }}
                                    </div>
                                </div>
                            {{/if}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="private.notes" placeholder="Notes about this traveller">{{private.notes}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-info send-traveller-magic-link">Send traveller magic link email</button>
                                    {{#if isInVatfreeRole 'travellers-update'}}
                                        <button class="btn btn-warning merge-traveller">Merge traveller</button>
                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                    {{/if}}
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                {{#if tabLoading 'tab-2'}}
                    {{> loading }}
                {{else}}
                    {{#if tabLoaded 'tab-2'}}
                        {{> travellerEditReceipts addActiveReceiptId }}
                    {{else}}
                        <span class="load-receipts">Click here to load the receipts</span>
                    {{/if}}
                {{/if}}
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    {{#if isInVatfreeRole 'travellers-update'}}
                        <div class="dropzone">
                            <input type="file" name="dropzone-file" class="dropzone-file"/>
                            <div class="add-file">
                                <i class="icon icon-upload"></i><br/>
                                {{_ "Drop file(s) here to upload"}}
                            </div>
                            <div class="qrcode-upload">
                                <canvas id="qrcode-upload"></canvas>
                            </div>
                        </div>
                    {{/if}}
                    {{> travellerPassportImages travellerId=getTravellerId disallowEdits=disallowPassportImagesEdits }}
                    {{#if getFiles.count}}
                        <ul class="files">
                            {{#each getFiles}}
                                <li class="file draggable" id="{{_id}}">
                                    {{#unless this.isUploaded}}
                                        {{> FS.UploadProgressBar bootstrap=true}}
                                        <i class="icon icon-eyehidden file-action move-file" title="Hide this image from traveller"></i>
                                    {{else}}
                                        {{#if fileCopiesUploaded this}}
                                            {{> directUrlFile fileObj=this }}
                                            {{#if isInVatfreeRole 'travellers-update'}}
                                                {{#if isImage}}
                                                    <i class="icon icon-edit file-action edit-file" title="Edit this image"></i>
                                                {{/if}}
                                                <i class="icon icon-eyehidden file-action move-file" title="Hide this image from traveller"></i>
                                                <i class="icon icon-receiptperson file-action make-receipt-from-file" title="Make a receipt from this image"></i>
                                                {{#if isPDF}}
                                                    <i class="icon icon-addphoto file-action create-images-from-pdf" title="Create images from this PDF"></i>
                                                {{/if}}
                                            {{/if}}
                                        {{else}}
                                            {{> storing_file }}
                                        {{/if}}
                                    {{/unless}}
                                </li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <i>No files found</i>
                    {{/if}}
                </div>
                <div class="panel-body panel-warning">
                    <blockquote class="alert-warning">These documents are not visible to the traveller.</blockquote>
                    {{#if isInVatfreeRole 'travellers-update'}}
                        <div class="dropzone-layout file-internal">
                            <input type="file" name="dropzone-file-internal" class="dropzone-file"/>
                            <div class="add-file add-file-internal">
                                <i class="icon icon-upload"></i><br/>
                                {{_ "Drop file(s) here to upload"}}
                            </div>
                            <div class="qrcode-upload">
                                <canvas id="qrcode-upload-internal"></canvas>
                            </div>
                        </div>
                    {{/if}}
                    {{#if getInternalFiles.count}}
                        <ul class="files">
                            {{#each getInternalFiles}}
                                <li class="file" id="{{_id}}">
                                    {{#unless this.isUploaded}}
                                        {{> FS.UploadProgressBar bootstrap=true}}
                                        <i class="icon icon-cross delete-file" data-trash="travellers_trash" title="Delete this image"></i>
                                    {{else}}
                                        {{#if fileCopiesUploaded this}}
                                            {{> directUrlFile fileObj=this }}
                                            {{#if isInVatfreeRole 'travellers-update'}}
                                                <i class="icon icon-cross file-action delete-file" data-trash="travellers_trash" title="Delete this image"></i>
                                                {{#if isImage}}
                                                    <i class="icon icon-edit file-action edit-file" title="Edit this image"></i>
                                                {{/if}}
                                                <i class="icon icon-eyeview file-action move-file" title="Show this image to traveller"></i>
                                                <i class="icon icon-receiptperson file-action make-receipt-from-file" title="Make a receipt from this image"></i>
                                                {{#if isPDF}}
                                                    <i class="icon icon-addphoto file-action create-images-from-pdf" title="Create images from this PDF"></i>
                                                {{/if}}
                                            {{/if}}
                                        {{else}}
                                            {{> storing_file }}
                                        {{/if}}
                                    {{/unless}}
                                </li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <i>No files found</i>
                    {{/if}}
                </div>
                {{#if getTrashFiles.count}}
                    <div class="panel-body panel-warning">
                        <blockquote class="alert-danger">These documents will be removed soon.</blockquote>
                        <ul class="files">
                            {{#each getTrashFiles}}
                                <li class="file" id="{{_id}}">
                                    {{#unless this.isUploaded}}
                                        {{> FS.UploadProgressBar bootstrap=true}}
                                        <i class="icon icon-cross delete-file" title="Delete this image"></i>
                                    {{else}}
                                        {{#if fileCopiesUploaded this}}
                                            {{> directUrlFile fileObj=this }}
                                            {{#if isInVatfreeRole 'travellers-update'}}
                                                <i class="icon icon-cross file-action delete-file" title="Delete this image"></i>
                                                <i class="icon icon-eyeview file-action move-file-from-trash" title="Show this image to traveller"></i>
                                            {{/if}}
                                        {{else}}
                                            {{> storing_file }}
                                        {{/if}}
                                    {{/unless}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </div>
            <div id="tab-4" class="tab-pane">
                {{#if tabLoading 'tab-4'}}
                    {{> loading }}
                {{else}}
                    {{#if tabLoaded 'tab-4'}}
                        {{> activityLogTab activityLogs=getActivityLog travellerId=_id }}
                    {{else}}
                        <span class="load-shops">Click here to load the activity list</span>
                    {{/if}}
                {{/if}}
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> payoutsList payouts=getPayouts includeHeader=true }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-6" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        <strong>Edit history</strong>
                        {{#if tabLoading 'tab-6'}}
                            {{> loading }}
                        {{else}}
                            {{#if tabLoaded 'tab-6'}}
                                <div id="vertical-timeline" class="vertical-container dark-timeline">
                                    {{#each getActivity}}
                                        {{> activityTimelineItem }}
                                    {{/each}}
                                </div>
                            {{else}}
                                <span class="load-shops">Click here to load the history</span>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
