<template name="travellerInfo">
    <div class="ibox traveller-info">
        {{#with traveller}}
            <div class="ibox-content">
                {{#with getShowFile}}
                    <div class="pull-right close-show-file cursor-pointer"><i class="fa fa-close"></i></div>
                    <br/>
                    {{> infoFile }}
                {{else}}
                    <div class="tab-content {{#if ../allowEdit}}allow-edit{{/if}}">
                    <div id="contact-1" class="tab-pane active">
                        {{> travellerCard }}
                        {{#unless ../hideDetails}}
                            {{#if alternativeTravellerType}}
                                <blockquote class="alert-warning">
                                    {{#with getTravellerTypeIcon private.travellerTypeId}}
                                        <i class="{{this}}"></i>
                                    {{/with}}
                                    {{getTravellerTypeName private.travellerTypeId}}
                                </blockquote>
                            {{/if}}
                            <div class="client-detail">
                            <div class="full-height-scroll">
                                <strong>Traveller summary</strong>
                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        {{#if userIsEligible}}
                                            <i class="icon icon-usereligible"></i> Traveller is eligible for refund
                                        {{else}}
                                            <span class="alert-danger"><i class="icon icon-usernoneligible"></i> Traveller is NOT eligible for refund</span>
                                        {{/if}}
                                    </li>
                                    {{#each getContactIds}}
                                        <li class="list-group-item">
                                            <a href="https://vatfree.my.salesforce.com/{{this}}" target="_blank">
                                                <span class="pull-right"> {{this}} </span>
                                                <img src="/img/salesforce.svg" style="height: 28px; margin-top: -15px; margin-bottom: -10px;" /> Salesforce id
                                            </a>
                                        </li>
                                    {{/each}}
                                    {{#if private.affiliateId}}
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                <a href="/affiliate/{{private.affiliateId}}">{{getAffiliateName private.affiliateId}}</a>
                                            </span>
                                            Affiliate
                                        </li>
                                    {{/if}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatDate private.lastRequestDate}} </span>
                                        Last request date
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatDate private.lastRequestDate}} </span>
                                        Last request date
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{private.numberOfRequests}} </span>
                                        Number of requests
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatCurrency private.totalRefunds}} </span>
                                        Total refunds
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatCurrency private.totalServiceFee}} </span>
                                        Total service fee
                                    </li>
                                    {{#if private.reminders}}
                                        <li class="list-group-item">
                                            Reminders<br/>
                                            {{#each private.reminders}}
                                                <div class="text-right">
                                                    {{type}}: {{formatDateTime sentAt}}
                                                </div>
                                            {{/each}}
                                        </li>
                                    {{/if}}
                                    {{#if ../showImages}}
                                        {{#if getFiles.count}}
                                            <li class="list-group-item">
                                                <ul class="files traveller-files">
                                                    {{#each getFiles}}
                                                        <li class="file">
                                                            {{#unless this.isUploaded}}
                                                                {{> FS.UploadProgressBar bootstrap=true}}
                                                            {{else}}
                                                                {{#if fileCopiesUploaded this}}
                                                                    {{> directUrlFile fileObj=this }}
                                                                {{else}}
                                                                    {{> storing_file }}
                                                                {{/if}}
                                                            {{/unless}}
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            </li>
                                        {{/if}}
                                    {{/if}}
                                </ul>
                                {{#if private.notes}}
                                    <strong>Notes</strong>
                                    <p>
                                        {{private.notes}}
                                    </p>
                                {{/if}}
                                {{> traveller_last_receipts travellerId=_id limit=10 }}
                                {{#unless ../hideTimeline}}
                                    <hr/>
                                    <strong>Edit history</strong>
                                    <div id="vertical-timeline" class="vertical-container dark-timeline">
                                        {{#each getActivity}}
                                            {{> activityTimelineItem }}
                                        {{/each}}
                                    </div>
                                {{/unless}}
                            </div>
                        </div>
                        {{/unless}}
                    </div>
                    </div>
                {{/with}}
            </div>
        {{/with}}
    </div>
</template>
