<template name="traveller_last_receipts">
    <div class="receipt-list">
        <b>{{#if title}}{{{title}}}{{else}}Last receipts (max {{limit}}){{/if}}</b><br/>
        {{#each getReceipts}}
            <div class="receipt-list-item">
                <div class="receipt-list-item-text {{#if receiptTypeId}}with-icon{{/if}}">
                    {{#if receiptTypeId}}
                        <i class="{{getReceiptTypeIcon receiptTypeId}}" title="{{getReceiptTypeName receiptTypeId}}"></i>
                    {{/if}}
                    <span title="{{_ status}}">
                        <i class="{{getReceiptIcon}}"></i>
                    </span>
                    <a href="/receipt/{{_id}}">
                        {{#if salesforceId}}
                            <a href="https://vatfree.my.salesforce.com/{{salesforceId}}" target="_blank"><img src="/img/salesforce.svg" style="height: 12px; margin-top: -13px; margin-bottom: -10px;" /></a>
                        {{/if}}
                        {{receiptNr}}
                    </a> -
                    <img src="/Logos/{{getShopPartnershipStatusIcon}}" class="partnershopStatusLogo"/> {{getShopName}} -
                    {{formatCurrency amount 2 currencyId}}<br/>
                    <span class="text-muted">
                        Purchase: {{formatDate purchaseDate}} -
                        Customs: {{formatDate customsDate}}
                    </span>
                    <br/>
                    <span class="text-muted">
                        Vat: {{formatCurrency totalVat 2 currencyId}} -
                        Refund: {{formatCurrency refund 2 currencyId}} -
                        Fee: {{formatCurrency serviceFee 2 currencyId}}<br/>
                    </span>
                </div>
                {{#unless ../hideFiles}}
                    <div class="receipt-list-item-files">
                        {{#if getReceiptFiles.count}}
                            <ul class="files">
                                {{#each getReceiptFiles}}
                                    <li class="file">
                                        {{#unless this.isUploaded}}
                                            {{> FS.UploadProgressBar bootstrap=true}}
                                        {{else}}
                                            {{#if fileCopiesUploaded this}}
                                                {{> directUrlFile fileObj=this }}
                                            {{else}}
                                                {{> storing_file }}
                                            {{/if}}
                                        {{/unless}}
                                    </li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </div>
                {{/unless}}
            </div>
        {{/each}}
    </div>
</template>
