<template name="travellersList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'profile.name'}}" data-id="profile.name">Name</th>
                    <th class="sort-header {{isHeaderSorting 'createdAt'}}" data-id="createdAt">Created</th>
                    <th class="sort-header {{isHeaderSorting 'updatedAt'}}" data-id="updatedAt">Updated</th>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'private.numberOfRequests'}}" data-id="private.numberOfRequests">#reqs</th>
                    {{#unless hideServiceFee}}
                        <th class="sort-header {{isHeaderSorting 'private.totalServiceFee'}}" data-id="private.totalServiceFee">Fee</th>
                    {{/unless}}
                    <th class="sort-header {{isHeaderSorting 'profile.email'}}" data-id="profile.email">Contact</th>
                    <th class="sort-header {{isHeaderSorting 'profile.countryId'}}" data-id="profile.countryId">Country</th>
                    {{#if selectable}}
                        <th>&nbsp;</th>
                    {{/if}}
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each travellers}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td>
                    {{#unless ../hideButtons}}
                        <a href="/traveller/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a>
                        {{#if isInVatfreeRole 'travellers-tasks'}}
                            {{#if isMyTask}}
                                <a href="#" class="btn btn-white btn-sm task-item"><i class="icon icon-task"></i></a>
                            {{/if}}
                        {{/if}}
                    {{/unless}}
                </td>
                <td class="client-status">
                    <i class="{{getTravellerIcon private.status}}"></i>
                </td>
                <td><a class="client-link">{{profile.name}}</a></td>
                <td>{{formatDateShort createdAt}}</td>
                <td>{{formatDateShort updatedAt}}</td>
                <td>
                    <a class="client-link"><i class="{{getTravellerTypeIcon}}"></i></a>
                    {{#if private.affiliateId}}
                        <i class="icon icon-affiliates"></i>
                    {{/if}}
                    {{#each profile.contactId}}
                        <a href="https://vatfree.my.salesforce.com/{{this}}" target="_blank"><img src="/img/salesforce.svg" style="height: 18px; margin-top: -12px; margin-bottom: -10px;" /></a>
                    {{/each}}
                </td>
                <td>{{private.numberOfRequests}}</td>
                {{#unless ../hideServiceFee}}
                    <td>{{formatCurrency private.totalServiceFee}}</td>
                {{/unless}}
                <td>{{getContactDetails}}</td>
                <td>{{getCountryName profile.countryId}}</td>
                {{#if ../selectable}}
                    <td>
                        <input type="checkbox" name="travellers.{{_id}}" checked="{{../allSelected}}"/>
                    </td>
                {{/if}}
            </tr>
        {{else}}
            <tr>
                <td colspan="7">
                    <i>No travellers found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</template>
