<template name="travellers_merge">
    <div id="modal-travellers-merge" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h1>Merge "{{getTravellerName _id}}"</h1>
                    <form name="send-merge-traveller-form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Into</label>
                            <div class="col-sm-9">
                                <select name="travellerId" class="form-control">
                                </select>
                            </div>
                        </div>
                        {{#with getTraveller}}
                            <div class="">
                                This traveller will be merged into "{{getTravellerName _id}}".
                            </div>
                            <div>
                                {{#with getCounts}}
                                    <table style='width: 80%; margin-left: 10%;'>
                                        <tr>
                                            <td style='text-align: left'>Receipts</td><td style='text-align: right'>{{receipts}}</td>
                                        </tr>
                                        <tr>
                                            <td style='text-align: left'>Files</td><td style='text-align: right'>{{files}}</td>
                                        </tr>
                                        <tr>
                                            <td style='text-align: left'>Activity Log</td><td style='text-align: right'>{{activityLog}}</td>
                                        </tr>
                                        <tr>
                                            <td style='text-align: left'>Payouts</td><td style='text-align: right'>{{payouts}}</td>
                                        </tr>
                                    </table>
                                {{/with}}
                            </div>
                            <hr/>
                            <div class="pull-right">
                                <button class="btn btn-default cancel-merge-traveller">Cancel</button>
                                <button class="btn btn-info" type="submit" disabled="{{isSending}}">Merge traveller</button>
                            </div>
                            <br/>
                        {{/with}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
