<template name="travellerPassportImages">
    {{#if getIdNeeded.length}}
        <div class="text-center">
            <div class="traveller-passport {{#if hasPassportError travellerId}}error{{/if}}">
                {{#each getIdNeeded}}
                    <div class="id-scan {{#unless getIdFile}}empty{{/unless}} file-dropzone" data-sub-type="{{subType}}">
                        {{#with getIdFile}}
                            <ul class="files">
                                <li class="file">
                                    {{> directUrlFile fileObj=this }}
                                    {{#unless ../../disallowEdits}}
                                        <i class="fa fa-image file-action unset-file-type"></i>
                                    {{/unless}}
                                </li>
                            </ul>
                        {{else}}
                            {{name}}
                        {{/with}}
                    </div>
                {{/each}}
                {{#with getForm}}
                    <div class="id-scan {{#unless getIdFile}}empty{{/unless}} file-dropzone" data-sub-type="{{subType}}">
                        {{#with getIdFile}}
                            <ul class="files">
                                <li class="file">
                                    {{> directUrlFile fileObj=this }}
                                    {{#unless ../../disallowEdits}}
                                        <i class="fa fa-image file-action unset-file-type"></i>
                                    {{/unless}}
                                </li>
                            </ul>
                        {{else}}
                            {{name}}
                        {{/with}}
                    </div>
                {{/with}}
            </div>
        </div>
    {{/if}}
</template>
