<template name="traveller_svg_form">
    <svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" width="624" height="322" viewBox="0 0 312 161">
        <defs>
            <style>
                svg {
                    background: #ffffff;
                }

                .cls-1 {
                    fill: #009ee2;
                }

                .cls-2, .cls-3, .cls-4 {
                    fill: none;
                    stroke: #009ee2;
                }

                .cls-2 {
                    stroke-width: 0.25px;
                }

                .cls-3 {
                    stroke-width: 0.25px;
                }

                .cls-4 {
                    stroke-width: 0.21px;
                }

                .cls-5 {
                    font-size: 8.93px;
                    font-family: Gotham-Bold, Gotham;
                    font-weight: 700;
                }

                .cls-5, .cls-6, .cls-8, .cls-9 {
                    fill: #fff;
                }

                .cls-6, .cls-7 {
                    font-size: 7.92px;
                    font-family: Gotham-Book, Gotham;
                }

                .cls-10, .cls-7 {
                    fill: #1d1d1b;
                }

                .cls-9 {
                    font-size: 8.04px;
                    font-family: STHeitiSC-Medium, Heiti SC;
                }

                .cls-11 {
                    font-size: 12px;
                    font-family: MyriadPro-Regular, Myriad Pro;
                }
            </style>
        </defs>
        <title>NCP data</title>
        <rect class="cls-1" x="23.27" y="98.69" width="274.49" height="10.76"/>
        <rect class="cls-1" x="23.27" y="12.62" width="274.49" height="10.72"/>
        <rect class="cls-1" x="23.18" y="54.01" width="135" height="10.86"/>
        <polygon class="cls-2" points="23.2 91.25 297.66 91.25 297.61 64.7 23.14 64.7 23.2 91.25"/>
        <rect class="cls-3" x="23.39" y="109.5" width="274.24" height="39.39"/>
        <rect class="cls-4" x="283.18" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="265.89" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="248.61" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="231.32" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="214.04" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="196.75" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="179.47" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="162.18" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="144.9" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="127.61" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="110.33" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="93.04" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="75.76" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="58.47" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="41.19" y="22.34" width="14.46" height="18.32"/>
        <rect class="cls-4" x="23.42" y="22.34" width="14.46" height="18.32"/>
    <g>
        <path class="cls-5" d="M26.67,56.84h4.76v1.25H28.05v1.33h3v1.25h-3v2.42H26.67Z"/>
        <path class="cls-5" d="M32.59,56.84H34v6.25H32.59Z"/>
        <path class="cls-5" d="M35.53,56.84h2.86a2.49,2.49,0,0,1,1.82.63,2,2,0,0,1,.54,1.43v0a2,2,0,0,1-1.34,1.94l1.52,2.23h-1.6l-1.34-2H36.91v2H35.53Zm2.77,3c.67,0,1.05-.36,1.05-.89v0c0-.59-.41-.89-1.08-.89H36.91v1.8Z"/>
        <path class="cls-5" d="M41.56,62.18l.81-1a2.91,2.91,0,0,0,1.87.75c.56,0,.9-.22.9-.58v0c0-.35-.21-.53-1.26-.8-1.26-.32-2.07-.67-2.07-1.91v0A2,2,0,0,1,44,56.75a3.61,3.61,0,0,1,2.32.8l-.71,1A3,3,0,0,0,44,58c-.53,0-.8.25-.8.55v0c0,.41.27.54,1.35.82,1.26.33,2,.78,2,1.87v0c0,1.24-.95,1.94-2.3,1.94A4,4,0,0,1,41.56,62.18Z"/>
        <path class="cls-5" d="M49.16,58.11h-1.9V56.84h5.18v1.27h-1.9v5H49.16Z"/>
        <path class="cls-5" d="M59.65,62.48a2.78,2.78,0,0,1-1.83.7,1.87,1.87,0,0,1-2.09-1.8v0a1.82,1.82,0,0,1,1.21-1.72,2.12,2.12,0,0,1-.44-1.25h0a1.72,1.72,0,0,1,1.9-1.65,1.61,1.61,0,0,1,1.75,1.57v0A1.74,1.74,0,0,1,58.84,60l.83.83c.21-.33.41-.69.61-1.08l1,.56a11.51,11.51,0,0,1-.82,1.32l.92.92-1,.7Zm-.76-.78-1.2-1.22a.94.94,0,0,0-.58.82v0a.77.77,0,0,0,.87.73A1.5,1.5,0,0,0,58.89,61.7ZM59,58.4v0a.55.55,0,0,0-.59-.58.59.59,0,0,0-.61.64v0a1.11,1.11,0,0,0,.37.77C58.67,59,59,58.79,59,58.4Z"/>
        <path class="cls-5" d="M65.07,56.84h1.37v5h3.12v1.25H65.07Z"/>
        <path class="cls-5" d="M72.74,56.8H74l2.67,6.29H75.25l-.57-1.4H72l-.57,1.4h-1.4Zm1.44,3.67-.83-2-.83,2Z"/>
        <path class="cls-5" d="M77.22,62.18l.82-1A2.87,2.87,0,0,0,79.9,62c.56,0,.9-.22.9-.58v0c0-.35-.21-.53-1.26-.8-1.25-.32-2.07-.67-2.07-1.91v0a2,2,0,0,1,2.19-1.88,3.61,3.61,0,0,1,2.32.8l-.71,1A3,3,0,0,0,79.64,58c-.52,0-.8.25-.8.55v0c0,.41.27.54,1.35.82,1.27.33,2,.78,2,1.87v0c0,1.24-1,1.94-2.29,1.94A4,4,0,0,1,77.22,62.18Z"/>
        <path class="cls-5" d="M84.82,58.11h-1.9V56.84H88.1v1.27H86.2v5H84.82Z"/>
        <path class="cls-5" d="M91.83,56.84H93.1L96,60.69V56.84h1.36v6.25H96.22l-3-4v4H91.83Z"/>
        <path class="cls-5" d="M101,56.8h1.27L105,63.09h-1.44l-.57-1.4h-2.64l-.57,1.4H98.35Zm1.45,3.67-.83-2-.83,2Z"/>
        <path class="cls-5" d="M106,56.84h1.48l1.64,2.64,1.64-2.64h1.48v6.25h-1.36V59l-1.76,2.67h0L107.29,59v4.05H106Z"/>
        <path class="cls-5" d="M113.7,56.84h4.71v1.22h-3.35v1.27h3v1.22h-3v1.32h3.4v1.22H113.7Z"/>
    </g>
        <text class="cls-6" transform="translate(80.43 64.09)"><tspan xml:space="preserve">  </tspan></text>
        <text class="cls-7" transform="translate(88.35 64.98)"><tspan xml:space="preserve">                            </tspan></text>
        <text class="cls-7" transform="translate(132.7 64.98)"> </text>
        <g>
            <path class="cls-8" d="M26.67,101.52h1.38V104h2.53v-2.48H32v6.25H30.58v-2.51H28.05v2.51H26.67Z"/>
            <path class="cls-8" d="M33.18,104.66h0a3.33,3.33,0,0,1,6.65,0v0a3.33,3.33,0,0,1-6.65,0Zm5.21,0h0a1.91,1.91,0,0,0-1.89-2,1.88,1.88,0,0,0-1.88,1.95v0a1.9,1.9,0,0,0,1.89,2A1.87,1.87,0,0,0,38.39,104.66Z"/>
            <path class="cls-8" d="M41.05,101.52h1.48l1.65,2.64,1.64-2.64H47.3v6.25H45.94v-4.08l-1.76,2.67h0l-1.74-2.64v4H41.05Z"/>
            <path class="cls-8" d="M48.8,101.52h4.72v1.23H50.17V104h2.95v1.23H50.17v1.31h3.39v1.22H48.8Z"/>
            <path class="cls-8" d="M59.61,101.48h1.27l2.68,6.29H62.12l-.57-1.4H58.9l-.57,1.4h-1.4Zm1.45,3.68-.83-2-.83,2Z"/>
            <path class="cls-8" d="M64.52,101.52H67a3.12,3.12,0,0,1,3.32,3.11v0A3.13,3.13,0,0,1,67,107.77H64.52Zm2.44,5a1.78,1.78,0,0,0,1.88-1.87h0A1.8,1.8,0,0,0,67,102.76H65.9v3.77Z"/>
            <path class="cls-8" d="M71.51,101.52h2.43a3.12,3.12,0,0,1,3.33,3.11v0a3.13,3.13,0,0,1-3.33,3.12H71.51Zm2.43,5a1.78,1.78,0,0,0,1.89-1.87h0a1.8,1.8,0,0,0-1.89-1.89H72.88v3.77Z"/>
            <path class="cls-8" d="M78.49,101.52h2.86a2.5,2.5,0,0,1,1.82.64,1.94,1.94,0,0,1,.54,1.42v0a2,2,0,0,1-1.34,1.94l1.52,2.23h-1.6l-1.34-2H79.87v2H78.49Zm2.77,3c.67,0,1-.36,1-.89h0c0-.59-.41-.9-1.08-.9H79.87v1.8Z"/>
            <path class="cls-8" d="M85,101.52h4.71v1.23H86.31V104h3v1.23h-3v1.31h3.4v1.22H85Z"/>
            <path class="cls-8" d="M90.5,106.86l.82-1a2.88,2.88,0,0,0,1.86.76c.57,0,.9-.23.9-.59v0c0-.35-.21-.53-1.25-.8-1.26-.32-2.08-.66-2.08-1.91h0a2,2,0,0,1,2.19-1.89,3.61,3.61,0,0,1,2.32.8l-.71,1a3,3,0,0,0-1.63-.61c-.52,0-.8.24-.8.54v0c0,.41.27.54,1.35.82,1.27.33,2,.79,2,1.88h0c0,1.24-1,1.94-2.29,1.94A4,4,0,0,1,90.5,106.86Z"/>
            <path class="cls-8" d="M96.22,106.86l.81-1a2.9,2.9,0,0,0,1.87.76c.56,0,.9-.23.9-.59v0c0-.35-.21-.53-1.26-.8-1.26-.32-2.07-.66-2.07-1.91h0a2,2,0,0,1,2.19-1.89,3.63,3.63,0,0,1,2.32.8l-.72,1a2.92,2.92,0,0,0-1.62-.61c-.53,0-.8.24-.8.54v0c0,.41.26.54,1.34.82,1.27.33,2,.79,2,1.88h0c0,1.24-1,1.94-2.3,1.94A4,4,0,0,1,96.22,106.86Z"/>
            <path class="cls-8" d="M104.77,104.66h0a3.32,3.32,0,0,1,6.64,0v0a3.32,3.32,0,0,1-6.64,0Zm5.2,0h0a1.9,1.9,0,0,0-1.89-2,1.88,1.88,0,0,0-1.88,1.95v0a1.9,1.9,0,0,0,1.9,2A1.87,1.87,0,0,0,110,104.66Z"/>
            <path class="cls-8" d="M112.54,105.09v-3.57h1.37v3.54c0,1,.51,1.54,1.35,1.54s1.35-.51,1.35-1.5v-3.58H118v3.53a2.51,2.51,0,0,1-2.74,2.82A2.48,2.48,0,0,1,112.54,105.09Z"/>
            <path class="cls-8" d="M120.84,102.79h-1.9v-1.27h5.18v1.27h-1.9v5h-1.38Z"/>
            <path class="cls-8" d="M124.75,106.86l.81-1a2.88,2.88,0,0,0,1.86.76c.57,0,.91-.23.91-.59v0c0-.35-.22-.53-1.26-.8-1.26-.32-2.07-.66-2.07-1.91h0a2,2,0,0,1,2.18-1.89,3.61,3.61,0,0,1,2.32.8l-.71,1a3,3,0,0,0-1.62-.61c-.53,0-.81.24-.81.54v0c0,.41.27.54,1.35.82,1.27.33,2,.79,2,1.88h0c0,1.24-.94,1.94-2.29,1.94A4,4,0,0,1,124.75,106.86Z"/>
            <path class="cls-8" d="M131,101.52h1.38v6.25H131Z"/>
            <path class="cls-8" d="M133.89,101.52h2.44a3.12,3.12,0,0,1,3.32,3.11v0a3.13,3.13,0,0,1-3.32,3.12h-2.44Zm2.44,5a1.78,1.78,0,0,0,1.88-1.87h0a1.8,1.8,0,0,0-1.88-1.89h-1.06v3.77Z"/>
            <path class="cls-8" d="M140.88,101.52h4.71v1.23h-3.35V104h2.95v1.23h-2.95v1.31h3.39v1.22h-4.75Z"/>
            <path class="cls-8" d="M151,102.79h-1.9v-1.27h5.18v1.27h-1.9v5H151Z"/>
            <path class="cls-8" d="M155.33,101.52h1.37V104h2.54v-2.48h1.37v6.25h-1.37v-2.51H156.7v2.51h-1.37Z"/>
            <path class="cls-8" d="M162.11,101.52h4.72v1.23h-3.35V104h3v1.23h-3v1.31h3.39v1.22h-4.76Z"/>
            <path class="cls-8" d="M170.78,101.52h4.71v1.23h-3.35V104h3v1.23h-3v1.31h3.4v1.22h-4.76Z"/>
            <path class="cls-8" d="M176.66,105.09v-3.57H178v3.54c0,1,.51,1.54,1.34,1.54s1.35-.51,1.35-1.5v-3.58h1.38v3.53a2.52,2.52,0,0,1-2.74,2.82A2.49,2.49,0,0,1,176.66,105.09Z"/>
        </g>
        <g>
            <path class="cls-8" d="M25.93,15.23h2.55a2.15,2.15,0,0,1,2.4,2.16v0c0,1.45-1.13,2.19-2.53,2.19H27.3v1.88H25.93Zm2.46,3.15a1,1,0,0,0,1.09-.94v0c0-.62-.43-1-1.11-1H27.3v1.91Z"/>
            <path class="cls-8" d="M34,15.19h1.27L38,21.48H36.55L36,20.08H33.33l-.57,1.4h-1.4Zm1.44,3.67-.83-2-.83,2Z"/>
            <path class="cls-8" d="M38.52,20.57l.81-1a2.91,2.91,0,0,0,1.87.75c.56,0,.9-.22.9-.58v0c0-.35-.21-.53-1.26-.8-1.26-.32-2.07-.67-2.07-1.91h0A2,2,0,0,1,41,15.14a3.61,3.61,0,0,1,2.32.8l-.71,1a3,3,0,0,0-1.63-.61c-.52,0-.8.24-.8.54v0c0,.41.27.54,1.35.82,1.26.33,2,.78,2,1.87v0c0,1.24-.95,1.94-2.3,1.94A4,4,0,0,1,38.52,20.57Z"/>
            <path class="cls-8" d="M44.24,20.57l.81-1a2.87,2.87,0,0,0,1.87.75c.56,0,.9-.22.9-.58v0c0-.35-.22-.53-1.26-.8-1.26-.32-2.07-.67-2.07-1.91h0a2,2,0,0,1,2.18-1.89,3.63,3.63,0,0,1,2.33.8l-.72,1a3,3,0,0,0-1.62-.61c-.53,0-.81.24-.81.54v0c0,.41.27.54,1.35.82,1.27.33,2,.78,2,1.87v0c0,1.24-.94,1.94-2.29,1.94A4,4,0,0,1,44.24,20.57Z"/>
            <path class="cls-8" d="M50.38,15.23h2.56a2.14,2.14,0,0,1,2.39,2.16v0c0,1.45-1.13,2.19-2.53,2.19h-1v1.88H50.38Zm2.47,3.15a1,1,0,0,0,1.09-.94v0c0-.62-.43-1-1.12-1H51.76v1.91Z"/>
            <path class="cls-8" d="M56.07,18.37h0a3.24,3.24,0,0,1,3.33-3.24,3.2,3.2,0,0,1,3.31,3.22v0a3.32,3.32,0,0,1-6.64,0Zm5.21,0h0a1.9,1.9,0,0,0-1.9-2,1.87,1.87,0,0,0-1.87,1.95v0a1.89,1.89,0,1,0,3.77,0Z"/>
            <path class="cls-8" d="M63.94,15.23H66.8a2.46,2.46,0,0,1,1.82.64,1.92,1.92,0,0,1,.53,1.42v0a1.94,1.94,0,0,1-1.34,1.94l1.53,2.23H67.73l-1.34-2H65.31v2H63.94Zm2.77,3c.67,0,1.05-.36,1.05-.89v0c0-.58-.41-.89-1.08-.89H65.31v1.8Z"/>
            <path class="cls-8" d="M71.85,16.5H70V15.23h5.18V16.5h-1.9v5H71.85Z"/>
            <path class="cls-8" d="M78.86,15.23h1.27l2.93,3.85V15.23h1.36v6.25H83.25l-3-4v4H78.86Z"/>
            <path class="cls-8" d="M85.82,18.8V15.23H87.2v3.54c0,1,.51,1.54,1.34,1.54s1.35-.51,1.35-1.5V15.23h1.38v3.53a2.52,2.52,0,0,1-2.74,2.82A2.49,2.49,0,0,1,85.82,18.8Z"/>
            <path class="cls-8" d="M92.67,15.23h1.48l1.65,2.64,1.64-2.64h1.48v6.25H97.55V17.4L95.8,20.07h0L94,17.43v4.05H92.67Z"/>
            <path class="cls-8" d="M100.42,15.23h2.91a2.29,2.29,0,0,1,1.63.55,1.48,1.48,0,0,1,.43,1.07h0a1.46,1.46,0,0,1-.82,1.35,1.53,1.53,0,0,1,1.16,1.54v0c0,1.14-.92,1.71-2.33,1.71h-3ZM103,17.76c.61,0,1-.2,1-.66v0c0-.41-.32-.64-.9-.64h-1.36v1.32Zm.37,2.51c.6,0,1-.21,1-.67v0c0-.42-.31-.68-1-.68h-1.59v1.37Z"/>
            <path class="cls-8" d="M106.87,15.23h4.71v1.22h-3.34v1.27h2.94v1.22h-2.94v1.32h3.39v1.22h-4.76Z"/>
            <path class="cls-8" d="M112.86,15.23h2.85a2.44,2.44,0,0,1,1.82.64,1.92,1.92,0,0,1,.54,1.42v0a2,2,0,0,1-1.34,1.94l1.53,2.23h-1.61l-1.34-2h-1.08v2h-1.37Zm2.76,3c.67,0,1.06-.36,1.06-.89v0c0-.58-.41-.89-1.08-.89h-1.37v1.8Z"/>
        </g>
        <text class="cls-9" transform="translate(119.61 22.99)"> </text>
        <path class="cls-10" d="M65.38,14.27a1.13,1.13,0,0,1-.91.55c-.31,0-.29,0,.06,0"/>
        <g>
            <path class="cls-1" d="M10.23,144.26v3.54H7.86v-9.65h2.37v3.54h9.29v2.57Z"/>
            <path class="cls-1" d="M7.78,134.58v-2.36l11.74-5v2.68L16.9,131v4.93L19.52,137v2.62Zm6.86-2.69-3.78,1.54L14.64,135Z"/>
            <path class="cls-1" d="M13.59,123.31,7.86,127.2v-3l3.78-2.43L7.86,119.3v-2.92l5.7,3.9,6-4.06v3l-4,2.62,4,2.63v2.91Z"/>
            <path class="cls-1" d="M13.14,115.26v-5.13h2.43v5.13Z"/>
            <path class="cls-1" d="M7.86,108.3V99.43H10.2v6.31h2.48v-5.56H15v5.56h4.51v2.56Z"/>
            <path class="cls-1" d="M7.86,97.77V92.45a4.65,4.65,0,0,1,1.19-3.4,3.65,3.65,0,0,1,2.66-1h0a3.63,3.63,0,0,1,3.62,2.5l4.16-2.85v3l-3.73,2.5v2h3.73v2.56Zm5.66-5.16c0-1.24-.66-2-1.64-2h0c-1.09,0-1.66.77-1.66,2v2.55h3.34Z"/>
            <path class="cls-1" d="M7.86,86.13V77.34h2.29v6.25h2.36v-5.5h2.28v5.5h2.45V77.26h2.28v8.87Z"/>
            <path class="cls-1" d="M7.86,75.37V66.58h2.29v6.25h2.36v-5.5h2.28v5.5h2.45V66.5h2.28v8.87Z"/>
            <path class="cls-1" d="M7.86,60V51.15H10.2v6.31h2.48V51.9H15v5.56h4.51V60Z"/>
            <path class="cls-1" d="M13.72,50h0a6.2,6.2,0,0,1,0-12.39h0a6,6,0,0,1,6,6.21A6,6,0,0,1,13.72,50Zm0-9.71h0A3.54,3.54,0,0,0,10,43.83a3.48,3.48,0,0,0,3.63,3.5h0a3.54,3.54,0,0,0,3.66-3.53A3.49,3.49,0,0,0,13.72,40.3Z"/>
            <path class="cls-1" d="M7.86,35.74V30.41A4.65,4.65,0,0,1,9.05,27a3.65,3.65,0,0,1,2.66-1h0a3.63,3.63,0,0,1,3.62,2.5l4.16-2.84v3l-3.73,2.5v2h3.73v2.57Zm5.66-5.16c0-1.25-.66-2-1.64-2h0c-1.09,0-1.66.77-1.66,2v2.54h3.34Z"/>
            <path class="cls-1" d="M7.86,24.1V21.33l4.93-3.06L7.86,15.21V12.44H19.52V15H11.91l5,3.28v.07L12,21.58h7.56V24.1Z"/>
        </g>
        {{#with getPassportNumberArray}}
        <text class="cls-11" transform="translate(26.73 35.97)">{{this.[0]}}</text>
        <text class="cls-11" transform="translate(44.51 35.97)">{{this.[1]}}</text>
        <text class="cls-11" transform="translate(61.64 35.97)">{{this.[2]}}</text>
        <text class="cls-11" transform="translate(78.48 35.97)">{{this.[3]}}</text>
        <text class="cls-11" transform="translate(96.88 35.97)">{{this.[4]}}</text>
        <text class="cls-11" transform="translate(114.27 35.97)">{{this.[5]}}</text>
        <text class="cls-11" transform="translate(130.67 35.97)">{{this.[6]}}</text>
        <text class="cls-11" transform="translate(147.99 35.97)">{{this.[7]}}</text>
        <text class="cls-11" transform="translate(167.83 35.97)">{{this.[8]}}</text>
        <text class="cls-11" transform="translate(184.4 35.97)">{{this.[9]}}</text>
        <text class="cls-11" transform="translate(200.66 35.97)">{{this.[10]}}</text>
        <text class="cls-11" transform="translate(218.5 35.97)">{{this.[11]}}</text>
        <text class="cls-11" transform="translate(233.87 35.97)">{{this.[12]}}</text>
        <text class="cls-11" transform="translate(252.1 35.97)">{{this.[13]}}</text>
        <text class="cls-11" transform="translate(269.27 35.97)">{{this.[14]}}</text>
        <text class="cls-11" transform="translate(287.21 35.97)">{{this.[15]}}</text>
        {{/with}}

        <text class="cls-11" transform="translate(27.4 76.97)">{{traveller.profile.name}}</text>
        <text class="cls-11" transform="translate(27.4 123.97)">{{traveller.profile.city}}, {{#if traveller.profile.addressCountryId}}{{getCountryName traveller.profile.addressCountryId}}{{else}}{{getCountryName traveller.profile.countryId}}{{/if}}</text>
    </svg>
</template>