<template name="travellers">
    {{#if addingItem}}
        {{> addTravellerModal }}
    {{/if}}
    {{#if doingTask}}
        {{> tasksTravellersModal travellerId=getTaskTravellerId }}
    {{/if}}
    <div class="wrapper wrapper-content">
        <div class="row">
            {{#if showImports}}
                <div class="col-sm-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                <a class="btn btn-default btn-icon travellers-import" href="#" accesskey="b"><i class="icon icon-traveller"></i><u>B</u>ack to list</a>
                            </div>
                            <h2>Traveller Imports</h2>
                            <div class="full-height-scroll">
                                <div class="table-responsive infinite-scrolling">
                                    {{> travellersImport }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                {{#if isInVatfreeRole 'admin'}}
                                    {{#if runningExport}}
                                        <a class="btn btn-link" href="#" accesskey="e" tabindex="-1">Exporting ...</a>
                                    {{else}}
                                        <a class="btn btn-link traveller-email-export" href="#" accesskey="e" tabindex="-1"><u>E</u>xport emails</a>
                                    {{/if}}
                                {{/if}}
                                {{#if isInVatfreeRole 'admin'}}
                                    <a class="btn btn-default btn-icon travellers-import" href="#" accesskey="i"><i class="icon icon-traveller"></i><u>I</u>mports</a>
                                {{/if}}
                                {{#if isInVatfreeRole 'travellers-create'}}
                                    <a class="btn btn-info btn-icon add-item" href="#" accesskey="a"><i class="icon icon-create"></i><u>A</u>dd</a>
                                {{/if}}
                                {{#if isInVatfreeRole 'travellers-tasks'}}
                                    <a class="btn btn-task btn-icon traveller-tasks" href="#" accesskey="t"><i class="icon icon-travellertasks"></i> {{getStatsCount 'travellers'}} <u>T</u>raveller tasks</a>
                                {{/if}}
                                {{#if isInVatfreeRole 'admin'}}
                                    <a class="btn btn-warning btn-icon travellers-send-reminders" disabled="{{#unless getStatsCount 'travellersToSendReminders'}}true{{/unless}}" title="Reminders are for travellers that have not made any changes in the last month and have not been sent a reminder in the last 2 weeks.">
                                        <i class="icon icon-emailout"></i> Send reminders ({{getStatsCount 'travellersToSendReminders'}})
                                    </a>
                                {{/if}}
                                <i class="icon icon-config show-management-functions {{#if showManagementFunctions}}active{{/if}}"></i>
                            </div>
                            {{#if showManagementFunctions}}
                                <div class="management-functions">
                                    <a class="btn btn-default btn-icon check-travellers-waiting-for-docs" href="#"><i class="icon icon-passportclockwaiting"></i>Check stuck travellers</a>
                                </div>
                            {{/if}}
                            <h2>Travellers</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Search traveller" name="item-search" class="input form-control {{#if getSearchTerm}}active{{/if}}" value="{{getSearchTerm}}" accesskey="s">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-icon btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                                </span>
                            </div>
                            <div class="input-group filter-icons">
                                <span class="pull-right toggle-list-filters {{#if activeListfilters}}filter-icon active{{/if}} {{#if showListFilters}}active{{/if}}"><i class="icon icon-filterfunnel"></i></span>
                                {{#if isInVatfreeRole 'travellers-tasks'}}
                                    <span class="label label-info label-filter cursor-pointer todos-filter pull-right">Filter {{getStatsCount 'travellers'}} tasks</span>
                                {{/if}}
                                <span class="label-filter-group">
                                    {{#each getTravellerStatusOptions}}
                                        <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getTravellerIcon this}}"></i></span>
                                    {{/each}}
                                </span>
                                <span class="label-filter-group">
                                    {{#each getTravellerTypeOptions}}
                                        <span class="filter-icon traveller-type-filter-icon {{isActiveTravellerTypeFilter}}" id="{{_id}}" title="{{_ name}}"><i class="{{getTravellerTypeIcon _id}}"></i></span>
                                    {{/each}}
                                </span>
                            </div>

                            {{#if showListFilters}}
                                <div class="input-group list-filters">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Countries</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-countries"></i></span>
                                                    <select name="listFilter.profile.countryId" data-compare="$in" class="form-control" multiple="multiple">
                                                        {{#each getCountries}}
                                                            <option value="{{_id}}" selected="{{getListFilterSelected "profile/countryId.$in" _id}}">{{name}} ({{code}})</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Login method</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-logout"></i></span>
                                                    <select name="listFilter.services" data-compare="$keyExists" class="form-control" multiple="multiple">
                                                        <option value="password" selected="{{getListFilterSelected "services/password" getListFilterKeyExists }}">Password</option>
                                                        <option value="google" selected="{{getListFilterSelected "services/google" getListFilterKeyExists }}">Google</option>
                                                        <option value="facebook" selected="{{getListFilterSelected "services/facebook" getListFilterKeyExists }}">Facebook</option>
                                                        <option value="linkedin" selected="{{getListFilterSelected "services/linkedin" getListFilterKeyExists }}">LinkedIn</option>
                                                        <option value="wechat" selected="{{getListFilterSelected "services/wechat" getListFilterKeyExists }}">WeChat</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Created date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.createdAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.createdAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Update date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.updatedAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "updatedAt.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.updatedAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "updatedAt.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Created by</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-actorvatty"></i></span>
                                                    <select name="listFilter.createdBy" class="form-control">
                                                        {{#with getListFilterValue "createdBy"}}
                                                            <option value="{{this}}">{{getUserName this}}</option>
                                                        {{/with}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Updated by</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-actorvatty"></i></span>
                                                    <select name="listFilter.updatedBy" class="form-control">
                                                        {{#with getListFilterValue "updatedBy"}}
                                                            <option value="{{this}}">{{getUserName this}}</option>
                                                        {{/with}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}

                            {{#with getTravellerStats}}
                                <div class="list-aggregates">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td># travellers: {{count}}</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {{/with}}
                            <div class="clients-list item-list traveller-list">
                                {{#if initialLoadDone}}
                                    <div class="full-height-scroll">
                                        <div class="table-responsive infinite-scrolling">
                                            {{> travellersList travellers=getTravellers includeHeader=true sorting=getSorting }}
                                        </div>
                                    </div>
                                {{else}}
                                    {{> loading }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#with getActiveItem}}
                    <div class="col-sm-4">
                        {{> travellerInfo traveller=this showImages=true }}
                    </div>
                {{/with}}
            {{/if}}
        </div>
    </div>
</template>
