<template name="receipts_modal_partner_receipts">
    {{#taskModal options=getOptions}}
        {{#unless Template.subscriptionsReady}}
            Gathering rececipts ...
            {{> loading }}
        {{else}}
            {{#if updatingReceipts}}
                Updating receipts ...
                {{> loading }}
            {{else}}
                <div class="partner-receipt-tasks padding">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            {{#with getReceipts}}
                                <h3 class="m-t-none m-b">Forward receipts in the flow</h3>
                                <p>
                                    Deselect the receipts you don't want to forward
                                </p>
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <span class="pull-right">
                                            <a href="#" class="select-all-global">All</a> | <a href="#" class="select-none-global">None</a>
                                        </span>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="pretty-checks">
                                            <input type="checkbox" name="originalsIn" id="originalsIn" checked="{{originalsInChecked}}">
                                            <label for="originalsIn">Check whether originals are in</label>
                                        </div>
                                        {{> receiptsList receipts=this includeHeader=false hideButtons=true selectable=true allSelected=true disableClicks=true showBillingErrors=true hideTotal=true }}
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-sm btn-default m-t-n-xs close-tasks"><strong>Cancel</strong></button>
                                    <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Forward selected receipts</strong></button>
                                </div>
                            {{else}}
                                <div class="waiting-for-task">
                                    <h1>No receipts to invoice ...</h1>
                                    <button class="btn btn-primary close-tasks" accesskey="c"><u>C</u>lose tasks window</button>
                                </div>
                            {{/with}}
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/unless}}
    {{/taskModal}}
</template>

<template name="receipts_modal_partner_receipts_sidebar">
    {{#with getReceipt}}
        {{> receiptInfo receipt=this showImages=true }}
    {{/with}}
</template>
