.wrapper.dashboard {
    .my-tasks, .receipt-tasks, .shop-tasks, .traveller-tasks {
        cursor: pointer;

        .icon {
            color: #fff;
        }
    }

    .data-table {
        tbody {
            tr:first-child {
                th,td {
                    border-bottom: 2px solid #e7eaec;
                }
            }
        }
        td,th {
            &:not(:first-child) {
                text-align: center;
            }

            &.highlight {
                font-weight: bold;
            }

            &.error {
                background-color: #a94442;
                color: #fff;

                span {
                    color: #fff;
                }
            }

            &.all-ok {
                background-color: transparent;
                color: #4caf50;

                span {
                    color: #4caf50;
                }
            }
        }
    }

    .filter-icons {
        background-color: transparent;
        height: 40px;
        padding: 0;
        display: flex;
        margin: 20px 0 0 0;
    }

    div.table-responsive {
        overflow-x: scroll;
        width: 100%;
        margin: 0 auto;
        .data-table {
            margin-left: 150px;
            td, th {
                &:first-child {
                    background-color: #fff;
                    white-space: nowrap;
                    position: absolute;
                    width: 150px;
                    margin-left: -150px;
                }
            }
        }
    }
}
