<template name="addReceiptModal">
    <div id="modal-add-receipt" class="modal fade" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content {{#with addingPhotos}}{{#if newShopReceipt}}new-shop-receipt{{/if}}{{/with}}">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r wrapper">
                            {{#if addingPhotos}}
                                <h3 class="m-t-none m-b">Add receipt photos</h3>
                                {{#with addingPhotos}}
                                    {{#if archiveNumber}}
                                        <h3>Receipt archive number is: <b>{{archiveNumber}}</b></h3>
                                    {{/if}}
                                {{/with}}
                                <br/>
                                <div class="dropzone-layout dropzone-add-file-div">
                                    <input type="file" name="dropzone-add-file" class="dropzone-file"/>
                                    <div class="add-file">
                                        <i class="icon icon-upload"></i><br/>
                                        {{_ "Drop file(s) here to upload"}}
                                    </div>
                                    <div class="qrcode-upload">
                                        <canvas id="qrcode-upload-receipts"></canvas>
                                    </div>
                                </div>
                                {{#if getFiles.count}}
                                    <ul class="files">
                                        {{#each getFiles}}
                                            <li class="file{{#if isMainReceipt}} cover{{/if}}">
                                                {{#unless this.isUploaded}}
                                                    {{> FS.UploadProgressBar bootstrap=true}}
                                                {{else}}
                                                    {{> directUrlFile fileObj=this }}
                                                {{/unless}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                                <button class="btn btn-sm btn-primary m-t-n-xs pull-right add-receipt-photos-done" tabindex="0"><strong>Done</strong></button>
                            {{else}}
                                <h3 class="m-t-none m-b">Add receipt</h3>
                                <form role="form" name="add-receipt-form">
                                    <input type="hidden" name="poprId" value="{{getPoprId}}" />
                                    <input type="hidden" name="poprSecret" value="{{getPoprSecret}}" />
                                    <div class="form-group add-header-buttons">
                                        <div class="row">
                                            <div class="col-md-5 channel">
                                                <label>Channel</label>
                                                <input type="hidden" name="channel" value="{{getChannel}}" />
                                                <i class="icon icon-chmail {{isActiveChannel 'mailbox'}}" id="mailbox" title="Channel mailbox"></i>
                                                <i class="icon icon-chdropbox {{isActiveChannel 'dropbox'}}" id="dropbox" title="Channel dropbox"></i>
                                                <i class="icon icon-chinperson {{isActiveChannel 'inperson'}}" id="inperson" title="Channel in person"></i>
                                            </div>
                                            <div class="col-md-7 referral">
                                                <label>Referral</label>
                                                <input type="hidden" name="referral" value="{{getReferral}}" />
                                                <i class="icon icon-refcustoms {{isActiveReferral 'customs'}}" id="customs" title="Referral customs"></i>
                                                <i class="icon icon-refcompetitor {{isActiveReferral 'competitor'}}" id="competitor" title="Referral competitor"></i>
                                                <i class="icon icon-refshop {{isActiveReferral 'shop'}}" id="shop" title="Referral shop"></i>
                                                <i class="icon icon-officeviaaffiliate {{isActiveReferral 'affiliate'}}" id="affiliate" title="Referral affiliate"></i>
                                            </div>
                                        </div>
                                    </div>
                                    {{#if isActiveReferral 'competitor'}}
                                        <div class="form-group required">
                                            <label>Referral competitor</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon icon-refcompetitor"></i></span>
                                                <select name="referralName" class="form-control" required="{{required}}" disabled="{{isDisabled}}" tabindex="0">
                                                    {{#each getCompetitors}}
                                                        <option value="{{this}}" selected="{{isSelected this getReferralCompetitor}}">{{this}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    {{/if}}
                                    {{#if isActiveReferral 'customs'}}
                                        <div class="form-group required">
                                            <label>Referral customs</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon icon-refcustoms"></i></span>
                                                <select name="referralName" class="form-control" required="{{required}}" disabled="{{isDisabled}}" tabindex="0">
                                                    {{#each getCustoms}}
                                                        <option value="{{this}}" selected="{{isSelected this getReferralCustoms}}">{{this}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    {{/if}}
                                    {{#if isActiveReferral 'affiliate'}}
                                        <div class="form-group required">
                                            <label>Referral affiliate</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon icon-officeviaaffiliate"></i></span>
                                                <select name="affiliateId" class="form-control" required="{{required}}" disabled="{{isDisabled}}" tabindex="0">
                                                </select>
                                            </div>
                                        </div>
                                    {{/if}}
                                    <div class="form-group required">
                                        <label>Traveller</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon icon-traveller"></i></span>
                                            {{#if userId}}
                                                <input type="hidden" name="userId" value="{{userId}}">
                                                <input type="text" class="form-control" disabled="true" value="{{getTravellerName userId}}" />
                                            {{else}}
                                                <select name="userId" class="form-control" required="required" tabindex="0">
                                                </select>
                                            {{/if}}
                                        </div>
                                    </div>
                                    {{#if shopId}}
                                        <input type="hidden" name="shopId" value="{{shopId}}">
                                    {{else}}
                                        <input type="hidden" name="addShop" class="add-shop" value="" />
                                        <input type="hidden" name="place" value="" />
                                        {{#if addingShop}}
                                            <h3>Add shop</h3>
                                            <div class="form-group">
                                                {{> forms_map name='geo' addressbar='_map_addressbar' onChangeCallback=selectMapLocationCallback }}
                                            </div>
                                            <div class="pull-right">
                                                <button class="btn btn-sm btn-primary m-t-n-xs pull-right add-new-shop" tabindex="0"><strong><u>A</u>dd shop</strong></button>
                                            </div>
                                            <br/>
                                        {{else}}
                                            <div class="form-group required">
                                                <label>Shop</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-shops"></i></span>
                                                    <select name="shopId" class="form-control" required="required" tabindex="0" disabled="{{#if getPoprId}}{{#if getShopId}}disabled{{/if}}{{/if}}">
                                                    </select>
                                                </div>
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                    {{#if getPoprId}}
                                        <blockquote class="alert-warning">
                                            <i class="icon icon-qrframe"></i> POPR Receipt: {{getPoprId}}
                                        </blockquote>
                                    {{/if}}
                                    <div class="form-group required">
                                        <div class="row">
                                            <input type="hidden" name="source" value="office" />
                                            {{!--<div class="col-md-6">
                                                <label>Source</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-eurodollars"></i></span>
                                                    <select name="source" class="form-control" required="required" tabindex="0">
                                                        {{#each getSourceOptions}}
                                                            <option value="{{this}}" selected="{{isSelected this getDefaultSource}}">{{getSourceDescription this}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>--}}
                                            <div class="col-md-12">
                                                <label>Receipt Type</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-receipt"></i></span>
                                                    <select name="receiptTypeId" class="form-control" tabindex="0">
                                                        <option value="">Normal</option>
                                                        {{#each getReceiptTypeOptions}}
                                                            <option value="{{_id}}" selected="{{isReceiptType _id}}">{{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{#with selectedReceiptType}}
                                        {{#each getExtraFields}}
                                            <div class="row form-group {{#if required}}required{{/if}}">
                                                <label class="col-sm-4 control-label">{{name}}</label>
                                                <div class="col-sm-8">
                                                    {{#if $eq type 'text'}}
                                                        <input type="text" name="receiptTypeExtraFields.{{fieldKey}}" class="form-control" required="{{required}}" disabled="{{isDisabled}}" tabindex="0">
                                                    {{/if}}
                                                    {{#if $eq type 'number'}}
                                                        <input type="number" name="receiptTypeExtraFields.{{fieldKey}}" class="form-control" min="0" step="0.01"  required="{{required}}" disabled="{{isDisabled}}" tabindex="0">
                                                    {{/if}}
                                                    {{#if $eq type 'select'}}
                                                        <select name="receiptTypeExtraFields.{{fieldKey}}" class="form-control" required="{{required}}" disabled="{{isDisabled}}" tabindex="0">
                                                            {{#each options}}
                                                                <option value="{{this}}">{{this}}</option>
                                                            {{/each}}
                                                        </select>
                                                    {{/if}}
                                                    {{#if $eq type 'boolean'}}
                                                        <div class="i-checks">
                                                            <label>
                                                                <input type="radio" value="1" name="receiptTypeExtraFields.{{fieldKey}}" tabindex="0"> <i></i> {{_ "Yes"}}
                                                            </label>
                                                            <label>
                                                                <input type="radio" value="0" name="receiptTypeExtraFields.{{fieldKey}}" tabindex="0"> <i></i> {{_ "No"}}
                                                            </label>
                                                        </div>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{/with}}
                                    {{#if affiliateId}}
                                        <input type="hidden" name="affiliateId" value="{{affiliateId}}">
                                    {{else}}
                                        {{!--
                                        <div class="form-group">
                                            <label>Affiliate</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon icon-affiliates"></i></span>
                                                <select name="affiliateId" class="form-control" tabindex="0">
                                                </select>
                                            </div>
                                        </div>
                                        --}}
                                    {{/if}}
                                    <div class="form-group required">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Purchase Date</label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                    <input type="text" name="purchaseDate" class="form-control" tabindex="0" disabled="{{#if getPoprId}}disabled{{/if}}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Customs Date</label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                    <input type="text" name="customsDate" class="form-control" tabindex="0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Customs country</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon icon-countries"></i></span>
                                            <select name="customsCountryId" class="form-control" tabindex="0">
                                                <option value=""> -- </option>
                                                {{#each getCountries}}
                                                    <option value="{{_id}}" selected="{{isSelected code 'NL'}}">{{name}} ({{code}})</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label>Currency</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon icon-eurodollars"></i></span>
                                            <select name="currencyId" class="form-control" required="required" tabindex="0">
                                                {{#each getCurrencies}}
                                                    <option value="{{_id}}" selected="{{isSelected code 'EUR'}}">{{name}} ({{code}}, {{symbol}})</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group required">
                                                <label>Receipt amount</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">{{getCurrencySymbol}}</span>
                                                    <input type="number" name="amount" placeholder="Fill in the receipt amount" class="form-control" min="0" step="0.01" required="required" tabindex="0" disabled="{{#if getPoprId}}disabled{{/if}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group required">
                                                <label>VAT amount</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">{{getCurrencySymbol}}</span>
                                                    <input type="number" name="totalVat" placeholder="Fill in the VAT amount" class="form-control" min="0" step="0.01" required="required" tabindex="0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group required">
                                                <label>Vat</label>
                                                {{#if getCountryId}}
                                                    {{#each getCountryVatRates}}
                                                        <div class="row">
                                                            <div class="col-sm-4 text-right">
                                                                <label class="">{{description}} ({{rate}}%)</label>
                                                            </div>
                                                            <div class="col-sm-8">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">%</span>
                                                                    <input type="number" name="vat.{{rate}}" class="form-control" min="0" step="0.01" value="{{formatAmount getVatRateValue}}" placeholder="Vat on {{rate}}%" disabled="{{isDisabled}}" tabindex="0">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {{/each}}
                                                {{else}}
                                                    <span class="alert-warning">Country Id is not yet set. Cannot show vat rates.</span>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group required">
                                                <label>Refund</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">{{getCurrencySymbol}}</span>
                                                    <input type="number" name="refund" placeholder="Fill in the refund amount" class="form-control" min="0" step="0.01" required="required" tabindex="0" disabled="{{deferServiceFee}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group required">
                                                <label>Service fee
                                                    {{#if $eq getMinServiceFee getMaxServiceFee}}
                                                        {{getCurrencySymbol}}{{formatAmount getMinServiceFee}}
                                                    {{else}}
                                                        ({{getServiceFee}}%, {{getCurrencySymbol}}{{formatAmount getMinServiceFee}} - {{getCurrencySymbol}}{{formatAmount getMaxServiceFee}})
                                                    {{/if}}
                                                </label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">{{getCurrencySymbol}}</span>
                                                    <input type="number" name="serviceFee" placeholder="Fill in the service fee" class="form-control" min="0" step="0.01" required="required" tabindex="0" disabled="{{deferServiceFee}}" value="{{#if deferServiceFee}}0{{/if}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{#if affiliateId}}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group required">
                                                    <label>Affiliate fee</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">{{getCurrencySymbol getCurrencyId}}</span>
                                                        <input type="number" name="affiliateServiceFee" placeholder="Fill in the affiliate service fee" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount affiliateServiceFee}}" disabled="{{isDisabled}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <span class="text-muted">Fee: {{getAffiliateFee}}%, Discount: {{getAffiliateDiscount}}%</span>
                                            </div>
                                        </div>
                                    {{/if}}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="pretty-checks">
                                                    <input type="checkbox" name="deferredServiceFeeCheck" id="deferredServiceFeeCheck">
                                                    <label for="deferredServiceFeeCheck">Defer service fee (will be paid by shop)</label>
                                                </div>
                                                {{#if deferServiceFee}}
                                                   <div class="pretty-checks">
                                                        <input type="checkbox" name="fixedDeferredServiceFee" id="fixedDeferredServiceFee">
                                                        <label for="fixedDeferredServiceFee">Fixed deferred service fee</label>
                                                    </div>
                                                {{/if}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            {{#if deferServiceFee}}
                                                <div class="form-group required">
                                                    <label>Deferred service fee
                                                        {{#with getFees}}
                                                            {{#if $eq deferredMinFee deferredMaxFee}}
                                                                {{getCurrencySymbol}}{{formatAmount deferredMinFee}}
                                                            {{else}}
                                                                ({{deferredServiceFee}}%, {{getCurrencySymbol}}{{formatAmount deferredMinFee}} - {{getCurrencySymbol}}{{formatAmount deferredMaxFee}})
                                                            {{/if}}
                                                        {{/with}}
                                                    </label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">{{getCurrencySymbol}}</span>
                                                        <input type="number" name="deferredServiceFee" placeholder="Deferred service fee" class="form-control" min="0" step="0.01" tabindex="0">
                                                    </div>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="pretty-checks">
                                            <input type="checkbox" name="archive-receipt" id="archive-receipt" checked="checked">
                                            <label for="archive-receipt">Archive receipt immediately</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="pretty-checks">
                                            <input type="checkbox" name="reject-receipt" id="reject-receipt">
                                            <label for="reject-receipt">Reject receipt immediately</label>
                                        </div>
                                    </div>
                                    {{#if rejectReceipt}}
                                        {{> receipts_receipt_rejections }}
                                    {{/if}}
                                    <div>
                                        <button class="btn btn-sm btn-primary m-t-n-xs pull-right" type="submit" tabindex="0" accesskey="a"><strong><u>A</u>dd receipt</strong></button>
                                        <button class="btn btn-sm btn-default m-t-n-xs pull-right cancel-add-receipt" tabindex="0"><strong>Cancel</strong></button>
                                    </div>
                                </form>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
