<template name="receiptEdit">
    {{#if Template.subscriptionsReady}}
        {{#with receiptDoc}}
            {{> pageHeading title=getBreadcrumbTitle subtitle=getBreadcrumbTitleReversed category='Receipts' categoryLink='/receipts' }}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-sm-8">
                        {{> receiptEditForm }}
                    </div>
                    <div class="col-sm-4">
                        {{> receiptInfo receipt=this showImages=true openImagesInInPane=true }}
                    </div>
                </div>
            </div>
        {{/with}}
    {{else}}
        {{> loading }}
    {{/if}}
</template>

<template name="receiptEditForm">
    {{#if isLocked}}
        <div class="lock-alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i> This receipt is being edited by {{getLockUser}}. It will be released automatically.
        </div>
    {{/if}}
    {{#if updatingReceipt}}
        {{> updateReceiptModal}}
    {{/if}}
    {{#if rejectingReceipt}}
        {{> receiptRejectModal}}
    {{/if}}
    {{#with editImageFile}}
        {{> editImageModal file=this }}
    {{/with}}
    {{#if originalReceiptIn}}
        {{> receiptOriginalModal receiptId=originalReceiptId }}
    {{/if}}
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Receipt details</a></li>
            <li><a data-toggle="tab" href="#tab-2"> Receipt uploads</a></li>
            <li class=""><a data-toggle="tab" href="#tab-5"> Payouts</a></li>
            <li class=""><a data-toggle="tab" href="#tab-6"> History</a></li>
            <li><a data-toggle="tab" href="#tab-3"> Activity</a></li>
        </ul>
        <div class="tab-content receipt-edit">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form role="form" name="edit-receipt-form">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Traveller</label>
                                <div class="col-sm-10">
                                    <select name="userId" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#if userId}}
                                            <option value="{{userId}}" selected="selected">{{getTravellerName}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            {{#with getCompanyDoc}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        {{> companyBreadcrumb }}
                                    </div>
                                </div>
                            {{/with}}
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Shop</label>
                                <div class="col-sm-10">
                                    <input type="hidden" name="addShop" class="add-shop" value="" />
                                    <input type="hidden" name="place" value="" />
                                    {{#if addingShop}}
                                        <h3>Add shop</h3>
                                        <div class="form-group">
                                            {{> forms_map name='geo' addressbar='_map_addressbar' onChangeCallback=selectMapLocationCallback }}
                                        </div>
                                        <div class="pull-right">
                                            <button class="btn btn-sm btn-primary m-t-n-xs pull-right add-new-shop" tabindex="0"><strong><u>A</u>dd shop</strong></button>
                                        </div>
                                        <br/>
                                    {{else}}
                                        <select name="shopId" class="form-control" required="required" disabled="{{isDisabled}}">
                                            {{#if shopId}}
                                                <option value="{{shopId}}" selected="selected">{{getShopName}}</option>
                                            {{/if}}
                                        </select>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Receipt Type</label>
                                <div class="col-sm-10">
                                    <select name="receiptTypeId" class="form-control" disabled="{{isDisabled}}">
                                        <option value="">Normal</option>
                                        {{#each getReceiptTypeOptions}}
                                            <option value="{{_id}}" selected="{{isReceiptType _id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            {{#with selectedReceiptType}}
                                {{#each getExtraFields}}
                                    <div class="form-group {{#if required}}required{{/if}}">
                                        <label class="col-sm-4 control-label">{{name}}</label>
                                        <div class="col-sm-8">
                                            {{#if $eq type 'text'}}
                                                <input type="text" name="receiptTypeExtraFields.{{fieldKey}}" class="form-control" required="{{required}}" value="{{getExtraFieldValue}}" disabled="{{isDisabled}}">
                                            {{/if}}
                                            {{#if $eq type 'number'}}
                                                <input type="number" name="receiptTypeExtraFields.{{fieldKey}}" class="form-control" min="0" step="0.01" required="{{required}}" value="{{getExtraFieldValue}}" disabled="{{isDisabled}}">
                                            {{/if}}
                                            {{#if $eq type 'select'}}
                                                <select name="receiptTypeExtraFields.{{fieldKey}}" class="form-control" required="{{required}}" disabled="{{isDisabled}}">
                                                    {{#each options}}
                                                        <option value="{{this}}" selected="{{#if isExtraFieldSelected ../fieldKey}}selected{{/if}}">{{this}}</option>
                                                    {{/each}}
                                                </select>
                                            {{/if}}
                                            {{#if $eq type 'boolean'}}
                                                <div class="i-checks">
                                                    <label>
                                                        <input type="radio" checked="{{#if $eq getExtraFieldValue "1"}}checked{{/if}}" value="1" name="receiptTypeExtraFields.{{fieldKey}}"> <i></i> {{_ "Yes"}}
                                                    </label>
                                                    <label>
                                                        <input type="radio" checked="{{#if $eq getExtraFieldValue "0"}}checked{{/if}}" value="0" name="receiptTypeExtraFields.{{fieldKey}}"> <i></i> {{_ "No"}}
                                                    </label>
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                {{/each}}
                            {{/with}}
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Source</label>
                                <div class="col-sm-10">
                                    <select name="source" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#each getSourceOptions}}
                                            <option value="{{this}}" selected="{{isSource this}}">{{getSourceDescription this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Channel</label>
                                <div class="col-sm-4">
                                    <select name="channel" class="form-control" disabled="{{isDisabled}}">
                                        <option value="">-</option>
                                        {{#each getChannelOptions}}
                                            <option value="{{this}}" selected="{{isSelected this ../channel}}">{{getChannelDescription this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Referral</label>
                                <div class="col-sm-4">
                                    <select name="referral" class="form-control" disabled="{{isDisabled}}">
                                        <option value="">-</option>
                                        {{#each getReferralOptions}}
                                            <option value="{{this}}" selected="{{isSelected this ../referral}}">{{getReferralDescription this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Affiliate</label>
                                <div class="col-sm-10">
                                    <select name="affiliateId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if affiliateId}}
                                            <option value="{{affiliateId}}" selected="selected">{{getAffiliateDescription}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            {{#if poprId}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <blockquote class="alert-warning">
                                            <i class="icon icon-qrframe"></i> POPR Receipt: {{poprId}}
                                        </blockquote>
                                    </div>
                                </div>
                            {{/if}}

                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Purchase Date</label>
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="purchaseDate" class="form-control" required="required" value="{{formatDate purchaseDate}}" disabled="{{isExternallyDisabled}}">
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">Customs Date</label>
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="customsDate" class="form-control" required="required" value="{{formatDate customsDate}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Currency</label>
                                <div class="col-sm-10">
                                    <select name="currencyId" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#each getCurrencies}}
                                            <option value="{{_id}}" selected="{{isSelected _id getCurrencyId}}">{{name}} ({{code}}, {{symbol}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Receipt amount</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol getCurrencyId}}</span>
                                        <input type="number" name="amount" placeholder="Fill in the receipt amount" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount amount}}" disabled="{{isExternallyDisabled}}">
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">VAT amount</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol getCurrencyId}}</span>
                                        <input type="number" name="totalVat" placeholder="Fill in the VAT amount" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount totalVat}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Vat</label>
                                <div class="col-sm-10">
                                    {{#if getCountryId}}
                                        <input type="hidden" name="countryId" value="{{getCountryId}}" />
                                        {{#each getCountryVatRates}}
                                            <div class="row">
                                                <div class="col-sm-4 text-right">
                                                    <label class="">{{description}} ({{rate}}%)</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">{{getCurrencySymbol getCurrencyId}}</span>
                                                        <input type="number" name="vat.{{rate}}" class="form-control" min="0" step="0.01" value="{{formatAmount getVatRateValue}}" placeholder="Vat on {{rate}}%" disabled="{{isDisabled}}">
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{else}}
                                        <span class="alert-danger">Country Id is not set properly on this receipt. Cannot check VAT rates!</span>
                                    {{/if}}
                                </div>
                            </div>
                            {{#if isNotStandardFee}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10 text-danger">
                                        Non standard fee: {{getServiceFee}}%, min {{formatCurrency getMinServiceFee}} - max {{formatCurrency getMaxServiceFee}}
                                        {{#with getParentForFees}}
                                            , defined in
                                            {{#if _id}}
                                                <a href="/{{#if $eq _type 'shop'}}shop{{else}}company{{/if}}/{{_id}}">{{name}}</a>
                                            {{else}}
                                                {{name}}
                                            {{/if}}
                                        {{/with}}
                                    </div>
                                </div>
                            {{/if}}
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Refund</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol getCurrencyId}}</span>
                                        <input type="number" name="refund" placeholder="Fill in the refund amount" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount refund}}" disabled="{{serviceFeeDisabled}}">
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">Service fee</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol getCurrencyId}}</span>
                                        <input type="number" name="serviceFee" placeholder="Fill in the service fee" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount serviceFee}}" disabled="{{serviceFeeDisabled}}">
                                    </div>
                                </div>
                            </div>
                            {{#if getAffiliateId}}
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label">Affiliate fee</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">{{getCurrencySymbol getCurrencyId}}</span>
                                            <input type="number" name="affiliateServiceFee" placeholder="Fill in the affiliate service fee" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount affiliateServiceFee}}" disabled="{{isDisabled}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <span class="text-muted">Fee: {{getAffiliateFee}}%, Discount: {{getAffiliateDiscount}}%</span>
                                    </div>
                                </div>
                            {{/if}}
                            {{#if euroRefund}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Refund</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">&euro;</span>
                                            <input type="number" name="refund" placeholder="Fill in the refund amount" class="form-control" min="0" step="0.01" value="{{formatAmount euroRefund}}" disabled="true">
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">Service fee</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">&euro;</span>
                                            <input type="number" name="serviceFee" placeholder="Fill in the service fee" class="form-control" min="0" step="0.01" value="{{formatAmount euroServiceFee}}" disabled="true">
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <div class="pretty-checks">
                                        <input type="checkbox" name="deferredServiceFeeCheck" id="deferredServiceFeeCheck" disabled="{{isDisabled}}">
                                        <label for="deferredServiceFeeCheck">Defer service fee</label>
                                    </div>
                                    {{#if deferServiceFee}}
                                        <div class="pretty-checks">
                                            <input type="checkbox" name="fixedDeferredServiceFee" id="fixedDeferredServiceFee" disabled="{{isDisabled}}" checked="{{fixedDeferredServiceFee}}">
                                            <label for="fixedDeferredServiceFee">Fixed deferred service fee</label>
                                        </div>
                                    {{/if}}
                                </div>
                                {{#if deferServiceFee}}
                                    <label class="col-sm-2 control-label">Deferred service fee
                                        {{#with getFees}}
                                            ({{deferredServiceFee}}%, {{getCurrencySymbol getCurrencyId}}{{formatAmount deferredMinFee}} - {{getCurrencySymbol getCurrencyId}}{{formatAmount deferredMaxFee}})
                                        {{/with}}
                                    </label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">{{getCurrencySymbol getCurrencyId}}</span>
                                            <input type="number" name="deferredServiceFee" placeholder="Deferred service fee" class="form-control" min="0" step="0.01" tabindex="0" value="{{formatAmount deferredServiceFee}}" disabled="{{isDisabled}}">
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Customs country</label>
                                <div class="col-sm-6">
                                    <select name="customsCountryId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}" selected="{{isCountrySelected}}">{{name}} ({{code}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <div class="i-checks">
                                        <input type="checkbox" name="nonStandardVat" value="1" checked="{{#if nonStandardVat}}checked{{/if}}" disabled="{{isDisabled}}"/> VAT is not Standard
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-10">
                                    <select name="status" class="form-control" required="required" disabled="{{isStatusFieldDisabled}}">
                                        {{#each getReceiptStatusOptions}}
                                            <option value="{{this}}" selected="{{isStatus this ../status}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            {{#if isStatusIn 'rejected,notCollectable' status}}
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        {{> receiptRejectionList receiptRejectionIds=receiptRejectionIds }}
                                    </div>
                                </div>
                            {{/if}}
                            {{#if invoiceId}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Invoice</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon icon-vtb"></i></span>
                                            <input type="text" class="form-control" value="{{getInvoiceDescription}}" disabled="true">
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            {{#if payoutId}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Payout request</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon icon-ready4payout"></i></span>
                                            <input type="text" class="form-control" value="{{getPayoutDescription}}" disabled="true">
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="notes" placeholder="Notes about this receipt" disabled="{{isLocked}}">{{notes}}</textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Envelope</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon icon-envelope"></i></span>
                                        <input type="text" name="archiveCode" class="form-control" value="{{archiveCode}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">Box</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon icon-box"></i></span>
                                        <input type="text" name="archiveBox" class="form-control" value="{{archiveBox}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-sm btn-default m-t-n-xs cancel" disabled="{{isLocked}}"><strong>Cancel</strong></button>
                                {{#if isInVatfreeRole 'receipts-update'}}
                                    {{#if allowOriginalsIn}}
                                        <button class="btn btn-sm btn-info m-t-n-xs receipt-original-in" disabled="{{isLocked}}"><strong>Original receipts received</strong></button>
                                        <button class="btn btn-sm btn-info m-t-n-xs receipt-register-popr" disabled="{{isLocked}}"><strong>POPr receipt</strong></button>
                                    {{/if}}
                                    {{#if isStatus 'rejected' status}}
                                        <button class="btn btn-sm btn-info m-t-n-xs reopen-receipt" disabled="{{isLocked}}"><strong>Re-open receipt</strong></button>
                                    {{/if}}
                                    {{#if isStatus 'waitingForPayment' status}}
                                        {{#if invoiceIsOpen}}
                                            <button class="btn btn-sm btn-info m-t-n-xs receipt-update" disabled="{{isLocked}}"><strong>Update amounts</strong></button>
                                        {{/if}}
                                    {{/if}}
                                    {{#if allowRejectReceipt}}
                                        <button class="btn btn-sm btn-danger m-t-n-xs receipt-reject" disabled="{{isLocked}}"><strong>Reject receipt</strong></button>
                                    {{/if}}
                                    {{#if allowDeleteReceipt}}
                                        <button class="btn btn-sm btn-danger m-t-n-xs receipt-delete" disabled="{{isLocked}}"><strong>Delete receipt</strong></button>
                                    {{/if}}
                                    <button class="btn btn-sm btn-primary m-t-n-xs" type="submit" disabled="{{isLocked}}"><strong>Save</strong></button>
                                {{/if}}
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    {{> tab_files securityRole='receipts-update' disallowUpload=isLocked fileContext=getQRCodeContext allowDelete=true  allowEdit=false allowMove=true }}
                    {{#unless formExists}}
                        <button class="btn btn-primary create-traveller-form" accesskey="o" tabindex="100"> + Form </button>
                    {{/unless}}
                </div>
                <div class="panel-body panel-warning">
                    <blockquote class="alert-warning">These documents are not visible to the traveller.</blockquote>
                    {{> tab_files securityRole='receipts-update' disallowUpload=isLocked fileContext=getQRCodeContextInternal allowDelete=true  allowEdit=true allowMove=true }}
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> payoutsList payouts=getPayouts includeHeader=true }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                {{> activityLogTab activityLogs=getActivityLog receiptId=_id shopId=shopId companyId=false }}
            </div>
            <div id="tab-6" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        <strong>Edit history</strong>
                        {{#if tabLoading 'tab-6'}}
                            {{> loading }}
                        {{else}}
                            {{#if tabLoaded 'tab-6'}}
                                <div id="vertical-timeline" class="vertical-container dark-timeline">
                                    {{#each getActivity}}
                                        {{> activityTimelineItem }}
                                    {{/each}}
                                </div>
                            {{else}}
                                <span class="load-shops">Click here to load the history</span>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
