<template name="receiptInfo">
    <div class="ibox receipt-info" tabindex="-1">
        <div class="ibox-content">
            {{#if Template.subscriptionsReady}}
                {{#with receipt}}
                    {{#with getShowFile}}
                <div class="pull-right close-show-file cursor-pointer"><i class="fa fa-close"></i></div>
                <br/>
                {{> infoFile }}
            {{else}}
                <div class="tab-content {{#if ../allowEdit}}allow-edit{{/if}}">
                <div id="contact-1" class="tab-pane active">
                    {{#if editingTraveller}}
                        <div class="form-group required">
                            <i class="icon icon-cross pull-right edit-traveller-cancel"></i>
                            <label>Traveller</label>
                            <select name="userId" class="form-control" required="required">
                            </select>
                        </div>
                    {{else}}
                        <div class="receipt-task-traveller-card">
                            {{#with getTraveller}}
                                {{> travellerCard }}
                            {{/with}}
                        </div>
                    {{/if}}
                    {{#if editingShop}}
                        <input type="hidden" name="addShop" class="add-shop" value="" />
                        <input type="hidden" name="place" value="" />
                        {{#if addingShop}}
                            <h3>Add shop</h3>
                            <div class="form-group">
                                {{> forms_map name='geo' addressbar='_map_addressbar' onChangeCallback=selectMapLocationCallback }}
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-sm btn-primary m-t-n-xs pull-right add-new-shop" tabindex="0"><strong><u>A</u>dd shop</strong></button>
                            </div>
                            <br/>
                        {{else}}
                            <div class="form-group required">
                                <i class="icon icon-cross pull-right edit-shop-cancel"></i>
                                <label>Shop</label>
                                <select name="shopId" class="form-control" required="required">
                                </select>
                            </div>
                        {{/if}}
                    {{else}}
                        {{#with getShop}}
                            <div class="receipt-task-shop-card">
                                {{> shopCard }}
                            </div>
                            {{#unless billingEntity}}
                                {{#with billingEntityDoc}}
                                    <blockquote class="alert-warning">
                                        All receipts of this shop will be billed to <b><a href="/company/{{_id}}">{{name}}</a></b>, {{addressFirst}}, {{postCode}} {{city}}
                                    </blockquote>
                                {{else}}
                                    <blockquote class="alert-danger">
                                        No billing identity found for this shop - Please fix or invoices cannot be sent!
                                    </blockquote>
                                {{/with}}
                            {{/unless}}
                        {{/with}}
                    {{/if}}
                    {{#with similarReceipts}}
                        <table class="table table-sm">
                            {{> similarReceiptsTr receipts=this }}
                        </table>
                    {{/with}}
                    {{#if editingAmounts}}
                        <form name="receipt-tasks-amount-form">
                            <input type="hidden" name="receiptTypeId" value="{{receiptTypeId}}" />
                            <div class="row form-group required">
                                <label class="col-sm-5">Purchase Date</label>
                                <div class="col-sm-7">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="purchaseDate" class="form-control" required="required" tabindex="1" value="{{formatDate purchaseDate}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group required">
                                <label class="col-sm-5">Customs Date</label>
                                <div class="col-sm-7">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="customsDate" class="form-control" required="required" tabindex="2" value="{{formatDate customsDate}}">
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="row form-group required">
                                <label class="col-sm-5">Amount</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol ../currencyId}}</span>
                                        <input type="number" name="amount" placeholder="Fill in the receipt amount" class="form-control" min="0" step="0.01" required="required" tabindex="3" value="{{formatAmount amount}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group required">
                                <label class="col-sm-5">VAT</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol ../currencyId}}</span>
                                        <input type="number" name="totalVat" placeholder="Fill in the VAT amount" class="form-control" min="0" step="0.01" required="required" tabindex="4" value="{{formatAmount totalVat}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group required">
                                        {{#if countryId}}
                                            {{#each getCountryVatRates}}
                                                <div class="row">
                                                    <div class="col-sm-4 text-right">
                                                        <label class="">{{description}} ({{rate}}%)</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{getCurrencySymbol ../currencyId}}</span>
                                                            <input type="number" name="vat.{{rate}}" class="form-control" min="0" step="0.01" tabindex="{{index}}" required="required" value="{{formatAmount getVatRateValue}}" placeholder="Vat on {{rate}}%" disabled="{{isDisabled}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        {{else}}
                                            <span class="alert-warning">Country Id is not yet set. Cannot show vat rates.</span>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-danger">
                                {{#with getParentForFees}}
                                    Fee defined in <a href="/{{#if $eq _type 'shop'}}shop{{else}}company{{/if}}/{{_id}}">{{name}}</a>
                                {{/with}}
                                ({{getServiceFee}}%, {{formatAmount getMinServiceFee}} - {{formatAmount getMaxServiceFee}})
                            </div>
                            <div class="row form-group required">
                                <label class="col-sm-5">Refund</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol currencyId}}</span>
                                        <input type="number" name="refund" placeholder="Fill in the refund amount" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount refund}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group required">
                                <label class="col-sm-5">Fee</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol currencyId}}</span>
                                        <input type="number" name="serviceFee" placeholder="Fill in the service fee" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount serviceFee}}">
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="row form-group required">
                                <label class="col-sm-5">Currency</label>
                                <div class="col-sm-7">
                                    <select name="currencyId" class="form-control" required="required">
                                        {{#each getCurrencies}}
                                            <option value="{{_id}}" selected="{{isSelected _id ../currencyId}}">{{name}} ({{code}}, {{symbol}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-5">Customs stamp country</label>
                                <div class="col-sm-7">
                                    <select name="customsCountryId" class="form-control">
                                        <option value=""> -- </option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-sm btn-default m-t-n-xs cancel"><strong>Cancel</strong></button>
                                <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Update</strong></button>
                            </div>
                        </form>
                    {{else}}
                        {{!-- #if showActions}}
                            <div>
                                <span class="pull-right">
                                    {{#if isMyTask}}
                                        <a href="#" class="btn btn-white btn-sm task-item" tabindex="-1"><i class="fa fa-tasks"></i></a>
                                    {{/if}}
                                    {{#if isWaitingForOriginal}}
                                        <a href="#" class="btn btn-white btn-sm receipt-original-in"><i class="icon icon-receipt"></i></a>
                                    {{/if}}
                                </span>
                                Actions:
                            </div>
                        {{/if --}}
                        {{#unless ../hideReceiptDetails}}
                            <div class="client-detail">
                            <div class="full-height-scroll">
                                {{#if isStatus 'deleted' status}}
                                    <blockquote class="alert-danger">
                                        Receipt was deleted
                                    </blockquote>
                                {{/if}}
                                <strong>Receipt summary</strong>
                                <ul class="list-group clear-list">
                                {{#unless ../hideDetails}}
                                    <li class="list-group-item fist-item">
                                        <span class="pull-right">
                                            {{#if salesforceId}}
                                                <a href="https://vatfree.my.salesforce.com/{{salesforceId}}" target="_blank"><img src="/img/salesforce.svg" style="height: 18px; margin-top: -12px; margin-bottom: -10px;" /></a>
                                            {{/if}}
                                            {{receiptNr}}
                                        </span>
                                        Nr
                                    </li>
                                    {{#if requestId}}
                                        <li class="list-group-item fist-item">
                                            <span class="pull-right">
                                                <a href="https://vatfree.my.salesforce.com/{{requestId}}" target="_blank"><img src="/img/salesforce.svg" style="height: 18px; margin-top: -12px; margin-bottom: -10px;" /></a>
                                                {{requestId}}
                                            </span>
                                            Request ID
                                        </li>
                                    {{/if}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            {{archiveCode}}
                                        </span>
                                        Archive code
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            {{archiveBox}}
                                        </span>
                                        Archive box
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            {{getReceiptTypeName receiptTypeId}}
                                        </span>
                                        Type
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <i class="{{getReceiptIcon}}"></i> {{_ status}}
                                        </span>
                                        Status
                                        {{#if isStatusIn 'rejected,notCollectable' status}}
                                            {{> receiptRejectionList receiptRejectionIds=receiptRejectionIds }}
                                        {{/if}}
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <i class="{{getSourceIcon}}"></i> {{_ getSourceDescription}}
                                        </span>
                                        Source
                                    </li>
                                    {{#if sourceIdentifier}}
                                        <li class="list-group-item">
                                            <i>{{sourceIdentifier}}</i>
                                        </li>
                                    {{/if}}
                                    {{#if poprId}}
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                <i class="icon icon-qrframe"></i> {{poprId}}
                                            </span>
                                            POPR ID
                                        </li>
                                    {{/if}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            {{#if channel}}
                                                <i class="{{getChannelIcon}}"></i> {{_ getChannelDescription}}
                                            {{else}}
                                                -
                                            {{/if}}
                                        </span>
                                        Channel
                                    </li>
                                {{/unless}}
                                {{#if invoiceId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            {{#with getInvoice}}
                                                {{#if salesforceId}}
                                                    <a href="https://vatfree.my.salesforce.com/{{salesforceId}}" target="_blank"><img src="/img/salesforce.svg" style="height: 18px; margin-top: -12px; margin-bottom: -10px;" /></a>
                                                {{/if}}
                                            {{/with}}
                                            <a href="/invoice/{{invoiceId}}">
                                                {{getInvoiceDescription}}
                                            </a>
                                        </span>
                                        Invoice
                                    </li>
                                {{/if}}
                                {{#if payoutId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            {{#if salesforcePayoutId}}
                                                <a href="https://vatfree.my.salesforce.com/{{salesforcePayoutId}}" target="_blank"><img src="/img/salesforce.svg" style="height: 18px; margin-top: -12px; margin-bottom: -10px;" />
                                                    {{salesforcePayoutId}}
                                                </a>
                                            {{else}}
                                                <a href="/payout/{{payoutId}}">
                                                    {{getPayoutDescription}}
                                                </a>
                                            {{/if}}
                                        </span>
                                        Payout request
                                    </li>
                                {{/if}}

                                {{#unless ../hideDetails}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            {{#if affiliateId}}
                                                <a href="/affiliate/{{affiliateId}}">{{getAffiliateName}}</a>
                                            {{else}}
                                                <i>no</i>
                                            {{/if}}
                                        </span>
                                        Affiliate
                                    </li>
                                {{/unless}}
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDate purchaseDate}} </span>
                                    Purchase date
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        {{formatDate customsDate}}
                                        {{#if customsCountryId}}
                                            / {{getCountryName customsCountryId}}
                                        {{/if}}
                                    </span>
                                    Customs date
                                </li>
                                {{#if flightNumber}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            {{flightNumber}}
                                        </span>
                                        Flight Number
                                    </li>
                                {{/if}}
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        {{formatCurrency amount}}
                                    </span>
                                    Receipt amount
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency totalVat}} </span>
                                    Total VAT
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        {{formatCurrency refund}}
                                        {{#if euroRefund}}
                                            ({{formatCurrency euroRefund 2 "euro"}})
                                        {{/if}}
                                    </span>
                                    Refund
                                </li>
                                {{#if isNotStandardFee}}
                                    <li class="list-group-item text-danger">
                                        Non standard fee: {{getServiceFee}}%, min {{formatCurrency getMinServiceFee}} - max {{formatCurrency getMaxServiceFee}}
                                        {{#with getParentForFees}}
                                            ,<br/>defined in
                                            {{#if _id}}
                                                <a href="/{{#if $eq _type 'shop'}}shop{{else}}company{{/if}}/{{_id}}">{{name}}</a>
                                            {{else}}
                                                {{name}}
                                            {{/if}}
                                        {{/with}}
                                    </li>
                                {{/if}}
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        {{formatCurrency serviceFee}}
                                        {{#if euroServiceFee}}
                                            ({{formatCurrency euroServiceFee 2 "euro"}})
                                        {{/if}}
                                    </span>
                                    Service fee
                                </li>
                                {{#if deferredServiceFee}}
                                    <li class="list-group-item">
                                        <b>
                                            <span class="pull-right"> {{formatCurrency deferredServiceFee}} </span>
                                            Deferred fee
                                            {{#with getFees}}
                                                ({{deferredServiceFee}}%, {{getCurrencySymbol}}{{formatAmount deferredMinFee}} - {{getCurrencySymbol}}{{formatAmount deferredMaxFee}})
                                            {{/with}}
                                        </b>
                                    </li>
                                {{/if}}
                                {{#if affiliateServiceFee}}
                                    <li class="list-group-item">
                                        <b>
                                            <span class="pull-right"> {{formatCurrency affiliateServiceFee}} </span>
                                            Affiliate fee
                                        </b>
                                    </li>
                                {{/if}}
                                {{#unless ../hideDetails}}
                                    {{#if originalsCheckedAt}}
                                        <li class="list-group-item">
                                            <span class="pull-right"> {{formatDateTime originalsCheckedAt}}{{#if originalsCheckedBy}} / {{getUserName originalsCheckedBy}}{{/if}} </span>
                                            Originals in
                                        </li>
                                    {{/if}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatDateTime createdAt}}{{#if createdBy}} / {{getUserName createdBy}}{{/if}} </span>
                                        Added
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatDateTime updatedAt}} / {{getUserName updatedBy}} </span>
                                        Updated
                                    </li>
                                {{/unless}}
                                {{#if reminders}}
                                    <li class="list-group-item">
                                        Reminders<br/>
                                        {{#each reminders}}
                                            <div class="text-right">
                                                {{type}}: {{formatDateTime sentAt}}
                                            </div>
                                        {{/each}}
                                    </li>
                                {{/if}}
                                {{#if ../showImages}}
                                    <li class="list-group-item">
                                        {{#if getFiles.count}}
                                            <ul class="files">
                                                {{#each getFiles}}
                                                    <li class="file">
                                                        {{#unless this.isUploaded}}
                                                            {{> FS.UploadProgressBar bootstrap=true}}
                                                        {{else}}
                                                            {{#if fileCopiesUploaded this}}
                                                                {{> directUrlFile fileObj=this }}
                                                            {{else}}
                                                                {{> storing_file }}
                                                            {{/if}}
                                                        {{/unless}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        {{/if}}
                                    </li>
                                    <li class="list-group-item">
                                        {{#if getInternalFiles.count}}
                                            Internal files:
                                            <ul class="files">
                                                {{#each getInternalFiles}}
                                                    <li class="file">
                                                        {{#unless this.isUploaded}}
                                                            {{> FS.UploadProgressBar bootstrap=true}}
                                                        {{else}}
                                                            {{#if fileCopiesUploaded this}}
                                                                {{> directUrlFile fileObj=this }}
                                                            {{else}}
                                                                {{> storing_file }}
                                                            {{/if}}
                                                        {{/unless}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        {{/if}}
                                    </li>
                                {{/if}}
                            </ul>
                                {{#if notes}}
                                    <strong>Notes</strong>
                                    <p>
                                        {{notes}}
                                    </p>
                                {{/if}}
                                {{#unless ../hideTimeline}}
                                    {{#with checkRemarks}}
                                        <hr/>
                                        <strong>Task manager remarks</strong>
                                        <div class="check-remarks">
                                            {{#each this}}
                                                <div class="check-remark">
                                                    <div class="remark-name">
                                                        {{name}} - {{formatDateTime date}}
                                                    </div>
                                                    <div class="remark">
                                                        {{remark}}
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    {{/with}}
                                    <hr/>
                                    <strong>Edit history</strong>
                                    <div id="vertical-timeline" class="vertical-container dark-timeline">
                                        {{#each getActivity}}
                                            {{> activityTimelineItem }}
                                        {{/each}}
                                    </div>
                                {{/unless}}
                            </div>
                        </div>
                        {{/unless}}
                    {{/if}}
                </div>
            </div>
            {{/with}}
                {{/with}}
            {{else}}
                {{> loading }}
            {{/if}}
        </div>
    </div>
</template>
