<template name="receiptsList">
    {{#if originalReceiptIn}}
        {{> receiptOriginalModal receiptId=originalReceiptId }}
    {{/if}}
    <table class="table table-striped table-hover item-list receipt-list">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'receiptNr'}}" data-id="receiptNr">Receipt Nr</th>
                    <th class="visible-lg">Src</th>
                    <th class="visible-lg">Traveller</th>
                    <th class="sort-header {{isHeaderSorting 'createdAt'}}" data-id="createdAt">Added</th>
                    <th class="sort-header {{isHeaderSorting 'updatedAt'}}" data-id="updatedAt">Updated</th>
                    <th class="">Shop</th>
                    <th class="sort-header {{isHeaderSorting 'amount'}}" data-id="amount">Amount</th>
                    <th class="sort-header {{isHeaderSorting 'totalVat'}}" data-id="totalVat">VAT</th>
                    <th class="sort-header {{isHeaderSorting 'refund'}}" data-id="refund">Refund</th>
                    {{#unless hideServiceFee}}
                        <th class="sort-header {{isHeaderSorting 'serviceFee'}}" data-id="serviceFee">Fee</th>
                    {{/unless}}
                    {{#if showAffiliatefee}}
                        <th class="sort-header {{isHeaderSorting 'affiliateServiceFee'}}" data-id="affiliateServiceFee">Aff.Fee</th>
                    {{/if}}
                    <th>&nbsp;</th>
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each receipts}}
            <tr class="item-row {{isActiveItem}} {{#if error}}alert-danger{{/if}} {{#if isStatusIn 'rejected,deleted' status}}text-danger{{/if}} {{#if isBillingError}}billing-error{{/if}}" id="item-{{_id}}">
                <td>
                    {{#unless ../hideButtons}}
                        {{#if isInVatfreeRole 'receipts-read'}}
                            <a href="/receipt/{{_id}}" class="btn btn-white btn-sm edit-item" tabindex="-1">
                                {{#if isInVatfreeRole 'receipts-update'}}
                                    <i class="icon icon-edit"></i>
                                {{else}}
                                    <i class="icon icon-eyeview"></i>
                                {{/if}}
                            </a>
                            {{#if isInVatfreeRole 'receipts-tasks'}}
                                {{#if isMyTask}}
                                    <a href="/receipts?tasks=1&receiptId={{_id}}" class="btn btn-white btn-sm task-item" tabindex="-1" disabled="{{#if createdByMe}}disabled{{/if}}"><i class="icon icon-task"></i></a>
                                {{/if}}
                            {{/if}}
                            {{#if isInVatfreeRole 'receipts-update'}}
                                {{#if showWaitingForOriginalButton}}
                                    <a href="#" class="btn btn-white btn-sm receipt-original-in"><i class="icon icon-archive"></i></a>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/unless}}
                </td>
                <td class="client-status">
                    <span class="receipt-list-type-icons">
                        {{#if affiliateId}}
                            <span class="icon-overlay">
                                <i class="{{getReceiptTypeIcon receiptTypeId}}" title="{{getReceiptTypeName receiptTypeId}}"></i>
                                <i class="icon icon-affiliates overlay"></i>
                            </span>
                        {{else}}
                            <i class="{{getReceiptTypeIcon receiptTypeId}}" title="{{getReceiptTypeName receiptTypeId}}"></i>
                        {{/if}}
                        <i class="{{getReceiptIcon}}" title="{{_ status}}"></i>
                    </span>
                </td>
                <td>
                    {{#if salesforceId}}
                        <a href="https://vatfree.my.salesforce.com/{{salesforceId}}" target="_blank"><img src="/img/salesforce.svg" style="height: 18px; margin-top: -12px; margin-bottom: -10px;" /></a>
                    {{/if}}
                    {{receiptNr}}
                </td>
                <td class="client-status visible-lg">
                    <span title="{{getSourceDescription}}">
                        {{#if poprId}}
                            <i class="icon icon-qrframe"></i>
                        {{else}}
                            <i class="{{getSourceIcon}}"></i>
                        {{/if}}
                    </span>
                </td>
                <td class="visible-lg">
                    {{getTravellerName userId}}
                </td>
                <td>{{formatDate createdAt}}</td>
                <td>{{formatDate updatedAt}}</td>
                {{#with getShop}}
                    <td class="shop-name {{#if deleted}}text-danger{{/if}}">
                        <span class="shop-logo">
                            <img src="/Logos/{{getPartnershipStatusLogo}}" />
                        </span>
                        <span class="visible-lg">
                            {{name}}, {{city}}, {{getCountryCode}}
                        </span>
                        <span class="hidden-lg">
                            {{name}}
                        </span>
                    </td>
                {{/with}}
                <td class="nobr text-right">{{formatCurrency amount 2 currencyId}}</td>
                <td class="nobr text-right">{{formatCurrency totalVat 2 currencyId}}</td>
                <td class="nobr text-right">
                    {{formatCurrency refund 2 currencyId}}
                    {{#if euroRefund}}
                        ({{formatCurrency euroRefund 2 "euro"}})
                    {{/if}}
                </td>
                {{#unless ../hideServiceFee}}
                    <td class="nobr text-right">{{formatCurrency serviceFee 2 currencyId}}</td>
                {{/unless}}
                {{#if ../showAffiliatefee}}
                    <td class="nobr text-right">{{formatCurrency affiliateServiceFee 2 currencyId}}</td>
                {{/if}}
                <td>
                    {{#if ../selectable}}
                        <input type="checkbox" name="receipts.{{_id}}" checked="{{../allSelected}}"/>
                    {{/if}}
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="10">
                    <i>No receipts found ...</i>
                </td>
            </tr>
        {{/each}}
        {{#unless hideTotal}}
            {{#with getTotal}}
                <tr class="item-row total-row {{isActiveItem}}">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="visible-lg">&nbsp;</td>
                    <td class="visible-lg">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="text-right">{{_ "Total"}}</td>
                    <td class="nobr text-right">
                        {{#each getTotalPerCurrency 'amount'}}
                            {{formatCurrency amount 2 currencyId}}<br/>
                        {{/each}}
                    </td>
                    <td class="nobr text-right">
                        {{#each getTotalPerCurrency 'totalVat'}}
                            {{formatCurrency amount 2 currencyId}}<br/>
                        {{/each}}
                    </td>
                    <td class="nobr text-right">
                        {{#each getTotalPerCurrency 'refund'}}
                            {{formatCurrency amount 2 currencyId}}<br/>
                        {{/each}}
                    </td>
                    {{#unless ../hideServiceFee}}
                        <td class="nobr text-right">
                            {{#each getTotalPerCurrency 'serviceFee'}}
                                {{formatCurrency amount 2 currencyId}}<br/>
                            {{/each}}
                        </td>
                    {{/unless}}
                    {{#if ../showAffiliatefee}}
                        <td class="nobr text-right">
                            {{#each getTotalPerCurrency 'affiliateServiceFee'}}
                                {{formatCurrency amount 2 currencyId}}<br/>
                            {{/each}}
                        </td>
                    {{/if}}
                    <td>&nbsp;</td>
                </tr>
            {{/with}}
        {{/unless}}
        </tbody>
    </table>
</template>
