<template name="receiptOriginalModal">
    {{#modal parentTemplateVariable="originalReceiptIn" center=true }}
        <div class="archive-receipt">
            <h2>Are you sure?</h2>
            {{#with getReceipt}}
                <h3>{{{shopName}}}</h3>
                <div class="table">
                    <table class="table">
                        <tr>
                            <td style='text-align: left'>Receipt Nr</td>
                            <td style='text-align: right'>{{receiptNr}}</td>
                        </tr>
                        <tr>
                            <td style='text-align: left'>Purchase date</td>
                            <td style='text-align: right'>{{formatDate purchaseDate}}</td>
                        </tr>
                        <tr>
                            <td style='text-align: left'>Amount</td>
                            <td style='text-align: right'>{{formatCurrency amount 2 currencyId}}</td>
                        </tr>
                        <tr>
                            <td style='text-align: left'>VAT amount</td>
                            <td style='text-align: right'>{{formatCurrency totalVat 2 currencyId}}</td>
                        </tr>
                    </table>
                </div>
            {{/with}}

            <div class="file-list">
                <ul class="files">
                    <li class="divider-icon"><i class="icon icon-eyeview"></i></li>
                    <li class="file">
                        <div class="dropzone-modal">
                            <input type="file" name="dropzone-file" class="dropzone-file"/>
                            <img src="{{qrCode}}">
                        </div>
                    </li>
                    {{#each getFiles}}
                        <li class="file">
                            {{#unless this.isUploaded}}
                                {{> FS.UploadProgressBar bootstrap=true}}
                            {{else}}
                                {{> directUrlFile fileObj=this }}
                            {{/unless}}
                        </li>
                    {{/each}}
                </ul>
            </div>

            <div class="buttons">
                <button class="btn btn-sm btn-default m-t-n-xs close-modal">Cancel</button>
                <button class="btn btn-sm btn-info m-t-n-xs receipt-go">Go to receipt</button>
                <button class="btn btn-sm btn-primary m-t-n-xs archive-receipt-do"><strong>Archive receipt</strong></button>
            </div>
        </div>
    {{/modal}}
</template>
