<template name="receipts">
    {{#if addingItem}}
        {{> addReceiptModal }}
    {{/if}}
    {{#if receiptShopTasks}}
        {{> receiptShopTasksModal receiptId=getTaskReceiptId }}
    {{/if}}
    {{#if receiptTasks}}
        {{> receiptTasksModal receiptId=getTaskReceiptId }}
    {{/if}}
    <div class="wrapper wrapper-content">
        <div class="row">
            {{#if showImports}}
                {{> imports subType='receipts' title='Receipt imports' }}
            {{else}}
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox" tabindex="{{#if receiptTasks}}-1{{/if}}{{#if addingItem}}-1{{/if}}">
                        <div class="ibox-content">
                            <div class="pull-right">
                                {{#if isInVatfreeRole 'receipts-create'}}
                                    <a class="btn btn-info btn-icon add-item" href="#" accesskey="a" tabindex="-1"><i class="icon icon-create"></i><u>A</u>dd</a>
                                {{/if}}
                                {{#if isInVatfreeRole 'receipts-tasks'}}
                                    <a class="btn btn-task btn-icon receipt-tasks" href="#" accesskey="r" tabindex="-1" disabled="{{#unless getStatsCount 'receipts'}}true{{/unless}}"><i class="icon icon-receipttasks"></i> {{getStatsCount 'receipts'}} <u>R</u>eceipt tasks</a>
                                    <a class="btn btn-task btn-icon receipt-shop-tasks" href="#" accesskey="s" tabindex="-1" disabled="{{#unless getStatsCount 'receipt_shops'}}true{{/unless}}"><i class="icon icon-shoptasks"></i> {{getStatsCount 'receipt_shops'}} <u>S</u>hop tasks</a>
                                {{/if}}
                                {{#if isInVatfreeRole 'receipts-admin'}}
                                    <a class="btn btn-warning btn-icon receipts-send-reminders" disabled="{{#unless getStatsCount 'receiptsToSendReminders'}}true{{/unless}}" title="Reminders are for receipts that have been in status 'waitingForOriginal' for 1 month.">
                                        <i class="icon icon-emailout"></i> Send reminders ({{getStatsCount 'receiptsToSendReminders'}})
                                    </a>
                                {{/if}}
                                <i class="icon icon-config show-management-functions {{#if showManagementFunctions}}active{{/if}}"></i>
                            </div>
                            {{#if showManagementFunctions}}
                                <div class="management-functions">
                                    {{#if isInVatfreeRole 'receipts-read'}}
                                        {{#if runningExport}}
                                            <a class="btn btn-default btn-icon" href="#" accesskey="e" tabindex="-1"><i class="icon icon-exportcsv"></i>Exporting ...</a>
                                        {{else}}
                                            <a class="btn btn-default btn-icon receipts-export" href="#" accesskey="e" tabindex="-1"><i class="icon icon-exportcsv"></i><u>E</u>xport</a>
                                        {{/if}}
                                    {{/if}}
                                    {{#if importsEnabled}}
                                        <a class="btn btn-default btn-icon toggle-imports" href="#" accesskey="i"><i class="icon icon-downloadcsv"></i><u>I</u>mports</a>
                                    {{/if}}
                                    <a class="btn btn-default btn-icon check-partner-receipts" href="#" accesskey="c"><i class="icon icon-waiting4original"></i><u>C</u>heck stuck partner receipts</a>
                                    <a class="btn btn-default btn-icon check-pledger-receipts" href="#" accesskey="c"><i class="icon icon-waiting4original"></i><u>C</u>heck stuck pledger receipts</a>
                                    <!--a class="btn btn-default btn-icon check-admin-receipts" href="#" accesskey="c"><i class="icon icon-waiting4admincheck"></i><u>C</u>heck admin receipts</a-->
                                </div>
                            {{/if}}
                            <h2>Receipts</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Search receipt" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s" tabindex="-1">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary" tabindex="-1"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                                </span>
                            </div>
                            <div class="input-group filter-icons">
                                <span class="pull-right toggle-list-filters {{#if activeListfilters}}filter-icon active{{/if}} {{#if showListFilters}}active{{/if}}"><i class="icon icon-filterfunnel"></i></span>
                                {{#if isInVatfreeRole 'receipts-tasks'}}
                                    <span class="label label-info label-filter cursor-pointer todos-filter pull-right">Filter {{getStatsCount 'receipts'}} tasks</span>
                                {{/if}}
                                <span class="label-filter-group">
                                    {{#each getReceiptStatusOptions}}
                                        <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getReceiptIcon this}}"></i></span>
                                    {{/each}}
                                </span>
                                <span class="label-filter-group">
                                    {{#each getSourceOptions}}
                                        <span class="filter-icon source-filter-icon {{isActiveSourceFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getSourceIcon this}}"></i></span>
                                    {{/each}}
                                </span>
                                <span class="label-filter-group">
                                     <span class="filter-icon receipt-type-filter-icon {{isActiveReceiptTypeFilter}}" id="null" title="{{_ "Regular"}}"><i class="{{getReceiptTypeIcon}}"></i></span>
                                    {{#each getReceiptTypes}}
                                        <span class="filter-icon receipt-type-filter-icon {{isActiveReceiptTypeFilter}}" id="{{_id}}" title="{{_ name}}"><i class="{{getReceiptTypeIcon _id}}"></i></span>
                                    {{/each}}
                                </span>
                                <span class="label-filter-group">
                                    <span class="filter-icon popr-filter-icon {{#if isActivePoprFilter}}active{{/if}}" id="porp" title="POPR receipt">
                                        <i class="icon icon-qrframe"></i>
                                    </span>
                                </span>
                                <span class="label-filter-group">
                                    <span class="filter-icon salesforce-filter-icon {{#if isActiveSalesforceFilter}}active{{/if}} {{#if isInactiveSalesforceFilter}}inactive{{/if}}" title="Salesforce receipt">
                                        <img src="/img/salesforce.svg" />
                                    </span>
                                </span>
                            </div>
                            {{#if showListFilters}}
                                <div class="input-group list-filters">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Shop country</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-countries"></i></span>
                                                    <select name="listFilter.countryId" data-compare="$in" class="form-control" multiple="multiple">
                                                        {{#each getCountries}}
                                                            <option value="{{_id}}" selected="{{getListFilterSelected "countryId.$in" _id}}">{{name}} ({{code}})</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Traveller country</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-countries"></i></span>
                                                    <select name="listFilter.travellerCountryId" data-compare="$in" class="form-control" multiple="multiple">
                                                        {{#each getCountries}}
                                                            <option value="{{_id}}" selected="{{getListFilterSelected "travellerCountryId.$in" _id}}">{{name}} ({{code}})</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Amount</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.amount" data-compare="$gte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "amount.$gte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.amount" data-compare="$lte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "amount.$lte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>VAT</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.totalVat" data-compare="$gte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "totalVat.$gte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.totalVat" data-compare="$lte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "totalVat.$lte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Refund</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.refund" data-compare="$gte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "refund.$gte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.refund" data-compare="$lte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "refund.$lte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Service Fee</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.serviceFee" data-compare="$gte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "serviceFee.$gte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.serviceFee" data-compare="$lte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "serviceFee.$lte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Created date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.createdAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.createdAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Update date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.updatedAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "updatedAt.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.updatedAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "updatedAt.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Purchase date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.purchaseDate" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "purchaseDate.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.purchaseDate" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "purchaseDate.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Customs date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.customsDate" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "customsDate.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.customsDate" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "customsDate.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Customs country</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-countries"></i></span>
                                                    <select name="listFilter.customsCountryId" data-compare="$in" class="form-control" multiple="multiple">
                                                        {{#each getCountries}}
                                                            <option value="{{_id}}" selected="{{getListFilterSelected "customsCountryId.$in" _id}}">{{name}} ({{code}})</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Checked by</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-user"></i></span>
                                                    <select name="listFilter.checkedBy" class="form-control">
                                                        {{#with getListFilterValue "checkedBy"}}
                                                            <option value="{{this}}">{{getUserName this}}</option>
                                                        {{/with}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Checked date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.checkedAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "checkedAt.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.checkedAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "checkedAt.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Archive date (originals checked)</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.originalsCheckedAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "originalsCheckedAt.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.originalsCheckedAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "originalsCheckedAt.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Created by</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-actorvatty"></i></span>
                                                    <select name="listFilter.createdBy" class="form-control">
                                                        {{#with getListFilterValue "createdBy"}}
                                                            <option value="{{this}}">{{getUserName this}}</option>
                                                        {{/with}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Updated by</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-actorvatty"></i></span>
                                                    <select name="listFilter.updatedBy" class="form-control">
                                                        {{#with getListFilterValue "updatedBy"}}
                                                            <option value="{{this}}">{{getUserName this}}</option>
                                                        {{/with}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Affiliate</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-affiliates"></i></span>
                                                    <select name="listFilter.affiliateId" class="form-control">
                                                        {{#with getListFilterValue "affiliateId"}}
                                                            <option value="{{this}}">{{getAffiliateDescription this}}</option>
                                                        {{/with}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Archive nr</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="number" name="listFilter.archiveCodeNr" data-compare="$gte" data-type="number" class="form-control" value="{{getListFilterValue "archiveCodeNr.$gte" "number"}}" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="number" name="listFilter.archiveCodeNr" data-compare="$lte" data-type="number" class="form-control" value="{{getListFilterValue "archiveCodeNr.$lte" "number"}}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Shop</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-shops"></i></span>
                                                    <select name="listFilter.shopId" class="form-control">
                                                        {{#with getListFilterValue "shopId"}}
                                                            <option value="{{this}}">{{getShopDescription this}}</option>
                                                        {{/with}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Billing company</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-companies"></i></span>
                                                    <select name="listFilter.billingCompanyId" class="form-control">
                                                        {{#with getListFilterValue "billingCompanyId"}}
                                                            <option value="{{this}}">{{getCompanyDescription this}}</option>
                                                        {{/with}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Reject reasons</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-receiptreject"></i></span>
                                                    <select name="listFilter.receiptRejectionIds" class="form-control" multiple="true">
                                                        {{#each getReceiptRejections}}
                                                            <option value="{{_id}}" selected="{{getListFilterSelected "receiptRejectionIds.$in" _id}}">{{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Partnership status</label>
                                                <select name="listFilter.partnershipStatus" data-compare="$in" class="form-control" multiple="multiple">
                                                    <option value="new" selected="{{getListFilterSelected 'partnershipStatus.$in' 'new'}}">New</option>
                                                    <option value="partner" selected="{{getListFilterSelected 'partnershipStatus.$in' 'partner'}}">Partner</option>
                                                    <option value="pledger" selected="{{getListFilterSelected 'partnershipStatus.$in' 'pledger'}}">Pledger</option>
                                                    <option value="affiliate" selected="{{getListFilterSelected 'partnershipStatus.$in' 'affiliate'}}">Affiliate</option>
                                                    <option value="uncooperative" selected="{{getListFilterSelected 'partnershipStatus.$in' 'uncooperative'}}">Uncooperative</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Cheque type</label>
                                                <select name="listFilter.receiptTypeExtraFields.type" data-compare="$in" class="form-control" multiple="multiple">
                                                    {{#each getAffiliatedWithOptions}}
                                                        <option value="{{this}}" selected="{{getListFilterSelected "receiptTypeExtraFields/type.$in" this}}">{{this}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Paid by shop date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.statusDates.paidByShop" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "statusDates.paidByShop.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.statusDates.paidByShop" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "statusDates.paidByShop.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            {{#with getReceiptStats}}
                                <div class="list-aggregates">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td># receipts: {{count}}</td>
                                                <td># popr: {{popr}}</td>
                                            </tr>
                                            <tr>
                                                <td>Amounts: {{formatCurrency amount}}</td>
                                                <td>Total VAT: {{formatCurrency vat}}</td>
                                            </tr>
                                            <tr>
                                                <td>Service Fees: {{formatCurrency fee}}</td>
                                                <td>Refunds: {{formatCurrency refund}}</td>
                                            </tr>
                                            <tr>
                                                <td>Affiliate Fees: {{formatCurrency affiliateFee}}</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {{/with}}
                            <div class="clients-list item-list receipts-list">
                                {{#if initialLoadDone}}
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> receiptsList receipts=getReceipts includeHeader=true sorting=getSorting }}
                                        </div>
                                    </div>
                                {{else}}
                                    {{> loading }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#with getActiveItem}}
                    <div class="col-sm-4">
                        {{> receiptInfo receipt=this showImages=true showActions=true }}
                    </div>
                {{/with}}
            {{/if}}
        </div>
    </div>
</template>
