<template name="receipts_receipt_rejections">
    <div class="receipt-rejections">
        <h3>Reject reasons:</h3>
        {{#each getReceiptRejections type}}
            <div class="pretty-checks" title="{{description}}">
                <input type="checkbox" name="receiptRejectionIds.{{_id}}" id="receiptRejectionIds.{{_id}}">
                <label for="receiptRejectionIds.{{_id}}">{{name}}</label>
            </div>
        {{/each}}
    </div>
</template>
