<template name="receiptRejectModal">
    <div id="modal-reject-receipt" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <form role="form" name="reject-receipt-form">
                                <div class="form-group">
                                    {{> receipts_receipt_rejections}}
                                </div>
                                <div class="form-group">
                                    <div class="pretty-checks">
                                        <input type="checkbox" name="sendTravellerUpdate" id="sendTravellerUpdate" checked="checked">
                                        <label for="sendTravellerUpdate">Send traveller update about rejection</label>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Reject</strong></button>
                                    <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-reject-receipt"><strong>Cancel</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>