<template name="receiptShopTasksModal">
    <div id="modal-receipt-shop-tasks" class="modal fade fullscreen" aria-hidden="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <i class="icon icon-cross close-tasks" accesskey="c"></i>
                    {{#if Template.subscriptionsReady}}
                        {{#with getReceipt}}
                            <div class="receipt-task">
                                <div class="receipt-files" tabindex="-1">
                                    <ul class="files">
                                        {{#each getFiles}}
                                            <li class="file {{isActiveFile _id}}" id="file_{{_id}}">
                                                {{#unless this.isUploaded}}
                                                    {{> FS.UploadProgressBar bootstrap=true}}
                                                {{else}}
                                                    {{#if fileCopiesUploaded this}}
                                                        <a href="{{url}}" target="_blank" tabindex="-1">
                                                            {{#if isImage}}
                                                                <div class="image-container">
                                                                    <img src="{{url store='vatfree-thumbs' uploading='/img/uploading.gif' storing='/img/storing.gif'}}" />
                                                                </div>
                                                            {{else}}
                                                                <img src="{{url store='vatfree-thumbs'}}" onerror="this.src='/icons/512px/{{getExtension}}.png';" class="file-icon"/>
                                                            {{/if}}
                                                        </a>
                                                    {{else}}
                                                        {{> storing_file }}
                                                    {{/if}}
                                                {{/unless}}
                                            </li>
                                        {{else}}
                                            <span class="alert-danger">No scans!</span>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="receipt-main">
                                    {{#with selectedFile}}
                                        {{#if isPDF}}
                                            <div class="receipt-pdf">
                                                <iframe src="{{url}}&.pdf" style="width: 100%; height: 100%;" frameborder="0" scrolling="no">
                                                </iframe>
                                            </div>
                                        {{else}}
                                            <div class="receipt-image">
                                                <img class="receipt-zoom" src="{{url store='vatfree' uploading='/img/uploading.gif' storing='/img/storing.gif'}}">
                                            </div>
                                        {{/if}}
                                    {{/with}}
                                </div>
                                <div class="receipt-sidebar">
                                    {{#if isRejecting}}
                                        <div class="receipt-rejections">
                                            <h3>Reject reasons:</h3>
                                            <form class="form">
                                                {{#each getReceiptRejections}}
                                                    <div class="i-checks" title="{{description}}">
                                                        <input type="checkbox" name="receiptRejectionIds.{{_id}}"> {{name}}
                                                    </div>
                                                {{/each}}
                                            </form>
                                        </div>
                                        <div class="form-group padding">
                                            <div class="pretty-checks">
                                                <input type="checkbox" name="sendTravellerUpdate" id="sendTravellerUpdate" checked="checked">
                                                <label for="sendTravellerUpdate">Send traveller update about rejection</label>
                                            </div>
                                        </div>
                                        <div class="receipt-actions">
                                            <button class="btn btn-default receipt-reject-cancel" accesskey="c" tabindex="1"><u>C</u>ancel</button>
                                            <button class="btn btn-danger receipt-reject-do" accesskey="R" tabindex="0"><u>R</u>eject</button>
                                        </div>
                                    {{else}}
                                        <input type="hidden" name="addShop" class="add-shop" value="" />
                                        <input type="hidden" name="place" value="" />
                                        {{#if addingShop}}
                                            <div class="receipt-info">
                                                <h3 class="text-center">Add shop</h3>
                                                <h3 class="text-center">Receipt: {{receiptNr}}</h3>
                                                <div class="ibox receipt-info" tabindex="-1">
                                                    <div class="ibox-content">
                                                        {{> addShopModal_form hideButtons=true }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="receipt-actions">
                                                <button class="btn btn-default cancel-add-shop" accesskey="c" tabindex="100"><u>C</u>ancel</button>
                                                <button class="btn btn-primary create-shop" accesskey="a" tabindex="100"><u>A</u>dd shop</button>
                                            </div>
                                        {{else}}
                                            <div class="receipt-info">
                                                <h3 class="text-center">Select shop</h3>
                                                <h3 class="text-center">Receipt: {{receiptNr}}</h3>
                                                <div class="ibox receipt-info" tabindex="-1">
                                                    <div class="ibox-content">
                                                        {{> receiptShopTasksModal_shopForm }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="receipt-actions">
                                                <button class="btn btn-danger receipt-reject" accesskey="R" tabindex="105"><u>R</u>eject</button>
                                                <button class="btn btn-primary add-shop" accesskey="a" tabindex="100" disabled="{{changedValues}}"><u>A</u>dd new shop</button>
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                        {{else}}
                            <div class="waiting-for-receipt">
                                <h1>Waiting for next receipt ...</h1>
                                <button class="btn btn-primary close-tasks" accesskey="c"><u>C</u>lose tasks window</button>
                            </div>
                        {{/with}}
                    {{else}}
                        {{> loading }}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="receiptShopTasksModal_shopForm">
    <form class="form">
        <div class="form-group required">
            <label>Shop</label>
            <select name="shopId" class="form-control" required="required">
            </select>
        </div>
    </form>
</template>
