<template name="similarReceiptsTr">
    <tr>
        <td colspan="2" class="similar-receipts-list">
            <div class="text-danger">Similar receipts found!</div>
            <div class="clients-list item-list receipts-list">
                <div class="full-height-scroll">
                    <div class="table-responsive item-list infinite-scrolling" style="width: 344px;">
                        <table class="table table-striped table-hover item-list receipt-list">
                            <tbody>
                            {{#each receipts}}
                                <tr class="item-row">
                                    <td>
                                        <span title="{{_ status}}">
                                            <i class="{{getReceiptIcon}}"></i>
                                        </span>
                                    </td>
                                    <td>{{receiptNr}}</td>
                                    <td>
                                        {{#each getReceiptFiles}}
                                            {{> directUrlFile fileObj=this hideFileName=true }}
                                        {{/each}}
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</template>
