<template name="receiptTasksModal">
    <div id="modal-receipt-tasks" class="modal fade fullscreen" aria-hidden="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <i class="icon icon-cross close-tasks" accesskey="c"></i>
                    {{#if Template.subscriptionsReady}}
                        {{#with getReceipt}}
                            <form role="form" name="receipt-tasks-form">
                                <div class="receipt-task">
                                    <div class="receipt-files drop-file-here" tabindex="-1">
                                        <ul class="files">
                                            {{#each getFiles}}
                                                <li class="file {{isActiveFile _id}}{{#if isMainReceipt}} cover{{/if}}" id="file_{{_id}}">
                                                    {{#unless this.isUploaded}}
                                                        {{> FS.UploadProgressBar bootstrap=true}}
                                                    {{else}}
                                                        {{> directUrlFile fileObj=this }}
                                                        <i class="icon icon-eyehidden file-action move-file" title="Hide this image from traveller"></i>
                                                    {{/unless}}
                                                </li>
                                            {{else}}
                                                <span class="alert-danger">No files!</span>
                                            {{/each}}
                                        </ul>
                                        {{#unless formExists}}
                                            {{#if showFormButton}}
                                                <button class="btn btn-primary create-traveller-form" accesskey="o" tabindex="100"> + Form </button>
                                            {{/if}}
                                        {{/unless}}
                                        <div class="qrcode-upload">
                                            <canvas></canvas>
                                        </div>
                                        <hr/>
                                        -- Internal docs --<br/>
                                        <ul class="files">
                                            {{#each getInternalFiles}}
                                                <li class="file {{isActiveFile _id}} draggable" id="file_{{_id}}">
                                                    {{#unless this.isUploaded}}
                                                        {{> FS.UploadProgressBar bootstrap=true}}
                                                    {{else}}
                                                        {{> directUrlFile fileObj=this hideFileName=true }}
                                                        <i class="icon icon-eyeview file-action move-file" title="Show this image to traveller"></i>
                                                        {{#if allowDeleteFiles}}
                                                            <i class="icon icon-cross file-action delete-file"></i>
                                                        {{/if}}
                                                        {{#if isPDF}}
                                                            <i class="icon icon-addphoto file-action create-images-from-pdf" title="Create images from this PDF"></i>
                                                        {{/if}}
                                                    {{/unless}}
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    {{#if editTraveller}}
                                        <div class="task-main receipt-main">
                                            {{#with getTraveller }}
                                                <i class="icon icon-cross close-traveller-edit" accesskey="c"></i>
                                                {{> travellerEditForm }}
                                            {{/with}}
                                        </div>
                                    {{else}}
                                        <div class="task-main receipt-main {{#if compareImage}}compare-to-image{{/if}}">
                                            {{#with selectedFile}}
                                                {{#unless this.isUploaded}}
                                                    {{> FS.UploadProgressBar bootstrap=true}}
                                                {{else}}
                                                    {{#unless isPDF}}
                                                        <div class="button-group text-center">
                                                            <button class="btn btn-default image-mode-zoom {{#if isImageMode "zoom"}} active{{/if}}"><i class="fa fa-search"></i> Zoom</button>
                                                            <button class="btn btn-default image-mode-crop {{#if isImageMode "crop"}} active{{/if}}"><i class="icon icon-crop"></i> Crop</button>
                                                            <button class="btn btn-default image-mode-mask {{#if isImageMode "mask"}} active{{/if}}"><i class="icon icon-mask"></i> Mask</button>
                                                        </div>
                                                    {{/unless}}
                                                    <div class="receipt-images">
                                                        {{#if isImageMode "mask"}}
                                                            {{> mask_photo photo=this callback=maskPhotoCallback }}
                                                        {{else}}
                                                            {{#if isImageMode "crop"}}
                                                                {{> crop_photo photo=this callback=maskPhotoCallback }}
                                                            {{else}}
                                                                {{#if isImageMode "reset"}}
                                                                    {{> loading }}
                                                                {{else}}
                                                                    {{#if isPDF}}
                                                                        <div class="receipt-pdf">
                                                                            <iframe src="{{url}}&.pdf" style="width: 100%; height: 100%;" frameborder="0" scrolling="no">
                                                                            </iframe>
                                                                        </div>
                                                                    {{else}}
                                                                        <div class="receipt-image">
                                                                            {{> zoom_photo photo=this }}
                                                                        </div>
                                                                    {{/if}}
                                                                {{/if}}
                                                            {{/if}}
                                                        {{/if}}
                                                        {{#with compareImage}}
                                                            <div class="compare-image">
                                                                <div class="close-compare-image pull-right">X</div>
                                                                {{> zoom_photo photo=this }}
                                                            </div>
                                                        {{/with}}
                                                    </div>
                                                {{/unless}}
                                            {{/with}}
                                        </div>
                                    {{/if}}
                                    <div class="receipt-sidebar">
                                        {{#if isLocked}}
                                            <div class="receipt-info">
                                                <h3 class="text-center">Receipt: {{receiptNr}}</h3>
                                                <div class="ibox receipt-info" tabindex="-1">
                                                    <div class="ibox-content">
                                                        <h2>Receipt locked</h2>
                                                        <p>
                                                            This receipt is locked by {{getLockUser}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        {{else}}
                                            {{#if isRejecting}}
                                                <div class="receipt-rejections">
                                                    <h3>Reject reasons:</h3>
                                                    {{#each getFilteredReceiptRejections}}
                                                        <div class="i-checks" title="{{description}}">
                                                            <input type="checkbox" name="receiptRejectionIds.{{_id}}"> {{name}}
                                                        </div>
                                                    {{/each}}
                                                </div>
                                                <div class="form-group padding">
                                                    <div class="pretty-checks">
                                                        <input type="checkbox" name="sendTravellerUpdate" id="sendTravellerUpdate" checked="checked">
                                                        <label for="sendTravellerUpdate">Send traveller update about rejection</label>
                                                    </div>
                                                </div>
                                                <div class="receipt-actions">
                                                    <button class="btn btn-default receipt-reject-cancel" accesskey="c" tabindex="1"><u>C</u>ancel</button>
                                                    <button class="btn btn-danger receipt-reject-do" accesskey="R" tabindex="0"><u>R</u>eject</button>
                                                </div>
                                            {{else}}
                                                {{#if getReceiptCheckingNotes.length}}
                                                    <div class="receipt-instructions">
                                                        {{#each getReceiptCheckingNotes}}
                                                            <p>{{this}}</p>
                                                        {{/each}}
                                                    </div>
                                                {{/if}}
                                                <div class="receipt-info">
                                                    <h3 class="text-center receipt-info-header">
                                                        {{#if createdByVattie}}
                                                            <img src="/img/VattyL@3x.png">
                                                        {{/if}}
                                                        <i class="{{getSourceIcon}}"></i>
                                                        Receipt: {{receiptNr}}
                                                    </h3>
                                                    {{#with receiptTypeError}}
                                                        <blockquote class="alert-danger with-icon">
                                                            <i class="icon icon-receiptattention"></i>
                                                            The type of this receipt ({{receiptType.name}}) does not match the forced type of the user ({{travellerType.name}}).
                                                        </blockquote>
                                                    {{/with}}
                                                    {{> receiptInfo receipt=this hideTimeline=true hideIcons=true allowEdit=true hideDetails=true travellerNCP=true hideReceiptDetails=true }}
                                                    {{> receiptTasksModal_form }}
                                                </div>
                                                <div class="receipt-actions">
                                                    <button class="btn btn-info receipt-requeue" accesskey="q" tabindex="110">Re-<u>q</u>ueue</button>
                                                    <button class="btn btn-danger receipt-reject" accesskey="R" tabindex="105"><u>R</u>eject</button>
                                                    {{#unless doubleCheckStatus}}
                                                        <button class="btn btn-warning receipt-double-check" accesskey="2" tabindex="102"><u>2</u> check</button>
                                                        <button class="btn btn-primary receipt-approve" accesskey="o" tabindex="100" disabled="{{changedValues}}"><u>O</u>K</button>
                                                    {{else}}
                                                        <button class="btn btn-primary receipt-approve" accesskey="o" tabindex="100"><u>O</u>K</button>
                                                    {{/unless}}
                                                </div>
                                            {{/if}}
                                        {{/if}}
                                    </div>
                                </div>
                            </form>
                        {{else}}
                            <div class="waiting-for-receipt">
                                <h1>Waiting for next receipt ...</h1>
                                <button class="btn btn-primary close-tasks" accesskey="c"><u>C</u>lose tasks window</button>
                            </div>
                        {{/with}}
                    {{else}}
                        {{> loading }}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
