<template name="receiptTasksModal_form">
    <form class="form" name="receipt-tasks-amount-form">
        <input type="hidden" name="countryId" value="{{countryId}}">
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="receiptTypeId" value="{{receiptTypeId}}"/>
        <table class="table">
            <tr>
                <td colspan="2">
                    <blockquote class="alert-warning change-type cursor-pointer">
                        {{#with getReceiptTypeIcon receiptTypeId}}
                            <i class="{{this}}"></i>
                        {{/with}}
                        {{getReceiptTypeName receiptTypeId}}
                    </blockquote>
                </td>
            </tr>
            {{#if receiptTypeId}}
                {{#each getExtraFields receiptTypeId}}
                    <tr>
                        <td>
                            <label>{{name}}</label>
                        </td>
                        <td>
                            {{#if $eq type 'text'}}
                                <input type="text" name="receiptTypeExtraFields.{{fieldKey}}" class="form-control"
                                       required="{{required}}" disabled="{{isDisabled}}" tabindex="0"
                                       value="{{getExtraFieldValue}}">
                            {{/if}}
                            {{#if $eq type 'number'}}
                                <input type="number" name="receiptTypeExtraFields.{{fieldKey}}" class="form-control"
                                       min="0" step="0.01" required="{{required}}" disabled="{{isDisabled}}"
                                       tabindex="0" value="{{getExtraFieldValue}}">
                            {{/if}}
                            {{#if $eq type 'select'}}
                                <select name="receiptTypeExtraFields.{{fieldKey}}" class="form-control"
                                        required="{{required}}" disabled="{{isDisabled}}" tabindex="0">
                                    {{#each options}}
                                        <option value="{{this}}" selected="{{#if isExtraFieldSelected
                                                                                 ../fieldKey}}selected{{/if}}">{{this}}</option>
                                    {{/each}}
                                </select>
                            {{/if}}
                            {{#if $eq type 'boolean'}}
                                <div class="i-checks-disabled">
                                    <label>
                                        <input type="radio" checked="{{#if $eq getExtraFieldValue "1"}}checked{{/if}}"
                                               value="1" name="receiptTypeExtraFields.{{fieldKey}}" tabindex="0">
                                        <i></i> {{_ "Yes"}}
                                    </label>
                                    <label>
                                        <input type="radio" checked="{{#if $eq getExtraFieldValue "0"}}checked{{/if}}"
                                               value="0" name="receiptTypeExtraFields.{{fieldKey}}" tabindex="0">
                                        <i></i> {{_ "No"}}
                                    </label>
                                </div>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
            {{#if poprId}}
                <tr>
                    <td colspan="2">
                        <blockquote class="alert-warning">
                            <i class="icon icon-qrframe"></i> POPR: {{poprId}}
                        </blockquote>
                    </td>
                </tr>
            {{/if}}
            {{#with similarReceipts}}
                {{> similarReceiptsTr receipts=this}}
            {{/with}}
            <tr>
                <td><label>Purchase Date</label></td>
                <td>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                        <input type="text" name="purchaseDate" class="form-control" required="required" tabindex="1"
                               value="{{formatDate purchaseDate}}" disabled="{{isExternallyDisabled}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>Customs Date</label></td>
                <td>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                        <input type="text" name="customsDate" class="form-control" required="required" tabindex="2"
                               value="{{formatDate customsDate}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>Customs stamp country</label></td>
                <td>
                    <div class="form-group">
                        <select name="customsCountryId" class="form-control" tabindex="3">
                            <option value=""> --</option>
                            {{#each getCountries}}
                                <option value="{{_id}}" selected="{{isSelected ../customsCountryId _id}}">{{name}}
                                    ({{code}})
                                </option>
                            {{/each}}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>Amount</label></td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">{{getCurrencySymbol ../currencyId}}</span>
                        <input type="number" name="amount" placeholder="Total receipt" class="form-control" min="0"
                               step="0.01" required="required" tabindex="4"
                               value="{{#if amount}}{{formatAmount amount}}{{/if}}" disabled="{{isExternallyDisabled}}">
                    </div>
                </td>
            </tr>
            <!--tr>
                <td><label class="col-sm-5">VAT</label></td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">{{getCurrencySymbol ../currencyId}}</span>
                        <input type="number" name="totalVat" placeholder="Fill in the VAT amount" class="form-control" min="0" step="0.01" required="required" tabindex="5" value="{{formatAmount
                    totalVat}}">
                    </div>
                </td>
            </tr-->
            <input type="hidden" name="totalVat" value="{{formatAmount totalVat}}"/>
            {{#if countryId}}
                {{#each getCountryVatRates}}
                    <tr>
                        <td>
                            <label class="">VAT {{description}} ({{rate}}%)</label>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">{{getCurrencySymbol ../currencyId}}</span>
                                <input type="number" name="vat.{{rate}}" class="form-control" min="0" step="0.01"
                                       tabindex="{{index}}" required="required" value="{{formatAmount getVatRateValue}}"
                                       placeholder="Vat on {{rate}}%" disabled="{{isDisabled}}">
                            </div>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="2">
                        <span class="alert-warning">Country Id is not yet set. Cannot show vat rates.</span>
                    </td>
                </tr>
            {{/if}}
            <tr>
                <td colspan="2">
                    <div class="i-checks">
                        <input type="checkbox" name="nonStandardVat" value="1"
                               checked="{{#if nonStandardVat}}checked{{/if}}"/> &nbsp;
                        {{#if nonStandardVat}}
                            <span class="text-danger">VAT is not Standard</span>
                        {{else}}
                            VAT is not Standard
                        {{/if}}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{#if isNatoReceipt}}
                        <span class="text-danger">NATO fee 0%</span>
                    {{else}}
                        {{#with getParentForFees}}
                            {{#if serviceFee}}
                                Fee defined in <a href="/{{#if $eq _type 'shop'}}shop{{else}}company{{/if}}/{{_id}}"
                                                  tabindex="-1">{{name}}</a>
                            {{else}}
                                Default fees
                            {{/if}}
                        {{/with}}
                        ({{getServiceFee}}%, {{getCurrencySymbol}}{{formatAmount getMinServiceFee}}
                        - {{getCurrencySymbol}}{{formatAmount getMaxServiceFee}}) - VAT {{formatCurrency totalVat}}<br/>
                        {{#with getFees}}
                            {{#if deferredServiceFee}}
                                Deferred fees: ({{deferredServiceFee}}%, {{getCurrencySymbol}}{{formatAmount
                                    deferredMinFee}} - {{getCurrencySymbol}}{{formatAmount deferredMaxFee}})
                            {{/if}}
                        {{/with}}
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td><label>Refund</label></td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">{{getCurrencySymbol currencyId}}</span>
                        <input type="number" name="refund" placeholder="" class="form-control" min="0" step="0.01"
                               required="required" tabindex="21" value="{{#if refund}}{{formatAmount refund}}{{/if}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td><label>Fee</label></td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">{{getCurrencySymbol currencyId}}</span>
                        <input type="number" name="serviceFee" placeholder="Fill in the service fee"
                               class="form-control" min="0" step="0.01" required="required" tabindex="22"
                               value="{{formatAmount serviceFee}}">
                    </div>
                </td>
            </tr>
            {{#if deferredServiceFee}}
                <tr>
                    <td><label>Deferred</label></td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">{{getCurrencySymbol currencyId}}</span>
                            <input type="number" name="deferredServiceFee" placeholder="Fill in the service fee"
                                   class="form-control" min="0" step="0.01" required="required" tabindex="22"
                                   value="{{formatAmount deferredServiceFee}}">
                        </div>
                    </td>
                </tr>
            {{/if}}
            {{#if affiliateId}}
                <tr>
                    <td><label>Affiliate fee</label></td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">{{getCurrencySymbol currencyId}}</span>
                            <input type="number" name="affiliateServiceFee" placeholder="Fill in the affiliate fee"
                                   class="form-control" min="0" step="0.01" required="required" tabindex="22"
                                   value="{{formatAmount affiliateServiceFee}}">
                        </div>
                    </td>
                </tr>
            {{/if}}

            <tr class="spacer">
                <td colspan="2"></td>
            </tr>

            <tr>
                <td><label>Currency</label></td>
                <td>
                    <select name="currencyId" class="form-control" required="required" tabindex="23">
                        {{#each getCurrencies}}
                            <option value="{{_id}}" selected="{{isSelected _id ../currencyId}}">{{name}} ({{code}}
                                , {{symbol}})
                            </option>
                        {{/each}}
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <div class="check-remarks">
                        {{#each getCheckRemarks}}
                            <div class="check-remark">
                                <div class="remark-name">
                                    {{name}} - {{formatDateTime date}}
                                </div>
                                <div class="remark">
                                    {{remark}}
                                </div>
                            </div>
                        {{/each}}
                        <textarea name="checkRemark" class="form-control" tabindex="24" row="4"
                                  placeholder="Add remark ..."></textarea>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</template>
