<template name="updateReceiptModal">
    <div id="modal-update-receipt" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <h3 class="m-t-none m-b">Update receipt</h3>
                            <p class="alert-danger">The receipt values will also be updated in the invoice: {{getInvoiceDescription}}</p>
                            <form role="form" name="update-receipt-form">
                                <div class="form-group required">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Purchase Date</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                <input type="text" name="purchaseDate" class="form-control" required="required" tabindex="12" value="{{formatDate purchaseDate}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Customs Date</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                <input type="text" name="customsDate" class="form-control" required="required" tabindex="13" value="{{formatDate customsDate}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label>Receipt amount</label>
                                            <input type="number" name="amount" placeholder="Fill in the receipt amount" class="form-control" min="0" step="0.01" required="required" tabindex="14" value="{{formatAmount amount}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label>VAT amount</label>
                                            <input type="number" name="totalVat" placeholder="Fill in the VAT amount" class="form-control" min="0" step="0.01" required="required" tabindex="15" value="{{formatAmount totalVat}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group required">
                                            <label>Vat</label>
                                            {{#if getCountryId}}
                                                {{#each getCountryVatRates}}
                                                    <div class="row">
                                                        <div class="col-sm-4 text-right">
                                                            <label class="">{{description}} ({{rate}}%)</label>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                                                                <input type="number" name="vat.{{rate}}" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount getVatRateValue}}" placeholder="Vat on {{rate}}%" disabled="{{isDisabled}}" tabindex="{{index}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{/each}}
                                            {{else}}
                                                <span class="alert-warning">Country Id is not yet set. Cannot show vat rates.</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label>Service fee ({{getServiceFee}}%, {{formatAmount getMinServiceFee}} - {{formatAmount getMaxServiceFee}})</label>
                                            <input type="number" name="serviceFee" placeholder="Fill in the service fee" class="form-control" min="0" step="0.01" required="required" tabindex="30" value="{{formatAmount serviceFee}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label>Refund</label>
                                            <input type="number" name="refund" placeholder="Fill in the refund amount" class="form-control" min="0" step="0.01" required="required" tabindex="31" value="{{formatAmount refund}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Customs country</label>
                                    <select name="customsCountryId" class="form-control" tabindex="32">
                                        <option value=""> -- </option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}" selected="{{isSelected _id ../customsCountryId}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Update</strong></button>
                                    <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-update-receipt"><strong>Cancel</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>