#modal-edit-image {
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .modal-body {
            img {
                max-width: 100%; /* This rule is very important, please do not ignore this! */
            }
        }
    }
}
