.info-file {
    width: 100%;
    height: 640px;
    position: relative;

    .file-pdf {
        height: 100%;
    }
    .file-image {
        width: 100%;
        height: 100%;
        padding: 0;
        overflow: auto;

        img.file-zoom {
            width: 100%;
        }

    }
}