.modal {
    &.fullscreen {
        width: 99%;
        height: 99%;
        margin: 5px auto;

        .modal-dialog {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }

    .modal-dialog {

        &.fullscreen {
            width: 99%;
            height: 99%;
            margin: 5px auto;
        }

        .modal-content {
            height: 100%;
            overflow: auto;

            .modal-body {
                height: 100%;
                position: relative;
                line-height: normal;
                color: #545454;
                word-wrap: break-word;

                &.modal-center {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 300;
                }

                &.no-padding {
                    padding: 0;
                }

                i.close-modal {
                    position: absolute;
                    font-size: 26px;
                    top: 12px;
                    right: 12px;
                    cursor: pointer;
                }

                form {
                    height: 100%;
                }

                ul.files {
                    white-space: normal;

                    li {
                        &.divider-icon {
                            position: relative;
                            border: none;
                            border-bottom: 1px solid #979797;
                            height: 16px;
                            margin-bottom: 16px;

                            .icon {
                                position: absolute;
                                color: #4d4d4d;
                                font-size: 40px;
                                top: -4px;
                                left: 0;
                                right: 0;
                                margin-left: auto;
                                margin-right: auto;
                                width: 38px;
                                background-color: #fff;
                            }
                        }

                        &.file {
                            display: inline-table;
                            img {
                                height: auto;
                                max-height: 96px;
                                max-width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}
