#modal-task {
    .modal-dialog {
        width: 99%;
        height: 99%;
        margin: 5px auto;

        .modal-content {
            height: 100%;

            .modal-body {
                height: 100%;
                padding: 0;

                i.close-tasks {
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    cursor: pointer;
                }

                form {
                    height: 100%;
                }

                .task {
                    height: 100%;
                    display: flex;
                    flex-direction: row;

                    .task-left-sidebar {
                        width: 150px;
                        height: 100%;
                        flex-grow: 1;
                        flex-shrink: 0;
                        display: flex;
                        flex-direction: column;
                        overflow-y: scroll;

                        &.large {
                            width: 250px;
                        }
                        &.x-large {
                            width: 400px;
                        }

                        ul.files {
                            text-align: center;
                            padding: 12px;

                            li.file {
                                margin-right: 0;
                                list-style: none;
                                border: none;
                                text-align: center;
                                display: block;

                                .image-container {
                                    img {
                                        border: 1px solid #f0f0f0;
                                        max-width: 126px;

                                    }
                                }

                                .file-icon {
                                    width: 126px;
                                }

                                &.active {
                                    img {
                                        border: 2px solid #0d8ddb;
                                    }
                                }
                            }
                        }
                    }

                    .task-main {
                        flex-grow: 1;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: auto;
                        padding: 20px;

                        &.no-padding {
                            padding: 0;
                        }

                        .waiting-for-task {
                            margin-top: 140px;
                            text-align: center;
                        }

                        .task-instructions {
                            color: #a94442;
                            background-color: #f2dede;
                            border-color: #ebccd1;
                            padding: 8px;
                            flex-shrink: 0;
                            height: auto;

                            p {
                                margin: 0;
                            }
                        }

                        .task-image {
                            flex-grow: 1;
                            width: 100%;
                            padding: 0;
                            overflow: auto;

                            img.zoom-photo {
                                width: 100%;
                            }
                        }

                        .task-pdf {
                            flex: 1;
                            width: 100%;
                            padding: 0;
                        }
                    }

                    .task-sidebar {
                        width: 40%;
                        height: 100%;
                        border-left: 1px solid lightgray;
                        flex-grow: 1;
                        flex-shrink: 0;
                        display: flex;
                        flex-direction: column;
                        overflow-y: scroll;

                        &.normal {
                            width: 400px;
                        }
                        &.large {
                            width: 40%;
                        }
                        &.x-large {
                            width: 50%;
                        }

                        .ibox {
                            max-height: 100%;
                            overflow: auto;
                        }

                        .task-files {
                            padding: 12px;
                            flex: none;
                            ul {
                                li {
                                    list-style: none;
                                    border: none;
                                    text-align: center;
                                    display: inline-block;
                                }
                            }
                        }
                        .task-info {
                            flex: 1 1 auto;
                            align-items: flex-end;
                            overflow: auto;

                            .client-detail {
                                height: auto;
                            }

                            form {
                                padding: 0 20px;

                                table {
                                    tr {
                                        color: #999;
                                        height: auto;

                                        &.spacer {
                                            td {
                                                border-top: none;
                                            }
                                        }

                                        td {
                                            width: 25%;
                                            border-top: 1px solid #e7eaec;
                                            padding: 10px 0;

                                            &:nth-child(2) {
                                                width: 75%;
                                                padding: 6px 0;
                                            }

                                            .input-group-addon {
                                                background-color: #f9f9f9;
                                            }
                                            input {
                                                color: #000;
                                                font-size: 18px;
                                                font-weight: bold;
                                                text-align: right;
                                            }
                                            .select2 {
                                                width: 100% !important;
                                            }
                                            label {
                                                color: #999;
                                                font-weight: normal;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .task-rejections {
                            flex: 1 1 auto;
                            padding: 12px;

                            > div {
                                padding-bottom: 4px;
                            }
                        }
                        .task-actions {
                            flex: none;
                            padding: 12px;
                            text-align: center;
                            background-color: #0d8ddb;
                        }

                        .wrapper {
                            padding: 0;
                            height: 100%;
                            overflow: auto;

                            .client-detail {
                                height: auto;
                            }
                        }
                    }
                }

                .modal-locked {
                    margin: auto;
                    text-align: center;
                    padding-top: 200px;

                    button {
                        margin-top: 100px;
                    }
                }
            }
        }
    }
}
