<template name="view_message_details">
    <div data-page="messagedetails" class="page cached messagedetails">
        <div class="page-content">
            {{#with getMessage}}
                <div class="list-block media-list">
                    <ul>
                        <li>
                            <a class="item-link item-content message-header">
                                <div class="item-media">
                                    <i class="icon icon-actorvattyclient"></i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">{{subject}}</div>
                                    </div>

                                    <div class="item-text">{{formatDateHuman createdAt}}</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            {{> view_message_details_iframe}}
                        </li>
                    </ul>
                </div>
            {{/with}}
        </div>
    </div>
</template>
