<template name="view_message_details_iframe">
    {{!-- <iframe style="width: 100%; margin: 0" frameborder="0" scrolling="no"></iframe> --}}
    <div class="html-email">
        {{{getCleanHtml}}}
    </div>
</template>
