<template name="view_messages">
    <div class="view view-messages">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    {{#if stackSize}}
                        <a class="back link">
                            <span>{{t_ "Back"}}</span>
                        </a>
                    {{/if}}
                </div>
                <div class="center">{{t_ "My messages"}}</div>
                <div class="right info"><a id="main" class="tab-link"><i class="icon icon-info-fill"></i></a></div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="messages" class="page">
                <div class="page-content">
                    {{#with currentUser}}
                        {{#if Template.subscriptionsReady}}
                            <div class="list-block media-list">
                                <ul>
                                    {{#each messages}}
                                        <li>
                                            <a class="item-link item-content open-message {{#if readOn}}read{{/if}}" id="{{_id}}">
                                                <div class="item-media">
                                                    <i class="icon icon-actorvattyclient"></i>
                                                </div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">{{subject}}</div>
                                                    </div>

                                                    <div class="item-text">{{formatDateTime createdAt}}</div>
                                                </div>
                                            </a>
                                        </li>
                                    {{else}}
                                        <li>
                                            <a class="item-content">
                                                <div class="item-media">
                                                    <i class="icon icon-actorvattyclient"></i>
                                                </div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">{{t_ "No messages found"}}</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{else}}
                            <div class="content-block">
                                <p class="center"><span class="preloader"></span></p>
                            </div>
                        {{/if}}
                    {{else}}
                        <div class="page-padding">
                            {{> login }}
                        </div>
                    {{/with}}
                </div>
            </div>
            {{> view_message_details}}
        </div>
        {{#if networkProblem}}
            {{> networkProblems }}
        {{/if}}
        {{> toolbar }}
    </div>
</template>
