<template name="FAQEdit">
    {{#with itemDoc}}
        {{> pageHeading title=name category='FAQs' categoryLink='/faqs' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-12">
                    {{> FAQEditForm }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="FAQEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> FAQ details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-5"> History</a></li>
        </ul>
        <div class="tab-content faq-edit-form">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="Email text name" value="{{name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="description" placeholder="Description of this FAQ">{{description}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">FAQ group</label>
                                <div class="col-sm-10">
                                    <select name="groupId" class="form-control" required="required">
                                        {{#each getFAQGroups}}
                                            <option value="{{_id}}" selected="{{isSelected ../groupId _id}}">{{name.en}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            {{#each getFAQLanguages}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Question {{name}} ({{code}})</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="subject.{{code}}" placeholder="{{name}}" value="{{getSubjectForLanguage}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Answer {{name}} ({{code}})</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="text.{{code}}" placeholder="{{name}}" rows="12">{{getTextForLanguage}}</textarea>
                                    </div>
                                </div>
                            {{/each}}
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    {{> FAQInfo }}
                </div>
            </div>
        </div>
    </div>
</template>
