<template name="FAQList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="sort-header {{isHeaderSorting 'group'}}" data-id="group">Group</th>
                <th class="sort-header {{isHeaderSorting 'name'}}" data-id="name">Name</th>
                <th class="sort-header {{isHeaderSorting 'description'}}" data-id="description">Description</th>
                <th>Missing</th>
            </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each FAQ}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/faq/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td>{{group}}</td>
                <td><a class="client-link">{{name}}</a></td>
                <td>{{description}}</td>
                <td><span class="alert-danger">{{getMissingTranslations}}</span></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
