<template name="vatfree_terms_en">
    <h2>General terms and conditions of vatfree.com</h2>

    <h3>ARTICLE 1 - DEFINITIONS</h3>
    <p>
        The following definitions shall apply in these general terms and conditions:
        <ul>
            <li>vatfree.com: the private limited company formed under the laws of the Netherlands VATfree NL B.V.</li>
            <li>merchant: the legal entity that, on behalf of itself or on behalf of a third party, has given an order to or that has ventured into a cooperation with
            or has received a quotation from vatfree.com</li>
            <li>consumer: the non-EU-traveler in respect to whom the merchant is allowed to apply the zero VAT rate</li>
            <li>records: all items made available to vatfree.com by merchant, including documents or data storage media, and all items produced by
            vatfree.com in executing the assignment, including documents and data storage media.</li>
            <li>assignment: the instruction(s) given by the merchant to vatfree.com to provide support in VAT restitution to consumers, either free of charge or
            for an agreed service fee</li>
        </ul>
    </p>

    <h3>ARTICLE 2 – SCOPE AND AMENDMENT OF THE GENERAL TERMS AND CONDITIONS</h3>
    <p>
        <ol>
            <li>These general terms and conditions apply to all legal relations between vatfree.com and merchant. Any amendments to these terms must be
            expressly confirmed in writing by both parties. The merchant may not rely upon any amendment to or cancellation of one or more of these
                terms and conditions unless this has been expressly confirmed by vatfree.com in writing.</li>
            <li>Deviating or complementing clauses are only valid when they have been expressly accepted in writing by vatfree.com and are only applicable to
            one specific assignment.</li>
            <li>A merchant with whom vatfree.com has contracted under these general terms and conditionsis deemed to have agreed to the applicability of
            these terms and conditions regarding future assignments.</li>
            <li>If one or more of these general terms and conditions are null and/or void, the remaining terms and conditions willstill apply in full. vatfree.com
            and merchant will then consult each other to agree upon new terms and conditions to replace the nullified or void terms and conditions, in
            which case the purpose and essence of the original terms and conditions will be taken into account.</li>
            <li>In case of interpretation of the content and essence of these terms and conditions, the Dutch text is always decisive.</li>
        </ol>
    </p>

    <h3>ARTICLE 3 – COMMISSIONEE, CANCELLATION</h3>
    <p>
        <ol>
            <li>Vatfree.com and consumers are the sole contractual other party in agreements entered into with merchant.</li>
            <li>In case of a contractual relation between merchant and vatfree.com that does not end with the execution of an assignment or a cooperation,
                but is ventured into indefinitely, each of the parties can terminate the contractual relation in writing at the end of a calendar month with a
                three-month notice period.</li>
        </ol>
    </p>

    <h3>ARTICLE 4 - ASSIGNMENT, PROVISION OF INFORMATION BY MERCHANT</h3>
    <p>
        <ol>
            <li>Merchant is obliged to make available all information which vatfree.com considers necessary for the correct performance of the activities
            assigned to it and/or which the merchant knows or could reasonably know that vatfree.com needsfor the correct performance of the activities
            assigned to it in the form, in the quantity, and in the manner asrequired by vatfree.com, and moreover in such due time that vatfree.com is able
            to execute the assignment without delays. The merchant is obliged to provide vatfree.com with all information and records which vatfree.com
            needs in order to be able to comply with general regulations relating to the performance of its business activities, such as tax regulations.</li>
            <li>Except where precluded by the content or nature of the assignment, the merchant warrants the accuracy, completeness and reliability of the
            information made available to vatfree.com, even where that information originates from a third party. Except where precluded by the content
            of the assignment, vatfree.com shall not be obliged to perform a specific investigation into the accuracy and completeness of the information
            provided by the merchant.</li>
            <li>The merchant shall notify vatfree.com immediately and in full of any facts or circumstances which the merchant knows or could reasonably be
            expected to know are or could be of importance for the execution of the assignment by vatfree.com.</li>
            <li>If the merchant, other than through the action of vatfree.com, failsto comply with its obligations arising from paragraphs 1 to 3 inclusive of this
            Article and as a result vatfree.com incurs additional costs and work or other loss or damage, the merchant shall be obliged to reimburse
            vatfree.com for such costs, extra work and loss.</li>
            <li>Additional fees and costs arising from any delay in the execution of the assignment due to the merchant failing to provide the necessary
            information and records either on time or in the proper manner shall be borne by the merchant.</li>
            <li>In the event where vatfree.com, after having realized the VAT restitution on behalf of the consumer, isrequested by the merchant to provide
            him with original purchase receipts, vatfree.com will supply these to the merchant by registered mail within six (6) weeks on receiving the
            request. Vatfree.com will save such documents for a period of seven years after the end of the financial year that the VAT restitution was
            realized in, after which vatfree.com is entitled to destroy the documents.</li>
            <li>In case the merchants’ purchase receipt does not meet the legal regulations as necessary to realize the VAT restitution, the merchant allows
            vatfree.com to make additions to the purchase receipt, recreate the purchase receipt according to the outsourcing directive or to apply
            self-billing if instructed by the consumer. Both possibilities are directives and have been implemented in the Dutch VAT Law 1968. A copy of the
            amended purchase receipt will be sent to the merchant for the completion of his own administration.</li>
        </ol>
    </p>

    <h3>ARTICLE 5 - EXECUTION OF THE ASSIGNMENT</h3>
    <p>
        <ol>
            <li>Assignments shall be executed on the basis of a reasonably skilled and diligently acting Professional. Vatfree.com shall not however guarantee
            attainment of the envisaged result of an assignment, nor can she be held liable for not reaching the envisaged result.</li>
            <li>Unless agreed otherwise explicitly and in writing, vatfree.com shall not be obliged to have the assignment executed by the person(s) employed
            at or by vatfree.com which the merchant had in mind when awarding the assignment. The assignment shall not end in the event of the
            temporary or permanent unavailability of that person or those persons.</li>
            <li>Execution of the assignment may not be transferred in whole or in part to a third party unlessthis has been agreed between the merchant and
            vatfree.com.</li>
            <li>In the event of an assignment with accurately defined activities, vatfree.com shall not carry out any additional work nor charge the merchant for
            any such work unless this has been agreed in advance with the merchant.</li>
        </ol>
    </p>

    <h3>ARTICLE 6 - DEADLINES</h3>
    <p>
        Unless explicitly agreed otherwise, deadlines for the performance of activities shall be no more than targets . Unless (further) execution of the
        assignment is indisputably impossible, vatfree.com shall only be in default for the exceeding deadlines if, after vatfree.com has been given a
        reasonable term in writing for the performance and completion of the activities after exceeding the original deadline, the performance of the
        activities has still not been completed following the expiry of this second deadline due to circumstances attributable to vatfree.com.
    </p>

    <h3>ARTICLE 7 - INTELLECTUAL PROPERTY</h3>
    <p>
        <ol>
            <li>Vatfree.com reserves all rights with respect to the intellectual property which it uses or has used in the execution of the merchant’s assignment,
                in so far as such rights are vested by law.</li>
            <li>The merchant is expressly forbidden to duplicate, disclose or exploit intellectual products, including vatfree.com leaflets, in writing or otherwise,
            all in the broadest sense of the word and irrespective of whether third parties are involved.</li>
        </ol>
    </p>

    <h3>ARTICLE 8 - FEE</h3>
    <p>
        <ol>
            <li>Unless expressly agreed otherwise in writing, the assignment shall not be charged to merchant. For any other activitiesthat do not involve VAT
            restitution, merchant is obliged to pay a fee as per the rates mentioned in the agreement and/or quotation.</li>
            <li>Vatfree.com is entitled to change her fees on January 1st each year. In the event of alteration of the fees vatfree.com will inform the merchant
            without delay, and/or will send the merchant an overview of the altered fees without delay.</li>
            <li>If fees are subject to change after the contract has been entered into but before the assignment is completed, vatfree.com shall be entitled to
            adjust the agreed rate accordingly, unless agreed otherwise by the merchant and vatfree.com. In the event of an increase of feesthe merchant
            is entitled to complain within fourteen (14) days after reception of the list of altered fees. If the merchant does not complain in a timely manner
            he will be deemed to have agreed with the altered fees.</li>
            <li>The amount owed to vatfree.com is invoiced to the merchant by choice of vatfree.com on a monthly, quarterly or yearly basis, unless both
            parties have otherwise agreed upon. In the event where VAT needs to be charged, the VAT is mentioned separately on the invoice.</li>
        </ol>
    </p>

    <h3>ARTICLE 9 - PAYMENT</h3>
    <p>
        <ol>
            <li>Payment of amounts owed by the merchant to vatfree.com shall be effected without deduction, discount or set off, by transferring the owed
            amount into a bank account to be provided by vatfree.com and, unless agreed otherwise, in euro’s. Aslong as no other term has been agreed
            upon, the transferal needs to have taken place within fourteen (14) days from the date of invoice.</li>
            <li>Overdue payments shall attract interest of 1% per month, parts of a month being counted asfull months. In addition, all costs, both judicial and
            extrajudicial, which vatfree.com is forced to incur in order to collect amounts which the merchant unjustly fails to pay, shall be borne by the
            merchant. Moreover vatfree.com can suspend all activities carried out and to be carried out, on behalf of the merchant until full payment has
            been received.</li>
            <li>All payments made by the merchant will first be used to settle all outstanding interest and costs, and secondly to settle the oldest collectable
            invoices, even if the merchant mentions that the payment is made with regard to a more recent invoice.</li>
            <li>If the financial position or payment behavior of the merchantso imply as per the judgement of vatfree.com, the latter is entitled to request the
            merchant to supply her with immediate (additional) security in a form vatfree.com seesfit. In case the merchant failsto provide the requested
            security, vatfree.com is free to stop further execution of the agreement, and everything owed by the merchant to vatfree.com, on whatever
            account, is immediately claimable.</li>
        </ol>
    </p>

    <h3>ARTICLE 10 - COMPLAINTS</h3>
    <p>
        <ol>
            <li>Complaints by the merchant on the grounds of a defect orshortcoming attributable to vatfree.com in the execution of an assignment are barred
            if the merchant has not notified vatfree.com of that defect orshortcoming in writing within sixty days after it has discovered or could reasonably
            have been expected to discover the defect and in any event after one year has expired since the action or omission took place which gave rise to the defect.</li>
            <li>Complaints as referred to in the first paragraph shall not suspend the payment obligation of the merchant.</li>
        </ol>
    </p>

    <h3>ARTICLE 11 - LIABILITY FOR LOSS</h3>
    <p>
        <ol>
    <li>If vatfree.com is obliged to reimburse the merchant for loss suffered by the merchant, vatfree.com shall be obliged to reimburse the lossto a
    maximum of three times the reimbursement or the VAT restitution owed by or would be owed by the merchant for the (part-) assignment or
    (part-) assignments of which the activitiesform part that have led to the loss. If the liability for the lossis covered by an insurance, vatfree.com’s
    liability shall under no circumstances exceed the payment received under the insurance, augmented by the excess agreed by vatfree.com under
    the insurance.</li>
    <li>Vatfree.com shall not be obliged to reimburse loss:
        <ol type="a">
            <li>Caused by third parties involved in an assignment awarded to vatfree.com, unlessthose third parties were involved in the execution of the
            assignment on the initiative of vatfree.com and the merchant demonstrates that vatfree.com failed to act with due care in the selection of
            the third parties concerned;</li>
            <li>Which is the result of incorrect or incomplete information provided by the merchant or a third party, unless the incorrectness or
            incompleteness could have been undoubtly clear for vatfree.com and vatfree.com failed to notify the merchant of that incorrectness or
            incompleteness;</li>
            <li>Which is the result of damage or loss of information during the transport of information by post or in any other way between vatfree.com
            and the merchant or between one of them and third parties;</li>
            <li>Which arises because third parties have acquired unauthorized accessto information concerning the merchant, for example by intercepting
            e-mail messages, intercepting other forms of electronic information transfer or gaining access to computer systems;</li>
            <li>Which is not reported in writing within sixty days after the merchant has discovered or could reasonably have discovered the onset of the
            loss and/or the potential onset of (further) loss, and in any event which is not reported in writing within one year after the action or
            omission which caused the loss.</li>
        </ol>
    </li>
    <li>Vatfree.com may also rely upon the provisionsset out in paragraphs 1 and 2 of this Article if the merchant enforces a claim which has passed to
    it from a third party or which belongs to that third party and which relates to loss arising from an event for which vatfree.com is legally liable.</li>
    <li>The professionals, the legal persons retained by those professionals in connection with their activities for vatfree.com, and any other persons
    involved in the execution of assignments awarded by the merchant to vatfree.com may also rely upon the provisions of paragraphs 1, 2 and 3 of
    this Article.</li>
    <li>The restrictions of liability referred to in paragraphs 1 and 2 of this Article shall not apply to vatfree.com itself or to the professionalsif they are
    guilty of an intentional act or omission or of deliberate recklessness.</li>
        </ol>
    </p>

    <h3>ARTICLE 12 - INDEMNITY</h3>
    <p>
        <ol>
            <li>The merchant shall indemnify vatfree.com against claims from third parties which relate to an event for which vatfree.com can be held liable
            vis-à-vis the merchant, at least in so far as vatfree.com does not have to pay more compensation to those third partiesthan it would have had to
            pay to the merchant if vatfree.com itself had been held liable for that loss. The indemnification shall also extend to the costs of defense against
                such claims.</li>
            <li>In the event that a third party holds a professional, the legal person retained by that professional in connection with the professional’s activities
            for vatfree.com and/or another person involved in assisting in the execution of an assignment awarded to vatfree.com by the merchant for loss
            in connection with an event for which vatfree.com can be held at liable vis-à-visthe merchant, the merchantshall indemnify each of them in full
            against such claim, including the costs of defense against that claim.</li>
        </ol>
    </p>

    <h3>ARTICLE 13 – NON-DISCLOSURE AND PRIVACY</h3>
    <p>
        <ol>
            <li>Parties will not disclose any confidential information which they have acquired from each other or from third parties in the execution of their
            agreement. Information is deemed to be confidential if it has been specified as such by the other party or if this arisesfrom the nature of the
            information, the law or legal precedents.</li>
            <li>Vatfree.com respects the privacy of all users of her website. All information that is collected from the website will be treated confidentially.
            Vatfree.com does not sell personal information to third parties and will only provide third parties with thisinformation ifshe islegally obliged to
            do so or if it is necessary for execution of the assignment.</li>
            <li>Marketing information will only be provided in compliance with the applicable (privacy) law and legislation.</li>
            <li>Vatfree,com uses cookies to recognize visitors of her website as a tool to improve her services. Vatfree.com always processesinformation she
            collects through these cookies anonymously.</li>
        </ol>
    </p>

    <h3>ARTICLE 14 – FINAL PROVISIONS</h3>
    <p>
        <ol>
            <li>All legal relationships between the merchant and vatfree.com shall be governed exclusively by Dutch law.</li>
            <li>All disputes between the merchant and vatfree.com shall be placed before the Amsterdam Dutch civil court.</li>
            <li>The provisions of paragraphs 1 and 2 of this Article shall also apply to any legal relationships and disputes between the merchant and a
            professional, a legal person retained by that professional in connection with the activitiesfor vatfree.com, or a person involved in assisting in the
            execution of an assignment granted by the merchant to vatfree.com.</li>
        </ol>
    </p>

    <p>
        <strong>
            This document is a translation of the Dutch original of the General Terms and Conditions of VATfree NL B.V. Although the greatest care has been
            taken to render the Dutch version in English as accurately as possible, if the Dutch and English version differ, the Dutch version is leading.
        </strong>
    </p>
</template>
