<template name="vatfree_terms_nl">
    <h2>Algemene voorwaarden vatfree.com</h2>

    <p>
        <b>ARTIKEL 1 - BEGRIPPEN</b><br/>
        In deze algemene voorwaarden wordt verstaan onder:<br/>
        <ul>
            <li>vatfree.com: de besloten vennootschap VATfree NL B.V.</li>
            <li>merchant: de (rechts)persoon die, hetzij voor zichzelf, hetzij voor derden, aan vatfree.com een opdracht (heeft) verstrekt of met wie vatfree.com een samenwerking is aangegaan of tot wie vatfree.com een offerte heeft gericht</li>
            <li>particulier: de niet EU-reiziger ten aanzien waarvan merchant gerechtigd is het btw nultarief toe te passen</li>
            <li>bescheiden: alle door merchant aan vatfree.com ter beschikking gestelde zaken, waaronder stukken of gegevensdragers, alsmede alle in het kader van de uitvoering van de opdracht door vatfree.com vervaardigde zaken, waaronder stukken of gegevensdragers.</li>
            <li>opdracht: de opdracht van de merchant aan vatfree tot het tegen betaling of om niet verlenen van diensten op het gebied van btw-restitutie aan particulieren</li>
        </ul>
    </p>

    <p>
        <b>ARTIKEL 2 - TOEPASSELIJKHEID EN WIJZIGING VAN DE ALGEMENE VOORWAARDEN</b><br/>
        <ol>
            <li>Deze algemene voorwaarden zijn van toepassing op alle rechtsbetrekkingen tussen vatfree.com en merchant. Wijzigingen in deze voorwaarden dienen door beide partijen uitdrukkelijk en schriftelijk te zijn bevestigd. Op wijziging of verval van een of meer algemene voorwaarden kan merchant zich slechts beroepen indien van de instemming van vatfree.com daarmee uitdrukkelijk uit een geschrift blijkt.</li>
            <li>Afwijkende of aanvullende bedingen en eventuele algemene voorwaarden van de merchant gelden slechts indien en voor zover deze uitdrukkelijk door vatfree.com schriftelijk zijn aanvaard en hebben slechts betrekking op één specifieke opdracht.</li>
            <li>Een merchant met wie eenmaal onder de onderhavige voorwaarden is gecontracteerd wordt geacht stilzwijgend akkoord te zijn met de toepasselijkheid van deze voorwaarden op toekomstige opdrachten.</li>
            <li>Indien een of meerdere bepalingen in deze algemene voorwaarden nietig zijn of vernietigd mochten worden, blijven de overige bepalingen van deze algemene voorwaarden volledig van toepassing. vatfree.com en merchant zullen alsdan in overleg treden teneinde nieuwe bepalingen ter vervanging van de nietige c.q. vernietigde bepalingen overeen te komen, waarbij indien en voor zover mogelijk het doel en de strekking van de oorspronkelijke bepaling in acht worden genomen.</li>
    <li>Ingeval van uitleg van de inhoud en strekking van deze algemene voorwaarden, is de Nederlandse tekst daarvan steeds bepalend.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 3 – OPDRACHTNEMER, OPZEGGING</b><br/>
        <ol>
            <li>Tegenover merchant geldt alleen vatfree.com als de contractuele wederpartij bij de overeenkomst(en) die met merchant wordt/worden gesloten.</li>
            <li>Ingeval van een contractuele relatie tussen merchant en Vatfree.com, welke relatie niet eindigt met de uitvoering van een bepaalde opdracht of samenwerking, maar voor onbepaalde duur is aangegaan, kan ieder van de partijen die contractuele relatie schriftelijk tegen het einde van een kalendermaand opzeggen met inachtneming van een opzegtermijn van drie (3) maanden.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 4 - OPDRACHT, INFORMATIEVERSCHAFFING DOOR MERCHANT</b><br/>
        <ol>
            <li>Merchant is gehouden om alle informatie, die vatfree.com aangeeft nodig te hebben voor het correct kunnen uitvoeren van de haar verleende opdracht en/of waarvan merchant weet of redelijkerwijs kan weten dat vatfree.com die informatie nodig heeft voor het correct kunnen uitvoeren van de haar verleende opdracht, ter beschikking te stellen in de vorm, in het veelvoud en op de wijze als door vatfree.com gewenst en bovendien zo tijdig dat vatfree.com de opdracht zonder vertraging kan uitvoeren. Merchant is tevens gehouden om aan vatfree.com al die informatie en bescheiden te verstrekken, die vatfree.com nodig heeft om algemene voorschriften betreffende de uitoefening van haar ondernemingsactiviteiten, bijvoorbeeld de voorschriften van de belastingdienst, te kunnen naleven.</li>
            <li>Merchant staat - voor zover niet duidelijk uit de inhoud of aard van de opdracht anders voortvloeit - tegenover vatfree.com in voor de juistheid, volledigheid en betrouwbaarheid van de aan vatfree.com ter beschikking gestelde informatie, ook indien deze informatie van een derde afkomstig is. Tenzij uit de inhoud van de opdracht anders voortvloeit, is vatfree.com niet gehouden een gericht onderzoek te doen naar de juistheid en volledigheid van de door merchant verstrekte informatie.</li>
            <li>Doen zich feiten of omstandigheden voor waarvan merchant weet of redelijkerwijs kan weten dat zij voor de uitvoering door vatfree.com van de opdracht van belang (kunnen) zijn, dan stelt merchant vatfree.com van die feiten en omstandigheden onverwijld volledig in kennis.</li>
            <li>Indien merchant - anders dan door toedoen van vatfree.com - tekortschiet in de naleving door merchant van de in de leden 1 tot en met 3 genoemde verplichtingen en daaruit voor vatfree.com extra kosten en werkzaamheden voortvloeien of anderszins schade ontstaat, dan is merchant gehouden die kosten, extra werkzaamheden en schade aan vatfree.com te vergoeden.</li>
            <li>De uit de vertraging in de uitvoering van de opdracht voortvloeiende extra kosten, ontstaan door het niet, niet tijdig of niet behoorlijk ter beschikking stellen van de verlangde informatie en bescheiden, zijn voor rekening van merchant.</li>
            <li>Indien vatfree.com nadat zij de btw-restitutie voor de particulier heeft gerealiseerd, een verzoek ontvangt van de merchant om de originele aankoopbewijzen aan hem te doen toekomen, zal vatfree.com deze binnen zes (6) weken na ontvangst van dit verzoek per aangetekende post aan de merchant toezenden. Vatfree.com zal dergelijke documenten gedurende zeven jaar na het einde van het boekjaar waarin de btw-restitutie is gerealiseerd, bewaren. Na afloop van deze termijn is vatfree.com gerechtigd deze documenten te vernietigen.</li>
            <li>Indien het aankoopbewijs van de merchant niet voldoet aan de wettelijke bepalingen zoals benodigd om de btw-restitutie te realiseren, stelt de merchant vatfree.com in staat om het aankoopbewijs aan te vullen,  opnieuw op te stellen met behulp van de richtlijn outsourcing of in opdracht van de particulier het self-billing toe te passen. Beide zijn richtlijnen en geïmplementeerd in de Wet op de Omzetbelasting 1968. Een kopie van het aangevulde aankoopbewijs zal naar de merchant worden toegestuurd ter aanvulling van zijn eigen administratie.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 5 - UITVOERING VAN DE OPDRACHT</b><br/>
        <ol>
            <li>Opdrachten worden uitgevoerd op de voet van een redelijk bekwaam en zorgvuldig handelende ondernemer. Vatfree.com garandeert echter niet het met een opdracht beoogde resultaat en kan niet aansprakelijk gesteld worden voor het niet bereiken van een bepaald resultaat.</li>
            <li>Tenzij uitdrukkelijk en schriftelijk anders is overeengekomen, is vatfree.com niet verplicht de opdracht te doen uitvoeren door de bij of voor vatfree.com werkzame persoon/personen, met het oog op wie de merchant de opdracht heeft verstrekt. De opdracht eindigt niet bij tijdelijke of blijvende ontstentenis van deze persoon/personen.</li>
            <li>De uitvoering van de opdracht kan geheel of gedeeltelijk worden opgedragen aan een derde, niet dan nadat daarover tussen merchant en vatfree.com overeenstemming is bereikt.</li>
            <li>Ingeval van een opdracht met goed omlijnd beschreven werkzaamheden, zal vatfree.com meerwerk niet uitvoeren of aan merchant in rekening brengen dan nadat daarover met merchant vooraf overeenstemming is bereikt.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 6 - TERMIJNEN</b><br/>
        <ol>
            <li>Termijnen voor het uitvoeren van werkzaamheden zijn, tenzij uitdrukkelijk anders is overeengekomen, slechts streeftermijnen. Tenzij (verdere) uitvoering van de opdracht ontwijfelbaar onmogelijk is, zal vatfree.com slechts wegens termijnoverschrijding in verzuim geraken, indien, nadat aan vatfree.com na de termijnoverschrijding schriftelijk een redelijke termijn voor het uitvoeren en voltooien van de werkzaamheden is gesteld, na het verstrijken van die nadere termijn de uitvoering van de werkzaamheden om aan vatfree.com toe te rekenen omstandigheden nog niet is voltooid.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 7 - INTELLECTUELE EIGENDOM</b><br/>
        <ol>
            <li>Vatfree.com behoudt zich alle rechten voor met betrekking tot producten van de geest welke zij gebruikt of heeft gebruikt in het kader van de uitvoering van de opdracht van merchant, voor zover deze uit de wet voortvloeien.</li>
            <li>Het is merchant verboden zonder uitdrukkelijke schriftelijke toestemming van vatfree.com die producten, waaronder mede zijn begrepen de leaflets van vatfree.com, al dan niet met inschakeling van derden te verveelvoudigen, te openbaren of te exploiteren.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 8 - HONORARIUM</b><br/>
        <ol>
            <li>Voor de opdracht is, tenzij uitdrukkelijk schriftelijk anders is overeengekomen, merchant geen vergoeding verschuldigd. Voor eventuele overige werkzaamheden buiten de btw-restitutie om, is merchant een vergoeding verschuldigd conform de in overeenkomst en/of offerte vermelde tarieven.</li>
            <li>Vatfree.com is gerechtigd de door haar gehanteerde tarieven jaarlijks op 1 januari te wijzigen. Bij wijziging van haar tarieven informeert vatfree.com merchant onverwijld hierover, c.q. stuurt vatfree.com onverwijld aan merchant een overzicht van de gewijzigde tarieven.</li>
            <li>Indien na de totstandkoming van de overeenkomst, doch voordat de opdracht geheel is uitgevoerd, tarieven een wijziging ondergaan, is Vatfree.com gerechtigd het overeengekomen tarief dienovereenkomstig aan te passen, tenzij merchant en vatfree.com hierover andere afspraken hebben gemaakt. Ingeval van een verhoging van de tarieven is merchant binnen een termijn van veertien (14) dagen vanaf de ontvangst van de lijst met gewijzigde tarieven gerechtigd te reclameren. Bij gebreke van tijdige reclamatie wordt merchant geacht stilzwijgend met de gewijzigde tarieven akkoord te zijn gegaan</li>
            <li>Hetgeen aan vatfree.com is verschuldigd wordt naar keuze van vatfree.com per maand, per kwartaal, per jaar of na volbrenging van de werkzaamheden aan merchant in rekening gebracht, tenzij merchant en vatfree.com hierover andere afspraken hebben gemaakt. Indien btw over de vergoeding dient te worden berekend, wordt de omzetbelasting afzonderlijk in rekening gebracht.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 9 - BETALING</b><br/>
        <ol>
            <li>Betaling van hetgeen merchant aan Vatfree.com is verschuldigd, dient te geschieden zonder aftrek, korting of schuldverrekening, door bijschrijving van het verschuldigde bedrag op een door Vatfree.com aan te geven bankrekening en, tenzij anders is overeengekomen, in euro's. Voor zover geen andere termijn is overeengekomen, dient de bijschrijving te hebben plaatsgevonden binnen veertien (14) dagen na de datum van verzending van de factuur.</li>
            <li>Bij niet tijdige betaling is over het openstaande bedrag een rente verschuldigd van 1% per maand, met een minimum van € 50, waarbij een gedeelte van de maand geldt als een volle maand. Verder komen alle kosten, gerechtelijke zowel als buitengerechtelijke, die vatfree.com dient te maken ter incasso van hetgeen merchant ten onrechte onbetaald laat, voor rekening van merchant. Bovendien is vatfree.com bevoegd alle werkzaamheden voor merchant, waaronder het verstrekken van informatie aan merchant, op te schorten zolang geen volledige betaling is ontvangen.</li>
            <li>De door merchant gedane betalingen strekken steeds ter afdoening in de eerste plaats van alle verschuldigde rente en kosten, en in de tweede plaats van opeisbare facturen die het langst open staan, zelfs al vermeldt merchant dat de betaling betrekking heeft op een latere factuur.</li>
            <li>Indien de financiële positie of het betalingsgedrag van merchant naar het oordeel van vatfree.com daartoe aanleiding geeft, is vatfree.com gerechtigd van merchant te verlangen dat deze onverwijld (aanvullende) zekerheid stelt in een door vatfree.com te bepalen vorm. Indien merchant nalaat de verlangde zekerheid te stellen, is vatfree.com gerechtigd, onverminderd haar overige rechten, de verdere uitvoering van de overeenkomst onmiddellijk op te schorten en is al hetgeen merchant aan vatfree.com, uit welke hoofde ook, is verschuldigd, direct opeisbaar.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 10 - RECLAMES</b><br/>
        <ol>
            <li>Merchant kan op een aan vatfree.com toe te rekenen gebrek of tekort in de uitvoering van een opdracht geen beroep meer doen indien hij niet binnen zestig dagen nadat hij het gebrek heeft ontdekt of redelijkerwijs heeft kunnen ontdekken, schriftelijk aan vatfree.com heeft gemeld en in ieder geval niet meer nadat een jaar is verstreken sinds het handelen of nalaten, waaruit het gebrek is voortgevloeid, heeft plaatsgevonden.</li>
            <li>Reclames als in het eerste lid bedoeld, schorten de betalingsverplichting van merchant niet op.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 11 - AANSPRAKELIJKHEID VOOR SCHADE</b><br/>
        <ol>
            <li>Indien vatfree.com jegens merchant gehouden is tot vergoeding van door deze geleden schade, is vatfree.com gehouden de schade te vergoeden voor een bedrag van maximaal drie maal het bedrag van de vergoeding of het btw-restitutiebedrag die merchant verschuldigd is of zou zijn voor die (deel)opdracht(en), waarvan de werkzaamheden onderdeel uitmaken die tot de schade hebben geleid. Ingeval de aansprakelijkheid voor de schade onder een verzekering is gedekt, zal de aansprakelijkheid van vatfree.com in geen geval hoger zijn dan de uitkering die onder de verzekering wordt verkregen. Voor gevolgschade, zoals winstderving, is vatfree.com nimmer aansprakelijk.</li>
            <li>Vatfree.com is niet gehouden schade te vergoeden:
                <ol type="a">
                    <li>die is veroorzaakt door derden, die bij de uitvoering van een opdracht aan vatfree.com zijn betrokken, tenzij het een derde betreft die op initiatief van vatfree.com bij de uitvoering van de opdracht is betrokken en merchant aantoont dat Vatfree.com bij de keuze van de derde niet zorgvuldig heeft gehandeld;</li>
                    <li>die het gevolg is van van merchant of een derde afkomstige onjuiste of onvolledige informatie, tenzij de onjuistheid of onvolledigheid voor vatfree.com zonder meer duidelijk had kunnen zijn en vatfree.com heeft nagelaten merchant van die onjuistheid of onvolledigheid in kennis te stellen;</li>
                    <li>die het gevolg is van beschadiging of verlies van informatie tijdens het transporteren van informatie per post of anderszins tussen vatfree.com en merchant of tussen een van hen en derden;</li>
                    <li>die ontstaat doordat derden zich ongeautoriseerd toegang verschaffen tot informatie betreffende merchant, bijvoorbeeld door het onderscheppen van e-mailberichten of andere vormen van elektronische overbrenging van informatie of het binnendringen in computersystemen;</li>
                    <li>die niet schriftelijk is gemeld binnen zestig dagen nadat merchant het ontstaan van schade en/of het kunnen ontstaan van (verdere) schade heeft ontdekt of redelijkerwijs heeft kunnen ontdekken en in ieder geval niet de schade die niet schriftelijk is gemeld binnen een jaar nadat het handelen of nalaten dat de schade heeft veroorzaakt, heeft plaatsgevonden.</li>
                </ol>
            </li>
            <li>Op het in de leden 1 en 2 bepaalde kan vatfree.com zich tegenover merchant ook beroepen indien merchant een schadevordering geldend maakt, die van een derde op hem is overgegaan of aan die derde toebehoort en die betrekking heeft op schade uit een gebeurtenis waarvoor vatfree.com rechtens aansprakelijk is.</li>
            <li>Op het in de leden 1, 2 en 3 bepaalde kunnen zich tegenover merchant ook beroepen derden die bij de uitvoering van door merchant aan vatfree.com verstrekte opdrachten zijn betrokken.</li>
            <li>De in de leden 1 en 2 van dit artikel opgenomen beperkingen van aansprakelijkheid gelden niet voor vatfree.com indien haar ter zake het ontstaan van de schade opzet of bewuste roekeloosheid valt te verwijten.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 12 - VRIJWARING</b><br/>
        <ol>
            <li>Merchant vrijwaart vatfree.com tegen een schadevordering van een derde, die verband houdt met een gebeurtenis waarvoor vatfree.com jegens merchant aansprakelijk is te houden, althans voor zover vatfree.com aan die derde meer vergoeding heeft te betalen dan hij aan merchant zou hebben hoeven te betalen ingeval hij vatfree.com zelf in verband met de schade tot vergoeding zou hebben aangesproken. De vrijwaring betreft ook de kosten van verweer tegen die vorderingen.</li>
            <li>Ingeval de derde een andere bij de uitvoering van een door merchant aan vatfree.com verstrekte opdracht betrokken hulppersoon tot vergoeding van schade aanspreekt in verband met een gebeurtenis waarvoor vatfree.com jegens merchant aansprakelijk is te houden, vrijwaart merchant ieder van hen ten volle tegen deze schadevordering, inclusief de kosten die aan het verweer tegen deze schadevordering zijn verbonden.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 13 - GEHEIMHOUDING EN PRIVACY</b><br/>
        <ol>
            <li>Partijen zijn verplicht tot geheimhouding van alle vertrouwelijke informatie die zij in het kader van hun overeenkomst van elkaar of uit andere bron hebben verkregen. Informatie geldt als vertrouwelijk als deze door de andere partij als zodanig is aangeduid of als dit voortvloeit uit de aard van de informatie, de wet of jurisprudentie.</li>
            <li>Vatfree.com respecteert de privacy van alle gebruikers van haar website. Alle informatie die door middel van de website wordt verzameld zal vertrouwelijk worden behandeld. Vatfree.com verkoopt geen persoonlijke informatie aan derden en zal deze informatie alleen aan derden verschaffen als dit verplicht is bij wet of noodzakelijk is om haar werkzaamheden uit te voeren.</li>
            <li>Marketing informatie wordt slechts verstrekt met inachtneming van de geldende (privacy) wet- en regelgeving.</li>
            <li>Ter verbetering van haar dienstverlening maakt vatfree.com gebruik van cookies om de bezoekers van haar website te herkennen wanneer deze de website van vatfree.com bezoeken. vatfree.com behandelt via de cookies verzamelde informatie te allen tijde anoniem.</li>
        </ol>
    </p>

    <p>
        <b>ARTIKEL 14 - SLOTBEPALINGEN</b><br/>
        <ol>
            <li>Op alle rechtsverhoudingen van merchant met vatfree.com is uitsluitend Nederlands recht van toepassing.</li>
            <li>Alle geschillen tussen merchant en vatfree.com worden uitsluitend beslecht door de bevoegde Nederlandse burgerlijke rechter.</li>
            <li>Het in de leden 1 en 2 bepaalde geldt eveneens voor eventuele rechtsverhoudingen en geschillen van merchant met een bij de uitvoering van een door merchant aan vatfree.com verstrekte opdracht betrokken hulppersoon.</li>
        </ol>
    </p>
</template>
