<template name="dashboard_count_receipts_last_weeks">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h1 class="m-b-xs">{{numberOfReceipts}}</h1>
                <h3 class="font-bold no-margins">
                    Receipts last 12 weeks
                </h3>
            </div>
            <div class="lineChartDiv" style="height: 344px">
            </div>
        </div>
    </div>
</template>
