<template name="dashboard_duration_last_months">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h3 class="font-bold no-margins">
                    Duration of receipts to payment last {{months}} months - {{#if partners}}partners{{else}}non partners{{/if}}
                </h3>
            </div>
            <div class="lineChartDiv" style="height: 344px">
            </div>
        </div>
    </div>
</template>
