<template name="dashboard_money_receipts_last_weeks">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h1 class="m-b-xs">
                    Omzet {{formatCurrency totalFee}}
                    <small>
                        - total vat {{formatCurrency totalVat}} - refunds {{formatCurrency totalRefund}} - winkel omzet {{formatCurrency totalRevenue}}
                    </small>
                </h1>
                <h3 class="font-bold no-margins">
                    Moneys last 12 weeks
                </h3>
            </div>
            <div class="lineChartDiv" style="height: 344px">
            </div>
        </div>
    </div>
</template>
