<template name="dashboard_partner_receipts_last_weeks">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h3 class="font-bold no-margins">
                    Partnership status of receipts last 12 weeks ({{attribute}})
                </h3>
            </div>
            <div class="lineChartDiv" style="height: 344px">
            </div>
        </div>
    </div>
</template>
