<template name="dashboard_table_receipts_chart_per_week">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h3 class="font-bold no-margins">
                    Number of receipts per week - {{attr}}
                </h3>
            </div>
            <div class="lineChartDiv" style="height: 344px">
            </div>
        </div>
    </div>
</template>
