<template name="receiptInfo">
    <div class="ibox receipt-info" tabindex="-1">
        <div class="ibox-content">
            {{#if Template.subscriptionsReady}}
                {{#with receipt}}
                    <div class="tab-content {{#if ../allowEdit}}allow-edit{{/if}}">
                        <div id="contact-1" class="tab-pane active">
                            <div class="receipt-task-traveller-card">
                                {{#with getTraveller}}
                                    {{> travellerCard }}
                                {{/with}}
                            </div>
                            {{#with getShop}}
                                <div class="receipt-task-shop-card">
                                    {{> shopCard addHideButtons }}
                                </div>
                            {{/with}}
                            <div class="client-detail">
                                <div class="full-height-scroll">
                                    {{#if isStatus 'deleted' status}}
                                        <blockquote class="alert-danger">
                                            Receipt was deleted
                                        </blockquote>
                                    {{/if}}
                                    <strong>Receipt summary</strong>
                                    <ul class="list-group clear-list">
                                        <li class="list-group-item fist-item">
                                            <span class="pull-right">
                                                {{receiptNr}}
                                            </span>
                                            Nr
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                {{archiveCode}}
                                            </span>
                                            Archive code
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                {{archiveBox}}
                                            </span>
                                            Archive box
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                {{getReceiptTypeName receiptTypeId}}
                                            </span>
                                            Type
                                        </li>
                                            <li class="list-group-item">
                                                <span class="pull-right">
                                                    <i class="{{getReceiptIcon}}"></i> {{_ status}}
                                                </span>
                                            Status
                                            {{#if isStatusIn 'rejected,notCollectable' status}}
                                                {{> receiptRejectionList receiptRejectionIds=receiptRejectionIds }}
                                            {{/if}}
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                <i class="{{getSourceIcon}}"></i> {{_ getSourceDescription}}
                                            </span>
                                            Source
                                        </li>
                                        {{#if invoiceId}}
                                            <li class="list-group-item">
                                                <span class="pull-right">
                                                    {{getInvoiceDescription}}
                                                </span>
                                                Invoice
                                            </li>
                                        {{/if}}
                                        {{#if affiliatePayoutId}}
                                            <li class="list-group-item">
                                                <span class="pull-right">
                                                    {{affiliatePayoutId}}
                                                </span>
                                                Payout
                                            </li>
                                        {{/if}}

                                        <li class="list-group-item">
                                            <span class="pull-right"> {{formatDate purchaseDate}} </span>
                                            Purchase date
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                {{formatDate customsDate}}
                                                {{#if customsCountryId}}
                                                    / {{getCountryName customsCountryId}}
                                                {{/if}}
                                            </span>
                                            Customs date
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                {{formatCurrency amount}}
                                            </span>
                                            Receipt amount
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> {{formatCurrency totalVat}} </span>
                                            Total VAT
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                {{formatCurrency refund}}
                                            </span>
                                            Refund
                                        </li>
                                        {{#if affiliateServiceFee}}
                                            <li class="list-group-item">
                                                <b>
                                                    <span class="pull-right">
                                                        {{formatCurrency affiliateServiceFee}}
                                                    </span>
                                                    Affiliate fee
                                                </b>
                                            </li>
                                        {{/if}}
                                        {{#if originalsCheckedAt}}
                                            <li class="list-group-item">
                                                <span class="pull-right"> {{formatDateTime originalsCheckedAt}}
                                                    {{#if originalsCheckedBy}}
                                                        / {{getUserName originalsCheckedBy}}
                                                    {{/if}}
                                                </span>
                                                Originals in
                                            </li>
                                        {{/if}}
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                {{formatDateTime createdAt}}
                                                {{#if createdBy}} / {{getUserName createdBy}}{{/if}}
                                            </span>
                                            Added
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                {{formatDateTime updatedAt}} / {{getUserName updatedBy}}
                                            </span>
                                            Updated
                                        </li>
                                        {{#if reminders}}
                                            <li class="list-group-item">
                                                Reminders<br/>
                                                {{#each reminders}}
                                                    <div class="text-right">
                                                        {{type}}: {{formatDateTime sentAt}}
                                                    </div>
                                                {{/each}}
                                            </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/with}}
            {{else}}
                {{> loading }}
            {{/if}}
        </div>
    </div>
</template>
