<template name="affiliate_receipts">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                <div class="ibox" tabindex="{{#if receiptTasks}}-1{{/if}}{{#if addingItem}}-1{{/if}}">
                    <div class="ibox-content">
                        <h2>Receipts</h2>
                        <div class="input-group">
                            <input type="text" placeholder="Search receipt" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s" tabindex="-1">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn btn-primary" tabindex="-1"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                            </span>
                        </div>
                        <div class="input-group filter-icons">
                            <span class="label-filter-group">
                                {{#each getReceiptStatusOptions}}
                                    <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getReceiptIcon this}}"></i></span>
                                {{/each}}
                            </span>
                        </div>
                        {{#with getReceiptStats}}
                            <div class="list-aggregates">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td># receipts: {{count}}</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Total VAT: {{formatCurrency vat}}</td>
                                        <td>Service Fees: {{formatCurrency fee}}</td>
                                    </tr>
                                    <tr>
                                        <td>Refunds: {{formatCurrency refund}}</td>
                                        <td><b>Affiliate Fee: {{formatCurrency affiliateFee}}</b></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        {{/with}}
                        <div class="clients-list item-list receipts-list">
                            {{#if initialLoadDone}}
                                <div class="full-height-scroll">
                                    <div class="table-responsive item-list infinite-scrolling">
                                        {{> receiptsList receipts=getReceipts includeHeader=true sorting=getSorting hideButtons=true hideServiceFee=true showAffiliatefee=true }}
                                    </div>
                                </div>
                            {{else}}
                                {{> loading }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{#with getActiveItem}}
                <div class="col-sm-4">
                    {{> receiptInfo receipt=this showImages=true showActions=true }}
                </div>
            {{/with}}
        </div>
    </div>
</template>
