<template name="addInvoiceModal">
    <div id="modal-add-invoice" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <h3 class="m-t-none m-b">Create invoice from open receipts</h3>
                            <p>Deselect the receipts you want to exclude from the invoice</p>
                            <form role="form" name="add-invoice-form">
                                <input type="hidden" name="shopId" value="{{shopId}}">
                                <input type="hidden" name="companyId" value="{{companyId}}">
                                {{> receiptsList receipts=getReceipts includeHeader=true hideButtons=true selectable=true }}
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Add</strong></button>
                                    <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-add-invoice"><strong>Cancel</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>