<template name="createInvoicesModal">
    {{#taskModal options=getOptions}}
        {{#if gettingReceipts}}
            Gathering rececipts for invoicing ...
            {{> loading }}
        {{else}}
            <div class="invoice-tasks padding">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        {{#if getReceiptGroups.length}}
                            <h3 class="m-t-none m-b">Create invoices from open receipts</h3>
                            <p>
                                <span class="pull-right">
                                    <a href="#" class="select-all-global">All</a> | <a href="#" class="select-none-global">None</a>
                                </span>
                                Deselect the receipts you want to exclude from the invoices
                            </p>
                            {{#each getReceiptGroups}}
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <span class="pull-right">
                                            <a href="#" class="select-all">All</a> | <a href="#" class="select-none">None</a>
                                        </span>
                                        <h5>
                                            {{#if isCompany}}
                                                <i class="icon icon-companies"></i>
                                                {{#with getCompany}}
                                                    {{getCompanyDescription _id}}
                                                {{/with}}
                                            {{else}}
                                                <i class="icon icon-shops"></i>
                                                {{#with getShop}}
                                                    {{getShopDescription _id}}
                                                {{/with}}
                                            {{/if}}
                                        </h5>
                                    </div>
                                    <div class="ibox-content">
                                        {{> receiptsList receipts=getReceipts includeHeader=false hideButtons=true selectable=true allSelected=true disableClicks=true showBillingErrors=true hideTotal=true }}
                                    </div>
                                </div>
                            {{/each}}
                            <div class="pull-right">
                                <button class="btn btn-sm btn-default m-t-n-xs close-tasks"><strong>Cancel</strong></button>
                                <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Create invoices</strong></button>
                            </div>
                        {{else}}
                            <div class="waiting-for-task">
                                <h1>No receipts to invoice ...</h1>
                                <button class="btn btn-primary close-tasks" accesskey="c"><u>C</u>lose tasks window</button>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/if}}
    {{/taskModal}}
</template>
