<template name="createInvoicesModal_sidebar">
    {{#with getReceipt}}
        <div class="wrapper">
            {{> receiptInfo receipt=this showImages=true }}
        </div>
    {{else}}
        <div class="wrapper padding">
            {{#if gettingReceipts}}
                {{> loading }}
            {{else}}
                Click on a receipt to see the details.
            {{/if}}
        </div>
    {{/with}}
</template>

<template name="createInvoicesModal_sidebar_files">
    {{#each getReceiptGroups}}
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    {{#if isCompany}}
                        <i class="icon icon-companies"></i>
                        {{#with getCompany}}
                            {{getCompanyDescription _id}}
                        {{/with}}
                    {{else}}
                        <i class="icon icon-shops"></i>
                        {{#with getShop}}
                            {{getShopDescription _id}}
                        {{/with}}
                    {{/if}}
                </h5>
            </div>
            <div class="ibox-content">
                {{#each getReceipts}}
                    {{#each getReceiptFiles}}
                        <div class="file-box">
                            <div class="file">
                                <a href="#" tabindex="-1">
                                    <span class="corner"></span>
                                    <div class="image">
                                        <a href="{{url}}" target="_blank" data-featherlight="{{#if isImage}}{{url}}{{/if}}">
                                            {{#if isImage}}
                                                <div class="image-container">
                                                    <img src="{{url store='vatfree-thumbs' uploading='/img/uploading.gif' storing='/img/storing.gif'}}">
                                                </div>
                                            {{else}}
                                                <img src="{{url store='vatfree-thumbs'}}" error="/icons/512px/{{getExtension}}.png" class="file-icon"/>
                                            {{/if}}
                                        </a>
                                    </div>
                                    <div class="file-name">
                                        {{../receiptNr}}
                                        <br>
                                        <small>{{original.name}}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            </div>
        </div>
    {{/each}}
</template>