<template name="invoice_credit_control">
    {{#if Template.subscriptionsReady}}
        {{#each getGroups}}
            <div class="group-name">
                <h2>
                    {{#if $eq type "shop"}}
                        <i class="icon icon-shops"></i>
                    {{else}}
                        <i class="icon icon-companies"></i>
                    {{/if}}
                    <span class="partnership-status-logo">
                        <img src="/Logos/{{getPartnershipStatusLogo}}" />
                    </span>
                    <a href="/{{#if $eq type "shop"}}shop{{else}}company{{/if}}/{{id}}">{{groupName}}</a>
                </h2>
            </div>
            {{> invoicesList invoices=getInvoices hideEntity=true includeHeader=false includeStaticHeader=true }}
        {{/each}}
    {{else}}
        {{> loading }}
    {{/if}}
</template>
