<template name="debtCollection">
    <div class="page invoices">
        {{> pageHeading title='Debt collection' category='Invoices' categoryLink='/invoices' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            {{> debtCollection_details }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="debtCollection_details">
    {{#with debtCollection}}
        <div class="pull-right">
            <a class="btn btn-info btn-icon save-debt-collection" href="#" accesskey="d"><i class="icon icon-download"></i><u>D</u>ownload</a>
            <a class="btn btn-info btn-icon save-debt-collection-xml" href="#" accesskey="x"><i class="icon icon-download"></i>Download <u>X</u>ML</a>
        </div>
        <h2>Debt collection: {{debtCollectionNumber}}</h2>
<textarea style="width: 100%; height: 640px;">"Iban Geincasseerde","Mandaat ID",NLVAT_total,"VTB: VTB no.",Shoplookup,"INCA: INCA Name","shop name","TO (T.A.V.)",date
{{#each debtCollectionLines}}"{{debtCollectionAccount}}","{{debtCollectionMandate}}","{{formatAmount amount}}","{{getInvoiceNr}}","{{shopName}}","{{../debtCollectionNumber}}","{{billingName}}","{{recipientName}}","{{formatDate ../createdAt "DD/MM/YYYY"}}"
{{/each}}</textarea>
    {{/with}}
</template>
