<template name="invoiceEdit">
    {{#with invoiceDoc}}
        {{> pageHeading title=invoiceNr category='Invoices' categoryLink='/invoices' }}
        <div class="wrapper wrapper-content">
            {{#if Template.subscriptionsReady}}
                <div class="row">
                    <div class="col-sm-8">
                        {{> invoiceEditForm addActiveReceiptId }}
                    </div>
                    <div class="col-sm-4">
                        {{#if activeReceiptId}}
                            {{#with getSelectedReceipt}}
                                <h1>Receipt: {{receiptNr}}</h1>
                                {{> receiptInfo receipt=this showImages=true }}
                            {{/with}}
                        {{else}}
                            {{> invoiceInfo invoice=this showImages=true }}
                        {{/if}}
                    </div>
                </div>
            {{else}}
                {{> loading }}
            {{/if}}
        </div>
    {{/with}}
</template>

<template name="invoiceEditForm">
    {{#if settingNotCollectable}}
        {{> invoiceSetNotCollectable invoiceId=_id }}
    {{/if}}
    {{#if Template.subscriptionsReady}}
        <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Invoice details</a></li>
            <li><a data-toggle="tab" href="#tab-2"> Invoice receipts</a></li>
            <li><a data-toggle="tab" href="#tab-4"> Invoice payments</a></li>
            <li><a data-toggle="tab" href="#tab-3"> Activity</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form role="form" name="edit-invoice-form">
                            <div class="form-group">
                                {{#if companyId}}
                                    <label class="col-sm-2 control-label">Company</label>
                                    {{#with getCompany companyId}}
                                        {{#with billingEntityDoc}}
                                            <div class="col-sm-8">
                                                <select name="companyId" class="form-control" disabled="true">
                                                    <option value="{{../_id}}" selected="selected">{{getCompanyDescription ../_id}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2">
                                                <button class="btn btn-sm btn-info update-to-billing-entity"><strong>Change to parent</strong></button>
                                            </div>
                                        {{else}}
                                            <div class="col-sm-10">
                                                <select name="companyId" class="form-control" disabled="true">
                                                    <option value="{{_id}}" selected="selected">{{getCompanyDescription _id}}</option>
                                                </select>
                                            </div>
                                        {{/with}}
                                    {{/with}}
                                {{else}}
                                    <label class="col-sm-2 control-label">Shop</label>
                                    {{#with getShop shopId}}
                                        {{#with billingEntityDoc}}
                                            <div class="col-sm-8">
                                                <select name="shopId" class="form-control" disabled="true">
                                                    <option value="{{../_id}}" selected="selected">{{getShopDescription ../_id}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2">
                                                <button class="btn btn-sm btn-info update-to-billing-entity"><strong>Change to parent</strong></button>
                                            </div>
                                        {{else}}
                                            <div class="col-sm-10">
                                                <select name="shopId" class="form-control" disabled="true">
                                                    <option value="{{_id}}" selected="selected">{{getShopDescription _id}}</option>
                                                </select>
                                            </div>
                                        {{/with}}
                                    {{/with}}
                                {{/if}}
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Invoice Date</label>
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="invoiceDate" class="form-control" required="required" value="{{formatDate invoiceDate}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">Payment terms</label>
                                <div class="col-sm-4">
                                    <input type="text" name="paymentTerms" class="form-control" required="required" value="{{paymentTerms}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            {{#if type}}
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label">Type</label>
                                    <div class="col-sm-10">
                                        <select name="type" class="form-control" required="required" disabled="true">
                                            {{#each getInvoiceTypes}}
                                                <option value="{{this}}" selected="{{isSelected this ../type}}">{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            {{/if}}
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Currency</label>
                                <div class="col-sm-4">
                                    <select name="currencyId" class="form-control" required="required" disabled="true">
                                        {{#each getCurrencies}}
                                            <option value="{{_id}}" selected="{{isSelected _id ../currencyId}}">{{name}} ({{code}}, {{symbol}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Language</label>
                                <div class="col-sm-4">
                                    <select name="language" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#each getShopLanguages}}
                                            <option value="{{code}}" selected="{{isLanguageSelected ../language}}">{{en}} ({{name}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Invoice amount</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol}}</span>
                                        <input type="number" name="amount" placeholder="Fill in the invoice amount" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount amount}}" disabled="true">
                                    </div>
                                </div>
                                {{#if euroAmount}}
                                    <label class="col-sm-2 control-label">Euro amount</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">&euro;</span>
                                            <input type="number" name="amount" placeholder="Fill in the invoice amount" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount euroAmount}}" disabled="true">
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">VAT amount</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol}}</span>
                                        <input type="number" name="totalVat" placeholder="Fill in the VAT amount" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount totalVat}}" disabled="true">
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">Refund</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol}}</span>
                                        <input type="number" name="refund" placeholder="Fill in the refund amount" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount refund}}" disabled="true">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Service fee</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">{{getCurrencySymbol}}</span>
                                        <input type="number" name="serviceFee" placeholder="Fill in the service fee" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount serviceFee}}" disabled="true">
                                    </div>
                                </div>
                                {{#if deferredServiceFee}}
                                    <label class="col-sm-2 control-label">Deferred fee</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">{{getCurrencySymbol}}</span>
                                            <input type="number" name="deferredServiceFee" placeholder="Fill in the service fee" class="form-control" min="0" step="0.01" required="required" value="{{formatAmount deferredServiceFee}}" disabled="true">
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                            {{#unless deleted}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-{{#if showPromisedToPay}}7{{else}}10{{/if}}">
                                        <select name="status" class="form-control" required="required" disabled="true">
                                            {{#each getInvoiceStatusOptions}}
                                                <option value="{{this}}" selected="{{isStatus this}}">{{_ this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    {{#if showPromisedToPay}}
                                        <div class="col-sm-3">
                                            <button class="btn btn-sm btn-info m-t-n-xs invoice-promise-to-pay" disabled="{{disableButtons}}"><strong>Promised to pay</strong></button>
                                        </div>
                                    {{/if}}
                                </div>
                                {{#if isStatus 'promisedToPay' status}}
                                    {{#if promisedAt}}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Promised at</label>
                                            <div class="col-sm-10">
                                                {{formatDate promisedAt}}
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/if}}

                                {{#if isStatus 'notCollectable' status}}
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-10">
                                            {{> receiptRejectionList receiptRejectionIds=receiptRejectionIds }}
                                        </div>
                                    </div>
                                {{/if}}
                            {{/unless}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="notes" placeholder="Notes about this invoice">{{notes}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Files</label>
                                {{#if getFiles.count}}
                                    <div class="col-sm-10">
                                        <ul class="files">
                                            {{#each getFiles}}
                                                <li class="file" id="{{_id}}">
                                                    {{#unless this.isUploaded}}
                                                        {{> FS.UploadProgressBar bootstrap=true}}
                                                    {{else}}
                                                        {{#if fileCopiesUploaded this}}
                                                            <a href="{{this.url}}" target="_blank">
                                                                <img src="/icons/512px/{{this.getExtension}}.png" class="file-icon"/>
                                                                <div class="name">{{this.original.name}}</div>
                                                            </a>
                                                        {{else}}
                                                            {{> storing_file }}
                                                        {{/if}}
                                                        <i class="icon icon-cross delete-file"></i>
                                                    {{/unless}}
                                                </li>
                                            {{/each}}
                                            {{#unless type}}
                                                <il>
                                                    {{#unless imagesPDFExists}}
                                                        {{#if creatingImagesPDF}}
                                                            {{> loading }}
                                                        {{else}}
                                                            <button class="btn btn-sm btn-info invoice-create-pdf-images"><strong>Create Images PDF</strong></button>
                                                        {{/if}}
                                                    {{/unless}}
                                                </il>
                                            {{/unless}}
                                        </ul>
                                    </div>
                                {{else}}
                                    <div class="col-sm-10">
                                        {{#if creatingPDF}}
                                            {{> loading }}
                                        {{else}}
                                            <button class="btn btn-sm btn-info invoice-create-pdf"><strong>Create PDF</strong></button>
                                        {{/if}}
                                    </div>
                                {{/if}}
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Online link</label>
                                <div class="col-sm-10" style="word-break: break-all">
                                    <a href="{{getOnlineLink}}">{{getOnlineLink}}</a>
                                </div>
                            </div>
                            <div class="text-right">
                                {{#if deleted}}
                                    <button class="btn btn-sm btn-default m-t-n-xs cancel" disabled="{{disableButtons}}"><strong>Close</strong></button>
                                {{else}}
                                    <button class="btn btn-sm btn-default m-t-n-xs cancel" disabled="{{disableButtons}}"><strong>Cancel</strong></button>
                                    {{#if isStatus 'toCheck'}}
                                        <button class="btn btn-sm btn-danger m-t-n-xs invoice-delete" disabled="{{disableButtons}}"><strong>Delete invoice</strong></button>
                                        <button class="btn btn-sm btn-info m-t-n-xs invoice-check-is-ok" disabled="{{disableButtons}}"><strong>Invoice is OK</strong></button>
                                    {{else}}
                                        {{#if isStatus 'new'}}
                                            <button class="btn btn-sm btn-info m-t-n-xs invoice-ready-to-send" disabled="{{disableButtons}}"><strong>Ready to send</strong></button>
                                        {{/if}}
                                        {{#if isStatus 'readyToSend'}}
                                            <button class="btn btn-sm btn-info m-t-n-xs invoice-reopen" disabled="{{disableButtons}}"><strong>Reopen invoice</strong></button>
                                            <button class="btn btn-sm btn-info m-t-n-xs invoice-already-sent" disabled="{{disableButtons}}"><strong><i class="icon icon-vtbsend"></i> Mark invoice as sent </strong></button>
                                            <button class="btn btn-sm btn-warning m-t-n-xs invoice-send" disabled="{{disableButtons}}"><strong><i class="icon icon-vtbsend"></i> Send invoice</strong></button>
                                        {{/if}}
                                        {{#if $or (isStatus 'sentToRetailer') (isStatus 'promisedToPay')}}
                                            <button class="btn btn-sm btn-warning m-t-n-xs invoice-resend" disabled="{{disableButtons}}"><strong><i class="icon icon-vtbsend"></i> Re-send invoice</strong></button>
                                            {{#unless $eq type 'credit'}}
                                                <button class="btn btn-sm btn-warning m-t-n-xs invoice-send-reminder" disabled="{{disableButtons}}"><strong><i class="icon icon-vtbsend"></i> Send reminder invoice</strong></button>
                                                <button class="btn btn-sm btn-danger m-t-n-xs invoice-not-collectable" disabled="{{disableButtons}}"><strong><i class="icon icon-vtbnoncollectable"></i> Not collectable </strong></button>
                                            {{/unless}}
                                        {{/if}}
                                        {{#if isStatus 'partiallyPaid'}}
                                            <button class="btn btn-sm btn-warning m-t-n-xs invoice-mark-paid-difference" disabled="{{disableButtons}}"><strong><i class="icon icon-payments"></i> Mark as paid</strong></button>
                                        {{/if}}
                                        {{#if isStatus 'paymentDifference'}}
                                            <button class="btn btn-sm btn-warning m-t-n-xs invoice-mark-paid-difference" disabled="{{disableButtons}}"><strong><i class="icon icon-payments"></i> Mark as paid</strong></button>
                                            <button class="btn btn-sm btn-warning m-t-n-xs invoice-mark-paid-payback" disabled="{{disableButtons}}"><strong><i class="icon icon-payments"></i> Mark as paid, create payback</strong></button>
                                        {{/if}}
                                        {{#if isStatus 'notCollectable'}}
                                            <button class="btn btn-sm btn-warning m-t-n-xs invoice-mark-collectable" disabled="{{disableButtons}}"><strong><i class="icon icon-vtbnoncollectable"></i> Mark invoice as collectable </strong></button>
                                        {{/if}}
                                        {{#if canDelete}}
                                            <button class="btn btn-sm btn-danger m-t-n-xs invoice-delete" disabled="{{disableButtons}}"><strong>Delete invoice</strong></button>
                                        {{/if}}
                                        {{#if showCreateDebtCollection}}
                                            <button class="btn btn-sm btn-info m-t-n-xs create-debt-collection" disabled="{{disableButtons}}"><strong>Create debt collection</strong></button>
                                        {{/if}}
                                        {{#if allowCreateCredit}}
                                            <button class="btn btn-sm btn-warning m-t-n-xs credit-invoice" disabled="{{disableButtons}}"><strong>Create Credit invoice</strong></button>
                                        {{/if}}
                                    {{/if}}
                                    <button class="btn btn-sm btn-primary m-t-n-xs" type="submit" disabled="{{disableButtons}}"><strong>Update invoice</strong></button>
                                {{/if}}
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                {{> activityLogTab activityLogs=getActivityLog invoiceId=_id shopId=shopId companyId=companyId }}
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> paymentsList payments=getPayments includeHeader=true invoiceId=_id }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> receiptsList receipts=getReceipts includeHeader=true sorting=getReceiptSorting selectable=true activeItem=activeReceiptId }}
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-sm btn-warning m-t-n-xs invoice-mark-receipts-paid" disabled="{{disableButtons}}"><strong><i class="icon icon-receipt"></i> Mark as paid</strong></button>
                            <button class="btn btn-sm btn-danger m-t-n-xs invoice-mark-receipts-unpaid" disabled="{{disableButtons}}"><strong><i class="icon icon-receipt"></i> Mark as unpaid</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>
