<template name="invoicesFilteredList">
    <div class="input-group filter-icons">
        <span class="label-filter-group">
            {{#each getInvoiceStatusOptions}}
                <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getInvoiceIcon this}}"></i></span>
            {{/each}}
        </span>
        <span class="label-filter-group">
            <span class="filter-icon salesforce-filter-icon {{#if isActiveSalesforceFilter}}active{{/if}} {{#if isInactiveSalesforceFilter}}inactive{{/if}}" title="Salesforce receipt">
                <img src="/img/salesforce.svg" />
            </span>
        </span>
    </div>
    <div class="clients-list item-list invoices-list">
        <div class="table-responsive item-list">
            {{> invoicesList invoices=getInvoices sorting=sorting includeHeader=includeHeader activeItem=activeItem }}
        </div>
    </div>
</template>
