<template name="invoiceInfo">
    <div class="ibox invoice-info">
        <div class="ibox-content">
            {{#with invoice}}
            <div class="row m-b-lg">
                <div class="col-sm-12">
                    <h2>
                        {{#if salesforceId}}
                            <img src="/img/salesforce.svg" style="height: 18px; margin-top: -12px; margin-bottom: -10px;" />
                        {{/if}}
                        Invoice: {{invoiceNr}}
                    </h2>
                    <h4>Invoice date: {{formatDate invoiceDate}}</h4>
                </div>
            </div>
            {{#if companyId}}
                {{#with getCompany}}
                    {{> companyCard }}
                {{/with}}
            {{else}}
                {{#with getShop}}
                    {{> shopCard }}
                {{/with}}
            {{/if}}
            <div class="client-detail">
                <div class="full-height-scroll">
                    <strong>Invoice summary</strong>
                    <ul class="list-group clear-list">
                        <li class="list-group-item fist-item">
                            <span class="pull-right">
                                {{#if deleted}}
                                    <span class="text-danger">{{_ "Deleted"}}</span>
                                {{else}}
                                    <i class="{{getInvoiceIcon}}"></i> {{_ status}}
                                {{/if}}
                            </span>
                            Status
                            {{#if isStatus 'notCollectable' status}}
                                {{> receiptRejectionList receiptRejectionIds=receiptRejectionIds }}
                            {{/if}}
                        </li>
                        {{#if isStatus 'promisedToPay' status}}
                            {{#if promisedAt}}
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDate promisedAt}} </span>
                                    Promised at
                                </li>
                            {{/if}}
                        {{/if}}
                        {{#if type}}
                            <li class="list-group-item">
                                <span class="pull-right"> {{type}} </span>
                                Type
                            </li>
                        {{/if}}
                        {{#if referenceInvoiceId}}
                            <li class="list-group-item">
                                <span class="pull-right"> <a href="/invoice/{{referenceInvoiceId}}">{{getReferenceInvoiceNr}}</a> </span>
                                Reference invoice
                            </li>
                        {{/if}}
                        <li class="list-group-item">
                            <span class="pull-right"> {{receiptIds.length}} </span>
                            Number of receipts
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right">
                                {{formatCurrency amount}}
                                {{#if euroAmount}}
                                    ({{formatCurrency euroAmount 2 "euro"}})
                                {{/if}}
                            </span>
                            Total invoice amount
                        </li>
                        {{#if isStatus 'partiallyPaid' status}}
                            <li class="list-group-item">
                                <strong class="text-danger">
                                    <span class="pull-right"> {{formatCurrency getOpenInvoiceAmount}} </span>
                                    Open invoice amount
                                </strong>
                            </li>
                        {{/if}}
                        {{#if isStatus 'paymentDifference' status}}
                            <li class="list-group-item">
                                <strong class="text-danger">
                                    <span class="pull-right"> {{formatCurrency getOpenInvoiceAmount}} </span>
                                    {{#if $gt getOpenInvoiceAmount 0}}
                                        Over paid amount
                                    {{else}}
                                        Under paid amount
                                    {{/if}}
                                </strong>
                            </li>
                        {{/if}}
                        <li class="list-group-item">
                            <span class="pull-right"> {{formatCurrency totalVat}} </span>
                            Total VAT
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right"> {{formatCurrency refund}} </span>
                            Refund
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right"> {{formatCurrency serviceFee}} </span>
                            Service fee
                        </li>
                        {{#if deferredServiceFee}}
                            <li class="list-group-item">
                                <span class="pull-right"> {{formatCurrency deferredServiceFee}} </span>
                                Deferred service fee
                            </li>
                        {{/if}}
                        <li class="list-group-item">
                            <span class="pull-right"> {{formatDate createdAt}} </span>
                            Date added
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right"> {{formatDate invoiceDate}} </span>
                            Invoice date
                        </li>
                        <li class="list-group-item">
                            <span class="pull-right"> {{formatDate dueDate}} </span>
                            Due date
                        </li>
                        {{#if invoiceSent}}
                            <li class="list-group-item">
                                <span class="pull-right"> {{formatDateTime invoiceSent}} </span>
                                Invoice sent
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right"> {{daysOpen}} </span>
                                Days open
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right"> {{sendBy}} </span>
                                Sent by
                            </li>
                        {{/if}}
                        {{#if paidAt}}
                            <li class="list-group-item">
                                <span class="pull-right"> {{formatDateTime paidAt}} </span>
                                Paid at
                            </li>
                        {{/if}}
                        {{#if reminderSent}}
                            <li class="list-group-item">
                                <span class="pull-right"> {{formatDateTime reminderSent}} </span>
                                Reminder sent
                            </li>
                        {{/if}}
                        {{#if reminder2Sent}}
                            <li class="list-group-item">
                                <span class="pull-right"> {{formatDateTime reminder2Sent}} </span>
                                Reminder 2 sent
                            </li>
                        {{/if}}
                        {{#if remindersStop}}
                            <li class="list-group-item">
                                <span class="pull-right"> {{formatDateTime remindersStop}} </span>
                                Reminders stop
                            </li>
                        {{/if}}
                        {{#with getDebtCollectionLines}}
                            <li class="list-group-item">
                                Debt collection lines
                                <div class="text-right">
                                    {{#each this}}
                                        {{debtCollectionMandate}}: {{formatCurrency amount 2 currencyId}}<br/>
                                    {{/each}}
                                </div>
                            </li>
                        {{/with}}
                        {{#with getDebtCollection}}
                            <li class="list-group-item">
                                Debt collection
                                <div class="text-right">
                                    {{#each this}}
                                        <a href="/invoice/debt-collection/{{_id}}">{{debtCollectionNumber}}</a><br/>
                                    {{/each}}
                                </div>
                            </li>
                        {{/with}}
                        {{#with getPaybackLines}}
                            <li class="list-group-item">
                                Payback lines
                                <div class="text-right">
                                    {{#each this}}
                                        {{paybackAccount}}: {{formatCurrency amount 2 currencyId}}<br/>
                                    {{/each}}
                                </div>
                            </li>
                        {{/with}}
                        {{#with getPayback}}
                            <li class="list-group-item">
                                <span class="pull-right"> <a href="/invoice/payback/{{_id}}">{{paybackNumber}}</a> </span>
                                Payback
                            </li>
                        {{/with}}
                        {{#if ../showImages}}
                            {{#if getFiles.count}}
                                <li class="list-group-item">
                                    <ul class="files invoice-files">
                                        {{#each getFiles}}
                                            <li class="file">
                                                {{#unless this.isUploaded}}
                                                    {{> FS.UploadProgressBar bootstrap=true}}
                                                {{else}}
                                                    {{#if fileCopiesUploaded this}}
                                                        {{> directUrlFile fileObj=this }}
                                                    {{else}}
                                                        {{> storing_file }}
                                                    {{/if}}
                                                {{/unless}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            {{/if}}
                        {{/if}}
                    </ul>
                    {{#if notes}}
                        <strong>Notes</strong>
                        <p>
                            {{notes}}
                        </p>
                    {{/if}}
                    {{> traveller_last_receipts travellerId=false title="Invoice receipts" limit=1000 filter=getInvoiceReceiptsFilter hideFiles=true }}
                    <hr/>
                    <strong>Edit history</strong>
                    <div id="vertical-timeline" class="vertical-container dark-timeline">
                        {{#each getActivity}}
                            {{> activityTimelineItem }}
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
</template>
