<template name="invoices">
    <div class="page invoices">
        {{#if creatingInvoices}}
            {{> createInvoicesModal }}
        {{/if}}
        <div class="wrapper wrapper-content">
            <div class="row">
                {{#if showImports}}
                    {{> imports subType='invoices' title='Invoice imports' }}
                {{else}}
                    <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right text-right">
                                <a class="btn btn-info btn-icon invoice-create-new" href="#" accesskey="c"><i class="icon icon-create"></i><u>C</u>reate Invoices</a>
                                <a class="btn btn-info btn-icon invoice-credit-control {{#if invoiceCreditControl}}active{{/if}}" href="#" accesskey="r"><i class="icon icon-create"></i>C<u>r</u>edit control</a>
                                <a class="btn btn-info btn-icon debt-collection-new" href="#" accesskey="d" disabled="{{#unless getDebtCollectionLines.count}}true{{/unless}}"><i class="icon icon-moneyexchange"></i><u>D</u>ebt collection ({{getDebtCollectionLines.count}})</a>
                                <a class="btn btn-info btn-icon payback-new" href="#" accesskey="p" disabled="{{#unless getPaybackLines.count}}true{{/unless}}"><i class="icon icon-moneyexchange"></i><u>P</u>ayback ({{getPaybackLines.count}})</a>
                                <a class="btn btn-warning btn-icon invoice-send-all" disabled="{{#unless getStatsCount 'invoicesToSend'}}true{{/unless}}"><i class="icon icon-vtbsend"></i> Send invoices ({{getStatsCount 'invoicesToSend'}})</a>
                                <a class="btn btn-warning btn-icon invoice-send-reminders" disabled="{{#unless getStatsCount 'invoicesToSendReminders'}}true{{/unless}}" title="Reminders are invoices for which the due data has expired by 7 days, or for which the first reminder was sent 7 days ago.">
                                    <i class="icon icon-vtbsend"></i> Send reminders ({{getStatsCount 'invoicesToSendReminders'}})
                                </a>
                                <i class="icon icon-config show-management-functions {{#if showManagementFunctions}}active{{/if}}"></i>
                            </div>
                            {{#if showManagementFunctions}}
                                <div class="management-functions">
                                    {{#if runningExport}}
                                        <a class="btn btn-link" href="#" accesskey="e" tabindex="-1">Exporting ...</a>
                                    {{else}}
                                        <a class="btn btn-link invoices-export" href="#" accesskey="e" tabindex="-1"><u>E</u>xport</a>
                                    {{/if}}
                                    {{#if importsEnabled}}
                                        <a class="btn btn-default btn-icon toggle-imports" href="#" accesskey="i"><i class="icon icon-vtb"></i><u>I</u>mports</a>
                                    {{/if}}
                                    <a class="btn btn-default btn-icon invoice-jobs {{#if showJobs}}active{{/if}}" href="#" accesskey="j"><i class="icon icon-vtbsend"></i><u>J</u>obs</a>
                                    <a class="btn btn-default btn-icon exact-link-api" href="#">Link Exact API</a>
                                </div>
                            {{/if}}
                            <h2>Invoices</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Search invoice" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                                </span>
                            </div>
                            {{#unless showJobs}}
                                <div class="input-group filter-icons">
                                    <span class="pull-right toggle-list-filters {{#if activeListfilters}}filter-icon active{{/if}} {{#if showListFilters}}active{{/if}}"><i class="icon icon-filterfunnel"></i></span>
                                    <span class="label label-info label-filter cursor-pointer todos-filter pull-right">Filter {{getStatsCount 'invoices'}} tasks</span>
                                    <span class="label-filter-group">
                                        {{#each getInvoiceStatusOptions}}
                                            <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getInvoiceIcon this}}"></i></span>
                                        {{/each}}
                                    </span>
                                    <span class="label-filter-group">
                                        <span class="filter-icon salesforce-filter-icon {{#if isActiveSalesforceFilter}}active{{/if}} {{#if isInactiveSalesforceFilter}}inactive{{/if}}" title="Salesforce receipt">
                                            <img src="/img/salesforce.svg" />
                                        </span>
                                    </span>
                                </div>
                                {{#if showListFilters}}
                                    <div class="input-group list-filters">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Countries</label>
                                                    <select name="listFilter.countryId" data-compare="$in" class="form-control" multiple="multiple">
                                                        {{#each getCountries}}
                                                            <option value="{{_id}}" selected="{{getListFilterSelected "countryId.$in" _id}}">{{name}} ({{code}})</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Amount</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <input type="number" min="0" step="0.01" name="listFilter.amount" data-compare="$gte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "amount.$gte" "number" 100}}" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="number" min="0" step="0.01" name="listFilter.amount" data-compare="$lte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "amount.$lte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Partnership status</label>
                                                    <select name="listFilter.partnershipStatus" data-compare="$in" class="form-control" multiple="multiple">
                                                        <option value="new" selected="{{getListFilterSelected 'partnershipStatus.$in' 'new'}}">New</option>
                                                        <option value="partner" selected="{{getListFilterSelected 'partnershipStatus.$in' 'partner'}}">Partner</option>
                                                        <option value="pledger" selected="{{getListFilterSelected 'partnershipStatus.$in' 'pledger'}}">Pledger</option>
                                                        <option value="affiliate" selected="{{getListFilterSelected 'partnershipStatus.$in' 'affiliate'}}">Affiliate</option>
                                                        <option value="uncooperative" selected="{{getListFilterSelected 'partnershipStatus.$in' 'uncooperative'}}">Uncooperative</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Invoice date</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                                <input type="text" name="listFilter.invoiceDate" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "invoiceDate.$gte" "date"}}" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                                <input type="text" name="listFilter.invoiceDate" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "invoiceDate.$lte" "date"}}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Created at date</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                                <input type="text" name="listFilter.createdAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$gte" "date"}}" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                                <input type="text" name="listFilter.createdAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$lte" "date"}}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Sent at date</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                                <input type="text" name="listFilter.invoiceSent" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "invoiceSent.$gte" "date"}}" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                                <input type="text" name="listFilter.invoiceSent" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "invoiceSent.$lte" "date"}}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Paid date</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                                <input type="text" name="listFilter.paidAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "paidAt.$gte" "date"}}" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                                <input type="text" name="listFilter.paidAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "paidAt.$lte" "date"}}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Shop</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon icon-shops"></i></span>
                                                        <select name="listFilter.shopId" class="form-control">
                                                            {{#with getListFilterValue "shopId"}}
                                                                <option value="{{this}}">{{getShopDescription this}}</option>
                                                            {{/with}}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Company</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon icon-companies"></i></span>
                                                        <select name="listFilter.companyId" class="form-control">
                                                            {{#with getListFilterValue "companyId"}}
                                                                <option value="{{this}}">{{getCompanyDescription this}}</option>
                                                            {{/with}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            {{/unless}}
                            {{#with getInvoiceStats}}
                                <div class="list-aggregates">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td># invoices: {{count}}</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>Amounts: {{formatCurrency amount}}</td>
                                            <td>Total VAT: {{formatCurrency vat}}</td>
                                        </tr>
                                        <tr>
                                            <td>Service Fees: {{formatCurrency fee}}</td>
                                            <td>Refunds: {{formatCurrency refund}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {{/with}}
                            <div class="clients-list item-list invoices-list">
                                {{#if initialLoadDone}}
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{#if showJobs}}
                                                {{> invoiceJobList }}
                                            {{else}}
                                                {{#if invoiceCreditControl}}
                                                    {{> invoice_credit_control }}
                                                {{else}}
                                                    {{> invoicesList invoices=getInvoices includeHeader=true sorting=getSorting }}
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                    </div>
                                {{else}}
                                    {{> loading }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                    {{#with getActiveItem}}
                        <div class="col-sm-4">
                            {{> invoiceInfo invoice=this showImages=true }}
                        </div>
                    {{/with}}
                {{/if}}
            </div>
        </div>
    </div>
</template>
