<template name="invoiceJobList">
    <table class="table table-striped table-hover invoice-list">
        <thead>
        <tr>
            <th>Added</th>
            <th>Cmd</th>
            <th>InvoiceNr</th>
            <th>Progress</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {{#each getJobs}}
            <tr class="item-row" id="item-{{data.invoiceId}}">
                <td>{{formatDate createdAt}}</td>
                <td>{{type}}</td>
                <td>
                    <a href="/invoice/{{data.invoiceId}}">
                        {{data.invoiceNr}}
                    </a>
                </td>
                <td>
                    {{#if statusFailed}}
                        {{#each failures}}
                            <p class="text-danger">{{value}}</p>
                        {{/each}}
                    {{else}}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress.percent}}"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{progress.percent}}%">
                                <span class="sr-only">{{progress.percent}}% Complete</span>
                            </div>
                        </div>
                    {{/if}}
                </td>
                <td>{{status}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="8">
                    <i>No Invoice jobs found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
