<template name="invoicesList">
    <table class="table table-striped table-hover item-list invoice-list">
        {{#if includeHeader}}
            <thead>
                <tr>
                    {{#unless dissallowEdit}}
                        <th>&nbsp;</th>
                    {{/unless}}
                    <th class="sort-header {{isHeaderSorting 'status'}}" data-id="status" title="Status">St</th>
                    <th class="sort-header {{isHeaderSorting 'invoiceNr'}}" data-id="invoiceNr">Invoice Nr</th>
                    <th class="sort-header {{isHeaderSorting 'createdAt'}}" data-id="createdAt">Created</th>
                    <th class="sort-header {{isHeaderSorting 'invoiceSent'}}" data-id="invoiceSent">Sent</th>
                    <th class="sort-header {{isHeaderSorting 'paidAt'}}" data-id="paidAt">Paid</th>
                    <th>Open</th>
                    <th colspan="2">Shop / company</th>
                    <th>#</th>
                    <th class="sort-header {{isHeaderSorting 'amount'}}" data-id="amount">Amount</th>
                    <th class="sort-header {{isHeaderSorting 'serviceFee'}}" data-id="serviceFee">Fee</th>
                    <th class="sort-header {{isHeaderSorting 'paymentDifference'}}" data-id="paymentDifference">Diff</th>
                    {{#if ../selectable}}
                        <th>&nbsp;</th>
                    {{/if}}
                </tr>
            </thead>
        {{/if}}
        {{#if includeStaticHeader}}
            <thead>
                <tr>
                    {{#unless dissallowEdit}}
                        <th>&nbsp;</th>
                    {{/unless}}
                    <th title="Status">St</th>
                    <th>Invoice Nr</th>
                    <th>Created</th>
                    <th>Sent</th>
                    <th>Paid</th>
                    <th>Open</th>
                    {{#unless hideEntity}}
                        <th colspan="2">Shop / company</th>
                    {{/unless}}
                    <th>#</th>
                    <th>Amount</th>
                    <th>Fee</th>
                    <th>Diff</th>
                    {{#if ../selectable}}
                        <th>&nbsp;</th>
                    {{/if}}
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each invoices}}
            <tr class="item-row {{isActiveItem}} {{#if deleted}}deleted{{/if}}" id="item-{{_id}}">
                {{#unless ../dissallowEdit}}
                    <td>
                        <a href="/invoice/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a>
                    </td>
                {{/unless}}
                <td class="client-status">
                    {{#if deleted}}
                        <i class="fa fa-trash"></i>
                    {{else}}
                        <i class="{{getInvoiceIcon}}"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if salesforceId}}
                        <img src="/img/salesforce.svg" style="height: 18px; margin-top: -12px; margin-bottom: -10px;" />
                    {{/if}}
                    {{invoiceNr}}{{#if type}} ({{type}}){{/if}}
                </td>
                <td>{{formatDate createdAt}}</td>
                <td>{{formatDate invoiceSent}}</td>
                <td>{{formatDate paidAt}}</td>
                <td>{{daysOpen}}</td>
                {{#unless ../hideEntity}}
                    <td class="entity-type">
                        {{#if companyId}}
                            <i class="icon icon-companies"></i>
                        {{else}}
                            <i class="icon icon-shops"></i>
                        {{/if}}
                    </td>
                    <td>
                        <span class="partnership-status-logo">
                            <img src="/Logos/{{getPartnershipStatusLogo}}" />
                        </span>
                        {{#if companyId}}
                            {{#with getCompany}}
                                {{name}}, {{city}}
                            {{/with}}
                        {{else}}
                            {{#with getShop}}
                                {{name}}, {{city}}
                            {{/with}}
                        {{/if}}
                    </td>
                {{/unless}}
                <td>{{receiptIds.length}}</td>
                <td>{{formatCurrency amount}}</td>
                <td>{{formatCurrency serviceFee}}</td>
                <td>
                    <span class="{{#if $lt paymentDifference 0}}text-danger{{/if}}">
                        {{formatCurrency paymentDifference}}
                    </span>
                </td>
                {{#if ../selectable}}
                    <td>
                        <div class="i-checks">
                            <input type="checkbox" name="invoices.{{_id}}" checked="{{isInvoiceChecked}}"/>
                        </div>
                    </td>
                {{/if}}
            </tr>
        {{else}}
            <tr>
                <td colspan="11">
                    <i>No Invoices found ...</i>
                </td>
            </tr>
        {{/each}}
        {{#unless hideTotals}}
            {{#with getTotal}}
                <tr class="item-row total-row">
                    <td class="text-right" colspan="{{#if ../hideEntity}}7{{else}}9{{/if}}">{{_ "Total"}}</td>
                    <td class="nobr">
                        {{number}}
                    </td>
                    <td class="nobr">
                        {{#each amount}}
                            {{formatCurrency amount 2 currencyId}}<br/>
                        {{/each}}
                    </td>
                    <td class="nobr">
                        {{#each amount}}
                            {{formatCurrency serviceFee 2 currencyId}}<br/>
                        {{/each}}
                    </td>
                    <td class="nobr">
                        {{#each amount}}
                            {{formatCurrency paymentDifference 2 currencyId}}<br/>
                        {{/each}}
                    </td>
                </tr>
            {{/with}}
        {{/unless}}
        </tbody>
    </table>
</template>
