<template name="payback">
    <div class="page invoices">
        {{> pageHeading title='Payback' category='Invoices' categoryLink='/invoices' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            {{> payback_details }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="payback_details">
    {{#with payback}}
        <div class="pull-right">
            <a class="btn btn-info btn-icon save-payback" href="#" accesskey="s"><i class="icon icon-download"></i><u>D</u>ownload</a>
            <a class="btn btn-info btn-icon save-payback-sepa-xml" href="#" accesskey="x"><i class="icon icon-download"></i>Download SEPA <u>X</u>ML</a>
        </div>
        <h2>Payback: {{paybackNumber}}</h2>
        <div class="list-aggregates">
            <table class="table">
                <tbody>
                <tr>
                    <td># paybacks: {{paybackLines.count}}</td>
                    <td>Amounts: {{formatCurrency amount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <textarea style="width: 100%; height: 640px;">"Iban Geincasseerde","Mandaat ID",NLVAT_total,"VTB: VTB no.",Shoplookup,"INCA: INCA Name","shop name","TO (T.A.V.)",date
{{#each paybackLines}}"{{paybackAccount}}","{{amount}}","{{getInvoiceNr}}","{{shopName}}","{{../paybackNumber}}","{{billingName}}","{{recipientName}}","{{formatDate ../createdAt "DD/MM/YYYY"}}"
{{/each}}</textarea>
    {{/with}}
</template>
