<template name="invoiceSetNotCollectable">
    {{#modal parentTemplateVariable="settingNotCollectable" center=true }}
        <div class="invoice-set-not-collectable">

            <h2>Are you sure?</h2>
            <p>All receipts in this invoice will also be marked as not collectable!</p>

            <br/>

            <div class="text-left">
                <form>
                    {{> receipts_receipt_rejections type='invoice'}}
                </form>
            </div>

            <br/>

            <div class="buttons">
                <button class="btn btn-sm btn-default m-t-n-xs close-modal">Cancel</button>
                <button class="btn btn-sm btn-primary m-t-n-xs invoice-set-not-collectable-do"><strong>Set not collectable</strong></button>
            </div>
        </div>
    {{/modal}}
</template>
