<template name="view_dashboard">
    <div class="wrapper wrapper-content">
        <div class="container dashboard">
            {{#if Template.subscriptionsReady}}
                {{#if isPartner}}
                    <div class="row">
                        <div class="col-md-3">
                            {{> dashboard_pill title=(_ "Potential tax-free") subTitle=(_ "Turnover incl VAT") value=getPotentialTaxRevenue allTimeTitle=getAllTimeText }}
                        </div>
                        <div class="col-md-3">
                            {{> dashboard_pill title=(_ "Tax-free sales") subTitle=(_ "Turnover incl VAT") value=getTaxRevenue allTimeTitle=getAllTimeText }}
                        </div>
                        <div class="col-md-3">
                            {{> dashboard_pill title=(_ "Total VAT") subTitle="&nbsp;" value=getTaxRefund allTimeTitle=getAllTimeText }}
                        </div>
                        <div class="col-md-3">
                            {{> dashboard_pill title=(_ "Number of receipts") subTitle="&nbsp;" value=getNumberOfReceipts subTitle=getNumberOfReceiptsPerType allTimeTitle=getAllTimeText }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>{{_ "Tax-free sales in last __count__ months" count=12}}</h5>
                                    <div class="pull-right">
                                        <span class="label label-info pull-right">{{_ "Last __count__ months" count=12}}</span>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            {{> dashboard_chart data=getChartData height=70 allTimeTitle=getAllTimeText }}
                                        </div>
                                        <div class="col-sm-3">
                                            <ul class="stat-list">
                                                <li>
                                                    <h2 class="no-margins">{{getLastMonths 12 'nr'}}</h2>
                                                    <small>{{_ "Total receipts in period"}}</small>
                                                </li>
                                                <li>
                                                    <h2 class="no-margins ">{{formatCurrency (getAvgLastMonths 12 'amount') 0}}</h2>
                                                    <small>{{_ "Average transaction amount"}}</small>
                                                </li>
                                                <li>
                                                    <h2 class="no-margins ">{{formatCurrency (getLastMonths 12 'amount') 0}}</h2>
                                                    <small>{{_ "Total tax-free sales in period"}}</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{> dashboard_world_table allTimeTitle=getAllTimeText }}
                        </div>
                    </div>
                    {{#if isCompanyInvoice}}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <span class="label label-info pull-right" title="{{getAllTimeText}}">{{_ "All Time"}}</span>
                                        <h5>{{_ "Top shops"}}</h5>
                                    </div>
                                    <div class="ibox-content">
                                        {{> view_dashboard_top_shops_list }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    <div class="row">
                        <div class="col-md-3">
                            {{> dashboard_pill title=(_ "Receipts pipeline") subTitle=(_ "Total receipts waiting") value=getOpenPipeline subValue=getOpenPipelineNumber doughnutData=getRefundDoughnutData allTimeTitle=getAllTimeText }}
                        </div>
                        <div class="col-md-9">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>{{_ "Open invoices"}}</h5>
                                </div>
                                <div class="ibox-content">
                                    {{> view_invoices_list invoices=getInvoices }}
                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#with getWebText 'partner_dashboard_not_visible'}}
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                {{{getShopRegisterWebText}}}
                            </div>
                        </div>
                    {{/with}}
                {{/if}}
            {{else}}
                {{> loading }}
            {{/if}}
        </div>
    </div>
</template>
