<template name="addEmailTextModal">
    <div id="modal-add-email-text" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <h3 class="m-t-none m-b">Add Email Text</h3>
                            <form role="form" name="add-email-text-form">
                                <div class="form-group required">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                                </div>
                                <div class="form-group required">
                                    <label>Description</label>
                                    <textarea name="description" class="form-control" placeholder="Description"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Add</strong></button>
                                    <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-add-email-text"><strong>Cancel</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
