<template name="emailTextEdit">
    {{#with itemDoc}}
        {{> pageHeading title=name category='Email Texts' categoryLink='/email-texts' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-12">
                    {{> emailTextEditForm }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="emailTextEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> EmailText details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Text preview</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3"> HTML preview</a></li>
            <li class=""><a data-toggle="tab" href="#tab-4"> Mobile preview</a></li>
            <li class=""><a data-toggle="tab" href="#tab-5"> History</a></li>
        </ul>
        <div class="tab-content email-text-edit-form">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="Email text name" value="{{name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="description" placeholder="Description of this email text">{{description}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Text group</label>
                                <div class="col-sm-10">
                                    <select name="group" class="form-control">
                                        <option value="shops" selected="{{isSelected group "shops"}}">Shops</option>
                                        <option value="travellers" selected="{{isSelected group "travellers"}}">Travellers</option>
                                        <option value="affiliates" selected="{{isSelected group "affiliates"}}">Affiliates</option>
                                    </select>
                                </div>
                            </div>
                            {{#each getEmailTextLanguages}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Subject {{name}} ({{code}})</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="subject.{{code}}" placeholder="{{name}}" value="{{getSubjectForLanguage}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email {{name}} ({{code}})</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="text.{{code}}" placeholder="{{name}}" rows="12">{{getTextForLanguage}}</textarea>
                                    </div>
                                </div>
                            {{/each}}
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    {{#each getEmailTextLanguages}}
                        <h3>{{name}} ({{code}})</h3>
                        <hr/>
                        <div class="text-preview">
                            {{getTextPreview}}
                        </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    {{#each getEmailTextLanguages}}
                        <h3>{{name}} ({{code}})</h3>
                        <hr/>
                        <div class="html-preview">
                            {{{getHTMLPreview}}}
                        </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    {{#each getEmailTextLanguages}}
                        <h3>{{name}} ({{code}})</h3>
                        <hr/>
                        <div class="html-preview mobile">
                            {{{getHTMLPreview}}}
                        </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    {{> emailTextInfo }}
                </div>
            </div>
        </div>
    </div>
</template>
