<template name="view_account">
    <div class="view view-account">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">&nbsp;</div>
                <div class="">My account</div>
                <div class="right">
                    {{#if currentUser}}
                        <a class="logout link">
                            <span>Logout</span>
                        </a>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="account" class="page">
                <div class="page-content">
                    <div class="page-padding">
                        {{> view_account_content }}
                    </div>
                </div>
            </div>
        </div>
        {{> toolbar }}
    </div>
</template>

<template name="view_account_content">
    {{#with currentUser}}
        <div class="view-account">
            <div class="list-block">
                <ul>
                    <li>
                        <a class="item-link">
                            <div class="item-content">
                                <div class="item-media">
                                    <img src="/images/VattyL@3x.png" />
                                </div>
                                <div class="item-inner">
                                    <div class="item-text">
                                        <b>{{profile.name}}</b><br/>
                                        {{profile.email}}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="physical-location">
                            <select name="physical-location">
                                <option value="MO" selected="{{isSelected physyicalLocation "MO"}}">Office</option>
                                <option value="DS" selected="{{isSelected physyicalLocation "DS"}}">Desk Schiphol</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block">
                <ul>
                    {{#each filesToUpload}}
                        <li>
                            <a class="item-link file-upload">
                                <div class="item-content">
                                    <div class="item-media">
                                        {{> getTemporaryImage }}
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-text">
                                            <b>{{file.file.name}}</b><br/>
                                            {{#if uploaded}}
                                                <i class="f7-icons">check</i>
                                            {{else}}
                                                {{#if upload}}
                                                    <i class="f7-icons">cloud_upload</i>
                                                {{else}}
                                                    <i class="f7-icons">forward</i>
                                                {{/if}}
                                            {{/if}}
                                            {{file.file.type}} - {{file.file.size}}
                                        </div>
                                        <i class="f7-icons delete-file">trash</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {{else}}
                        <li>
                            <div class="item-inner">
                                <i>No files left to upload</i>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{else}}
        {{> login }}
    {{/with}}
</template>
