<template name="shop_incomplete_task_left_sidebar">
    <ul class="files">
        {{#each getFiles}}
            <li class="file {{isActiveFile _id}}" id="file_{{_id}}">
                {{#unless this.isUploaded}}
                    {{> FS.UploadProgressBar bootstrap=true}}
                {{else}}
                    {{> directUrlFile fileObj=this hideFileName=true }}
                {{/unless}}
            </li>
        {{/each}}
    </ul>
</template>
