<template name="shop_incomplete_task">
    {{#taskModal options=getOptions}}
        {{#with getShop}}
            {{#with selectedFile}}
                {{#if isPDF}}
                    <div class="task-pdf">
                        <iframe src="{{url}}&.pdf" style="width: 100%; height: 100%;" frameborder="0" scrolling="no">
                        </iframe>
                    </div>
                {{else}}
                    <div class="task-image">
                        {{> zoom_photo photo=this }}
                    </div>
                {{/if}}
            {{/with}}
        {{else}}
            <div class="waiting-for-task">
                <h1>No shops to call ...</h1>
                <button class="btn btn-primary close-tasks" accesskey="c"><u>C</u>lose tasks window</button>
            </div>
        {{/with}}
    {{/taskModal}}
</template>

<template name="shop_incomplete_task_sidebar">
    {{#with getShop}}
        {{> shopEditForm addHideCancelButtons }}
    {{/with}}
</template>
