@import 'settings';
@import 'foundation';

html, body, .body {
    height: 100%;
}

table.body {
    background-color: $body-background;
}

table.container {
    background-color: $white;
    margin-top: 36px;
    margin-bottom: 36px;
    tbody {
        td {
            padding: 12px;
        }
    }

    table.header {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    a {
        text-decoration: underline;
    }

    p {
        margin-bottom: 16px;

        &.text {
            white-space: pre-line;
        }
    }
}

.collapse_vertical > tbody > tr > th.columns {
    padding-bottom: 4px;
}

body, table.body, h1, h2, h3, h4, h5, h6, p, td, th {
    color: #333333;
}