<template name="faqsView">
    <div class="faqs-container">
        {{#if selectedId}}
            <h3><a href="/faqs{{embeddedFaq}}">&lt;&lt; {{t_ "Back to Frequently Asked Questions list"}}</a></h3>
        {{/if}}
        {{#if search}}
            <div class="input-group search">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" name="search" class="form-control" placeholder="{{t_ "Search ___"}}">
            </div>
        {{/if}}
        <ul class="list-group">
            {{#each getGroups}}
                <h2>{{getGroupName}}</h2>
                {{#each getFaqs}}
                    <div class="faq-item">
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="{{#unless ../../selectedId}}collapse{{/unless}}" href="#faq_{{_id}}" class="faq-question collapsed" aria-expanded="false">
                                    {{{getQuestion}}}
                                </a>
                                <small>{{{t_ "Added __icon__ __date_time__" icon='<i class="fa fa-clock-o"></i>' date_time=(formatDateTime createdAt)}}} - {{t_"permalink"}} <a href="/faq{{embeddedFaq}}/{{_id}}/{{getQuestionForUrl}}"><i class="fa fa-link"></i></a></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq_{{_id}}" class="panel-collapse {{#unless ../../selectedId}}collapse{{/unless}}" style="">
                                    <div class="faq-answer">
                                        <p>
                                            {{{getAnswer}}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        </ul>
    </div>
</template>

<template name="faqs">
    <div class="wrapper wrapper-content faqs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{> faqsView search=true selectedId=false }}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="faqsEmbed">
    {{> faqsView search=true selectedId=false }}
</template>

<template name="faq">
    <div class="wrapper wrapper-content faqs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{> faqsView search=false selectedId=getSelectedId }}
                </div>
            </div>
        </div>
    </div>
</template>
