<template name="ActivityLogs">
    {{#if addingItem}}
        {{> addActivityLogModal }}
    {{/if}}
    <div class="wrapper wrapper-content">
        <div class="row activity-logs">
            {{#if showImports}}
                {{> imports subType='activity-logs' title='Activity imports' }}
            {{else}}
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                {{#if importsEnabled}}
                                    <a class="btn btn-default btn-icon toggle-imports" href="#" accesskey="i"><i class="icon icon-receipt"></i><u>I</u>mports</a>
                                {{/if}}
                                <a class="btn btn-info btn-icon add-item pull-right" href="#" accesskey="a"><i class="icon icon-create"></i><u>A</u>dd</a>
                            </div>
                            <h2>Activity</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Search activity" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                                </span>
                            </div>
                            <div class="input-group filter-icons">
                                <span class="pull-right toggle-list-filters {{#if activeListfilters}}filter-icon active{{/if}} {{#if showListFilters}}active{{/if}}"><i class="icon icon-filterfunnel"></i></span>
                                <span class="label label-info label-filter cursor-pointer todos-filter pull-right">Filter {{getStatsCount 'activity-logs'}} tasks</span>
                                <span class="label-filter-group">
                                    {{#each getActivityLogStatusOptions}}
                                        <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getActivityLogStatusIcon this}}"></i></span>
                                    {{/each}}
                                </span>
                                <span class="filter-icon filter-icon-spacing"></span>
                                <span class="label-filter-group">
                                    <span class="filter-icon my-tasks-filter-icon {{isActiveMyTasksFilter}}" id="my-tasks" title="My tasks"><i class="icon icon-mytasks"></i></span>
                                </span>
                                <span class="filter-icon filter-icon-spacing"></span>
                                <span class="label-filter-group">
                                    {{#each getActivityLogTypeOptions}}
                                        <span class="filter-icon type-filter-icon {{isActiveLogTypeFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getActivityLogTypeIcon this}}"></i></span>
                                    {{/each}}
                                </span>
                                <span class="filter-icon filter-icon-spacing"></span>
                                <span class="label-filter-group">
                                    <span class="filter-icon entity-filter-icon {{isActiveLogEntityFilter "travellerId"}}" id="travellerId" title="Traveller"><i class="icon icon-traveller"></i></span>
                                    <span class="filter-icon entity-filter-icon {{isActiveLogEntityFilter "shopId"}}" id="shopId" title="Shop"><i class="icon icon-shops"></i></span>
                                    <span class="filter-icon entity-filter-icon {{isActiveLogEntityFilter "companyId"}}" id="companyId" title="Company"><i class="icon icon-companies"></i></span>
                                    <span class="filter-icon entity-filter-icon {{isActiveLogEntityFilter "receiptId"}}" id="receiptId" title="Receipt"><i class="icon icon-receipt"></i></span>
                                    <span class="filter-icon entity-filter-icon {{isActiveLogEntityFilter "invoiceId"}}" id="invoiceId" title="Invoice"><i class="icon icon-vtb"></i></span>
                                </span>
                            </div>
                            {{#if showListFilters}}
                                <div class="input-group list-filters">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Created date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.createdAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.createdAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            {{#with getActivityLogsStats}}
                                <div class="list-aggregates">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td># activity logs: {{count}}</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {{/with}}
                            <div class="clients-list item-list activity-logs-list">
                                {{#if initialLoadDone}}
                                    <div class="full-height-scroll">
                                        <div class="table-responsive infinite-scrolling">
                                            {{> activityLogsList activityLogs=getActivityLogs includeHeader=true sorting=getSorting }}
                                        </div>
                                    </div>
                                {{else}}
                                    {{> loading }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#with getActiveItem}}
                    <div class="col-sm-4">
                        {{> activityLogInfo }}
                    </div>
                {{/with}}
            {{/if}}
        </div>
    </div>
</template>
