<template name="addActivityLogModal">
    <div id="modal-add-activity-log" class="modal fade" aria-hidden="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <h3 class="m-t-none m-b">Log activity</h3>
                            <form role="form" name="add-activity-log-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label>Type</label>
                                            <select name="type" class="form-control" required="required" tabindex="1">
                                                {{#each getActivityLogTypeOptions}}
                                                    <option value="{{this}}" selected="{{isSelected ../addType this}}">{{_ this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label>Status</label>
                                            <select name="status" class="form-control" required="required" tabindex="2">
                                                {{#each getActivityLogStatusOptions}}
                                                    <option value="{{this}}" selected="{{isSelected ../addStatus this}}">{{_ this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label>Subject</label>
                                    <input type="text" name="subject" class="form-control" required="required" tabindex="3">
                                </div>
                                <div class="form-group">
                                    <label>Due Date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="due" class="form-control" tabindex="4">
                                    </div>
                                </div>
                                {{#unless ignoreUser}}
                                    {{#if userId}}
                                        <input type="hidden" name="userId" value="{{userId}}">
                                    {{else}}
                                        <div class="form-group">
                                            <label>User</label>
                                            <select name="userId" class="form-control" tabindex="4">
                                            </select>
                                        </div>
                                    {{/if}}
                                {{/unless}}
                                {{#unless ignoreContact}}
                                    {{#if contactId}}
                                        <input type="hidden" name="contactId" value="{{contactId}}">
                                    {{else}}
                                        <div class="form-group">
                                            <label>Contact</label>
                                            <select name="contactId" class="form-control" tabindex="5">
                                            </select>
                                        </div>
                                    {{/if}}
                                {{/unless}}
                                {{#unless ignoreShop}}
                                    {{#if shopId}}
                                        <input type="hidden" name="shopId" value="{{shopId}}">
                                    {{else}}
                                        <div class="form-group">
                                            <label>Shop</label>
                                            <select name="shopId" class="form-control" tabindex="6">
                                            </select>
                                        </div>
                                    {{/if}}
                                {{/unless}}
                                {{#unless ignoreCompany}}
                                    {{#if companyId}}
                                        <input type="hidden" name="companyId" value="{{companyId}}">
                                    {{else}}
                                        <div class="form-group">
                                            <label>Company</label>
                                            <select name="companyId" class="form-control" tabindex="7">
                                            </select>
                                        </div>
                                    {{/if}}
                                {{/unless}}
                                {{#if affiliateId}}
                                    <input type="hidden" name="affiliateId" value="{{affiliateId}}">
                                {{/if}}
                                {{#if invoiceId}}
                                    <input type="hidden" name="invoiceId" value="{{invoiceId}}">
                                {{/if}}
                                {{#if receiptId}}
                                    <input type="hidden" name="receiptId" value="{{receiptId}}">
                                {{/if}}
                                {{#if travellerId}}
                                    <input type="hidden" name="travellerId" value="{{travellerId}}">
                                {{/if}}
                                {{#if paymentId}}
                                    <input type="hidden" name="paymentId" value="{{paymentId}}">
                                {{/if}}
                                {{#if payoutId}}
                                    <input type="hidden" name="payoutId" value="{{payoutId}}">
                                {{/if}}
                                <div class="form-group">
                                    <label>Notes</label>
                                    <textarea name="notes" class="form-control" tabindex="8"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Add</strong></button>
                                    <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-add-activity-log"><strong>Cancel</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
