<template name="ActivityLogEdit">
    {{#if Template.subscriptionsReady}}
        {{#with itemDoc}}
            {{> pageHeading title=subject category='ActivityLogs' categoryLink='/activity-logs' }}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-sm-8">
                        {{> activityLogEditForm }}
                    </div>
                    <div class="col-sm-4">
                        {{> activityLogInfo }}
                    </div>
                </div>
            </div>
        {{/with}}
    {{else}}
        {{> loading }}
    {{/if}}
</template>

<template name="activityLogEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Activity log details</a></li>
            {{#if html}}
                <li class=""><a data-toggle="tab" href="#tab-2"> HTML content</a></li>
                <li class=""><a data-toggle="tab" href="#tab-4"> Mobile content</a></li>
            {{/if}}
            {{#if source}}
                <li class=""><a data-toggle="tab" href="#tab-3"> Source</a></li>
            {{/if}}
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-4">
                                    <select name="type" class="form-control" required="required" tabindex="1" disabled="{{isDisabled}}">
                                        {{#each getActivityLogTypeOptions}}
                                            <option value="{{this}}" selected="{{isSelected ../type this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-4">
                                    <select name="status" class="form-control" required="required" tabindex="2" disabled="{{isDisabled}}">
                                        {{#each getActivityLogStatusOptions}}
                                            <option value="{{this}}" selected="{{isSelected ../status this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Subject</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="subject" required="required" placeholder="Subject" value="{{subject}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            {{#if $eq type "email"}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="address" placeholder="Address" value="{{address}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            {{/if}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Due Date</label>
                                <div class="col-sm-10">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="due" class="form-control" value="{{formatDate due}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">User</label>
                                <div class="col-sm-10">
                                    <select name="userId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if userId}}
                                            <option value="{{userId}}" selected="selected">{{getUserName userId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Contact</label>
                                <div class="col-sm-10">
                                    <select name="contactId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if contactId}}
                                            <option value="{{contactId}}" selected="selected">{{getContactDescription contactId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Traveller</label>
                                <div class="col-sm-10">
                                    <select name="contactId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if travellerId}}
                                            <option value="{{travellerId}}" selected="selected">{{getTravellerName travellerId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Shop</label>
                                <div class="col-sm-10">
                                    {{#if isDisabled}}
                                        {{#if shopId}}
                                            <input type="hidden" name="shopId" value="{{shopId}}" />
                                        {{/if}}
                                    {{/if}}
                                    <select name="shopId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if shopId}}
                                            <option value="{{shopId}}" selected="selected">{{getShopName shopId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Company</label>
                                <div class="col-sm-10">
                                    {{#if isDisabled}}
                                        {{#if companyId}}
                                            <input type="hidden" name="companyId" value="{{companyId}}" />
                                        {{/if}}
                                    {{/if}}
                                    <select name="companyId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if companyId}}
                                            <option value="{{companyId}}" selected="selected">{{getCompanyDescription companyId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Receipt</label>
                                <div class="col-sm-10">
                                    <select name="companyId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if receiptId}}
                                            <option value="{{receiptId}}" selected="selected">{{getReceiptName receiptId}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            {{#if data}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Data</label>
                                    <div class="col-sm-10">
                                        {{#each getDataArray}}
                                            {{key}}: {{getDataValue value}}<br/>
                                        {{/each}}
                                    </div>
                                </div>
                            {{/if}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="notes" placeholder="Notes" rows="12">{{notes}}</textarea>
                                </div>
                            </div>
                            {{#with getFiles}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Files</label>
                                    <div class="col-sm-10">
                                        <ul class="files list">
                                            {{#each this}}
                                                <li class="file">
                                                    {{> directUrlFile fileObj=this }}
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            {{/with}}
                            {{#if error}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Errors</label>
                                    <div class="col-sm-10">
                                        <pre>
                                            {{printError}}
                                        </pre>
                                    </div>
                                </div>
                            {{/if}}
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    {{#if $eq status 'done'}}
                                        <button class="btn btn-primary btn-warning reopen-activity" type="submit">Re-open</button>
                                    {{/if}}
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="html-preview">
                        {{{getCleanHtml}}}
                    </div>
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    <div class="html-preview mobile">
                        {{{getCleanHtml}}}
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <div class="text-preview">
                        {{source}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
