<template name="activityLogInfo">
    <div class="ibox activity-log-info">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="activity-log-1" class="tab-pane active">
                    <div class="row m-b-lg">
                        <div class="col-lg-12">
                            <strong>{{subject}}</strong><br/>
                            <p class="activity-note">{{notes}}</p>
                        </div>
                    </div>
                    <div class="client-detail">
                        {{#with getTraveller}}
                            <div class="receipt-task-traveller-card">
                                {{> travellerCard }}
                            </div>
                        {{/with}}
                        {{#with getShop}}
                            <div class="receipt-task-shop-card">
                                {{> shopCard }}
                            </div>
                        {{/with}}
                        <div class="full-height-scroll">
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    <span class="pull-right">
                                        {{type}}
                                    </span>
                                    Type
                                </li>
                                {{#if $eq type "email"}}
                                    <li class="list-group-item">
                                    <span class="pull-right">
                                        {{address}}
                                    </span>
                                        To
                                    </li>
                                {{/if}}
                                {{#if readOn}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            {{formatDateTime readOn}}
                                        </span>
                                        Read on
                                    </li>
                                {{/if}}
                                {{#if hideInMessageBox}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            Yes
                                        </span>
                                        Hide in message box
                                    </li>
                                {{/if}}
                                <li class="list-group-item">
                                    <span class="pull-right">
                                            {{status}}
                                    </span>
                                    Status
                                </li>
                                {{#if due}}
                                    <li class="list-group-item {{#if isOverdue}}alert-danger{{/if}}">
                                        <span class="pull-right">
                                            {{formatDate due}}
                                        </span>
                                        Due
                                    </li>
                                {{/if}}
                                {{#if contactId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/contact/{{contactId}}">
                                                {{getContactName contactId}}
                                            </a>
                                        </span>
                                        Contact
                                    </li>
                                {{/if}}
                                {{#if shopId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/shop/{{shopId}}">
                                                {{getShopName shopId}}
                                            </a>
                                        </span>
                                        Shop
                                    </li>
                                {{/if}}
                                {{#if companyId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/company/{{companyId}}">
                                                {{getCompanyName companyId}}
                                            </a>
                                        </span>
                                        Company
                                    </li>
                                {{/if}}
                                {{#if affiliateId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/affiliate/{{affiliateId}}">
                                                {{getAffiliateName affiliateId}}
                                            </a>
                                        </span>
                                        Affiliate
                                    </li>
                                {{/if}}
                                {{#if invoiceId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/invoice/{{invoiceId}}">
                                                {{getInvoiceName invoiceId}}
                                            </a>
                                        </span>
                                        Invoice
                                    </li>
                                {{/if}}
                                {{#if paymentId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/payment/{{paymentId}}">
                                                {{getPaymentName paymentId}}
                                            </a>
                                        </span>
                                        Payment
                                    </li>
                                {{/if}}
                                {{#if receiptId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/receipt/{{receiptId}}">
                                                {{getReceiptName receiptId}}
                                            </a>
                                        </span>
                                        Receipt
                                    </li>
                                {{/if}}
                                {{#if travellerId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/traveller/{{travellerId}}">
                                                {{getTravellerName travellerId}}
                                            </a>
                                        </span>
                                        Traveller
                                    </li>
                                {{/if}}
                                {{#if payoutId}}
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <a href="/payout/{{payoutId}}">
                                                {{getPayoutDescription payoutId}}
                                            </a>
                                        </span>
                                        Payout
                                    </li>
                                {{/if}}
                                {{#if data}}
                                    <li class="list-group-item">
                                        Data
                                        <div class="">
                                            {{#each getDataArray}}
                                                {{key}}: {{getDataValue value}}<br/>
                                            {{/each}}
                                        </div>
                                    </li>
                                {{/if}}
                                {{#with getHierarchyCompanyId}}
                                    <li class="list-group-item">
                                        {{> companyHierarchy companyId=this }}
                                    </li>
                                {{/with}}
                                {{#if getFiles.count}}
                                    <li class="list-group-item">
                                        <ul class="files invoice-files">
                                            {{#each getFiles}}
                                                <li class="file">
                                                    {{#unless this.isUploaded}}
                                                        {{> FS.UploadProgressBar bootstrap=true}}
                                                    {{else}}
                                                        {{#if fileCopiesUploaded this}}
                                                            {{> directUrlFile fileObj=this }}
                                                        {{else}}
                                                            {{> storing_file }}
                                                        {{/if}}
                                                    {{/unless}}
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                {{/if}}
                            </ul>
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
