<template name="activityLogsList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'createdAt'}}" data-id="createdAt">Date</th>
                    <th class="sort-header {{isHeaderSorting 'status'}}" data-id="status">Status</th>
                    <th class="sort-header {{isHeaderSorting 'type'}}" data-id="type">Type</th>
                    <th class="sort-header {{isHeaderSorting 'subject'}}" data-id="subject">Subject</th>
                    <th class="sort-header {{isHeaderSorting 'userId'}}" data-id="userId">Assignee</th>
                    <th class="sort-header {{isHeaderSorting 'due'}}" data-id="due">Due</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each activityLogs}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td>
                    {{#if isInVatfreeRole 'activity-logs-read'}}
                        <a href="/activity-log/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a>
                    {{/if}}
                    {{#if allowResendEmail}}
                        <a href="#" class="btn btn-white btn-sm resend-email"><i class="icon icon-emailout"></i></a>
                    {{/if}}
                    {{#if assignedToMe}}
                        {{#if notDone}}
                            <a href="#" class="btn btn-white btn-sm mark-done"><i class="icon icon-done"></i></a>
                        {{/if}}
                    {{/if}}
                    {{#if unassigned}}
                        {{#if isTask}}
                            <a href="#" class="btn btn-white btn-sm assign-self"><i class="icon icon-actorvatty"></i></a>
                        {{/if}}
                    {{/if}}
                </td>
                <td>{{formatDateTime createdAt}}</td>
                <td>{{status}}</td>
                <td><i class="{{getActivityLogTypeIcon type}}"></i></td>
                <td><div class="activity-log-subject">{{subject}}</div></td>
                <td>{{#if userId}}{{getUserName userId}}{{/if}}</td>
                <td class="{{#if isOverdue}}alert-danger{{/if}}">{{formatDate due}}</td>
                <td>
                    {{#if travellerId}}
                        <i class="icon icon-traveller"></i>
                    {{/if}}
                    {{#if contactId}}
                        <i class="icon icon-contacts"></i>
                    {{/if}}
                    {{#if shopId}}
                        <i class="icon icon-shops"></i>
                    {{/if}}
                    {{#if companyId}}
                        <i class="icon icon-companies"></i>
                    {{/if}}
                    {{#if invoiceId}}
                        <i class="icon icon-vtb"></i>
                    {{/if}}
                    {{#if receiptId}}
                        <i class="icon icon-receipt"></i>
                    {{/if}}
                    {{#if affiliateId}}
                        <i class="icon icon-affiliates"></i>
                    {{/if}}
                    {{#if $eq type "burny"}}
                        <i class="icon icon-actorbot"></i>
                    {{/if}}
                </td>
            </tr>
            {{#if ../showDetails}}
                {{#if notes}}
                    <tr class="item-row-details">
                        <td colspan="7">
                            <div class="item-row-details-content">
                                {{{notes}}}
                            </div>
                        </td>
                    </tr>
                {{/if}}
            {{/if}}
        {{else}}
            <tr>
                <td colspan="8">
                    <i>No activity found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
