<template name="activityLogTab">
    <div class="panel-body">
        {{#if allowAdd}}
            <div class="text-right">
                <a class="btn btn-primary add-activity-log" href="#">+ Add</a>
            </div>
            {{#if addingActivityLog }}
                {{> addActivityLogModal }}
            {{/if}}
        {{/if}}

        <div class="full-height-scroll">
            <div class="table-responsive item-list">
                {{> activityLogsList activityLogs=activityLogs includeHeader=true showDetails=true }}
            </div>
        </div>
    </div>
</template>
