<template name="shopsEmbed">
    <div class="shops-container">
        <div class="shops-list">
            <div class="input-group search">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" name="search" class="form-control" placeholder="{{t_ "Search ___"}}">
            </div>
            <ul class="list-group">
                {{#each shops}}
                    <li class="list-group-item shop-item">
                        <div class="logo">
                            <img src="/Logos/{{partnershipLogo}}" />
                        </div>
                        <div class="info">
                            <div class="name">{{n}}</div>
                            <div class="address">{{getAddressWithoutPostalCode}}</div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="map-container">
            {{> googleMap name="_map" options=getMapOptions}}
        </div>
    </div>
</template>

<template name="shops">
    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{> shopsEmbed}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="shopInfo">
    <div class="shopInfo">
        <div class="header">
            <div class="logo">
                <img src="/Logos/{{partnershipLogo}}" />
            </div>
            <div class="info">
                <div class="name">{{n}}</div>
                <div class="address">{{{a}}}</div>
            </div>
        </div>
        {{#if isPartnerShipStatus 'new'}}
            {{t_ "This is a new vatfree_com shop_"}}<br/>
            {{t_ "Refund is not guaranteed"}}<br/>
        {{else}}
            {{#if isPartnerShipStatus 'pledger'}}
                {{t_ "This is a vatfree_com Pledger shop_"}}<br/>
                {{t_ "Refund is very likely_"}}<br/>
            {{else}}
                {{#if isPartnerShipStatus 'partner'}}
                    {{t_ "This is a vatfree_com Partner shop_"}}<br/>
                    {{t_ "Refund is guaranteed_"}}<br/>
                {{else}}
                    {{#if isPartnerShipStatus 'uncooperative'}}
                        {{t_ "This is an uncooperative vatfree_com shop_"}}<br/>
                        <span class="text-danger">{{t_ "Refund is very unlikely_"}}</span><br/>
                    {{else}}
                        {{t_ "This is an unknown vatfree_com shop_"}}<br/>
                        <span class="text-danger">{{t_ "Refund is very unlikely_"}}</span><br/>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
</template>
