<template name="view_shops_details">
    <div data-page="shopdetails" class="page cached shop-details">
        <div class="page-content">
            {{#if Template.subscriptionsReady}}
                {{#with getShop}}
                    <div class="page-padding">
                        <div class="name">
                            {{name}}
                        </div>
                        <div class="address">
                            {{addressFirst}}<br/>
                            {{postCode}} {{city}}<br/>
                            {{getCountryName}}<br/>
                        </div>
                    </div>
                    {{#if geo}}
                        <div class="geo">
                            <div class="list-block">
                                <ul>
                                    <li class="geo">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <i class="icon icon-map"></i>
                                            </div>
                                            <div class="item-inner">
                                                {{t_ "View on map"}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {{/if}}
                    <div class="list-block">
                        <ul>
                            <li class="partnership-status">
                                <div class="item-content">
                                    <div class="item-media">
                                        <img src="/images/{{getPartnershipStatusLogo}}" />
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-text">
                                            {{#if isPartnerShipStatus 'new'}}
                                                {{t_ "This is a new vatfree_com shop_"}}<br/>
                                                {{t_ "Refund is not guaranteed"}}<br/>
                                                <a href="#" class="shops-learn-more">{{t_ "Learn more"}}</a>
                                            {{else}}
                                                {{#if isPartnerShipStatus 'pledger'}}
                                                    {{t_ "This is a vatfree_com Pledger shop_"}}<br/>
                                                    {{t_ "Refund is very likely_"}}<br/>
                                                    <a href="#" class="shops-learn-more">{{t_ "Learn more"}}</a>
                                                {{else}}
                                                    {{#if isPartnerShipStatus 'partner'}}
                                                        {{t_ "This is a vatfree_com Partner shop_"}}<br/>
                                                        {{t_ "Refund is guaranteed_"}}<br/>
                                                        <a href="#" class="shops-learn-more">{{t_ "Learn more"}}</a>
                                                    {{else}}
                                                        {{#if isPartnerShipStatus 'uncooperative'}}
                                                            {{t_ "This is an uncooperative vatfree_com shop_"}}<br/>
                                                            <span class="text-danger">{{t_ "Refund is very unlikely_"}}</span><br/>
                                                            {{#with getAffilitedWith}}
                                                                <div>
                                                                    {{t_ "This shop works exclusively with __affiliate__" affiliate=this}}
                                                                </div>
                                                            {{/with}}
                                                            <a href="#" class="shops-learn-more">{{t_ "Learn more"}}</a>
                                                        {{else}}
                                                            {{t_ "This is an unknown vatfree_com shop_"}}<br/>
                                                            <span class="text-danger">{{t_ "Refund is very unlikely_"}}</span><br/>
                                                            <a href="#" class="shops-learn-more">{{t_ "Learn more"}}</a>
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block">
                        <ul>
                            <li class="shop-here">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-text">
                                            <b>{{t_ "Did you shop here?"}}</b><br/>
                                            {{t_ "Do you have a receipt for this shop? Get a stamp at Customs before leaving the EU and submit the receipt to get your VAT refund_"}}
                                            <button class="button active submit-receipt">{{t_ "Submit a stamped receipt"}}</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                {{/with}}
            {{/if}}
        </div>
    </div>
</template>
