<template name="view_shops">
    <div class="view view-shops">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    {{#if stackSize}}
                        <a class="back link">
                            <span>{{t_ "Back"}}</span>
                        </a>
                    {{/if}}
                </div>
                <div class="center">{{t_ "Shops"}}</div>
                <div class="right info"><a id="main" class="tab-link"><i class="icon icon-info-fill"></i></a></div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="shops" class="page">
                <div class="list-block search-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <img src="/images/VattyR@3x.png" class="search-vattie" />
                                <div class="item-media"><i class="f7-icons">search</i></div>
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" name='searchTerm' placeholder="{{t_ "Search___"}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="page-content infinite-scroll search-content shop-search">
                    <div class="list-block">
                        <ul>
                            {{#each getShops}}
                                {{> shopItem }}
                            {{else}}
                                {{#if Template.subscriptionsReady}}
                                    <li>
                                        <a class="">
                                            <div class="item-content">
                                                <div class="item-media">
                                                    <img src="/images/vfcircleunkown.png" />
                                                </div>
                                                <div class="item-inner">
                                                    <div class="item-text">
                                                        <div class="name">
                                                            {{t_ "No shops found"}}
                                                        </div>
                                                        <div class="address">
                                                            {{t_ "Change your search terms and try again"}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {{else}}
                                    <li>
                                        <a class="">
                                            <div class="item-content">
                                                <div class="item-media">
                                                    <img src="/images/loading-indicator.gif" />
                                                </div>
                                                <div class="item-inner">
                                                    <div class="item-text">
                                                        <div class="name">
                                                            {{t_ "Loading___"}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                    {{#if moreResults}}
                        <div class="infinite-scroll-preloader">
                            <div class="preloader"></div>
                        </div>
                    {{/if}}
                </div>
            </div>
            {{#if getCurrentShop}}
                {{> view_shops_details }}
            {{/if}}
            {{#if learnMore}}
                {{> shops_status_learn_more }}
            {{/if}}
        </div>
        {{#if networkProblem}}
            {{> networkProblems }}
        {{/if}}
        {{> toolbar }}
    </div>
</template>

<template name="shops_status_learn_more">
    <div data-page="shops-learn-more" class="page cached">
        <div class="page-content infinite-scroll">
            <div class="page-padding">
                {{{getText}}}
            </div>
        </div>
    </div>
</template>
