<template name="payoutsList">
    <table class="table table-striped table-hover payout-list">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'payoutNr'}}" data-id="payoutNr">Payout Nr</th>
                    <th>Method</th>
                    <th>Traveller</th>
                    <th class="sort-header {{isHeaderSorting 'paidAt'}}" data-id="paidAt">Paid</th>
                    <th>Open</th>
                    <th>#</th>
                    <th class="sort-header {{isHeaderSorting 'amount'}}" data-id="amount">Amount</th>
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each payouts}}
            <tr class="item-row {{isActiveItem}} {{#if deleted}}deleted{{/if}}" id="item-{{_id}}">
                <td>
                    {{#if isInVatfreeRole 'payouts-read'}}
                        <a href="/payout/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a>
                    {{/if}}
                </td>
                <td class="client-status">
                    {{#if deleted}}
                        <i class="fa fa-trash"></i>
                    {{else}}
                        <i class="{{getPayoutIcon}}"></i>
                    {{/if}}
                    {{#if partnerId}}
                        <i class="icon icon-refcompetitor"></i>
                    {{/if}}
                </td>
                <td>{{payoutNr}}{{#if type}} ({{type}}){{/if}}</td>
                <td>
                    <i class="icon icon-{{getPaymentMethodIcon}}"></i>
                </td>
                <td>
                    {{getTravellerName}}
                </td>
                <td>{{formatDate paidAt}}</td>
                <td>{{daysOpen}}</td>
                <td>{{receiptIds.length}}</td>
                <td>{{formatCurrency amount}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="9">
                    <i>No Payouts found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
