<template name="payoutBatchesList">
    <table class="table table-striped table-hover payout-list">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'payoutBatchNumber'}}" data-id="payoutBatchNumber">Payout Batch Nr</th>
                    <th>Method</th>
                    <th>#</th>
                    <th class="sort-header {{isHeaderSorting 'amount'}}" data-id="amount">Amount</th>
                    <th class="sort-header {{isHeaderSorting 'createdAt'}}" data-id="createdAt">Created at</th>
                    <th>Created by</th>
                    <th class="sort-header {{isHeaderSorting 'paidAt'}}" data-id="paidAt">Paid</th>
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each payoutBatches}}
            <tr class="item-row {{isActiveItem}} {{#if deleted}}deleted{{/if}}" id="item-{{_id}}">
                <td>
                    {{#if isInVatfreeRole 'payouts-read'}}
                        <a href="/payout/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a>
                    {{/if}}
                </td>
                <td>{{payoutBatchNumber}}</td>
                <td>
                    <i class="icon icon-{{getPaymentMethodIcon}}"></i>
                </td>
                <td>{{payoutIds.length}}</td>
                <td>{{formatCurrency amount}}</td>
                <td>{{formatDate createdAt}}</td>
                <td>{{getUserName createdBy}}</td>
                <td>{{formatDate paidAt}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="9">
                    <i>No Payout batches found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
