<template name="payoutBatchInfo">
    <div class="ibox payout-batch-info">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    <div class="row m-b-lg">
                        <div class="col-sm-12">
                            <h2>
                                Payout Batch: {{payoutBatchNumber}}
                            </h2>
                        </div>
                    </div>
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>Payout Batch summary</strong>
                            <ul class="list-group clear-list">
                                <li class="list-group-item">
                                    <span class="pull-right"> {{payoutIds.length}} </span>
                                    Number of payouts
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency amount}} </span>
                                    Total payout amount
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> <i class="icon icon-{{getPaymentMethodIcon}}"></i> {{paymentMethod}}</span>
                                    Payout method
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDateTime createdAt}} </span>
                                    Created at
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{getUserName createdBy}} </span>
                                    Created by
                                </li>
                                {{#if uploadedAt}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatDateTime uploadedAt}} </span>
                                        Uploaded at
                                    </li>
                                {{/if}}
                                {{#if paidAt}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatDateTime paidAt}} </span>
                                        Paid at
                                    </li>
                                {{/if}}
                            </ul>
                            {{#if notes}}
                                <strong>Notes</strong>
                                <p>
                                    {{notes}}
                                </p>
                            {{/if}}
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
