<template name="payoutBatches">
    <div class="page payout-batches">
        {{> pageHeading title='Payout batches' category='Payouts' categoryLink='/payouts' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="input-group">
                                <input type="text" placeholder="Search payout batches" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                                </span>
                            </div>
                            <div class="input-group filter-icons">
                                <span class="label-filter-group">
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "creditcard"}}active{{/if}}" id="creditcard" title="Credit card">
                                        <i class="icon icon-creditcard"></i>
                                    </span>
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "sepa"}}active{{/if}}" id="sepa" title="SEPA Bank transfer">
                                        <i class="icon icon-bank"></i>
                                    </span>
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "paypal"}}active{{/if}}" id="paypal" title="Paypal">
                                        <i class="icon icon-paypal"></i>
                                    </span>
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "wechat"}}active{{/if}}" id="wechat" title="WeChat">
                                        <i class="icon icon-wechatpay"></i>
                                    </span>
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "alipay"}}active{{/if}}" id="alipay" title="AliPay">
                                        <i class="icon icon-alipay"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="clients-list item-list payouts-list">
                                {{#if initialLoadDone}}
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> payoutBatchesList payoutBatches=getPayoutBatches includeHeader=true sorting=getSorting }}
                                        </div>
                                    </div>
                                {{else}}
                                    {{> loading }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#with getActiveItem}}
                    <div class="col-sm-4">
                        {{> payoutBatchInfo }}
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
</template>
