<template name="payoutBatch">
    <div class="page payout-batches">
        {{> pageHeading title='Payout batch' category='Payout Batches' categoryLink='/payout-batches' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            {{#if Template.subscriptionsReady}}
                                {{#with totalStats}}
                                    <fieldset>
                                        <h2>Total</h2>
                                        <div class="list-aggregates">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td># payouts: {{count}}</td>
                                                    <td>Amounts: {{formatCurrency amount}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </fieldset>
                                {{/with}}
                                {{#each getPayoutBatches}}
                                    <fieldset>
                                        {{> payoutBatch_details }}
                                    </fieldset>
                                {{/each}}
                            {{else}}
                                {{> loading }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="payoutBatch_details">
    <div class="pull-right">
        <a class="btn btn-info btn-icon save-payout-batch" href="#" accesskey="s"><i class="icon icon-download"></i><u>D</u>ownload</a>
        {{#if $eq paymentMethod 'sepa'}}
            <a class="btn btn-info btn-icon save-payout-batch-sepa-xml" href="#" accesskey="s"><i class="icon icon-download"></i><u>D</u>ownload SEPA XML</a>
        {{/if}}
        {{#unless paidAt}}
            {{#if $eq paymentMethod 'creditcard'}}
                {{#if uploadedAt}}
                    <a class="btn btn-info btn-icon mark-as-paid" href="#"><i class="icon icon-payoutok"></i>Mark as paid</a>
                {{else}}
                    <a class="btn btn-info btn-icon upload-to-fintrax" href="#" accesskey="u" disabled="{{uploadingViaApi}}">
                        {{#if uploadingViaApi}}
                            <i class="fa fa-spinner fa-spin"></i>
                        {{else}}
                            <i class="icon icon-upload"></i>
                        {{/if}}
                        <u>U</u>pload to Fintrax
                    </a>
                {{/if}}
            {{else}}
                {{#if apiPresent}}
                    {{#if uploadedAt}}
                        {{!--
                        <a class="btn btn-info btn-icon mark-as-paid" href="#"><i class="icon icon-payoutok"></i>Mark as paid</a>
                        Should be handled by API
                        --}}
                    {{else}}
                        <a class="btn btn-info btn-icon process-payout-batch-via-api" href="#" accesskey="u" disabled="{{uploadingViaApi}}">
                            {{#if uploadingViaApi}}
                                <i class="fa fa-spinner fa-spin"></i>
                            {{else}}
                                <i class="icon icon-upload"></i>
                            {{/if}}
                            <u>U</u>pload via API
                        </a>
                    {{/if}}
                {{else}}
                    <a class="btn btn-info btn-icon mark-as-paid" href="#"><i class="icon icon-payoutok"></i>Mark as paid</a>
                {{/if}}
            {{/if}}
        {{/unless}}
    </div>
    <h2>{{payoutBatchNumber}} - {{paymentMethod}}</h2>
    <div class="list-aggregates">
        <table class="table">
            <tbody>
            <tr>
                <td># payouts: {{payouts.length}}</td>
                <td>
                    Amounts: {{formatCurrency amount}}
                    {{#if isType 'paypal'}}
                        (with fee: {{formatCurrency amountWithFee}})
                    {{/if}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {{#with payouts}}
        {{> Template.dynamic template=getPayoutBatchTemplate data=getDataContext }}
    {{/with}}
</template>

<template name="payoutBatch_details_creditcard">
<textarea style="width: 100%; height: 320px; white-space: nowrap;">VHR0000001{{formatDate payoutBatch.createdAt "YYYYMMDDHH:mm:ss"}}CET.-01:00FR.VAT.001{{batchNr}}01mr Hendrik Gerrit Smeenk + 31 06 53 49 20 44 + 31 06 53 49 20 44 0000000000+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{{#each payouts}}{{getCreditCardLine}}
{{/each}}VTR{{footerLength}}{{numberOfPayouts}}0000000{{numberOfPayouts}}{{totalValue}}+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</textarea>
</template>

<template name="payoutBatch_details_paypal">
<textarea style="width: 100%; height: 320px; white-space: nowrap;">"Paypall email",PPamount,"Paypal Currency Code","Payable: Payment Name","Payment specs Paypal"
{{#each payouts}}"{{paymentNr}}","{{formatAmountForExport amount}}","{{getCurrencyCode currencyId}}","{{payoutNr}}","Your vatfree.com refund {{getReceiptNrs}}"
{{/each}}</textarea>
</template>

<template name="payoutBatch_details_sepa">
<textarea style="width: 100%; height: 320px; white-space: nowrap;">Datum,B_IBAN,B_BIC,"Contact: B_holder","Contact: B_city","Total payment",Payment_specification
{{#each payouts}}"{{formatDate ../payoutBatch.createdAt "DD-MM-YYYY"}}","{{paymentNr}}","","{{#if paymentAccountName}}{{paymentAccountName}}{{else}}{{getTravellerName}}{{/if}}","{{getTravellerCity}}","{{formatAmountForExport amount}}","Your vatfree.com refund {{payoutNr}}"
{{/each}}</textarea>
</template>

<template name="payoutBatch_details_wechat">
<textarea style="width: 100%; height: 320px; white-space: nowrap;">Date,AccountNr,"Name","City","Total payment","Payment specification"
{{#each payouts}}"{{formatDate ../payoutBatch.createdAt "DD-MM-YYYY"}}","{{paymentNr}}","{{#if paymentAccountName}}{{paymentAccountName}}{{else}}{{getTravellerName}}{{/if}}","{{getTravellerCity}}","{{formatAmountForExport amount}}","Your vatfree.com refund {{payoutNr}}"
{{/each}}</textarea>
</template>

<template name="payoutBatch_details_alipay">
<textarea style="width: 100%; height: 320px; white-space: nowrap;">Date,AccountNr,"Name","City","Total payment","Payment specification"
{{#each payouts}}"{{formatDate ../payoutBatch.createdAt "DD-MM-YYYY"}}","{{paymentNr}}","{{#if paymentAccountName}}{{paymentAccountName}}{{else}}{{getTravellerName}}{{/if}}","{{getTravellerCity}}","{{formatAmountForExport amount}}","Your vatfree.com refund {{payoutNr}}"
{{/each}}</textarea>
</template>
