<template name="payouts">
    <div class="page payouts">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                <a class="btn btn-default btn-icon payout-batches" href="#" accesskey="p" tabindex="-1"><i class="icon icon-payouts"></i><u>P</u>ayout Batches</a>
                                <a class="btn btn-info btn-icon payout-create-new" href="#" accesskey="e" disabled="{{#if creatingPayouts}}true{{else}}{{#unless getStatsCount 'payouts'}}true{{/unless}}{{/if}}"><i class="icon icon-ready4payout {{#if $eq creatingPayouts 'normal'}}fa-spin{{/if}}"></i><u>E</u>xport Open Payouts ({{getStatsCount 'payouts'}})</a>
                                <a class="btn btn-info btn-icon payout-create-new-partner" href="#" accesskey="e" disabled="{{#if creatingPayouts}}true{{else}}{{#unless getStatsCount 'payouts-partner'}}true{{/unless}}{{/if}}"><i class="icon icon-ready4payout {{#if $eq creatingPayouts 'partner'}}fa-spin{{/if}}"></i><u>E</u>xport Open Partner Payouts ({{getStatsCount 'payouts-partner'}})</a>
                            </div>
                            <h2>Payouts</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Search payout" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                            </span>
                            </div>
                            <div class="input-group filter-icons">
                                <span class="pull-right toggle-list-filters {{#if activeListfilters}}filter-icon active{{/if}} {{#if showListFilters}}active{{/if}}"><i class="icon icon-filterfunnel"></i></span>
                                <span class="label label-info label-filter cursor-pointer todos-filter pull-right">Filter {{getStatsCount 'payouts'}} tasks</span>
                                <span class="label-filter-group">
                                    {{#each getPayoutStatusOptions}}
                                        <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getPayoutIcon this}}"></i></span>
                                    {{/each}}
                                </span>
                                <span class="label-filter-group">
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "creditcard"}}active{{/if}}" id="creditcard" title="Credit card">
                                        <i class="icon icon-creditcard"></i>
                                    </span>
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "sepa"}}active{{/if}}" id="sepa" title="SEPA Bank transfer">
                                        <i class="icon icon-bank"></i>
                                    </span>
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "paypal"}}active{{/if}}" id="paypal" title="Paypal">
                                        <i class="icon icon-paypal"></i>
                                    </span>
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "wechat"}}active{{/if}}" id="wechat" title="WeChat">
                                        <i class="icon icon-wechatpay"></i>
                                    </span>
                                    <span class="filter-icon payment-method-filter-icon {{#if isActivePaymentMethodFilter "alipay"}}active{{/if}}" id="alipay" title="AliPay">
                                        <i class="icon icon-alipay"></i>
                                    </span>
                                </span>
                                <span class="label-filter-group">
                                    <span class="filter-icon partner-filter-icon {{#if isActivePartnerFilter}}active{{/if}} {{#if isInactivePartnerFilter}}inactive{{/if}}" title="Partner receipt">
                                        <i class="icon icon-refcompetitor"></i>
                                    </span>
                                </span>
                            </div>
                            {{#if showListFilters}}
                                <div class="input-group list-filters">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Traveller</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icon icon-traveller"></i></span>
                                                    <select name="listFilter.travellerId" class="form-control">
                                                        {{#with getListFilterValue "travellerId"}}
                                                            <option value="{{this}}">{{getUserName this}}</option>
                                                        {{/with}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Amount</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.amount" data-compare="$gte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "amount.$gte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                            <input type="number" min="0" step="0.01" name="listFilter.amount" data-compare="$lte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "amount.$lte" "number" 100}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Created date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.createdAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.createdAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "createdAt.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Update date</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.updatedAt" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "updatedAt.$gte" "date"}}" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                            <input type="text" name="listFilter.updatedAt" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "updatedAt.$lte" "date"}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            {{#with getPayoutStats}}
                                <div class="list-aggregates">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td># payouts: {{count}}</td>
                                            <td>Amounts: {{formatCurrency amount}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {{/with}}
                            <div class="clients-list item-list payouts-list">
                                {{#if initialLoadDone}}
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> payoutsList payouts=getPayouts includeHeader=true sorting=getSorting }}
                                        </div>
                                    </div>
                                {{else}}
                                    {{> loading }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#with getActiveItem}}
                    <div class="col-sm-4">
                        {{> payoutInfo }}
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
</template>
