<template name="sepa_xml">
<Document xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03">
    <CstmrCdtTrfInitn>
        <GrpHdr>
            <MsgId>{{payoutBatchNumber}}</MsgId>
            <CreDtTm>{{formatDate createdAt "YYYY-MM-DDTHH:mm:ss"}}</CreDtTm>
            <NbOfTxs>{{numberOfPayouts}}</NbOfTxs>
            <CtrlSum>{{formatAmount sumOfPayouts}}</CtrlSum>
            <InitgPty>
                <Nm>Vatfree</Nm>
            </InitgPty>
        </GrpHdr>
        <PmtInf>
            <PmtInfId>{{payoutBatchNumber}}-001</PmtInfId>
            <PmtMtd>TRF</PmtMtd>
            <BtchBookg>true</BtchBookg>
            <NbOfTxs>{{numberOfPayouts}}</NbOfTxs>
            <CtrlSum>{{formatAmount sumOfPayouts}}</CtrlSum>
            <PmtTpInf>
                <SvcLvl>
                    <Cd>SEPA</Cd>
                </SvcLvl>
            </PmtTpInf>
            <ReqdExctnDt>{{formatDate createdAt "YYYY-MM-DD"}}</ReqdExctnDt>
            <Dbtr>
                <Nm>Vatfree</Nm>
            </Dbtr>
            <DbtrAcct>
                <Id>
                    <IBAN>NL36ABNA0542115646</IBAN>
                </Id>
            </DbtrAcct>
            <DbtrAgt>
                <FinInstnId>
                    <BIC>ABNANL2A</BIC>
                </FinInstnId>
            </DbtrAgt>
            <ChrgBr>SLEV</ChrgBr>
            {{#each getPayouts}}
            <CdtTrfTxInf>
                <PmtId>
                    <EndToEndId>{{payoutNr}}</EndToEndId>
                </PmtId>
                <Amt>
                    <InstdAmt Ccy="EUR">{{formatAmount amount}}</InstdAmt>
                </Amt>
                <CdtrAgt>
                    <FinInstnId>
                        <Othr>
                            <Id>NOTPROVIDED</Id>
                        </Othr>
                    </FinInstnId>
                </CdtrAgt>
                <Cdtr>
                    <Nm>{{#if paymentAccountName}}{{paymentAccountName}}{{else}}{{getTravellerName}}{{/if}}</Nm>
                </Cdtr>
                <CdtrAcct>
                    <Id>
                        <IBAN>{{toUpperCase paymentNr}}</IBAN>
                    </Id>
                </CdtrAcct>
                <RmtInf>
                    <Strd>
                        <CdtrRefInf>
                            <Tp>
                                <CdOrPrtry>
                                    <Cd>SCOR</Cd>
                                </CdOrPrtry>
                                <Issr>CUR</Issr>
                            </Tp>
                            <Ref>Your vatfree.com refund {{getReceiptNrs}}</Ref>
                        </CdtrRefInf>
                    </Strd>
                </RmtInf>
            </CdtTrfTxInf>{{/each}}
        </PmtInf>
    </CstmrCdtTrfInitn>
</Document>
</template>
