<template name="travellerRejectionEdit">
    {{#with itemDoc}}
        {{> pageHeading title=getBreadcrumbTitle category='Traveller Rejections' categoryLink='/rejections-traveller' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-8">
                    {{> travellerRejectionEditForm }}
                </div>
                <div class="col-sm-4">
                    {{> travellerRejectionInfo }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="travellerRejectionEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> TravellerRejection details</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="TravellerRejection name" value="{{name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="description" placeholder="Notes about this travellerRejection">{{description}}</textarea>
                                </div>
                            </div>
                            {{#each getTravellerLanguages}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{name}} ({{code}})</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="text.{{code}}" placeholder="{{name}}">{{getTextForLanguage}}</textarea>
                                    </div>
                                </div>
                            {{/each}}
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</template>
