<template name="travellerRejectionInfo">
    <div class="ibox travellerRejection-info">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    <div class="row m-b-lg">
                        <div class="col-lg-4 text-center">
                            <span class="flag-icon flag-icon-{{toLowerCase code}}"></span>
                        </div>
                        <div class="col-lg-8">
                            <strong>{{name}} ({{code}})</strong><br/>
                            {{#each vatRates}}
                                {{description}}: {{rate}}%<br/>
                            {{/each}}
                        </div>
                    </div>
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            {{#if notes}}
                                <strong>Notes</strong>
                                <p>
                                    {{notes}}
                                </p>
                            {{/if}}
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
