.payments-reconcile-tasks {
    .ibox {
        border: 1px solid #ddd;

        .ibox-title {
            background-color: #eee;
        }
    }
    .bank-payment {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;

        .date, .amount {
            flex-grow: 0;
            flex-shrink: 0;
            width: 100px;
        }

        .payee, .description {
            flex-grow: 1;
            font-weight: bold;
        }
    }

    .bank-payment-description {
        font-size: 10px;
    }
}
