<template name="login">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="text-center">
            <div class="title">{{t_ "First things first___"}}</div>
            {{#if registering}}
                <form name="register-form">
                    <p>
                        {{t_ "Fill in your email address to register"}}
                    </p>
                    <p>
                        {{t_ "We will send you an email with a link which automatically logs you in"}}
                    </p>
                    <div class="form-group">
                        <input name="register_email" type="email" class="form-control" placeholder="{{t_ "Email"}}" required="">
                    </div>
                    <button type="submit" class="btn btn-primary full-width m-b" disabled="{{#if isRegistering}}disabled{{/if}}">{{#if isRegistering}}<i class="fa fa-spinner fa-spin"></i> {{/if}}{{t_ "Register"}}</button>
                    <button class="btn btn-white cancel-register-account">{{t_ "Cancel"}}</button>
                </form>
            {{else}}
                {{#if forgotPasswordSet}}
                    <form name="password-forgot-set-form">
                        <p>
                            {{t_ "Fill in your email address and we will send you instructions how to retrieve your password"}}
                        </p>
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" placeholder="{{t_ "Email"}}" required="required" value="{{forgotPasswordSet}}">
                        </div>
                        <div class="form-group">
                            <input name="code" type="text" class="form-control" placeholder="{{t_ "Reset code (sent by email)"}}" required="required">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" placeholder="{{t_ "Password"}}" required="required">
                        </div>
                        <div class="form-group">
                            <input name="password2" type="password" class="form-control" placeholder="{{t_ "Repeat password"}}" required="required">
                        </div>
                        <button type="submit" class="btn btn-primary full-width m-b" disabled="{{#if isSettingPassword}}disabled{{/if}}">{{#if isSettingPassword}}<i class="fa fa-spinner fa-spin"></i> {{/if}}{{t_ "Reset password"}}</button>
                        <button class="btn btn-white cancel-forgot-password">{{t_ "Cancel"}}</button>
                    </form>

                {{else}}
                    {{#if forgotPassword}}
                        <form name="password-forgot-form">
                            <p>
                                {{t_ "Fill in your email address and we will send you instructions how to retrieve your password"}}
                            </p>
                            <div class="form-group">
                                <input name="email" type="email" class="form-control" placeholder="{{t_ "Email"}}" required="required">
                            </div>
                            <button type="submit" class="btn btn-primary full-width m-b" disabled="{{isSendingPasswordRestCode}}">{{#if isSendingPasswordRestCode}}<i class="fa fa-spinner fa-spin"></i> {{/if}}{{t_ "Send password reset code"}}</button>
                            <button class="btn btn-white cancel-forgot-password">{{t_ "Cancel"}}</button>
                        </form>
                    {{else}}
                        {{#if loginServiceActive 'google'}}
                            <div class="login-button google-login {{#if isLoggingInWithSocial}}disabled{{/if}}">
                                {{#if isLoggingInWithSocial 'google'}}
                                    <i class="fa fa-spinner fa-spin"></i>
                                {{else}}
                                    <i class="fa fa-google"></i>
                                {{/if}}
                                <span>
                                    {{t_ "Login with Google"}}
                                </span>
                            </div>
                        {{/if}}
                        {{#if loginServiceActive 'facebook'}}
                            <div class="login-button facebook-login {{#if isLoggingInWithSocial}}disabled{{/if}}">
                                {{#if isLoggingInWithSocial 'facebook'}}
                                    <i class="fa fa-spinner fa-spin"></i>
                                {{else}}
                                    <i class="fa fa-facebook"></i>
                                {{/if}}
                                <span>
                                    {{t_ "Login with Facebook"}}
                                </span>
                            </div>
                        {{/if}}
                        {{#if loginServiceActive 'linkedin'}}
                            <div class="login-button linkedin-login {{#if isLoggingInWithSocial}}disabled{{/if}}">
                                {{#if isLoggingInWithSocial 'linkedin'}}
                                    <i class="fa fa-spinner fa-spin"></i>
                                {{else}}
                                    <i class="fa fa-linkedin"></i>
                                {{/if}}
                                <span>
                                    {{t_ "Login with LinkedIn"}}
                                </span>
                            </div>
                        {{/if}}
                        {{#if loginServiceActive 'wechat'}}
                            <div class="login-button wechat-login {{#if isLoggingInWithSocial}}disabled{{/if}}">
                                {{#if isLoggingInWithSocial 'wechat'}}
                                    <i class="fa fa-spinner fa-spin"></i>
                                {{else}}
                                    <i class="fa fa-wechat"></i>
                                {{/if}}
                                <span>
                                    {{t_ "Login with WeChat"}}
                                </span>
                            </div>
                        {{/if}}
                        <div class="alternative-login">
                            <div class="alternative-text"><span>{{t_ "or login with email"}}</span></div>
                        </div>
                        <form name="password-login">
                            <div class="form-group">
                                <input name="email" type="email" class="form-control" placeholder="{{t_ "Email"}}" required="">
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" placeholder="{{t_ "Password"}}" required="">
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b" disabled="{{isLoggingIn}}{{isLoggingInWithSocial}}">{{#if isLoggingIn}}<i class="fa fa-spinner fa-spin"></i> {{/if}}{{t_ "Login"}}</button>
                            <button  class="btn btn-white block full-width m-b forgot-password" disabled="{{isLoggingIn}}{{isLoggingInWithSocial}}">{{t_ "Click here to reset your password"}}</button>
                        </form>

                        <div class="alternative-login">
                            <div class="alternative-text"><span>{{t_ "Do not have an account yet?"}}</span></div>
                        </div>
                        <button class="btn btn-sm btn-primary btn-block register-account" disabled="{{isLoggingIn}}{{isLoggingInWithSocial}}">{{t_ "Create an account"}}</button>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</template>
