<template name="mainLayout">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54M3VLP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{#with getVersionInfo}}
        <div class="version-banner">
            {{this}}
        </div>
    {{/with}}
    {{#if loggingIn}}
        {{> loading }}
    {{else}}
        {{#if Template.subscriptionsReady}}
            <div id="wrapper" class="{{getBackgroundImage}} {{#if useMobileWebsite}}use-mobile-site{{/if}}">
                <div id="page-wrapper" class="gray-bg">
                {{> topNavbar }}
                    {{#if currentUser}}
                        {{#if passwordChecked}}
                            {{#if setPassword}}
                                {{> set_password }}
                            {{else}}
                                {{>Template.dynamic template=content}}
                            {{/if}}
                        {{else}}
                            {{> loading }}
                        {{/if}}
                    {{else}}
                        {{> login }}
                    {{/if}}
                </div>
                <div class="download-mobile-app">
                    {{{getWebText 'traveller_download_mobile_app'}}}
                </div>
            </div>
        {{/if}}
    {{/if}}
</template>
