<template name="publicLayout">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54M3VLP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{#if loggingIn}}
        {{> loading }}
    {{else}}
        <div id="wrapper" class="{{getBackgroundImage}} use-mobile-site">
            <div id="page-wrapper" class="gray-bg">
                {{> topNavbar }}
                {{>Template.dynamic template=content}}
            </div>
        </div>
    {{/if}}
</template>
