<template name="set_password">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="text-center">
            <div class="title">{{t_ "Please set your password"}}</div>
            <form name="password-set-form">
                <p>
                    {{t_ "Fill in a safe password to able to access your account at a later stage"}}
                </p>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="{{t_ "Password"}}" required="required">
                </div>
                <div class="form-group">
                    <input name="password2" type="password" class="form-control" placeholder="{{t_ "Repeat password"}}" required="required">
                </div>
                <button type="submit" class="btn btn-primary full-width m-b" disabled="{{#if isSettingPassword}}disabled{{/if}}">{{#if isSettingPassword}}<i class="fa fa-spinner fa-spin"></i> {{/if}}{{t_ "Save password"}}</button>
            </form>
        </div>
    </div>
</template>
