<template name="terms_text">
    <div class="terms">
        <div class="head">
            <h2>{{t_ "Acceptance of terms and conditions"}}</h2>
            <div>
                {{{getWebText 'terms_intro'}}}
            </div>
            {{#if languageNotNL}}
                <div class="trans">{{t_ "A TRANSLATION OF THE GENERAL TERMS AND CONDITIONS OF VATFREE"}}</div>
            {{/if}}
        </div>
        <div class="cont typo">
            <div>
                {{{getWebText 'terms'}}}
            </div>
        </div>
    </div>
</template>
