<template name="topNavbar">
    <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top hidden-xs" role="navigation">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/vatfree@2x.png" class="hidden-xs hidden-sm hidden-md"/>
                    <img src="/vatfree-logo@2x.png" class="visible-xs visible-sm visible-md"/>
                </a>
            </div>
            {{#if currentUser}}
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="{{isActivePath regex='^/$|/receipt'}}"><a href="/receipts">{{t_ "My receipts"}}</a></li>
                        <li class="{{isActivePath regex='/payout'}}"><a href="/payouts">{{t_ "My payouts"}}</a></li>
                        <li class="{{isActivePath regex='/profile'}}"><a href="/profile">{{t_ "My account"}}</a></li>
                        <li class="{{isActivePath regex='/shops'}}"><a href="/shops">{{t_ "Shopping guide"}}</a></li>
                        <li class="{{isActivePath regex='/faq'}}"><a href="/faqs">{{t_ "FAQ"}}</a></li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="hidden-xs hidden-sm hidden-md hidden-lg"><a href="/profile"><i class="icon icon-actorclient"></i> {{getUserName}}</a></li>
                        <li>
                            <a href="#" class="logout">
                                <i class="icon icon-logout"></i> <span class="hidden-xs hidden-sm">{{t_ "Log out"}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            {{else}}
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        {{#if isActivePath regex='/faq'}}
                            <li class="{{isActivePath regex='/login'}}"><a href="/login">{{t_ "Login"}}</a></li>
                        {{/if}}
                        <li class="{{isActivePath regex='/faq'}}"><a href="/faqs">{{t_ "FAQ"}}</a></li>
                    </ul>
                </div>
            {{/if}}
        </nav>
        <nav class="navbar navbar-default navbar-right visible-xs">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <img src="/vatfree@2x.png" />
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">{{t_ "Toggle navigation"}}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                {{#if currentUser}}
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="{{isActivePath regex='^/$|/receipt'}}"><a href="/receipts">{{t_ "My receipts"}}</a></li>
                            <li class="{{isActivePath regex='/payout'}}"><a href="/payouts">{{t_ "My payouts"}}</a></li>
                            <li class="{{isActivePath regex='/profile'}}"><a href="/profile">{{t_ "My account"}}</a></li>
                            <li class="{{isActivePath regex='/shops'}}"><a href="/shops">{{t_ "Shopping guide"}}</a></li>
                            <li class="{{isActivePath regex='/faq'}}"><a href="/faqs">{{t_ "FAQ"}}</a></li>
                            <li>
                                <a href="#" class="logout">
                                    <i class="fa fa-sign-out"></i> {{t_ "Log out"}}
                                </a>
                            </li>
                        </ul>
                    </div>
                {{else}}
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {{#if isActivePath regex='/faq'}}
                                <li class="{{isActivePath regex='/login'}}"><a href="/login">{{t_ "Login"}}</a></li>
                            {{/if}}
                            <li class="{{isActivePath regex='/faq'}}"><a href="/faqs">{{t_ "FAQ"}}</a></li>
                        </ul>
                    </div>
                {{/if}}
            </div>
        </nav>
    </div>
</template>
