<template name="listItem">
    <li class="{{class}}">
        <a class="item-link">
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title">
                        {{title}}
                    </div>
                </div>
            </div>
        </a>
    </li>
</template>
