<template name="shopItem">
    <li>
        {{#with getShopData}}
            <a class="item-link">
                <div class="item-content">
                    <div class="item-media">
                        <img src="/images/{{getPartnershipStatusLogo p}}" />
                    </div>
                    <div class="item-inner">
                        <div class="item-text">
                            <div class="name">
                                <div class="distance">{{geoDistance g}}</div>
                                {{n}}
                            </div>
                            <div class="address">
                                {{{a}}}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {{/with}}
    </li>
</template>
