<template name="receipt_add_shop">
    <h2>{{t_ "Add new shop"}}</h2>
    <form role="form" name="add-shop-form">
        <input type="hidden" name="place" value="" />
        <div class="form-group required">
            <label>{{t_ "Search for the shop you want to add"}}</label>
            <div class="text-muted">
                {{{getWebText 'travellers_shop_search_explanation'}}}
            </div>
            {{> forms_map name='geo' addressbar='_map_addressbar' onChangeCallback=selectMapLocationCallback }}
        </div>
        {{#if getWebText "traveller_new_shop"}}
            <blockquote class="alert-info has-icon web-text"><i class="icon icon-info"></i>{{{getWebText "traveller_new_shop"}}}</blockquote>
        {{/if}}
        <div class="pull-right">
            <button class="btn btn-sm btn-default m-t-n-xs cancel-add-shop" tabindex="0"><strong>{{t_ "Cancel"}}</strong></button>
            <button class="btn btn-sm btn-primary m-t-n-xs" type="submit" tabindex="0"><strong>{{t_ "Add shop"}}</strong></button>
        </div>
        <br/>
    </form>
</template>
