<template name="receipt_add">
    <div class="wrapper wrapper-content">
        <div class="container receipt-add">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3">
                    <div class="ibox" tabindex="{{#if receiptTasks}}-1{{/if}}{{#if addingItem}}-1{{/if}}">
                        <div class="ibox-content text-center">
                            {{#if showTerms}}
                                {{> receipt_terms }}
                            {{else}}
                                {{#if addingShop}}
                                    {{> receipt_add_shop }}
                                {{else}}
                                    {{#if getShopId}}
                                        <h2>{{t_ "Register a purchase receipt"}}</h2>
                                    {{else}}
                                        <blockquote class="web-text with-vattie cargo-receipt-select"><i class="icon icon-traveller vattie"></i><h2>{{t_ "Registering a purchase receipt?"}}</h2><span class="pre-text">
                                            {{{getWebText 'traveller_regular_receipt'}}}
                                        </span>
                                        </blockquote>
                                        <div class="hr-line-dashed"></div>
                                    {{/if}}
                                    <form role="form" name="add-receipt-form">
                                        <input type="hidden" name="receiptTypeId" value="{{receiptTypeId}}" />
                                        <div class="form-group required">
                                            <label>{{t_ "In which shop did you make your purchase?"}}</label>
                                            <div class="input-group shop-selection">
                                                <span class="input-group-addon"><i class="icon icon-shops"></i></span>
                                                <select name="shopId" class="form-control" required="required" tabindex="0">
                                                </select>
                                            </div>
                                            {{#if getShopId}}
                                                {{#if isUncooperativeShop}}
                                                    {{#if getWebText "travellers_noncooperative_shop"}}
                                                        <blockquote class="alert-danger has-icon web-text"><i class="icon icon-attention"></i>{{{getWebText "travellers_noncooperative_shop"}}}</blockquote>
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                            {{#unless getShopId}}
                                                <p class="subtext">
                                                    {{{getWebText "travellers_shop_search_explanation"}}}
                                                </p>
                                            {{/unless}}
                                        </div>
                                        <input type="hidden" name="addShop" class="add-shop" value="" />
                                        <input type="hidden" name="countryId" value="" />
                                        <input type="hidden" name="currencyId" value="" />
                                        {{#if getShopId}}
                                            {{#unless isUncooperativeShop}}
                                                {{#if isNato}}
                                                    {{> receipt_add_nato_options travellerType=getTravellerType shopId=getShopId }}
                                                {{else}}
                                                    <div class="animated fadeInDown">
                                                        {{> receipt_has_cheque hasCheque=hasCheque }}
                                                        {{#if hasCheque }}
                                                            {{> receipt_add_cheque currencySymbol=getCurrencySymbol }}
                                                        {{/if}}
                                                        {{#unless hasChequeChoice}}
                                                            <p class="subtext">
                                                                {{{getWebText "travellers_cheque_explanation"}}}
                                                            </p>
                                                        {{/unless}}
                                                        {{#if hasChequeChoice}}
                                                            <div class="hr-line-dashed"></div>
                                                            {{> receipt_got_stamp receiptIsStamped=receiptIsStamped }}
                                                            {{#if receiptStampedChoice}}
                                                                {{> receipt_add_stamp receiptIsStamped=receiptIsStamped countries=getCountries }}
                                                            {{/if}}
                                                        {{/if}}
                                                    </div>
                                                {{/if}}
                                                {{#if getCustomsDate}}
                                                    {{> receipt_add_details currencySymbol=getCurrencySymbol fileTypes=getFileTypes files=getFiles }}
                                                {{else}}
                                                    {{> receipt_cancel_button }}
                                                {{/if}}
                                            {{else}}
                                                {{> receipt_cancel_button }}
                                            {{/unless}}
                                        {{else}}
                                            {{> receipt_cancel_button }}
                                        {{/if}}
                                    </form>
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                    {{#unless showTerms}}
                        {{#unless getShopId}}
                            <div class="ibox" tabindex="{{#if receiptTasks}}-1{{/if}}{{#if addingItem}}-1{{/if}}">
                                <div class="ibox-content text-center">
                                    <blockquote class="web-text with-vattie cargo-receipt-select"><i class="icon icon-cargoworld vattie"></i><h2>{{t_ "Registering a CARGO receipt?"}}</h2><span class="pre-text">
                                            {{{getWebText 'traveller_cargo_receipt'}}}
                                        </span>
                                    </blockquote>
                                </div>
                            </div>
                        {{/unless}}
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</template>
