<template name="receipt_cancel_button">
    <div class="pull-right">
        <button class="btn btn-sm btn-default m-t-n-xs cancel-add-receipt" tabindex="0">{{t_ "Cancel"}}</button>
    </div>
    <br/>
</template>
