<template name="receipt_cargo_flow">
    <div class="animated fadeInDown">
        <div class="sub-form">
            <p class="subtext">
                {{t_ "From which country did you export your goods?"}}
            </p>
            <div class="row form-group">
                <label class="col-sm-4 control-label">{{t_ "Country"}}</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon icon-countries"></i></span>
                        <select name="customsCountryId" class="form-control" tabindex="0" disabled="{{disabled}}">
                            {{#each countries}}
                                <option value="{{_id}}" selected="{{isSelected code 'NL'}}">{{name}} ({{code}})</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-4 control-label">{{t_ "Export date"}}</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                        <input type="text" name="customsDate" class="form-control" required="required" tabindex="0" disabled="{{disabled}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
