<template name="receipt_cargo">
    <div class="wrapper wrapper-content">
        <div class="container receipt-add receipt-add-cargo">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3">
                    <div class="ibox" tabindex="{{#if receiptTasks}}-1{{/if}}{{#if addingItem}}-1{{/if}}">
                        <div class="ibox-content text-center">
                            {{#if showTerms}}
                                {{> receipt_terms }}
                            {{else}}
                                <h2>{{t_ "Register a CARGO receipt"}}</h2>
                                <div class="form-group required">
                                    <label>{{t_ "How were your goods exported?"}}</label>
                                    <div class="pill-type-options">
                                        <div class="pill-type-option {{isActiveCargoTypeSelected 'ship'}}" id="ship">
                                            <i class="icon icon-harbour"></i>
                                            <span class="pill-type-name">{{t_ "By a shipping company"}}</span>
                                        </div>
                                        <div class="pill-type-option {{isActiveCargoTypeSelected 'shop'}}" id="shop">
                                            <i class="icon icon-cargobox"></i>
                                            <span class="pill-type-name">{{t_ "By post, sent by the (online) shop"}}</span>
                                        </div>
                                    </div>
                                </div>
                                {{#if hasCargoTypeChoice}}
                                    {{> receipt_add_files fileTypes=basicFileTypes files=getFiles }}
                                    {{#if hasBasicFiles}}
                                        <form role="form" name="add-cargo-receipt-form">
                                            {{#unless normalFlow}}
                                                <div class="hr-line-dashed"></div>
                                                {{> receipt_cargo_flow countries=getCountries }}
                                            {{/unless}}
                                            {{#if hasMoreReceipts}}
                                                <div class="hr-line-dashed"></div>
                                                <div class="table-responsive item-list infinite-scrolling">
                                                    <table class="table table-striped table-hover item-list more-receipts-list">
                                                        <thead>
                                                            <tr>
                                                                <th>&nbsp;</th>
                                                                <th class="">{{t_ "Shop"}}</th>
                                                                <th class="nobr text-right">{{t_ "Amount"}}</th>
                                                                <th class="nobr text-right">{{t_ "VAT"}}</th>
                                                                <th class="nobr text-right">{{t_ "Files"}}</th>
                                                                <th>&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each moreReceipts}}
                                                                <tr>
                                                                    <td><i class="icon icon-receiptadd"></i></td>
                                                                    <td>{{getShopDescription receipt.shopId}}</td>
                                                                    <td class="nobr text-right">{{formatCurrency receipt.amount 2 receipt.currencyId}}</td>
                                                                    <td class="nobr text-right">{{formatCurrency receipt.totalVat 2 receipt.currencyId}}</td>
                                                                    <td class="nobr text-right">
                                                                        <ul class="files">
                                                                            {{#each files}}
                                                                                <div class="file-thumb" title="{{name}}">
                                                                                    <img src="{{fileContent}}" />
                                                                                </div>
                                                                            {{/each}}
                                                                        </ul>
                                                                    </td>
                                                                    <td>
                                                                        <i class="icon icon-receiptreject remove-more-receipt" title="{{t_ "Remove receipt"}}"></i>
                                                                    </td>
                                                                </tr>
                                                            {{/each}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                {{#unless addingReceipt}}
                                                    <div class="pull-right">
                                                        <button class="btn btn-primary add-another-receipt" tabindex="0"><i class="icon icon-plus"></i> {{t_ "Add more receipts"}}</button>
                                                    </div>
                                                    <br/>
                                                {{/unless}}
                                            {{/if}}
                                            <div class="hr-line-dashed"></div>
                                            {{#if getCustomsDate}}
                                                {{#if addingReceipt}}
                                                    <div class="animated fadeInDown">
                                                        {{#if addingShop}}
                                                            {{> receipt_add_shop }}
                                                        {{else}}
                                                            <input type="hidden" name="receiptTypeId" value="{{receiptTypeId}}" />
                                                            <input type="hidden" name="cargoType" value="{{getCargoTypeChoice}}" />
                                                            <div class="form-group required">
                                                                <label>{{t_ "In which shop did you make your purchase?"}}</label>
                                                                <div class="input-group shop-selection">
                                                                    <span class="input-group-addon"><i class="icon icon-shops"></i></span>
                                                                    <select name="shopId" class="form-control" required="required" tabindex="0">
                                                                    </select>
                                                                </div>
                                                                {{#if getShopId}}
                                                                    {{#if isUncooperativeShop}}
                                                                        {{#if getWebText "travellers_noncooperative_shop"}}
                                                                            <blockquote class="alert-danger has-icon web-text"><i class="icon icon-attention"></i>{{{getWebText "travellers_noncooperative_shop"}}}</blockquote>
                                                                        {{/if}}
                                                                    {{/if}}
                                                                {{/if}}
                                                                {{#unless getShopId}}
                                                                    <p class="subtext">
                                                                        {{{getWebText 'travellers_shop_search_explanation'}}}
                                                                    </p>
                                                                {{/unless}}
                                                            </div>
                                                            <input type="hidden" name="addShop" class="add-shop" value="" />
                                                            <input type="hidden" name="countryId" value="" />
                                                            <input type="hidden" name="currencyId" value="" />
                                                            {{#if getShopId}}
                                                                {{#unless isUncooperativeShop}}
                                                                    <div class="animated fadeInDown">
                                                                        {{#if normalFlow}}
                                                                            {{> receipt_got_stamp receiptIsStamped=receiptIsStamped }}
                                                                            {{#if receiptStampedChoice}}
                                                                                {{> receipt_add_stamp receiptIsStamped=receiptIsStamped countries=getCountries }}
                                                                            {{/if}}
                                                                        {{/if}}
                                                                    </div>
                                                                    {{#if getCustomsDate}}
                                                                        {{> receipt_add_details currencySymbol=getCurrencySymbol fileTypes=getFileTypes files=getFiles hideButtons=true }}
                                                                        {{#if hasFiles}}
                                                                            <div class="hr-line-dashed"></div>
                                                                            <div class="pull-right">
                                                                                <button class="btn btn-default cancel-add-receipt" tabindex="0">{{t_ "Cancel"}}</button>
                                                                                <button class="btn btn-primary add-more-receipts" tabindex="0"><i class="icon icon-plus"></i> {{t_ "Add receipt"}}</button>
                                                                            </div>
                                                                            <br/>
                                                                        {{/if}}
                                                                    {{else}}
                                                                        {{> receipt_cancel_button }}
                                                                    {{/if}}
                                                                {{else}}
                                                                    {{> receipt_cancel_button }}
                                                                {{/unless}}
                                                            {{else}}
                                                                {{> receipt_cancel_button }}
                                                            {{/if}}
                                                        {{/if}}
                                                    </div>
                                                {{else}}
                                                    <div>
                                                        <p class="web-text">
                                                            {{{getWebText 'travellers_cargo_multiple_receipts'}}}
                                                        </p>
                                                        <div class="pull-right">
                                                            <button class="btn btn-default cancel-add-receipt" tabindex="0" disabled="{{submittingReceipts}}">{{t_ "Cancel"}}</button>
                                                            <button class="btn btn-primary" type="submit" tabindex="0" disabled="{{submittingReceipts}}">
                                                                {{#if submittingReceipts}}
                                                                    {{> loading }}
                                                                {{else}}
                                                                    {{t_ "Submit cargo request"}}
                                                                {{/if}}
                                                            </button>
                                                        </div>
                                                        <br/>
                                                    </div>
                                                {{/if}}
                                            {{else}}
                                                {{> receipt_cancel_button }}
                                            {{/if}}
                                        </form>
                                    {{else}}
                                        {{> receipt_cancel_button }}
                                    {{/if}}
                                {{else}}
                                    {{> receipt_cancel_button }}
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
