<template name="receipt_add_cheque">
    <div class="sub-form animated fadeInDown">
        <div class="cheque-options">
            <div class="row form-group required">
                <label class="col-sm-4 control-label">{{t_ "Cheque issuer"}} <sup>*</sup></label>
                <div class="col-sm-8">
                    <select name="receiptTypeExtraFields.type" class="form-control" required="true" tabindex="0">
                        {{#each checqueTypes}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row form-group required">
                <label class="col-sm-4 control-label">{{t_ "Cheque Amount"}} <sup>*</sup></label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">{{currencySymbol}}</span>
                        <input type="number" name="receiptTypeExtraFields.amount" placeholder="{{t_ "Fill in the tax free form amount"}}" class="form-control" min="0" step="0.01" required="required" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-4 control-label">{{t_ "Cheque id"}}</label>
                <div class="col-sm-8">
                    <input type="text" name="receiptTypeExtraFields.id" class="form-control" tabindex="0" />
                </div>
            </div>
        </div>
    </div>
</template>
