<template name="receipt_add_details">
    <div class="animated fadeInDown">
        <div class="hr-line-dashed"></div>
        <div class="sub-form">
            <p class="subtext">
                {{t_ "Please fill in the details of the receipt"}}
            </p>
            <div class="row form-group required">
                <label class="col-sm-4 control-label">{{t_ "Purchase date"}}</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                        <input type="text" name="purchaseDate" class="form-control" required="required" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="row form-group required">
                <label class="col-sm-4 control-label">{{t_ "Purchase amount"}}</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">{{currencySymbol}}</span>
                        <input type="number" name="amount" placeholder="{{t_ "Fill in the receipt amount"}}" class="form-control" min="0" step="0.01" required="required" tabindex="0">
                    </div>
                </div>
            </div>
            <div class="row form-group required">
                <label class="col-sm-4 control-label">{{t_ "VAT amount"}}</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">{{currencySymbol}}</span>
                        <input type="number" name="totalVat" placeholder="{{t_ "Fill in the VAT amount"}}" class="form-control" min="0" step="0.01" required="required" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        {{> receipt_add_files fileTypes=fileTypes files=files }}
        {{#if hasFiles}}
            {{#unless hideButtons}}
                <div class="hr-line-dashed"></div>
                <div class="pull-right">
                    <button class="btn btn-default cancel-add-receipt" tabindex="0">{{t_ "Cancel"}}</button>
                    <button class="btn btn-primary" type="submit" tabindex="0">{{t_ "Next"}}</button>
                </div>
                <br/>
            {{/unless}}
        {{else}}
            {{> receipt_cancel_button }}
        {{/if}}
    </div>
</template>
