<template name="receipt_add_files">
    {{#each getFileTypes}}
        <div class="hr-line-dashed"></div>
        <div class="receipt-add-files">
            <h3>
                {{name}}
                {{#if required}}
                    ({{t_ "required"}})
                {{else}}
                    ({{t_ "optional"}})
                {{/if}}
            </h3>
            <p>{{description}}</p>
            <ul class="files">
                {{#each getFiles}}
                    <div class="file-thumb" title="{{name}}">
                        <img src="{{fileContent}}" />
                    </div>
                {{/each}}
                <div class="file-thumb add-file-button">
                    <label>
                        <input type="file" name="receiptFile" class="add-file-input" accept="image/*" style="position:absolute; left:-9999px;" />
                        <i class="icon icon-photocam"></i>
                    </label>
                </div>
            </ul>
        </div>
    {{/each}}
</template>
