<template name="receipt_got_stamp">
    <div class="receipt-stamped">
        <label>{{t_ "Did you already get a customs stamp on your receipt?"}}</label>
        <div class="">
            <button class="btn btn-default receipt-stamped-no {{#if receiptIsStamped false}}active{{/if}}">{{t_ "No"}}</button>
            <button class="btn btn-default receipt-stamped-yes {{#if receiptIsStamped true}}active{{/if}}">{{t_ "Yes"}}</button>
        </div>
    </div>
</template>
