<template name="receipt_has_cheque">
    <label>{{t_ "Does your receipt include a tax free form?"}}</label>
    <div>
        <button class="btn btn-default has-cheque-no {{#if hasCheque false}}active{{/if}}">{{t_ "No"}}</button>
        <button class="btn btn-default has-cheque-yes {{#if hasCheque true}}active{{/if}}">{{t_ "Yes"}}</button>
    </div>
</template>
