<template name="receipt_add_nato_options">
    {{#with travellerType}}
        <div class="animated fadeInDown">
            <label>
                {{t_ "Your account is registered as a NATO account"}}<br/>
                {{t_ "Please fill in the __certificate_name__ details here below" certificate_name=certificateName}}
            </label>
            {{#unless shopIsPartner ../shopId}}
                {{#if getWebText "travellers_noncooperative_shop"}}
                    <blockquote class="alert-warning text-left">
                        {{{getWebText "travellers_nato_nonpartner_shop"}}}
                    </blockquote>
                {{/if}}
            {{/unless}}
            <div class="sub-form">
                <input type="hidden" name="customsCountryId" value="{{getShopCountryId ../shopId}}" />
                <input type="hidden" name="receiptTypeExtraFields.formReceived" value="false" />
                <div class="row form-group">
                    <label class="col-sm-4 control-label">{{t_ "__certificate_name__ number" certificate_name=certificateName}}</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon icon-receiptnato"></i></span>
                            <input type="text" name="receiptTypeExtraFields.id" class="form-control" required="required" tabindex="0">
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-4 control-label">{{t_ "__certificate_name__ date" certificate_name=certificateName}}</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                            <input type="text" name="customsDate" class="form-control" required="required" tabindex="0">
                        </div>
                    </div>
                </div>
            </div>
            {{#if registerReceiptText}}
                <blockquote class="alert-warning text-left">
                    {{{registerReceiptText}}}
                </blockquote>
            {{/if}}
        </div>
    {{/with}}
</template>
