<template name="receipt_add_stamp">
    <div class="animated fadeInDown">
        <div class="sub-form">
            <p class="subtext">
                {{#if receiptIsStamped}}
                    {{t_ "In which country did you get the customs stamp on the receipt?"}}
                {{else}}
                    {{t_ "In which country are you planning on getting your receipt stamped?"}}
                {{/if}}
            </p>
            <div class="row form-group">
                <label class="col-sm-4 control-label">{{t_ "Country"}}</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon icon-countries"></i></span>
                        <select name="customsCountryId" class="form-control" tabindex="0">
                            {{#each countries}}
                                <option value="{{_id}}" selected="{{isSelected code 'NL'}}">{{name}} ({{code}})</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-4 control-label">
                {{#if receiptIsStamped}}
                    {{t_ "Customs stamp date"}}
                {{else}}
                    {{t_ "Expected departure date"}}
                {{/if}}
                </label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                        <input type="text" name="customsDate" class="form-control" required="required" tabindex="0">
                    </div>
                </div>
            </div>
            {{#unless receiptIsStamped}}
                <div class="row form-group">
                    <label class="col-sm-4 control-label">
                        {{t_ "Flight number"}}
                    </label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="icon icon-planedeparture"></i></span>
                            <input type="text" name="flightNumber" class="form-control" required="required" tabindex="0">
                        </div>
                    </div>
                </div>
                <p class="subtext">
                    <span class="web-text">
                        {{{getWebText 'traveller_add_receipt_customs_stamp_explanation'}}}
                    </span>
                </p>
            {{/unless}}
        </div>
    </div>
</template>
