<template name="receipt_terms">
    <h3>{{t_ "Terms and Conditions"}}</h3>
    <small>{{t_ "Scroll down to the bottom to accept our Terms and Conditions"}}</small>
    {{> terms_text }}
    <small>
        {{{t_ "A copy of these Terms and Conditions is available at __link__" link="https://traveller.vatfree.com/docs/tac.pdf"}}}
    </small>
    <div class="terms-actions">
        <span>
            <input type="checkbox" id="accept-terms-check" class="accept-terms-check">
            <label for="accept-terms-check">{{t_ "I accept the Vatfree terms and conditions"}}</label>
        </span>
        <button class="btn btn-primary accept-terms pull-right" disabled="true">{{t_ "Continue"}}</button>
    </div>
</template>
