<template name="payoutInfo">
    <div class="ibox payout-info">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    <div class="row m-b-lg">
                        <div class="col-sm-12">
                            <h2>
                                {{#if partnerId}}
                                    PARTNER
                                {{/if}}
                                Payout: {{payoutNr}}
                            </h2>
                        </div>
                    </div>
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>Payout summary</strong>
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    <span class="pull-right">
                                        {{#if deleted}}
                                            <span class="text-danger">{{_ "Deleted"}}</span>
                                        {{else}}
                                            <i class="{{getPayoutIcon}}"></i> {{_ status}}
                                        {{/if}}
                                    </span>
                                    Status
                                </li>
                                {{#if type}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{type}} </span>
                                        Type
                                    </li>
                                {{/if}}
                                {{#if partnerId}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> <a href="/partner/{{partnerId}}">{{getPartnerName partnerId}}</a> </span>
                                        Partner
                                    </li>
                                {{/if}}
                                {{#if referencePayoutId}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> <a href="/payout/{{referencePayoutId}}">{{getReferencePayoutNr}}</a> </span>
                                        Reference payout
                                    </li>
                                {{/if}}
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency amount}} </span>
                                    Total payout amount
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency costs}} </span>
                                    Payout costs
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> <i class="icon icon-{{getPaymentMethodIcon}}"></i> </span>
                                    Payout method
                                </li>
                                {{#if isStatus 'partiallyPaid' status}}
                                    <li class="list-group-item">
                                        <strong class="text-danger">
                                            <span class="pull-right"> {{formatCurrency getOpenPayoutAmount}} </span>
                                            Open payout amount
                                        </strong>
                                    </li>
                                {{/if}}
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDate createdAt}} </span>
                                    Date added
                                </li>
                                {{#if payoutDate}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatDate payoutDate}} </span>
                                        Payout date
                                    </li>
                                {{/if}}
                                {{#with getPayoutBatch}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> <a href="/payout/payout-batch/{{_id}}">{{payoutBatchNumber}}</a> </span>
                                        Payout batch
                                    </li>
                                {{/with}}
                            </ul>
                            {{#if notes}}
                                <strong>Notes</strong>
                                <p>
                                    {{notes}}
                                </p>
                            {{/if}}
                            {{> traveller_last_receipts travellerId=travellerId title="Payout receipts" limit=100 filter=getTravellerReceiptsFilter hideFiles=true }}
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
