<template name="affiliate_payouts">
    <div class="page payouts">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h2>Payouts</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Search payout" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                            </span>
                            </div>
                            <div class="input-group filter-icons">
                                <span class="label-filter-group">
                                    {{#each getPayoutStatusOptions}}
                                        <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getPayoutIcon this}}"></i></span>
                                    {{/each}}
                                </span>
                            </div>
                            {{#with getPayoutStats}}
                                <div class="list-aggregates">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td># payouts: {{count}}</td>
                                            <td>Amounts: {{formatCurrency amount}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {{/with}}
                            <div class="clients-list item-list payouts-list">
                                {{#if initialLoadDone}}
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> payoutsList payouts=getPayouts includeHeader=true sorting=getSorting }}
                                        </div>
                                    </div>
                                {{else}}
                                    {{> loading }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#with getActiveItem}}
                    <div class="col-sm-4">
                        {{> payoutInfo }}
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
</template>
