<template name="dashboard_pill">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-info pull-right" title="{{allTimeTitle}}">{{_ "All Time"}}</span>
            <h5>{{{title}}}</h5>
        </div>
        <div class="ibox-content">
            <h1 class="no-margins">
                {{{value}}}
                {{#if secondTitle}}
                    <div class="ibox-second-title {{secondTitleClass}}">
                        {{{secondTitle}}}
                    </div>
                {{/if}}
            </h1>
            {{#if doughnutData}}
                <div class="ibox-doughnut">
                    <canvas id="doughnutChart"></canvas>
                </div>
            {{/if}}
            <div class="clear">
                {{#if subValue}}
                    <div class="stat-percent font-bold text-info {{subValueClass}}">{{{subValue}}}</div>
                {{/if}}
                {{#if subTitle}}
                    <small>{{{subTitle}}}</small>
                {{/if}}
            </div>
        </div>
    </div>
</template>
