<template name="view_dashboard_top_shops">
    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox" tabindex="-1">
                        <div class="ibox-content">
                            <h2>Invoices</h2>
                            <div class="clients-list item-list receipts-list">
                                <div class="full-height-scroll">
                                    <div class="table-responsive item-list infinite-scrolling">
                                        {{> view_dashboard_top_shops_list shops=getShops }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="view_dashboard_top_shops_list">
    {{#if Template.subscriptionsReady}}
        <table class="table table-striped table-hover item-list receipt-list">
            <thead>
            <tr>
                <th>{{_ "Nr."}}</th>
                <th>&nbsp;</th>
                <th>{{_ "Shop"}}</th>
                <th>{{_ "Number of receipts"}}</th>
                <th>{{_ "Turnover incl VAT"}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each getShops}}
                <tr class="item-row {{isActiveItem}} {{#if error}}alert-danger{{/if}} pointer" id="item-{{_id}}">
                    <td>{{getNr @index}}</td>
                    <td>
                        {{#with getCountry}}
                            <span class="flag-icon flag-icon-{{toLowerCase code}}"></span>
                        {{/with}}
                    </td>
                    <td>{{getShopDescription _id}}</td>
                    <td>{{stats.numberOfRequests}}</td>
                    <td>{{formatCurrency stats.totalRevenue 0 getCurrencyId}}</td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="10">
                        <i>{{_ "No invoices found"}}</i>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        {{> loading }}
    {{/if}}
</template>
