<template name="dashboard_world_table">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-info pull-right" title="{{allTimeTitle}}">{{_ "All Time"}}</span>
            <h5>{{_ "Top __count__ countries of travellers" count=10}}</h5>
        </div>
        <div class="ibox-content">
            {{#if isLoading}}
                {{> loading }}
            {{else}}
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-hover margin bottom country-table">
                            <thead>
                            <tr>
                                <th style="width: 1%" class="text-center">{{_ "No "}}</th>
                                <th>&nbsp;</th>
                                <th>{{_ "Country"}}</th>
                                <th class="text-center">{{_ "Number"}}</th>
                                <th class="text-center">{{_ "Sales"}}</th>
                                <th class="text-center">{{_ "AvgTransaction"}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each getCountryData}}
                                <tr>
                                    <td class="text-center">{{n}}</td>
                                    <td><i class="flag-icon flag-icon-{{codeLC}}"></i></td>
                                    <td> {{name}}</td>
                                    <td class="text-center">{{nr}}</td>
                                    <td class="text-center">
                                        <span class="label label-info">{{formatCurrency amount 0}}</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label">{{formatCurrency avg 0}}</span>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div id="world-map" style="height: 300px;"></div>
                        <h2>
                            {{_ "Number of countries represented __count__" count=numberOfCountries }}
                        </h2>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</template>
