.activity-changes {
    .activity-details {
        font-size: 11px;

        .activity-details-label {
            font-size: 12px;
            font-weight: bold;
        }
        .activity-details-old {
            display: inline-block;
            color: #337ab7;
            &:after {
                color: #000000;
                content: " >> ";
            }
        }
        .activity-details-new {
            display: inline-block;
            color: #337ab7;
        }
    }
}
