@import "globals/variables.import.less";

#__blaze-root {
    background-color: #2f4050 !important;
}

#page-wrapper {
    min-height: calc(100vh) !important;
}

:focus {
    outline: none !important;
}

.loginscreen {
    height: calc(100vh);
    padding-top: calc(30vh) !important;
}

blockquote {
    &.with-icon {
        position: relative;
        padding-left: 78px;
        min-height: 78px;

        > i.icon {
            position: absolute;
            font-size: 60px;
            left: 8px;
        }

        @media (max-width: 768px) {
            padding-left: 20px;
            min-height: 0;
            > i.vattie {
                display: none;
            }
        }
    }
}

.login-pill {
    color: #fff;
    font-size: 25px;
    width: 34px;
    height: 34px;
    display: inline-block;
    text-align: center;
    margin-right: 4px;

    &.login-pill-facebook {
        background: #365899;
    }
    &.login-pill-google {
        background: #dc4a38;
    }
    &.login-pill-linkedin {
        background: #1178b3;
    }
    &.login-pill-wechat {
        background: #4fbf34;;
    }
}

.loading {
    width: 100%;
    margin: auto;
    text-align: center;

    img {
        width: 64px;
        height: 64px;

        max-width: 64px;
        max-height: 64px;
    }
}

.new-version {
    font-size: 18px;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;

    a {
        padding: 0 !important;
    }
}

.version-banner {
    position: fixed;
    width: 140px;
    height: 32px;
    top: 20px;
    left: -32px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff7867;
    line-height: 32px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    cursor: pointer;
    z-index: 999999999999;
}

.alert-warning {
    color: #f77c00;
    background-color: #fcf3e7;
    border-color: #fcf3e7;
}

.client-detail {
    height: auto !important;
}

.navbar-default {
    li {
        a {
            padding: 14px 20px 14px 25px;
            display: flex;

            i.icon, i.fa {
                margin-right: 8px;
                font-size: 24px;
            }

            .nav-label {
                padding-top: 4px;
                font-size: 14px;
                flex-grow: 1;
            }

            .label {
                color: #a7b1c2;
                font-size: 14px;
                height: 20px;
                position: absolute;
                top: 12px;
                right: 8px;
                font-weight: 100;
                background-color: transparent;
            }

            .arrow {
                padding-top: 8px;
            }
        }

        &.spacer {
            height: 6px;
            border-bottom: 1px solid #999;
            margin-bottom: 6px;
        }

        > ul.nav-second-level {
            li {
                a {
                    .nav-label {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.modal:not(.fullscreen) {
    height: 100%;

    .modal-dialog {
        height: 100%;
        max-height: 90%;

        .modal-content {
            height: auto;
            overflow: auto;
            max-height: 100%;
            padding-bottom: 25px;
        }
    }
}

.nav {
    .nav-header {
        .profile-element {
            > span > div {
                margin-bottom: 8px;
            }

            .avatar {
                margin: auto;
            }
        }

        .physical-location {
            select {
                border-radius: 0;
                width: 100%;
                background-color: #2f4050;
                border-color: #2f4050;
                color: #fff;
            }
        }
    }
}

.navbar.navbar-static-top {
    display: flex;

    .navbar-header {
        flex-grow: 1;
        display: flex;

        a {
            height: 32px;
            flex-grow: 0;
            flex-shrink: 0;
        }
        form {
            flex-grow: 1;
            flex-shrink: 1;
        }
    }
    .navbar-right {
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.nobr {
    white-space: nowrap;
}

.wrapper {
    &.padding {
        padding: 20px !important;
    }
}

.flag-icon {
    width: 100%;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.icon-toggle {
    font-size: 16px;
    cursor: pointer;

    &.active {
        color: #0069b4;
    }
}

.icon-overlay {
    position: relative;

    i.icon.overlay {
        position: absolute;
        top: -22px;
        right: 2px;
        font-size: 20px !important;
    }
}

.filter-icons {
    width: 100%;
    background-color: #c6c6c5;
    padding: 16px;
    margin-top: 25px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    margin-bottom: -20px;

    &.filtered {
        background-color: #9cc2e0;
    }

    .label-filter-group {
        display: inline-table;
        margin-right: 18px;
        margin-bottom: 6px;
    }

    .filter-icon {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        font-size: 32px;
        padding: 0;
        background-color: #fff;
        border-radius: 5px;
        margin-right: 6px;
        height: 40px;
        width: 40px;

        &.filter-icon-spacing {
            background-color: transparent;
        }

        img {
            height: 30px;
            max-width: 40px;
            opacity: 0.2;
            vertical-align: initial;
        }

        &.active {
            color: #fff;
            background-color: @navy;

            img {
                opacity: 1;
            }
        }
        &.inactive {
            color: #fff;
            background-color: @red;

            img {
                opacity: 1;
            }
        }
    }

    .label-info {
        font-size: 18px;
        margin-right: 6px;
    }
}

.list-aggregates {
    border-top: 1px solid #e7eaec;
    width: 100%;
    background-color: #c6c6c5;
    margin-top: 20px;
    margin-bottom: -20px;

    table.table {
        td {
            border: 0;
            padding: 4px 8px;
        }
    }
}

.toggle-list-filters {
    display: inline-block;
    margin-left: 6px;
    font-size: 32px;
    cursor: pointer;

    &.active {
        color: #fff;

        &.filter-icon:after {
            font-family: FontAwesome;
            font-size: 20px;
            content: "\f00d";
            position: absolute;
            top: 20px;
            right: 7px;
            color: #0069b4;
            z-index: 2000;
            width: 12px;
            height: 12px;
            cursor: pointer;
        }
    }
}
.list-filters {
    margin-top: 5px;
    margin-bottom: -20px;
    padding: 16px 16px 0 16px;
    background-color: #c6c6c5;
    width: 100%;
}

.row.countries {
    .ibox.country-info {
        .flag-icon {
            width: 92px;
            height: 92px;
        }
    }
}

.full-height-scroll {
    overflow-Y: auto;
    height: 100%;
}

.item-list {
    .client-status {
        img {
            width: 24px;
            height: 24px;
        }

        i.icon, i.fa {
            font-size: 28px;
        }
    }

    .item-row {
        &.active {
            td {
                background-color: lightblue;
            }
        }

        &.total-row {
            td {
                border-top: 1px solid black;
                background-color: transparent;
                font-weight: bold;
            }
        }

        td {
            .partnership-status-logo {
                img {
                    height: 20px;
                }
            }
        }
    }
}

.btn {
    font-weight: 100 !important;

    &.btn-vatty {
        background-color: @vatty;
        border-color: @vatty;
        color: #fff;
    }
    &.btn-task {
        background-color: @task;
        border-color: @task;
        color: #fff;
    }

    &.btn-icon {
        position: relative;
        padding-left: 38px;

        i.icon {
            position: absolute;
            top: 3px;
            font-size: 26px;
            left: 5px;
        }
    }
    &[disabled] {
        background-color: #999;
        opacity: .35;
    }
}

.label {
    &.label-filter {
        padding: 6px;
        font-size: 14px;
        font-weight: 100;
        background-color: @task;
        position: relative;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-right: 0;

        &:before {
            content: "";
            float: left;
            position: absolute;
            top: 0;
            left: -13px;
            width: 0;
            height: 0;
            border-color: transparent @task transparent transparent;
            border-style: solid;
            border-width: 13px 13px 13px 0;
        }
    }
}

.clients-list, .item-list {
    table.table {
        thead {
            tr {
                th {
                    background-color: #e6e6e6;
                }
            }
        }
        tr {
            td {
                white-space: nowrap;
                .icon {
                    font-size: 28px;
                }

                .btn {
                    padding: 3px 7px;
                    .icon {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &.wrap {
        table.table {
            tr {
                td {
                    white-space: normal !important;
                }
            }
        }
    }
}

// fix for avatar not being an image
.wrapper {
    .ibox {
        .row.traveller {
            > div {
                height: 80px;

                > div {
                    height: 80px;
                }
            }
            .avatar {
                height: 80px;
                width: 80px;
                margin: auto;

                .avatar-initials {
                    font-size: 48px;
                    line-height: 80px;
                }
            }
        }

        .files {
            margin: 0;

            .file {
                margin-bottom: 6px;
                margin-right: 6px;

                img {
                    height: 48px;
                }
            }
        }

        input[name="item-search"] {
            &.active {
                color: #fff;
                background-color: rgba(0, 105, 180, 0.4);
                border: 1px solid rgba(0, 105, 180, 0.4);
            }

        }

        input[name="item-search"].active + .input-group-btn {
            &:after {
                font-family: FontAwesome;
                font-size: 20px;
                content: "\f00d";
                position: absolute;
                top: 3px;
                left: -24px;
                color: #0069b4;
                z-index: 2000;
                width: 12px;
                height: 12px;
                cursor: pointer;
            }
        }

        .show-management-functions {
            font-size: 18px;
            cursor: pointer;
            &.active {
                color: #0069b4;
            }
        }

        .management-functions {
            margin-top: 42px;
            margin-bottom: 5px;
            text-align: right;
        }
    }

    .html-preview {
        width: 100%;
        height: 600px;
        border: 1px solid black;
        overflow: auto;

        iframe {
            width: 100%;
            height: 100%;
        }

        span.hideOnMobile {
            display: inline-block;
        }
        span.showOnMobile {
            display: none;
        }


        &.mobile {
            span.hideOnMobile {
                display: none;
            }

            span.showOnMobile {
                display: inline-block;
            }
        }
    }

    .lock-alert {
        padding: 12px;
        margin-bottom: 12px;
    }
}

.text-preview {
    white-space: pre-line;
}

.swal2-container {
    .swal2-content {
        ul.files {
            padding-left: 0;
            margin-top: 20px;
            margin-bottom: 0;
            text-align: left;

            li {
                list-style: none;

                &.divider-icon {
                    position: relative;
                    border-bottom: 1px solid #979797;
                    height: 16px;
                    margin-bottom: 16px;

                    .icon {
                        position: absolute;
                        color: #4d4d4d;
                        font-size: 40px;
                        top: -4px;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                        width: 38px;
                        background-color: #fff;
                    }
                }

                &.file {
                    display: inline-block;

                    img {
                        max-height: 96px;
                        max-width: 200px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    html {
        body {
            #wrapper {
                #page-wrapper {
                    padding: 0;
                    .wrapper {
                        &.wrapper-content {
                            padding: 0;

                            .ibox {
                                .ibox-content {
                                    padding: 10px;
                                }
                            }
                        }

                        &.row {
                            &.page-heading {
                                margin-left: 0;
                            }
                        }

                        .tabs-container {
                            .panel-body {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    html {
        body {
            #wrapper {
                #page-wrapper {
                    #modal-task {
                        .modal-dialog {
                            .modal-content {
                                .modal-body {
                                    .task {
                                        .task-sidebar.normal {
                                            width: 240px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
