.card > a {
    display: flex;
    background-color: #eee;
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;

    .card-logo {
        flex-grow: 0;
        flex-shrink: 0;
        width: 78px;
        text-align: center;
        padding-right: 6px;
        margin: auto;

        img {
            width: 50px;
            height: auto;
        }

        .avatar {
            display: inline-block;
        }
    }
    .card-info {
        flex-grow: 1;
        flex-shrink: 1;
        line-height: 20px;

        strong {
            font-size: 16px;
        }

        .flag-icon {
            width: 16px;
            height: auto;

        }
    }
    .card-meta {
        flex-grow: 0;
        flex-shrink: 0;

        i.icon {
            font-size: 28px;
        }

        .card-meta-group {
            text-align: center;
            font-size: 8px;

            img {
                height: 38px;
            }
        }
    }
}
