.wrapper, .modal {
    ul.files {
        width: 100%;
        list-style-type: none;
        margin: 20px 0 0 0;
        padding: 0;

        li.file {
            margin-bottom: 20px;
            margin-right: 20px;
        }
    }

    div.file-wrapper {
        display: flex;
    }

    div.files {
        display: inline-flex;
    }


    .item-list {
        .files {
            .file {
                img {
                    height: 24px;
                }
            }
        }
    }

    .files {
        .file {
            margin-bottom: 0;
            margin-right: 4px;
            position: relative;
            display: inline-flex;
            max-width: 100%;

            .progress {
                width: 96px;
                min-height: 96px;
            }

            .file-action, .delete-file, .set-main-file, .edit-file, .move-file {
                cursor: pointer;
                position: absolute;
                right: -4px;
                display: none;
                top: -10px;
                font-size: 22px;
                color: #fff;
                background-color: #00e;
                border: 1px solid #fff;
                border-radius: 16px;
                width: 32px;
                height: 32px;
                padding: 4px;
            }

            .delete-file {
                background-color: #e00;
            }

            .edit-file {
                margin-top: 32px;
            }

            .move-file {
                margin-top: 64px;
            }

            .make-receipt-from-file {
                margin-top: 96px;
                padding: 3px 2px;
            }

            .move-file-from-trash {
                margin-top: 32px;
            }

            .create-images-from-pdf {
                margin-top: 128px;
            }

            &:hover {
                .file-action, .delete-file, .set-main-file, .edit-file, .move-file {
                    z-index: 2;
                    display: flex;
                    opacity: 0.5;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            img {
                max-height: 192px;
                max-width: 192px;
            }

            a {
                color: #32534c;
                max-width: 100%;

                .image-container {
                    overflow-x: hidden;
                    max-width: 100%;

                    img {
                        overflow-x: hidden;
                        border: 1px solid #32534c;
                        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
                    }
                }

                .file-icon {
                    margin-left: -6px;
                    margin-right: -6px;
                }

                .name {
                    position: absolute;
                    display: none;
                    padding: 4px;
                    z-index: 99999;
                    background-color: #fff;
                    white-space: nowrap;
                    left: 0;
                    border: 1px solid lightgray;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
                }

                .add-file {
                    display: none;
                    font-size: 24px;
                    @media only screen and (max-width: 767px) {
                        display: block;
                    }
                }

                &:hover {
                    .name {
                        display: block;
                    }
                }
            }

            &.cover {
                a {
                    .image-container {
                        img {
                            border: 3px solid #93c01f;
                        }
                    }
                }
            }
        }

        &:hover {
            .add-file {
                display: block !important;
            }
        }

        &.list {
            display: flex;
            flex-direction: column;
            border-collapse: collapse;

            li.file {
                margin: 0;
                margin-bottom: -1px;

                &:hover {
                    background-color: #ddd;
                }

                a {
                    display: flex;

                    img {
                        height: 32px !important;
                    }

                    .name {
                        display: block;
                        position: relative;
                        margin-left: 12px;
                        border: none;
                        box-shadow: none;
                        background-color: inherit;
                        line-height: 32px;
                        padding: 0;
                    }
                }
            }
        }
    }

    .dropzone, .dropzone-layout, .dropzone-modal {
        padding: 0;
        min-height: 0;
        text-align: center;
        cursor: pointer;
        display: flex;
        float: left;
        width: 150px;
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 20px;
        border-radius: 10px;

        i.fa {
            font-size: 64px;
        }
        i.icon {
            font-size: 64px;
            line-height: 100px;
        }

        &.horizontal {
            flex-direction: row;
            width: 100%;
            height: auto;
            margin-bottom: 15px;

            .add-file {
                min-height: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                i.icon {
                    line-height: 64px;
                    margin-right: 20px;
                }

                br {
                    display:none;
                    &:after {
                        content:" ";
                    }
                }
            }
        }

        .dropzone-file {
            display: none;
        }

        .add-file {
            padding: 12px;
            min-height: 96px;
            flex-grow: 1;
            flex-shrink: 1;
        }

        .qrcode-upload {
            height: 106px;
            width: 106px;
            padding: 20px 4px;
            flex-grow: 0;
            flex-shrink: 0;

            canvas {
                height: 98px !important;
                width: 98px !important;
            }
        }
    }

    .dropzone-modal {
        width: auto;
        margin-right: 0;
    }
}

.modal {
    ul.files {
        margin: 6px 0 0 0;
    }

    .move-file {
        margin-top: 0 !important;
    }

    .make-receipt-from-file {
        margin-top: 32px !important;
    }

    .trash-file {
        margin-top: 64px !important;
    }

    button {
        .icon {
            font-size: 22px;
        }
    }
}
