form {
    .form-group {
        overflow: hidden;
        text-overflow: ellipsis;

        &.required {
            > label, > .row > div > label {
                &:after {
                    content: " *";
                }
            }
        }

        &.padding {
            padding: 4px 6px;
        }

        label {
            color: #999;
        }

        input, textarea {
            &::placeholder {
                color: #ccc;
                font-style: italic;
            }
        }

        .map-container {
            width: 100%;
            height: 200px;
        }

        select {
            border-radius: 1px;
        }

        .input-group {

            .input-group-addon {
                color: #6f6f6e;

                .icon {
                    font-size: 18px;
                }
            }
        }
    }

    .btn {
        &:focus {
            outline: 1px dashed #e2017b !important;
        }

        &.btn-danger {
            &:focus {
                outline: 1px dashed #0069b4 !important;
            }
        }
    }
}

.select2, .select2-container {
    .select2-selection, .select2-results__option {
        border-radius: 1px;
        height: 32px;

        &.select2-selection--multiple {
            height: auto;
        }

        img {
            height: 20px;
            width: 20px;
            margin-right: 6px;
        }
    }

    .select2-results__option {
        padding: 6px;
        height: auto;
        border-bottom: 1px solid #eee;
    }

    .select2-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.select2-container--open {
    z-index: 9999999;
}

.pac-container {
    z-index: 2051;
}
