.pretty-checks {
    min-height: 24px;

    /* Base for label styling */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 32px;
        cursor: pointer;
        line-height: 24px;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 24px;
        height: 24px;
        line-height: 24px;
        border: 1px solid #0069b4;
        background: #fff;
    }
    [type="checkbox"]:checked + label:before {
        background-color: #0069b4;
        border: 2px solid #0069b4;
    }

    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
        content: '✓';
        position: absolute;
        top: -1px;
        left: 3px;
        font-size: 22px;
        line-height: 24px;
        color: #fff;
        transition: all .1s;
    }

    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
        opacity: 0.5;
    }
    [type="checkbox"]:disabled:checked + label:after {
        color: #999;
    }
    [type="checkbox"]:disabled + label {
        color: #aaa;
    }

    /* hover style just for information */
    label:hover:before {
        border: 2px solid #0069b4 !important;
    }
}
