table.table {
    th {
        &.sort-header {
            cursor: pointer;
            color: #0069b4;
            user-select: none;
            white-space: nowrap;

            &.sorting-asc {
                &:after {
                    content: " \25b2";
                }
            }
            &.sorting-desc {
                &:after {
                    content: " \25bc";
                }
            }
        }
    }

    tr {
        &.deleted {
            td {
                font-style: italic;
                opacity: 0.5;
            }
        }

        &.spacer {
            td {
                text-align: center;

                i.icon {
                    font-size: 24px;
                }
            }
        }

        &.text-large {
            td {
                font-size: 28px;
            }
        }

        td {
            .pretty-checks {
                label {
                    cursor: pointer;
                    &:before {
                        top: -6px !important;
                    }
                    &:after {
                        top: -7px !important;
                    }
                }
            }
        }
    }

    .item-row-details {
        td {
            border: none;
            padding: 0;

            .item-row-details-content {
                padding: 8px;
                white-space: pre-line;
                max-height: 150px;
                overflow: auto;
            }
        }
    }
}
