@font-face {
  font-family: 'vatfree0907v4';
  src:  url('/fonts/vatfree0907v4.eot?xs6qjvv');
  src:  url('/fonts/vatfree0907v4.eot?xs6qjvv#iefix') format('embedded-opentype'),
    url('/fonts/vatfree0907v4.woff2?xs6qjvv') format('woff2'),
    url('/fonts/vatfree0907v4.ttf?xs6qjvv') format('truetype'),
    url('/fonts/vatfree0907v4.woff?xs6qjvv') format('woff'),
    url('/fonts/vatfree0907v4.svg?xs6qjvv#vatfree0907v4') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vatfree0907v4' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-invoice-creditet:before {
  content: "\e9f1";
}
.icon-payout-to-api:before {
  content: "\e9f2";
}
.icon-payout-error:before {
  content: "\e9f3";
}
.icon-alipay:before {
  content: "\ea22";
}
.icon-alipay-filled:before {
  content: "\ea23";
}
.icon-wechatpay:before {
  content: "\ea24";
}
.icon-wechatpay-filled:before {
  content: "\ea25";
}
.icon-wechat:before {
  content: "\ea21";
}
.icon-wechat-filled:before {
  content: "\ea26";
}
.icon-shoppromised:before {
  content: "\ea20";
}
.icon-typegeilen:before {
  content: "\ea01";
}
.icon-typemons:before {
  content: "\ea02";
}
.icon-typebrunssum:before {
  content: "\ea03";
}
.icon-typecargo:before {
  content: "\ea04";
}
.icon-cargoshipment:before {
  content: "\e9fc";
}
.icon-cargo2:before {
  content: "\e9fa";
}
.icon-recievebox:before {
  content: "\e9fd";
}
.icon-car:before {
  content: "\e9f8";
}
.icon-car2:before {
  content: "\e9f9";
}
.icon-cargobox1:before {
  content: "\e9fb";
}
.icon-cargoworld:before {
  content: "\ea05";
}
.icon-openextern:before {
  content: "\ea06";
}
.icon-traveller_1:before {
  content: "\e9fe";
}
.icon-statspopr:before {
  content: "\e9ff";
}
.icon-tagid:before {
  content: "\ea00";
}
.icon-stats-phoenix:before {
  content: "\e9f4";
}
.icon-stats-team:before {
  content: "\e9f5";
}
.icon-receipt-depreciated:before {
  content: "\e9f6";
}
.icon-waiting4admincheck:before {
  content: "\e9f7";
}
.icon-receiptdate:before {
  content: "\e9ee";
}
.icon-push:before {
  content: "\e9ef";
}
.icon-creditcard:before {
  content: "\e9e8";
}
.icon-bank:before {
  content: "\e9e9";
}
.icon-paypal:before {
  content: "\e9ea";
}
.icon-knobtravel:before {
  content: "\e9eb";
}
.icon-knobcargo:before {
  content: "\e9ec";
}
.icon-knobnato:before {
  content: "\e9ed";
}
.icon-trash:before {
  content: "\e9e7";
}
.icon-qrframe:before {
  content: "\e9df";
}
.icon-receiptadd:before {
  content: "\e9e0";
}
.icon-shoptomerge:before {
  content: "\e9e1";
}
.icon-shopinactive:before {
  content: "\e9e2";
}
.icon-test:before {
  content: "\e9e3";
}
.icon-userpending22:before {
  content: "\e9e4";
}
.icon-payoutcancel2:before {
  content: "\e9e5";
}
.icon-shopvisit:before {
  content: "\ea07";
}
.icon-shopvisit-fill:before {
  content: "\ea14";
}
.icon-receiptsmore-fill:before {
  content: "\e9d9";
}
.icon-shop-fill:before {
  content: "\e9da";
}
.icon-info-fill:before {
  content: "\e9db";
}
.icon-info-filled:before {
  content: "\e9f0";
}
.icon-actorclient-fill:before {
  content: "\e9dc";
}
.icon-plus-fill:before {
  content: "\e9dd";
}
.icon-servicefee2:before {
  content: "\e9d2";
}
.icon-waitforpic:before {
  content: "\e9cd";
}
.icon-makepicform:before {
  content: "\e9ce";
}
.icon-makepicreceipt:before {
  content: "\e9cf";
}
.icon-refcustoms:before {
  content: "\e9c5";
}
.icon-waitforpic2:before {
  content: "\e9c6";
}
.icon-refcompetitor:before {
  content: "\e9c7";
}
.icon-refshop:before {
  content: "\e9c8";
}
.icon-chinperson:before {
  content: "\e9c9";
}
.icon-chdropbox:before {
  content: "\e9ca";
}
.icon-chmail:before {
  content: "\e9cb";
}
.icon-cargobox:before {
  content: "\e9d1";
}
.icon-cargo:before {
  content: "\e9d0";
}
.icon-photoreceipt:before {
  content: "\e9c0";
}
.icon-sendin:before {
  content: "\e9c1";
}
.icon-numberon:before {
  content: "\e9c2";
}
.icon-circleVFmono-kopie:before {
  content: "\e9c3";
}
.icon-mytasks:before {
  content: "\e944";
}
.icon-travellertasks:before {
  content: "\e941";
}
.icon-receipttasks:before {
  content: "\e93f";
}
.icon-shoptasks:before {
  content: "\e940";
}
.icon-servicefee:before {
  content: "\e9d3";
}
.icon-payments:before {
  content: "\e93d";
}
.icon-paymentsunlinked:before {
  content: "\e93e";
}
.icon-paymentslinked:before {
  content: "\e9b5";
}
.icon-payouts:before {
  content: "\e9b6";
}
.icon-payoutnew:before {
  content: "\e9b7";
}
.icon-payoutsenttopayoutprov:before {
  content: "\e9b8";
}
.icon-payoutproblem:before {
  content: "\e9b9";
}
.icon-handopen:before {
  content: "\e976";
}
.icon-payoutok:before {
  content: "\e9ba";
}
.icon-payoutcancel:before {
  content: "\e9de";
}
.icon-ready4payout:before {
  content: "\e978";
}
.icon-refundhand:before {
  content: "\e979";
}
.icon-paid:before {
  content: "\e977";
}
.icon-countries:before {
  content: "\e972";
}
.icon-mask:before {
  content: "\e923";
}
.icon-leadime:before {
  content: "\e9d4";
}
.icon-status:before {
  content: "\e9d5";
}
.icon-activity:before {
  content: "\e954";
}
.icon-actorbot:before {
  content: "\e90f";
}
.icon-actorclient:before {
  content: "\e910";
}
.icon-actorcustoms:before {
  content: "\e911";
}
.icon-actorvatty:before {
  content: "\e918";
}
.icon-actorvattyclient:before {
  content: "\e9bb";
}
.icon-actoraffiliate:before {
  content: "\e9bc";
}
.icon-affiliates:before {
  content: "\e95c";
}
.icon-info:before {
  content: "\e9bd";
}
.icon-customs:before {
  content: "\e925";
}
.icon-chequetypes:before {
  content: "\e90c";
}
.icon-stamp:before {
  content: "\e9b3";
}
.icon-stampok:before {
  content: "\e9b4";
}
.icon-customsdate:before {
  content: "\e9be";
}
.icon-travelworld:before {
  content: "\e991";
}
.icon-planedeparture:before {
  content: "\e987";
}
.icon-planedepartureok:before {
  content: "\e988";
}
.icon-airport:before {
  content: "\e92b";
}
.icon-station:before {
  content: "\e92a";
}
.icon-harbour:before {
  content: "\e927";
}
.icon-create:before {
  content: "\e932";
}
.icon-sealok:before {
  content: "\e9a1";
}
.icon-confirm:before {
  content: "\e922";
}
.icon-attention:before {
  content: "\e992";
}
.icon-backspace:before {
  content: "\e920";
}
.icon-plus:before {
  content: "\e945";
}
.icon-min:before {
  content: "\e943";
}
.icon-cross:before {
  content: "\e942";
}
.icon-newsquare:before {
  content: "\e97e";
}
.icon-task:before {
  content: "\e931";
}
.icon-new:before {
  content: "\e934";
}
.icon-doing:before {
  content: "\e933";
}
.icon-done:before {
  content: "\e92c";
}
.icon-link:before {
  content: "\e91e";
}
.icon-brokenlink:before {
  content: "\e90b";
}
.icon-cliensupertfan:before {
  content: "\e915";
}
.icon-clientnormal:before {
  content: "\e93b";
}
.icon-clientfan:before {
  content: "\e939";
}
.icon-clientescalated:before {
  content: "\e937";
}
.icon-clientescalated2:before {
  content: "\e938";
}
.icon-clientlost:before {
  content: "\e93a";
}
.icon-clientsleeping:before {
  content: "\e93c";
}
.icon-dashboard:before {
  content: "\e951";
}
.icon-calculaterefund:before {
  content: "\e921";
}
.icon-calculator:before {
  content: "\e98d";
}
.icon-contacts:before {
  content: "\e95e";
}
.icon-calender:before {
  content: "\e950";
}
.icon-companies:before {
  content: "\e95d";
}
.icon-emailtemplate:before {
  content: "\e952";
}
.icon-textemplate:before {
  content: "\e953";
}
.icon-upload:before {
  content: "\e97f";
}
.icon-download:before {
  content: "\e982";
}
.icon-deskclient:before {
  content: "\e968";
}
.icon-moblie:before {
  content: "\e969";
}
.icon-desk:before {
  content: "\e967";
}
.icon-web:before {
  content: "\e96b";
}
.icon-officeviaaffiliate:before {
  content: "\e964";
}
.icon-officeviacompetitor:before {
  content: "\e965";
}
.icon-mgm:before {
  content: "\e962";
}
.icon-officeviamerchant:before {
  content: "\e966";
}
.icon-office:before {
  content: "\e963";
}
.icon-downloadcsv:before {
  content: "\e94d";
}
.icon-exportcsv:before {
  content: "\e948";
}
.icon-inperson:before {
  content: "\e930";
}
.icon-email:before {
  content: "\e926";
}
.icon-emailIn:before {
  content: "\e92d";
}
.icon-emailout:before {
  content: "\e92e";
}
.icon-envelope:before {
  content: "\e94f";
}
.icon-box:before {
  content: "\e94c";
}
.icon-archive:before {
  content: "\e94b";
}
.icon-piggy:before {
  content: "\e997";
}
.icon-wallet:before {
  content: "\e99d";
}
.icon-euro:before {
  content: "\e994";
}
.icon-euros:before {
  content: "\e98e";
}
.icon-eurodollars:before {
  content: "\e995";
}
.icon-europound:before {
  content: "\e955";
}
.icon-dollars:before {
  content: "\e993";
}
.icon-moneyexchange:before {
  content: "\e990";
}
.icon-event:before {
  content: "\e92f";
}
.icon-fenix:before {
  content: "\e908";
}
.icon-uploadtophoenix:before {
  content: "\e909";
}
.icon-downloadfromphoenix:before {
  content: "\e90d";
}
.icon-logout:before {
  content: "\e95f";
}
.icon-edit:before {
  content: "\e94e";
}
.icon-bulkedit:before {
  content: "\e904";
}
.icon-filterfunnel:before {
  content: "\e99f";
}
.icon-lamp:before {
  content: "\e912";
}
.icon-bug:before {
  content: "\e98c";
}
.icon-timer:before {
  content: "\e998";
}
.icon-config:before {
  content: "\e99e";
}
.icon-phone:before {
  content: "\e929";
}
.icon-addphotomob:before {
  content: "\e91d";
}
.icon-scanpassport:before {
  content: "\e91b";
}
.icon-scanreceipt:before {
  content: "\e924";
}
.icon-linkandscan:before {
  content: "\e919";
}
.icon-linkandscan2:before {
  content: "\e91a";
}
.icon-qr:before {
  content: "\e913";
}
.icon-scan:before {
  content: "\e91f";
}
.icon-addphoto:before {
  content: "\e91c";
}
.icon-photocam:before {
  content: "\e996";
}
.icon-map:before {
  content: "\e98f";
}
.icon-trigger:before {
  content: "\e917";
}
.icon-notificationtrigger:before {
  content: "\e916";
}
.icon-crop:before {
  content: "\e902";
}
.icon-masking:before {
  content: "\e900";
}
.icon-nudgeright:before {
  content: "\e906";
}
.icon-nudgeleft:before {
  content: "\e905";
}
.icon-rotateright:before {
  content: "\e907";
}
.icon-rotateleft:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e901";
}
.icon-passport:before {
  content: "\e983";
}
.icon-passportok:before {
  content: "\e98a";
}
.icon-passportclockwaiting:before {
  content: "\e985";
}
.icon-passportincomplete:before {
  content: "\e989";
}
.icon-passportattention:before {
  content: "\e984";
}
.icon-passportexpired:before {
  content: "\e986";
}
.icon-passportvalidationprocess:before {
  content: "\e9bf";
}
.icon-visa:before {
  content: "\e90e";
}
.icon-visawarning:before {
  content: "\e90a";
}
.icon-phoneIn:before {
  content: "\e935";
}
.icon-phoneOut:before {
  content: "\e936";
}
.icon-makenewreceipt:before {
  content: "\e9c4";
}
.icon-receiptdeleted:before {
  content: "\ea1f";
}
.icon-receipt:before {
  content: "\e9b2";
}
.icon-waiting4original:before {
  content: "\e9a2";
}
.icon-receiptattention:before {
  content: "\e9a7";
}
.icon-receiptcargo:before {
  content: "\e9ad";
}
.icon-receiptcheque:before {
  content: "\e9ae";
}
.icon-receiptlock:before {
  content: "\e9a3";
}
.icon-receiptnato:before {
  content: "\e9af";
}
.icon-receiptnew:before {
  content: "\e98b";
}
.icon-receiptok:before {
  content: "\e9a4";
}
.icon-receiptpayed:before {
  content: "\e9a5";
}
.icon-receiptperson:before {
  content: "\e9a8";
}
.icon-receiptreject:before {
  content: "\e9a6";
}
.icon-receiptsmore:before {
  content: "\e9b0";
}
.icon-receiptstamp:before {
  content: "\e9aa";
}
.icon-receipttime:before {
  content: "\e9ab";
}
.icon-receiptupdate:before {
  content: "\e9a0";
}
.icon-receiptview:before {
  content: "\e9ac";
}
.icon-receiptwait4orig:before {
  content: "\e9a9";
}
.icon-reciepttype:before {
  content: "\e9b1";
}
.icon-shopnew:before {
  content: "\e9d6";
}
.icon-shops:before {
  content: "\e961";
}
.icon-shopactive:before {
  content: "\e956";
}
.icon-shopincomplete:before {
  content: "\e9d7";
}
.icon-shoptobecalled:before {
  content: "\e9d8";
}
.icon-shopindecline:before {
  content: "\e958";
}
.icon-shopmoved:before {
  content: "\e959";
}
.icon-shopoutofbusiness:before {
  content: "\e960";
}
.icon-shoptakenover:before {
  content: "\e95a";
}
.icon-shopbankrupt:before {
  content: "\e957";
}
.icon-shopwaitingforverification:before {
  content: "\e95b";
}
.icon-speech:before {
  content: "\e999";
}
.icon-speechexcl:before {
  content: "\e99a";
}
.icon-speechquestion:before {
  content: "\e99b";
}
.icon-speechtxt:before {
  content: "\e99c";
}
.icon-tasknew:before {
  content: "\e949";
}
.icon-tasks:before {
  content: "\e94a";
}
.icon-tasksdoing:before {
  content: "\e946";
}
.icon-tasksdone:before {
  content: "\e947";
}
.icon-newclient:before {
  content: "\e928";
}
.icon-traveller:before {
  content: "\e973";
}
.icon-usereligible:before {
  content: "\e97a";
}
.icon-travnatok:before {
  content: "\e9cc";
}
.icon-usernoneligible:before {
  content: "\e97b";
}
.icon-userpending:before {
  content: "\e980";
}
.icon-userpending2:before {
  content: "\e9e6";
}
.icon-traveldocuments:before {
  content: "\e914";
}
.icon-eyehidden:before {
  content: "\e97c";
}
.icon-eyeview:before {
  content: "\e97d";
}
.icon-visualvalidation2alt:before {
  content: "\e96a";
}
.icon-visualvalidationsecond:before {
  content: "\e974";
}
.icon-waiting4visualvalidation:before {
  content: "\e981";
}
.icon-vtb:before {
  content: "\e975";
}
.icon-vtbnew:before {
  content: "\e96f";
}
.icon-vtbnoncollectable:before {
  content: "\e96c";
}
.icon-vtbpaidbyshop:before {
  content: "\e96d";
}
.icon-vtbpaidbyshoppartial:before {
  content: "\e96e";
}
.icon-vtbsend:before {
  content: "\e970";
}
.icon-vtbwaiting:before {
  content: "\e971";
}
