<template name="FAQGroupEdit">
    {{#with itemDoc}}
        {{> pageHeading title=name.en category='FAQGroups' categoryLink='/faq-groups' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-12">
                    {{> FAQGroupEditForm }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="FAQGroupEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> FAQGroup details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-5"> History</a></li>
        </ul>
        <div class="tab-content faq-edit-form">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            {{#each getFAQGroupLanguages}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name ({{code}})</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="name.{{code}}" placeholder="FAQ Group name in {{en}}" value="{{getName}}">
                                    </div>
                                </div>
                            {{/each}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="description" placeholder="Description of this FAQ Group">{{description}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-danger delete-faq-group">Delete FAQ group</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    {{> FAQGroupInfo }}
                </div>
            </div>
        </div>
    </div>
</template>
