<template name="FAQGroup">
    {{#if addingItem}}
        {{> addFAQGroupModal }}
    {{/if}}
    <div class="wrapper wrapper-content">
        <div class="row FAQGroup">
            <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="pull-right">
                            <a class="btn btn-info btn-icon add-item" href="#" accesskey="a"><i class="icon icon-create"></i><u>A</u>dd</a>
                            <a href="/faqs" class="btn btn-warning">Back to FAQs</a>
                        </div>
                        <h2>FAQ Groups</h2>
                        <div class="input-group">
                            <input type="text" placeholder="Search FAQ Group" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                            </span>
                        </div>
                        <div class="clients-list item-list FAQGroup-list">
                            {{#if initialLoadDone}}
                                <div class="full-height-scroll">
                                    <div class="table-responsive infinite-scrolling">
                                        {{> FAQGroupList FAQGroup=getFAQGroups includeHeader=true sorting=getSorting }}
                                    </div>
                                </div>
                            {{else}}
                                {{> loading }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{#with getActiveItem}}
                <div class="col-sm-4">
                    {{> FAQGroupInfo }}
                </div>
            {{/with}}
        </div>
    </div>
</template>
