<template name="FAQGroupList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Description</th>
                <th>i18n</th>
            </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#sortable items=FAQGroup sortField="order"}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/faq-group/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td><a class="client-link">{{name.en}}</a></td>
                <td>{{description}}</td>
                <td><span class="alert-danger">{{getMissingTranslations}}</span></td>
            </tr>
        {{/sortable}}
        </tbody>
    </table>
</template>
