<template name="view_register_confirm">
    <h2>{{_ "Confirm input"}}</h2>
    <table class="table">
        <tbody>
        <tr>
            <td>{{_ "Shop name"}}</td>
            <td>{{shopData.name}}</td>
        </tr>
        <tr>
            <td>{{_ "Shop address"}}</td>
            <td>
                {{shopData.addressFirst}}<br/>
                {{shopData.postCode}} {{shopData.city}}<br/>
                {{getCountryName shopData.countryId}}
            </td>
        </tr>
        <tr>
            <td>{{_ "VAT number"}}</td>
            <td>{{shopData.vatNumber}}</td>
        </tr>
        <tr>
            <td>{{_ "Chamber of Commerce registration"}}</td>
            <td>{{shopData.chamberOfCommerce}}</td>
        </tr>
        {{#if shopData.debtCollectionAccount}}
            <tr>
                <td>{{_ "Name of authorizer"}}</td>
                <td>{{shopData.debtCollectionName}}</td>
            </tr>
            <tr>
                <td>{{_ "IBAN account"}}</td>
                <td>{{shopData.debtCollectionAccount}}</td>
            </tr>
        {{/if}}
        {{!-- <tr>
            <td>{{_ "Subscription"}}</td>
            <td>{{shopData.subscription}}</td>
        </tr> --}}
        <tr>
            <td>{{_ "Contract signature"}}</td>
            <td>
                {{_ "Date"}}: {{formatDate now}}<br/>
                {{_ "Name"}}: {{shopData.contactName}}<br/>
                {{_ "Function"}}: {{shopData.contactFunction}}<br/>
                {{_ "Signature"}}:<br/>
                <img src="{{shopData.signature}}" class="signature-example"/>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="hr-line-dashed"></div>

    {{#with errors}}
        <h2>Errors:</h2>
        {{#each this}}
            {{this}}<br/>
        {{/each}}
        <div class="hr-line-dashed"></div>
    {{/with}}

    <div class="pull-right">
        <button class="btn btn-sm btn-primary pull-right m-t-n-xs register-new-shop"><strong>{{_ "Register as partner"}}</strong></button>
        <button class="btn btn-sm btn-default pull-right m-t-n-xs add-shop-previous-step"><strong>{{_ "Previous"}}</strong></button>
    </div>
    <br/>
</template>
