<template name="view_register_contract">
    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="ibox" tabindex="-1">
                        <div class="ibox-content">
                            <div class="contract">
                                {{> UI.dynamic template=getContractTextTemplate }}
                                <hr/>
                                {{> UI.dynamic template=getLocalLawTemplate }}
                                <hr/>
                                {{> UI.dynamic template=getTermsTemplate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
