<template name="view_register">
    <div class="wrapper wrapper-content wrapper-register-new-shop">
        <div class="container">
            {{#if isLoading}}
                {{> loading }}
            {{else}}
                <div class="row">
                    <div class="col-sm-8">
                        <div class="ibox" tabindex="-1">
                            <div class="ibox-content">
                                <h2>{{_ "Register as a partner with Vatfree com"}}</h2>
                                {{#if isStep "info"}}
                                    {{#with getWebText 'new_shop_registration_intro'}}
                                        {{{this}}}
                                    {{/with}}
                                    <div class="language-selector">
                                        <br/>
                                        Choose language: <span class="language-option {{isActiveLanguage 'nl'}}"><i class="flag-icon flag-icon-nl"></i> Nederlands</span> - <span class="language-option {{isActiveLanguage 'en'}}"><i class="flag-icon flag-icon-gb"></i> English</span>
                                    </div>
                                {{/if}}
                                {{#if isStep "sign"}}
                                    {{#with getWebText 'new_shop_registration_sign'}}
                                        {{{this}}}
                                    {{/with}}
                                {{/if}}
                                {{#if isStep "subscription"}}
                                    {{#with getWebText 'new_shop_registration_subscription'}}
                                        {{{this}}}
                                    {{/with}}
                                {{/if}}

                                <div class="hr-line-dashed"></div>

                                {{#if isRegistering}}
                                    {{_ "Registering the shop"}}...<br/>
                                    {{> loading }}
                                {{else}}
                                    {{#if isStep "info"}}
                                        <div class="animated fadeInDown">
                                            {{> view_register_shop_info shopData=getShopData }}
                                        </div>
                                    {{/if}}
                                    {{#if isStep "subscription"}}
                                        <div class="animated fadeInDown">
                                            {{> view_register_subscription shopData=getShopData }}
                                        </div>
                                    {{/if}}
                                    {{#if isStep "sign"}}
                                        <div class="animated fadeInDown">
                                            {{> view_register_sign shopData=getShopData }}
                                        </div>
                                    {{/if}}
                                    {{#if isStep "confirm"}}
                                        <div class="animated fadeInDown">
                                            {{> view_register_confirm shopData=getShopData errors=getErrors }}
                                        </div>
                                    {{/if}}
                                    {{#if isStep "registered"}}
                                        <div class="animated fadeInDown">
                                            {{{getWebText 'new_shop_registration_registered'}}}
                                            <br/>
                                            <div class="pull-right">
                                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs close-window"><strong>{{_ "Close"}}</strong></button>
                                            </div>
                                            <br/>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="ibox" tabindex="-1">
                            <div class="ibox-content">
                                {{{getWebText 'new_shop_registration_info_box'}}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</template>
