<template name="view_register_shop_info">
    <form role="form" name="add-shop-form">
        <input type="hidden" name="_id" value="{{getValue "_id"}}">
        <input type="hidden" name="geo" value="{{getValue "geo"}}">
        <div class="form-group required">
            <label>{{_ "Search for your shop on the map"}}</label>
            {{> forms_map name='geo' location=getGeo addressbar='_map_addressbar' onChangeCallback=selectMapLocationCallback placeholder=(_ "Enter the name and location to search") }}
        </div>
        <div class="form-group required">
            <label>{{_ "Name of the shop"}}</label>
            <input type="text" name="name" class="form-control" required="required" tabindex="0" value="{{getValue "name"}}">
        </div>
        <div class="form-group required">
            <label>{{_ "Address of the shop"}}</label>
            <input type="text" name="addressFirst" class="form-control" required="required" tabindex="0" value="{{getValue "addressFirst"}}">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group required">
                    <label>{{_ "Postal code of the shop"}}</label>
                    <input type="text" name="postCode" class="form-control" required="required" tabindex="0" value="{{getValue "postCode"}}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group required">
                    <label>{{_ "City"}}</label>
                    <input type="text" name="city" class="form-control" required="required" tabindex="0" value="{{getValue "city"}}">
                </div>
            </div>
        </div>
        <div class="form-group required">
            <label>{{_ "Country"}}</label>
            <select name="countryId" class="form-control" required="required" tabindex="0">
                <option value=""> -- </option>
                {{#each getCountries}}
                    <option value="{{_id}}" selected="{{isCountrySelected code}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group required">
                    <label>{{_ "Email of the shop"}}</label>
                    <input type="email" name="email" class="form-control" required="required" tabindex="0" value="{{getValue "email"}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group required">
                    <label>{{_ "Telephone of the shop"}}</label>
                    <input type="tel" name="tel" class="form-control" required="required" tabindex="0" value="{{getValue "tel"}}">
                </div>
            </div>
        </div>
        <div class="form-group required">
            <label>{{_ "Website of the shop"}}</label>
            <input type="text" name="website" class="form-control" tabindex="0" value="{{getValue "website"}}">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group required">
                    <label>{{_ "VAT number"}}</label>
                    <input type="text" name="vatNumber" class="form-control" required="required" tabindex="0" value="{{getValue "vatNumber"}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group required">
                    <label>{{_ "Chamber of Commerce registration"}}</label>
                    <input type="text" name="chamberOfCommerce" class="form-control" required="required" tabindex="0" value="{{getValue "chamberOfCommerce"}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>{{_ "Currency used in the shop"}}</label>
                <select name="currencyId" class="form-control" required="required" tabindex="0">
                    {{#each getCurrencies}}
                        <option value="{{_id}}" selected="{{isCurrencySelected code}}">{{name}} ({{code}}, {{symbol}})</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-6">
                <label>{{_ "Preferred communication language"}}</label>
                <select name="language" class="form-control" required="required" disabled="{{isDisabled}}">
                    {{#each getShopLanguages}}
                        <option value="{{code}}" selected="{{isLanguageSelected code}}">{{en}} ({{name}})</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="pull-right">
            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>{{_ "Next"}}</strong></button>
            <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-add-shop"><strong>{{_ "Cancel"}}</strong></button>
        </div>
        <br/>
    </form>
</template>
