<template name="view_register_sign">
    <form role="form" name="add-shop-form">
        <div class="new-shop-contract">
            <div>
                {{> UI.dynamic template=getContractTextTemplate }}
                <hr/>
                {{> UI.dynamic template=getLocalLawTemplate }}
                <hr/>
                {{> UI.dynamic template=getTermsTemplate }}
            </div>
        </div>
        <span class="open-contract-external">
            <a href="/register/contract" target="_blank"><i class="icon icon-openextern"></i>{{_ "Open in external window"}}</a>
        </span>
        <div class="form-group">
            <label>{{_ "Date"}} {{formatDate now}}</label>
        </div>
        <div class="form-group">
            <label>{{_ "Your name"}}</label>
            <input type="text" name="contactName" class="form-control" required="required" tabindex="0" value="{{getValue "contactName"}}">
        </div>
        <div class="form-group">
            <label>{{_ "Your function within the company"}}</label>
            <input type="text" name="contactFunction" class="form-control" required="required" tabindex="0" value="{{getValue "contactFunction"}}">
        </div>
        <div class="form-group">
            <label>{{_ "Your email"}}</label>
            <input type="text" name="contactEmail" class="form-control" required="required" tabindex="0" value="{{getValue "contactEmail"}}">
        </div>

        <div class="form-group">
            <label>{{_ "Your signature"}}</label>
            <div class="signature-box">
                <i class="icon icon-trash clear-signature" title="Clear signature"></i>
                <canvas id="signatureCanvas" style="height: 200px; width: 100%;">
                </canvas>
            </div>
            <p>{{_ "Please place a signature in the box with your mouse or finger on a touch screen"}}</p>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="pull-right">
            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>{{_ "Next"}}</strong></button>
            <button class="btn btn-sm btn-default pull-right m-t-n-xs add-shop-previous-step"><strong>{{_ "Previous"}}</strong></button>
        </div>
        <br/>
    </form>
</template>
