<template name="view_register_subscription">
    <form role="form" name="add-shop-form">
        {{#unless (getValue "debtCollectionAccount")}}
            <p><b>{{_ "Automatic continuous SEPA authorization"}}</b></p>
            <p>{{_ "VATfree NL BV debt collection ID __debt_collection_id__" debt_collection_id="NL17ZZZ342750570000"}}</p>
            <div class="form-group required">
                <label>{{_ "Name of authorizer"}}</label>
                <input type="text" name="debtCollectionName" class="form-control" tabindex="0" value="{{getValue "debtCollectionName"}}">
            </div>
            <div class="form-group required">
                <label>{{_ "IBAN account"}}</label>
                <input type="text" name="debtCollectionAccount" class="form-control" tabindex="0" value="{{getValue "debtCollectionAccount"}}">
            </div>

            <div class="hr-line-dashed"></div>
        {{/unless}}

        <div class="form-group required">
            <label>{{_ "Billing name"}}</label>
            <input type="text" name="billingName" class="form-control" required="required" tabindex="0" value="{{getValue "billingName"}}">
        </div>
        <div class="form-group required">
            <label>{{_ "Billing email address"}}</label>
            <input type="email" name="billingEmail" class="form-control" tabindex="0" value="{{getValue "billingEmail"}}">
        </div>
        <div class="form-group required">
            <label>{{_ "Billing address"}}</label>
            <input type="text" name="billingAddressFirst" class="form-control" required="required" tabindex="0" value="{{getValue "billingAddressFirst"}}">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group required">
                    <label>{{_ "Billing postal code"}}</label>
                    <input type="text" name="billingPostCode" class="form-control" required="required" tabindex="0" value="{{getValue "billingPostCode"}}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group required">
                    <label>{{_ "Billing city"}}</label>
                    <input type="text" name="billingCity" class="form-control" required="required" tabindex="0" value="{{getValue "billingCity"}}">
                </div>
            </div>
        </div>
        <div class="form-group required">
            <label>{{_ "Billing country"}}</label>
            <select name="billingCountryId" class="form-control" required="required" tabindex="0">
                <option value=""> -- </option>
                {{#each getCountries}}
                    <option value="{{_id}}" selected="{{isBillingCountrySelected code}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        {{!--
         <div class="hr-line-dashed"></div>

        <div class="row">
            <div class="col-md-4">
                <label>Subscription choice</label>
            </div>
            <div class="col-md-8">
                <div class="i-checks">
                    <label>
                        <input type="radio" value="free" name="subscription" tabindex="0" checked="{{isSelectedValue "subscription" "free"}}"> <i></i> {{_ "Free"}} - € 0 p.mnd ex btw
                    </label>
                    <br/>
                    <label>
                        <input type="radio" value="boutique" name="subscription" tabindex="0" checked="{{isSelectedValue "subscription" "boutique"}}"> <i></i> {{_ "Boutique"}} - € 99 p.mnd ex btw
                    </label>
                    <br/>
                    <label>
                        <input type="radio" value="basic" name="subscription" tabindex="0" checked="{{isSelectedValue "subscription" "basic"}}"> <i></i> {{_ "Basic"}} - € 299 p.mnd ex btw
                    </label>
                    <br/>
                    <label>
                        <input type="radio" value="blend" name="subscription" tabindex="0" checked="{{isSelectedValue "subscription" "blend"}}"> <i></i> {{_ "Blend"}} - € 499 p.mnd ex btw
                    </label>
                    <br/>
                    <label>
                        <input type="radio" value="boost" name="subscription" tabindex="0" checked="{{isSelectedValue "subscription" "boost"}}"> <i></i> {{_ "Boost"}} - € 999 p.mnd ex btw
                    </label>
                    <!-- br/>
                    <label>
                        <input type="radio" value="premium" name="subscription" tabindex="0" checked="{{isSelectedValue "subscription" "premium"}}"> <i></i> {{_ "Premium"}}
                    </label>
                </div>
            </div>
        </div> --}}

        <div class="hr-line-dashed"></div>

        <div class="pull-right">
            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>{{_ "Next"}}</strong></button>
            <button class="btn btn-sm btn-default pull-right m-t-n-xs add-shop-previous-step"><strong>{{_ "Previous"}}</strong></button>
        </div>
        <br/>
    </form>
</template>
