<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Your app title -->
    <title>VATfree.com</title>
</head>

<body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    {{> views}}

    <div class="panel panel-right panel-cover">
        <div class="content-block">
            <a href="#" class="close-panel">X</a>
            {{> view_account_content }}
        </div>
    </div>
</body>

<template name="views">
    {{#if networkProblem}}
        <div class="network-problems">
            <img src="/images/network-problems.svg" />
        </div>
    {{/if}}
    <div class="views {{#if keyboardShown}}keyboard-shown{{/if}}">
        {{> view_register }}
        {{> view_refund }}
        {{> view_qrcode }}
        {{> view_popr }}
        {{> view_shop }}
        {{> view_affiliate }}
        {{> view_contact }}
    </div>

    {{> activity_popup }}
</template>

<template name="toolbar">
    <!-- Bottom Toolbar-->
    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <a id="main" class="tab-link {{activePage "main"}}">
                <div class="icon-cell">
                    <i class="icon icon-newclient"></i>
                    <span class="icon-name">Register</span>
                </div>
            </a>
            <a id="qrcode" class="tab-link {{activePage "qrcode"}}">
                <div class="icon-cell">
                    <i class="icon icon-scan"></i>
                    <span class="icon-name">Upload Photos</span>
                </div>
            </a>
            <a id="popr" class="tab-link {{activePage "popr"}}">
                <div class="icon-cell">
                    <i class="icon icon-qrframe"></i>
                    <span class="icon-name">POPr</span>
                </div>
            </a>
            <a id="shop" class="tab-link {{activePage "shop"}}">
                <div class="icon-cell">
                    <i class="icon icon-shops"></i>
                    <span class="icon-name">Shop visit</span>
                </div>
            </a>
            {{#if isInVatfreeRole 'affiliates-read'}}
                <a id="affiliate" class="tab-link {{activePage "affiliate"}}">
                    <div class="icon-cell">
                        <i class="icon icon-affiliates"></i>
                        <span class="icon-name">Affiliates</span>
                    </div>
                </a>
            {{/if}}
            {{#if isInVatfreeRole 'contacts-read'}}
                <a id="contact" class="tab-link {{activePage "contact"}}">
                    <div class="icon-cell">
                        <i class="icon icon-contacts"></i>
                        <span class="icon-name">Contacts</span>
                    </div>
                </a>
            {{/if}}
        </div>
    </div>
</template>

<template name="open_config_panel">
    {{#if currentUser}}
        <a href="#" data-panel="right" class="open-panel">
            {{#with getUploadQueue}}
                <span class="badge bg-green">{{this}}</span>
            {{/with}}
            <i class="icon icon-config"></i>
        </a>
    {{else}}
        &nbsp;
    {{/if}}
</template>
