<template name="addPaymentModal">
    <div id="modal-add-payment" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <h3 class="m-t-none m-b">Upload payments</h3>
                            <form role="form" name="add-payment-form">
                                {{#if isUploading}}
                                    {{> loading }}
                                {{else}}
                                    {{#with withFiles}}
                                        {{#each this}}
                                            <div class="form-group">
                                                <label>File name</label>
                                                <input type="text" class="form-control" disabled="true" value="{{name}}">
                                            </div>
                                            <div class="form-group">
                                                <label>File size</label>
                                                <input type="text" class="form-control" disabled="true" value="{{size}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Date modified</label>
                                                <input type="text" class="form-control" disabled="true" value="{{formatDateTime lastModifiedDate}}">
                                            </div>
                                        {{/each}}
                                        <div>
                                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Upload</strong></button>
                                            <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-add-payment"><strong>Cancel</strong></button>
                                        </div>
                                    {{else}}
                                        <div class="form-group required">
                                            <label>MT940 file</label>
                                            <input type="file" name="fileUpload" class="form-control" required="required" tabindex="1">
                                        </div>
                                        <div>
                                            <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-add-payment"><strong>Cancel</strong></button>
                                        </div>
                                    {{/with}}
                                {{/if}}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
