<template name="PaymentEdit">
    {{#if Template.subscriptionsReady}}
        {{#with itemDoc}}
            {{> pageHeading title=getPaymentName category='Payments' categoryLink='/payments' }}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-sm-8">
                        {{> paymentEditForm }}
                    </div>
                    <div class="col-sm-4">
                        {{> PaymentInfo }}
                    </div>
                </div>
            </div>
        {{/with}}
    {{else}}
        {{> loading }}
    {{/if}}
</template>

<template name="paymentEditForm">
    {{#if linkDebtCollection}}
        {{> payment_link_debt_collection }}
    {{/if}}
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Payment details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3"> Invoices</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Activity</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-12">
                                    <span class="alert-danger">Payments are imported from the bank directly and cannot be edited</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Payment</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="{{accountId}}" disabled="true">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{number}}-{{iterator}}" disabled="true">
                                </div>
                            </div>
                            {{#unless ignorePayment}}
                                {{#if invoiceIds}}
                                    {{#each invoiceIds}}
                                        {{#with getInvoice}}
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">{{getInvoiceLabel _id}}</label>
                                                {{#if isDefaultCurrency currencyId}}
                                                    <div class="col-sm-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{getCurrencySymbol currencyId}}</span>
                                                            <input type="number" class="form-control" value="{{formatAmount getInvoiceAmount}}" disabled="true">
                                                        </div>
                                                    </div>
                                                {{else}}
                                                    <div class="col-sm-3">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">&euro;</span>
                                                            <input type="number" class="form-control" value="{{formatAmount euroAmount}}" disabled="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{getCurrencySymbol currencyId}}</span>
                                                            <input type="number" class="form-control" value="{{formatAmount amount}}" disabled="true">
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            </div>
                                        {{/with}}
                                    {{/each}}
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Payment difference</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">{{getCurrencySymbol ../currencyId}}</span>
                                                <input type="number" class="form-control" value="{{formatAmount paymentDifference}}" disabled="true">
                                            </div>
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Invoices</label>
                                        <div class="col-sm-10">
                                            <select name="invoiceIds" class="form-control" multiple="multiple"></select>
                                        </div>
                                    </div>
                                    {{#each getSelectedInvoices}}
                                        {{#with getInvoice}}
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">{{getInvoiceLabel _id}}</label>
                                                {{#if isDefaultCurrency currencyId}}
                                                    <div class="col-sm-6">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{getCurrencySymbol currencyId}}</span>
                                                            <input type="number" name="amount_{{_id}}" value="{{formatAmount amount}}" min="0" step="0.01" required="required" class="form-control" placeholder="Amount paid for invoice">
                                                        </div>
                                                    </div>
                                                {{else}}
                                                    <div class="col-sm-3">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">&euro;</span>
                                                            <input type="number" name="euroAmount_{{_id}}" value="" min="0" step="0.01" required="required" class="form-control" placeholder="Amount paid for invoice">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{getCurrencySymbol currencyId}}</span>
                                                            <input type="number" name="amount_{{_id}}" value="{{formatAmount amount}}" min="0" step="0.01" required="required" class="form-control" placeholder="Amount paid for invoice">
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            </div>
                                        {{/with}}
                                    {{/each}}
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Payment difference - <i class="fa fa-calculator calculate-payment-difference"></i></label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">{{getCurrencySymbol ../currencyId}}</span>
                                                <input type="number" name="payment-difference" class="form-control" min="0" step="0.01"  placeholder="Payment difference">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-sm btn-default m-t-n-xs cancel"><strong>Cancel</strong></button>
                                        <button class="btn btn-sm btn-warning m-t-n-xs ignore-payment"><strong>Other payment</strong></button>
                                        <button class="btn btn-sm btn-info m-t-n-xs link-debt-collection"><strong>Link debt collection</strong></button>
                                        <button class="btn btn-sm btn-primary m-t-n-xs update-invoices"><strong>Update invoices of payment</strong></button>
                                    </div>
                                {{/if}}
                            {{else}}
                                <div class="pull-right">
                                    <button class="btn btn-sm btn-default m-t-n-xs reopen-invoice"><strong>Re-open payment</strong></button>
                                </div>
                            {{/unless}}
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="text-right">
                        <a class="btn btn-primary add-activity-log" href="#">+ Add</a>
                    </div>
                    {{#if addingActivityLog }}
                        {{> addActivityLogModal paymentId=_id parentVariable='addingActivityLog' }}
                    {{/if}}

                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> activityLogsList activityLogs=getActivityLog includeHeader=true showDetails=true }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> invoicesList invoices=getInvoices includeHeader=true showDetails=true }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
