<template name="PaymentInfo">
    <div class="ibox payment-info">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="payment-1" class="tab-pane active">
                    <div class="row m-b-lg">
                        <div class="col-lg-12">
                            <strong>{{{parseDescription description}}}</strong><br/>
                        </div>
                    </div>
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>Payment summary</strong>
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    <span class="pull-right">
                                        {{accountId}}
                                    </span>
                                    Bank
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        {{number}}-{{iterator}}
                                    </span>
                                    Number
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        {{formatDate valueDate}}
                                    </span>
                                    Date
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        {{formatCurrency amount currencyId}}
                                    </span>
                                    Amount
                                </li>
                                <li class="list-group-item">
                                    Invoices
                                    <div class="text-right">
                                        {{#if ignorePayment}}
                                            <i class="text-muted">ignore</i>
                                        {{else}}
                                            {{#if invoiceIds}}
                                                {{#each getInvoices}}
                                                    <a href="/invoice/{{_id}}">{{invoiceNr}}</a><br/>
                                                {{/each}}
                                            {{else}}
                                                -
                                            {{/if}}
                                        {{/if}}
                                    </div>
                                </li>
                                {{#if paymentDifference}}
                                    <li class="list-group-item text-danger">
                                        <span class="pull-right">
                                            {{formatCurrency paymentDifference currencyId}}
                                        </span>
                                        Payment Difference
                                    </li>
                                {{/if}}
                            </ul>
                            {{#if notes}}
                                <strong>Notes</strong>
                                <p>
                                    {{notes}}
                                </p>
                            {{/if}}
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
