<template name="payment_link_debt_collection">
    {{#modal parentTemplateVariable="linkDebtCollection" center=true onShow=modalOnShown }}
        <h2>Link debt collection?</h2>
        <form role="form" name="link-debt-collection-form">
            <div class="form-group required">
                <div class="col-sm-12">
                    <select name="debtCollectionId" class="form-control">
                    </select>
                </div>
            </div>
            {{#if debtCollectionId}}
                <div class="pull-right">
                    <button class="btn btn-sm btn-default m-t-n-xs close-modal" tabindex="0"><strong>Cancel</strong></button>
                    <button class="btn btn-sm btn-primary m-t-n-xs" type="submit" tabindex="0" accesskey="l"><strong><u>L</u>ink debt collection</strong></button>
                </div>
                <br/>
            {{/if}}
        </form>
    {{/modal}}
</template>
