<template name="paymentsList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="sort-header {{isHeaderSorting 'accountId'}}" data-id="accountId">Bank</th>
                    <th>Number</th>
                    <th class="sort-header {{isHeaderSorting 'valueDate'}}" data-id="valueDate">Date</th>
                    <th class="sort-header {{isHeaderSorting 'amount'}}" data-id="amount">Amount</th>
                    <th>Invoices</th>
                    <th class="sort-header {{isHeaderSorting 'description'}}" data-id="description">Description</th>
                </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each payments}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/payment/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td><a class="client-link">{{accountId}}</a></td>
                <td>{{number}}-{{iterator}}</td>
                <td>{{formatDate valueDate}}</td>
                <td>
                    {{#if ../invoiceId}}
                        {{formatCurrency getInvoiceAmount currencyId}}<br/><span class="text-muted">({{formatCurrency amount currencyId}})</span>
                    {{else}}
                        {{formatCurrency amount currencyId}}
                    {{/if}}
                </td>
                <td>
                    {{#if ignorePayment}}
                        <i class="text-muted">ignore</i>
                    {{else}}
                        {{getInvoiceNrs}}
                    {{/if}}
                </td>
                <td style="max-width: 200px; overflow: hidden;">{{description}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="8">
                    <i>No payments found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
