<template name="Payments">
    {{#if addingItem}}
        {{> addPaymentModal }}
    {{/if}}
    {{#if reconcilingPayments}}
        {{> reconcilePaymentsModal }}
    {{/if}}
    <div class="wrapper wrapper-content">
        <div class="row Payments">
            <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="pull-right">
                            <a class="btn btn-info btn-icon add-item" href="#" accesskey="u"><i class="icon icon-create"></i><u>U</u>pload</a>
                            <a class="btn btn-info btn-icon reconcile-payments" href="#" accesskey="r"><i class="icon icon-payments"></i><u>R</u>econcile payments</a>
                        </div>
                        <h2>Payments</h2>
                        <div class="input-group">
                            <input type="text" placeholder="Search payment" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                            </span>
                        </div>
                        <div class="input-group filter-icons">
                            <span class="pull-right toggle-list-filters {{#if activeListfilters}}filter-icon active{{/if}} {{#if showListFilters}}active{{/if}}"><i class="icon icon-filterfunnel"></i></span>
                            <span class="label label-info label-filter cursor-pointer todos-filter pull-right">Filter {{getStatsCount 'payments'}} tasks</span>
                            {{#each getPaymentFilterOptions}}
                                <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getPaymentIcon this}}"></i></span>
                            {{/each}}
                        </div>
                        {{#if showListFilters}}
                            <div class="input-group list-filters">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Amount</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                        <input type="number" min="0" step="0.01" name="listFilter.amount" data-compare="$gte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "amount.$gte" "number" 100}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon icon-euro"></i></span>
                                                        <input type="number" min="0" step="0.01" name="listFilter.amount" data-compare="$lte" data-type="number" data-multiplier="100" class="form-control" value="{{getListFilterValue "amount.$lte" "number" 100}}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Created date</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                        <input type="text" name="listFilter.entryDate" data-compare="$gte" data-type="date" class="form-control" value="{{getListFilterValue "entryDate.$gte" "date"}}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                                        <input type="text" name="listFilter.entryDate" data-compare="$lte" data-type="date" class="form-control" value="{{getListFilterValue "entryDate.$lte" "date"}}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        <div class="clients-list item-list Payments-list">
                            {{#if initialLoadDone}}
                                <div class="full-height-scroll">
                                    <div class="table-responsive infinite-scrolling">
                                        {{> paymentsList payments=getPayments includeHeader=true sorting=getSorting }}
                                    </div>
                                </div>
                            {{else}}
                                {{> loading }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{#with getActiveItem}}
                <div class="col-sm-4">
                    {{> PaymentInfo }}
                </div>
            {{/with}}
        </div>
    </div>
</template>
