<template name="reconcilePaymentsModal">
    {{#taskModal options=getOptions}}
        {{#if gettingPayments}}
            Gathering payments for reconciliation ...
            {{> loading }}
        {{else}}
            {{#if Template.subscriptionsReady}}
                {{#unless processing}}
                    <div class="payments-reconcile-tasks padding">
                        <div class="row">
                            <div class="col-sm-12 b-r">
                                {{#with getPayments}}
                                    <h3 class="m-t-none m-b">Reconcile payments with invoices</h3>
                                    {{#each this}}
                                        <div class="ibox" id="payment_{{_id}}">
                                            <div class="ibox-title">
                                                <div class="bank-payment">
                                                    <div class="date">
                                                        {{formatDate valueDate}}
                                                    </div>
                                                    <div class="amount">
                                                        {{formatCurrency amount currencyId}}
                                                    </div>
                                                    {{#with getParsedDescription}}
                                                        <div class="payee">
                                                            {{NAME}}
                                                            {{#if IBAN}}<div class="text-muted">{{IBAN}}</div>{{/if}}
                                                        </div>
                                                        <div class="description">
                                                            {{REMI}}
                                                            {{#if INV}}
                                                                 - {{INV}}
                                                            {{/if}}
                                                        </div>
                                                    {{/with}}
                                                </div>
                                                <div class="text-muted bank-payment-description">{{description}}</div>
                                            </div>
                                            <div class="ibox-content">
                                                <div class="i-checks">
                                                    <input type="checkbox" name="ignorePayment.{{_id}}" /> &nbsp; Ignore this payment
                                                </div>
                                                {{#if invoices.length}}
                                                    {{> invoicesList invoices=getInvoices includeHeader=true hideTotals=true selectable=true selected=getSelected dissallowEdit=true disableClicks=true }}
                                                {{/if}}
                                            </div>
                                        </div>
                                    {{/each}}
                                    <div class="pull-right">
                                        <button class="btn btn-sm btn-default m-t-n-xs close-tasks"><strong>Cancel</strong></button>
                                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Reconcile</strong></button>
                                    </div>
                                {{else}}
                                    <div class="waiting-for-task">
                                        <h1>No payments to reconcile ...</h1>
                                        <button class="btn btn-primary close-tasks" accesskey="c"><u>C</u>lose tasks window</button>
                                    </div>
                                {{/with}}
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{> loading }}
                {{/unless}}
            {{else}}
                {{> loading }}
            {{/if}}
        {{/if}}
    {{/taskModal}}
</template>

<template name="reconcilePaymentsModal_sidebar">
    {{#with getInvoice}}
        {{> invoiceInfo invoice=this showImages=true }}
    {{else}}
        <div style="padding: 20px;">
            Click on an invoice to view details.
        </div>
    {{/with}}
</template>
