<template name="mainLayout">
    {{#with getVersionInfo}}
        <div class="version-banner">
            {{this}}
        </div>
    {{/with}}
    <div id="wrapper">
        {{> navigation }}
        <div id="page-wrapper" class="gray-bg">
            {{> topNavbar }}
            {{#if Template.subscriptionsReady}}
                {{>Template.dynamic template=content}}
            {{else}}
                {{> loading}}
            {{/if}}
            {{> footer }}
        </div>
    </div>
</template>
