<template name="dashboard_top30_shops">
    <h2>Top30 Shops {{aggregate}}</h2>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            {{#with getTopData}}
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            {{#each this}}
                                <tr>
                                    <td><a href="/shop/{{_id}}">{{getShopDescription _id}}</a></td>
                                    <td class="nobr">{{formatDataValue}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{else}}
                {{#if getLoading}}
                    {{> loading }}
                {{else}}
                    <i>No data found</i>
                {{/if}}
            {{/with}}
        </div>
    </div>
</template>
