<template name="dashboard_top30">
    <div class="wrapper wrapper-content dashboard">
        <form role="form" name="add-receipt-form">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Shop name</label>
                        <input type="text" placeholder="Search shop name" class="input form-control {{#if getSearchTerm}}active{{/if}}" name="item-search" value="{{getSearchTerm}}" accesskey="s" tabindex="-1">
                    </div>
                    <div class="col-sm-6">
                        <span class="filter-icons">
                            {{#each getShopPartnershipStatusOptions}}
                                <span class="filter-icon partnership-status-filter-icon {{#if (isSelected getPartnershipStatus this)}}active{{/if}}" id="{{this}}" title="{{_ this}}">
                                    <img src="/Logos/{{getShopPartnershipStatusIcon this}}" />
                                </span>
                            {{/each}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>From date</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                            <input type="text" name="dateFrom" class="form-control" tabindex="0" value="{{formatDate getFromDate}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Till Date</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                            <input type="text" name="dateTill" class="form-control" tabindex="0" value="{{formatDate getTillDate}}">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-sm-6">
                {{> dashboard_top30_shops aggregate='count' fromDate=getFromDate tillDate=getTillDate searchTerm=getSearchTerm partnershipStatus=getPartnershipStatus }}
            </div>
            <div class="col-sm-6">
                {{> dashboard_top30_shops aggregate='serviceFee' fromDate=getFromDate tillDate=getTillDate searchTerm=getSearchTerm partnershipStatus=getPartnershipStatus }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{> dashboard_top30_shops aggregate='amount' fromDate=getFromDate tillDate=getTillDate searchTerm=getSearchTerm partnershipStatus=getPartnershipStatus }}
            </div>
            <div class="col-sm-6">
                {{> dashboard_top30_shops aggregate='refund' fromDate=getFromDate tillDate=getTillDate searchTerm=getSearchTerm partnershipStatus=getPartnershipStatus }}
            </div>
        </div>
    </div>
</template>
