<template name="dashboard_count_receipts_last_weeks">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Receipts last 12 weeks ({{numberOfReceipts}})</h5>
        </div>
        <div class="ibox-content">
            <div style="height: 344px">
                <canvas id="lineChart" style="height: 344px"></canvas>
            </div>
        </div>
    </div>
</template>
