<template name="travellerInfo">
    <div class="ibox traveller-info">
        {{#with traveller}}
            <div class="ibox-content">
                <div class="tab-content {{#if ../allowEdit}}allow-edit{{/if}}">
                    <div id="contact-1" class="tab-pane active">
                    {{> travellerCard }}
                    {{#unless ../hideDetails}}
                        {{#if alternativeTravellerType}}
                            <blockquote class="alert-warning">
                                {{#with getTravellerTypeIcon private.travellerTypeId}}
                                    <i class="{{this}}"></i>
                                {{/with}}
                                {{getTravellerTypeName private.travellerTypeId}}
                            </blockquote>
                        {{/if}}
                        <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>Traveller summary</strong>
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    {{#if userIsEligible}}
                                        <i class="icon icon-usereligible"></i> Traveller is eligible for refund
                                    {{else}}
                                        <span class="alert-danger"><i class="icon icon-usernoneligible"></i> Traveller is NOT eligible for refund</span>
                                    {{/if}}
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDate private.lastRequestDate}} </span>
                                    Last request date
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDate private.lastRequestDate}} </span>
                                    Last request date
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{private.numberOfRequests}} </span>
                                    Number of requests
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency private.totalRefunds}} </span>
                                    Total refunds
                                </li>
                                {{#if private.reminders}}
                                    <li class="list-group-item">
                                        Reminders<br/>
                                        {{#each private.reminders}}
                                            <div class="text-right">
                                                {{type}}: {{formatDateTime sentAt}}
                                            </div>
                                        {{/each}}
                                    </li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    {{/unless}}
                </div>
                </div>
            </div>
        {{/with}}
    </div>
</template>
