<template name="affiliate_travellers">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>Travellers</h2>
                        <div class="input-group">
                            <input type="text" placeholder="Search traveller" name="item-search" class="input form-control {{#if getSearchTerm}}active{{/if}}" value="{{getSearchTerm}}" accesskey="s">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn btn-icon btn-primary"> <i class="fa fa-search"></i> <u>S</u>earch</button>
                            </span>
                        </div>
                        <div class="input-group filter-icons">
                            <span class="label-filter-group">
                                {{#each getTravellerStatusOptions}}
                                    <span class="filter-icon status-filter-icon {{isActiveStatusFilter}}" id="{{this}}" title="{{_ this}}"><i class="{{getTravellerIcon this}}"></i></span>
                                {{/each}}
                            </span>
                        </div>

                        {{#with getTravellerStats}}
                            <div class="list-aggregates">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td># travellers: {{count}}</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        {{/with}}
                        <div class="clients-list item-list traveller-list">
                            {{#if initialLoadDone}}
                                <div class="full-height-scroll">
                                    <div class="table-responsive infinite-scrolling">
                                        {{> travellersList travellers=getTravellers includeHeader=true sorting=getSorting hideButtons=true hideServiceFee=true }}
                                    </div>
                                </div>
                            {{else}}
                                {{> loading }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{#with getActiveItem}}
                <div class="col-sm-4">
                    {{> travellerInfo traveller=this showImages=true }}
                </div>
            {{/with}}
        </div>
    </div>
</template>
