<template name="search">
    <div class="wrapper wrapper-content">
        {{#if isSearching}}
            {{> loading }}
        {{else}}
            <div class="row">
                <div class="{{#if getActiveItem}}col-sm-8{{else}}col-sm-12{{/if}}">
                    <div class="ibox">
                        {{#if isInVatfreeRole 'travellers-read'}}
                            <div class="ibox-content">
                                <div class="pull-right">
                                    <a href="/travellers?search={{getSearchTerm}}" class="btn btn-primary">&gt;&gt; Traveller search</a>
                                </div>
                                <h2>Travellers</h2>
                                <div class="clients-list item-list receipts-list">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> travellersList travellers=getTravellers includeHeader=true }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        {{#if isInVatfreeRole 'receipts-read'}}
                            <div class="ibox-content">
                                <div class="pull-right">
                                    <a href="/receipts?search={{getSearchTerm}}" class="btn btn-primary">&gt;&gt; Receipt search</a>
                                </div>
                                <h2>Receipts</h2>
                                <div class="clients-list item-list receipts-list">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> receiptsList receipts=getReceipts includeHeader=true }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        {{#if isInVatfreeRole 'invoices-read'}}
                            <div class="ibox-content">
                                <div class="pull-right">
                                    <a href="/invoices?search={{getSearchTerm}}" class="btn btn-primary">&gt;&gt; Invoice search</a>
                                </div>
                                <h2>Invoices</h2>
                                <div class="clients-list item-list receipts-list">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> invoicesList invoices=getInvoices includeHeader=true }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        {{#if isInVatfreeRole 'payouts-read'}}
                            <div class="ibox-content">
                                <div class="pull-right">
                                    <a href="/payouts?search={{getSearchTerm}}" class="btn btn-primary">&gt;&gt; Payout search</a>
                                </div>
                                <h2>Payouts</h2>
                                <div class="clients-list item-list receipts-list">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> payoutsList payouts=getPayouts includeHeader=true }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        {{#if isInVatfreeRole 'shops-read'}}
                            <div class="ibox-content">
                                <div class="pull-right">
                                    <a href="/shops?search={{getSearchTerm}}" class="btn btn-primary">&gt;&gt; Shop search</a>
                                </div>
                                <h2>Shops</h2>
                                <div class="clients-list item-list receipts-list">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> shopsList shops=getShops includeHeader=true }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        {{#if isInVatfreeRole 'companies-read'}}
                            <div class="ibox-content">
                                <div class="pull-right">
                                    <a href="/companies?search={{getSearchTerm}}" class="btn btn-primary">&gt;&gt; Company search</a>
                                </div>
                                <h2>Companies</h2>
                                <div class="clients-list item-list receipts-list">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> companiesList companies=getCompanies includeHeader=true }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        {{#if isInVatfreeRole 'contacts-read'}}
                            <div class="ibox-content">
                                <div class="pull-right">
                                    <a href="/contacts?search={{getSearchTerm}}" class="btn btn-primary">&gt;&gt; Contact search</a>
                                </div>
                                <h2>Contacts</h2>
                                <div class="clients-list item-list receipts-list">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> contactsList contacts=getContacts includeHeader=true }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        {{#if isInVatfreeRole 'affiliates-read'}}
                            <div class="ibox-content">
                                <div class="pull-right">
                                    <a href="/affiliates?search={{getSearchTerm}}" class="btn btn-primary">&gt;&gt; Affiliate search</a>
                                </div>
                                <h2>Affiliates</h2>
                                <div class="clients-list item-list receipts-list">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive item-list infinite-scrolling">
                                            {{> affiliatesList affiliates=getAffiliates includeHeader=true }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </div>
                {{#with getActiveItem}}
                    <div class="col-sm-4">
                        {{> receiptInfo receipt=this showImages=true showActions=true }}
                    </div>
                {{/with}}
            </div>
        {{/if}}
    </div>
</template>
