<template name="view_affiliate_details">
    <div class="page-content">
        {{#with affiliateInfo}}
            <form name="affiliate">
                <div class="list-block media-list">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-affiliates"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Name</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="text" name="profile.name" value="{{profile.name}}" required="required" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-companies"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Company name</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="text" name="affiliate.companyName" value="{{affiliate.companyName}}" required="required" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content padding-xl no-overflow">
                                <div class="item-media"><i class="icon icon-email"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Email address</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="email" name="profile.email" value="{{profile.email}}" required="required" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content padding-xl no-overflow">
                                <div class="item-media"><i class="icon icon-wechat"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">WeChat ID</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="text" name="profile.wechatId" value="{{profile.wechatId}}" required="required" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-phone"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Phone</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="tel" name="profile.phone" value="{{profile.phone}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-phone"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Phone 2</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="tel" name="profile.phone2" value="{{profile.phone2}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-traveller"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title"># Travellers</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="number" name="affiliate.nrTravellers" value="{{affiliate.nrTravellers}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-euro"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Avg spend</div>
                                    </div>
                                    <div class="item-subtitle">
                                        <input type="number" name="affiliate.avgSpend" value="{{affiliate.avgSpend}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{#if isInVatfreeRole 'affiliates-update'}}
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <a href="#" class="button button-big button-fill save-affiliate">Save affiliate</a>
                                    </div>
                                </div>
                            </li>
                        {{/if}}
                        {{#with getExpectedEarnings}}
                            {{!-- <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-euro"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Expected turnover</div>
                                        </div>
                                        <div class="item-subtitle">
                                            {{formatCurrency expectedTurnover}}
                                        </div>
                                    </div>
                                </div>
                            </li> --}}
                            <li>
                                <div class="item-content expected-vat">
                                    <div class="item-media"><i class="icon icon-euro"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Expected VAT</div>
                                        </div>
                                        <div class="item-subtitle">
                                            {{formatCurrency expectedVat}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{#if showFees}}
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-euro"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">Expected fees</div>
                                            </div>
                                            <div class="item-subtitle">
                                                {{formatCurrency expectedFees}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/if}}
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-euro"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Expected affiliate earnings</div>
                                        </div>
                                        <div class="item-subtitle highlight">
                                            {{formatCurrency expectedEarnings}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/with}}
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <p>
                                        <a href="#" class="button button-big button-fill button-cancel add-affiliate-activity">Register activity</a>
                                    </p>
                                    <p>
                                        <a href="#" class="button button-big button-fill button-cancel add-photo-button"> <i class="icon icon-photocam"></i> Take photo</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        {{/with}}
    </div>
</template>
