.row.traveller-card {
    border-radius: 2px;
    background: #FAFAFB;
    border: 1px solid #e7eaec;
    padding: 8px;
    border-left: 4px solid #31b6b8;
    margin: 12px 4px;

    img {
        max-width: 72px;
    }

    .flag-icon {
        width: 24px;
        height: auto;
    }
}

.card.traveller-card {
    > a {
        background-color: #eef2fa;
        border: 1px solid #d2e2ec;
        border-left: 4px solid #0069b4;
    }
}
