#wrapper {
    .traveller-passport {
        display: inline-flex;
        background-color: #9cc2e0;
        min-height: 192px;
        padding: 12px;

        &.error {
            background-color: #ec6786;
        }

        ul.files {
            margin: 0;

            li.file {
                margin: 0;
            }
        }

        .passport-scan, .id-scan {
            position: relative;
            height: 192px;

            &.empty {
                width: 192px;
            }

            display: inline-block;
            border: 1px dashed #fff;
            border-radius: 10px;

            &:not(:first-child) {
                &:before {
                    position: absolute;
                    left: -28px;
                    top: 80px;
                    font-family: 'vatfree0907v4';
                    font-size: 22px;
                    content: '\e91e';
                    color: #fff;
                }

                margin-left: 30px;
                display: inline-block;
                border: 1px dashed #fff;
                border-radius: 10px;
            }
        }
    }

    .modal {
        .traveller-passport {
            flex-direction: column;
            flex-shrink: 0;

            .file-action {
                cursor: pointer;
            }

            .passport-scan, .id-scan {
                position: relative;
                min-height: 92px;
                height: auto;
                &.empty {
                    width: 100%;
                }

                &:not(:first-child) {
                    &:before {
                        position: absolute;
                        left: 48px;
                        top: -32px;
                    }

                    margin-left: 0;
                    margin-top: 30px;
                }
            }

            ul.files {
                li.file {
                    .name {
                        display: none;
                    }

                    img {
                        max-width: 100% !important;
                    }
                }
            }
        }
    }
}
