.receipt-list {
    .receipt-list-item {
        position: relative;
        border-top: 1px solid #ddd;
        margin-top: 3px;
        padding-top: 3px;

        .receipt-list-item-text {
            &.with-icon {
                margin-left: 40px;

                > i.icon {
                    position: absolute;
                    top: 2px;
                    left: -8px;
                    font-size: 55px;
                    color: #f77c00;
                }
            }
        }
    }
}

.files {
    .file {
        .set-file-passport {
            margin-top: 100px;
            padding: 3px 2px;
        }
        .set-file-visa {
            margin-top: 125px;
            padding: 3px 2px;
        }
    }
}

.modal.traveller-task {
    .task-sidebar {
        .task-info {
            .ibox {
                &.traveller-info {
                    margin: 0;
                }
            }
        }
    }
    input[name="passportNumber"] {
        letter-spacing: 2px;
    }
}
