<template name="travellerTypeEdit">
    {{#with itemDoc}}
        {{> pageHeading title=getBreadcrumbTitle category='Traveller Types' categoryLink='/traveller-types' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-8">
                    {{> travellerTypeEditForm }}
                </div>
                <div class="col-sm-4">
                    {{> travellerTypeInfo }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="travellerTypeEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Traveller Type details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Translations</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="Traveller type name" value="{{name}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">NATO</label>
                                <div class="col-sm-10">
                                    <div class="i-checks">
                                        <input type="checkbox" name="isNato" value="1" checked="{{#if isNato}}checked{{/if}}"/> Special NATO traveller type
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Requirements text</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="receiptRequirementsText" placeholder="Requirements text" value="{{receiptRequirementsText}}">
                                </div>
                                <div class="col-sm-10 col-sm-offset-2">
                                    <span class="text-muted">Optional receipt requirements text shown when registering the receipt on the traveller site.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Certificate name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="certificateName" placeholder="Certificate name" value="{{certificateName}}">
                                </div>
                                <div class="col-sm-10 col-sm-offset-2">
                                    <span class="text-muted">NATO certificate name that is asked when registering a receipt on the traveller site.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Register receipt text</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="registerReceiptText" placeholder="Requirements text" value="{{registerReceiptText}}">
                                </div>
                                <div class="col-sm-10 col-sm-offset-2">
                                    <span class="text-muted">NATO only extra receipt text information.</span>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Force receipt type</label>
                                <div class="col-sm-8">
                                    <select name="forceReceiptTypeId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> - Select receipt type - </option>
                                        {{#each getReceiptTypes}}
                                            <option value="{{_id}}" selected="{{isSelected _id ../forceReceiptTypeId}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Hidden</label>
                                <div class="col-sm-10">
                                    <div class="i-checks">
                                        <input type="checkbox" name="hidden" value="1" checked="{{#if hidden}}checked{{/if}}"/> Only show this type to travellers when selected
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Icon</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="icon" placeholder="Traveller type icon" value="{{icon}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="notes" placeholder="Notes about this traveller type">{{notes}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <form name="item-edit-translations-form">
                        {{> translations translations=getTranslations values=this }}
                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-white cancel">Cancel / Close</button>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
