<template name="travellerTypesList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="sort-header {{isHeaderSorting 'name'}}" data-id="name">Name</th>
                <th>i18n</th>
            </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each travellerTypes}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/traveller-type/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td><a class="client-link">{{name}}</a></td>
                <td><span class="alert-danger">{{getMissingI18nTranslations}}</span></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
