.row.shop-card {
    border-radius: 2px;
    background: #FAFAFB;
    border: 1px solid #e7eaec;
    padding: 8px;
    border-left: 4px solid #31b6b8;
    margin: 12px 4px;

    img.partnership-status {
        max-width: 100%;
    }
}

.card.shop-card {
    > a {
        background-color: #eef7f9;
        border: 1px solid #ececec;
        border-left: 4px solid #31b6b8;
    }
}
