.container > .row {
    height: 100%;
    .col-xs-12 {
        height: 100%;
    }
    .shops-container {
        height: 100%;
    }
}

.shops-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 100%;

    @media (max-width: 400px) {
        flex-direction: column;
    }

    .shops-list {
        flex: 0 0 300px;
        @media (max-width: 768px) {
            flex: 0 0 200px;
        }
        @media (max-width: 400px) {
            flex: 0 0 250px;
        }
        background-color: white;
        max-height: 100%;
        overflow-y: auto;

        li {
            border-top: none;
            border-radius: 0;
            cursor: pointer;

            display: flex;
            flex-direction: row;
            margin-top: 0;
            margin-bottom: 0;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                background-color: #faeaeb;
            }

            &:active {
                color: #fff;
                background-color: #e6007e;
            }

            .logo {
                img {
                    width: 36px;
                    height: 36px;
                    margin-right: 8px;
                }
            }
            .info {
                flex-grow: 1;

                .name {
                    font-weight: bold;
                }
            }
        }
    }

    .map-container {
        flex-grow: 1;
        height: 100%;
    }
}

.shopInfo {
    .header {
        display: flex;
        flex-direction: row;
        margin-top: 4px;
        margin-bottom: 12px;

        .logo {
            img {
                width: 32px;
                height: 32px;
                margin-right: 8px;
            }
        }
        .info {
            flex-grow: 1;

            .name {
                font-weight: bold;
            }
        }
    }

}

form[name="add-shop-form"] {
    label {
        font-size: 14px;
        opacity: 0.7;
        font-weight: 300;
    }

    .new-shop-contract {
        height: 300px;
        overflow: auto;
        border: 1px solid rgba(0,0,0,0.2);
        padding: 12px;
        margin-bottom: 25px;
    }

    .signature-box {
        position: relative;
        border: 1px solid rgba(0,0,0,0.2);

        .clear-signature {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .open-contract-external {
        margin-top: -25px;
        position: absolute;
        right: 35px;
    }
}
.signature-example {
    height: 74px;
}
