<template name="view_account">
    <div class="view view-account">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">&nbsp;</div>
                <div class="center">{{t_ "My account"}}</div>
                {{#if currentUser}}
                    <div class="right">
                        <a class="logout link">
                            <span>{{t_ "Logout"}}</span>
                        </a>
                    </div>
                {{else}}
                    <div class="right info">
                        <a id="main" class="tab-link"><i class="icon icon-info-fill"></i></a>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="account" class="page">
                <div class="page-content">
                    {{#if Template.subscriptionsReady}}
                        {{#with currentUser}}
                            {{#if renderForm}}
                                <form role="form" name="item-edit-form">
                                    <div class="list-block">
                                        <ul>
                                            {{#unless userIsVerified}}
                                                <li>
                                                    <div class="item-content my-profile-header">
                                                        <div class="image-text">
                                                            {{t_ "Make sure your account is complete"}}<br/>
                                                            <span class="small">
                                                                {{t_ "Please provide a copy of your passport and/or visa"}}
                                                            </span>
                                                        </div>
                                                        <img src="/images/svg/my-profile.svg" class="my-profile-image"/>
                                                    </div>
                                                </li>
                                            {{/unless}}
                                        </ul>
                                    </div>
                                    <div class="content-block-title">{{t_ "Basic information"}}</div>
                                    <div class="list-block">
                                        <ul>
                                            <li>
                                                <div class="item-description">{{t_ "Account type"}} <sup>*</sup></div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <select class="form-control {{hasInputError 'private.travellerTypeId' 'string'}}" name="profile.travellerTypeId" required="required">
                                                                <option value=""> -- </option>
                                                                {{#each getTravellerTypeOptions}}
                                                                    <option value="{{_id}}" selected="{{isSelected _id ../private.travellerTypeId}}">{{name}}</option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-description">{{t_ "Full name"}} <sup>*</sup></div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="text" class="form-control {{hasInputError 'profile.name' 'string'}}" name="profile.name" placeholder="{{#if hasInputError 'profile.name' 'string'}}⚠ {{/if}}{{t_ "Full name"}}" value="{{profile.name}}" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-description">{{t_ "Email"}}</div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="text" class="form-control {{hasInputError 'profile.email' 'string'}}" name="profile.email" placeholder="{{#if hasInputError 'profile.email' 'string'}}⚠ {{/if}}{{t_ "Email"}}" value="{{profile.email}}" disabled="true">
                                                            <button class="btn btn-default pull-right add-new-email">
                                                                <i class="icon icon-plus" title="Add email address"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {{#with secondaryEmails}}
                                                <li class="secondary-email">
                                                    <div class="item-description">{{t_ "Secondary Email"}}</div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <ul>
                                                                {{#each this}}
                                                                    <li>
                                                                        {{address}}
                                                                        {{#unless verified}}
                                                                            ({{t_ "unverified"}})
                                                                            <i class="icon icon-email resend-verification-email" title="{{t_ "Resend verification email"}}"></i>
                                                                        {{/unless}}
                                                                    </li>
                                                                {{/each}}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/with}}
                                            <li>
                                                <div class="item-description">{{t_ "Mobile"}}</div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="tel" class="form-control" name="profile.mobile" placeholder="+xx xxxxxxxx" value="{{profile.mobile}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-description">{{t_ "Gender"}}</div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <select class="form-control" name="profile.gender">
                                                                <option value=""> - {{t_ "Gender"}} - </option>
                                                                <option value="male" selected="{{isSelected profile.gender 'male'}}">&#9794;</option>
                                                                <option value="female" selected="{{isSelected profile.gender 'female'}}">&#9792;</option>
                                                                <option value="happy" selected="{{isSelected profile.gender 'happy'}}">☺</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-description">{{t_ "Language"}}{{#if notEnglish}}(Language){{/if}}<sup>*</sup></div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <select class="form-control" name="profile.language" required="required">
                                                                {{#each getTravellerLanguages}}
                                                                    <option value="{{code}}" selected="{{isSelected code ../profile.language}}">{{name}} ({{en}})</option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content-block-title">{{t_ "Non-EU address"}}</div>
                                    <div class="list-block">
                                        <ul>
                                            <li>
                                                <div class="item-description">{{t_ "Address"}} <sup>*</sup></div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="text" class="form-control {{hasInputError 'profile.addressFirst' 'string'}}" name="profile.addressFirst" placeholder="{{#if hasInputError 'profile.addressFirst' 'string'}}⚠ {{/if}}{{t_ "Address"}}" value="{{profile.addressFirst}}" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-description">{{t_ "Postal code"}} <sup>*</sup></div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="text" class="form-control {{hasInputError 'profile.postalCode' 'string'}}" name="profile.postalCode" placeholder="{{#if hasInputError 'profile.postalCode' 'string'}}⚠ {{/if}}{{t_ "Postal code"}}" value="{{profile.postalCode}}" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-description">{{t_ "City"}} <sup>*</sup></div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="text" class="form-control {{hasInputError 'profile.city' 'string'}}" name="profile.city" placeholder="{{#if hasInputError 'profile.city' 'string'}}⚠ {{/if}}{{t_ "City"}}" value="{{profile.city}}" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-description">{{t_ "Country of residence"}} <sup>*</sup></div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <select name="profile.addressCountryId" class="form-control {{hasInputError 'profile.addressCountryId' 'string'}}" required="required">
                                                                <option value=""> ⚠ -- </option>
                                                                {{#each getCountries}}
                                                                    <option value="{{_id}}" selected="{{isSelected _id ../profile.addressCountryId}}">{{name}}</option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="content-block-title">{{t_ "Identification information"}}</div>
                                    <div class="list-block">
                                        <ul>
                                            <li>
                                                <div class="item-description">{{t_ "__id__ country" id=(t_ 'Passport/ID')}} <sup>*</sup></div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <select name="profile.countryId" class="form-control {{hasInputError 'profile.countryId' 'string'}}" required="required">
                                                                <option value=""> ⚠ -- </option>
                                                                {{#each getCountries}}
                                                                    <option value="{{_id}}" selected="{{isSelected _id getCountryId}}">{{name}}</option>
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-description">{{t_ "__id__ number" id=(t_ 'Passport/ID')}} <sup>*</sup></div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="text" class="form-control {{hasInputError 'profile.passportNumber' 'string'}}" name="profile.passportNumber" placeholder="{{#if hasInputError 'profile.name' 'string'}}⚠ {{/if}}{{t_ "__id__ number" id='Passport/ID'}}" value="{{profile.passportNumber}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-description">{{t_ "__id__ expires" id=(t_ 'Passport/ID')}} <sup>*</sup></div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="date" name="profile.passportExpirationDate" class="form-control {{hasInputError 'profile.passportExpirationDate' 'date'}}" value="{{formatDate profile.passportExpirationDate "YYYY-MM-DD" "Europe/Amsterdam"}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {{#if needsVisa}}
                                                <li>
                                                    <div class="item-description">{{t_ "Visa number"}} <sup>*</sup></div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <input type="text" class="form-control {{hasInputError 'profile.visaNumber' 'string'}}" name="profile.visaNumber" placeholder="{{#if hasInputError 'profile.name' 'string'}}⚠ {{/if}}{{t_ "Visa number"}}" value="{{profile.visaNumber}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-description">{{t_ "Visa expires"}} <sup>*</sup></div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <input type="date" name="profile.visaExpirationDate" class="form-control {{hasInputError 'profile.visaExpirationDate' 'date'}}" value="{{formatDate profile.visaExpirationDate "YYYY-MM-DD" "Europe/Amsterdam"}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-description">{{t_ "Visa country"}} <sup>*</sup></div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <select name="profile.visaCountryId" class="form-control {{hasInputError 'profile.visaCountryId' 'string'}}" required="required" disabled="{{isDisabled}}">
                                                                    <option value=""> -- </option>
                                                                    {{#each getCountries}}
                                                                        <option value="{{_id}}" selected="{{isSelected _id ../profile.visaCountryId}}">{{name}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/if}}
                                            {{#if profile.extraDocumentation}}
                                                <li class="account-files">
                                                    <div class="item-description">
                                                        {{t_ "Other uploaded verification documents"}}
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="row">
                                                                {{#each getUploadedFiles}}
                                                                    <div class="file-thumb file-uploaded">
                                                                        {{#if url}}
                                                                            <img src="{{url}}" />
                                                                        {{else}}
                                                                            <img src="/images/loading.gif" />
                                                                        {{/if}}
                                                                    </div>
                                                                {{/each}}
                                                                {{#each getFilesToUpload}}
                                                                    <div class="file-thumb allow-remove">
                                                                        <img src="{{fileContent}}" />
                                                                    </div>
                                                                {{/each}}
                                                                {{#if canUploadNewDocuments}}
                                                                    <div class="file-thumb add-file-button">
                                                                        <label>
                                                                            <input type="file" name="fileToUpload" class="add-file-input" style="position:absolute; left:-9999px;" />
                                                                            <i class="f7-icons">camera</i>
                                                                        </label>
                                                                    </div>
                                                                {{/if}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/if}}
                                            <li>
                                                <div class="item-description">{{t_ "Birth date"}}</div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="date" name="profile.birthDate" class="form-control" value="{{formatDate profile.birthDate "YYYY-MM-DD" "Europe/Amsterdam"}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {{#if getIdNeeded.length}}
                                                {{#each getIdNeeded}}
                                                    <li class="account-files">
                                                        <div class="item-description">
                                                            {{t_ "Take a photo of your __id_name__" id_name=name}} {{#if required}}<sup>*</sup>{{else}}({{t_ "optional"}}){{/if}}
                                                        </div>
                                                        <div class="item-content">
                                                            <div class="item-inner">
                                                                <div class="row">
                                                                    {{#each getUploadedFiles}}
                                                                        <div class="file-thumb file-uploaded">
                                                                            {{#if url}}
                                                                                <img src="{{url}}" />
                                                                            {{else}}
                                                                                <img src="/images/loading.gif" />
                                                                            {{/if}}
                                                                        </div>
                                                                    {{/each}}
                                                                    {{#each getFilesToUpload}}
                                                                        <div class="file-thumb allow-remove">
                                                                            <img src="{{fileContent}}" />
                                                                        </div>
                                                                    {{/each}}
                                                                    {{#if canUploadNewDocuments}}
                                                                        <div class="file-thumb add-file-button">
                                                                            <label>
                                                                                <input type="file" name="fileToUpload" class="add-file-input" style="position:absolute; left:-9999px;" />
                                                                                <i class="f7-icons">camera</i>
                                                                            </label>
                                                                        </div>
                                                                    {{/if}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {{/each}}
                                            {{/if}}
                                            {{#if isRejectionStatus}}
                                                <li class="traveller-rejections">
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div>
                                                                {{t_ "These are the reasons your refund status was rejected"}}:
                                                                <ul>
                                                                    {{#each getTravellerRejections}}
                                                                        <li>
                                                                            {{getRejectionText}}
                                                                        </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/if}}

                                            {{#with getTravellerType}}
                                                {{#if receiptRequirementsText}}
                                                    <li>
                                                        <div class="item-content">
                                                            <div class="item-inner">
                                                                <br/>
                                                                <strong>
                                                                    {{{receiptRequirementsText}}}
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {{/if}}
                                            {{/with}}
                                            <li>
                                                <div class="item-description">{{t_ "Vatfree_com account status"}}</div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <input type="text" class="form-control" value="{{_ private.status}}" disabled="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <b>{{getStatusDescription}}</b>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        * {{t_ "Values that are required for a tax free refund_ Changing these fields will trigger a re-verification of your profile"}}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list-block">
                                        <ul>
                                            <li class="page-padding">
                                                <br/>
                                                <button class="button active full-size" type="submit" tabindex="0" disabled="{{#unless changesMade}}disabled{{/unless}}">{{t_ "Save changes"}}</button>
                                                <br/>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            {{/if}}
                        {{else}}
                            <div class="page-padding">
                                {{> login }}
                            </div>
                        {{/with}}
                    {{else}}
                        <div class="text-center">
                            <img src="/images/loading-indicator.gif" />
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{#if networkProblem}}
            {{> networkProblems }}
        {{/if}}
        {{> toolbar }}
    </div>
</template>
