---
subject: Welcome to Nestr!
name: Mr. Siggi Oskarsson
text:
    Thank you for choosing our service to help you reclaim VAT.

    Before we can start the process, we will need
    a) the original stamped purchase receipt;
    b) a signed authorization (see attachment);
    c) a copy of your passport stating you live in a country outside the EU.*

    Please sign the document in the attachment to confirm your registration and e-mail it to support@vatfree.com. To digitally sign this document, use the free app SignEasy. It's a cool app that lets you sign documents directly on your mobile device in seconds. Download the App at http://getsigneasy.com. Use the vatfree.com referral code LMgopCft to sign 5 documents for free.

    *If you have not made use of our service before, please e-mail us a scan (or photo) of your passport. Make sure to scramble your photo and social security number for safety reasons. Note Was your passport issued in the EU? Then also send us a document confirming your country of residence (visa, work permit etc.).

    As soon as your claim is complete we will start contacting stores to request a VAT reimbursement.

    If you have any questions, visit the FAQ of our website
    or call us +31 (0) 88 828 37 33.

    Help us to improve our service! :)
    Please submit your rating for our service at the desk Click here.
    Have a safe flight!
---
<container>
    <row class="header">
        <columns class="headerimage">
            <img src="https://www.vatfree.com/asset/images/logo.png" alt="Vatfree logo">
        </columns>
    </row>
    <row>
        <columns>
            <p>Dear {{name}},</p>
            <p class="text">{{{text}}}</p>
        </columns>
    </row>
    {{> footer }}
</container>
