<template name="webTextEdit">
    {{#with itemDoc}}
        {{> pageHeading title=name category='Web Texts' categoryLink='/web-texts' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-8">
                    {{> webTextEditForm }}
                </div>
                <div class="col-sm-4">
                    {{> webTextInfo }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="webTextEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> WebText details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Text preview</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3"> HTML preview</a></li>
        </ul>
        <div class="tab-content web-text-edit-form">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="Email text name" value="{{name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="description" placeholder="Description of this web text">{{description}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Text group</label>
                                <div class="col-sm-10">
                                    <select name="group" class="form-control">
                                        <option value="travellers" selected="{{isSelected group "travellers"}}">Travellers site</option>
                                        <option value="app" selected="{{isSelected group "app"}}">Traveller app</option>
                                        <option value="mdwapp" selected="{{isSelected group "mdwapp"}}">Vatties app</option>
                                        <option value="partner" selected="{{isSelected group "partner"}}">Partner site</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="code" value="{{code}}">
                                </div>
                            </div>
                            {{#each getWebTextLanguages}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email {{name}} ({{code}})</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="text.{{code}}" placeholder="{{name}}" rows="12">{{getTextForLanguage}}</textarea>
                                    </div>
                                </div>
                            {{/each}}
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    {{#each getWebTextLanguages}}
                        <h3>{{name}} ({{code}})</h3>
                        <hr/>
                        <div class="text-preview">
                            {{getTextPreview}}
                        </div>
                    {{/each}}
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    {{#each getWebTextLanguages}}
                        <h3>{{name}} ({{code}})</h3>
                        <hr/>
                        <div class="html-preview">
                            {{{getHTMLPreview}}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>
