<template name="webTextsList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th class="sort-header {{isHeaderSorting 'name'}}" data-id="name">Name</th>
                <th class="sort-header {{isHeaderSorting 'code'}}" data-id="description">Code</th>
                <th class="sort-header {{isHeaderSorting 'description'}}" data-id="description">Description</th>
                <th>i18n</th>
            </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each webTexts}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/web-text/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td>
                    <i class="{{getTextGroupIcon}}"></i>
                </td>
                <td><a class="client-link">{{name}}</a></td>
                <td><a class="client-link">{{code}}</a></td>
                <td>{{description}}</td>
                <td><span class="alert-danger">{{getMissingTranslations}}</span></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
