@vatty: #e6007e;

.container.dashboard {
    width: 100%;

    .ibox {
        .ibox-title {
            border-top: 3px solid #23c6c8;
            overflow: hidden;
        }
        .ibox-content {
            position: relative;
            .ibox-doughnut {
                margin-top: -6px;
                position: absolute;
                top: -21px;
                right: -62px;
                z-index: 999999;

                canvas {
                    height: 102px;
                }
            }

            div.clear {
                clear: both;
            }

            .stat-percent {
                &.vattie {
                    color: @vatty;
                }
            }

            .country-table {
                .label {
                    font-size: 13px;
                    width: 84px !important;
                    display: inline-flex;
                    justify-content: center;
                }
            }

            .stat-percent {
                margin-right: 9px;
            }

            .ibox-second-title {
                font-size: 32px;
                float: right;

                &.vattie {
                    color: @vatty;
                    small {
                        color: @vatty;
                    }
                }

                small {
                    font-size: 12px;
                }
            }
        }
    }
}
