.wrapper {
    ul.files {
        width: 100%;
        list-style-type: none;
        margin: 20px 0 0 0;
        padding: 0;

        li.file {
            margin-bottom: 20px;
            margin-right: 20px;
        }
    }

    div.file-wrapper {
        display: flex;
    }

    div.files {
        display: inline-flex;
    }


    .item-list {
        .files {
            .file {
                img {
                    height: 24px;
                }
            }
        }
    }

    .files {
        .file {
            margin-bottom: 0;
            margin-right: 4px;
            position: relative;
            display: inline-flex;
            max-width: 100%;
            border: 0;

            .progress {
                width: 96px;
            }

            .delete-file {
                cursor: pointer;
                position: absolute;
                right: -4px;
                display: none;
                top: -10px;
                color: #f00;
                font-size: 24px;            }

            &:hover {
                .delete-file {
                    display: block;
                }
            }

            img {
                height: 96px;
            }

            a {
                color: #32534c;
                max-width: 100%;

                .image-container {
                    overflow-x: hidden;
                    max-width: 100%;

                    img {
                        overflow-x: hidden;
                        border: 1px solid #32534c;
                        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
                    }
                }

                .file-icon {
                    margin-left: -6px;
                    margin-right: -6px;
                }

                .name {
                    position: absolute;
                    display: block;
                    padding: 4px;
                    z-index: 99999;
                    background-color: #fff;
                    white-space: nowrap;
                    left: 0;
                }

                .add-file {
                    display: none;
                    font-size: 24px;
                    @media only screen and (max-width: 767px) {
                        display: block;
                    }
                }

                &:hover {
                    .name {
                        display: block;
                    }
                }
            }

        }

        &:hover {
            .add-file {
                display: block !important;
            }
        }
    }

    .receipt-info {
        .files {
            .file {
                .name {
                    position: absolute;
                    display: none;
                    border: 1px solid lightgray;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
                }
            }
        }
    }

    .dropzone {
        padding: 0;
        min-height: 0;
        text-align: center;
        cursor: pointer;
        display: flex;

        i.fa {
            font-size: 64px;
        }

        .dropzone-file {
            display: none;
        }

        .add-file {
            padding: 12px;
            min-height: 96px;
            flex-grow: 1;
            flex-shrink: 1;
        }

        .qrcode-upload {
            height: 106px;
            width: 106px;
            padding: 4px;
            flex-grow: 0;
            flex-shrink: 0;

            canvas {
                height: 98px !important;
                width: 98px !important;
            }
        }
    }
}
