:focus {
    outline: none !important;
}

.nobr {
    white-space: nowrap;
}

.pre-text {
    white-space: pre-wrap;
}

h3, h4, h5 {
    font-weight: 300;
}
h5 {
    font-size: 17px;
}

#wrapper {
    min-height: 100%;
    &.background-image {
        background: url(/vfbag.jpg);
        background-size: cover;

        #page-wrapper {
            background-color: transparent !important;
        }
    }

    #page-wrapper {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        .wrapper {
            flex-grow: 1;
            flex-shrink: 1;
            min-height: 100%;
        }

        .footer {
            position: fixed;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    .navbar {
        height: 65px;
        padding: 0 55px 0 70px;

        .nav {
            > li {
                a {
                    font-size: 18px;
                    font-weight: 100;
                    line-height: 18px;
                    display: flex;
                    align-items: center;

                    i.icon {
                        margin-left: 6px;
                        font-size: 22px;
                    }
                }
            }
        }

        .navbar-header {
            a {
                color: #676a6c;
                font-size: 18px;
                font-weight: 100;
                line-height: 65px;
                display: flex;
                align-items: center;
            }

            img.brand-logo {
                height: 50px;
                margin-right: 12px;
            }
        }

        .nav.navbar-right {
            line-height: 65px;
            height: 65px;
            li {
                height: 65px;
                line-height: 65px;
                a {
                    height: 65px;
                    padding: 0;
                    line-height: 65px;
                }
            }
        }

        .navbar-collapse {
            background-color: #fff;
        }
    }

    .wrapper {
        padding-top: 90px;
    }

    @media (min-width: 768px) {
        .navbar-header {
            display: inline-block !important;
            float: left !important;
        }
    }

    @media (max-width: 380px) {
        .navbar {
            height: 50px;
            padding: 0;
        }
    }

    .item-list {
        .client-status {
            img {
                width: 24px;
                height: 24px;
            }

            i.icon, i.fa {
                font-size: 20px;
            }
        }

        .item-row {
            &.active {
                td {
                    background-color: lightblue;
                }
            }

            &.total-row {
                td {
                    border-top: 1px solid black;
                    background-color: transparent;
                    font-weight: bold;
                }
            }
        }
    }
}

.language-selector {
    .language-option {
        font-size: 16px;
        opacity: 0.3;
        border: 1px solid gray;
        padding: 4px 6px;
        border-radius: 6px;
        cursor: pointer;
        user-select: none;

        &.active {
            opacity: 1;
        }
    }
}

.top-navigation {
    .navbar-brand {
        background: #fff;
        padding: 0 5px;
        img {
            height: 50px;
        }
    }

}

.navbar {
    &.navbar-static-top {
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 99999;
    }

    &.navbar-default {
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 99999;

        .navbar-toggle {
            padding: 7px 6px;

            .icon-bar {
                background-color: #fff;
            }
        }
    }

    .navbar-nav {
        li {
            a {
                line-height: 35px !important;
            }
        }
    }
}

.top-navigation {
    .wrapper {
        &.wrapper-content {
            padding: 75px 40px 0 40px;
        }
    }
}

@media (max-width: 512px) {
    .top-navigation {
        .wrapper {
            &.wrapper-content {
                padding: 70px 0;

                .container {
                    padding: 0;
                }
            }
        }
    }

    .loginscreen {
        &.middle-box {
            width: 100% !important;
        }
    }
}

blockquote {
    small {
        &:before {
            content: "";
        }
    }
}

table.table {
    thead {
        tr {
            th {
                vertical-align: bottom;
            }
        }
    }
    tbody {
        tr {
            td {
                vertical-align: top;
            }
        }
    }
}

.container {
    .ibox {
        .ibox-content {
            i.icon {
                font-size: 26px;
            }
        }

        .ibox-title {
            h5 {
                font-size: 18px;
            }
        }
    }

    &.home {
        .ibox {
            .ibox-content {
                min-height: 200px;
            }
        }
    }

    .map-container {
        width: 100%;
        height: 200px;
    }
}

.loginscreen {
    margin-top: 75px;
    padding: 25px;
    border-radius: 12px;
    background-color: #fff;

    &.middle-box {
        width: 400px;
    }

    .login-button {
        position: relative;
        display: block;
        width: 100%;
        border: none;
        padding: 10px;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        margin: 20px 0;
        cursor: pointer;

        > i {
            position: absolute;
            left: 13px;
            top: 13px;
        }

        &.google-login {
            background: #dc4a38;
        }

        &.facebook-login {
            background: #365899;
        }
    }

    .alternative-login {
        padding: 20px 0;
        color: #777;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 30px;
            left: 0;
            right: 0;
            height: 1px;
            border-top: 1px solid #ccc;
        }

        .alternative-text {
            position: relative;
            z-index: 2;
            text-align: center;
            padding-bottom: 10px;

            span {
                background-color: #fff;
                padding: 0 10px;
            }
        }
    }
}

.upload-verification-documents {
    margin-top: 25px;
    .uploaded-file {
        display: inline-block;

        img {
            height: 50px;
        }
    }
}

@media print {
    #wrapper {
        .wrapper {
            padding-top: 50px;
        }
    }

    #vatfree_app_loader {
        display: none !important;
    }
    .loading {
        display: none !important;
    }
    .navbar {
        a.navbar-brand {
            display: none !important;
            img {
                height: 25px;
            }

            &:after {
                display: none !important;
            }
        }

        button.navbar-toggle {
            display: none !important;
        }
    }

    h2:not(:first-child) {
        page-break-before: always;
    }

    hr {
        display: none;
    }

    .ibox-content {
        border: none;
    }

    .footer {
        display: none !important;
    }

    @page {
    }
}
