<template name="view_shop_map">
    <div data-page="shop-map" class="page cached">
        <div class="page-content">
            <div class="map_container">
            </div>
        </div>
    </div>
</template>
