<template name="view_shop">
    <div class="view view-shop">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    {{#if stackSize}}
                        <a class="back link">
                            <span>{{t_ "Back"}}</span>
                        </a>
                    {{/if}}
                </div>
                <div class="">Shop visit</div>
                <div class="right">
                    {{#if shopId}}
                        <a class="reset link">
                            <span>Reset</span>
                        </a>
                    {{else}}
                        {{> open_config_panel }}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="pages navbar-through toolbar-through">
            <div data-page="shop" class="page">
                <div class="page-content">
                    <div class="page-padding">
                        {{#unless currentUser}}
                            {{> login }}
                        {{else}}
                            <form name="shop-visit">
                                {{#unless shopId}}
                                    <div class="content-block">
                                        <h2>Shop visits</h2>
                                        <div class="page-icon">
                                            <i class="icon icon-shops"></i>
                                        </div>
                                    </div>
                                {{/unless}}
                                <div class="list-block">
                                    <ul>
                                        <li>
                                            {{> view_register_scan_receipt_shop_input addAppView}}
                                        </li>
                                        {{#with shopId}}
                                            {{#with getStats}}
                                                <li>
                                                    <div class="buttons-row">
                                                        <a href="#" class="tab-link active button">{{year}} /y</a>
                                                        <a href="#" class="tab-link active button">{{quarter}} /q</a>
                                                        <a href="#" class="tab-link active button">{{month}} /m</a>
                                                    </div>
                                                </li>
                                            {{/with}}
                                            <li>
                                                <div class="item-description">
                                                    Notes:
                                                </div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <textarea name="notes"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <label class="label-checkbox item-content">
                                                    <input type="checkbox" name="material" value="1">
                                                    <div class="item-media">
                                                        <i class="icon icon-form-checkbox"></i>
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title">Material delivered</div>
                                                    </div>
                                                </label>
                                            </li>
                                            {{#if materialChecked}}
                                                <li>
                                                    <div class="item-description">
                                                        How many envelops/folders delivered?
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <select name="material-amount">
                                                                    <option value=""></option>
                                                                    <option value="25">25</option>
                                                                    <option value="50">50</option>
                                                                    <option value="75">75</option>
                                                                    <option value="100">100</option>
                                                                    <option value="125">125</option>
                                                                    <option value="150">150</option>
                                                                    <option value="175">175</option>
                                                                    <option value="200">200</option>
                                                                    <option value="225">225</option>
                                                                    <option value="250">250</option>
                                                                    <option value="500">500</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/if}}
                                            <li>
                                                <label class="label-checkbox item-content">
                                                    <input type="checkbox" name="training" value="1">
                                                    <div class="item-media">
                                                        <i class="icon icon-form-checkbox"></i>
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title">Training / Talk given</div>
                                                    </div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="label-checkbox item-content">
                                                    <input type="checkbox" name="sticker" value="1">
                                                    <div class="item-media">
                                                        <i class="icon icon-form-checkbox"></i>
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title">Sticker on door</div>
                                                    </div>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="label-checkbox item-content">
                                                    <input type="checkbox" name="triangle" value="1">
                                                    <div class="item-media">
                                                        <i class="icon icon-form-checkbox"></i>
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title">POS triangle</div>
                                                    </div>
                                                </label>
                                            </li>
                                            <li>
                                                <br/>
                                            </li>
                                            {{#with getShop}}
                                                <li>
                                                    <div class="item-description">
                                                        Ambassador:
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <input type="text" name="ambassadorName" placeholder="Ambassador name" value="{{getContactName 'AMBASSADOR'}}">
                                                                <input type="email" name="ambassadorEmail" placeholder="Ambassador email" value="{{getContactEmail 'AMBASSADOR'}}">
                                                                <input type="email" name="ambassadorTel" placeholder="Ambassador telephone" value="{{getContactTel 'AMBASSADOR'}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-description">
                                                        Store manager:
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <input type="text" name="storeManagerName" placeholder="Store manager name" value="{{getContactName 'STOREMANAGER'}}">
                                                                <input type="email" name="storeManagerEmail" placeholder="Store manager email" value="{{getContactEmail 'STOREMANAGER'}}">
                                                                <input type="email" name="storeManagerTel" placeholder="Store manager telephone" value="{{getContactTel 'STOREMANAGER'}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-description">
                                                        Store manager 2:
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <input type="text" name="storeManagerName2" placeholder="Store manager 2 name" value="{{getContactName 'STOREMANAGER2'}}">
                                                                <input type="email" name="storeManagerEmail2" placeholder="Store manager 2 email" value="{{getContactEmail 'STOREMANAGER2'}}">
                                                                <input type="email" name="storeManagerTel2" placeholder="Store manager 2 telephone" value="{{getContactTel 'STOREMANAGER2'}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-description">
                                                        Affiliated with:
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <select name="affiliatedWith" multiple="true">
                                                                    <option value=""></option>
                                                                    {{#each getAffiliatedWithOptions}}
                                                                        <option value="{{this}}" selected="{{isSelected "affiliatedWith" this}}">{{this}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-description">
                                                        Status:
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <select name="status">
                                                                    <option value=""></option>
                                                                    {{#each getShopStatusOptions}}
                                                                        <option value="{{this}}" selected="{{isSelected ../status this}}">{{_ this}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/with}}
                                            <li>
                                                <div class="item-description">
                                                    Would they recommend us?
                                                </div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <select name="nps">
                                                                <option value=""></option>
                                                                <option value="1">1 - No</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10 - Yes</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {{#if npsBelow 8}}
                                                <li>
                                                    <div class="item-description">
                                                        Reason for not recommending:
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="item-inner">
                                                            <div class="item-input">
                                                                <textarea name="npsReason" placeholder="What can we do to increase our rating"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/if}}
                                            <li>
                                                <div class="item-description">
                                                    Photos:
                                                </div>
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="thumbs">
                                                            {{#each getFiles}}
                                                                <div class="file-thumb">
                                                                    <div class="file-thumb-container">
                                                                        {{> getTemporaryImage }}
                                                                    </div>
                                                                    <a href="#" class="file-remove"><i class="f7-icons">close</i></a>
                                                                </div>
                                                            {{/each}}
                                                            <div class="file-thumb add-photo-button">
                                                                <label>
                                                                    <input type="file" name="shopFile" class="add-file-input" style="position:absolute; left:-9999px;" />
                                                                    <i class="icon icon-addphoto icon2x"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <br/><br/>
                                                <div class="file-thumb add-visit-button">
                                                    <label class="button button-big button-fill register-visit">
                                                        <i class="icon icon-shopactive icon2x"></i> Register visit
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="file-thumb add-visit-button">
                                                    <br/><br/>
                                                    <label class="button button-big button-fill button-cancel add-shop-activity">
                                                        Register activity
                                                    </label>
                                                </div>
                                            </li>
                                        {{else}}
                                            <li>
                                                <div class="item-inner">
                                                    Search for a shop to register a visit
                                                </div>
                                            </li>
                                            {{!--
                                            <li>
                                                <div class="item-inner maps-icon">
                                                    <img src="/images/google-maps-icon.png" />
                                                </div>
                                            </li>
                                            --}}
                                        {{/with}}
                                    </ul>
                                </div>
                            </form>
                            <div class="list-block">
                                <ul>
                                    {{#each getActivityLogs}}
                                        <li class="activity-log-item">
                                            <div class="subject"><i class="{{getActivityLogTypeIcon}}"></i> {{subject}}</div>
                                            <div class="date">{{getUserName createdBy}} @ {{formatDateTime createdAt}} - {{getActivityLogStatusIcon}} {{status}}</div>
                                            {{#if userId}}
                                                <div class="assignee"><i class="icon icon-actorvatty"></i> {{getUserName userId}}</div>
                                            {{/if}}
                                            {{#if data}}
                                                <div class="data">
                                                    <table>
                                                        {{#each getDataArray}}
                                                            <tr>
                                                                <td>{{key}}</td><td>{{getDataValue value}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </table>
                                                </div>
                                            {{/if}}
                                            <div class="notes">{{notes}}</div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/unless}}
                    </div>
                </div>
            </div>
            {{#if showShopMap}}
                {{> view_shop_map }}
            {{/if}}
            {{#if getCurrentShop}}
                {{> view_shop_details }}
            {{/if}}
        </div>
        {{> toolbar }}
    </div>
</template>
