<template name="login">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="text-center">
            <div class="title">{{t_ "First things first___"}}</div>
            {{#if forgotPasswordSet}}
                <form name="password-forgot-set-form">
                    <p>
                        {{t_ "Fill in your email address and we will send you instructions how to retrieve your password"}}
                    </p>
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" placeholder="{{t_ "Email"}}" required="required" value="{{forgotPasswordSet}}">
                    </div>
                    <div class="form-group">
                        <input name="code" type="text" class="form-control" placeholder="{{t_ "Reset code (sent by email)"}}" required="required">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control" placeholder="{{t_ "Password"}}" required="required">
                    </div>
                    <div class="form-group">
                        <input name="password2" type="password" class="form-control" placeholder="{{t_ "Repeat password"}}" required="required">
                    </div>
                    <button type="submit" class="btn btn-primary full-width m-b" disabled="{{#if isSettingPassword}}disabled{{/if}}">{{#if isSettingPassword}}<i class="fa fa-spinner fa-spin"></i> {{/if}}{{t_ "Reset password"}}</button>
                    <button class="btn btn-white cancel-forgot-password">{{t_ "Cancel"}}</button>
                </form>
            {{else}}
                {{#if forgotPassword}}
                    <form name="password-forgot-form">
                        <p>
                            {{t_ "Fill in your email address and we will send you instructions how to retrieve your password"}}
                        </p>
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" placeholder="{{t_ "Email"}}" required="required">
                        </div>
                        <button type="submit" class="btn btn-primary full-width m-b" disabled="{{isSendingPasswordRestCode}}">{{#if isSendingPasswordRestCode}}<i class="fa fa-spinner fa-spin"></i> {{/if}}{{t_ "Send password reset code"}}</button>
                        <button class="btn btn-white cancel-forgot-password">{{t_ "Cancel"}}</button>
                    </form>
                {{else}}
                    <form name="password-login">
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" placeholder="{{t_ "Email"}}" required="">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" placeholder="{{t_ "Password"}}" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b" disabled="{{isLoggingIn}}{{isLoggingInWithSocial}}">{{#if isLoggingIn}}<i class="fa fa-spinner fa-spin"></i> {{/if}}{{t_ "Login"}}</button>
                        <button  class="btn btn-white block full-width m-b forgot-password" disabled="{{isLoggingIn}}{{isLoggingInWithSocial}}">{{t_ "Click here to reset your password"}}</button>
                    </form>
                {{/if}}
            {{/if}}
        </div>
    </div>
</template>
