<template name="receiptInfo">
    {{#if showReceiptIsStampedModal}}
        {{> popup_receipt_stamped }}
    {{/if}}
    {{#with receipt}}
        <div class="ibox receipt-info" tabindex="-1">
            <div class="ibox-content">
                <div class="tab-content {{#if ../allowEdit}}allow-edit{{/if}}">
                    {{#if $eq status 'waitingForOriginal'}}
                        <blockquote class="alert-warning">
                            {{t_ "We are still awaiting this receipt in physical form"}}
                        </blockquote>
                    {{/if}}
                    <h2>{{t_ "Receipt summary"}}</h2>
                    <div id="contact-1" class="tab-pane active">
                        {{#with getShop}}
                            <div class="row m-b-lg shop-card">
                                {{#unless ../../hideIcons}}
                                    <div class="col-xs-4 text-center">
                                        <div class="">
                                            <img src="/Logos/{{getPartnershipStatusLogo}}" class="partnership-status"/>
                                        </div>
                                    </div>
                                {{/unless}}
                                <div class="{{#if ../../hideIcons}}col-xs-12{{else}}col-xs-8{{/if}}">
                                    <strong>{{name}}</strong>
                                    <p>
                                        {{addressFirst}}<br/>
                                        {{postCode}} {{city}}<br/>
                                        {{getCountryName}}<br/>
                                    </p>
                                </div>
                            </div>
                        {{/with}}
                        {{#with currentTraveller}}
                            {{#unless userIsVerified}}
                                <a href="/profile">
                                    <blockquote class="alert-danger">
                                        {{_ private.status}}<br/>
                                        <small>
                                            {{getStatusDescription}}<br/>
                                            <a href="/profile">{{t_ "Click here to go to your account"}}</a>
                                        </small>
                                    </blockquote>
                                </a>
                            {{/unless}}
                        {{/with}}
                        {{#unless ../hideReceiptDetails}}
                            <div class="client-detail">
                                <div class="full-height-scroll">
                                    <ul class="list-group clear-list">
                                        <li class="list-group-item fist-item highlight">
                                            <span class="pull-right">
                                                {{receiptNr}}
                                            </span>
                                            {{t_ "Receipt Number"}}
                                        </li>
                                        {{#unless ../hideDetails}}
                                            <li class="list-group-item">
                                                <span class="pull-right"> {{formatDateTime createdAt}} </span>
                                                {{t_ "Receipt added"}}
                                            </li>
                                        {{/unless}}
                                        <li class="list-group-item">
                                            <span class="pull-right">
                                                {{getTravellerStatus}}
                                            </span>
                                            {{t_ "Refund status"}}
                                            {{#if statusRejected}}
                                                <ul>
                                                    {{#each getReceiptRejections}}
                                                        <li>
                                                            {{{getReceiptRejectionText}}}
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                                {{#if allowReopenReceipt}}
                                                    <div class="text-center">
                                                        <button class="btn btn-primary reopen-receipt">{{t_ "Re-open receipt for submission"}}</button>
                                                    </div>
                                                {{/if}}
                                            {{/if}}
                                        </li>

                                        <li class="list-group-item divider"></li>

                                        <li class="list-group-item">
                                            <span class="pull-right"> {{formatDate purchaseDate false "Europe/Amsterdam"}} </span>
                                            {{t_ "Purchase date"}}
                                        </li>
                                        {{#unless isNatoReceipt}}
                                            <li class="list-group-item">
                                                <span class="pull-right">
                                                    {{formatDate customsDate false "Europe/Amsterdam"}}
                                                    {{#if customsCountryId}}
                                                        / {{getCountryName customsCountryId}}
                                                    {{/if}}
                                                </span>
                                                {{t_ "Customs stamp"}}
                                            </li>
                                        {{/unless}}
                                        <li class="list-group-item">
                                            <span class="pull-right"> {{formatCurrency amount}} </span>
                                            {{t_ "Total receipt amount"}}
                                        </li>

                                        {{#if refund}}
                                            <li class="list-group-item divider"></li>
                                            <li class="list-group-item highlight strong">
                                                <span class="pull-right">
                                                    {{#if statusRejected}}
                                                        -
                                                    {{else}}
                                                        <strong>
                                                            {{formatCurrency refund}}
                                                            {{#if euroRefund}}
                                                                ({{formatCurrency euroRefund 2 "euro"}})
                                                            {{/if}}
                                                        </strong>
                                                    {{/if}}
                                                </span>
                                                {{#if receiptIsApproved}}{{t_ "Refund"}}{{else}}{{t_ "Estimated refund"}}{{/if}}
                                            </li>
                                        {{/if}}

                                        <li class="list-group-item divider-icon">
                                            <i class="icon icon-eyeview"></i>
                                        </li>

                                        {{#unless isReceiptStamped}}
                                            <li class="list-group-item">
                                                <div class="receipt-is-stamped-container text-center">
                                                    <br/>
                                                    <p>
                                                        {{t_ "If your receipt has been stamped by customs, click on the button below to finish the process:"}}
                                                    </p>
                                                    <button class="btn btn-primary receipt-is-stamped">{{t_ "Receipt is stamped"}}</button>
                                                </div>
                                            </li>
                                        {{/unless}}

                                        {{#if ../showImages}}
                                            <li class="list-group-item">
                                                {{#if getFiles.count}}
                                                    <ul class="files">
                                                        {{#each getFiles}}
                                                            <li class="file">
                                                                {{#unless this.isUploaded}}
                                                                    {{> FS.UploadProgressBar bootstrap=true}}
                                                                {{else}}
                                                                    {{#if fileCopiesUploaded this}}
                                                                        {{> directUrlFile fileObj=this hideFilename=true }}
                                                                        {{#if allowUploads}}
                                                                            <span class="delete-file">
                                                                                <i class="icon icon-trash"></i>
                                                                            </span>
                                                                        {{/if}}
                                                                    {{else}}
                                                                        {{> loading }}
                                                                    {{/if}}
                                                                {{/unless}}
                                                            </li>
                                                        {{/each}}
                                                    </ul>
                                                {{/if}}
                                            </li>
                                            <li class="list-group-item">
                                                {{#if allowUploads}}
                                                    {{#unless isCargoReceipt}}
                                                        {{#unless $eq status "waitingForCustomsStamp"}}
                                                            {{#if isUploadingFile }}
                                                                {{> loading }}
                                                            {{else}}
                                                                <div class="dropzone">
                                                                    <input type="file" name="dropzone-file" class="dropzone-file"/>
                                                                    <div class="add-file">
                                                                        <p>
                                                                            {{t_ "Before sending in your receipt(s), please upload a photo here"}}
                                                                        </p>
                                                                        <i class="icon icon-upload"></i><br/>
                                                                        <b>{{_ "Click here or drag and drop photo here to upload"}}</b>
                                                                    </div>
                                                                </div>
                                                            {{/if}}
                                                            <br/>
                                                        {{/unless}}
                                                        {{#if isReceiptStamped}}
                                                            {{#unless poprId}}
                                                                {{#with getTravellerType}}
                                                                    <div class='receipt-submit'>
                                                                        <div class='receipt-submit-icons'>
                                                                            <i class='icon icon-numberon'></i> ›
                                                                            <i class='icon icon-makepicreceipt'></i> ›
                                                                            {{#if isNato}}
                                                                                <i class='icon icon-makepicform'></i>
                                                                            {{else}}
                                                                                <i class='icon icon-sendin'></i>
                                                                            {{/if}}
                                                                        </div>
                                                                        <div class='receipt-submit-text'>
                                                                            <ol>
                                                                                <li>{{{t_ "Write this number on the receipt __receiptNr__" receiptNr=../receiptNr}}}</li>
                                                                                <li>{{t_ "Upload a photo of the stamped receipt"}}</li>
                                                                                {{#if isNato}}
                                                                                    <li>{{t_ "Upload a photo of the __certificate_name__" certificate_name=certificateName}}</li>
                                                                                {{else}}
                                                                                    <li>{{t_ "Send the original receipt(s) via post"}}</li>
                                                                                {{/if}}
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                {{/with}}
                                                            {{/unless}}
                                                        {{else}}
                                                            <div class='receipt-submit'>
                                                                <img src="/img/receipt-get-stamp-{{getLanguage}}.svg" onerror="this.src='/img/receipt-get-stamp.svg';" />
                                                                <div class='receipt-submit-text'>{{{getWebText 'receipt_added_get_stamp_instructions' }}}</div>
                                                            </div>
                                                        {{/if}}
                                                    {{/unless}}
                                                {{/if}}
                                            </li>
                                        {{/if}}
                                        {{#if allowDeleteReceipt}}
                                            <li class="list-group-item">
                                                <div class="delete-receipt-container">
                                                    <button class="btn btn-danger delete-receipt">{{t_ "Delete this receipt"}}</button>
                                                </div>
                                            </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </div>
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
</template>
