<template name="paymentMethodModal">
    <div id="modal-payment-method" class="modal fade fullscreen" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {{> paymentMethodModal_body}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="paymentMethodModal_body">
    <i class="fa fa-times close-tasks" accesskey="c"></i>
    <h2>{{t_ "Select payout method"}}</h2>
    <div class="payment-options">
        <div class="payment-option {{#if isPaymentMethodSelected 'creditcard'}}active{{/if}}" id="creditcard">
            <i class="icon icon-creditcard"></i>
            <span>{{t_ "Credit Card"}}</span>
        </div>
        <div class="payment-option {{#if isPaymentMethodSelected 'paypal'}}active{{/if}}" id="paypal">
            <i class="icon icon-paypal"></i>
            <span>{{t_ "Paypal"}}</span>
        </div>
        <div class="payment-option {{#if isPaymentMethodSelected 'sepa'}}active{{/if}}" id="sepa">
            <i class="icon icon-bank"></i>
            <span>{{t_ "SEPA bank transfer"}}</span>
        </div>
        <div class="payment-option {{#if isPaymentMethodSelected 'wechat'}}active{{/if}}" id="wechat">
            <i class="icon icon-wechatpay"></i>
            <span>{{t_ "WeChat"}}</span>
        </div>
        <div class="payment-option {{#if isPaymentMethodSelected 'alipay'}}active{{/if}}" id="alipay">
            <i class="icon icon-alipay"></i>
            <span>{{t_ "AliPay"}}</span>
        </div>
    </div>
    {{#if paymentMethodSelected}}
        <br/>
        <form role="form" name="payment-method-form">
            {{#if isPaymentMethodSelected 'creditcard'}}
                <h3>
                    {{t_ "Total payout waiting"}}:
                    {{#each getPayoutPerCurrency}}
                        <span class="payout-list-currency-item">
                            {{formatCurrency amount 2 currencyId}}
                        </span>
                    {{/each}}<br/>
                    {{t_ "For receipts __receipt_list__" receipt_list=getReceiptNrList}}<br/>
                    {{t_ "Transaction cost __costs__" costs=(formatCurrency 200 2)}}<br/>
                    {{t_ "Amount to be transferred __amount__" amount=(formatCurrency transferAmount)}}<br/>
                </h3>
                <div class="form-group">
                    <label class="control-label">{{t_ "Card number"}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon icon-creditcard"></i></span>
                        <input type="text" name="paymentNr" class="form-control" value="" placeholder="xxxx xxxx xxxx xxxx" />
                    </div>
                </div>
                <div class="supported-credit-cards {{isActiveCreditcard}}">
                    {{t_ "Supported credit cards"}}: <img src="/img/visa_logo.gif" class="{{isActiveCreditcardType 'visa'}}" /> <img src="/img/mastercard_logo.gif" class="{{isActiveCreditcardType 'mastercard'}}" />
                    {{#with creditcardError}}
                        <div class="credit-card-error">
                            {{this}}
                        </div>
                    {{/with}}
                </div>
            {{/if}}
            {{#if isPaymentMethodSelected 'paypal'}}
                <h3>
                    {{t_ "Total payout waiting"}}:
                    {{#each getPayoutPerCurrency}}
                        <span class="payout-list-currency-item">
                            {{formatCurrency amount 2 currencyId}}
                        </span>
                    {{/each}}<br/>
                    {{t_ "For receipts __receipt_list__" receipt_list=getReceiptNrList}}<br/>
                    {{t_ "Transaction cost __costs__" costs=(formatCurrency 200 2)}}<br/>
                    {{t_ "Amount to be transferred __amount__" amount=(formatCurrency transferAmount)}}<br/>
                </h3>
                <div class="form-group">
                    <label class="control-label">{{t_ "Paypal email address"}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon icon-paypal"></i></span>
                        <input type="text" name="paymentNr" class="form-control" placeholder="xxxx@xxxxxx.xx" value="" />
                    </div>
                </div>
            {{/if}}
            {{#if isPaymentMethodSelected 'sepa'}}
                <h3>
                    {{t_ "Total payout waiting"}}:
                    {{#each getPayoutPerCurrency}}
                        <span class="payout-list-currency-item">
                            {{formatCurrency amount 2 currencyId}}
                        </span>
                    {{/each}}<br/>
                    {{t_ "For receipts __receipt_list__" receipt_list=getReceiptNrList}}<br/>
                    {{t_ "Transaction cost __costs__" costs=(formatCurrency 0 2)}}<br/>
                    {{t_ "Amount to be transferred __amount__" amount=(formatCurrency transferAmount)}}<br/>
                </h3>
                <div class="form-group">
                    <label class="control-label">{{t_ "Account holder"}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input type="text" name="paymentAccountName" class="form-control" value="" placeholder="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{{t_ "IBAN bank number"}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon icon-bank"></i></span>
                        <input type="text" name="paymentNr" class="form-control" value="" placeholder="" />
                    </div>
                </div>
                <div class="payout-option-description">
                    {{t_ "All EU countries, Iceland, Norway and Switzerland"}}<br/>
                    {{{t_ "Click __link__ here for a full list of supported countries" link="https://www.abnamro.nl/en/personal/payments/making-payments/countries.html"}}}
                </div>
            {{/if}}
            {{#if isPaymentMethodSelected 'wechat'}}
                <h3>
                    {{t_ "Total payout waiting"}}:
                    {{#each getPayoutPerCurrency}}
                        <span class="payout-list-currency-item">
                            {{formatCurrency amount 2 currencyId}}
                        </span>
                    {{/each}}<br/>
                    {{t_ "For receipts __receipt_list__" receipt_list=getReceiptNrList}}<br/>
                    {{t_ "Transaction cost __costs__" costs=(formatCurrency 0 2)}}<br/>
                    {{t_ "Amount to be transferred __amount__" amount=(formatCurrency transferAmount)}}<br/>
                </h3>
                <div class="form-group">
                    <label class="control-label">{{t_ "WeChat account"}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-wechatpay"></i></span>
                        <input type="text" name="paymentNr" class="form-control" placeholder="" value="" />
                    </div>
                </div>
                <div class="payout-option-description">
                    <img src="/img/wechat-how-{{getLanguage}}.png" onerror="this.src='/img/wechat-how-en.png';" class="img-responsive" />
                </div>
            {{/if}}
            {{#if isPaymentMethodSelected 'alipay'}}
                <h3>
                    {{t_ "Total payout waiting"}}:
                    {{#each getPayoutPerCurrency}}
                        <span class="payout-list-currency-item">
                            {{formatCurrency amount 2 currencyId}}
                        </span>
                    {{/each}}<br/>
                    {{t_ "For receipts __receipt_list__" receipt_list=getReceiptNrList}}<br/>
                    {{t_ "Transaction cost __costs__" costs=(formatCurrency 0 2)}}<br/>
                    {{t_ "Amount to be transferred __amount__" amount=(formatCurrency transferAmount)}}<br/>
                </h3>
                <div class="form-group">
                    <label class="control-label">{{t_ "AliPay account"}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon icon-alipay"></i></span>
                        <input type="text" name="paymentNr" class="form-control" placeholder="" value="" />
                    </div>
                </div>
            {{/if}}
            {{#with getError}}
                <blockquote class="alert-danger">
                    {{this}}
                </blockquote>
            {{/with}}

            <br/>
            <div class="pull-right">
                <button class="btn btn-sm btn-default m-t-n-xs close-tasks" disabled="{{doingPayout}}">{{t_ "Cancel"}}</button>
                <button class="btn btn-sm btn-primary m-t-n-xs" type="submit" disabled="{{doingPayout}}">{{#if doingPayout}}<i class="fa fa-spinner fa-spin"></i>{{/if}}{{t_ "Payout refunds"}}</button>
            </div>
            <br/>
            <br/>
        </form>
    {{else}}
        <p>
            <i>{{t_ "Please select a payout method above"}}</i>
        </p>
    {{/if}}
</template>
