<template name="popup_receipt_stamped">
    {{#modal parentTemplateVariable="showReceiptIsStampedModal" center=true }}
        <h2>
            {{t_ "Please fill in the customs date on the receipt and upload a photo of the stamped receipt"}}
        </h2>
        <form role="form" name="receipt-is-stamped-form">
            <div class="form-group required">
                <label class="col-sm-4 control-label">{{t_ "Customs Date"}}</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                        <input type="text" name="customsDate" class="form-control" value="">
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            {{#if getFiles.count}}
                <div class="files">
                    <ul class="files">
                        {{#each getFiles}}
                            <li class="file">
                                {{#unless this.isUploaded}}
                                    {{> FS.UploadProgressBar bootstrap=true}}
                                {{else}}
                                    {{#if fileCopiesUploaded this}}
                                        {{> directUrlFile fileObj=this hideFilename=true }}
                                        {{#if allowUploads}}
                                            <span class="delete-file">
                                                <i class="icon icon-trash"></i>
                                            </span>
                                        {{/if}}
                                    {{else}}
                                        {{> loading }}
                                    {{/if}}
                                {{/unless}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <br/><br/>
            {{/if}}
            <div class="popup-upload-files">
                {{#if isUploadingFile }}
                    {{> loading }}
                {{else}}
                    <div class="dropzone">
                        <div class="add-file">
                            <p>
                                {{t_ "Before sending in your receipt(s), please upload a photo here"}}
                            </p>
                            <i class="icon icon-upload"></i><br/>
                            <b>{{_ "Click here or drag and drop photo here to upload"}}</b>
                        </div>
                    </div>
                {{/if}}
            </div>
            <br/>
            <br/>
            <div>
                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>{{t_ "Update customs stamp date"}}</strong></button>
                <button class="btn btn-sm btn-default pull-right m-t-n-xs close-submit-receipt-modal"><strong>{{t_ "Cancel"}}</strong></button>
            </div>
        </form>
    {{/modal}}
</template>
