<template name="receipts">
    {{#if setPaymentMethod}}
        {{> paymentMethodModal }}
    {{/if}}
    <div class="wrapper wrapper-content">
        <div class="container">
            {{#if Template.subscriptionsReady}}
                <div class="row">
                    <div class="col-md-8">
                        {{#if receipts.count}}
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="flex-row">
                                        <span class="flex-grow-0">
                                            <button type="button" class="btn btn btn-primary btn-xl add-receipt" tabindex="-1">
                                                <i class="icon icon-plus"></i> {{t_ "Add new receipt"}}
                                            </button>
                                        </span>
                                        <span class="flex-grow-1">
                                            {{#with getWebText "traveller_add_receipt_intro"}}
                                                <span class="web-text">{{{this}}}</span>
                                            {{/with}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        <div class="ibox" tabindex="{{#if receiptTasks}}-1{{/if}}{{#if addingItem}}-1{{/if}}">
                            <div class="ibox-content">
                                {{#if showSendReceipts}}
                                    <blockquote class="alert-warning with-vattie">
                                        <i class="icon icon-actorvattyclient vattie"></i>
                                        {{{getWebText 'traveller_send_original_receipts'}}}
                                    </blockquote>
                                {{/if}}
                                <h2>{{t_ "My receipts"}}</h2>
                                {{#with getReceiptsReadyForPayout}}
                                    <div class="payout">
                                        <br/>
                                        <blockquote class="alert-success">
                                            {{t_ "Some of your receipts have been paid by the shop and are waiting for your request for payout"}}<br/>
                                        </blockquote>
                                        <div class="payout-list">
                                            {{t_ "Total payout waiting"}}:
                                            {{#each getPayoutPerCurrency}}
                                                <span class="payout-list-currency-item">
                                                    {{formatCurrency amount 2 currencyId}}
                                                </span>
                                            {{/each}}<br/>
                                            {{t_ "For receipts __receipt_list__" receipt_list=getReceiptNrList}}<br/>
                                        </div>
                                        <button type="button" class="btn btn btn-primary request-payout" tabindex="-1">
                                            <i class="icon icon-Ready4Payout"></i> {{t_ "Payout refunds"}}
                                        </button>
                                    </div>
                                {{/with}}
                                <div class="clients-list item-list receipts-list">
                                    <div class="full-height-scroll">
                                        {{#if receipts.count}}
                                            <div class="table-responsive item-list infinite-scrolling">
                                                <table class="table table-striped table-hover item-list receipt-list">
                                                    <thead>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th>{{t_ "Receipt Nr"}}</th>
                                                        <th>{{t_ "Refund status"}}</th>
                                                        <th class="">{{t_ "Shop"}}</th>
                                                        <th class="nobr text-right">{{t_ "Amount"}}</th>
                                                        <th class="nobr text-right">{{t_ "Refund"}}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {{#each receipts}}
                                                        <tr class="item-row {{isActiveItem}} {{#if error}}alert-danger{{/if}}" id="item-{{_id}}">
                                                            <td><button class="btn btn-default"><i class="icon icon-eyeview"></i></button></td>
                                                            <td>{{receiptNr}}</td>
                                                            <td class="client-status">
                                                                {{getTravellerStatus}}
                                                            </td>
                                                            <td class="shop-name">
                                                                {{#with getShop}}
                                                                    <span class="visible-lg">
                                                                        {{name}}, {{city}}, {{getCountryCode}}
                                                                    </span>
                                                                    <span class="hidden-lg">
                                                                        {{name}}
                                                                    </span>
                                                                {{/with}}
                                                            </td>
                                                            <td class="nobr text-right">{{formatCurrency amount 2 currencyId}}</td>
                                                            <td class="nobr text-right">
                                                                {{#if showRefund}}
                                                                    {{#if refund}}
                                                                        {{formatCurrency refund 2 currencyId}}
                                                                        {{#if euroRefund}}
                                                                            ({{formatCurrency euroRefund 2 "euro"}})
                                                                        {{/if}}
                                                                        {{#unless receiptIsApproved}} *{{/unless}}
                                                                    {{else}}
                                                                        <i>{{t_ "processing"}}</i>
                                                                    {{/if}}
                                                                {{else}}
                                                                    -
                                                                {{/if}}
                                                            </td>
                                                        </tr>
                                                    {{/each}}
                                                    <tr class="text-large">
                                                        <td colspan="3">
                                                            &nbsp;
                                                        </td>
                                                        <td class="text-right" colspan="3">
                                                            {{_ "Total"}}:
                                                            {{#each getTotalRefundAmounts}}
                                                                {{formatCurrency refund 2 currencyId}}<br/>
                                                            {{/each}}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                * = {{t_ "Estimated refund"}}
                                            </div>
                                        {{else}}
                                            <blockquote class="alert-info with-vattie">
                                                <i class="icon icon-actorvattyclient vattie"></i>
                                                {{{getWebText 'traveller_welcome'}}}
                                            </blockquote>
                                            <span class="float-right">
                                                <button type="button" class="btn btn btn-primary btn-xxl btn-icon add-receipt" tabindex="-1">
                                                    <i class="icon icon-plus"></i> {{t_ "Add your first receipt"}}
                                                </button>
                                            </span>
                                            <br/><br/>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {{#with getActiveItem}}
                            {{> receiptInfo receipt=this showImages=true showActions=true }}
                        {{else}}
                            <div class="ibox receipt-info" tabindex="-1">
                                <div class="ibox-content">
                                    {{#with currentTraveller}}
                                        {{#unless userIsVerified}}
                                            <h2>{{t_ "Important"}}</h2>
                                            <a href="/profile">
                                                <blockquote class="alert-danger top-margin">
                                                    {{_ private.status}}<br/><br/>
                                                    <small>{{getStatusDescription}}</small><br/>
                                                    <p>
                                                        {{_ "Click here to update your profile"}}
                                                    </p>
                                                </blockquote>
                                            </a>
                                            <p>
                                                {{t_ "You can already register your receipts for refund_ They will automatically be processed as soon as your profile has been approved_"}}
                                            </p>
                                        {{else}}
                                            <h2>{{t_ "Register your first receipt"}}</h2>
                                            <br/>
                                        {{/unless}}
                                        <div class='receipt-submit'>
                                            <div class='receipt-submit-icons'>
                                                <i class='icon icon-numberon'></i> ›
                                                <i class='icon icon-photoreceipt'></i> ›
                                                <i class='icon icon-sendin'></i>
                                            </div>
                                            <div class='receipt-submit-text'>
                                                {{{getWebText 'traveller_process_flow_example'}}}
                                            </div>
                                        </div>
                                    {{/with}}
                                </div>
                            </div>
                        {{/with}}
                    </div>
                </div>
            {{else}}
                {{> loading }}
            {{/if}}
        </div>
    </div>
</template>
