<template name="emailTemplateEdit">
    {{#with itemDoc}}
        {{> pageHeading title=name category='Email Templates' categoryLink='/email-templates' }}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-8">
                    {{> emailTemplateEditForm }}
                </div>
                <div class="col-sm-4">
                    {{> emailTemplateInfo }}
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="emailTemplateEditForm">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Email template details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Text preview</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3"> HTML preview</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="item-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="EmailTemplate name" value="{{name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="description" placeholder="Description of this emailTemplate">{{description}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Text template</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="templateText" placeholder="Text template" rows="12">{{templateText}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">HTML template</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="templateHTML" placeholder="HTML template" rows="25">{{templateHTML}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white cancel">Cancel / Close</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="text-preview">
                        {{getTextPreview}}
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <div class="html-preview">
                        <iframe src="/email-template/{{_id}}/preview"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
