<template name="emailTemplatesList">
    <table class="table table-striped table-hover">
        {{#if includeHeader}}
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="sort-header {{isHeaderSorting 'name'}}" data-id="name">Name</th>
                <th class="sort-header {{isHeaderSorting 'description'}}" data-id="description">Description</th>
            </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each emailTemplates}}
            <tr class="item-row {{isActiveItem}}" id="item-{{_id}}">
                <td><a href="/email-template/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td><a class="client-link">{{name}}</a></td>
                <td>{{description}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>