<template name="addShopModal">
    <div id="modal-add-shop" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r">
                            <h3 class="m-t-none m-b">Add shop</h3>
                            {{#if isLoaded}}
                                {{> addShopModal_form }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="addShopModal_form">
    <form role="form" name="add-shop-form">
        <div class="form-group required">
            <label>Location</label>
            {{> forms_map name='geo' location=geo addressbar='_map_addressbar' onChangeCallback=selectMapLocationCallback }}
        </div>
        <div class="form-group required">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required="required" tabindex="0">
        </div>
        <div class="form-group required">
            <label>Address</label>
            <input type="text" name="addressFirst" class="form-control" required="required" tabindex="0">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group required">
                    <label>Postal code</label>
                    <input type="text" name="postCode" class="form-control" required="required" tabindex="0">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group required">
                    <label>City</label>
                    <input type="text" name="city" class="form-control" required="required" tabindex="0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Currency</label>
                <select name="currencyId" class="form-control" required="required" tabindex="0">
                    {{#each getCurrencies}}
                        <option value="{{_id}}" selected="{{isSelected code 'EUR'}}">{{name}} ({{code}}, {{symbol}})</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group required">
            <label>Country</label>
            <select name="countryId" class="form-control" required="required" tabindex="0">
                <option value=""> -- </option>
                {{#each getCountries}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>Parent company</label>
            <select name="companyId" class="form-control" disabled="{{isDisabled}}" tabindex="0">
                {{#if companyId}}
                    <option value="{{companyId}}" selected="selected">{{getCompanyDescription}}</option>
                {{/if}}
            </select>
        </div>
        <div class="form-group">
            <label>Preferred language</label>
            <select name="language" class="form-control" required="required" disabled="{{isDisabled}}">
                {{#each getShopLanguages}}
                    <option value="{{code}}" selected="{{isLanguageSelected ../language}}">{{en}} ({{name}})</option>
                {{/each}}
            </select>
        </div>
        {{#unless hideButtons}}
            <div>
                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Add</strong></button>
                <button class="btn btn-sm btn-default pull-right m-t-n-xs cancel-add-shop"><strong>Cancel</strong></button>
            </div>
        {{/unless}}
    </form>
</template>
