<template name="shopCard">
    <div class="card shop-card cursor-pointer">
        {{#if deleted}}
            <blockquote class="alert-danger">
                This shop has been deleted!
            </blockquote>
        {{/if}}
        <a href="{{#if isInVatfreeRole 'shops-read'}}/shop/{{_id}}{{else}}#{{/if}}">
            <div class="card-logo">
                <img src="/Logos/{{getPartnershipStatusLogo}}" />
            </div>
            <div class="card-info">
                <strong>{{name}}</strong>
                <p>
                    <a href="mailto:{{email}}">{{email}}</a>{{#if tel}}, <a href="tel:{{tel}}">{{tel}}</a>{{/if}}<br/>
                    {{#with getCountry}}
                        <span class="flag-icon flag-icon-{{toLowerCase code}}"></span>
                    {{/with}}
                    {{addressFirst}}, {{city}}, {{getCountryCode countryId}}
                </p>
            </div>
            {{#unless hideButtons}}
                <div class="card-meta">
                    <i class="icon icon-envelope request-material" title="Create task for envelops"></i>
                </div>
            {{/unless}}
        </a>
    </div>
</template>
