<template name="shopEdit">
    {{#if Template.subscriptionsReady}}
        {{#with shopDoc}}
            {{> pageHeading title=getBreadcrumbTitle category='Shops' categoryLink='/shops' }}
            <div class="wrapper wrapper-content">
                {{#if showBreadcrumb}}
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            {{#with getCompanyDoc}}
                                {{> companyBreadcrumb}}
                            {{/with}}
                        </div>
                    </div>
                {{/if}}
                <div class="row">
                    <div class="col-sm-8">
                        {{> shopEditForm addActiveReceiptId addActiveInvoiceId }}
                    </div>
                    <div class="col-sm-4">
                        {{#if activeReceiptId}}
                            {{#with getSelectedReceipt}}
                                <h1>Receipt: {{receiptNr}}</h1>
                                {{> receiptInfo receipt=this }}
                            {{/with}}
                        {{else}}
                            {{#if activeInvoiceId}}
                                {{#with getSelectedInvoice}}
                                        <h1>Invoice: {{invoiceNr}}</h1>
                                    {{> invoiceInfo invoice=this showImages=true }}
                                {{/with}}
                            {{else}}
                                {{> shopInfo }}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/with}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<template name="shopEditForm">
    {{#if sendIntroMail}}
        {{> shops_intro_mail shopId=_id parentVariable='sendIntroMail' }}
    {{/if}}
    {{#if mergeShop}}
        {{> shops_merge shopId=_id parentVariable='mergeShop' }}
    {{/if}}
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"> Shop details</a></li>
            <li class=""><a data-toggle="tab" href="#tab-4"> Billing</a></li>
            <li class=""><a data-toggle="tab" href="#tab-6"> Contacts</a></li>
            <li class=""><a data-toggle="tab" href="#tab-7"> Activity</a></li>
            <li class=""><a data-toggle="tab" href="#tab-5"> Shopping guide</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"> Receipts</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3"> Invoices</a></li>
            <li class=""><a data-toggle="tab" href="#tab-files"> Files</a></li>
            <li class=""><a data-toggle="tab" href="#tab-activity"> Edit history</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="shop-edit-form">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" placeholder="Shop name" value="{{name}}" required="required" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-2">
                                    <select name="status" class="form-control" disabled="{{isDisabled}}">
                                        {{#each getShopStatusOptions}}
                                            <option value="{{this}}" selected="{{isSelected ../status this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" name="partnershipStatus" disabled="{{isDisabled}}">
                                        <option value="new" selected="{{isSelected partnershipStatus 'new'}}">New</option>
                                        <option value="partner" selected="{{isSelected partnershipStatus 'partner'}}">Partner</option>
                                        <option value="pledger" selected="{{isSelected partnershipStatus 'pledger'}}">Pledger</option>
                                        <option value="affiliate" selected="{{isSelected partnershipStatus 'affiliate'}}">Affiliate</option>
                                        <option value="uncooperative" selected="{{isSelected partnershipStatus 'uncooperative'}}">Uncooperative</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Subscription</label>
                                <div class="col-sm-3">
                                    <select name="subscription" class="form-control" disabled="{{isDisabled}}">
                                        {{#each getShopSubscriptionOptions}}
                                            <option value="{{this}}" selected="{{isSelected ../subscription this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Affiliated with</label>
                                <div class="col-sm-10">
                                    <select name="affiliatedWith" multiple="true" class="form-control" placeholder="Affiliated with" disabled="{{isDisabled}}">
                                        {{#each getAffiliatedWithOptions}}
                                            <option value="{{this}}" selected="{{isSelected ../affiliatedWith this}}">{{_ this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Partnered by</label>
                                <div class="col-sm-4">
                                    <select name="partneredBy" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getUsers}}
                                            <option value="{{_id}}" selected="{{isSelected ../partneredBy _id}}">{{getUserName _id}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Partner since</label>
                                <div class="col-sm-4">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                                        <input type="text" name="partneredAt" class="form-control" value="{{formatDate partneredAt}}" disabled="{{isDisabled}}">
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Travellers per day</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" name="visitorsPerDay" placeholder="Vistors per day" value="{{visitorsPerDay}}" disabled="{{isDisabled}}">
                                </div>
                                <div class="col-sm-8">
                                    Estimated number of travellers that are elligible for tax refund per day.
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-4">
                                    <input type="email" class="form-control" name="email" placeholder="General email address" value="{{email}}" disabled="{{isDisabled}}">
                                </div>
                                <label class="col-sm-2 control-label">Telephone</label>
                                <div class="col-sm-4">
                                    <input type="tel" class="form-control" name="tel" placeholder="General telephone number" value="{{tel}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Website</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="website" placeholder="Website URL" value="{{website}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="addressFirst" placeholder="Address" value="{{addressFirst}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">&nbsp;</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="postCode" placeholder="Postal code" value="{{postCode}}" disabled="{{isDisabled}}">
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="city" placeholder="City" value="{{city}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-10">
                                    <select name="countryId" class="form-control" required="required" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getCountries}}
                                            <option value="{{_id}}" selected="{{isCountrySelected}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            {{#unless isDisabled}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Location</label>
                                    <div class="col-sm-10">
                                        {{> forms_map name='geo' location=geo addressbar='_map_addressbar' }}
                                    </div>
                                </div>
                            {{/unless}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Chamber of Commerce</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="chamberOfCommerce" placeholder="Chamber of commerce" value="{{chamberOfCommerce}}" disabled="{{isDisabled}}">
                                </div>
                                <label class="col-sm-2 control-label">VAT Number</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="vatNumber" placeholder="VAT number" value="{{vatNumber}}" disabled="{{isDisabled}}">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">Currency</label>
                                <div class="col-sm-10">
                                    <select name="currencyId" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#unless currencyId}}
                                            <option value=""> - Select currency - </option>
                                        {{/unless}}
                                        {{#each getCurrencies}}
                                            <option value="{{_id}}" selected="{{isSelected _id ../currencyId}}">{{name}} ({{code}}, {{symbol}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Preferred language</label>
                                <div class="col-sm-10">
                                    <select name="language" class="form-control" required="required" disabled="{{isDisabled}}">
                                        {{#each getShopLanguages}}
                                            <option value="{{code}}" selected="{{isLanguageSelected ../language}}">{{en}} ({{name}})</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">E-mail template</label>
                                <div class="col-sm-10">
                                    <select name="emailTemplateId" class="form-control" disabled="{{isDisabled}}">
                                        <option value=""> -- </option>
                                        {{#each getEmailTemplates}}
                                            <option value="{{_id}}" selected="{{isEmailTemplateSelected}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Parent company</label>
                                <div class="col-sm-10">
                                    <select name="companyId" class="form-control" disabled="{{isDisabled}}">
                                        {{#if companyId}}
                                            <option value="{{companyId}}" selected="selected">{{getCompanyDescription}}</option>
                                        {{/if}}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">POPr ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="poprId" placeholder="POPr Id" value="{{poprId}}" disabled="{{isDisabled}}">
                                    <span class="text-muted">Comma separated values are allowed.</span>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Notes</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="notes" placeholder="Notes about this shop">{{notes}}</textarea>
                                </div>
                            </div>
                            {{#unless isDisabled}}
                                <div class="form-group">
                                    <div class="col-sm-12 text-right">
                                        {{#unless hideCancelButtons}}
                                            <button class="btn btn-white cancel">Cancel / Close</button>
                                        {{/unless}}
                                        <button class="btn btn-danger delete-shop">Delete shop</button>
                                        <button class="btn btn-warning merge-shop">Merge shop</button>
                                        <button class="btn btn-info send-intro-mail">Send introduction mail</button>
                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                    </div>
                                </div>
                            {{/unless}}
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    {{> billing_form }}
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    <fieldset class="form-horizontal">
                        <form name="shopping-guide-edit-form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="i-checks">
                                        <input type="checkbox" name="inShoppingGuide" value="1" checked="{{#if inShoppingGuide}}checked{{/if}}" disabled="{{isDisabled}}"/> Include in shopping guide
                                    </div>
                                </div>
                            </div>
                            {{#if companyId}}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <div class="i-checks">
                                            <input type="checkbox" name="useParentShoppingGuideInfo" value="1" checked="{{#if useParentShoppingGuideInfo}}checked{{/if}}" disabled="{{isDisabled}}"/> Use parent shopping guide information
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Category</label>
                                <div class="col-sm-10">
                                    <select name="categoryId" class="form-control" disabled="{{isDisabled}}">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea name="shoppingGuideDescription" class="form-control" disabled="{{isDisabled}}">{{shoppingGuideDescription}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Images</label>
                                <div class="col-sm-10">
                                    {{> tab_files securityRole='shops-update' disallowUpload=isLocked fileContext=getFileContextShoppingGuide allowDelete=true allowEdit=false }}
                                </div>
                            </div>

                            {{#unless isDisabled}}
                                <div class="form-group">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn btn-white cancel">Cancel / Close</button>
                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                    </div>
                                </div>
                            {{/unless}}
                        </form>
                    </fieldset>
                </div>
            </div>
            <div id="tab-2" class="tab-pane tab-shops">
                <div class="panel-body">
                    {{#unless isDisabled}}
                        <div class="text-right">
                            <a class="btn btn-primary add-receipt" href="#">+ Add</a>
                        </div>
                        {{#if addingReceipt}}
                            {{> addReceiptModal shopId=_id parentVariable='addingReceipt' }}
                        {{/if}}
                    {{/unless}}

                    <div class="full-height-scroll">
                        {{#if tabLoading 'tab-2'}}
                            {{> loading }}
                        {{else}}
                            {{#if tabLoaded 'tab-2'}}
                                <div class="table-responsive item-list">
                                    {{> receiptsList receipts=getReceipts includeHeader=true sorting=getReceiptSorting activeItem=activeReceiptId }}
                                </div>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    {{#if billingEntity}}
                        {{#unless isDisabled}}
                            <div class="text-right">
                                <a class="btn btn-primary add-invoice" href="#">+ Add</a>
                                <a class="btn btn-info send-open-invoice-mail" href="#">Send open invoices mail</a>
                            </div>
                            {{#if addingInvoice}}
                                {{> addInvoiceModal shopId=_id parentVariable='addingInvoice' }}
                            {{/if}}
                            {{#if sendOpenInvoiceMail}}
                                {{> shops_open_invoice_mail shopId=_id parentVariable='sendOpenInvoiceMail' }}
                            {{/if}}
                        {{/unless}}
                    {{/if}}

                    <div class="full-height-scroll">
                        {{#if tabLoading 'tab-3'}}
                            {{> loading }}
                        {{else}}
                            {{#if tabLoaded 'tab-3'}}
                                {{> invoicesFilteredList invoicesSelector=getInvoicesSelector sorting=getInvoiceSorting includeHeader=true activeItem=activeInvoiceId }}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="tab-6" class="tab-pane">
                <div class="panel-body">
                    {{#unless isDisabled}}
                        <div class="text-right">
                            <a class="btn btn-primary add-contact" href="#">+ Add</a>
                        </div>
                        {{#if addingContact}}
                            {{> addContactModal shopId=_id companyId=false affiliateId=false parentVariable='addingContact' doNotRedirect=true }}
                        {{/if}}
                    {{/unless}}

                    <div class="full-height-scroll">
                        <div class="table-responsive item-list">
                            {{> contactsList contacts=getContacts sorting=getContactSorting includeHeader=true actions=getContactActions }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-files" class="tab-pane">
                <div class="panel-body">
                    {{> tab_files securityRole='shops-update' disallowUpload=isLocked fileContext=getFileContext allowDelete=true allowEdit=true }}
                </div>
            </div>
            <div id="tab-7" class="tab-pane">
                {{> activityLogTab activityLogs=getActivityLog shopId=_id companyId=false allowAdd=isEnabled addStatus="done" }}
            </div>
            <div id="tab-activity" class="tab-pane">
                <div class="ibox">
                    <div class="ibox-content">
                        <div id="vertical-timeline" class="vertical-container dark-timeline">
                            {{#each getActivity}}
                                {{> activityTimelineItem }}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
