<template name="shopsImport">
    <div class="dropzone horizontal">
        <input type="file" name="dropzone-file" class="dropzone-file"/>
        <div class="add-file">
            <i class="icon icon-upload"></i><br/>
            {{_ "Drop file(s) here to upload"}}
        </div>
    </div>
    <table class="table table-striped table-hover invoice-list">
        <thead>
        <tr>
            <th>Added</th>
            <th>File name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {{#each getImports}}
            <tr class="item-row" id="item-{{_id}}">
                <td>{{formatDate createdAt}}</td>
                <td>{{original.name}}</td>
                <td>{{original.type}}</td>
                <td>{{original.size}}</td>
                {{#unless this.isUploaded}}
                    <td colspan="3">
                        {{> FS.UploadProgressBar bootstrap=true}}
                    </td>
                {{else}}
                    {{#unless this.hasStored "vatfree"}}
                        <td colspan="3">
                            Saving to server ...
                        </td>
                    {{else}}
                        <td>
                            {{#if importInfo.running}}
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{importInfo.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{importInfo.progress}}%">
                                        <span class="">{{importInfo.progress}}% - {{importInfo.progressMessage}}</span>
                                    </div>
                                </div>
                            {{else}}
                                {{#if importInfo.error}}
                                    ERROR: {{getError}}
                                {{/if}}
                            {{/if}}
                        </td>
                        <td>
                            {{getStatus}}
                        </td>
                        <td>
                            <a href="#" class="btn btn-white btn-sm import-file"><i class="icon icon-activity"></i></a>
                            <a href="#" class="btn btn-white btn-sm delete-file"><i class="fa fa-trash"></i></a>
                        </td>
                    {{/unless}}
                {{/unless}}
            </tr>
        {{else}}
            <tr>
                <td colspan="8">
                    <i>No import files found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
