<template name="shopInfo">
    <div class="ibox ">
        <div class="ibox-content">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    {{> shopCard }}
                    {{#unless billingEntity}}
                        {{#with billingEntityDoc}}
                            <blockquote class="alert-warning">
                                All receipts of this shop will be billed to <b><a href="/company/{{_id}}">{{name}}</a></b>, {{addressFirst}}, {{postCode}} {{city}}
                            </blockquote>
                        {{else}}
                            <blockquote class="alert-danger">
                                No billing identity found for this shop - Please fix or invoices cannot be sent!
                            </blockquote>
                        {{/with}}
                    {{/unless}}
                    <div class="client-detail">
                        <div class="full-height-scroll">
                            <strong>Shop summary</strong>
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                <span class="pull-right">
                                    {{#if companyId}}
                                        <a href="/company/{{companyId}}">
                                            {{getCompanyName companyId}}
                                        </a>
                                    {{else}}
                                        -
                                    {{/if}}
                                </span>
                                    Parent company
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{id}} </span>
                                    Salesforce id
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{#if debtCollectionMandate}}Yes{{else}}No{{/if}} </span>
                                    Direct debit
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatDate stats.lastRequestDate}} </span>
                                    Last request date
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{stats.numberOfRequests}} </span>
                                    Number of requests
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency stats.totalRefunds}} </span>
                                    Total refunds
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> {{formatCurrency stats.totalServiceFee}} </span>
                                    Total service fee
                                </li>
                                {{#if billingEntity}}
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{stats.numberOfInvoices}} </span>
                                        Number of invoices
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatCurrency stats.totalInvoicedRefunds}} </span>
                                        Total invoiced refunds
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right"> {{formatCurrency stats.totalInvoicedServiceFee}} </span>
                                        Total invoiced service fee
                                    </li>
                                {{/if}}
                                {{#if companyId}}
                                    <li class="list-group-item">
                                        {{> companyHierarchy companyId=companyId }}
                                    </li>
                                {{/if}}
                            </ul>
                            {{#if notes}}
                                <strong>Notes</strong>
                                <p>
                                    {{notes}}
                                </p>
                            {{/if}}
                            <hr/>
                            <strong>Edit history</strong>
                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                {{#each getActivity}}
                                    {{> activityTimelineItem }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
