<template name="shops_intro_mail">
    <div id="modal-shops-intro-mail" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                {{#with getShop}}
                    <div class="modal-body">
                        <h1>Intro mail preview</h1>
                        <form name="send-intro-mail-form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Recipient</label>
                                <div class="col-sm-9">
                                    <select name="useEmail" class="form-control">
                                        {{#each getEmails}}
                                            <option value="{{email}}" selected="{{isSelectedEmail}}">{{description}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Subject</label>
                                <div class="col-sm-9">
                                    {{{getSubject}}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Language</label>
                                <div class="col-sm-9">
                                    {{language}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email template</label>
                                <div class="col-sm-9">
                                    {{getEmailTemplateName emailTemplateId}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email text</label>
                                <div class="col-sm-9">
                                    <select name="emailTextId" class="form-control">
                                        {{#each getEmailTexts 'shops'}}
                                            <option value="{{_id}}" selected="{{isEmailTextSelected}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <hr/>
                            <div class="intro-mail">
                                <div class="text-preview html-preview">
                                    {{{getHTMLPreview}}}
                                </div>
                            </div>
                            <hr/>
                            <b>Attachments:</b><br/>
                            <ul class="files">
                                <li class="file">
                                    <a href="#">
                                        <img src="/icons/512px/pdf.png" class="file-icon" />
                                        {{#if $eq language "nl"}}
                                            <div class="name">VATfreeNL-bevestigingvandeBelastingdienst.pdf</div>
                                        {{else}}
                                            <div class="name">Dutch Tax Administration ruling Vatfree.com.pdf</div>
                                        {{/if}}
                                    </a>
                                </li>
                            </ul>
                            <hr/>
                            <div class="pull-right">
                                <button class="btn btn-default cancel-intro-mail">Cancel</button>
                                <button class="btn btn-info" type="submit" disabled="{{isSending}}">Send intro email</button>
                            </div>
                            <br/>
                        </form>
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
</template>
