<template name="shopsList">
    <table class="table table-striped table-hover shop-list">
        {{#if includeHeader}}
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th class="sort-header {{isHeaderSorting 'name'}}" data-id="name">Name</th>
                <th class="sort-header {{isHeaderSorting 'addressFirst'}}" data-id="addressFirst">Address</th>
                <th>Company</th>
                <th class="sort-header {{isHeaderSorting 'createdAt'}}" data-id="createdAt">Created</th>
                <th class="sort-header {{isHeaderSorting 'updatedAt'}}" data-id="updatedAt">Updated</th>
                <th class="sort-header {{isHeaderSorting 'stats.numberOfRequests'}}" data-id="stats.numberOfRequests"># Receipts</th>
                <th class="sort-header {{isHeaderSorting 'stats.totalRefunds'}}" data-id="stats.totalRefunds">Refunds</th>
                <th class="sort-header {{isHeaderSorting 'stats.totalServiceFee'}}" data-id="stats.totalServiceFee">Fee</th>
                <th colspan="2">Contact</th>
                {{#if selectable}}
                    <th>&nbsp;</th>
                {{/if}}
            </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each shops}}
            <tr class="item-row {{isActiveItem}} {{#if deleted}}text-danger{{/if}}" id="item-{{_id}}">
                <td><a href="/shop/{{_id}}" class="btn btn-white btn-sm edit-item"><i class="icon icon-edit"></i></a></td>
                <td class="client-status">
                    <img src="/Logos/{{getPartnershipStatusLogo}}" />
                </td>
                <td class="client-status"><i class="icon {{getShopStatusIcon}}"></i></td>
                <td class="client-status">
                    {{#unless billingEntity}}
                        {{#unless billingEntityDoc}}
                            <i class="icon icon-vtbnoncollectable text-danger"></i>
                        {{else}}
                            <span title="Billed to company {{billingEntityDoc.name}}"><i class="icon icon-vtb"></i></span>
                        {{/unless}}
                    {{else}}
                        <span title="Billed to shop"><i class="icon icon-vtb"></i></span>
                    {{/unless}}
                </td>
                <td><a class="client-link">{{name}}</a></td>
                <td>{{addressFirst}}, {{postCode}} {{city}}, {{getCountryCode}}</td>
                <td>
                    {{#if companyId}}
                        <i class="fa fa-building"></i> {{getCompanyName companyId}}
                    {{/if}}
                </td>
                <td>{{formatDateShort createdAt}}</td>
                <td>{{formatDateShort updatedAt}}</td>
                <td class="nobr text-right">{{stats.numberOfRequests}}</td>
                <td class="nobr text-right">{{formatCurrency stats.totalRefunds 0 currencyId}}</td>
                <td class="nobr text-right">{{formatCurrency stats.totalServiceFee 0 currencyId}}</td>
                <td class="contact-type">
                    <i class="fa fa-{{getContactType}}"> </i>
                </td>
                <td>{{getContactDetails}}</td>
                {{#if ../selectable}}
                    <td>
                        <div class="pretty-checks">
                            <input type="checkbox" name="shops.{{_id}}" id="shops.{{_id}}" checked="{{../allSelected}}">
                            <label for="shops.{{_id}}"></label>
                        </div>
                    </td>
                {{/if}}
            </tr>
        {{else}}
            <tr>
                <td colspan="8">
                    <i>No shops found ...</i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
