<template name="shops_merge">
    <div id="modal-shops-merge" class="modal fade" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h1>Merge "{{getShopName _id}}"</h1>
                    <form name="send-merge-shop-form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Into</label>
                            <div class="col-sm-9">
                                <select name="shopId" class="form-control">
                                </select>
                            </div>
                        </div>
                        {{#with getShop}}
                            <div class="">
                                All contents of this shop will be merged into "{{getShopDescription _id}}".
                            </div>
                            <div>
                                {{#with getCounts}}
                                    <table style='width: 80%; margin-left: 10%;'>
                                    <tr>
                                        <td style='text-align: left'>Receipts</td><td style='text-align: right'>{{receipts}}</td>
                                    </tr>
                                    <tr>
                                        <td style='text-align: left'>Invoices</td><td style='text-align: right'>{{invoices}}</td>
                                    </tr>
                                    <tr>
                                        <td style='text-align: left'>Contacts</td><td style='text-align: right'>{{contacts}}</td>
                                    </tr>
                                    <tr>
                                        <td style='text-align: left'>Activity logs</td><td style='text-align: right'>{{activityLogs}}</td>
                                    </tr>
                                    </table>
                                {{/with}}
                            </div>
                            <hr/>
                            <div class="pull-right">
                                <button class="btn btn-default cancel-merge-shop">Cancel</button>
                                <button class="btn btn-info" type="submit" disabled="{{isSending}}">Merge shop</button>
                            </div>
                            <br/>
                        {{/with}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
