<template name="shops_open_invoice_mail">
    {{#modal parentTemplateVariable="sendOpenInvoiceMail" }}
        {{#with getShop}}
            <h1>Open invoices mail</h1>
            <form name="send-intro-mail-form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Recipients</label>
                    <div class="col-sm-9">
                        <select name="emailAddresses" class="form-control" multiple="multiple">
                            {{#each getEmails}}
                                <option value="{{email}}" selected="{{isSelectedEmail}}">{{description}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Language</label>
                    <div class="col-sm-9">
                        {{language}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email template</label>
                    <div class="col-sm-9">
                        <input type="hidden" name="emailTemplateId" value="{{getBillingEmailTemplateId}}" />
                        {{getEmailTemplateName getBillingEmailTemplateId}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email text</label>
                    <div class="col-sm-9">
                        <select name="emailTextId" class="form-control">
                            {{#each getEmailTexts 'shops'}}
                                <option value="{{_id}}" selected="{{isEmailTextSelected}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Subject</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="emailSubject" value="{{getSubject}}" />
                    </div>
                </div>
                <div class="intro-mail">
                    <textarea class="form-control" name="emailText" style="height: 420px">{{getEmailText}}</textarea>
                </div>
                <hr/>
                <b>Attachments:</b><br/>
                <ul class="files list">
                    {{#each getAttachments}}
                        <li class="file">
                            {{> directUrlFile fileObj=this }}
                            <i class="icon icon-cross file-action remove-attachment-file"></i>
                        </li>
                    {{/each}}
                </ul>
                <hr/>
                <div class="pull-right">
                    <button class="btn btn-default cancel-intro-mail">Cancel</button>
                    <button class="btn btn-info" type="submit" disabled="{{isSending}}">Send email</button>
                </div>
                <br/>
            </form>
        {{/with}}
    {{/modal}}
</template>
