.view-account {
    .list-block {
        li {
            padding: 2px 0;

            &.account-files {
                background-color: #eee;
                margin-top: -3px;
                margin-bottom: 3px;
                padding-top: 3px;
                padding-bottom: 0;
            }

            &.secondary-email {
                ul {
                    padding-left: 25px;
                }
            }
        }

        .add-new-email {
            position: absolute;
            right: 12px;
            top: -2px;
            border-color: transparent;
            border-style: none;
            border-width: 0;
            padding: 1px 7px 2px;
            background-color: transparent;

            i {
                font-size: 22px;
            }
        }

        .item-description {
            padding-top: 5px;
        }
        .item-content {
            min-height: 34px;

            .item-inner {
                min-height: 34px;
                padding-top: 2px;

                .item-input {
                    min-height: 34px;

                    input, select {
                        font-size: 15px;
                    }
                }
            }
        }

        .item-link {
            .item-content {
                .item-media {
                    img {
                        height: 42px;
                        width: 36px;
                    }
                }
                .item-inner {
                    padding-left: 15px;
                    background: none;

                    .item-text {
                        display: block;
                        height: auto;
                    }
                }
            }
        }

        .traveller-rejections {
            background-color: #faeaeb;
            font-size: 15px !important;
            line-height: 24px;
            white-space: normal;
            overflow: initial;
            text-overflow: initial;
            -webkit-line-clamp: initial;

            ul {
                background-color: #faeaeb;

                li {
                    background-color: #faeaeb;
                    list-style: none;
                }
            }
        }

        .my-profile-header {
            background-color: #9cc1e0;
            padding-bottom: 12px;
            padding-right: 0;
            margin-top: -3px;

            &:active {
                background-color: #5B7893;
            }

            .image-text {
                position: absolute;
                top: 7px;
                left: 15px;
                color: #fff;
                font-size: 17px;
                line-height: 17px;

                .small {
                    font-size: 12px;
                }
            }

            .my-profile-image {
                width: 100% !important;
                height: auto !important;
                margin-top: 6px;
                margin-bottom: -32px;
            }
        }
    }

    .login {
        .list-block {
            .item-content {
                .item-inner {
                    min-height: 34px;
                    padding-top: 12px;
                }
            }
        }
    }
}
