.view-add, .view-account, .view-messages {
    .list-block {
        margin-top: 0;

        .item-input {
            min-height: 32px !important;
            input, select, textarea {
                height: auto;
                min-height: 32px;
            }
        }

        .add-file-button {
            color: #0069b4;

            &:active {
                color: #f7f7f8;;
                background-color: #0069b4;
            }

            label {
                i.f7-icons {
                    padding: 10px;
                }
            }
        }

        .file-thumb {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border: 1px solid #c8c7cc;;
            border-radius: 6px;
            margin-right: 6px;
            margin-bottom: 6px;
            overflow: hidden;
            background-color: #fff;

            img {
                width: 100% !important;
                height: auto !important;
            }

            &.file-uploaded {
                &:after {
                    position: absolute;
                    top: -4px;
                    right: 2px;
                    font-size: 22px;
                    font-family: "vatfree0907v4";
                    content: "\e922";
                }
            }
        }

        &.no-link {
            .item-inner {
                background: none;
            }
        }
    }

    .login {
        .list-block {
            min-height: 43px;
            input, select, textarea {
                height: 43px;
            }
        }
    }
}

.popup.receipt-added, .popup-customs-stamp-done {
    padding: 20px;

    ol {
        li {
            margin-bottom: 12px;

            b {
                font-size: 18px;
            }
        }
    }

    img {
        width: 80%;
        margin-left: 10%;
    }

    p.refund {
        font-size: 20px;
        font-weight: bold;
    }
}
