[data-page="contact"] {
    p {
        &.link {
            font-size: 20px;
        }

        i.f7-icons {
            font-size: 22px;
            margin-right: 12px;
            width: 30px;
        }
    }
}