.popup-intro {
    .content-block {
        p.intro-image {
            width: 100%;
            height: 100%;
            justify-content: flex-start;
            display: flex;
            margin: -25px 0 0 0;

            img {
                width: 100%;
            }
        }
    }
}
