.login {
    a {
        color: #fff;
        i.f7-icons {
            color: #fff;
            font-size: 17px;
            position: absolute;
            left: 10px;
            top: 11px;
        }

        &:active {
            opacity: 0.5;
        }
    }
    .login-with-facebook {
        border: #3b5998;
        background-color: #3b5998;
    }
    .login-with-instagram {
        border: #cd2029;
        background-color: #cd2029;
    }
    .login-with-google {
        border: #df4b37;
        background-color: #df4b37;
    }
    .login-with-twitter {
        border: #429cd6;
        background-color: #429cd6;
    }
    .login-with-linkedin {
        border: #0d77b7;
        background-color: #0d77b7;
    }
    .login-with-wechat {
        border: #4fbf34;
        background-color: #4fbf34;
    }

    .alternative-login {
        padding: 20px 0;
        color: #979797;
        position: relative;
        width: 100%;

        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 30px;
            left: 0;
            right: 0;
            height: 1px;
            border-top: 1px solid #e5e6e7;
        }

        .alternative-text {
            position: relative;
            z-index: 2;
            text-align: center;
            padding-bottom: 10px;

            span {
                background-color: #fff;
                padding: 0 10px;
            }
        }
    }
}
