html {
    height: 100vh;
}

body {
    transform: transale3d(0,0,0);
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

.statusbar-overlay {
    background-color: #e6007e;
}

.content-block {
    &.center {
        text-align: center;
    }
}

h1 {
    color: #0069b4;
    line-height: 28px;
    font-size: 26px;
}

p ~h1 {
    margin-top: 50px;
}

h2 {
    color: #0069b4;
    font-size: 18px;
    font-weight: 600;
}

input {
    &::placeholder {
        color: #0069b4;
        font-size: 15px;
    }

    &.error {
        &::-webkit-datetime-edit {
            color: red;
        }
        &::placeholder {
            color: red;
        }
    }
}
select {
    &.error {
        color: red;
    }
}

blockquote {
    &.alert-warning {
        padding: 8px 0;
        background-color: #f2dede;
        border-left: 5px solid #ebccd1;
        margin: 12px;
        color: #a94442;
        font-size: 12px;
    }
}

.upgrade-image {
    width: 100%;
    max-height: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    overflow: hidden;

    .upgrade-vattie {
        position: absolute;
        width: 35px;
        right: -12px;
        top: 75px;
    }

    img {
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

.navbar {
    .navbar-inner {
        .left, .right {
            min-width: 44px;

            &.info {
                justify-content: flex-end;
                .icon {
                    color: white;
                    font-size: 22px;
                }
            }
        }
    }
}

.pull-right {
    float: right;
}

[data-page="how"] {
    img {
        padding-top: 12px;
        width: 100%;
    }

    p.address {
        font-size: 22px;
        margin-left: 84px;
    }
}

[data-page="messages"] {
    .item-media .icon {
        font-size: 32px;
    }
    .list-block .item-media + .item-inner {
        margin-left: 8px;
    }
    .list-block .item-content {
        padding-left: 8px;
    }
    .list-block .item-text {
        height: auto;
    }
}

.list-block {
    .item-content {
        .item-inner {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}

.toolbar {
    .toolbar-inner {
        .tab-link {
            width: 20%;

            &:active {
                color: #f7f7f8;;
                background-color: #0069b4;

                .icon-name {
                    color: #f7f7f8;;
                }
            }

            .icon-cell {
                .icon {
                    width: 32px;
                    height: 32px;
                    font-size: 28px;
                    display: inline-block;

                    &.icon-plus {
                        margin-top: 4px;
                        margin-bottom: -4px;
                    }
                }
                .icon-name {
                    font-family: 'Gotham', 'Open sans', 'Arial' !important;
                    font-size: 9px;
                }
            }

            .icon-cell.notification {
                > .icon {
                    &:after {
                        content: '';
                        background-color: red;
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-radius: 12px;
                    }
                }
            }
        }
    }

    &.tabbar {
        margin-bottom: constant(safe-area-inset-bottom);
        margin-bottom: env(safe-area-inset-bottom);

        &:after {
            content: '';
            height: env(safe-area-inset-bottom);
            display: block;
            position: absolute;
            top: 55px;
            background-color: #f7f7f8;
            width: 100%;
        }
    }
}

.address {
    user-select: all;
}

.network-problems {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    padding: 0;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.traveller-status-unverified {
    padding: 8px 0;
    background-color: #f2dede;
    border-left: 5px solid #ebccd1;
    margin: 12px;

    .item-inner {
        &:after {
            background-color: transparent;
        }

        .title {
            color: #a94442;
            font-size: 16px;
        }
        .description {
            color: #777;
            font-size: 11px;
        }
        .action {
            margin-top: 8px;
            font-size: 14px;
        }
    }
}

.swal2-container {
    z-index: 99999999 !important;

    .swal2-modal {
        .swal2-styled:focus {
            box-shadow: none;
        }
        .swal2-buttonswrapper.swal2-loading {
            .swal2-styled.swal2-confirm {
                background-color: #0069b4
            }
        }
    }
}

.pac-container {
    z-index: 999999;
}

.svg-image {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-bottom: 50px;

    h1 {
        font-size: 23px;
        text-align: center;
        margin: 15px 60px 0 60px;
    }
    .image-subtext {
        color: #919191;
        text-align: center;
        margin: 0 25px 12px 25px;
    }
}

.content-block-title {
    background-color: #f3f3f3;
    color: #8b8b8b;
    margin: 0;
    padding: 10px 12px 6px 12px;
}
