.messagedetails {
    .item-link.message-header {
        .item-inner {
            .item-title-row {
                background-image: none;
                .item-title {
                    white-space: normal;
                    overflow: auto;
                }
            }
            .item-text {
                height: auto;
            }
        }
    }

    .html-email {
        table.body {
            td.center {
                center {
                    width: 100% !important;
                    min-width: auto !important;
                }
            }

            table.container {
                margin: 0 !important;
                width: 100% !important;

                table.row.header {
                    margin-top: 20px !important;
                }
            }
        }

        span.hideOnMobile {
            display: none;
        }

        span.showOnMobile {
            display: block !important;
        }
    }
}

.view-messages {
    .list-block {
        .item-text {
            font-size: 12px;
        }

        .item-link {
            &.open-message {
                &.read {
                    .item-inner {
                        .item-title {
                            font-weight: 300;
                        }
                    }
                    .item-media {
                        .icon {
                            color: #000;
                        }
                    }
                }
                .item-media {
                    .icon {
                        color: #e6007e;
                    }
                }
            }
        }
    }
}
