.popup-payout {
    .payment-options {
        display: flex;
        flex-direction: row;
        .payment-option {
            text-align: center;
            padding: 12px;
            width: 33%;
            border: 1px solid #ddd;
            border-radius: 12px;
            margin: 10px 20px;
            cursor: pointer;
            user-select: none;

            &.active {
                background-color: #0069b4;
                border-color: #0069b4;
                color: #fff;
            }

            i.icon, i.fa {
                font-size: 36px;
                display: block;
                margin-bottom: 10px;
            }
        }
    }

    form {
        .input-group {
            width: 90%;
            position: relative;
            display: table;
            border-collapse: separate;

            .input-group-addon {
                display: none;
            }

            input {
                height: auto;
                font-size: 22px;

                &.form-control {
                    position: relative;
                    z-index: 2;
                    float: left;
                    width: 100%;
                    margin-bottom: 0;
                    background-color: #ffffff;
                    border: 1px solid #e5e6e7;
                    border-radius: 1px;
                    color: inherit;
                    display: table-cell;
                    padding: 6px 12px;
                    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
                    font-size: 16px;
                }
            }
        }

        button {
            &.btn {
                border-radius: 3px;
                font-size: 16px;
                padding: 5px 10px;
                line-height: 1.5;
            }

            &.btn-default {
                color: inherit;
                background: white;
                border: 1px solid #e7eaec;
            }

            &.btn-primary {
                color: #fff;
                background-color: #93c01f;
                border: 0;
            }
        }

        label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        .supported-credit-cards {
            line-height: normal;
            font-size: 16px;
            display: flex;
            height: 32px;
            align-items: center;
            padding-top: 8px;

            &.active {
                img {
                    opacity: 0.3;
                }
            }

            img {
                height: 32px;
                padding-left: 4px;

                &.active {
                    opacity: 1;
                }
            }

            .credit-card-error {
                margin-top: 12px;
                color: #ed5565;
                font-weight: bold;
            }
        }
    }

    @media(max-width: 420px) {
        h3 {
            font-size: 14px;
        }

        .payment-options {
            font-size: 12px;
            flex-direction: column;
            flex-wrap: wrap;

            .payment-option {
                margin: 2px;
                position: relative;
                width: -webkit-fill-available;

                i {
                    position: absolute;
                    left: 6px;
                    top: 3px;
                }
            }
        }

        form {
            .input-group {
                input {
                    font-size: 16px;
                }
            }
        }
    }
}
