.page-content.search-shop-add {
    margin-top: -7px !important;
    .list-block {
        li.add-shop {
            .item-text {
                height: auto;
                display: block;
            }
            .map-container {
                width: 100%;
                height: 320px;
            }
        }

        .item-content.add-new-shop {
            &:active {
                color: #f7f7f8;
                background-color: #0069b4;
                .item-inner {
                    color: #f7f7f8;
                    .item-text {
                        color: #f7f7f8;
                        .name {
                            color: #f7f7f8;
                        }
                    }
                }
            }
        }
    }
}
.view-receipts, .popup-customs-stamp {
    .list-block {
        .item-text {
            height: 42px;

            .name {
                width: ~"calc(100% - 75px)" !important;
            }

            .receipt-status {
                margin-top: 0;
                font-style: italic;
                display: flex;
                align-items: center;
                height: 28px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: ~"calc(100% - 50px)";
            }
        }

        .item-media:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: auto;
            top: auto;
            height: 1px;
            width: 100%;
            background-color: #c8c7cc;
            display: block;
            z-index: 15;
            transform-origin: 50% 100%;
        }

        .file-thumb {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 96px;
            height: 96px;
            border: 1px solid #c8c7cc;;
            border-radius: 6px;
            margin-bottom: 12px;
            margin-right: 6px;
            overflow: hidden;

            img {
                width: 100% !important;
                height: auto !important;
            }
        }

        .payable {
            display: flex;
            flex-direction: row;
            padding: 15px 15px 0 15px;

            .title {
                flex-grow: 1;
                flex-shrink: 0;
                text-align: right;
                line-height: 18px;
                padding-right: 8px;
            }
            .amount {
                font-size: 18px;
                color: #77a000;
                flex-grow: 0;
                flex-shrink: 0;
                line-height: 18px;
            }
        }

        .payout-refund {
            margin: 0 15px;
            background-color: #77a000;
            &:active {
                background-color: #6a8e02;
            }
        }
    }

    .receipts-refund-total {
        background-color: #e6007e;
        color: #fff;
        text-align: center;
        padding-top: 25px;

        .refund-amount {
            font-size: 64px;
            font-weight: 100;
            .refund-amount-currency {
                display: inline-block;
                font-size: 32px;
            }
        }
    }
}

.page-content {
    .got-customs-stamp {
        background-color: #9cc1e0;
        padding-bottom: 12px;
        padding-right: 15px;

        &:active {
            background-color: #5B7893;
        }

        .image-text {
            position: absolute;
            top: 7px;
            left: 15px;
            color: #fff;
            font-size: 17px;
            line-height: 18px;
            max-width: 74%;
        }

        .receipt-got-stamp {
            width: 100% !important;
            height: auto !important;
            margin-top: 6px;
            margin-bottom: -32px;
        }
    }


    .my-receipts-header {
        background-color: #9cc1e0;
        padding-bottom: 12px;
        padding-right: 15px;

        &:active {
            background-color: #5B7893;
        }

        .my-receipts-image {
            width: 100% !important;
            height: auto !important;
            margin-top: 6px;
            margin-bottom: -8px;
            z-index: 2;
        }
    }
}


.ibox.receipt-info {
    .client-detail {
        .list-group {
            margin:0;
            padding: 0;

            .list-group-item {
                border-top: none;
                padding: 6px 0;
                color: #979797;

                &.divider {
                    min-height: 25px;
                }

                &.divider-icon {
                    border-bottom: 1px solid #4d4d4d;
                    width: 100%;

                    i.icon {
                        position: absolute;
                        color: #4d4d4d;
                        font-size: 40px;
                        top: -7px;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                        width: 38px;
                        background-color: #fff;
                    }
                }

                &.highlight {
                    color: #4d4d4d;
                    font-size: 16px;
                }

                &.strong {
                    line-height: 24px;
                }

                strong {
                    font-size: 24px;
                    font-weight: normal;
                }

                > ul {
                    margin: 12px 0 6px 0;
                }

                .dropzone {
                    margin-top: 12px;
                    padding: 6px;
                    border: 1px dashed #979797;
                    border-radius: 6px;
                    flex-direction: column;

                    .icon {
                        font-size: 56px;
                    }
                }
            }
        }
    }

    .tab-pane {
        > .row.shop {
            i.fa {
                font-size: 48px;
            }
        }

        img.partnership-status {
            height: 80px;
        }
    }
}

.receipt-send-info {
    padding: 20px;

    ol {
        li {
            margin-bottom: 12px;

            b {
                font-size: 18px;
            }
        }
    }

    img {
        width: 80%;
        margin-left: 10%;
    }

    p.refund {
        font-size: 20px;
        font-weight: bold;
    }
}

.qrcode-on-receipt {
    margin: 25px;

    h1 {
        text-align: center;
        font-size: 24px;
    }

    img {
        width: 100%;
    }

    .qr-selection-buttons {
        display: flex;
        width: 100%;

        :nth-child(2) {
            text-align: right;
            text-align: -webkit-right;
        }

        .qr-selection-button {
            flex-grow: 1;
            display: inline-block;
            margin: 15px;

            button {
                width: 80%;
            }
        }
    }
}

.receipt-stamped {
    text-align: center;
    width: 100%;
    .receipt-choice-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .button {
            min-width: 100px;
            margin: 0 12px;
            padding-left: 25px;
            padding-right: 25px;
            &:not(.active) {
                color: #0069b4;
                border: 1px solid #0069b4;
            }
        }
    }
}
