.view-shops, .view-add, .view-receipts, .view_receipt_details, .view-account {
    .page-content {
        &.search-content {
            padding: 94px 0 55px 0 !important;

            @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
                padding: 94px 0 90px 0 !important;
            }
        }
    }

    .select-shop {
        a.item-link {
            color: #0069b4;
            font-size: 15px;
        }
        blockquote {
            white-space: pre-line;
            margin-right: 15px;
        }
    }

    .list-block {
        margin: 0;
        width: 100%;

        .list-block {
            ul {
                padding-left: 0;
                .item-link {
                    .item-content {
                        padding-left: 0;
                    }
                }
            }
        }

        .item-content {
            img {
                height: 36px;
                width: 36px;
            }
        }

        .item-inner {
            .distance {
                position: absolute;
                right: 0;
                text-align: right;
            }
            .item-text {
                font-size: 11px;
                line-height: 14px;
                width: 100%;
                /*! autoprefixer: off */
                -webkit-box-orient: vertical;
                /*! autoprefixer: on */

                .name {
                    font-size: 14px;
                    color: rgba(0,0,0, 0.7);
                    font-weight: 600;
                    width: ~"calc(100% - 25px)";
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .distance {
                        font-size: 11px;
                        color: #8e8e93;
                        font-weight: 400;
                        background-color: #fff;
                    }
                }
            }
        }

        .item-link {
            &.active-state {
                .item-inner {
                    .item-text {
                        .name {
                            .distance {
                                background-color: #d9d9d9;
                            }
                        }
                    }
                }
            }
        }

        &.search-block {
            position: fixed;
            top: 44px;
            width: 100%;
            opacity: 1;
            z-index: 16;

            .search-vattie {
                height: 36px;
                width: auto;
                position: absolute;
                top: 2px;
                right: -10px;
            }

            .item-media {
                i.f7-icons {
                    color: #8e8e93;
                    font-size: 20px;
                }
            }
        }
    }
}

.view-add {
    .search-content {
        .list-block {
            .item-link {
                .item-inner {
                    padding-right: 15px;
                    background: none;
                }
            }
        }
    }
}
.shop-details {
    ul:after {
        background-color: transparent;
    }

    .name {
        margin-top: 12px;
        height: auto;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    .geo {
        margin-top: 12px;
    }

    .partnership-status {
        height: auto !important;
        .item-content {
            height: auto !important;

            .item-text {
                color: #000;
                height: auto !important;
                font-size: 12px !important;
                line-height: 20px;
                white-space: normal;
                overflow: initial;
                text-overflow: initial;
                -webkit-line-clamp: initial;
            }
        }
    }

    .shop-here {
        background-color: #eee;
        height: auto !important;
        padding: 12px 0;

        .item-content {
            height: auto !important;

            .item-text {
                color: #000;
                height: auto !important;
                font-size: 15px !important;
                line-height: 24px;
                white-space: normal;
                overflow: initial;
                text-overflow: initial;
                -webkit-line-clamp: initial;

                button {
                    margin: 12px 0;
                }
            }
        }
    }
}
