@import "variables.import.less";

body {
    font-family: 'Gotham', 'Open Sans', sans-serif;
    font-size: 15px;
    user-select: none;
}

a {
    text-decoration: none;
    color: #0069b4;
}

p {
    &.center {
        text-align: center;
    }
}

img {
    &.full-width {
        width: 100%;
    }
}

.swiper-slide {
    &.center {
        text-align: center;
    }
}

.top-right {
    position: absolute;
    top: 15px;
    right: 15px;
}

.page {
    &.pre-text {
        p {
            white-space: pre-line;
        }
    }
}

.navbar {
    .navbar-inner {
        padding: 0 15px;
    }

    .center {
        font-size: 18px;
        font-weight: normal !important;
    }

    a.link {
        color: #fff;
        font-size: 15px;
    }

    color: #fff;
    background-color: @vatfreeRed;

    &:after {
        background-color: transparent;
    }
}

.page-content {
    background-color: #fff;
    padding: 44px 0 55px 0 !important;

    @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
        padding: 44px 0 90px 0 !important;
    }

    .page-padding {
        padding: 0 15px !important;
    }
}

.list-block {
    margin: 35px 0;
    font-size: 13px;

    .item-description {
        color: rgba(0,0,0,0.5);
        padding-left: 15px;
        padding-top: 15px;
    }
}

.button {
    border-radius: 4px;
    border-color: transparent;
    padding: 5px 10px;
    height: 39px;

    &.active {
        background-color: #0069b4;

        &:active {
            background-color: #004d99;
        }
    }

    &.danger {
        background-color: #d00;
        color: #fff;

        &:active {
            background-color: #a00;
            color: #fff;
        }
    }

    &.vatfree {
        background-color: @vatfreeRed;
        border-color: @vatfreeRed;

        &:active {
            background-color: @vatfreeRed;
            border-color: @vatfreeRed;
        }
    }

    &.transparent {
        color: #0069b4;
        border-color: transparent;
    }

    &.bordered {
        border-color: #0069b4;
        color: #0069b4;
    }

    &.full-size {
        width: 100%;
    }
}

.tabbar {
    background-color: white;

    .f7-icons {
        font-size: 22px;
    }

    .icon-name {
        font-size: 8px;
    }

    .tab-link {
        .icon {
            color: black;
        }
        &.add-receipt {
            .icon {
                color: @vatfreeRed;
            }
        }
        &.active {
            color: @vatfreeRed;
            .icon {
                color: @vatfreeRed;
            }
            .icon-name {
                color: @vatfreeRed;
            }
        }

        .large-add-button {
            position: absolute;
            background-color: @vatfreeRed;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                margin-top: 4px; // hack because it's not centered for some reason
            }

            color: white;
            bottom: 22px;
            height: 50px;
            width: 50px;
            border-radius: 25px;
            z-index: 999;
            font-size: 28px;
        }
    }
}

.toolbar {
    height: 55px;
}

.popup {
    z-index: 15000;
    .content-block {
        height: 100%;
        margin: 0;
        padding: 35px 15px 0 15px;

        .swiper-container {
            height: 100%;

            .swiper-pagination-bullet-active {
                opacity: 1;
                background: #0069b4;
            }
        }
    }
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 26px;
}

.text-danger {
    color: #c00;
}

.explanation {
    h1 {
        font-size: 24px;
    }

    .with-media {
        position: relative;
        margin-left: 42px;

        .media {
            img {
                position: absolute;
                top: 0;
                left: -42px;
                width: 32px;
            }
        }
    }
}

.list-block {
    ul {
        li {
            blockquote {
                position: relative;
                margin: 0;
                padding: 5px;

                &.has-icon {
                    padding: 5px 5px 5px 30px;
                }

                &.alert-danger {
                    color: #721c24;
                    background-color: #f8d7da;
                    border-color: #f5c6cb;
                }

                i.icon {
                    font-size: 26px;
                    position: absolute;
                    left: 2px;
                    top: 2px;
                }
            }
        }
    }
}

.img-responsive {
    width: 100%;
}

@media(min-width: 480px) {
    .page-content {
        .got-customs-stamp, .my-profile-header {
            .image-text {
                max-width: 80%;
                font-size: 1.5rem !important;
                line-height: 1.5rem !important;
                .small {
                    font-size: 1.2rem !important;
                    line-height: 1.2rem !important;
                }
            }
        }
    }
}
@media(min-width: 640px) {
    .page-content {
        .got-customs-stamp, .my-profile-header {
            .image-text {
                max-width: 80%;
                font-size: 2rem !important;
                line-height: 2rem !important;
                .small {
                    font-size: 1.5rem !important;
                    line-height: 1.5rem !important;
                }
            }
        }
    }
}
@media(min-width: 760px) {
    .page-content {
        .got-customs-stamp, .my-profile-header {
            .image-text {
                max-width: 80%;
                font-size: 2.5rem !important;
                line-height: 2.5rem !important;
                .small {
                    font-size: 2rem !important;
                    line-height: 2rem !important;
                }
            }
        }
    }
}
@media(min-width: 980px) {
    .page-content {
        .got-customs-stamp, .my-profile-header {
            .image-text {
                max-width: 80%;
                font-size: 3rem !important;
                line-height: 3rem !important;
                .small {
                    font-size: 2.5rem !important;
                    line-height: 2.5rem !important;
                }
            }
        }
    }
}
